/*
   Friday, February 4, 20224:32:41 PM
   User: aruiz
   Server: 192.168.31.57
   Database: DeliveryBackOffice
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.DeliveryAttempt ADD
	LogLatitude nvarchar(20) NULL,
	LogLongitude nvarchar(20) NULL
GO
DECLARE @v sql_variant 
SET @v = N'Bitácora de latitud relacionada al servicio la cual no entro dentro de una geocerca'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'DeliveryAttempt', N'COLUMN', N'LogLatitude'
GO
DECLARE @v sql_variant 
SET @v = N'Bitácora de longitud relacionada al servicio la cual no entro dentro de una geocerca'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'DeliveryAttempt', N'COLUMN', N'LogLongitude'
GO
ALTER TABLE dbo.DeliveryAttempt SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
