/*
   Thursday, June 16, 202208:15:11
   User: aruiz
   Server: 192.168.31.57
   Database: DeliveryBackOffice
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
DECLARE @v sql_variant 
SET @v = N'Tabla de tarifas por cliente.'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'RatebyCustomer', NULL, NULL
GO
DECLARE @v sql_variant 
SET @v = N'Identificador del registro.'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'RatebyCustomer', N'COLUMN', N'RbcId'
GO
DECLARE @v sql_variant 
SET @v = N'Identificador del tarifario de la tabla RateHeader'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'RatebyCustomer', N'COLUMN', N'RbcIdRate'
GO
DECLARE @v sql_variant 
SET @v = N'Identificador del cliente de la tabla Customer.'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'RatebyCustomer', N'COLUMN', N'RbcIdCustomer'
GO
DECLARE @v sql_variant 
SET @v = N'Estado lógico'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'RatebyCustomer', N'COLUMN', N'RbcRowStatus'
GO
DECLARE @v sql_variant 
SET @v = N'Token de creación'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'RatebyCustomer', N'COLUMN', N'RbcTokenCreated'
GO
DECLARE @v sql_variant 
SET @v = N'Fecha de creación'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'RatebyCustomer', N'COLUMN', N'RbcDateCreated'
GO
DECLARE @v sql_variant 
SET @v = N'Último token de actualización'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'RatebyCustomer', N'COLUMN', N'RbcTokenUpdated'
GO
DECLARE @v sql_variant 
SET @v = N'Última fecha de actualización'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'RatebyCustomer', N'COLUMN', N'RbcDateUpdated'
GO
ALTER TABLE dbo.RatebyCustomer SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
