/*
   Thursday, April 21, 202216:42:31
   User: aruiz
   Server: 192.168.31.57
   Database: DeliveryBackOffice
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.VisitPointClient ADD
	VisitPointToken nvarchar(50) NULL
GO
ALTER TABLE dbo.VisitPointClient ADD
	VisitPointTokenExpiration datetime NULL
GO
DECLARE @v sql_variant 
SET @v = N'Token de acceso para landing page de captura de datos de punto de visita'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'VisitPointClient', N'COLUMN', N'VisitPointToken'
GO
DECLARE @v sql_variant 
SET @v = N'Fecha en la cual el token vence y ya no puede ser utilizado'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'VisitPointClient', N'COLUMN', N'VisitPointTokenExpiration'
GO
ALTER TABLE dbo.VisitPointClient SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
