/*
   viernes, 2 de julio de 202115:50:54
   User: aruiz
   Server: 192.168.31.57
   Database: DeliveryBackOffice
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.SchedulePickup ADD
	SenderLatitud decimal(18, 15) NULL,
	SenderLongitud decimal(18, 15) NULL
GO
DECLARE @v sql_variant 
SET @v = N'Date: 02/07/2021 Andres Ruiz - Campo adicional ''Latitud'' Tookan'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'SchedulePickup', N'COLUMN', N'SenderLatitud'
GO
DECLARE @v sql_variant 
SET @v = N'Date: 02/07/2021 Andres Ruiz - Campo adicional ''Longitud'' Tookan'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'SchedulePickup', N'COLUMN', N'SenderLongitud'
GO
ALTER TABLE dbo.SchedulePickup SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
