USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_get_CatVehicle]    Script Date: 11/03/2021 20:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-02-15>
-- Description:	<Devuelve todos los vehiculos disponibles>
-- =============================================
ALTER PROCEDURE [dbo].[spg_get_CatVehicle]
AS
BEGIN
	SELECT cv.IdVehicle,
	cv.UnitNumber	
	FROM [DeliveryBackOffice].[dbo].[CatVehicle] as cv
	where cv.RowStatus = 1
END