/*
   Tuesday, March 1, 202210:41:20 AM
   User: aruiz
   Server: 192.168.31.57
   Database: DeliveryBackOffice
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ExtPlatformService ADD
	IsPreLocated bit NULL
GO
DECLARE @v sql_variant 
SET @v = N'Indicativo si la ubicación fue obtenida desde base de datos (1) o si fue cálculada (0)'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'ExtPlatformService', N'COLUMN', N'IsPreLocated'
GO
ALTER TABLE dbo.ExtPlatformService SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
