/*
   Tuesday, March 15, 20229:06:33 AM
   User: aruiz
   Server: 192.168.31.57
   Database: DeliveryBackOffice
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.CatOriginLocationRecord SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ExtPlatformService ADD
	CatOriginLocationRecordId int NULL
GO
DECLARE @v sql_variant 
SET @v = N'Identificador de origen de la tabla CatOriginLocationRecord'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'ExtPlatformService', N'COLUMN', N'CatOriginLocationRecordId'
GO
ALTER TABLE dbo.ExtPlatformService ADD CONSTRAINT
	FK_ExtPlatformService_CatOriginLocationRecord FOREIGN KEY
	(
	CatOriginLocationRecordId
	) REFERENCES dbo.CatOriginLocationRecord
	(
	IdCatOriginLocationRecord
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.ExtPlatformService SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
