/*
   Tuesday, June 7, 202215:04:17
   User: aruiz
   Server: 192.168.31.57
   Database: DeliveryBackOffice
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.StatusOrder
ADD CatStatusTypeId INT NULL
GO
ALTER TABLE dbo.StatusOrder
ADD CONSTRAINT FK_StatusOrder_StatusType FOREIGN KEY (CatStatusTypeId) REFERENCES CatStatusType(IdCatStatusType)
GO
DECLARE @v sql_variant 
SET @v = N'Tabla de estados de guías.'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'StatusOrder', NULL, NULL
GO
DECLARE @v sql_variant 
SET @v = N'Identificador del tipo de estado de la tabla CatCheckpointType.'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'StatusOrder', N'COLUMN', N'CatCheckpointTypeId'
GO
DECLARE @v sql_variant 
SET @v = N'Identificador del tipo de visibilidad de la tabla CatStatusType.'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'StatusOrder', N'COLUMN', N'CatStatusTypeId'
GO
ALTER TABLE dbo.StatusOrder SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
