/*
   Thursday, April 7, 202212:36:46 PM
   User: aruiz
   Server: 192.168.31.57
   Database: DeliveryBackOffice
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.CatTypeVehicle SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.SchedulePickup ADD
	TypeVehicleId int NULL
GO
DECLARE @v sql_variant 
SET @v = N'ID de la tabla CatTypeVehicle'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'SchedulePickup', N'COLUMN', N'TypeVehicleId'
GO
ALTER TABLE dbo.SchedulePickup ADD CONSTRAINT
	FK_SchedulePickup_CatTypeVehicle FOREIGN KEY
	(
	TypeVehicleId
	) REFERENCES dbo.CatTypeVehicle
	(
	IdTypeVehicle
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.SchedulePickup SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
