/*
   Saturday, May 28, 202216:57:55
   User: aruiz
   Server: 192.168.31.57
   Database: DeliveryBackOffice
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
DECLARE @v sql_variant 
SET @v = N'Catálogo de tipos de descuento.'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'CatTypeDiscount', NULL, NULL
GO
DECLARE @v sql_variant 
SET @v = N'Identificador del registro.'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'CatTypeDiscount', N'COLUMN', N'IdCatTypeDiscount'
GO
DECLARE @v sql_variant 
SET @v = N'Nombre del tipo de descuento.'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'CatTypeDiscount', N'COLUMN', N'Name'
GO
DECLARE @v sql_variant 
SET @v = N'Abreviación del tipo de descuento.'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'CatTypeDiscount', N'COLUMN', N'ShortName'
GO
DECLARE @v sql_variant 
SET @v = N'Descripción del tipo de descuento.'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'CatTypeDiscount', N'COLUMN', N'Description'
GO
DECLARE @v sql_variant 
SET @v = N'Estado lógico.'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'CatTypeDiscount', N'COLUMN', N'RowStatus'
GO
DECLARE @v sql_variant 
SET @v = N'Token de creación.'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'CatTypeDiscount', N'COLUMN', N'TokenCreated'
GO
DECLARE @v sql_variant 
SET @v = N'Fecha de creación.'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'CatTypeDiscount', N'COLUMN', N'DateCreated'
GO
DECLARE @v sql_variant 
SET @v = N'Último token de actualización.'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'CatTypeDiscount', N'COLUMN', N'TokenUpdated'
GO
DECLARE @v sql_variant 
SET @v = N'Última fecha de actualización.'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'CatTypeDiscount', N'COLUMN', N'DateUpdated'
GO
ALTER TABLE dbo.CatTypeDiscount SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
