

  USE DeliveryBackOffice
  go

  Alter table SenderReceiver ADD
  TypeCouriermanId int null
  go

  ALTER TABLE SenderReceiver 
	ADD FOREIGN KEY (TypeCouriermanId) REFERENCES CatTypeCourierman(IdTypeCourierman);
  go

  select * from CatTypeCourierman

  SELECT * FROM SenderReceiver


