USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SetCollectGuides]    Script Date: 11/02/2021 14:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Hugo,Gomez>
-- Create date: <2021-02-11>
-- Description:	<Recotizacion>
-- =============================================


CREATE PROCEDURE [dbo].[GetCourierPhoneToken]
	-- Add the parameters for the stored procedure here
		@Phone  NVARCHAR(20) = '48119415',
		@Token varchar(MAX) = '21a31fd231as23d1f21ads'
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @jsonResult NVARCHAR(MAX) 

	BEGIN TRANSACTION
		BEGIN TRY

			
			declare @phon int = (select ID from  SenderReceiver
			where Phone LIKE '%' + @Phone + '%') 


			insert  into dbo.LogTokenPOD (LogTokenPOD, IdCourierman, RowStatus, DateCreated, DateUpdate)
			values(@Token, @phon, 1 , GETDATE(), null)
				
			DECLARE @jsonResult1 NVARCHAR(MAX) 



			set @jsonResult1 = (SELECT STUFF(( 
			select top 1
			 ',{"IdCourier":"' +  Isnull( IdCourierman, 'N/A')+ '",' +
			 '"Token":"' + CONVERT(varchar,cast( coalesce(LogTokenPOD ,'N/A')as money),1)  + --'",' +
							+ '"}'
			from LogTokenPOD
			where LogTokenPOD = @Token	
			order by 1 desc
	
			FOR XML PATH(''), TYPE
							).value('.', 'varchar(max)'),1,1,''
									) )
									print 'ingresa2'
										print @jsonResult

		-- retornar resultado en formato json
	If @jsonResult1 is null 

	begin

		set @jsonResult1 =(
					SELECT STUFF(( 
					SELECT '{{"IdResult":500,' 
					+ '"Message":" No se encontraron registros"}' 
		
					FOR XML PATH(''), TYPE
					).value('.', 'varchar(max)'),1,1,''
						  ) 
					)
	end

		select ('[' + @jsonResult1 +  ']') jsonResult1


			
			set @jsonResult =(
				SELECT STUFF(( 
				SELECT '{"IdResult":' + convert(varchar,IdResult)    +',' 
				+ '"Message":"' + Message + '"}' from #responsemessage where Id ='OK'
				FOR XML PATH(''), TYPE
				).value('.', 'varchar(max)'),1,1,''
					  ) 
			)

		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION
			select ERROR_MESSAGE()
				-- retornar mensaje de error
			set @jsonResult =(
				SELECT STUFF(( 
				SELECT '{"IdResult":' +  convert(varchar,IdResult)    +',' 
				+ '"Message":"' + convert( nvarchar(max),ERROR_MESSAGE()) + '"}' from #responsemessage where Id ='Invalid'
				FOR XML PATH(''), TYPE
				).value('.', 'varchar(max)'),1,1,''
					  ) 
			)
		END CATCH;
		IF @@TRANCOUNT > 0 BEGIN
			COMMIT TRANSACTION;
			--- succesfull
		END
		
		-- destruir tablas temporales

		IF OBJECT_ID('tempdb.dbo.#listGuides', 'U') IS NOT NULL DROP TABLE #listGuides;
		IF OBJECT_ID('tempdb.dbo.#responsemessage', 'U') IS NOT NULL DROP TABLE #responsemessage;

		-- retornar resultado en formato json

				select ('[{' + @jsonResult +  ']') jsonResult

END



