USE [DeliveryBackOffice]
GO
/****** Object:  Table [dbo].[Customer_Parser]    Script Date: 18/02/2022 09:44:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Parser](
	[IdCustomer] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[RegexSubject] [nvarchar](255) NULL,
	[RegexEmail] [nvarchar](max) NULL,
	[RegexFilename] [nvarchar](255) NULL,
	[ProcessedPrefix] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID de la tabla Customer_Parser' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer_Parser', @level2type=N'COLUMN',@level2name=N'IdCustomer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre del usuario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer_Parser', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Expresión regular para el asunto del correo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer_Parser', @level2type=N'COLUMN',@level2name=N'RegexSubject'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Expresión regular para el correo del que se recibirán archivos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer_Parser', @level2type=N'COLUMN',@level2name=N'RegexEmail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Expresión regular para el nombre del archivo que se recibirá' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer_Parser', @level2type=N'COLUMN',@level2name=N'RegexFilename'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre que se le agrega al archivo después de procesarlo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer_Parser', @level2type=N'COLUMN',@level2name=N'ProcessedPrefix'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla para almacenar las cuentas del Parser.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer_Parser'
GO