USE [DeliveryBackOffice]
GO
/****** Object:  Table [dbo].[Customer_Parser]    Script Date: 18/02/2022 09:44:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Parser](
	[IdCustomer] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[RegexSubject] [nvarchar](255) NULL,
	[RegexEmail] [nvarchar](max) NULL,
	[RegexFilename] [nvarchar](255) NULL,
	[ProcessedPrefix] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO