USE [DeliveryBackOffice]
GO
/****** Object:  Table [dbo].[VisitPointClient_Parser]    Script Date: 18/02/2022 09:11:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitPointClient_Parser](
	[CustomerID] [int] NULL,
	[CodeOfReference] [int] NULL,
	[Firstname] [nvarchar](255) NULL,
	[Lastname] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Zone] [nvarchar](255) NULL,
	[Town] [nvarchar](255) NULL,
	[Department] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL
) ON [PRIMARY]
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID de la tabla VisitPointClient_Parser' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VisitPointClient_Parser', @level2type=N'COLUMN',@level2name=N'CustomerID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código de referencia del punto de visita' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VisitPointClient_Parser', @level2type=N'COLUMN',@level2name=N'CodeOfReference'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primer nombre del punto de visita' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VisitPointClient_Parser', @level2type=N'COLUMN',@level2name=N'Firstname'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Segundo nombre del punto de visita' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VisitPointClient_Parser', @level2type=N'COLUMN',@level2name=N'Lastname'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Dirección del punto de visita' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VisitPointClient_Parser', @level2type=N'COLUMN',@level2name=N'Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Zona del punto de visita' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VisitPointClient_Parser', @level2type=N'COLUMN',@level2name=N'Zone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Municipio del punto de visita' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VisitPointClient_Parser', @level2type=N'COLUMN',@level2name=N'Town'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Departamento del punto de visita' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VisitPointClient_Parser', @level2type=N'COLUMN',@level2name=N'Department'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Teléfono del punto de visita' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VisitPointClient_Parser', @level2type=N'COLUMN',@level2name=N'Phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla para almacenar los puntos de visita del Parser.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VisitPointClient_Parser'
GO