USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sps_settlement_PickUp]    Script Date: 11/03/2021 18:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Hugo, Gomez>
-- Create date: <2021-03-11>
-- Description:	<Inserta el manifiesto de recoleccion>
-- =============================================
CREATE PROCEDURE [dbo].[sps_settlement_PickUp]
		@Route int,
		--@GuideQuantity INT,
	--	@RouteReceived DATETIME,
		@Token NVARCHAR(50),
		@PiecesDry SMALLINT,
		@PiecesCold SMALLINT,
		@GuidesQuantity SMALLINT,
		@InGuides   NVARCHAR(400) = 'FD22221-1,FD22361-1,FD22223-2,FD22359-1,FD22226-1'

AS
BEGIN
	
	-- control de actualizaciones para transacción
	DECLARE @RUpdated INT

	BEGIN TRANSACTION

		BEGIN TRY
						IF OBJECT_ID('tempdb.dbo.#listGuides', 'U') IS NOT NULL DROP TABLE #listGuides;
						IF OBJECT_ID('tempdb.dbo.#UpdOrd', 'U') IS NOT NULL DROP TABLE #UpdOrd;
								--select SUBSTRING(Item, 1,2) ItemSerie,SUBSTRING(Item,3,len(Item)) ItemNumber 
								--	into #listGuides
								--	from DenariusDesktop_Dev.dbo.SplitUnlimited(@InGuides,',')

								--declare @InGuides   NVARCHAR(400) = 'FD198907-3,FD198910-1,FD198910-2,FD198941-1'

								select SUBSTRING(Item, 1,2) ItemSerie,
								SUBSTRING(Item,3, iif(CHARINDEX('-',Item)=0, (len(item)) , (CHARINDEX('-',Item)- 3))) ItemNumber,
								SUBSTRING(Item, CHARINDEX('-',Item)+1,len(item)) ItemPiece
								 --, 
								--SUBSTRING(Item,CHARINDEX('-',Item),len(Item)) ItemPiece, 
								--CHARINDEX('-',Item) charinde,  
								--len(Item) len
										into #listGuides
										from DenariusDesktop_Dev.dbo.SplitUnlimited(@InGuides,',')

				declare @Idd int

					insert into dbo.SettlementByPickup (RouteAssigmentId, 
					DatePrinted, 
					TokenCreated,
					DateCreated,
					PiecesDry, 
					PiecesCold,
					GuidesQuantity,
					PiecesDryReceived,
					PiecesColdReceived, 
					GuidesQuantityReceived
					,IdCourier)
					values(@Route, GETDATE(), @Token, GETDATE(),@PiecesDry, @PiecesCold, @GuidesQuantity,null, null,null, null)

			SET @RUpdated = @@ROWCOUNT
			set @Idd = SCOPE_IDENTITY();

			if(@Idd > 0)
			begin
					insert into dbo.SettlementByPickupDetail( SettlementByPickupId,
					GuideSerie,
					GuideNumber,
					RowStatus,
					TokenCreated,
					DateCreated,
					TokenUpdated,
					DateUpdated,
					IsPieceLiquidaded,
					NoPiece)
					select 
					@Idd,
					ls.ItemSerie,
					ls.ItemNumber,
					1,
					@Token,
					GETDATE(),
					null,
					null,
					1,
					ls.ItemPiece
					from #listGuides ls

			end



		END TRY

		BEGIN CATCH
			SELECT 
				0 AS 'StatusCode', 
				ERROR_MESSAGE() AS 'Description', 
				CONVERT(BIGINT, 0) AS 'NumTransferID'
			ROLLBACK TRANSACTION
		END CATCH;

		IF @@TRANCOUNT > 0
		BEGIN
			IF (@Idd > 0)
				SELECT			  
					@Idd AS 'StatusCode',
					'Registro guardado correctamente' AS 'Description', 
					@@TRANCOUNT AS 'NumTransferID'
			ELSE
				SELECT			  
					0 AS 'StatusCode',
					'Registro no encontrado' AS 'Description', 
					0 AS 'NumTransferID'

			COMMIT TRANSACTION;			
		END
		ELSE
			SELECT 
				0 AS 'StatusCode', 
				ERROR_MESSAGE() AS 'Description', 
				CONVERT(BIGINT, 0) AS 'NumTransferID'

END
