USE [DeliveryBackOffice]
GO
/****** Object:  Table [dbo].[VisitPointClient_Parser]    Script Date: 18/02/2022 09:11:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitPointClient_Parser](
	[CustomerID] [int] NULL,
	[CodeOfReference] [int] NULL,
	[Firstname] [nvarchar](255) NULL,
	[Lastname] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Zone] [nvarchar](255) NULL,
	[Town] [nvarchar](255) NULL,
	[Department] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL
) ON [PRIMARY]
GO