USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SPHW_RegistrationCustomerMembershipByAffiliates]    Script Date: 1/26/2023 11:40:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Edelman Vásquez>
-- Create date: <2022-12-27>
-- Description:	<Método para registro de uso de membresía de cliente por parte de afiliados>
-- =============================================
ALTER PROCEDURE [dbo].[SPHW_RegistrationCustomerMembershipByAffiliates]
@IdMembership AS INT,
@Idaffiliate AS INT,
@OriginalAmountOfConsumption AS Decimal(18,2),
@FinalAmountAfterApplyingDiscount AS Decimal(18,2),
@InvoiceIdentifier AS nvarchar(200)='',
@Token nvarchar(50)
AS
BEGIN


DECLARE @CatMembershipId AS INT =(SELECT  CatMembershipId FROM [dbo].[Membership] WHERE IdMembership = @IdMembership)
DECLARE @Affiliate AS INT=(Select AffiliateId From [dbo].[RegisterUserByAffiliate] WHERE RegisterUserId=@Idaffiliate)
BEGIN TRANSACTION
BEGIN TRY

		INSERT INTO [dbo].[MembershipUsageByAffiliate] 
		(
		 MembershipId,	
		 AffiliateId,	
		 InvoiceAuthorization,
		 Amount,
		 DiscountValueType,	
		 DiscountValue,
		 DiscountApplied,
		 FinalAmount,	
		 RowStatus,	
		 DateCreated,
		 TokenCreated,
		 RegisterUserId
		 )
		 VALUES
		 (
		  @IdMembership,
		  @Affiliate,
		  @InvoiceIdentifier,
		  @OriginalAmountOfConsumption,
		  (SELECT DiscountValueType FROM  [dbo].[MembershipAffiliateDiscount] WHERE CatMembershipId = @CatMembershipId AND AffiliateId = @Affiliate ),
		  (SELECT DiscountValue     FROM  [dbo].[MembershipAffiliateDiscount] WHERE CatMembershipId = @CatMembershipId AND AffiliateId = @Affiliate),
		  @OriginalAmountOfConsumption - @FinalAmountAfterApplyingDiscount,
		  @FinalAmountAfterApplyingDiscount,
		  1,
		  GETDATE(),
		  @TOKEN,
		  @Affiliate
		 )

	 COMMIT TRANSACTION
	 SELECT Result = 1

END TRY
BEGIN CATCH
	 ROLLBACK TRANSACTION
	 SELECT Result = 0, ERROR_MESSAGE() AS 'Description'
END CATCH

END
