USE [DeliveryBackOffice];
GO

ALTER TABLE [DeliveryBackOffice].[dbo].[ConfirmationOfIncidence]
ADD IsActionIssued BIT NULL DEFAULT 0

ALTER TABLE [DeliveryBackOffice].[dbo].[ConfirmationOfIncidence]
ADD ActionObservation NVARCHAR(600) NULL

ALTER TABLE [DeliveryBackOffice].[dbo].[ConfirmationOfIncidence]
ADD CourierContempt BIT NULL DEFAULT 0

EXECUTE sp_addextendedproperty N'MS_Description', N'Indicativo si el área operativa realizo una acción sobre la confirmación de incidencia', N'SCHEMA', N'dbo', N'TABLE', N'ConfirmationOfIncidence', N'COLUMN', N'IsActionIssued'

EXECUTE sp_addextendedproperty N'MS_Description', N'Observación adicionada a la acción realizada', N'SCHEMA', N'dbo', N'TABLE', N'ConfirmationOfIncidence', N'COLUMN', N'ActionObservation'

EXECUTE sp_addextendedproperty N'MS_Description', N'Indicativo si courier realizo un desacato de la acción sobre la confirmación de incidencia', N'SCHEMA', N'dbo', N'TABLE', N'ConfirmationOfIncidence', N'COLUMN', N'CourierContempt'