BEGIN TRANSACTION
    BEGIN TRY
--select * from DenariusUser_Dev.dbo.LGN_System
--Crear systema Desktop Forza Delivery

insert into DenariusUser_Dev.dbo.LGN_System
([SYS_IdSystem], [SYS_SystemName], [SYS_Platform], [SYS_Description], [SYS_Status], [SYS_TokenInsertId], [SYS_TokenInsertDatetime], [SYS_TokenUpdateId], [SYS_TokenUpdateDateTime])
values (13,'Forza Delivery Express','Desktop','Tracking Forza Delivery',1,'SYS-BHERRERA',getdate(),null,null)

--Restriction por usaurio
--select * from dbo.LGN_Restriction LRT
--where RST_IdSystem = 12

insert into dbo.LGN_Restriction 
([RST_IdUser], [RST_Username], [RST_IdSystem], [RST_AccessRetries], [RST_Status], [RST_Retries], [LGN_CreationDate], [LGN_CreationToken], [LGN_OperationDate], [LGN_OperationToken])
values 
(100088,'edwin.ramirez',13,10,'ACTIVE',0,getdate(),'SYS-BHERRERA',NULL,NULL)

insert into dbo.LGN_Restriction 
([RST_IdUser], [RST_Username], [RST_IdSystem], [RST_AccessRetries], [RST_Status], [RST_Retries], [LGN_CreationDate], [LGN_CreationToken], [LGN_OperationDate], [LGN_OperationToken])
values 
(100051,'carlos.cano',13,10,'ACTIVE',0,getdate(),'SYS-BHERRERA',NULL,NULL)

insert into dbo.LGN_Restriction 
([RST_IdUser], [RST_Username], [RST_IdSystem], [RST_AccessRetries], [RST_Status], [RST_Retries], [LGN_CreationDate], [LGN_CreationToken], [LGN_OperationDate], [LGN_OperationToken])
values 
(103492,'bidcar.herrera',13,10,'ACTIVE',0,getdate(),'SYS-BHERRERA',NULL,NULL)


--SELECT TOP (10) *
--  FROM [DenariusUser_Dev].[dbo].[LGN_User]
--  where USR_Username = 'bidcar.herrera'

--
--select * from DenariusUser_Dev.dbo.LGN_Rol
--where LGN_IdSystem = 13

 insert into DenariusUser_Dev.dbo.LGN_Rol
 ([LGN_Name], [LGN_Description], [LGN_StatusRol], [LGN_IdSystem], [LGN_CreationDate], [LGN_CreationToken], [LGN_AdminClients], [LGN_AdminBrothers], [LGN_AdminHierarchicaly])
values
('PREPARADOR DE RUTA FORZA DELIVERY','PREPARADOR DE RUTA DE FORZA DELIVERY',1,13,getdate(),'SYS-BHERRERA',0,0,0)

DECLARE @RolPreparationRoute AS INT
select @RolPreparationRoute = MAX(LGN_IdRol) from DenariusUser_Dev.dbo.LGN_Rol WITH(nolock)
select @RolPreparationRoute


 insert into DenariusUser_Dev.dbo.LGN_Rol
 ([LGN_Name], [LGN_Description], [LGN_StatusRol], [LGN_IdSystem], [LGN_CreationDate], [LGN_CreationToken], [LGN_AdminClients], [LGN_AdminBrothers], [LGN_AdminHierarchicaly])
values
('LIQUIDADOR DE RUTA FORZA DELIVERY','PREPARADOR DE RUTA DE FORZA DELIVERY',1,13,getdate(),'SYS-BHERRERA',0,0,0)

DECLARE @RolSettlement AS INT
select @RolSettlement = MAX(LGN_IdRol) from DenariusUser_Dev.dbo.LGN_Rol WITH(nolock)
select @RolSettlement

--select top 10 * from DenariusUser_Dev.dbo.LGN_RolByUserByRegion
--where RUR_IdRol in (1866,1867)


--Asignar roles de Delivery a usuarios
INSERT INTO DenariusUser_Dev.dbo.LGN_RolByUserByRegion
([RUR_IdRol], [RUR_IdUser], [RUR_IdStation], [RUR_IdCountry], [RUR_Username], [RUR_Status])
VALUES (@RolPreparationRoute,100051,-1,'GT','carlos.cano',1)

INSERT INTO DenariusUser_Dev.dbo.LGN_RolByUserByRegion
([RUR_IdRol], [RUR_IdUser], [RUR_IdStation], [RUR_IdCountry], [RUR_Username], [RUR_Status])
VALUES (@RolSettlement,100051,-1,'GT','carlos.cano',1)

INSERT INTO DenariusUser_Dev.dbo.LGN_RolByUserByRegion
([RUR_IdRol], [RUR_IdUser], [RUR_IdStation], [RUR_IdCountry], [RUR_Username], [RUR_Status])
VALUES (@RolPreparationRoute,100088,-1,'GT','edwin.ramirez',1)




--Creación de módulos
--select top 10 * from DenariusUser_Dev.dbo.LGN_Module
--where MDL_IdModule in (550,551)

DECLARE @ModulePreparationRoute AS INT
select @ModulePreparationRoute = MAX(MDL_IdModule)+1 from DenariusUser_Dev.dbo.LGN_Module

select @ModulePreparationRoute

DECLARE @ModuleSettlement AS INT
select @ModuleSettlement = MAX(MDL_IdModule)+2 from DenariusUser_Dev.dbo.LGN_Module

select @ModuleSettlement

--SELECT * FROM DenariusUser_Dev.dbo.LGN_Module
--order by 1 desc

insert DenariusUser_Dev.dbo.LGN_Module
([MDL_IdModule], [MDL_Name], [MDL_IdModuleParent], [MDL_AuthPath], [MDL_Description], [MDL_Order], [MDL_Metadata], [MDL_Visible], [MDL_KeyWord])
values (@ModulePreparationRoute,'Preparación de ruta',NULL,'RoutePreparation.cs','Preparar ruta Delivery',1,NULL,1,NULL)

insert DenariusUser_Dev.dbo.LGN_Module
([MDL_IdModule], [MDL_Name], [MDL_IdModuleParent], [MDL_AuthPath], [MDL_Description], [MDL_Order], [MDL_Metadata], [MDL_Visible], [MDL_KeyWord])
values (@ModuleSettlement,'Liquidación de ruta',NULL,'Settlement.cs','Liquidar ruta Delivery',2,NULL,1,NULL)

--select top 10 * from DenariusUser_Dev.dbo.LGN_ModuleByRolBySystem
--where MRS_IdSystem = 12
--Asignar módulos a los roles
insert into DenariusUser_Dev.dbo.LGN_ModuleByRolBySystem
values (@ModulePreparationRoute,@RolPreparationRoute,13,1)

insert into DenariusUser_Dev.dbo.LGN_ModuleByRolBySystem
values (@ModuleSettlement,@RolSettlement,13,1)

insert into DenariusUser_Dev.dbo.LGN_ModuleByRolBySystem
values (0,@RolPreparationRoute,13,1)


      SELECT
        1 [blnResult],
        '' AS [ErrorNumber],
        '' AS [ErrorSeverity],
        '' AS [ErrorState],
        '' AS [ErrorProcedure],
        '' AS [ErrorLine],
        '' AS [ErrorMessage];

    END TRY
    BEGIN CATCH
      SELECT
        0 [blnResult],
        ERROR_NUMBER() AS [ErrorNumber],
        ERROR_SEVERITY() AS [ErrorSeverity],
        ERROR_STATE() AS [ErrorState],
        ERROR_PROCEDURE() AS [ErrorProcedure],
        ERROR_LINE() AS [ErrorLine],
        ERROR_MESSAGE() AS [ErrorMessage];
      IF @@TRANCOUNT > 0
        ROLLBACK TRANSACTION;
    END CATCH;

      IF @@TRANCOUNT > 0
      COMMIT TRANSACTION;


