USE [DenariusUser_Dev]
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- MODIFICACION: RDELEON AGREGACION DE COLUMNA VISITPOINT ORIGEN
-- =============================================
-- Modified:	<Brandon, Pedroza>
-- Create date: <2024-07-17>
-- Description:	<Se obtienen datos de tarifa, COD y moneda>
-- =============================================
ALTER PROCEDURE [dbo].[sp_get_fd_user_detail_by_id_by_username_by_region_for_corporate]
	-- Add the parameters for the stored procedure here
	@IdUser INT,
	@Username VARCHAR(50),
	@IdCountry VARCHAR(2),
	@IdStation INT,
	@IdSystem INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @ListIP VARCHAR(128) = ''
	SELECT @ListIP = TFA_Value FROM DenariusUser_Dev.dbo.LGN_2FAValidator WITH (NOLOCK)
	WHERE TFA_UserName = @Username
	  and TFA_IdUser   = @IdUser
	  and TFA_Type     = 'IP'	  

    -- Insert statements for procedure here
	SELECT U.USR_IdUser, U.USR_Username, U.USR_IdEmployee, U.USR_IdWebClient, U.USR_Pin, RUR.RUR_IdRol, R.LGN_Name, RUR.RUR_IdCountry, C.CNT_ContryName, RUR.RUR_IdStation, S.STN_StationName, 
	WU.USR_ClientCardCode, R.LGN_IdSystem, 
	WU.USR_FirstName, 
	WU.USR_LastName, WU.USR_Logo
	,WU.USR_VisitPoint, 
	CASE WHEN vpclient.Email IS NOT NULL THEN vpclient.Email ELSE WU.USR_ServiceEmail END USR_ServiceEmail , 
	WU.USR_CollectionEmail, 
	WU.USR_CMS_CanAudit, U.USR_PasswordExpiration, U.USR_IdUserTicketSystem, u.USR_ContextMenuCorporateSupervisor
	,'True' 
	KAS_IdEmployeeAssigned
	,(select  (select ph.EPH_Photo as '*' for xml path(''))) as 'EPH_Photo'
	, E.CodeEmployee as 'CodeEmployee'
	,COALESCE(U.USR_RestrictedIp,0) as 'RestrictedIp'
	,U.USR_RestrictedAddressIp as 'RestrictedAddressIp'
	,COALESCE(U.USR_Enable2FA,0) Enable2FA --Habilitado segundo factor de autenticación
	,@ListIP ListTrustedIP --Listado de IP's de confianza
	,vpclient.DescriptionOfClient
	,vpclient.CodeOfReference
	,vpclient.Address
	,kindvpclient.KindOfVPName
	,kindvpclient.IdKindOfVPClient
	,vpclient.IdSettlement
	,prov.ProvinceName
	,ctr.CNT_ContryName
	,vpclient.ContactName VPContactName
	,vpclient.Phone VPPhone
	,COALESCE(vpclient.CustomerID,6) CustomerId
	,isnull(cov.HeaderCode,'0101')	  [HeaderCode]
	,Rh.InsuranceRate	
	,Rh.InsuranceExempt 
	,RCod.CODRate [CODPercent]
	,Curr.Symbol [CurrencySymbol]
	,Curr.CodeISO [CurrencyCodeISO]
	FROM dbo.LGN_User U WITH(NOLOCK)
	JOIN dbo.LGN_RolByUserByRegion RUR WITH(NOLOCK) ON RUR.RUR_IdUser = U.USR_IdUser AND RUR.RUR_Username = U.USR_Username
	JOIN dbo.LGN_Rol R WITH(NOLOCK) ON R.LGN_IdRol = RUR.RUR_IdRol
	JOIN dbo.LGN_Country C WITH(NOLOCK) ON C.CNT_IdCountry = RUR.RUR_IdCountry
	JOIN dbo.LGN_Station S WITH(NOLOCK) ON S.STN_IdStation = RUR.RUR_IdStation
	JOIN [DenariusWeb_Dev].[dbo].[User] WU WITH(NOLOCK) ON WU.USR_WebClientId = U.USR_IdWebClient
	LEFT JOIN [DenariusDesktop_Dev].[dbo].[PRM_Employee_photo] ph with(nolock) ON ph.EPH_IdEmployee =  U.USR_IdEmployee
	LEFT JOIN DenariusDesktop_Dev.dbo.LGT_INF_Employee E with(nolock) on E.IdEmployee = U.USR_IdEmployee
	left join DeliveryBackOffice.dbo.VisitPointClient vpclient with(nolock) on vpclient.VisitPointId = wu.USR_VisitPoint
	left join DeliveryBackOffice.dbo.KindOfVPClient kindvpclient with(nolock) on vpclient.IdKindOfVPClient = kindvpclient.IdKindOfVPClient 
	left join DeliveryBackOffice.dbo.Settlement sett WITH(NOLOCK)on sett.IdSettlement = vpclient.IdSettlement
	left join DeliveryBackOffice.dbo.Province prov WITH(NOLOCK) on prov.IdProvince = sett.IdProvince
	left join dbo.LGN_Country ctr WITH(NOLOCK) on ctr.CNT_IdCountry = sett.IdCountry
	left join DeliveryBackOffice.dbo.DumpServiceCoverage cov WITH(NOLOCK) on cov.IdSettlement = vpclient.IdSettlement
	left join DeliveryBackOffice.dbo.RatebyCustomer Rbc WITH(NOLOCK) on COALESCE(vpclient.CustomerID,6) = Rbc.RbcIdCustomer
	left join DeliveryBackOffice.dbo.RateHeader Rh WITH(NOLOCK) on Rh.RheId = Rbc.RbcIdRate
	left join DeliveryBackOffice.dbo.RateCOD RCod WITH(NOLOCK) on Rh.RheId = RCod.RateId
	left join DeliveryBackOffice.dbo.CatCurrencyCOD Curr WITH(NOLOCK) on ISNULL(Rh.IdCurrency,1) = Curr.IdCatCurrencyCOD
	WHERE U.USR_IdUser = @IdUser
	AND U.USR_Username = @Username
	AND RUR.RUR_IdCountry = @IdCountry
	AND RUR.RUR_IdStation = @IdStation
	AND R.LGN_IdSystem = @IdSystem
	AND RUR.RUR_Status = 1
	AND Rcod.TypeSegmentId = 1
	AND Rcod.TypeServiceId IN(1, 6) ---Servicio C.O.D.
END



