USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spws_set_route_settlement_status]    Script Date: 08/12/2021 16:54:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Hugo, Gomez>
-- Create date: <2020-03-04>
-- Description:	<Cambia de estado de recolectado a ingreso a instalaciones>
-- =============================================

ALTER PROCEDURE  [dbo].[spws_set_route_settlement_status]
@InGuides   NVARCHAR(400) = 'FD22221,FD22361,FD22223,FD22359,FD22226'
,@Token nvarchar(100) = ''
,@Route nvarchar(100) = ''
AS
BEGIN
	DECLARE @RModified INT 
	DECLARE @RModified2 INT
	DECLARE @RModified3 INT

	declare @GModif int = 0

	BEGIN TRANSACTION
		BEGIN TRY
				IF OBJECT_ID('tempdb.dbo.#listGuides', 'U') IS NOT NULL DROP TABLE #listGuides;
				IF OBJECT_ID('tempdb.dbo.#UpdOrd', 'U') IS NOT NULL DROP TABLE #UpdOrd;
								--select SUBSTRING(Item, 1,2) ItemSerie,SUBSTRING(Item,3,len(Item)) ItemNumber 
								--	into #listGuides
								--	from DenariusDesktop_Dev.dbo.SplitUnlimited(@InGuides,',')

								--declare @InGuides   NVARCHAR(400) = 'FD198907-3,FD198910-1,FD198910-2,FD198941-1'

								select SUBSTRING(Item, 1,2) ItemSerie,
								SUBSTRING(Item,3, iif(CHARINDEX('-',Item)=0, (len(item)) , (CHARINDEX('-',Item)- 3))) ItemNumber,
								SUBSTRING(Item, CHARINDEX('-',Item)+1,len(item)) ItemPiece
								 --, 
								--SUBSTRING(Item,CHARINDEX('-',Item),len(Item)) ItemPiece, 
								--CHARINDEX('-',Item) charinde,  
								--len(Item) len
										into #listGuides
										from DenariusDesktop_Dev.dbo.SplitUnlimited(@InGuides,',')

								declare @stattus int  = (select StatusOrderId from StatusOrder where StatusOrderId= 11)

								--declare @countpiecestattus int = (select count(GuideNumber) from DeliveryOrderPiece where GuideNumber = @InGuides and StatusOrderId = 11)
								--declare @countguide int = (select count(GuideNumber) from DeliveryOrderPiece where GuideNumber = @InGuides )

								--select 
								--Guide,
								--Piece
								--INTO  #UpdOrd from (select dop.GuideNumber,COUNT(dop.GuideNumber) Guide, COUNT(ls.ItemPiece) Piece  from DeliveryOrderPiece dop
								--left join #listGuides ls on (dop.GuideNumber = ls.ItemNumber and dop.NoPiece = ls.ItemPiece )
								--where dop.GuideNumber in (select ItemNumber from #listGuides)
								--group by dop.GuideNumber) as tabla1--, dop.NoPiece


								--update  dbo.DeliveryOrder set StatusOrderId =  @stattus
								--from #tbltemp ls
								--where ls.Guide = ls.Piece
								--DECLARE @piece int = (select count(ItemPiece) from #listGuides)

								--if(@piece > 0)
								--begin
										
										 /* Inserción en tabla TransactionalBackbone para guardar 
											un registro de las piezas que se estan liquidando de una ruta										 
										 */


										 declare @inBound int  = (select IdTranportationZone 
																	from DeliveryBackOffice.dbo.CatTransportationZone 
																	where Name = 'Ruta de recolección')

										 declare @outBound int  = (select IdTranportationZone 
																	from DeliveryBackOffice.dbo.CatTransportationZone 
																	where Name = 'Bodega')

										 declare @idTransactionType int  = (select IdTransactionType 
																	from DeliveryBackOffice.dbo.TransactionType 
																	where Name = 'Liquidación de Recolección')

										 declare @idRoute int =		(select IdRoute
																	from DeliveryBackOffice.dbo.CatRoute
																	where CodeRoute = @Route)
																			 
										 insert into DeliveryBackOffice.dbo.TransactionalBackbone
											(GuideSerie
											,GuideNumber
											,GuidePiece
											,RouteId
											,InBound
											,OutBound
											,LineHaul
											,StatusComplete
											,TransactionTypeId
											,CountryId
											,RowStatus
											,TokenCreated
											,DateCreated
											)
										 select distinct ls.ItemSerie
											,ls.ItemNumber
											,ls.ItemPiece
											,@idRoute
											,@inBound
											,@outBound
											,0
											,0
											,@idTransactionType
											,'GT'
											,1
											,@Token
											,GETDATE()
										 from #listGuides ls
										 inner join DeliveryOrderPiece ord on (ord.GuideNumber = ls.ItemNumber and ord.GuideSerie = ls.ItemSerie and ord.NoPiece = ls.ItemPiece and (ord.StatusOrderId not in (7,11,5)  or ord.StatusOrderId IS NULL))
										 where (select COUNT(1) 
												from DeliveryBackOffice.dbo.DeliveryOrderPaymentDetail dopd 
												where dopd.GuideNumber = ls.ItemNumber and dopd.GuideSerie = ls.ItemSerie) = 0 or 
												((select COUNT(1) 
												from DeliveryBackOffice.dbo.DeliveryOrderPaymentDetail dopd 
												where dopd.GuideNumber = ls.ItemNumber and dopd.GuideSerie = ls.ItemSerie) > 0 and 
												(select COUNT(1) from DeliveryBackOffice.dbo.ServiceManagement svm
													inner join DeliveryBackOffice.dbo.DeliveryOrderPaymentDetail dop on svm.IdSchedulePickup = dop.IdHeaderRecolection
													inner join DeliveryBackOffice.dbo.RouteAssigment rat on svm.IdPuRouteAssigment = rat.IdRouteAssigment
													where dop.GuideNumber = ls.ItemNumber and dop.GuideSerie = ls.ItemSerie and rat.IdRoute = @idRoute) > 0) or
												((select COUNT(1) from DeliveryBackOffice.dbo.DeliveryOrderPaymentDetail dopd 
												where dopd.GuideNumber = ls.ItemNumber and dopd.GuideSerie = ls.ItemSerie and dopd.IdHeaderRecolection IS NULL) > 0)



										SET @RModified3 = @@ROWCOUNT

										if @RModified3 > 0
										BEGIN
											update  dbo.DeliveryOrderPiece set StatusOrderId =  @stattus
											from dbo.DeliveryOrderPiece ord
											 inner join #listGuides ls on (ord.GuideNumber = ls.ItemNumber and ord.GuideSerie = ls.ItemSerie and ord.NoPiece = ls.ItemPiece and (ord.StatusOrderId not in (7,11,5)  or ord.StatusOrderId IS NULL))
											 --inner join dbo.DeliveryOrderPaymentDetail dop on (ord.GuideNumber = dop.GuideNumber and ord.GuideSerie = dop.GuideSerie and  (ord.StatusOrderId = 15 and dop.ShipmentCompleted = 1))

											SET @RModified = @@ROWCOUNT
										END
								--end
								--else
								--begin 
								--		update  dbo.DeliveryOrderPiece set StatusOrderId =  @stattus
								--		from dbo.DeliveryOrderPiece ord
								--		 inner join #listGuides ls on (ord.GuideNumber = ls.ItemNumber and ord.GuideSerie = ls.ItemSerie)
								--end
								---variable que cuenta cuantas piezas estan asociadas a las guias.
								declare @val int = (select count (GuideNumber) from DeliveryOrderPiece where GuideNumber in (select ItemNumber from #listGuides))
								---variable que cuenta cuantas piezas ya cambiaron de estado arribo a instalaciones (11).
								declare @valu int = (select count (GuideNumber) from DeliveryOrderPiece where GuideNumber in (select ItemNumber from #listGuides) and StatusOrderId = @stattus)

								--declare @value int = (select count (GuideNumber) from DeliveryOrderPiece where GuideNumber in (select ItemNumber from #listGuides))

											---	 insertar checkpoint de arribo a instalaciones.	
								insert into dbo.DeliveryOrderDetail
								( [Guide_Serie]
								,[Guide_Number]
								  ,[StatusOrderId]
								  ,[UserCreated]
								  ,[DateCreated]
								  ,[DateCreatedInSystem]
								  ,[Observations]
								  ,[Temperature_Celsius]
								  ,[PieceId])
								select ls.ItemSerie
								,ls.ItemNumber
								,@stattus
								,@Token
								,GETDATE()
								,GETDATE()
								,null
								,null
								,ls.ItemPiece
								from #listGuides ls

								SET @RModified2 = @@ROWCOUNT
								
							if(@val = @valu)
							begin
								update  dbo.DeliveryOrder set StatusOrderId =  @stattus
								from #listGuides ls
								where Guide_Number = ls.ItemNumber    ---  in (select ItemNumber from #listGuides)
								SET @GModif = @@ROWCOUNT

								-- Activar bandera de proceso de SMS
								IF (@stattus IN (4)) --En ruta, (11) Arribó a instalaciones
									IF((select top 1 ue.UpdateStatus
										from [DeliveryBackOffice].[dbo].[SMS_UpdatedElements] ue
										where ue.RowStatus=1
										and ue.ElementId=1001)=0)
									BEGIN
										update [DeliveryBackOffice].[dbo].[SMS_UpdatedElements]
										set UpdateStatus=1, UpdateDateTime=GETDATE()
										where RowStatus=1
										and ElementId=1001
									END

							end

				END TRY
					BEGIN CATCH
						

							SELECT 
						0 AS 'StatusCode', 
					--	ERROR_MESSAGE() AS 'Description', 
					--	CONVERT(BIGINT, 0) AS 'NumTransferID',
						@InGuides + convert(nvarchar,@InGuides) AS 'Guide',
						0 AS 'SubStatusCode'
						ROLLBACK TRANSACTION

						 select 'No se guardo el registro' as StatusCode 
							--select ERROR_MESSAGE()
								-- retornar mensaje de error

						
					END CATCH;
					IF @@TRANCOUNT > 0 BEGIN
						COMMIT TRANSACTION;
						IF (@RModified > 0 AND @RModified2 > 0)
							begin
							
							SELECT			  
								1 AS 'StatusCode',
							--	'Registro guardado correctamente' AS 'Description', 
							--	@@TRANCOUNT AS 'NumTransferID',
								@InGuides AS 'Guide',
								--@Amount AS 'Amount',
								0 AS 'SubStatusCode'

							Select @GModif as CONT
								
							end

						ELSE
							SELECT			  
								0 AS 'StatusCode',
							--	'Registro no encontrado' AS 'Description', 
							--	0 AS 'NumTransferID',
								@InGuides AS 'Guide',
								--@Amount AS 'Amount',
								0 AS 'SubStatusCode'

						
			END


END
