USE [DenariusST_Dev]
GO
/****** Object:  StoredProcedure [dbo].[sp_Set_GetRoute]    Script Date: 6/3/2020 6:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_Set_GetRoute]  
		 @Country AS VARCHAR(2),
		 @IdUser AS VARCHAR(30),
		 @Username AS varchar(50),
		 @DateRoute AS varchar(30) ,
		 @ServiceList AS LGT_ServiceItem_CaptureScreen READONLY,	
		 @MaterialList AS LGT_Material_CaptureScreen READONLY,
		 @prefixUpdateDate AS DATETIME = '1901-01-01 00:00:00.000'
AS
BEGIN


DECLARE @RouteCountry as varchar(2)
DECLARE @RouteStation INT

DECLARE @UMB INT

DECLARE @StationDescription as varchar(150)
DECLARE @IdEmployee INT

if (@IdUser = 102931)
BEGIN 
  insert into [DenariusST_Dev].[dbo].[APPSettings] 
  values ('102931', 'entra')
END



  

----------------------------------------------------------------------------------------------------------------------------------
--Actualizar datos que no habían sido enviados al server

DECLARE @ServiceID bigint
DECLARE @ParentServiceID bigint

DECLARE @MyServiceID bigint

DECLARE @IsDeliveryOnRoute bit = 'False'
DECLARE @Is_CountingHouse bit = 'False'
DECLARE @Concentradora bit = 'False'


DECLARE @AppRouteItem bigint
DECLARE @ServiceType varchar(100)
DECLARE @StartService varchar(100)
DECLARE @NameRoute varchar(100)
DECLARE @PU_Representative varchar(50)
DECLARE @DL_Representative varchar(50)
DECLARE @Signature VARBINARY(MAX)

DECLARE @SignaturePU VARBINARY(MAX)
DECLARE @SignatureDL VARBINARY(MAX)

DECLARE @LatitudeStart  decimal(9,6)
DECLARE	@LongitudeStart decimal(9,6)
DECLARE	@AccuracyStart  decimal(9,6)
DECLARE	@LatitudeEnd    decimal(9,6)
DECLARE	@LongitudeEnd   decimal(9,6)
DECLARE	@AccuracyEnd    decimal(9,6)
DECLARE	@MailList		varchar(500)


DECLARE @SignatureUser VARBINARY(MAX) --Enviar firma del portavalor
DECLARE @DtInit DATETIME
DECLARE @DtFinish DATETIME
DECLARE @DtPUInit DATETIME
DECLARE @DtPUFinish DATETIME
DECLARE @DtDLInit DATETIME
DECLARE @DtDLFinish DATETIME
DECLARE @DateRoute2 AS date

--BEGIN TRANSACTION
--BEGIN TRY

--Estado correcto de finalización de servicio
DECLARE @OPSTATUS int

DECLARE @MaterialList2 AS LGT_Material_CaptureScreen				
insert into @MaterialList2
select * from @MaterialList
where MaterialId!='DB018%85901' and MaterialId!='SB1148762%' and  MaterialId!='DB01716%901' and MaterialId!='DA0276%7536' and MaterialId!='DA0276%3362' and MaterialId!='DA02%283319'  

--Tabla temporal para servicios creados en ruta

PRINT 'INICIO'
PRINT CONVERT( VARCHAR(24), GETDATE(), 113)

PRINT 'Declaración tabla @ServiceActionStatus'
DECLARE @ServiceActionStatus AS TABLE 
(
	SERVICEID BIGINT,
	PARENTSERVICEID BIGINT,
	APPROUTEITEM BIGINT,
	SRVSTATUS VARCHAR(25)
)

print'================================================================================================ 2'
--Cargar lista de servicios, siempre y cuando no son asociados, ni servicios creados en ruta
PRINT 'Inicia cursor Detail_cursor'
DECLARE Detail_cursor CURSOR FOR 
SELECT ServiceID,ServiceType,NameRoute, AppRouteItem, 
	[Status], [Signature], [DtInit], [DtFinish], DL_Representative, PU_Representative
	,LatitudeStart,LongitudeStart,AccuracyStart,LatitudeEnd,LongitudeEnd,AccuracyEnd
	,ListMail
FROM @ServiceList 
WHERE ServiceID > 0 and [Status]<=999 --solo acepta 3 dígitos
and ServiceID not in(
9495316
,9495317
,9495322
,9495335
,9495320
,9495308
,9495309
,9495310
,9495313
,9495314
,9495323
,9495325
,9495331
,9495311
,9495315
,9495321
,9495327
,9495334
,9495329
,9495330
,9495336
,9495319

,9801227 --2T 02/03/2020
,9801228
,9801229
,9801230
,9801231
,9801232
,9801233
,9801234
,9801235
,9801236
,9801237
,9801238
,9801239
,9801240
,9801241
,9801242
,9801243
,9801244
,9801245
,9801246
,9801247
,9801248


)
OPEN Detail_cursor
print'================================================================================================ 3'		
--Recorrer lista de servicios
FETCH NEXT FROM Detail_cursor 
INTO @ServiceID,@ServiceType,@NameRoute, @AppRouteItem, 
	 @OPSTATUS, @Signature, @DtInit, @DtFinish,@DL_Representative,@PU_Representative
	,@LatitudeStart 
	,@LongitudeStart
	,@AccuracyStart 
	,@LatitudeEnd   
	,@LongitudeEnd  
	,@AccuracyEnd  
	,@MailList 

WHILE @@FETCH_STATUS = 0
BEGIN								
	PRINT 'Ejecutar SP_SET_FINISH_PUDL'		
	
	EXEC SP_SET_FINISH_PUDL @ServiceID, @ServiceType, @DTINIT, @DTFINISH, @OPSTATUS, @SIGNATURE,@DL_Representative, @PU_Representative,@Country
			,@LatitudeStart 
	        ,@LongitudeStart
	        ,@AccuracyStart 
	        ,@LatitudeEnd   
	        ,@LongitudeEnd  
	        ,@AccuracyEnd 			
			,@IdUser
			,@Username					
			,@NameRoute
			,@MaterialList2	
			,@MailList		

	PRINT 'INSERT INTO @ServiceActionStatus'
	INSERT INTO @ServiceActionStatus(SERVICEID, PARENTSERVICEID, APPROUTEITEM, SRVSTATUS)
		VALUES (@ServiceID, 0, @AppRouteItem, 'UPDATED');

	FETCH NEXT FROM Detail_cursor 
		INTO @ServiceID,@ServiceType,@NameRoute, @AppRouteItem, 
			@OPSTATUS, @Signature, @DtInit, @DtFinish,@DL_Representative,@PU_Representative
			,@LatitudeStart 
	        ,@LongitudeStart
	        ,@AccuracyStart 
	        ,@LatitudeEnd   
	        ,@LongitudeEnd  
	        ,@AccuracyEnd 
			,@MailList
	print'================================================================================================'
END

CLOSE Detail_cursor;
DEALLOCATE Detail_cursor;
print'================================================================================================ 4'
DECLARE @LGT_ServiceItem AS TABLE
(
	[ServiceID] [bigint] NULL,
	[ServiceType] [varchar](100) NULL,
	[NameRoute] [varchar](100) NULL,
	[PU_Representative] [varchar](50) NULL,
	[DL_Representative] [varchar](50) NULL,
	[ParentServiceID] [bigint] NULL,
	[AppRouteItem] [bigint] NULL,
	[DtInit] [datetime] NULL,
	[DtFinish] [datetime] NULL,
	[Signature] [image] NULL,
	[isAssociatedService] [bit] NULL,
	[Status] [tinyint] NULL
	,ListMail varchar(500) NULL
)
print'================================================================================================ 5'
INSERT INTO @LGT_ServiceItem
SELECT 
	[ServiceID],
	[ServiceType],
	[NameRoute],
	SUBSTRING(DL_Representative, 0, 50),
	SUBSTRING(PU_Representative, 0, 50),
	[ParentServiceID],
	[AppRouteItem],
	[DtInit],
	[DtFinish],
	[Signature],
	[isAssociatedService],
	[Status] 
	,ListMail
FROM 
	@ServiceList
where [Status]<=999
and ServiceID not in(
9495316
,9495317
,9495322
,9495335
,9495320
,9495308
,9495309
,9495310
,9495313
,9495314
,9495323
,9495325
,9495331
,9495311
,9495315
,9495321
,9495327
,9495334
,9495329
,9495330
,9495336
,9495319

,9801227 --2T 02/03/2020
,9801228
,9801229
,9801230
,9801231
,9801232
,9801233
,9801234
,9801235
,9801236
,9801237
,9801238
,9801239
,9801240
,9801241
,9801242
,9801243
,9801244
,9801245
,9801246
,9801247
,9801248

)

DECLARE @LMS_RoutePickUP varchar(10) = NULL
DECLARE @LMS_RouteDelivery varchar(10) = NULL
DECLARE @LMS_ORIGINCODE INT = 0
DECLARE @LMS_ORIGINNAME varchar(150) = ''
DECLARE @LMS_DESTINATIONCODE INT = 0
DECLARE @LMS_DESTINATIONNAME VARCHAR(150) = ''
DECLARE @LMS_COUNTRY varchar(2)
DECLARE @LMS_STATION tinyint
DECLARE @LMS_BILLINGVPCODE int
DECLARE @LMS_BILLINGVPNAME nvarchar(150)
DECLARE @LMS_SERVICETYPE smallint
DECLARE @LMS_COMPANY tinyint
DECLARE @LMS_OPSTATUSDETAIL tinyint
DECLARE @LMS_OPEXDLCOURIER int = NULL
DECLARE @LMS_OPEXPUCOURIER int = NULL
DECLARE @ISASSOCIATEDSERVICE BIT = NULL
DECLARE @LMS_BILLINGVPAGECODE INT = NULL
DECLARE @LMS_BILLINGCARDCODE VARCHAR(15) = NULL
DECLARE @LMS_BILLINGCARDCODENAME VARCHAR(100) = NULL		

DECLARE @EXISTS_DEFINITION BIT = 'False'

SET @LMS_RoutePickUP = NULL
SET @LMS_RouteDelivery = NULL
SET @LMS_ORIGINCODE = 0
SET @LMS_ORIGINNAME = ''
SET @LMS_DESTINATIONCODE = 0
SET @LMS_DESTINATIONNAME = ''
SET @LMS_COUNTRY =''
SET @LMS_STATION =0
SET @LMS_BILLINGVPCODE =0
SET @LMS_BILLINGVPNAME =''
SET @LMS_SERVICETYPE =0
SET @LMS_COMPANY =0
SET @LMS_OPSTATUSDETAIL =0
SET @LMS_OPEXDLCOURIER = NULL
SET @LMS_OPEXPUCOURIER = NULL
SET @ISASSOCIATEDSERVICE = NULL
SET @LMS_BILLINGVPAGECODE = NULL
SET @LMS_BILLINGCARDCODE  = NULL
SET @LMS_BILLINGCARDCODENAME = NULL		

--SELECT 
--	'bidcar',ParentServiceID,AppRouteItem,ServiceType,NameRoute,LMS.LMS_RouteDelivery,LMS.LMS_RoutePickUP,LMS.LMS_OriginCode,LMS.LMS_OriginName,LMS.LMS_DestinationCode,LMS.LMS_DestinationName,
--	LMS_COUNTRY,LMS_STATION,LMS_BILLINGVPCODE,LMS_BILLINGVPNAME,1101,LMS_COMPANY,[STATUS],LMS_OPStatusDetail,LMS_OPEXDLCourier,LMS_OPEXPUCourier,
--	LMS_CIPUTIME,LMS_COPUTIME,LMS_CIDLTIME,LMS_CODLTIME,ISASSOCIATEDSERVICE,[Signature], [DtInit], [DtFinish],LMS_BillingVPAgeCode,LMS_BillingCardCode,
--	LMS_BillingCardCodeName
--	,ServiceID
--	,COALESCE(VP.RVP_IsDeliveryOnRoute,0)
--	,COALESCE(vp.RVP_Is_CountingHouse,0)
--	,COALESCE(vp.RVP_Concentradora	,0)
--FROM @LGT_ServiceItem, DenariusCorporate_Dev.dbo.LGT_Master_Service LMS WITH(NOLOCK)
--LEFT JOIN DenariusDesktop_Dev.dbo.ADM_MNG_RouteVisitPoints VP on LMS.LMS_OriginCode = vp.RVP_VisitPointId
--WHERE ServiceID < 0
--AND ParentServiceID > 0
--AND ParentServiceID =  LMS.LMS_ServiceId

		print'================================================================================================ 6'
--Servicios en ruta
DECLARE Detail_cursor CURSOR FOR 
SELECT 
	ParentServiceID,AppRouteItem,ServiceType,NameRoute,LMS.LMS_RouteDelivery,LMS.LMS_RoutePickUP,LMS.LMS_OriginCode,LMS.LMS_OriginName,LMS.LMS_DestinationCode,LMS.LMS_DestinationName,
	LMS_COUNTRY,LMS_STATION,LMS_BILLINGVPCODE,LMS_BILLINGVPNAME,1101,LMS_COMPANY,[STATUS],LMS_OPStatusDetail,LMS_OPEXDLCourier,LMS_OPEXPUCourier,
	LMS_CIPUTIME,LMS_COPUTIME,LMS_CIDLTIME,LMS_CODLTIME,ISASSOCIATEDSERVICE,[Signature], [DtInit], [DtFinish],LMS_BillingVPAgeCode,LMS_BillingCardCode,
	LMS_BillingCardCodeName
	,ServiceID
	,COALESCE(VP.RVP_IsDeliveryOnRoute,0)
	,COALESCE(vp.RVP_Is_CountingHouse,0)
	,COALESCE(vp.RVP_Concentradora	,0)
	,ListMail
FROM @LGT_ServiceItem, DenariusCorporate_Dev.dbo.LGT_Master_Service LMS WITH(NOLOCK)
LEFT JOIN DenariusDesktop_Dev.dbo.ADM_MNG_RouteVisitPoints VP WITH(NOLOCK)  on LMS.LMS_OriginCode = vp.RVP_VisitPointId
WHERE ServiceID < 0
AND ParentServiceID > 0
AND ParentServiceID =  LMS.LMS_ServiceId

OPEN Detail_cursor

FETCH NEXT FROM Detail_cursor 
INTO @ParentServiceID, @AppRouteItem, @ServiceType,@NameRoute,@LMS_RouteDelivery, @LMS_RoutePickUP, @LMS_ORIGINCODE, @LMS_ORIGINNAME,@LMS_DESTINATIONCODE,@LMS_DESTINATIONNAME,
	@LMS_COUNTRY,@LMS_STATION,@LMS_BILLINGVPCODE,@LMS_BILLINGVPNAME,@LMS_SERVICETYPE,@LMS_COMPANY,@OPSTATUS,@LMS_OPSTATUSDETAIL,@LMS_OPEXDLCOURIER,@LMS_OPEXPUCourier,
	@DtPUInit,@DtPUFinish,@DtDLInit,@DtDLFinish,@ISASSOCIATEDSERVICE,@Signature, @DtInit, @DtFinish,@LMS_BILLINGVPAGECODE,@LMS_BILLINGCARDCODE,
	@LMS_BILLINGCARDCODENAME
	,@MyServiceID
	,@IsDeliveryOnRoute
	,@Is_CountingHouse	
	,@Concentradora	
	,@MailList

PRINT CAST(@Signature AS VARCHAR(MAX))
print'================================================================================================ 7'
WHILE @@FETCH_STATUS = 0
BEGIN
    DECLARE @LMS_PREV_SERVICEID bigint
	SELECT @LMS_PREV_SERVICEID = ServiceID
	FROM @LGT_ServiceItem
	WHERE AppRouteItem = @AppRouteItem
	print'================================================================================================ '
	PRINT 'Servicio asociado'
	print @ISASSOCIATEDSERVICE
	print @OPSTATUS
	--Servicio asociado (quiere decir que se asocia a un servicio existente, no se crea registro nuevo en master service) y recolectado con valores o entregado
	IF (@ISASSOCIATEDSERVICE = 1 AND @OPSTATUS IN (200,38))
	BEGIN
	
	

		EXEC SP_SET_FINISH_PUDL @ParentServiceID, @ServiceType, @DTINIT, @DTFINISH, @OPSTATUS, @SIGNATURE,@DL_Representative,@PU_Representative,@Country
				,@LatitudeStart 
			        ,@LongitudeStart
			        ,@AccuracyStart 
			        ,@LatitudeEnd   
			        ,@LongitudeEnd  
			        ,@AccuracyEnd					
					,@IdUser
					,@Username					
					,@NameRoute
					,@MaterialList2
					,@MailList
					,1
				
					
        --Si es una entrega y el visitpoint de entrega es en ruta entonces debe crear servicio en desktop
		if (@OPSTATUS IN (38))
		BEGIN
		  print 'Entrega en ruta'

		  select top 1 @IsDeliveryOnRoute = 'True'
		  ,@LMS_ORIGINCODE = DestinationCode
		  ,@LMS_ORIGINNAME = Destinationname
		  from @MaterialList2
		  LEFT JOIN DenariusDesktop_Dev.dbo.ADM_MNG_RouteVisitPoints VP WITH(NOLOCK)  on DestinationCode = vp.RVP_VisitPointId
		  where COALESCE(RVP_IsDeliveryOnRoute,'False')= 'True' and COALESCE(RVP_Is_CountingHouse,'False') = 'False' and COALESCE(RVP_Concentradora,'False') = 'False'
		  
		  	print 'SHI'					
					print @IsDeliveryOnRoute
					print @LMS_ORIGINCODE
					print @LMS_ORIGINNAME	
					print @LMS_RoutePickUP
					print @LMS_RouteDelivery									
				
		  
		  --and @IsDeliveryOnRoute='true' and @Is_CountingHouse = 'false' and @Concentradora= 'false'
		  set @DateRoute2 = convert(date,getdate(),103)
		  IF (@IsDeliveryOnRoute = 'True')
		  BEGIN
		 
		  
		     DECLARE @RouteAssigmentDskt2 as INT		
				   set @RouteAssigmentDskt2 = (SELECT top 1 ruta.ASG_id							   
				   FROM .denariusdesktop_dev.dbo.adm_mng_routeassignment ruta WITH (NOLOCK)
				   WHERE 1 = 1
				   AND CONVERT(DATE, ruta.asg_date, 103) = CONVERT(DATE, @DateRoute2, 103)
				   AND ruta.ASG_RouteCode = @LMS_RoutePickUP
				   AND ruta.ASG_Country = @Country
				   AND ruta.ASG_Station = @LMS_STATION)

				   print '@RouteAssigmentDskt2'
				   print @RouteAssigmentDskt2

			set @EXISTS_DEFINITION = (
			select top 1 'True' from DenariusDesktop_Dev.dbo.ADM_MNG_RouteServiceDefinition def
			where 
			1=1
			AND CONVERT(DATE, def.DEF_DateTime, 103) = CONVERT(DATE, @DateRoute2, 103)
			AND def.DEF_RouteCode = @LMS_RoutePickUP
			AND def.DEF_Country = @Country
			AND def.DEF_Station = @LMS_STATION
			and def.DEF_Status = 1
			AND def.DEF_RouteVisitPoint = @LMS_ORIGINCODE
			and def.DEF_ServiceType = 17 --entrega		
			and def.DEF_IdRouteAssignment = @RouteAssigmentDskt2		   
			)

			if (@EXISTS_DEFINITION = 'True')
			BEGIN
		       --Guardar servicio
				 INSERT INTO DenariusDesktop_Dev.[dbo].[ADM_MNG_RouteServiceDefinition]
					   ([DEF_RouteCode]
					   ,[DEF_RouteVisitPoint]
					   ,[DEF_SafeBox]
					   ,[DEF_ServiceType]
					   ,[DEF_Country]
					   ,[DEF_Station]
					   ,[DEF_DateTime]
					   ,[DEF_Status]
					   ,[DEF_Specifications]
					   ,[DEF_AcceptanceStatus]
					   ,[DEF_ServicePetition]
					   ,[DEF_IdRouteAssignment]
					   ,[DEF_SequenceInRoute]
					   ,[DEF_CheckPoint]
					   ,[DEF_Scan]
					   ,[DEF_EstimatedTimeMin]
					   ,[DEF_DateDueService]
					   ,[DEF_DateInRoute]
					   ,[DEF_ServiceDuration]
					   ,[DEF_ServiceInitialized]
					   ,[DEF_ServiceEnded]
					   ,[DEF_TimeIntervalOfVisit]
					   ,[DEF_BillService]
					   ,[DEF_AssociatedService]
					   ,[DEF_TimeIntervalOfCompletion]
					   ,[DEF_ATMBarCode]
					   ,[DEF_ATMStatus]
					   ,[DEF_ATMProvisioningDate]
					   ,[DEF_ATMPreparationDate]
					   ,[DEF_ATMDischargeDate]
					   ,[DEF_ATMServiceDefIdCodeDischarge]
					   ,[DEF_ATMServiceDefIdDischargeToday]
					   ,[DEF_ATMLockState]
					   ,[DEF_ATMPrintState]
					   ,[DEF_ATMDischargeType]
					   ,[DEF_ATMObservation]
					   ,[DEF_ATMBinProvisioned]
					   ,[DEF_ATMBinDischarged]
					   ,[DEF_ATMReceptor]
					   ,[DEF_ATMIdUserReceptor]
					   ,[DEF_ATMHeader]
					   ,[def_AtmModule]
					   ,[DEF_AtmPreparationDateIni]
					   ,[DEF_ATMDischargeDateIni]
					   ,[DEF_ATMDischargeDateEnd]
					   ,[DEF_VALUABLES]
					   ,[DEF_CarrierCompany])
				 VALUES
					   (
					   @LMS_RoutePickUP,/*@Route*/--<DEF_RouteCode, varchar(50),>
					   @LMS_ORIGINCODE,--<DEF_RouteVisitPoint, bigint,>					   
					   NULL,--<DEF_SafeBox, int,>
					   17, --1	RECOLECCION--6,-- 17	ENTREGA   6 INSUMOS <DEF_ServiceType, int,>
					   @LMS_COUNTRY,--<DEF_Country, varchar(2),>
					   @LMS_STATION,--<DEF_Station, int,>
					   CAST(@DateRoute2 as DATETIME),--<DEF_DateTime, datetime,>
					   1,--<DEF_Status, int,>					   
					    'SERVICIO DE ENTREGA EN RUTA'
						,
					   --'ENTREGA DE INSUMOS',--<DEF_Specifications, varchar(1000),>
					   0,--<DEF_AcceptanceStatus, int,>
					   NULL,--<DEF_ServicePetition, int,>
					   @RouteAssigmentDskt2,--<DEF_IdRouteAssignment, bigint,>
					   0,--<DEF_SequenceInRoute, int,>
					   NULL,--<DEF_CheckPoint, varchar(2),>
					   9,--<DEF_Scan, int,> --Se crea servicio con estado 9 (Completado) de finalización de servicio 
					   NULL,--<DEF_EstimatedTimeMin, int,>
					   CAST(@DateRoute2 as DATE),--<DEF_DateDueService, date,>
					   CAST(@DateRoute2 as DATE),--<DEF_DateInRoute, date,>
					   NULL,--<DEF_ServiceDuration, time(7),>
					   NULL,--<DEF_ServiceInitialized, datetime,>
					   NULL,--<DEF_ServiceEnded, datetime,>
					   '',--<DEF_TimeIntervalOfVisit, varchar(50),>
					   NULL,--<DEF_BillService, int,>
					   NULL,--<DEF_AssociatedService, bigint,>
					   NULL,--<DEF_TimeIntervalOfCompletion, nvarchar(50),>
					   NULL,--<DEF_ATMBarCode, varchar(15),>
					   1,--<DEF_ATMStatus, tinyint,>
					   NULL,--<DEF_ATMProvisioningDate, datetime,>
					   NULL,--<DEF_ATMPreparationDate, datetime,>
					   NULL,--<DEF_ATMDischargeDate, datetime,>
					   NULL,--<DEF_ATMServiceDefIdCodeDischarge, bigint,>
					   NULL,--<DEF_ATMServiceDefIdDischargeToday, bigint,>
					   'TRUE',--<DEF_ATMLockState, bit,>
					   1,--<DEF_ATMPrintState, tinyint,>
					   1,--<DEF_ATMDischargeType, tinyint,>
					   NULL,--<DEF_ATMObservation, varchar(2000),>
					   NULL,--<DEF_ATMBinProvisioned, tinyint,>
					   NULL,--<DEF_ATMBinDischarged, tinyint,>
					   NULL,--<DEF_ATMReceptor, int,>
					   NULL,--<DEF_ATMIdUserReceptor, varchar(50),>
					   NULL,--<DEF_ATMHeader, bigint,>
					   NULL,--<def_AtmModule, int,>
					   NULL,--<DEF_AtmPreparationDateIni, datetime,>
					   NULL,--<DEF_ATMDischargeDateIni, datetime,>
					   NULL,--<DEF_ATMDischargeDateEnd, datetime,>
					   NULL,--<DEF_VALUABLES, int,>
					   1--<DEF_CarrierCompany, int,>
					)
				
				 DECLARE @IdServiceDefinition2 AS bigint
				 SET @IdServiceDefinition2 = (SELECT  SCOPE_IDENTITY() AS IdServiceDef)							
				
				UPDATE
				TableVoucher
				SET
				TableVoucher.FMD_RouteServiceDefinition = @IdServiceDefinition2				
				FROM
				[DenariusDesktop_Dev].DBO.[VRD_ValueRegistrationForm]  AS  TableVoucher 
				INNER JOIN DenariusCorporate_Dev.dbo.LGT_Master_Service_Material AS TableMaterial
				ON TableMaterial.MSM_ValueregistrationForm = TableVoucher.FMD_ID
				WHERE TableMaterial.MSM_FK_Masterservice_Id = @ParentServiceID

				print @RouteAssigmentDskt2
				print @ParentServiceID
				print @IdServiceDefinition2
				print @Username
				--Guardar relación entre desktop y corporativo
				INSERT INTO DenariusST_Dev.dbo.ServiceCorpbyServiceDesktop
				SELECT @RouteAssigmentDskt2,@ParentServiceID,@IdServiceDefinition2,@Username,getdate(),1				
				
				print '@IdServiceDefinition2'
				PRINT @IdServiceDefinition2
			END			
				
		  END
		END

		

		INSERT INTO @ServiceActionStatus(SERVICEID, PARENTSERVICEID, APPROUTEITEM, SRVSTATUS)
			VALUES (@ParentServiceID, 0, @AppRouteItem, 'UPDATED');

		UPDATE @LGT_ServiceItem
			SET SERVICEID = @ParentServiceID
		WHERE AppRouteItem = @AppRouteItem

		UPDATE @LGT_ServiceItem
			SET ParentServiceID = @ParentServiceID
		WHERE ParentServiceID = @LMS_PREV_SERVICEID

	END
	--Debe crear servicio asociado
	ELSE IF (@ISASSOCIATEDSERVICE = 0)
	BEGIN
		DECLARE @RC int
		DECLARE @LMS_SERVICEID bigint
		DECLARE @LMS_SERVICEDATE datetime = GETDATE()
		DECLARE @LMS_SERVICEDATEMAX datetime = DATEADD(HOUR,12, GETDATE())
		DECLARE @LMS_SERVICECREATED datetime = GETDATE()
		DECLARE @LMS_ORIGINALSERVICEDATE datetime = GETDATE()
		DECLARE @LMS_ORIGINALSERVICEDATEMAX datetime = GETDATE()
		DECLARE @LMS_CREATEDUSER int = @IdUser 
		DECLARE @LMS_CREATEDUSERNAME varchar(50) = @Username
		DECLARE @LMS_FULFILLMENT bit = 0
		DECLARE @LMS_PLATFORM tinyint = 9			

		DECLARE @LMS_TempDESTINATIONCODE INT = @LMS_DESTINATIONCODE
		DECLARE @LMS_TempDESTINATIONNAME VARCHAR(150) = @LMS_DESTINATIONNAME

		SELECT TOP 1 @LMS_DESTINATIONCODE = DestinationCode,
				@LMS_DESTINATIONNAME = DestinationName
		FROM @MaterialList2 ML
		WHERE ML.APPROUTEITEM =  @AppRouteItem

		DECLARE @LMS_RoutePickUP_TEMP varchar(10) = NULL
		DECLARE @LMS_RouteDelivery_TEMP varchar(10) = NULL
		DECLARE @LMS_OPEXDLCOURIER_TEMP int = NULL
		DECLARE @LMS_OPEXPUCOURIER_TEMP int = NULL

		--El servicio nuevo es una recolección, originada de una entrega
		IF (@ServiceType = 'R')  BEGIN
			
			print 'Recolección originada de una entrega'

			SET @DtDLInit = NULL
			SET @DtDLFinish  = NULL
			SET @LMS_ORIGINCODE = @LMS_TempDESTINATIONCODE
			SET @LMS_ORIGINNAME = @LMS_TempDESTINATIONNAME
			SET @LMS_RouteDelivery_TEMP = null
			SET @LMS_RoutePickUP_TEMP = @LMS_RouteDelivery			    
			SET @LMS_OPEXDLCourier_TEMP = null
			SET @LMS_OPEXPUCourier_TEMP = @LMS_OPEXDLCOURIER								
		END

		DECLARE @LMS_EXIST_SERVICEID bigint = NULL

		SELECT @LMS_EXIST_SERVICEID = LMS_SERVICEID
		FROM DENARIUSCORPORATE_DEV.DBO.LGT_MASTER_SERVICE LMS WITH(NOLOCK) 
		WHERE LMS.LMS_COUNTRY = @LMS_COUNTRY
		AND LMS.LMS_STATION = @LMS_STATION
		AND LMS.LMS_BILLINGVPCODE= @LMS_BILLINGVPCODE
		AND LMS.LMS_BILLINGVPNAME = @LMS_BILLINGVPNAME
		AND LMS.LMS_COMPANY = @LMS_COMPANY
		AND LMS.LMS_CREATEDUSER = @LMS_CREATEDUSER
		AND LMS.LMS_CREATEDUSERNAME = @LMS_CREATEDUSERNAME
		AND LMS.LMS_ORIGINCODE = @LMS_ORIGINCODE
		AND LMS.LMS_ORIGINNAME = @LMS_ORIGINNAME
		AND LMS.LMS_DESTINATIONCODE = @LMS_DESTINATIONCODE
		AND LMS.LMS_DESTINATIONNAME = @LMS_DESTINATIONNAME
		AND LMS.LMS_ROUTEPICKUP = @LMS_RoutePickUP
		AND LMS.LMS_ROUTEDELIVERY = @LMS_RouteDelivery
		AND LMS.LMS_BILLINGCARDCODE = @LMS_BILLINGCARDCODE
		AND LMS.LMS_BILLINGCARDCODENAME = @LMS_BILLINGCARDCODENAME

		DECLARE @RECORDSCHANGED int
		
	print'================================================================================================ 8'
		--Si el servicio existe hay que crearlo
		IF (COALESCE(@LMS_EXIST_SERVICEID, 0) = 0) 
		BEGIN
		    print 'Servicio creado'

			--El servicio nuevo es una entrega, originada de una recolección
			IF (@ServiceType = 'E')  BEGIN								
				SET @LMS_RouteDelivery_TEMP = @LMS_RouteDelivery
				SET @LMS_RoutePickUP_TEMP	= null			    
				SET @LMS_OPEXDLCourier_TEMP = @LMS_OPEXDLCOURIER
				SET @LMS_OPEXPUCourier_TEMP = null								
			END

				EXECUTE @RC = DenariusCorporate_Dev.dbo.sp_set_master_service  
				   @LMS_SERVICEID OUTPUT
				  ,@LMS_COUNTRY
				  ,@LMS_STATION
				  ,@LMS_SERVICEDATE
				  ,@LMS_SERVICEDATEMAX
				  ,@LMS_BILLINGVPCODE
				  ,@LMS_BILLINGVPNAME
				  ,@LMS_BILLINGVPAGECODE
				  ,@OPSTATUS
				  ,@LMS_OPSTATUSDETAIL
				  ,@LMS_SERVICETYPE
				  ,@LMS_COMPANY
				  ,@LMS_SERVICECREATED
				  ,@LMS_ORIGINALSERVICEDATE
				  ,@LMS_ORIGINALSERVICEDATEMAX
				  ,@LMS_CREATEDUSER
				  ,@LMS_CREATEDUSERNAME
				  ,@LMS_FULFILLMENT
				  ,@LMS_PLATFORM
				  ,@LMS_ORIGINCODE
				  ,@LMS_ORIGINNAME
				  ,@LMS_DESTINATIONCODE
				  ,@LMS_DESTINATIONNAME
				  ,NULL --,@LMS_TRANSPORTEDAMOUNT
				  ,NULL --,@LMS_PROCESSEDAMOUNT
				  ,NULL --,@LMS_BAGCOUNT
				  ,NULL --,@LMS_DIFERENCE
				  ,NULL --,@LMS_PRIORITYNOTIFY
				  ,NULL --,@LMS_SAMEDAYDELIVERY
				  ,NULL --,@LMS_OPEXBILLTOCODESN
				  ,NULL --,@LMS_OPEXBILLTOCODESR
				  ,NULL --,@LMS_OPEXBILLTOCODETP
				  ,NULL --,@LMS_OPINBILLTOCODESN
				  ,NULL --,@LMS_OPINBILLTOCODESR
				  ,NULL --,@LMS_OPINBILLTOCODETP
				  ,NULL --,@LMS_COMMENTS
				  ,NULL --,@LMS_OPINSERVICETYPE
				  ,NULL --,@LMS_PRIORITY
				  ,NULL --,@LMS_SLASTATUS
				  ,NULL --,@LMS_SLAPERFORMANCE
				  ,@DtPUInit --,@LMS_CIPUTIME
				  ,@DtPUFinish --,@LMS_COPUTIME
				  ,NULL --,@LMS_PUDURATION
				  ,NULL --,@LMS_PUVAULTCONFIRMATION
				  ,@DtDLInit --,@LMS_CIDLTIME
				  ,@DtDLFinish --,@LMS_CODLTIME
				  ,NULL --,@LMS_DLDURATION
				  ,NULL --,@LMS_DLVAULTCONFIRMATION
				  ,NULL --,@LMS_OPINSERVICEPREPARATION
				  ,NULL --,@LMS_OPINSPUSER
				  ,NULL --,@LMS_OPINTRANSFER
				  ,NULL --,@LMS_OPINTRUSER
				  ,NULL --,@LMS_OPINROUTEPREPARATION
				  ,NULL --,@LMS_OPINRPUSER
				  ,NULL --,@LMS_OPEXDISPATCHED
				  ,NULL --,@LMS_OPEXDPUSER
				  ,NULL --,@LMS_OPEXDELIVERY
				  ,@LMS_OPEXDLCOURIER_TEMP
				  ,NULL --,@LMS_OPEXDLDRIVER
				  ,NULL --,@LMS_OPEXDLGUARD
				  ,NULL --,@LMS_OPEXPICKUP
				  ,@LMS_OPEXPUCOURIER_TEMP
				  ,NULL --,@LMS_OPEXPUDRIVER
				  ,NULL --,@LMS_OPEXPUGUARD
				  ,NULL --,@LMS_CLEARING
				  ,NULL --,@LMS_ARUSER
				  ,NULL --,@LMS_OPINASSIGNATION
				  ,NULL --,@LMS_OPINASUSER
				  ,NULL --,@LMS_OPINVERIFICATION
				  ,NULL --,@LMS_OPINPRUSER
				  ,NULL --,@LMS_LOCKOPEN
				  ,NULL --,@LMS_LOUSER
				  ,NULL --,@LMS_GUARDCONFIRMATION
				  ,NULL --,@LMS_LOCKCLOSE
				  ,NULL --,@LMS_LCUSER
				  ,NULL --,@LMS_FIRSTOPENCODE
				  ,NULL --,@LMS_SECONDOPENCODE
				  ,NULL --,@LMS_FIRSTLOCKID
				  ,NULL --,@LMS_SECONDLOCKID
				  ,NULL --,@LMS_CLOSECODE
				  ,NULL --,@LMS_UMBDELIVERY
				  ,NULL --,@LMS_UMBPICKUP
				  ,@LMS_RoutePickUP_TEMP
				  ,@LMS_RouteDelivery_TEMP
				  ,NULL --,@LMS_OPINQTYBANKNOTES
				  ,NULL --,@LMS_OPINQTYCOINS
				  ,NULL --,@LMS_OPINQTYENVELOPES
				  ,NULL --,@LMS_RADIODISPATCHUSER
				  ,NULL --,@LMS_SUBSYSTEM
				  ,NULL --,@LMS_OPEXBILLINGNETVALUE
				  ,NULL --,@LMS_OPINBILLINGNETVALUE
				  ,NULL --,@LMS_BILLINGTOTAL
				  ,NULL --,@LMS_OPEXDIRECTCOST
				  ,NULL --,@LMS_OPEXRADIODISPATCHCOST
				  ,NULL --,@LMS_OPEXVAULTCOST
				  ,NULL --,@LMS_OPEXSUPPLIECOST
				  ,NULL --,@LMS_OPEXCSCOST
				  ,NULL --,@LMS_OPEXCONTROLCOST
				  ,NULL --,@LMS_OPEXOVERHEADCOST
				  ,NULL --,@LMS_OPEXDIFFERENCESCOST
				  ,NULL --,@LMS_OPEXPENALTYCOST
				  ,NULL --,@LMS_OPEXFACILITYSECURITYCOST
				  ,NULL --,@LMS_OPEXTOTALCOST
				  ,NULL --,@LMS_OPINDIRECTCOST
				  ,NULL --,@LMS_OPINDATAENTRYCOST
				  ,NULL --,@LMS_OPINSUPERVISORCOST
				  ,NULL --,@LMS_OPINSUPPLYCOST
				  ,NULL --,@LMS_OPINVAULTCOST
				  ,NULL --,@LMS_OPINCONTROLCOST
				  ,NULL --,@LMS_OPINOVERHEADCOST
				  ,NULL --,@LMS_OPINDIFFERENCESCOST
				  ,NULL --,@LMS_OPINFACILITYSECURITYCOST
				  ,NULL --,@LMS_OPINTOTALCOST
				  ,NULL --,@LMS_TOTALCOST
				  ,NULL --,@LMS_MARGIN
				  ,NULL --,@LMS_LOGICALSTATUS
				  ,NULL --,@LMS_TOKENINSERT
				  ,NULL --,@LMS_TOKENINSERTDATE
				  ,NULL --,@LMS_TOKENUPDATE
				  ,NULL --,@LMS_TOKENUPDATEDATE
				  ,NULL --,@LMS_ETDROUTE
				  ,NULL --,@LMS_ATDROUTE
				  ,NULL --,@LMS_ETAROUTE
				  ,NULL --,@LMS_ATAROUTE
				  ,NULL --,@LMS_ROUTETRAVELTIME
				  ,NULL --,@LMS_TECHSUPPORTTYPE
				  ,NULL --,@LMS_TECHSUPPORTTYPEDETAILS
				  ,NULL --,@LMS_TECHSUPPORTERRORCODE
				  ,NULL --,@LMS_GUARDCLOSECONFIRMATION
				  ,@LMS_BILLINGCARDCODE
				  ,@LMS_BILLINGCARDCODENAME
				  ,NULL --,@LMS_MOTIVEOFOPENING
				  ,NULL --,@LMS_REQUESTEDAMOUNT
				  ,NULL --,@LMS_RELATEDMASTERSERVICE
				  ,NULL --,@LMS_CIDLTIMETHIRDPARTY
				  ,NULL --,@LMS_SERVICEBILLED
				  ,NULL --,@LMS_THIRDPARTYDOCNUM
				  --,NULL --AGREGADO PORQUE CAMBIÓ SP - BIDCAR HERRERA 20/08/2018 5:56 PM
				  ,@RECORDSCHANGED OUTPUT
				
				

				update @MaterialList2
				set ServiceID = @LMS_SERVICEID
				where ServiceID = @MyServiceID
				print'================================================================================================ 9'								

				IF (@ServiceType = 'R' and @ParentServiceID is not null) 
				BEGIN
				 set @SERVICEID = @LMS_SERVICEID
				 print 'SEEEEEEE'
				END							

				 --CHECKPOINT DEL SERVICIO
				 DECLARE @ServiceDefCodeID BIGINT = null
				 DECLARE @_IdPetition AS INT
				 DECLARE @_OrderWeb as VARCHAR(10)
				 DECLARE @_CardCode as VARCHAR(MAX)
				 DECLARE @_VisitPoint as VARCHAR(MAX)
				 DECLARE @LogisticsTrackingIdService AS BIGINT
				 
				 SELECT @ServiceDefCodeID = SK.SCD_Desk_ServiceDefCodeID 		
				 ,@_CardCode = VP.RVP_SAPcardCode
				 ,@_VisitPoint = RSD.DEF_RouteVisitPoint
				 FROM DenariusST_Dev.dbo.ServiceCorpbyServiceDesktop SK WITH(NOLOCK)	
				 JOIN DenariusDesktop_Dev.dbo.ADM_MNG_RouteServiceDefinition RSD WITH(NOLOCK) ON RSD.DEF_ServiceDefIdCode=SK.SCD_Desk_ServiceDefCodeID and RSD.DEF_Country =@Country and RSD.DEF_Station = @LMS_STATION
				 LEFT JOIN DenariusDesktop_Dev.dbo.ADM_MNG_RouteVisitPoints VP WITH(NOLOCK) ON VP.RVP_VisitPointId = RSD.DEF_RouteVisitPoint		  
				 WHERE SK.SCD_Corp_MaterServiceID  = @SERVICEID and cast(SK.SCD_TokenInsertDate as date) = cast(GETDATE() as date)
				 
				 print 'ES POR TI'
				 print '@ServiceDefCodeID'
				 print @ServiceDefCodeID
				 print '@SERVICEID'
				 print @SERVICEID
				 print 'STATION'
				 print @LMS_STATION
				 print 'Parent'
				 print @ParentServiceID
				 print 'Nuevo servicio'
				 print @LMS_SERVICEID

				 IF @ServiceDefCodeID is null
				 BEGIN 
				 
				   DECLARE @Date AS DATETIME
				   DECLARE @IdServiceDefinition AS bigint

				   DECLARE @RouteAssigmentDskt as INT		
				   set @RouteAssigmentDskt = (SELECT top 1 ruta.ASG_id							   
				   FROM .denariusdesktop_dev.dbo.adm_mng_routeassignment ruta WITH (NOLOCK)
				   WHERE 1 = 1
				   --AND CONVERT(DATE, ruta.asg_date, 103) = CONVERT(DATE, @DATE, 103)
				   AND CAST(ruta.asg_date AS date) = CAST(GETDATE() AS date)
				   AND ruta.ASG_RouteCode = CASE @ServiceType
					   WHEN 'R' THEN @LMS_RoutePickUP_TEMP
					   when 'E' then @LMS_RouteDelivery_TEMP
					   END
				   AND ruta.ASG_Country = @Country
				   AND ruta.ASG_Station = @LMS_STATION)
				    
				   print '@RouteAssigmentDskt BID'
				print @RouteAssigmentDskt

				--	set @EXISTS_DEFINITION = (
				--	select top 1 'True' from DenariusDesktop_Dev.dbo.ADM_MNG_RouteServiceDefinition def
				--	where 
				--	1=1
				--	AND def.DEF_DateTime = getdate()
				--	--AND CONVERT(DATE, def.DEF_DateTime, 103) = CONVERT(DATE, @DateRoute2, 103)
				--	AND def.DEF_RouteCode = @LMS_RoutePickUP_TEMP
				--	AND def.DEF_Country = @Country
				--	AND def.DEF_Station = @LMS_STATION
				--	and def.DEF_Status = 1
				--	AND def.DEF_RouteVisitPoint = @LMS_ORIGINCODE
				--	and def.DEF_ServiceType = 17 --entrega		
				--	and def.DEF_IdRouteAssignment = @RouteAssigmentDskt2		   
				--	)

				--	select top 1 * from DenariusDesktop_Dev.dbo.ADM_MNG_RouteServiceDefinition def
				--	where 
				--	1=1
				--	--AND def.DEF_DateTime = getdate()					
				--	AND def.DEF_RouteCode = 'FO-01'
				--	AND def.DEF_Country = 'PA'
				--	AND def.DEF_Station = 10
				--	and def.DEF_Status = 1
				--	--AND def.DEF_RouteVisitPoint = @LMS_ORIGINCODE
				--	--and def.DEF_ServiceType = 17 --entrega		
				--	and def.DEF_IdRouteAssignment = 834712--@RouteAssigmentDskt2		   
					

				--  print '@EXISTS_DEFINITION'
				--print @EXISTS_DEFINITION
				
				--if (@EXISTS_DEFINITION = 'True')
				BEGIN	
				PRINT 'Guarda servicio'		
					 --Guardar servicio
					 INSERT INTO DenariusDesktop_Dev.[dbo].[ADM_MNG_RouteServiceDefinition]
					   ([DEF_RouteCode]
					   ,[DEF_RouteVisitPoint]
					   ,[DEF_SafeBox]
					   ,[DEF_ServiceType]
					   ,[DEF_Country]
					   ,[DEF_Station]
					   ,[DEF_DateTime]
					   ,[DEF_Status]
					   ,[DEF_Specifications]
					   ,[DEF_AcceptanceStatus]
					   ,[DEF_ServicePetition]
					   ,[DEF_IdRouteAssignment]
					   ,[DEF_SequenceInRoute]
					   ,[DEF_CheckPoint]
					   ,[DEF_Scan]
					   ,[DEF_EstimatedTimeMin]
					   ,[DEF_DateDueService]
					   ,[DEF_DateInRoute]
					   ,[DEF_ServiceDuration]
					   ,[DEF_ServiceInitialized]
					   ,[DEF_ServiceEnded]
					   ,[DEF_TimeIntervalOfVisit]
					   ,[DEF_BillService]
					   ,[DEF_AssociatedService]
					   ,[DEF_TimeIntervalOfCompletion]
					   ,[DEF_ATMBarCode]
					   ,[DEF_ATMStatus]
					   ,[DEF_ATMProvisioningDate]
					   ,[DEF_ATMPreparationDate]
					   ,[DEF_ATMDischargeDate]
					   ,[DEF_ATMServiceDefIdCodeDischarge]
					   ,[DEF_ATMServiceDefIdDischargeToday]
					   ,[DEF_ATMLockState]
					   ,[DEF_ATMPrintState]
					   ,[DEF_ATMDischargeType]
					   ,[DEF_ATMObservation]
					   ,[DEF_ATMBinProvisioned]
					   ,[DEF_ATMBinDischarged]
					   ,[DEF_ATMReceptor]
					   ,[DEF_ATMIdUserReceptor]
					   ,[DEF_ATMHeader]
					   ,[def_AtmModule]
					   ,[DEF_AtmPreparationDateIni]
					   ,[DEF_ATMDischargeDateIni]
					   ,[DEF_ATMDischargeDateEnd]
					   ,[DEF_VALUABLES]
					   ,[DEF_CarrierCompany])
				 VALUES
					   (
					   CASE @ServiceType
					   WHEN 'R' THEN @LMS_RoutePickUP_TEMP
					   when 'E' then @LMS_RouteDelivery_TEMP
					   END,/*@Route*/--<DEF_RouteCode, varchar(50),>
					   CASE @ServiceType
					   WHEN 'R' THEN @LMS_ORIGINCODE
					   when 'E' then @LMS_DESTINATIONCODE
					   END,--<DEF_RouteVisitPoint, bigint,>					   
					   NULL,--<DEF_SafeBox, int,>
					   CASE @ServiceType 
					    WHEN  'R' THEN 1
					    WHEN  'E' THEN 17
						END, --1	RECOLECCION--6,-- 17	ENTREGA   6 INSUMOS <DEF_ServiceType, int,>
					   @LMS_COUNTRY,--<DEF_Country, varchar(2),>
					   @LMS_STATION,--<DEF_Station, int,>
					   CAST(@Date as DATETIME),--<DEF_DateTime, datetime,>
					   1,--<DEF_Status, int,>
					   CASE @ServiceType 
					    WHEN  'R' THEN 'RECOLECCIÓN DE INSUMOS'
					    WHEN  'E' THEN 'ENTREGA DE INSUMOS'
						END,
					   --'ENTREGA DE INSUMOS',--<DEF_Specifications, varchar(1000),>
					   0,--<DEF_AcceptanceStatus, int,>
					   NULL,--<DEF_ServicePetition, int,>
					   @RouteAssigmentDskt,--<DEF_IdRouteAssignment, bigint,>
					   0,--<DEF_SequenceInRoute, int,>
					   NULL,--<DEF_CheckPoint, varchar(2),>
					   9,--<DEF_Scan, int,> --Se crea servicio con estado 9 (Completado) de finalización de servicio 
					   NULL,--<DEF_EstimatedTimeMin, int,>
					   CAST(@Date as DATE),--<DEF_DateDueService, date,>
					   CAST(@Date as DATE),--<DEF_DateInRoute, date,>
					   NULL,--<DEF_ServiceDuration, time(7),>
					   NULL,--<DEF_ServiceInitialized, datetime,>
					   NULL,--<DEF_ServiceEnded, datetime,>
					   '',--<DEF_TimeIntervalOfVisit, varchar(50),>
					   NULL,--<DEF_BillService, int,>
					   NULL,--<DEF_AssociatedService, bigint,>
					   NULL,--<DEF_TimeIntervalOfCompletion, nvarchar(50),>
					   NULL,--<DEF_ATMBarCode, varchar(15),>
					   1,--<DEF_ATMStatus, tinyint,>
					   NULL,--<DEF_ATMProvisioningDate, datetime,>
					   NULL,--<DEF_ATMPreparationDate, datetime,>
					   NULL,--<DEF_ATMDischargeDate, datetime,>
					   NULL,--<DEF_ATMServiceDefIdCodeDischarge, bigint,>
					   NULL,--<DEF_ATMServiceDefIdDischargeToday, bigint,>
					   'TRUE',--<DEF_ATMLockState, bit,>
					   1,--<DEF_ATMPrintState, tinyint,>
					   1,--<DEF_ATMDischargeType, tinyint,>
					   NULL,--<DEF_ATMObservation, varchar(2000),>
					   NULL,--<DEF_ATMBinProvisioned, tinyint,>
					   NULL,--<DEF_ATMBinDischarged, tinyint,>
					   NULL,--<DEF_ATMReceptor, int,>
					   NULL,--<DEF_ATMIdUserReceptor, varchar(50),>
					   NULL,--<DEF_ATMHeader, bigint,>
					   NULL,--<def_AtmModule, int,>
					   NULL,--<DEF_AtmPreparationDateIni, datetime,>
					   NULL,--<DEF_ATMDischargeDateIni, datetime,>
					   NULL,--<DEF_ATMDischargeDateEnd, datetime,>
					   NULL,--<DEF_VALUABLES, int,>
					   1--<DEF_CarrierCompany, int,>
					)
					
					 SET @IdServiceDefinition = (SELECT  SCOPE_IDENTITY() AS IdServiceDef)			
									
					--Guardar relación entre desktop y corporativo
					INSERT INTO DenariusST_Dev.dbo.ServiceCorpbyServiceDesktop
					SELECT @RouteAssigmentDskt,@LMS_SERVICEID,@IdServiceDefinition,@Username,@DATE,1				
				

					INSERT INTO DenariusDesktop_Dev.dbo.SYS_LogisticsTracking
				   (
					 --[SLT_IdLogisticsTracking]
					   [SLT_IdUser]
					 , [SLT_UserName]
					 , [SLT_Station]
					 , [SLT_Country]
					 , [SLT_TypeLogisticsTracking]
					 , [SLT_Tracking]
					 , [SLT_CheckPoint]
					 , [SLT_Web]
					 , [SLT_ServicePeticion]
					 , [SLT_Service]
					 , [SLT_NoEntregaSAP]
					 , [SLT_OrdenVentaSAP]
					 , [SLT_InitialDateTime]
					 , [SLT_DateTime]
					 , [SLT_IsService]
					 , [SLT_ParentIdLogisticsTracking]
					 , [SLT_CardCodeOrigen]
					 , [SLT_VisitPointsDestiny]
					 , [SLT_IdRoute]
				   )
				   values(
				     @IdUser	             
	             	,@Username
					,@LMS_STATION
					,@Country
					,22 --SERVICIO
					,@IdServiceDefinition
					,'AS'
					,0
					,NULL
					,@IdServiceDefinition --Código del servicio
					,NULL
					,NULL
					,GETDATE() --PENDIENTE
					,GETDATE()
					,1 --ES SERVICIO
					,NULL					
					,@_CardCode 
					,@_VisitPoint
					,NULL
				   )
					
					SET @LogisticsTrackingIdService = Scope_identity();
					 --Insertar log OR
					INSERT INTO DenariusDesktop_Dev.dbo.SYS_Log_LogisticsTracking
				  (
				   --[SLL_IdLogLogisticsTracking]
				    [SLL_LogisticsTracking]
				   ,[SLL_IdUser]
				   ,[SLL_UserName]
				   ,[SLL_Station]
				   ,[SLL_Country]
				   ,[SLL_CheckPoint]
				   ,[SLL_DateTime]
				   ,[SLL_OriginStationPlace]
				   ,[SLL_DestinationStationPlace]
				   ,[SLL_Comment]
				   ,[SLL_IdEmployee]
				   ,[SLL_RouteCode]
				   ,[SLL_RouteCountry]
				   ,[SLL_RouteStation]
				   ,[SLL_IdEmployeeProcesses]
				   ,[SLL_DateTime_Log]
				  )
				  VALUES
				  (
					 @LogisticsTrackingIdService
				    ,@IdUser
					,@Username
					,@LMS_STATION
					,@Country
					,'OR'
					,GETDATE()
					,27 --EN RUTA
					,27 --EN RUTA
					,'CREACIÓN DE SERVICIO EN RUTA - DST'
					,null --employee
					,CASE @ServiceType WHEN 'R' THEN @LMS_RoutePickUP_TEMP ELSE @LMS_RouteDelivery_TEMP END
					,@Country		
					,@LMS_STATION
					,NULL --employee processs
					,GETDATE()
				  )
									
					--Insertar log AS
					INSERT INTO DenariusDesktop_Dev.dbo.SYS_Log_LogisticsTracking
				  (
				   --[SLL_IdLogLogisticsTracking]
				    [SLL_LogisticsTracking]
				   ,[SLL_IdUser]
				   ,[SLL_UserName]
				   ,[SLL_Station]
				   ,[SLL_Country]
				   ,[SLL_CheckPoint]
				   ,[SLL_DateTime]
				   ,[SLL_OriginStationPlace]
				   ,[SLL_DestinationStationPlace]
				   ,[SLL_Comment]
				   ,[SLL_IdEmployee]
				   ,[SLL_RouteCode]
				   ,[SLL_RouteCountry]
				   ,[SLL_RouteStation]
				   ,[SLL_IdEmployeeProcesses]
				   ,[SLL_DateTime_Log]
				  )
				  VALUES
				  (
					 @LogisticsTrackingIdService
				    ,@IdUser
					,@Username
					,@LMS_STATION
					,@Country
					,'AS'
					,GETDATE()
					,27 --EN RUTA
					,27 --EN RUTA
					,'CREACIÓN DE SERVICIO EN RUTA - DST'
					,null --employee
					,CASE @ServiceType WHEN 'R' THEN @LMS_RoutePickUP_TEMP ELSE @LMS_RouteDelivery_TEMP END
					,@Country		
					,@LMS_STATION
					,NULL --employee processs
					,GETDATE()
				  )
				  END
							
				END
				
				  DECLARE @ExecutionAction INT
				  IF @ServiceType = 'R' SET @ExecutionAction = 1 ELSE SET @ExecutionAction = 2
					
				   UPDATE LMS SET LMS.LMS_ExecutionAction = @ExecutionAction
				   FROM DenariusCorporate_Dev.DBO.LGT_Master_Service  LMS WITH(NOLOCK)
				   WHERE LMS_ServiceId = @LMS_SERVICEID

					IF (@OPSTATUS IN (200,38))
						EXEC SP_SET_FINISH_PUDL @LMS_SERVICEID, @ServiceType, @DTINIT, @DTFINISH, @OPSTATUS, @SIGNATURE,@DL_Representative,@PU_Representative,@Country
						,@LatitudeStart 
			        ,@LongitudeStart
			        ,@AccuracyStart 
			        ,@LatitudeEnd   
			        ,@LongitudeEnd  
			        ,@AccuracyEnd
					
					,@IdUser
					,@Username					
					,@NameRoute
					,@MaterialList2
					,@MailList
					ELSE
					 EXEC SP_SET_FINISH_PUDL @LMS_SERVICEID, @ServiceType, NULL, NULL, @OPSTATUS, NULL,@DL_Representative,@PU_Representative,@Country
						,@LatitudeStart 
			        ,@LongitudeStart
			        ,@AccuracyStart 
			        ,@LatitudeEnd   
			        ,@LongitudeEnd  
			        ,@AccuracyEnd
					
					,@IdUser
					,@Username					
					,@NameRoute
					,@MaterialList2
					,@MailList

					INSERT INTO @ServiceActionStatus(SERVICEID, PARENTSERVICEID, APPROUTEITEM, SRVSTATUS)
					VALUES (@LMS_SERVICEID, @ParentServiceID, @AppRouteItem, 'CREATED');

					UPDATE @LGT_ServiceItem
						SET SERVICEID = @LMS_SERVICEID
					WHERE SERVICEID = @LMS_PREV_SERVICEID

					UPDATE @LGT_ServiceItem
						SET ParentServiceID = @LMS_SERVICEID
					WHERE ParentServiceID = @LMS_PREV_SERVICEID

				END
		ELSE
		BEGIN
		   print 'Servicio no creado'
			SET @LMS_SERVICEID = @LMS_EXIST_SERVICEID
		END

			--LOS SERVICIOS DE TIPO RECO SIN COMPLETAR SON HIJOS DE UNA ENTREGA
			--	LOS SERVICIOS DE TIPO ENTREGA SIN COMPLETAR SON HIJOS DE UNA RECO
			IF @ServiceType = 'R' AND @OPSTATUS NOT IN (200,38)
			BEGIN
				UPDATE [DenariusCorporate_Dev].dbo.LGT_Master_Service
				SET LMS_OPSTATUS=20,
					LMS_CIPUTIME = NULL,
					LMS_COPUTIME = NULL
				WHERE LMS_ServiceId = @LMS_SERVICEID;
			END
		END 

		FETCH NEXT FROM Detail_cursor 
		INTO @ParentServiceID, @AppRouteItem, @ServiceType,@NameRoute,@LMS_RouteDelivery, @LMS_RoutePickUP, @LMS_ORIGINCODE, @LMS_ORIGINNAME,@LMS_DESTINATIONCODE,@LMS_DESTINATIONNAME,
			@LMS_COUNTRY,@LMS_STATION,@LMS_BILLINGVPCODE,@LMS_BILLINGVPNAME,@LMS_SERVICETYPE,@LMS_COMPANY,@OPSTATUS,@LMS_OPSTATUSDETAIL,@LMS_OPEXDLCOURIER,@LMS_OPEXPUCourier,
			@DtPUInit,@DtPUFinish,@DtDLInit,@DtDLFinish,@ISASSOCIATEDSERVICE,@Signature, @DtInit, @DtFinish,@LMS_BILLINGVPAGECODE,@LMS_BILLINGCARDCODE,
			@LMS_BILLINGCARDCODENAME
			,@MyServiceID
			,@IsDeliveryOnRoute
			,@Is_CountingHouse	
			,@Concentradora	
			,@MailList
END

CLOSE Detail_cursor;
DEALLOCATE Detail_cursor;

----------------------------------------------------------------------------------------------------------------------------------
--Segunda actividad, actualizar materiales que no habían sido enviados al server
PRINT 'SEGUNDA ACTIVIDAD'
PRINT CONVERT( VARCHAR(24), GETDATE(), 113)

print 'Segunda actividad actualizar materiales'
DECLARE @IdSupply int,@ServiceID1 bigint
		DECLARE @VoucherId varchar(100), @_VoucherId nvarchar(100),@Idcountry1 varchar(100),@Station1 varchar(100)
		DECLARE @MaterialId varchar(100),@TypeMaterial int,@NumberOfCoinsBags int
		DECLARE @CurrencyTypeForCoins varchar(100),@Denomination_ForCoins money,@LocalAmount money
		DECLARE @LocalAmountchecks money,@USDAmount money,@USDAmountChecks money,@EURAmount money
		DECLARE @EURAmountChecks money,@OtherForeignAmount money,@OtherForeignAmountChecks money
		DECLARE @OtherForeignCurrencytypeId money,@USDExchangeRate money,@EURExchangeRate money
		DECLARE @OtherForeignExchangeRate money,@UMBRegistrationDate money,@OperationDate varchar(100)
		DECLARE @GrandLocalAmount money

		DECLARE @LMS_CIPUTime DATETIME
		DECLARE	@LMS_CIDLTime DATETIME
		DECLARE	@LMS_COPUTime DATETIME
		DECLARE	@LMS_CODLTime DATETIME
		DECLARE @ROUTECODE VARCHAR(MAX)
		DECLARE @SERVICEDATE DATETIME

		--Origen y destino por material
		DECLARE @OriginCodeM float,@OriginNameM varchar(150),@DestinationCodeM float,@DestinationNameM varchar(150)		

		DECLARE @IsDelivery bit = 0
		DECLARE @IsPickup bit = 0

		if (@ServiceType='E')
		 begin
		  set @IsDelivery=1
		 end
		 
		if (@ServiceType='R')
		 begin
		  set @IsPickup=1
		 end
		
		--Guardar materiales
		DECLARE Detail_cursor CURSOR FOR 
		SELECT IdSupply
		,LMS.LMS_ServiceId
		,VoucherId
		,(case when isnull(rtrim(ltrim(Idcountry)),'') ='' 
		   then LMS.LMS_Country 
		  else Idcountry collate Latin1_General_100_CI_AS
		   end
		   )        
		--,LMS.LMS_Country
		--,Idcountry		
		,(case when isnull(Station,0)=0 
		then LMS.LMS_Station 
		else Station end)        
		--,LMS.LMS_Station
		--,Station

		,MaterialId,TypeMaterial
		,NumberOfCoinsBags,CurrencyTypeForCoins,Denomination_ForCoins
			   ,LocalAmount,LocalAmountchecks,USDAmount,USDAmountChecks,EURAmount,EURAmountChecks,OtherForeignAmount,OtherForeignAmountChecks,OtherForeignCurrencytypeId,USDExchangeRate
			   ,EURExchangeRate,OtherForeignExchangeRate,UMBRegistrationDate,OperationDate,OriginCode,OriginName,DestinationCode,DestinationName,ML.AppRouteItem, LMS_OPStatus
			   ,ML.GrandLocalAmount

			   ,LMS.LMS_CIPUTime
			   ,LMS.LMS_CIDLTime
			   ,LMS.LMS_COPUTime
			   ,LMS.LMS_CODLTime
			   ,CASE  LMS.LMS_ExecutionAction
			    WHEN 1 THEN LMS_RoutePickUP
			    WHEN 2 THEN LMS_RouteDelivery			   
			   END
			   ,LMS.LMS_ServiceDate		
		FROM @MaterialList2 ML, DenariusCorporate_Dev.dbo.LGT_Master_Service LMS WITH(NOLOCK), 
			@ServiceActionStatus SAS
		WHERE ML.APPROUTEITEM = SAS.AppRouteItem
		AND LMS.LMS_ServiceId =  SAS.SERVICEID							
		UNION --Materiales de entrega
		SELECT '' IdSupply
		,LMS.LMS_ServiceId
		,ML.MSM_ValueRegistrationForm
		,LMS.LMS_Country collate Latin1_General_100_CI_AS
		,LMS.LMS_Station,ML.MSM_MaterialCode,ML.MSM_FK_TypeOfMaterial_Id
		,ML.MSM_NumberOfCoinBags,ML.MSM_CurrencyType_ForCoins,ML.MSM_Denomination_ForCoins
			   ,ML.MSM_LocalAmount,ML.MSM_LocalAmountChecks,ML.MSM_USDAmount,ML.MSM_USDAmountChecks,ML.MSM_EURAmount,ML.MSM_EURAmountChecks,ML.MSM_OtherForeignAmount,ML.MSM_OtherForeignAmountChecks,ML.MSM_FK_OtherForeignCurrencyType_Id,ML.MSM_USDExchangeRate
			   ,ML.MSM_EURExchangeRate,ML.MSM_OtherForeignExchangeRate,0 UMBRegistrationDate,LMS.LMS_ServiceDate OperationDate,ML.MSM_OriginCode,ML.MSM_OriginName,ML.MSM_DestinationCode,ML.MSM_DestinationName,0 AppRouteItem, LMS_OPStatus
			   ,ML.MSM_LocalAmount

			   ,LMS.LMS_CIPUTime
			   ,LMS.LMS_CIDLTime
			   ,LMS.LMS_COPUTime
			   ,LMS.LMS_CODLTime
			   ,CASE  LMS.LMS_ExecutionAction
			    WHEN 1 THEN LMS_RoutePickUP
			    WHEN 2 THEN LMS_RouteDelivery			   
			   END
			   ,LMS.LMS_ServiceDate
		FROM DenariusCorporate_Dev.dbo.LGT_Master_Service_Material ML WITH(NOLOCK)
		, DenariusCorporate_Dev.dbo.LGT_Master_Service LMS WITH(NOLOCK)
		join @ServiceList SL on SL.ServiceID = LMS.LMS_ServiceId AND SL.ServiceType = 'E' AND SL.Status<=999
		WHERE LMS.LMS_ServiceId = sl.ServiceID
		and ML.MSM_FK_MasterService_Id = lms.LMS_ServiceId
		 and ServiceID not in(
9495316
,9495317
,9495322
,9495335
,9495320
,9495308
,9495309
,9495310
,9495313
,9495314
,9495323
,9495325
,9495331
,9495311
,9495315
,9495321
,9495327
,9495334
,9495329
,9495330
,9495336
,9495319

,9801227 --2T 02/03/2020
,9801228
,9801229
,9801230
,9801231
,9801232
,9801233
,9801234
,9801235
,9801236
,9801237
,9801238
,9801239
,9801240
,9801241
,9801242
,9801243
,9801244
,9801245
,9801246
,9801247
,9801248

)	
		
		OPEN Detail_cursor

		FETCH NEXT FROM Detail_cursor 
		INTO @IdSupply,@ServiceID1,@_VoucherId,@Idcountry1,@Station1,@MaterialId,@TypeMaterial,@NumberOfCoinsBags,@CurrencyTypeForCoins,@Denomination_ForCoins,@LocalAmount,@LocalAmountchecks
		        ,@USDAmount,@USDAmountChecks,@EURAmount,@EURAmountChecks,@OtherForeignAmount,@OtherForeignAmountChecks,@OtherForeignCurrencytypeId,@USDExchangeRate,@EURExchangeRate
				,@OtherForeignExchangeRate,@UMBRegistrationDate,@OperationDate,@OriginCodeM,@OriginNameM,@DestinationCodeM,@DestinationNameM, @AppRouteItem, @OPSTATUS
				,@GrandLocalAmount

				,@LMS_CIPUTime
				,@LMS_CIDLTime
				,@LMS_COPUTime
				,@LMS_CODLTime
			    ,@ROUTECODE
				,@SERVICEDATE

		
		WHILE @@FETCH_STATUS = 0
		BEGIN	
		print'================================================================================================ '
			DECLARE @err_message nvarchar(255)
			SET @err_message = 'Ya existe voucher: ' + @_VoucherId
			--Validar que no se repitan el voucher
			IF EXISTS(SELECT top 1 1 FROM [DenariusCorporate_Dev].dbo.LGT_Master_Service_Material WITH(NOLOCK) WHERE MSM_ValueRegistrationForm = @_VoucherId)
			 RAISERROR (@err_message,10, 1) 

			 SET @err_message = 'Ya existe bolsa: ' + @MaterialId
			--Validar que no se repitan los materiales
			IF EXISTS(SELECT 1 FROM [DenariusCorporate_Dev].dbo.LGT_Master_Service_Material WITH(NOLOCK) WHERE MSM_MaterialCode = @MaterialId)
			 RAISERROR (@err_message,10, 1) 
		
			--Si número de monedas es 0 cambiarlo por 1
			IF (@NumberOfCoinsBags =0)
			BEGIN
			 set @NumberOfCoinsBags = 1
			END

			--Para sellado en frío que no se envie ese valor
			if (@GrandLocalAmount=0)
			 SET @GrandLocalAmount = @LocalAmount

			DECLARE @GrandTotal money
			SET @GrandTotal= @GrandLocalAmount + @LocalAmountchecks + (@USDAmount + @USDAmountChecks)* dbo.TasaCambio(@Country,'USD') + (@EURAmount + @EURAmountChecks)* dbo.TasaCambio(@Country,'USD') 

			--USA
			IF (@GrandTotal IS NULL)
			SET @GrandTotal = 0

			--MONEDAS
			IF (@TypeMaterial=2)
			BEGIN
			  SET @LocalAmountchecks =0
			  SET @USDAmount =0
			  SET @USDAmountChecks =0
			  SET @EURAmount =0
			  SET @EURAmountChecks =0			   
			END

			select @IdServiceDefinition=SCD_Desk_ServiceDefCodeID from DenariusST_Dev.[dbo].[ServiceCorpbyServiceDesktop] 
			where SCD_Corp_MaterServiceID=@ServiceID1 and cast(SCD_TokenInsertDate as date) = cast(GETDATE() as date)			
			
			--Insertar materiales	
			IF NOT EXISTS(
				SELECT * FROM [DenariusCorporate_Dev].dbo.LGT_Master_Service_Material MSM WITH (NOLOCK)
				WHERE MSM.MSM_MaterialCode = @MaterialId
				AND MSM.MSM_FK_MasterService_Id = @ServiceID1 
			)		
			INSERT INTO [DenariusCorporate_Dev].dbo.LGT_Master_Service_Material
						(MSM_FK_MasterService_Id,MSM_FK_Container_Id,MSM_ValueRegistrationForm,MSM_MaterialCode
						,MSM_FK_TypeOfMaterial_Id
						,MSM_GrandTotalAmount
						,MSM_LocalAmount,MSM_LocalAmountChecks,MSM_USDAmount
						,MSM_USDAmountChecks,MSM_EURAmount,MSM_EURAmountChecks,MSM_OtherForeignAmount						
						,MSM_OtherForeignAmountChecks,MSM_FK_OtherForeignCurrencyType_Id,MSM_USDExchangeRate,MSM_EURExchangeRate												
						,MSM_OtherForeignExchangeRate,MSM_FK_PrepSupplyHdr_Id_ForVoucher,MSM_FK_PrepSupplyHdr_Id_For_Material,MSM_IsInventorySupplies						
						,MSM_NumberOfCoinBags,MSM_CurrencyType_ForCoins,MSM_Denomination_ForCoins,MSM_Country						
						,MSM_Station,MSM_Status,MSM_FK_OperationStatus_Id,MSM_PU
						,MSM_PU_Datetime,MSM_DL,MSM_DL_Datetime,MSM_LastRoute
						,MSM_FK_Master_Service_Material_Related_Id,MSM_MoreCurrencies,MSM_TokeInsertId,MSM_TokenInsertDatetime
						,MSM_TokenUpdateStatusId,MSM_TokenUpdateStatusDatetime
						,MSM_OriginCode,MSM_OriginName,MSM_DestinationCode,MSM_DestinationName						
						)		
			values (
			 @ServiceID1,null,@_VoucherId,@MaterialId
			,@TypeMaterial
			,@GrandTotal
			,@LocalAmount,@LocalAmountchecks,@USDAmount
			,@USDAmountChecks,@EURAmount,@EURAmountChecks,@OtherForeignAmount			
			,@OtherForeignAmountChecks,@OtherForeignCurrencytypeId,@USDExchangeRate,@EURExchangeRate			
			,@OtherForeignExchangeRate,null,null,null
			,@NumberOfCoinsBags,@CurrencyTypeForCoins,@Denomination_ForCoins,@Idcountry1
			,@Station1,@OPSTATUS,@OPSTATUS,@IsPickup			
			,@StartService,@IsDelivery,@StartService,@NameRoute
			,null,null,1,getdate()
			,null,null
			,@OriginCodeM,@OriginNameM,@DestinationCodeM,@DestinationNameM
			
			);

BEGIN TRY       
				--Cambio Delivery, cambiar el estado a 2-Transportado de las guías (bolsas)
			Declare @Guide_Serie varchar(2) = SUBSTRING(@MaterialId,1,2)
			--select @Guide_Serie
			Declare @Guide_Number int = SUBSTRING(@MaterialId,3,LEN(@MaterialId))
			--select @Guide_Number
			
			if (@Guide_Serie  = 'FD')
			BEGIN			
				--Actualizar estado de la orden en cada guía
				update DeliveryBackOffice.dbo.DeliveryOrder
				set StatusOrderId = 2
				where Guide_Serie = @Guide_Serie
				and Guide_Number = @Guide_Number 
				
				IF @@ROWCOUNT = 0  
				BEGIN
					--Checkpoint guía
					insert into DeliveryBackOffice.dbo.DeliveryOrderDetail
					([Guide_Serie], [Guide_Number], [StatusOrderId], [UserCreated], [DateCreated])
					values(@Guide_Serie,@Guide_Number,2,@IdUser,GETDATE())
				END
			END
END TRY  
BEGIN CATCH  
   print 'Error Delivery'  
END CATCH; 



			set @VoucherId=@_VoucherId
			--Guardar información en desktop
			---Voucher
			IF NOT EXISTS (	SELECT DISTINCT materialvoucher.FMD_ID 
								FROM [DenariusDesktop_Dev].DBO.[VRD_ValueRegistrationForm] materialvoucher WITH(NOLOCK) 
								where materialvoucher.FMD_ID = @VoucherId								
							  )
				BEGIN 
					
		
					DECLARE @ISBANKOR TINYINT=0,@ISBANKDE TINYINT=0, @CARDCODEOR NVARCHAR(50)='',@CARDCODEDE NVARCHAR(50)=''

					--Si el origen no es banco, se busca el carcode del destino para colocarlo en voucher de Desktop
					SELECT TOP 1 @ISBANKOR = VP.RVP_IsBank,@CARDCODEOR=RVP_SAPcardCode--,RVP_SAPcardCode,VP.*
					FROM DenariusDesktop_Dev.DBO.ADM_MNG_RouteVisitPoints VP WITH(NOLOCK)
					WHERE 1=1
					AND VP.RVP_VisitPointId=@OriginCodeM
					
					
					SELECT TOP 1 @ISBANKDE =VP.RVP_IsBank ,@CARDCODEDE=RVP_SAPcardCode--,RVP_SAPcardCode,VP.*
					FROM DenariusDesktop_Dev.DBO.ADM_MNG_RouteVisitPoints VP WITH(NOLOCK)
					WHERE 1=1
					AND VP.RVP_VisitPointId=@DestinationCodeM

					print 'Insertar voucher'
					
					DECLARE @NumberBagsTemp AS MONEY = 0
					DECLARE @TotalNumberBagsTemp AS MONEY = 0
					DECLARE @LocalAmountTemp AS MONEY  = 0 
					DECLARE @LocalAmountChecksTemp AS MONEY = 0
					DECLARE @USDAmountTemp AS MONEY = 0
					DECLARE @USDAmountChecksTemp AS MONEY = 0
					DECLARE @EURAmountTemp AS MONEY = 0
					DECLARE @EURAmountChecksTemp AS MONEY = 0
					DECLARE @_MSM_OTHERFOREINGAMOUNT AS MONEY = 0
					DECLARE @_MSM_OTHERFOREINGAMOUNTCHECKS AS MONEY = 0
					DECLARE @GrandLocalAmountVoucher AS MONEY = 0
					
					DECLARE @Temp1 AS MONEY=0
					DECLARE @Temp2 AS MONEY=0

					SELECT @TotalNumberBagsTemp=COUNT(ML.NumberOfCoinsBags)
					,@LocalAmountTemp=SUM(LocalAmount)/COUNT(ML.NumberOfCoinsBags)
					,@LocalAmountChecksTemp=SUM(LocalAmountChecks)/COUNT(ML.NumberOfCoinsBags)
					,@USDAmountTemp= SUM(USDAmount)/COUNT(ML.NumberOfCoinsBags)
					,@USDAmountChecksTemp = SUM(USDAmountChecks)/COUNT(ML.NumberOfCoinsBags)
					,@EURAmountTemp = SUM(EURAmount)/COUNT(ML.NumberOfCoinsBags)
					,@EURAmountChecks= SUM(EURAmountChecks)/COUNT(ML.NumberOfCoinsBags)
					,@GrandLocalAmountVoucher= SUM(LocalAmount)/COUNT(ML.NumberOfCoinsBags) + SUM(LocalAmountChecks)/COUNT(ML.NumberOfCoinsBags) 
					     + (SUM(USDAmount)/COUNT(ML.NumberOfCoinsBags) + SUM(USDAmountChecks)/COUNT(ML.NumberOfCoinsBags))* dbo.TasaCambio(@Country,'USD') 
						 + (SUM(EURAmount)/COUNT(ML.NumberOfCoinsBags) + SUM(EURAmountChecks)/COUNT(ML.NumberOfCoinsBags))* dbo.TasaCambio(@Country,'USD') 

					FROM @MaterialList2 ML, DenariusCorporate_Dev.dbo.LGT_Master_Service LMS WITH(NOLOCK), 
						@ServiceActionStatus SAS
					WHERE 
					ML.APPROUTEITEM = SAS.AppRouteItem
					AND 
					LMS.LMS_ServiceId =  SAS.SERVICEID	
					and ML.VoucherId = @VoucherId
				    and ML.ServiceID = @ServiceID1
					AND ML.TypeMaterial=1					
					
					--Devolvio datos
					if (@TotalNumberBagsTemp>0)
					BEGIN
						print 'devolvio datos'
						 
					 	SELECT  @Temp1=SUM(ML.NumberOfCoinsBags)						      
						FROM @MaterialList2 ML, DenariusCorporate_Dev.dbo.LGT_Master_Service LMS WITH(NOLOCK), 
							@ServiceActionStatus SAS
						WHERE 
						ML.APPROUTEITEM = SAS.AppRouteItem
						AND 
						LMS.LMS_ServiceId =  SAS.SERVICEID	
						and ML.VoucherId = @VoucherId
						and ML.ServiceID = @ServiceID1
						AND ML.TypeMaterial=2
						PRINT @TotalNumberBagsTemp
						SET @TotalNumberBagsTemp = @TotalNumberBagsTemp + COALESCE(@Temp1,0)
						PRINT @TotalNumberBagsTemp
						
					END 
					ELSE
					BEGIN
					SELECT @Temp1=SUM(ML.NumberOfCoinsBags)
						,@LocalAmountTemp=SUM(LocalAmount)
						 ,@Temp2=SUM(ML.LocalAmount)										
						FROM @MaterialList2 ML, DenariusCorporate_Dev.dbo.LGT_Master_Service LMS WITH(NOLOCK), 
							@ServiceActionStatus SAS
						WHERE 
						ML.APPROUTEITEM = SAS.AppRouteItem
						AND 
						LMS.LMS_ServiceId =  SAS.SERVICEID	
						and ML.VoucherId = @VoucherId
						and ML.ServiceID = @ServiceID1
						AND ML.TypeMaterial=2

						SET @TotalNumberBagsTemp = @TotalNumberBagsTemp + COALESCE(@Temp1,0)
						SET @GrandLocalAmountVoucher = @GrandLocalAmountVoucher + COALESCE(@Temp2,0)


						SET @LocalAmountChecksTemp=0
						SET @USDAmountTemp= 0
						SET @USDAmountChecksTemp = 0
						SET @EURAmountTemp = 0
						SET @EURAmountChecks= 0
					END

					--GROUP BY ML.NumberOfCoinsBags
							
					INSERT INTO [DenariusDesktop_Dev].DBO.[VRD_ValueRegistrationForm]
							([FMD_ID]
							,[FMD_CheckInDateTime]
							,[FMD_CheckOutDateTime]
							,[FMD_Route]
							,[FMD_FleetId]
							,[FMD_OrdinarySpecialSrv]
							,[FMD_FormDate]
							,[FMD_DeliverdTo]
							,[FMD_DeliverdFrom]
							,[FMD_ReceivedFrom]
							,[FMD_AmountBagsLetters]
							,[FMD_AmountBags]
							,[FMD_TotalNum]
							,[FMD_TotalLeters]
							,[FMD_RecievedFrom]
							,[FMD_RecievedFromCode]
							,[FMD_DeliverTo]
							,[FMD_DeliverToCode]
							,[FMD_FormCreated]
							,[FMD_Observation]
							,[FMD_RouteServiceDefinition]
							,[FMD_Country]
							,[FMD_Station]
							,[FMD_SecuritySeal]
							,[FMD_SCAN]
							,[FMD_Client]
							,[FMD_ContainerCode]
							,[FMD_ServicePetitionCode]
							,[FMD_IsReturn]
							,[FMD_LocalCashCoin]
							,[FMD_LocalCheckCoin]
							,[FMD_DolarCash]
							,[FMD_DolarCheck]
							,[FMD_EuroCash]
							,[FMD_EuroCheck]
							,[FMD_OtherCash]
							,[FMD_OtherCheck]
							,[FMD_OtherCurrency]
							,[FMD_CNY_Id]
							)
							VALUES
								(
								@VoucherId--<FMD_ID, varchar(200),>
								,CASE @ServiceType 
								 WHEN 'R' THEN 
									@LMS_CIPUTime 
								 WHEN 'E' THEN
									@LMS_CIDLTime
								 END --<FMD_CheckInDateTime, date,>
								,CASE @ServiceType 
								 WHEN 'R' THEN 
									@LMS_COPUTime 
								 WHEN 'E' THEN
									@LMS_CODLTime
								 END--<FMD_CheckOutDateTime, date,>
								,@RouteCode--<FMD_Route, varchar(15),>
								,NULL--<FMD_FleetId, varchar(50),>
								,1--<FMD_OrdinarySpecialSrv, int,>
								,@SERVICEDATE--<FMD_FormDate, datetime,>
								,NULL--<FMD_DeliverdTo, varchar(150),>
								,NULL--<FMD_DeliverdFrom, varchar(150),>
								,NULL--<FMD_ReceivedFrom, nvarchar(300),>
								,UPPER([DenariusBilling_Dev].dbo.[ConvertirNumero] (@TotalNumberBagsTemp)) --<FMD_AmountBagsLetters, varchar(50),>
								,@TotalNumberBagsTemp--<FMD_AmountBags, int,>
								,@GrandLocalAmountVoucher--<FMD_TotalNum, money,>
								,UPPER([DenariusBilling_Dev].dbo.[ConvertirNumero] (@GrandLocalAmountVoucher))--<FMD_TotalLeters, varchar(200),>
								,@OriginNameM--<FMD_RecievedFrom, nvarchar(300),>
								,@OriginCodeM--<FMD_RecievedFromCode, bigint,>
								,@DestinationNameM--<FMD_DeliverTo, nvarchar(300),>
								,@DestinationCodeM--<FMD_DeliverToCode, bigint,>
								,CAST(GETDATE() AS DATE)--<FMD_FormCreated, date,>
								,'VOUCHER CREADO EN SECURE TRANSFER DE CORPORATIVO A DENARIUS LEGACY'--<FMD_Observation, text,>
								,@IdServiceDefinition--<FMD_RouteServiceDefinition, bigint,>
								,@Idcountry1--<FMD_Country, varchar(2),>
								,@Station1--<FMD_Station, int,>
								,'-'--<FMD_SecuritySeal, varchar(50),>
								,2--<FMD_SCAN, int,>
								,(CASE WHEN @ISBANKOR=1 THEN @CARDCODEOR ELSE @CARDCODEDE END)--@_LMS_BILLINGCARDCODE--<FMD_Client, varchar(50),>
								,NULL--<FMD_ContainerCode, varchar(50),>
								,NULL--<FMD_ServicePetitionCode, int,>
								,NULL--<FMD_IsReturn, bit,>
								,@LocalAmountTemp--<FMD_LOCALCASHCOIN, FLOAT,>
								,@LocalAmountChecksTemp--<FMD_LOCALCHECKCOIN, FLOAT,>
								,@USDAmountTemp--<FMD_DOLARCASH, FLOAT,>
								,@USDAmountChecksTemp--<FMD_DOLARCHECK, FLOAT,>
								,@EURAmountTemp--<FMD_EUROCASH, FLOAT,>
								,@EURAmountChecksTemp--<FMD_EUROCHECK, FLOAT,>
								,@EURAmountTemp--<FMD_OTHERCASH, FLOAT,>
								,@_MSM_OTHERFOREINGAMOUNTCHECKS--<FMD_OTHERCHECK, FLOAT,>
								,0--<FMD_OTHERCURRENCY, FLOAT,>
								,CASE @ServiceType 
										WHEN 'R' THEN 
												(SELECT TOP 1 VP.RVP_IDCOMPANY 
												 FROM DENARIUSDESKTOP_DEV.DBO.ADM_MNG_RouteVisitPoints VP WITH(NOLOCK)
													WHERE 1=1
													AND VP.RVP_VISITPOINTID=@OriginCodeM
												)
										WHEN 'E' THEN
												(SELECT TOP 1 VP.RVP_IDCOMPANY 
												 FROM DENARIUSDESKTOP_DEV.DBO.ADM_MNG_RouteVisitPoints VP WITH(NOLOCK)
													WHERE 1=1
													AND VP.RVP_VISITPOINTID=@DestinationCodeM
												)
								END  --<FMD_CNY_Id, int,>
							)

				END 
				ELSE
				BEGIN
				    PRINT 'Actualizar voucher'
					--Actualizar montos solo si es recolección
					if (@ServiceType ='R')
					BEGIN

						UPDATE [DenariusDesktop_Dev].DBO.[VRD_ValueRegistrationForm]
						SET FMD_LOCALCASHCOIN  = @LocalAmountTemp       
						,FMD_LOCALCHECKCOIN = @LocalAmountChecksTemp	
						,FMD_DOLARCASH	   = @USDAmountTemp 		
						,FMD_DOLARCHECK	   = @USDAmountChecksTemp	
						,FMD_EUROCASH	   = @EURAmountTemp			
						,FMD_EUROCHECK	   = @EURAmountChecksTemp									
						WHERE  FMD_ID = @VoucherId
					END
				 
				END

--BOLSA
			IF NOT EXISTS (	SELECT DISTINCT Bag.DBV_IdBag 
								FROM [DenariusDesktop_Dev].DBO.[VRD_DescriptBagValue] Bag where Bag.DBV_IdBag = @MaterialId
								
							  )
			BEGIN
					print 'Insertar bolsa'				  

					INSERT INTO [DenariusDesktop_Dev].[dbo].[VRD_DescriptBagValue]
							   ([DBV_IdBag]
							   ,[DBV_IdValueReg]
							   ,[DBV_AmountNum]
							   ,[DBV_AmountLetters]
							   ,[DBV_SCAN]
							   ,[DBV_RFcode]
							   ,[DBA_Checkpoint]
							   ,[DBA_AuxRouteServiceDefinition]
							   ,[DBA_ContainerCode]
							   ,[DBV_Type])
						 VALUES
							   (
								   @MaterialId,															--(<DBV_IdBag, varchar(50),>
								   @VoucherId,													--,<DBV_IdValueReg, varchar(200),>
								   @GrandTotal,														--,<DBV_AmountNum, money,>
								   UPPER([DenariusBilling_Dev].dbo.[ConvertirNumero] (@GrandTotal)), --,<DBV_AmountLetters, varchar(200),>
								   CASE @ServiceType 
										WHEN 'R' THEN 3
										WHEN 'E' THEN 9
									END
								   ,																			--,<DBV_SCAN, int,>
								   NULL,																		--,<DBV_RFcode, varchar(50),>
								   CASE @ServiceType 
										WHEN 'R' THEN 'PU'
										WHEN 'E' THEN 'DL'
									END,																		--,<DBA_Checkpoint, varchar(2),>
								   @IdServiceDefinition,														--,<DBA_AuxRouteServiceDefinition, bigint,>
								   NULL,																		--,<DBA_ContainerCode, varchar(50),>
								   NULL																			--,<DBV_Type, int,>
							   )
					print 'pása'
					--Solo para bolsas de monedas
					IF (@TypeMaterial=2)
					BEGIN
							INSERT INTO [DenariusDesktop_Dev].[dbo].[VRD_DescriptBagValue_Currency]
									([DBV_IdBag]
									,[DBV_IdValueReg]
									,[DBV_BagNum]
									,[DBV_Currency]
									,[DBV_Status]
									,[DBV_Datecreation])
							VALUES
									(@MaterialId,--<DBV_IdBag, nvarchar(50),>
									 @VoucherId,--,<DBV_IdValueReg, nvarchar(200),>
									 @NumberOfCoinsBags,--,<DBV_BagNum, int,>
									 SUBSTRING(REPLACE(@MaterialId,@VoucherId, ''),CHARINDEX('D',REPLACE(@MaterialId,@VoucherId,''))+1,200),--,<DBV_Currency, money,>
									 1,--,<DBV_Status, int,>
									 GETDATE())--,<DBV_Datecreation, datetime,>)
				   END			
			END
			ELSE
			BEGIN	
			
			PRINT 'ACTUALIZA ENTREGA BIDCAR'
			PRINT @ServiceType	
			PRINT @MaterialId							
				
			    IF (@ServiceType='R')
				BEGIN
				 update [DenariusDesktop_Dev].[dbo].[VRD_DescriptBagValue]
				 set DBV_SCAN = 3
				 where DBV_IdBag = @MaterialId
				END
				ELSE
				BEGIN
				 update [DenariusDesktop_Dev].[dbo].[VRD_DescriptBagValue]
				 set DBV_SCAN = 9
				 where DBV_IdBag = @MaterialId
				END
			END
			
			---

			FETCH NEXT FROM Detail_cursor 
				INTO @IdSupply,@ServiceID1,@_VoucherId,@Idcountry1,@Station1,@MaterialId,@TypeMaterial,@NumberOfCoinsBags,@CurrencyTypeForCoins,@Denomination_ForCoins
				,@LocalAmount,@LocalAmountchecks,@USDAmount,@USDAmountChecks,@EURAmount,@EURAmountChecks,@OtherForeignAmount,@OtherForeignAmountChecks,@OtherForeignCurrencytypeId,@USDExchangeRate
				,@EURExchangeRate,@OtherForeignExchangeRate,@UMBRegistrationDate,@OperationDate,@OriginCodeM,@OriginNameM,@DestinationCodeM,@DestinationNameM, @AppRouteItem, @OPSTATUS
				,@GrandLocalAmount

				,@LMS_CIPUTime
				,@LMS_CIDLTime
				,@LMS_COPUTime
				,@LMS_CODLTime
			    ,@ROUTECODE
				,@SERVICEDATE
		END

		CLOSE Detail_cursor;
		DEALLOCATE Detail_cursor;
	
----------------------------------------------------------------------------------------------------------------------------------
--Tercer actividad obtener rutero
PRINT 'TERCER ACTIVIDAD'
PRINT CONVERT( VARCHAR(24), GETDATE(), 113)

print 'Tercer actividad obtener rutero'
set @DateRoute2 = convert(date,getdate(),103)

SET @IdEmployee = 
(
	SELECT U.USR_IdEmployee
	FROM DenariusUser_Dev.dbo.LGN_User U WITH(NOLOCK)
	WHERE U.USR_IdUser = @IdUser AND U.USR_Username = @Username
)

print 'rutero'
print @IdEmployee
-----------------------------------------------------------------------------------------------------------------------------------
declare @CountryByUser TABLE(
							Country varchar(2)                        
						)
		
INSERT INTO @CountryByUser
select top 1
RUR.RUR_IdCountry
from DenariusUser_Dev.dbo.LGN_RolByUserByRegion RUR WITH(NOLOCK)
, DenariusUser_Dev.dbo.LGN_Restriction RES WITH(NOLOCK)
where RUR.RUR_IdUser=@IdUser
and RUR.RUR_Username=@Username
and RES.RST_IdUser = @IdUser
and RES.RST_Username = @Username
and RES.RST_Status ='ACTIVE'
and RES.RST_IdSystem=9
and RUR.RUR_IdRol in (698,699,749)--DEV 595,673 QA Y PROD 698,699

print 'PAIS'
--select * from @CountryByUser

declare @Rutero TABLE(
						LMS_SERVICEID BIGINT NOT NULL,
                        LMS_Country varchar(2) NOT NULL,
						LMS_Station TINYINT NOT NULL, 
                        LMS_ServiceDate datetime NOT NULL,
                        prioridad INT,
                        LMS_ORIGINCODE bigint,
                        LMS_OPEXDLCOURIER INT, --NOMBRE DEL CAMPO, REALMENTE ES EL COURIER SIN IMPORTAR SI ES PU O DL
                        LMS_ORIGINNAME varchar (150) COLLATE Latin1_General_100_CI_AS NULL,
                        [LMS_Comments] nvarchar (max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
                        DireccionOrigen VARCHAR(510) COLLATE Latin1_General_100_CI_AS NULL,
                        LMS_DESTINATIONNAME varchar (150) COLLATE Latin1_General_100_CI_AS NULL,
                        DireccionDestino VARCHAR(510) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
                        InstEspeciales NVARCHAR(max) NULL,
                        latitud NVARCHAR(20) NULL,
                        longitud NVARCHAR(20) NULL,
                        Hora_Pactada datetime  NULL,
                        
                        Hora_Maxima DATETIME  NULL,
                        ruta NVARCHAR(10) NULL,
                        ciclo NVARCHAR(20) NULL,
                        ServiceType VARCHAR(2) NULL,
                        LMS_SERVICETYPE SMALLINT NULL,
                        LMS_DestinationCode INT NULL,
                        ExchangeRate FLOAT NULL,
                        ExchangeRateEuro FLOAT NULL,
						LMS_Type tinyint --Tipo de elemento
						,AllowNullGeoreference bit 
						,AllowInaccuracy bit
						,PU_Representative VARCHAR(50)
						,DL_Representative VARCHAR(50)
						,UMB int
						,IsToken bit
						,NeedElectronicVoucher bit
						,ServiceDefCodeID bigint
						,AgCode int
						,CI_EndService datetime NULL
						,CO_EndService datetime NULL
						,MailList VARCHAR(500)
                       )

INSERT INTO @Rutero
	
SELECT distinct lms_serviceid, 
       lms_country, 
       lms_station, 
       lms_servicedate, 
       Isnull(lms_priority, 0)                                prioridad, 
       lms_origincode                                         bigint, 
       ----CODIGO ORIGEN 
       Isnull(lms_opexdlcourier, lms_opexpucourier), 
       --   (CASE ServiceType WHEN 'E' THEN LMS_OPEXDLCOURIER ELSE LMS_OPEXPUCOURIER END) AS COURIER,
       lms_originname, 
       lms_comments, 
       (SELECT rvp_branchaddress 
        FROM   denariusdesktop_dev.dbo.adm_mng_routevisitpoints rvp WITH (nolock 
               ) 
        WHERE  RVP.rvp_visitpointid = ms.lms_origincode)      DireccionOrigen, 
       lms_destinationname, 
       (SELECT rvp_branchaddress 
        FROM   denariusdesktop_dev.dbo.adm_mng_routevisitpoints rvp WITH (nolock 
               ) 
        WHERE  RVP.rvp_visitpointid = ms.lms_destinationcode) DireccionDestino, 
       (SELECT rtrim(ltrim(CASE Isnull(rvp_esinstructions, '') WHEN '' THEN '' ELSE 
               rvp_esinstructions + 
               ' ' END + 'Cantidad llaves : ' + CONVERT(VARCHAR, CASE 
               Isnull(Rtrim(Ltrim(RVP.rvp_safeboxnum)), '0') WHEN '0' THEN '0' 
               WHEN '' 
               THEN '0' 
               ELSE (CASE Isnull(Cast ( 
               rvp_safeboxkeyamount AS VARCHAR(20)), '1') WHEN '0' THEN '1' ELSE 
               Isnull(Cast 
               ( 
               rvp_safeboxkeyamount AS VARCHAR(20)), '1') END ) END) 
               ))
			   +
			   CHAR(30) + CHAR(10)
			   +
			   --cambio de línea
			   + 'Cantidad llaveros: ' + CONVERT(VARCHAR, CASE 
               Isnull(Rtrim(Ltrim(RVP.rvp_safeboxnum)), '0') WHEN '0' THEN '0' 
               WHEN '' 
               THEN '0' 
               ELSE 
               denariusdesktop_dev.dbo.Fn_return_keychainamount(rvp_safeboxnum) 
               END) 

			   +
			   CHAR(30) + CHAR(10)
			   +

               --cambio de línea
			   + 'Códigos llaveros: ' + CONVERT(VARCHAR, CASE 
               Isnull(Rtrim(Ltrim(RVP.rvp_safeboxnum)), '0') WHEN '0' THEN '0' 
               WHEN '' 
               THEN '0' 
               ELSE rvp_safeboxnum END) RVP_ESINSTRUCTIONS 
        FROM   denariusdesktop_dev.dbo.adm_mng_routevisitpoints rvp WITH (nolock 
               ) 
        WHERE  ( RVP.rvp_visitpointid = ms.lms_origincode 
                 AND MS.LMS_ExecutionAction = 1 ) 
                OR ( RVP.rvp_visitpointid = ms.lms_destinationcode 
                     AND MS.LMS_ExecutionAction = 2 ))                  InstEspeciales, 
       Isnull((SELECT Isnull(rvp_u_latitud, 0) RVP_U_latitud 
               FROM   denariusdesktop_dev.dbo.adm_mng_routevisitpoints rvp WITH 
                      (nolock 
                      ) 
               WHERE  ( RVP.rvp_visitpointid = ms.lms_origincode 
                        AND MS.LMS_ExecutionAction = 1 ) 
                       OR ( RVP.rvp_visitpointid = ms.lms_destinationcode 
                            AND MS.LMS_ExecutionAction = 2 )), 0)       latitud, 
       Isnull((SELECT Isnull(rvp_u_longitud, 0) RVP_U_Longitud 
               FROM   denariusdesktop_dev.dbo.adm_mng_routevisitpoints rvp WITH 
                      (nolock 
                      ) 
               WHERE  ( RVP.rvp_visitpointid = ms.lms_origincode 
                        AND MS.LMS_ExecutionAction = 1 ) 
                       OR ( RVP.rvp_visitpointid = ms.lms_destinationcode 
                            AND MS.LMS_ExecutionAction = 2 )), 0)       longitud, 
       lms_servicedate                                        'Hora_Pactada', 
       ms.lms_servicedatemax                                  'Hora_Maxima', 
       Isnull(lms_routedelivery, lms_routepickup)             ruta, 
       'AM', 
       ( CASE MS.LMS_ExecutionAction 
           WHEN 1 THEN 'R' 
           WHEN 2 THEN 'E' 
         END )                                                AS ServiceType, 
       lms_servicetype, 
       ms.lms_destinationcode,---CODIGO DE PUNTO DE VISITA DESTINO 
       (SELECT TOP 1 cur_exchangerate 
        FROM   denariusdesktop_dev.dbo.prm_currency C WITH (nolock) 
        WHERE  C.cur_country = lms_country COLLATE latin1_general_100_ci_as), 
       0, 
       lms_opstatus, 
       Isnull((SELECT Isnull(vpc_allownullgeoreference, 'true') 
                      AllowNullGeoreference 
               FROM   denariusdesktop_dev.dbo.adm_mng_routevisitpoints rvp WITH 
                      (nolock 
                      ) 
                      LEFT JOIN 
                      denariuscorporate_dev.dbo.mng_visitpointstoconfigure vc  
                      ( 
                      nolock) 
                             ON vc.vpc_visitpointid = RVP.rvp_visitpointid 
               WHERE  ( RVP.rvp_visitpointid = ms.lms_origincode 
                        AND MS.LMS_ExecutionAction = 1 ) 
                       OR ( RVP.rvp_visitpointid = ms.lms_destinationcode 
                            AND MS.LMS_ExecutionAction = 2 )), 'false') 
       AllowNullGeoreference, 
       Isnull((SELECT Isnull(vpc_allowinaccuracy, 'true') AllowInaccuracy 	 
               FROM   denariusdesktop_dev.dbo.adm_mng_routevisitpoints rvp WITH 
                      (nolock 
                      ) 
                      LEFT JOIN 
                      denariuscorporate_dev.dbo.mng_visitpointstoconfigure vc 
                      ( 
                      nolock) 
                             ON vc.vpc_visitpointid = RVP.rvp_visitpointid 
               WHERE  ( RVP.rvp_visitpointid = ms.lms_origincode 
                        AND MS.LMS_ExecutionAction = 1 ) 
                       OR ( RVP.rvp_visitpointid = ms.lms_destinationcode 
                            AND MS.LMS_ExecutionAction = 2 )), 'false') AllowInaccuracy 
	   ,MSE.MSE_PU_Representative
	   ,MSE.MSE_DL_Representative	   
	   , CASE MS.LMS_ExecutionAction 
           WHEN 1 THEN isnull(LMS_UMBPickUP  ,0)
           WHEN 2 THEN isnull(LMS_UMBDelivery,0)
         END UMB,
	COALESCE(ACY_ISToken,0)
	,COALESCE(ACY_NeedElectronicVoucher,0)
	,DK.SCD_Desk_ServiceDefCodeID
	,VPOrigin.RVP_AgCode
	,CASE MS.LMS_ExecutionAction  
	 WHEN 1 THEN MS.LMS_CIPUTime
	 WHEN 2 THEN MS.LMS_CIDLTime
	 END CI_ENDSERVICE
	 ,CASE MS.LMS_ExecutionAction  
	 WHEN 1 THEN MS.LMS_COPUTime
	 WHEN 2 THEN MS.LMS_CODLTime
	 END CO_ENDSERVICE	
	 , MBV.MVP_MailList
		
 FROM [DenariusCorporate_Dev].[dbo].[LGT_Master_Service] MS with(nolock)
 
	 LEFT JOIN DenariusST_Dev.dbo.DST_MailByVisitPoint MBV WITH (NOLOCK) ON 
	  MBV.MVP_Status=1
	  AND MBV.MVP_VisitPointId =	
	  CASE WHEN MS.LMS_ExecutionAction = 1 THEN
				LMS_ORIGINCODE
				ELSE LMS_DestinationCode
				END

        JOIN [DenariusCorporate_Dev].dbo.[LGT_Master_Services_Event] MSE with(nolock) on MSE.MSE_ServiceId = LMS_ServiceId and MSE.MSE_IsBlocked = 'false'
		JOIN DenariusDesktop_Dev.dbo.ADM_MNG_RouteVisitPoints VPOrigin with(nolock) on VPOrigin.RVP_VisitPointId = MS.LMS_OriginCode		
		LEFT JOIN DenariusDesktop_Dev.dbo.ADM_SYS_Client SC WITH (NOLOCK) on VPOrigin.RVP_SAPcardCode = SC.ACY_ClientCardCode
		JOIN DenariusST_Dev.dbo.ServiceCorpbyServiceDesktop DK with(nolock) ON MS.LMS_ServiceId = DK.SCD_Corp_MaterServiceID and cast(DK.SCD_TokenInsertDate as date) = cast(GETDATE() as date)
		JOIN DenariusST_Dev.dbo.DST_RouteAssignment RA with(nolock) on CONVERT(DATE,RA.DateOfRoute) =  CONVERT(date, MS.LMS_ServiceDate)  --Solo carga ruta activa
		      AND RA.Station = MS.LMS_Station and RA.Country = MS.LMS_Country collate SQL_Latin1_General_CP1_CI_AS
			  AND 
			   (
			    RA.RouteCode = MS.LMS_RoutePickUP OR RA.RouteCode = MS.LMS_RouteDelivery
			   )	
			   AND RA.Status = 1 			
	,DenariusDesktop_Dev.DBO.LGT_INF_Employee EMP WITH (nolock),
	DenariusUser_Dev.dbo.LGN_User us WITH (NOLOCK)	 
	,@CountryByUser CU 	
	  	  

				/*
				CASE MS.LMS_ExecutionAction
				WHEN 1 THEN LMS_ORIGINCODE
				ELSE LMS_DestinationCode
				END  	  
				*/

				/*
				CASE WHEN MS.LMS_ExecutionAction  = 1 THEN LMS_ORIGINCODE
	  CASE WHEN MS.LMS_ExecutionAction  = 2 THEN LMS_DestinationCode	  
	  END 	 
				*/

WHERE
1=1 
AND LMS_ServiceDate>=CONVERT(DATETIME,CONVERT(VARCHAR(50),@DateRoute2, 103)+ ' 00:00:00',103) AND LMS_ServiceDate <CONVERT(DATETIME,CONVERT(VARCHAR(50),@DateRoute2, 103)+' 23:59:59',103)
AND US.USR_IdEmployee=EMP.IdEmployee
AND us.USR_Username=@Username
AND us.USR_IdUser=@IdUser
AND LMS_Country = cu.Country collate Latin1_General_100_CI_AS
AND (ISNULL(LMS_OPEXDLCOURIER,LMS_OPEXPUCOURIER)=EMP.IdEmployee or (lms_opexdlcourier=0 AND lms_opexpucourier=emp.idemployee))
AND (LMS_OPEXDLCOURIER = @IdEmployee OR LMS_OPEXPUCOURIER = @IdEmployee)

print'================================================================================================ 10 '
----------------------------------------------------------------------------------------------------------------------------------
--CARGA DE RUTERO
SELECT * FROM @Rutero
order by LMS_ServiceDate
----------------------------------------------------------------------------------------------------------------------------------
--HORA DEL SERVIDOR
SELECT GETDATE() 'Hora_server'
print 'Hora del servidor'
----------------------------------------------------------------------------------------------------------------------------------
		SELECT TOP 1 
			@RouteCountry = STN_IDCOUNTRY,
			@RouteStation= ISNULL(STN_IDSTATION,0),
			@STATIONDESCRIPTION = STN_NAME,
			@NameRoute = ruta
		FROM @RUTERO JOIN [DENARIUSDESKTOP_DEV].[DBO].[PRM_STATION] 
			ON LMS_STATION= STN_IDSTATION

----------------------------------------------------------------------------------------------------------------------------------
print 'UMB'
--UMB
SELECT top 1 @UMB = RA.UMB
  FROM [DenariusST_Dev].[dbo].[DST_RouteAssignment] RA WITH(NOLOCK)
  join @Rutero rut on ruta = RouteCode 
  where 
  Country = @Country
  and Station = rut.LMS_Station
  and DateOfRoute>=CONVERT(DATETIME,CONVERT(VARCHAR(50),@DateRoute2, 103)+ ' 00:00:00',103) AND DateOfRoute <CONVERT(DATETIME,CONVERT(VARCHAR(50),@DateRoute2, 103)+' 23:59:59',103)
  and Status= 1

----------------------------------------------------------------------------------------------------------------------------------
print 'Destinos válidos'
--DESTINOS VÁLIDOS
SELECT DISTINCT				
				CASE Ru.ServiceType
				WHEN 'R' THEN ru.LMS_ORIGINCODE
				ELSE ru.LMS_DESTINATIONCODE
				END AS VisitPoint,				
				RVP.RVP_VisitPointId AS VisitPointDestino,	
				'False' DestinoDefault,													
                RVP.RVP_ClientBranchName + '                ||                ' + RVP.RVP_BranchAddress AS 'PUNTO' ,
                RVP.RVP_BranchAddress AS 'DIRECCION' ,
                RVP.RVP_SAPcardCode AS 'CARDCODE CLIENTE' ,
                COALESCE(RVP.RVP_AgCode, 0) AS 'CODIGO PUNTO' ,				 
                RVP.RVP_Country AS 'PAIS' ,
                RVP.RVP_Station AS 'StationId',               
			    null 'Estacion',	
				--IsNull(case RVP_U_latitud,'0')RVP_U_latitud,
				
				CASE
				--WHEN RVP_U_latitud = '' THEN 0
				--WHEN RVP_U_latitud IS NULL THEN 0 				
				WHEN ISNUMERIC(RVP_U_latitud) = 0 THEN 0
				ELSE  CONVERT(decimal,RVP_U_latitud )
				END RVP_U_latitud,
				CASE
				--WHEN RVP_U_Longitud = '' THEN 0
				--WHEN RVP_U_Longitud IS NULL THEN 0 				
				WHEN ISNUMERIC(RVP_U_Longitud) = 0 THEN 0
				ELSE  CONVERT(decimal,RVP_U_Longitud )
				END RVP_U_Longitud ,	
					
                CASE RVP.RVP_IsBank
                  WHEN 'False' THEN 0
                  WHEN 'True' THEN 1
                  ELSE 0
                END AS 'IsBank' ,
                 CASE RVP.RVP_Is_CountingHouse
                  WHEN 'False' THEN 0
                  WHEN 'True' THEN 1
                  ELSE 0
                END AS 'IsCountingHouse' ,
                RVP.RVP_ClientBranchName AS 'VISITPOINTsNAME' ,
                CASE RVP.rvp_isATM 
                  WHEN 'False' THEN 0
                  WHEN 'True' THEN 1
                  ELSE 0 end
                AS 'IS_ATM'				
				--,COALESCE(RVP.RVP_IsDeliveryOnRoute,0) AS 'IsDeliveryInRoute'
				,COALESCE(RVP.RVP_IsDeliveryOnRoute,0) AS 'IsDeliveryInRoute'
				,COALESCE(RVP.RVP_Concentradora,0) AS 'IsConcentrator'
				--,MBV.MVP_MailList MailList
FROM  
				DenariusDesktop_Dev.dbo.ADM_MNG_destiny_by_visit_point WITH (NOLOCK)
                  INNER JOIN @Rutero Ru
				  on 
				     Ru.LMS_ORIGINCODE=FK_DVP_visit_point_origin and Ru.ServiceType = 'R'
					 JOIN DenariusDesktop_Dev.dbo.ADM_MNG_RouteVisitPoints RVP WITH (NOLOCK)
						ON RVP.RVP_VisitPointId =FK_DVP_visit_point_destiny and Ru.ServiceType = 'R'				
						AND RVP.RVP_U_fechabaja IS NULL
					--LEFT JOIN DenariusST_Dev.dbo.DST_MailByVisitPoint MBV WITH (NOLOCK) ON RVP.RVP_VisitPointId = MBV.MVP_VisitPointId and MBV.MVP_Status=1
UNION

SELECT DISTINCT				
				CASE Ru.ServiceType
				WHEN 'R' THEN ru.LMS_ORIGINCODE
				ELSE ru.LMS_DESTINATIONCODE
				END AS VisitPoint,				
				RVP.RVP_VisitPointId AS VisitPointDestino,	
				'False' DestinoDefault,													
                RVP.RVP_ClientBranchName + '                ||                ' + RVP.RVP_BranchAddress AS 'PUNTO' ,
                RVP.RVP_BranchAddress AS 'DIRECCION' ,
                RVP.RVP_SAPcardCode AS 'CARDCODE CLIENTE' ,                
				COALESCE(RVP.RVP_AgCode, 0) AS 'CODIGO PUNTO' ,				 
                RVP.RVP_Country AS 'PAIS' ,
                RVP.RVP_Station AS 'StationId',               
			    null 'Estacion',	
				
				CASE
				--WHEN RVP_U_latitud = '' THEN 0
				--WHEN RVP_U_latitud IS NULL THEN 0 				
				WHEN ISNUMERIC(RVP_U_latitud) = 0 THEN 0
				ELSE  CONVERT(decimal,RVP_U_latitud )
				END RVP_U_latitud,
				CASE
				--WHEN RVP_U_Longitud = '' THEN 0
				--WHEN RVP_U_Longitud IS NULL THEN 0 				
				WHEN ISNUMERIC(RVP_U_Longitud) = 0 THEN 0
				ELSE  CONVERT(decimal,RVP_U_Longitud )
				END RVP_U_Longitud ,						

                CASE RVP.RVP_IsBank
                  WHEN 'False' THEN 0
                  WHEN 'True' THEN 1
                  ELSE 0
                END AS 'IsBank' ,
                 CASE RVP.RVP_Is_CountingHouse
                  WHEN 'False' THEN 0
                  WHEN 'True' THEN 1
                  ELSE 0
                END AS 'IsCountingHouse' ,
                RVP.RVP_ClientBranchName AS 'VISITPOINTsNAME' ,
                CASE RVP.rvp_isATM 
                  WHEN 'False' THEN 0
                  WHEN 'True' THEN 1
                  ELSE 0 end
                AS 'IS_ATM'				
				--,COALESCE(RVP.RVP_IsDeliveryOnRoute,0) AS 'IsDeliveryInRoute'
				,COALESCE(RVP.RVP_IsDeliveryOnRoute,0) AS 'IsDeliveryInRoute'
				,COALESCE(RVP.RVP_Concentradora,0) AS 'IsConcentrator'
				-- ,MBV.MVP_MailList MailList
FROM  
				DenariusDesktop_Dev.dbo.ADM_MNG_destiny_by_visit_point WITH (NOLOCK)
                  INNER JOIN @Rutero Ru
				  on 
				     Ru.LMS_DESTINATIONCODE=FK_DVP_visit_point_destiny and Ru.ServiceType = 'E'
					 JOIN DenariusDesktop_Dev.dbo.ADM_MNG_RouteVisitPoints RVP WITH (NOLOCK)
						on RVP.RVP_VisitPointId =FK_DVP_visit_point_origin and Ru.ServiceType = 'E'
						AND RVP.RVP_U_fechabaja IS NULL
					 --LEFT JOIN DenariusST_Dev.dbo.DST_MailByVisitPoint MBV WITH (NOLOCK) ON RVP.RVP_VisitPointId = MBV.MVP_VisitPointId and MBV.MVP_Status=1
-- Para casos de remesas de dotación en ruta cargar visit point de destinos
UNION
SELECT DISTINCT				
				CASE Ru.ServiceType
				WHEN 'R' THEN ru.LMS_ORIGINCODE
				ELSE ru.LMS_DESTINATIONCODE
				END AS VisitPoint,				
				RVP.RVP_VisitPointId AS VisitPointDestino,	
				'False' DestinoDefault,													
                RVP.RVP_ClientBranchName + '                ||                ' + RVP.RVP_BranchAddress AS 'PUNTO' ,
                RVP.RVP_BranchAddress AS 'DIRECCION' ,
                RVP.RVP_SAPcardCode AS 'CARDCODE CLIENTE' ,                
				COALESCE(RVP.RVP_AgCode, 0) AS 'CODIGO PUNTO' ,				 
                RVP.RVP_Country AS 'PAIS' ,
                RVP.RVP_Station AS 'StationId',               
			    null 'Estacion',				
				CASE				
				WHEN ISNUMERIC(RVP_U_latitud) = 0 THEN 0
				ELSE  CONVERT(decimal,RVP_U_latitud )
				END RVP_U_latitud,
				CASE				
				WHEN ISNUMERIC(RVP_U_Longitud) = 0 THEN 0
				ELSE  CONVERT(decimal,RVP_U_Longitud )
				END RVP_U_Longitud ,						
                CASE RVP.RVP_IsBank
                  WHEN 'False' THEN 0
                  WHEN 'True' THEN 1
                  ELSE 0
                END AS 'IsBank' ,
                 CASE RVP.RVP_Is_CountingHouse
                  WHEN 'False' THEN 0
                  WHEN 'True' THEN 1
                  ELSE 0
                END AS 'IsCountingHouse' ,
                RVP.RVP_ClientBranchName AS 'VISITPOINTsNAME' ,
                CASE RVP.rvp_isATM 
                  WHEN 'False' THEN 0
                  WHEN 'True' THEN 1
                  ELSE 0 end
                AS 'IS_ATM'								
				,COALESCE(RVP.RVP_IsDeliveryOnRoute,0) AS 'IsDeliveryInRoute'
				,COALESCE(RVP.RVP_Concentradora,0) AS 'IsConcentrator'
				--,MBV.MVP_MailList MailList
FROM  
				@Rutero Ru                  				  				     
				JOIN DenariusDesktop_Dev.dbo.ADM_MNG_RouteVisitPoints RVP WITH (NOLOCK)
						ON RVP.RVP_VisitPointId = RU.LMS_DestinationCode
						AND RVP.RVP_U_fechabaja IS NULL
				--LEFT JOIN DenariusST_Dev.dbo.DST_MailByVisitPoint MBV WITH (NOLOCK) ON RVP.RVP_VisitPointId = MBV.MVP_VisitPointId and MBV.MVP_Status=1
WHERE RU.ServiceType = 'R'

--
UNION

SELECT DISTINCT				
				-1 VisitPoint,				
				RVP.RVP_VisitPointId AS VisitPointDestino,	
				'False' DestinoDefault,													
                RVP.RVP_ClientBranchName + '                ||                ' + RVP.RVP_BranchAddress AS 'PUNTO' ,
                RVP.RVP_BranchAddress AS 'DIRECCION' ,
                RVP.RVP_SAPcardCode AS 'CARDCODE CLIENTE' ,
                COALESCE(RVP.RVP_AgCode, 0) AS 'CODIGO PUNTO' ,
                RVP.RVP_Country AS 'PAIS' ,
                RVP.RVP_Station AS 'StationId',               
			    null 'Estacion',	
				
				CASE
				--WHEN RVP_U_latitud = '' THEN 0
				--WHEN RVP_U_latitud IS NULL THEN 0 				
				WHEN ISNUMERIC(RVP_U_latitud) = 0 THEN 0
				ELSE  CONVERT(decimal,RVP_U_latitud )
				END RVP_U_latitud,
				CASE
				--WHEN RVP_U_Longitud = '' THEN 0
				--WHEN RVP_U_Longitud IS NULL THEN 0 				
				WHEN ISNUMERIC(RVP_U_Longitud) = 0 THEN 0
				ELSE  CONVERT(decimal,RVP_U_Longitud )
				END RVP_U_Longitud ,						

                CASE RVP.RVP_IsBank
                  WHEN 'False' THEN 0
                  WHEN 'True' THEN 1
                  ELSE 0
                END AS 'IsBank' ,
                 CASE RVP.RVP_Is_CountingHouse
                  WHEN 'False' THEN 0
                  WHEN 'True' THEN 1
                  ELSE 0
                END AS 'IsCountingHouse' ,
                RVP.RVP_ClientBranchName AS 'VISITPOINTsNAME' ,
                CASE RVP.rvp_isATM 
                  WHEN 'False' THEN 0
                  WHEN 'True' THEN 1
                  ELSE 0 end
                AS 'IS_ATM'				
				--,COALESCE(RVP.RVP_IsDeliveryOnRoute,0) AS 'IsDeliveryInRoute'
				,COALESCE(RVP.RVP_IsDeliveryOnRoute,0) AS 'IsDeliveryInRoute'
				,COALESCE(RVP.RVP_Concentradora,0) AS 'IsConcentrator'
				--,MBV.MVP_MailList MailList
FROM  
				DenariusDesktop_Dev.dbo.ADM_MNG_RouteVisitPoints RVP WITH (NOLOCK)
				--LEFT JOIN DenariusST_Dev.dbo.DST_MailByVisitPoint MBV WITH (NOLOCK) ON RVP.RVP_VisitPointId = MBV.MVP_VisitPointId and MBV.MVP_Status=1
WHERE 1=1
AND RVP.RVP_Country = @RouteCountry
AND RVP.RVP_Station = @RouteStation
AND RVP.RVP_Is_CountingHouse = 'TRUE'	
AND RVP.RVP_U_fechabaja IS NULL
----------------------------------------------------------------------------------------------------------------------------------        
print 'Monedass'
--MONEDAS
DECLARE @IdCurrency int

		SELECT top 1 @IdCurrency=cbc_idcurrency FROM CURRENCYBYCOUNTRY WITH(NOLOCK) WHERE CBC_IDCOUNTRY=@Country
		 AND CBC_CURRENCYTYPE='Local'
		order by cbc_idcurrency desc

		print @Country
		select * from moneyappusage WITH(NOLOCK)  where st_idcurrency=@Idcurrency			
--------------------------------------------------------------------------------------------------------------------------------        
--Lista Materiales
select 
SM.MSM_Id
      ,SM.MSM_FK_MasterService_Id
      ,SM.MSM_FK_Container_Id
      ,UPPER(SM.MSM_ValueRegistrationForm) MSM_ValueRegistrationForm
      ,UPPER(SM.MSM_MaterialCode) MSM_MaterialCode	  
      ,SM.MSM_FK_TypeOfMaterial_Id
      ,SM.MSM_GrandTotalAmount
      ,SM.MSM_LocalAmount
      ,SM.MSM_LocalAmountChecks
      ,SM.MSM_USDAmount
      ,SM.MSM_USDAmountChecks
      ,SM.MSM_EURAmount
      ,SM.MSM_EURAmountChecks
      ,SM.MSM_OtherForeignAmount
      ,SM.MSM_OtherForeignAmountChecks
      ,SM.MSM_FK_OtherForeignCurrencyType_Id
      ,SM.MSM_USDExchangeRate
      ,SM.MSM_EURExchangeRate
      ,SM.MSM_OtherForeignExchangeRate
      ,SM.MSM_FK_PrepSupplyHdr_Id_ForVoucher
      ,SM.MSM_FK_PrepSupplyHdr_Id_For_Material
      ,SM.MSM_IsInventorySupplies
      ,SM.MSM_NumberOfCoinBags
      ,SM.MSM_CurrencyType_ForCoins
      ,SM.MSM_Denomination_ForCoins
      ,SM.MSM_Country
      ,SM.MSM_Station
      ,SM.MSM_Status
      ,SM.MSM_FK_OperationStatus_Id
      ,SM.MSM_PU
      ,SM.MSM_PU_Datetime
      ,SM.MSM_DL
      ,SM.MSM_DL_Datetime
      ,SM.MSM_LastRoute
      ,SM.MSM_FK_Master_Service_Material_Related_Id
      ,SM.MSM_MoreCurrencies
      ,SM.MSM_TokeInsertId
      ,SM.MSM_TokenInsertDatetime
      ,SM.MSM_TokenUpdateStatusId
      ,SM.MSM_TokenUpdateStatusDatetime
      ,SM.MSM_VisitPointRepresentative
      ,SM.MSM_OriginCode
      ,SM.MSM_OriginName
      ,SM.MSM_DestinationCode
      ,SM.MSM_DestinationName
      ,SM.MSM_InitiallyReceivefromVault
from 
    [DenariusCorporate_Dev].[dbo].[LGT_Master_Service] MS with(nolock)
	join [DenariusCorporate_Dev].[dbo].[LGT_Master_Service_Material] SM with(nolock) on SM.MSM_FK_MasterService_Id = MS.LMS_SERVICEID
	,	
	DenariusDesktop_Dev.DBO.LGT_INF_Employee EMP WITH (nolock),
	DenariusUser_Dev.dbo.LGN_User us WITH (NOLOCK)--,
	,@CountryByUser CU 
WHERE 
LMS_ServiceDate>=CONVERT(DATETIME,CONVERT(VARCHAR(50),@DateRoute2, 103)+ ' 00:00:00',103) AND LMS_ServiceDate <CONVERT(DATETIME,CONVERT(VARCHAR(50),@DateRoute2, 103)+' 23:59:59',103)
AND
 US.USR_IdEmployee=EMP.IdEmployee
AND us.USR_Username=@Username
AND us.USR_IdUser=@IdUser
AND LMS_Country = cu.Country collate Latin1_General_100_CI_AS
AND (ISNULL(LMS_OPEXDLCOURIER,LMS_OPEXPUCOURIER)=EMP.IdEmployee or (lms_opexdlcourier=0 AND lms_opexpucourier=emp.idemployee))
AND (LMS_OPEXDLCOURIER = @IdEmployee OR LMS_OPEXPUCOURIER = @IdEmployee)


EXEC [SPG_Prefix] @prefixUpdateDate = @prefixUpdateDate, @Id_country = @RouteCountry

SELECT * FROM @ServiceActionStatus


--Leer firma del portavalor
SELECT top 1 @SignatureUser = SIGNT.SignatureEmployee FROM DenariusDesktop_Dev.dbo.LGT_INF_Employee emp with(nolock)
LEFT JOIN DenariusDesktop_Dev.dbo.PRM_Signature SIGNT with(nolock) ON emp.IdEmployee = SIGNT.IdEmployee
WHERE emp.IdEmployee=@IdEmployee

--
--Verificar si ruta está activa sino no cargarla
DECLARE @Status int
DECLARE @Fecha AS DATE 
SET @Fecha =convert(date,getdate(),105) --@_Date DD-MM-YYYY

	SELECT TOP 1 @Status = ISNULL(DRS.Status,0) FROM [DenariusST_Dev].[dbo].[DST_RouteAssignment] DRS 
					join @Rutero rut on ruta = RouteCode
				    WHERE
					 1 = 1 				
					 AND CONVERT(DATE, DRS.DateOfRoute, 103) = CONVERT(DATE, @Fecha, 103)
					 AND DRS.RouteCode = RouteCode
					 AND DRS.Country = @Country
					 AND DRS.Station = @RouteStation
--

DECLARE @AppVersion varchar(max)
select top 1 @AppVersion = ASValue from [DenariusST_Dev].[dbo].[APPSettings]
where ASKey = 'AppVersion'

DECLARE @MailDefault varchar(max)
select top 1 @MailDefault = ASValue from [DenariusST_Dev].[dbo].[APPSettings]
where ASKey = 'MailDefault'
--values ('MailDefault','bidcar.herrera@dicenam.com')

select @StationDescription as StationDescription, @RouteStation AS RouteStation, @RouteCountry AS RouteCountry, @UMB AS RouteUMB,@SignatureUser AS SignatureUser,@Status as RouteStatus,@AppVersion AppVersion,@MailDefault MailDefault

--Carga 35 tokens
SELECT *
   FROM DenariusDesktop_Dev.DBO.TKN_TOKENS TT WITH (NOLOCK)
		JOIN DenariusDesktop_Dev.DBO.VRD_TOKEN VT WITH (NOLOCK)
		ON (TT.TKN_ENCRYPTEDTOKEN = VT.VT_Token)
WHERE
1=1 
and TKN_ROUTE = @NameRoute
and TKN_COUNTRY = @RouteCountry
AND TKN_STATION = @RouteStation
and VT_DATE>= CONVERT(DATE,getdate())
AND DATEPART(YEAR, TKN_DATE) = DATEPART(YEAR,VT_DATE)
AND VT_Status =1

--		IF @@TRANCOUNT > 0  
--			COMMIT TRANSACTION;
--			print 'Finalizó con éxito'  			



--END TRY
--			BEGIN CATCH  
--			SELECT   
--				 0	[blnResult]
--				,ERROR_NUMBER() AS [ErrorNumber]
--				,ERROR_SEVERITY() AS [ErrorSeverity]
--				,ERROR_STATE() AS [ErrorState]
--				,ERROR_PROCEDURE() AS [ErrorProcedure]
--				,ERROR_LINE() AS [ErrorLine]  
--				,ERROR_MESSAGE() AS [ErrorMessage];  
--			IF @@TRANCOUNT > 0  
--				ROLLBACK TRANSACTION;
--				print 'Finalizado con errores'  
--		END CATCH;   

		END
