

-- =============================================
-- Author:		<Edelman>
-- Create date: <2023-12-4>
-- Description:	<Finaliza un carrito de compra MarcketPlace>
-- =============================================
CREATE PROCEDURE [dbo].[FinishServiceCartbyAccountMarketPlace]
	@IdAccount BIGINT,
	@Token NVARCHAR(50),
	@ProductInvoiceName NVARCHAR(250),
	@ProductPurchaseEmail NVARCHAR(100),
	@ProductTaxIdNumber NVARCHAR(25),
	@ProductFiscalAddress NVARCHAR(500),
	@TblProductsList [TblProductMarketPlace]  READONLY,
	@IdServiceCart  INT,
	@CardId INT
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @VoidedCart BIT = 0;

	DECLARE @CollectPaymentTime INT = (SELECT TOP 1 CPT.TimePlaId FROM [DeliveryBackOffice].[dbo].[CatPaymentTime] CPT WHERE CPT.TimePlaName = 'Destino' COLLATE Latin1_General_CI_AI);

	DECLARE @CountUpdated INT = 0;
	DECLARE @CountValid INT = 0;
	DECLARE @IdCustomer INT =(SELECT Top 1 IdCustomer  FROM [dbo].[Account]
                              WHERE AccIdAccount = @IdAccount)

    DECLARE @IdCart INT =(Select Top 1 IdMarketplaceCart From [dbo].[MarketplaceCart] a  WHERE  a.AccountId = @IdAccount ORDER BY a.DateCreated DESC)



	DECLARE @UpdatedGuidesInCart AS TABLE (
		IdUpdated INT
	);

	BEGIN TRANSACTION

	BEGIN TRY

	-- Generar tres letras aleatorias excluyendo "I" y "O"
		DECLARE @letras NVARCHAR(3)
		SET @letras = 
			(SELECT TOP 1
				CASE 
					WHEN number < 8 THEN CHAR(number + 65)  -- Convertir número a letra (A=65, B=66, ..., H=72)
					ELSE CHAR(number + 73)  -- Saltar las letras "I" y "O"
				END
			 FROM master.dbo.spt_values
			 WHERE type = 'P' AND number BETWEEN 0 AND 25
			 ORDER BY NEWID()
			);

		  -- Generar dos dígitos para el ID del producto (suponiendo que sea un número aleatorio)
			DECLARE @idProducto INT
			SET @idProducto = ABS(CAST(CAST(NEWID() AS VARBINARY) AS INT)) % 1000000;  -- Se obtiene un número entre 0 y 999999

			-- Generar una letra aleatoria para la posición final
			DECLARE @letraFinal NVARCHAR(1)
			SET @letraFinal = CHAR((ABS(CHECKSUM(NEWID())) % 26) + 65);  -- Obtener un número entre 65 (A) y 90 (Z)


			

	-- Insertar registro de los productos que se adquirieron
	INSERT [dbo].[Product] (
	                        [CatProductId],
							[ProductCost],
							[ProductPurchaseEmail],
							[ProductGiftShippingEmail],
							[ProductCustomerId],
							[ProductAccountId],
							[ProductCodeOfReference],
							[ProductVisitPointclientByClientPortfolioId],
							[ProductInvoiceName],
							[ProductTaxIdNumber],
							[ProductFiscalAddress], 
							[ProductCustomerPaymentId],
							[ProductIsAutoRenewable],
							[ProductMaxServiceFixedValue],
							[ProductActualServiceCount],
							[ProductExpirationDate],
							[ProductDiscountValue],
							[ProductCatProductSupplierId],
							[ProductCatPointsAccumulation],
							[ProductCatConfigPointsId],
							[ProductCatSystemId],
							[ProductCatModuleId],
							[ArticleSAPId],
							[RowStatus], 
							[TokenCreated],
							[DateCreated],
							[ActivationCode])
				SELECT 
				        CP.IdCatProduct,
						CP.CatProductCost,
						@ProductPurchaseEmail,
						PL.ProductGiftShippingEmail,
						@IdCustomer,
						@IdAccount,
						NULL,
						NULL,
						@ProductInvoiceName,
						@ProductTaxIdNumber,
						@ProductFiscalAddress,
						@CardId,--identifcador de tarjeta
						0,--es autorenovable
						0,
						1,
						GETDATE()+(ISNULL(CP.CatProductVality,1)*30),
						0,--descuento
						CP.CatProductSupplierId,
						CP.PointsAccumulation,
						CP.CatConfigPointsId,
						18,
						22,
						CP.ArticleSAPId,
						 IIF(PL.IsGift = 1,0,1),
						@Token,
						GETDATE(),
						@letras + RIGHT('000000' + CAST(CP.IdCatProduct AS NVARCHAR(6)), 6) + @letraFinal
				FROM @TblProductsList PL 
				INNER JOIN dbo.CatProduct CP WITH(NOLOCK)
				ON PL.IdCatProduct = CP.IdCatProduct 
			
			

	
		

		-- Si se puede finalizar el carrito de compras
		IF(EXISTS(Select Top 1 1 From [dbo].[MarketplaceCartDetail] a	WITH(NOLOCK)  
		                         WHERE  a.IdMarketplaceCartDetail = @IdServiceCart And a.RowStatus=1))
		BEGIN
		
			UPDATE  [dbo].[MarketplaceCartDetail]
			  SET RowStatus = 0,
				  TokenUpdated = @Token,
				  DateUpdated  = GETDATE()
			  WHERE  MarketplaceCartId = @IdCart

			UPDATE  [dbo].[MarketplaceCart]
			  SET RowStatus = 0,
				  TokenUpdated = @Token,
				  DateUpdated  = GETDATE()
			  WHERE  AccountId = @IdAccount AND IdMarketplaceCart = @IdCart


			-- Si actualizo el carrito exitosamente
			IF (@@ROWCOUNT > 0)
			BEGIN
				SET @VoidedCart = 1;
				SELECT
					1 'StatusCode'
					,'Service Cart finished successfully' 'Description'
			END
			ELSE
				SELECT
				2 'StatusCode'
			   ,'Service Cart not found' 'Description'
			
		END
		ELSE
		BEGIN

			SELECT
				1 'StatusCode'
				,'Service Cart partially finished' 'Description'

		END

		COMMIT TRANSACTION;

    END TRY
	BEGIN CATCH
		
		SELECT
			0 'StatusCode'
		   ,ERROR_MESSAGE() 'Description'
		   ,ERROR_NUMBER() 'ErrorNumber'
		   ,ERROR_SEVERITY() 'ErrorSeverity'
		   ,ERROR_STATE() 'ErrorState'
		   ,ERROR_PROCEDURE() 'ErrorProcedure'
		   ,ERROR_LINE() 'ErrorLine';
				
		ROLLBACK TRANSACTION;
	END CATCH
END
