
-- =============================================
-- Author:		<Cristian Suazo>
-- Create date: <2024-07-10>
-- Description:	<Se obtiene el monto maximo para crear guias COD por pais>
-- =============================================

CREATE PROCEDURE [dbo].[get_maxCOD]
				@IdCountry NVARCHAR(2) = 'GT'
AS
BEGIN
	SELECT Value AS MaxCOD
	FROM ConfigParams WITH (NOLOCK)
	WHERE Name = 'MaximumCODAmount' AND ISNULL(IdCountry, 'GT') = @IdCountry
END