USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[QualityControlValidationsHeader]    Script Date: 16/11/2023 22:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Edelman Vásquez>
-- Create date: <Create Date, 2023-11-16>
-- Description:	<Description,Cabecera de historial de validaciones de incidencias>
-- =============================================
Create PROCEDURE [dbo].[QualityControlValidationsHeader]
 @StartDate DATE,
 @EndDate DATE
AS
BEGIN

	SET NOCOUNT ON;
	
	SELECT
			 SUM(CASE WHEN COI.IsConfirmed = 0 And COI.IsDenied = 0 And DOD.StatusOrderId = 45 THEN 1 ELSE 0 END) AS UnprocessedIncident,
			 SUM(CASE WHEN COI.IsConfirmed = 1 And COI.IsDenied = 0 And DOD.StatusOrderId = 50 THEN 1
	                  WHEN COI.IsDenied    = 1 And COI.IsConfirmed = 0   And DOD.StatusOrderId = 50 THEN 1 
		ELSE 0 END) AS ProcessedIncidents
		FROM
			DeliveryOrderDetail DOD WITH (NOLOCK)
			INNER JOIN DeliveryAttempt DA ON DOD.Guide_Number = DA.Guide_Number
			INNER JOIN ConfirmationOfIncidence COI ON DA.ConfirmationOfIncidenceId = COI.IdConfirmationOfIncidence
		WHERE
			 CONVERT(DATE, DA.Date_Created) BETWEEN @StartDate AND @EndDate;

    
END

