
-- =============================================
-- Author:		<Cristian Suazo>
-- Create date: <2024-07-11>
-- Description:	<Se obtiene el pais de origen del cliente>
-- =============================================

CREATE PROCEDURE [dbo].[sp_get_customerCountry_Parser]
				 @IdCustomer INT
AS
BEGIN
	
	SELECT ISNULL(CountryID,'GT') CountryID FROM Customer WHERE IdCustomer = @IdCustomer
END
