USE [DeliveryBackOffice]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Carlos, Cano>
-- Create date: <2020-12-08>
-- Description:	<Recupera detalle para generar manifiesto de liquidación (COD)>
-- =============================================
-- =============================================
-- Author:		<Oscar, Rodriguez>
-- Modification date: <2024-06-19>
-- Description:	<Devuelve información para liquidación de COD filtrado por pais, y montos de moneda modificado para interpais, multimoneda y multipais>
-- =============================================
-- =============================================
-- Author:      <Edelman>
-- Create date: <2026-01-21>
-- Description: <Agregar parámetro Voucher y  tipo de pago>
-- =============================================
-- =============================================
-- Author:      <Marcelo del Aguila>
-- Create date: <2026-05-26>
-- Description: <Agregar pagos COD con tarjeta a través de Paggo en manifiesto de liquidación>
-- =============================================
ALTER PROCEDURE [dbo].[spg_settlement_cod_guides_GT]
	@IdManifest INT
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT 
		   do.Guide_Serie + ISNULL(CONVERT(NVARCHAR, do.Guide_Number), '') Guide_Code,
		   do.Pieces_Cold Pieces_Cold,
		   do.Pieces_Dry Pieces_Dry,

		   (CASE 
				WHEN [do].[IsLastMileReturn] = 1 
					THEN IIF(cu.Name = 'FD EXPRESS CENTER', CONCAT(do.Sender_FirstName, ' ', do.Sender_LastName), cu.Name) 
				ELSE ISNULL(do.Receiver_FirstName, '') + ' ' + ISNULL(do.Receiver_LastName, '') 
			END) Receiver_Fullname,

		   (CASE 
				WHEN do.[IsLastMileReturn] = 1 
					THEN ISNULL(do.Receiver_FirstName, '') + ' ' + ISNULL(do.Receiver_LastName, '') 
				ELSE IIF(cu.Name = 'FD EXPRESS CENTER', CONCAT(do.Sender_FirstName, ' ', do.Sender_LastName), cu.Name) 
			END) AS Client,

		   (CASE WHEN do.[IsLastMileReturn] = 1 THEN do.[Sender_Town] ELSE do.Receiver_Town END) Receiver_Town,
		   (CASE WHEN do.[IsLastMileReturn] = 1 THEN do.[Sender_Department] ELSE do.Receiver_Department END) Receiver_Departament,

		   CONVERT(VARCHAR, do.Preparation_Date, 103) + ' ' + CONVERT(VARCHAR(5), do.Preparation_Date, 108) Preparation_Date,
		   CONVERT(VARCHAR, do.Shipping_Date, 103) Shipping_Date,
		   ISNULL(CONVERT(VARCHAR, do.Delivery_Max_Date, 103), '') Max_Date,

		   (CASE WHEN [do].[IsLastMileReturn] = 1 THEN do.[Sender_Phone] ELSE do.Receiver_Phone END) Receiver_Phone,

		   (
			   SELECT DeliveryBackOffice.dbo.fn_get_rackposition(do.Guide_Serie, do.Guide_Number)
		   ) Rack_Position,

		   CAST(
				CASE
					WHEN PZ.PaymentGateway = 'Paggo'
						 AND ISNULL(PZ.CODValue, 0) > 0
						 AND ISNULL(PZ.CollectValue, 0) = 0
						THEN 0

					ELSE IIF(do.IsCollect = 'TRUE', 
							IIF(do.IsLastMileReturn = 1, 
								ISNULL(CASE 
											WHEN ISNULL(cdp.IdConditionOfPayment, 1) > 1 THEN 0
											ELSE do.PriceShippment 
									   END, 0), 
								CASE 
									WHEN ISNULL(cdp.IdConditionOfPayment, 1) > 1 
										 AND cd.IdTypeOfMoneyCollect IS NULL 
										 AND cd.IdTypeOfMoneyCod IS NULL
										THEN IIF(A1.ReasonCode = '00', do.PriceShippment, 0)
									ELSE do.PriceShippment 
								END    
							), 0)
				END AS DECIMAL(18, 2)
		   ) Price,

		   CAST(
				ISNULL(
					(CASE 
						WHEN do.[IsLastMileReturn] = 1 
							THEN 0 
						ELSE IIF(
								do.GuideType = 'INT', 
								IIF(c.CodCurrency = 1, 
									(do.Collect_OnDelivery / c.codExchangeRate) * c.CODPaymentExchangeRate, 
									(do.Collect_OnDelivery * c.codExchangeRate) * c.CODPaymentExchangeRate
								), 
								do.Collect_OnDelivery
							) 
					 END), 0
				) AS DECIMAL(18, 2)
		   ) Collect_on_Delivery,

		   CAST(
				CASE
					WHEN PZ.PaymentGateway = 'Paggo'
						 AND ISNULL(PZ.CODValue, 0) > 0
						 AND ISNULL(PZ.CollectValue, 0) = 0
						THEN 0

					ELSE IIF(do.IsCollect = 'TRUE', 
							IIF(do.IsLastMileReturn = 1, 
								ISNULL(CASE 
											WHEN ISNULL(cdp.IdConditionOfPayment, 1) > 1 THEN 0
											ELSE do.PriceShippment 
									   END, 0), 
								CASE 
									WHEN ISNULL(cdp.IdConditionOfPayment, 1) > 1 
										 AND cd.IdTypeOfMoneyCollect IS NULL 
										 AND cd.IdTypeOfMoneyCod IS NULL
										THEN IIF(A1.ReasonCode = '00', do.PriceShippment, 0)
									ELSE do.PriceShippment 
								END    
							), 0)
				END AS DECIMAL(18, 2)
		   )
		   +
		   CAST(
				ISNULL(
					(CASE 
						WHEN do.[IsLastMileReturn] = 1 
							THEN 0 
						ELSE IIF(
								do.GuideType = 'INT', 
								IIF(c.CodCurrency = 1, 
									(do.Collect_OnDelivery / c.codExchangeRate) * c.CODPaymentExchangeRate, 
									(do.Collect_OnDelivery * c.codExchangeRate) * c.CODPaymentExchangeRate
								), 
								do.Collect_OnDelivery
							) 
					 END), 0
				) AS DECIMAL(18, 2)
		   ) AS Total,

		   do.Receiver_ID Receiver_ID,
		   REPLACE(REPLACE(REPLACE(dc.Symbol,'.',''),'(',''),')','') [Currency_Symbol],

		   CASE 
			  WHEN PZ.PaymentGateway = 'Paggo'
				   AND ISNULL(PZ.CollectValue, 0) > 0
				  THEN PZ.ZigiTransactionId

		      WHEN CD.IdTypeOfMoneyCollect = 11  
				  THEN CD.Voucher

			  WHEN CD.IdTypeOfMoneyCollect = 10  
				  THEN PZ.ZigiTransactionId

			  ELSE ''
           END AS VoucherCollect,

           CASE 
			  WHEN PZ.PaymentGateway = 'Paggo'
				   AND ISNULL(PZ.CODValue, 0) > 0
				  THEN PZ.ZigiTransactionId

		      WHEN CD.IdTypeOfMoneyCOD = 11  
				  THEN CD.Voucher

			  WHEN CD.IdTypeOfMoneyCOD = 10  
				  THEN PZ.ZigiTransactionId

			  ELSE ''
           END AS VoucherCOD,

		   CASE 
			  WHEN PZ.PaymentGateway = 'Paggo'
				   AND ISNULL(PZ.CollectValue, 0) > 0
				  THEN 'Pago con Tarjeta'

		      WHEN cd.IdTypeOfMoneyCollect = 11 THEN 'Transferencia'
			  WHEN cd.IdTypeOfMoneyCollect = 1  THEN 'Efectivo'
			  WHEN cd.IdTypeOfMoneyCollect = 2  THEN 'Pago con Tarjeta'
			  WHEN cd.IdTypeOfMoneyCollect = 10 THEN 'Zigi'

	          ELSE ''
		  END AS PaymentMethodCollect,

           CASE 
			  WHEN PZ.PaymentGateway = 'Paggo'
				   AND ISNULL(PZ.CODValue, 0) > 0
				  THEN 'Pago con Tarjeta'

		      WHEN cd.IdTypeOfMoneyCOD = 11 THEN 'Transferencia'
			  WHEN cd.IdTypeOfMoneyCOD = 1  THEN 'Efectivo'
			  WHEN cd.IdTypeOfMoneyCOD = 2  THEN 'Pago con Tarjeta'
			  WHEN cd.IdTypeOfMoneyCOD = 10 THEN 'Zigi'

	          ELSE ''
		  END AS PaymentMethodCOD

	FROM [DeliveryBackOffice].[dbo].DeliveryOrder do WITH(NOLOCK)
		INNER JOIN DeliveryBackOffice.dbo.DeliverySettlementDetail dsd WITH(NOLOCK)
			ON dsd.Guide_Serie = do.Guide_Serie
			   AND dsd.Guide_Number = do.Guide_Number

		LEFT JOIN DeliveryBackOffice.dbo.VisitPointClient vp WITH(NOLOCK)
			ON do.Receiver_ID = vp.CodeOfReference

		LEFT JOIN [dbo].VisitPointClient vps WITH(NOLOCK)
			ON vps.CodeOfReference = do.Sender_ID

		LEFT JOIN [dbo].[Customer] cu WITH(NOLOCK)
			ON ISNULL(do.[IdCustomer], vps.CustomerID) = cu.[IdCustomer]

		LEFT JOIN dbo.CatConditionOfPayment cdp WITH (NOLOCK)
            ON cdp.IdConditionOfPayment = cu.ConditionOfPaymentID

		LEFT JOIN dbo.Cost c WITH (NOLOCK)
            ON c.GuideSerie = do.guide_Serie 
		   AND c.GuideNumber = do.guide_number

		LEFT JOIN dbo.CatCurrencyCOD dc WITH (NOLOCK)
            ON dc.IdCatCurrencyCOD = ISNULL(c.ShippingCurrency,1)

        LEFT JOIN dbo.CreditCardTransactionByCustomer A1 WITH (NOLOCK)
            ON A1.OrderNumber = do.Guide_Serie + CONVERT(VARCHAR, do.Guide_Number)

		LEFT JOIN dbo.CostDetail cd WITH (NOLOCK)
            ON c.IdCost = cd.IdCost

		LEFT JOIN [DeliveryBackOffice].[dbo].[PaymentZigi] PZ WITH (NOLOCK)
            ON PZ.GuideSerie = dsd.Guide_Serie 
		   AND PZ.GuideNumber = dsd.Guide_Number

        LEFT JOIN [DeliveryBackOffice].[dbo].[PaymentZigiMulti] PZM WITH (NOLOCK)
			ON PZM.Id_PaymentZigi = PZ.ZigiPaymentId 

	WHERE dsd.Guide_Settlement = 1
		  AND dsd.Guide_Discharged = 1
		  AND
		  (
			  vp.IdKindOfVPClient <> 1
			  OR vp.IdKindOfVPClient IS NULL
		  )
		  AND dsd.Guide_Delivered = 1
		  AND dsd.ID_DeliveryOrderBySettlement = @IdManifest
		  AND dsd.RowStatus = 1

	ORDER BY Receiver_Departament ASC,
			 Receiver_Town ASC,
			 Receiver_Zone ASC,
			 Receiver_Address ASC;
		
END
GO