-- =============================================
-- Author:		<Edelman Vásquez>
-- Create date: <2022-09-09>
-- Description:	<SP Finalización de procesos abiertos en preparación de entrega de hermes mobile>
-- =============================================
CREATE PROCEDURE [dbo].[spHM_OpenProcessTermination]
@GuideSerie  AS NVARCHAR(2),
@GuideNumber AS INT,
@DateRoute AS DATE,
@IdRoute AS INT,
@Token AS NVARCHAR(50)

AS  
BEGIN

	SET NOCOUNT ON;
	 DECLARE @Result AS INT = 0; 

	BEGIN TRANSACTION
	BEGIN TRY
	


	UPDATE  RPD
	SET     UserProcess   = NULL, 
	        IsOpenProcess = 0,
			RowStatus= 1,
			TokenUpdated= @Token,
			DateUpdated=GETDATE()
			FROM [DeliveryBackOffice].[dbo].[RoutePreparation]  RP WITH (NOLOCK)
			INNER JOIN [DeliveryBackOffice].[dbo].[RoutePreparationDetail] RPD WITH(NOLOCK)
			ON RP.IdRoutePreparation =RPD.RoutePreparationId
	WHERE  Guide_Serie  = @GuideSerie AND 
	       Guide_Number = @GuideNumber AND
		   RoutePreparationId = @IdRoute AND
		   FORMAT(RP.DateRoutePreparation, 'yyyy-mm-dd' ) = FORMAT(@DateRoute, 'yyyy-mm-dd')
	
	UPDATE [DeliveryBackOffice].[dbo].[DeliveryOrder] SET StatusOrderId = 3
	WHERE Guide_Serie = @GuideSerie AND Guide_Number = @GuideNumber 


	INSERT INTO dbo.DeliveryOrderDetail 
	           (Guide_Serie, 
			    Guide_Number,
				StatusOrderId, 
				UserCreated,
				DateCreated,
				DateCreatedInSystem,
				RowStatus
				) 
	     VALUES (@GuideSerie,
		         @GuideNumber,
				 3,
				 @Token,
				 GETDATE(),
				 GETDATE(),
				 1
		         )

 			SET @RESULT = 1; /* PROCESESO EXITOSO */
		COMMIT TRANSACTION
		 
	        SELECT @Result AS Result;
        END TRY
			BEGIN CATCH
				ROLLBACK TRANSACTION
				SET @RESULT = 2; /* PROCESESO FALLIDO */
				 				 
	        SELECT @Result AS Result
					
			END  CATCH
	END 
	
    
