USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SPHW_RegistrationofTransactionProcessStatesNonLoggedinUser]    Script Date: 2/01/2024 11:52:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--==========================================
-- Author:		<Author,Edelman>
-- Create date: <Create Date, 2023-12-13>
-- Description:	<Description,Insertar registro que indica inicio del inicio del proceso de una transacción ususarios no logueados marketplace>
-- =============================================
CREATE PROCEDURE [dbo].[SPHW_RegistrationofTransactionProcessStatesNonLoggedinUser] 
@AccountId AS INT=0,
@CustomerId AS INT=0,
@OrderNumber AS NVARCHAR(50),
@NameTax  AS NVARCHAR(250),
@FiscalAddress AS NVARCHAR(500),
@TaxId AS NVARCHAR (100),
@IsAutoRenewable AS BIT,
@CardId AS NVARCHAR (20),
@Token AS NVARCHAR(50),
@System AS INT,
@TblSalePackageMarketPlace [TblSalePackageMarketPlace] READONLY,
@InvoiceEmail AS NVARCHAR(500),
@Vaucher AS NVARCHAR (50) 

	
AS
BEGIN
	
	
    BEGIN TRAN
	BEGIN TRY
		SET NOCOUNT ON; 
	
	DECLARE  @isSuscription AS BIT 


	INSERT INTO [dbo].[RegistrationofTransactionProcessStates]
	(
	  AccountId,
	  CustomerId,
	  OrderNumber,
	  NameTax,
	  AddressTax,
	  TaxId,
	  IsSuscription,
	  GetRenovacionAutomatica,
	  GetCardsCredit,
	  TokenCreated,
	  DateCreated,
	  InvoiceEmail,
	  Vaucher,
	  IdSalePackage,
	 TypeSalePackage
	)
	 SELECT
        @AccountId,
        @CustomerId,
        @OrderNumber,
        @NameTax,
        @FiscalAddress,
        @TaxId,
		(Select Case WHEN  T.TypeSalePackage ='Suscription' THEN 1 ELSE 0 END ),
        @IsAutoRenewable,
        @CardId,
        @Token,
        GETDATE(),
        @InvoiceEmail,
        @Vaucher,
        T.IdSalePackage,
        T.TypeSalePackage
    FROM @TblSalePackageMarketPlace AS T;

	COMMIT TRAN

	SELECT 1 AS 'ResultCode' 



END TRY
	BEGIN CATCH

	ROLLBACK TRAN
	
        SELECT 0 [blnResult],
               ERROR_NUMBER() AS [ErrorNumber],
               ERROR_SEVERITY() AS [ErrorSeverity],
               ERROR_STATE() AS [ErrorState],
               ERROR_PROCEDURE() AS [ErrorProcedure],
               ERROR_LINE() AS [ErrorLine],
               ERROR_MESSAGE() AS [ErrorMessage];

	END CATCH
 
END