USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SPHW_GetCorporateOnboardingData]    Script Date: 3/16/2026 2:38:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Marcelo Del Aguila>
-- Create date: <2026-03-13>
-- Description: <Obtener data de onboarding corporativo para ForzaPay>
-- =============================================
ALTER PROCEDURE [dbo].[SPHW_GetCorporateOnboardingData]
    @IdCustomer INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.[Name] AS RazonSocial,
        COALESCE(c.CommercialName, c.Abbreviation) AS NombreComercial,
        c.TaxIdentificationNumber AS NIT,
        c.CountryID AS PaisConstitucion,
        c.FiscalAddress AS DireccionFiscal,
        ru.UsrEmail AS CorreoElectronico,
        c.CustomerPhone AS NumeroTelefono
    FROM [DeliveryBackOffice].[dbo].[Customer] c WITH(NOLOCK)

    OUTER APPLY
    (
        SELECT TOP 1
            a.AccIdAccount
        FROM [DeliveryBackOffice].[dbo].[Account] a WITH(NOLOCK)
        WHERE a.IdCustomer = c.IdCustomer
          AND a.AccIdTypeAccount = 2
        ORDER BY a.AccIdAccount
    ) a

    OUTER APPLY
    (
        SELECT TOP 1
            ru.UsrEmail
        FROM [DeliveryBackOffice].[dbo].[RolByUserByAccount] rua WITH(NOLOCK)
        INNER JOIN [DeliveryBackOffice].[dbo].[RegisterUser] ru WITH(NOLOCK)
            ON ru.UsrIdUser = rua.RuaIdUser
        WHERE rua.RuaIdAccount = a.AccIdAccount
        ORDER BY ru.UsrIdUser
    ) ru

    WHERE c.IdCustomer = @IdCustomer;

END
GO
