
-- =============================================
-- Author:		<Author,Edelman>
-- Create date: <Create Date,2024-12-11>
-- Description:	<Description,terminos y condiciones>
-- =============================================
CREATE PROCEDURE [dbo].[SPHWTermsAndConditionsOfCredentials] 
	@IdCountry AS NVARCHAR(2) 
AS
BEGIN

	SET NOCOUNT ON;

	SELECT [Description] FROM [dbo].[ConfigParams]
         WHERE 
            [Name]='TermsandConditions' AND IdCountry ='GT'

END
