/* =============================================
    SP:          [dbo].[SPPG_UpdatePaggoPaymentStatus]
    Propósito:   Actualizar el estado del link de pago generado por Paggo en la tabla PaymentZigi, cambiando ZigiLinkStatus de PENDING a PAID cuando se recibe confirmación exitosa desde el webhook de Paggo. Además, registra la transacción en CreditCardTransactionByCustomer.
    Autor:       Marcelo del Aguila
    Historia:    FDAPI-6254
    Fecha:       2026-05-20

    === CHANGELOG ===================================
    2026-05-20 | Historia/épica: FDAPI-6254 | Autor: Marcelo del Aguila | Creación del procedimiento para actualizar el estado de pagos Paggo recibidos por webhook.
    2026-05-28 | Historia/épica: FDAPI-6254 | Autor: Marcelo del Aguila | Se agrega inserción de datos en CreditCardTransactionByCustomer y respuestas específicas para diagnóstico.

    ============================================== */

CREATE PROCEDURE [dbo].[SPPG_UpdatePaggoPaymentStatus]
    @ZigiPaymentLinkId VARCHAR(100),
    @CardNumber VARCHAR(25),
    @TypeCardNumber VARCHAR(5),
    @Currency INT,
    @Ammount DECIMAL(18,2),
    @StatusSend INT,
    @ReasonCode INT,
    @ReasonDescription VARCHAR(250),
    @AuthorizationNumber VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PaymentRowsAffected INT = 0;
    DECLARE @TransactionRowsAffected INT = 0;
    DECLARE @CurrentDate DATETIME = GETDATE();

    DECLARE @OrderNumber VARCHAR(38);
    DECLARE @Signature VARCHAR(100);
    DECLARE @CustomerReference VARCHAR(100);
    DECLARE @TransactionStain VARCHAR(100);
    DECLARE @TokenCreated VARCHAR(100);
    DECLARE @DateCreated DATETIME;
    DECLARE @TokenUpdated VARCHAR(100);
    DECLARE @DateUpdated DATETIME;
    DECLARE @CurrentZigiLinkStatus VARCHAR(50);

    IF ISNULL(LTRIM(RTRIM(@AuthorizationNumber)), '') = ''
    BEGIN
        SELECT 
            0 AS RowsAffected,
            0 AS TransactionRowsAffected,
            'AUTHORIZATION_NUMBER_REQUIRED' AS ResultCode,
            'No se recibió authorizationNumber desde el metadata de Paggo.' AS ResultMessage,
            @ZigiPaymentLinkId AS ZigiPaymentLinkId;
        RETURN;
    END;

    IF NOT EXISTS (
        SELECT 1
        FROM DeliveryBackOffice.dbo.PaymentZigi WITH (NOLOCK)
        WHERE ZigiPaymentLinkId = @ZigiPaymentLinkId
    )
    BEGIN
        SELECT 
            0 AS RowsAffected,
            0 AS TransactionRowsAffected,
            'NOT_FOUND_LINK_ID' AS ResultCode,
            'No existe ningún registro con el ZigiPaymentLinkId enviado.' AS ResultMessage,
            @ZigiPaymentLinkId AS ZigiPaymentLinkId;
        RETURN;
    END;

    IF NOT EXISTS (
        SELECT 1
        FROM DeliveryBackOffice.dbo.PaymentZigi WITH (NOLOCK)
        WHERE ZigiPaymentLinkId = @ZigiPaymentLinkId
          AND LTRIM(RTRIM(PaymentGateway)) = 'Paggo'
    )
    BEGIN
        SELECT 
            0 AS RowsAffected,
            0 AS TransactionRowsAffected,
            'NOT_PAGGO_PAYMENT' AS ResultCode,
            'El registro existe, pero no corresponde a PaymentGateway Paggo.' AS ResultMessage,
            @ZigiPaymentLinkId AS ZigiPaymentLinkId;
        RETURN;
    END;

    SELECT TOP (1)
        @OrderNumber = CONCAT(PZ.GuideSerie, PZ.GuideNumber),
        @Signature = @AuthorizationNumber,
        @TransactionStain = @AuthorizationNumber,
        @CustomerReference = CAST(DO.IdCustomer AS VARCHAR(100)),
        @TokenCreated = PZ.TokenCreated,
        @DateCreated = PZ.DateCreated,
        @TokenUpdated = PZ.TokenCreated,
        @DateUpdated = PZ.DateUpdated,
        @CurrentZigiLinkStatus = LTRIM(RTRIM(PZ.ZigiLinkStatus))
    FROM DeliveryBackOffice.dbo.PaymentZigi PZ WITH (NOLOCK)
    LEFT JOIN DeliveryBackOffice.dbo.DeliveryOrder DO WITH (NOLOCK)
        ON DO.Guide_Serie = PZ.GuideSerie
       AND DO.Guide_Number = PZ.GuideNumber
    WHERE PZ.ZigiPaymentLinkId = @ZigiPaymentLinkId
      AND LTRIM(RTRIM(PZ.PaymentGateway)) = 'Paggo';

    IF ISNULL(@OrderNumber, '') = ''
    BEGIN
        SELECT 
            0 AS RowsAffected,
            0 AS TransactionRowsAffected,
            'ORDER_NUMBER_NOT_FOUND' AS ResultCode,
            'No se pudo obtener GuideSerie + GuideNumber desde PaymentZigi.' AS ResultMessage,
            @ZigiPaymentLinkId AS ZigiPaymentLinkId;
        RETURN;
    END;

    IF ISNULL(@CustomerReference, '') = ''
    BEGIN
        SELECT 
            0 AS RowsAffected,
            0 AS TransactionRowsAffected,
            'CUSTOMER_REFERENCE_NOT_FOUND' AS ResultCode,
            'No se pudo obtener IdCustomer desde DeliveryOrder.' AS ResultMessage,
            @ZigiPaymentLinkId AS ZigiPaymentLinkId,
            @OrderNumber AS OrderNumber;
        RETURN;
    END;

    IF @StatusSend = 1
    BEGIN
        UPDATE DeliveryBackOffice.dbo.PaymentZigi
        SET ZigiLinkStatus = 'PAID',
            ZigiTransactionId = @AuthorizationNumber,
            DateUpdated = @CurrentDate,
            TokenUpdated = 'PAGGO_WEBHOOK'
        WHERE ZigiPaymentLinkId = @ZigiPaymentLinkId
          AND LTRIM(RTRIM(PaymentGateway)) = 'Paggo'
          AND LTRIM(RTRIM(ZigiLinkStatus)) = 'PENDING';

        SET @PaymentRowsAffected = @@ROWCOUNT;
        SET @DateUpdated = @CurrentDate;
    END;

    IF NOT EXISTS (
        SELECT 1
        FROM DeliveryBackOffice.dbo.CreditCardTransactionByCustomer WITH (NOLOCK)
        WHERE [System] = 3
          AND ReferenceNumber = @ZigiPaymentLinkId
    )
    BEGIN
        INSERT INTO DeliveryBackOffice.dbo.CreditCardTransactionByCustomer
        (
            [System],
            CardNumber,
            TypeCardNumber,
            Currency,
            Ammount,
            OrderNumber,
            Signature,
            CustomerReference,
            ReferenceNumber,
            ECIIndicator,
            Authenticationresult,
            TransactionStain,
            CAVV,
            ReasonCode,
            ReasonDescription,
            StatusSend,
            RowStatus,
            TokenCreated,
            DateCreated,
            TokenUpdated,
            DateUpdated,
            Token
        )
        VALUES
        (
            3,
            @CardNumber,
            @TypeCardNumber,
            @Currency,
            @Ammount,
            @OrderNumber,
            @Signature,
            @CustomerReference,
            @ZigiPaymentLinkId,
            '',
            '',
            @TransactionStain,
            '',
            @ReasonCode,
            @ReasonDescription,
            @StatusSend,
            1,
            @TokenCreated,
            @DateCreated,
            @TokenUpdated,
            @DateUpdated,
            NULL
        );

        SET @TransactionRowsAffected = @@ROWCOUNT;
    END;

    SELECT 
        @PaymentRowsAffected AS RowsAffected,
        @TransactionRowsAffected AS TransactionRowsAffected,
        CASE
            WHEN @PaymentRowsAffected > 0 AND @TransactionRowsAffected > 0 THEN 'UPDATED_AND_TRANSACTION_INSERTED'
            WHEN @PaymentRowsAffected > 0 AND @TransactionRowsAffected = 0 THEN 'UPDATED_AND_TRANSACTION_ALREADY_EXISTS'
            WHEN @PaymentRowsAffected = 0 AND @CurrentZigiLinkStatus = 'PAID' AND @TransactionRowsAffected > 0 THEN 'ALREADY_PAID_TRANSACTION_INSERTED'
            WHEN @PaymentRowsAffected = 0 AND @CurrentZigiLinkStatus = 'PAID' AND @TransactionRowsAffected = 0 THEN 'ALREADY_PAID'
            WHEN @PaymentRowsAffected = 0 AND @CurrentZigiLinkStatus <> 'PENDING' THEN 'FOUND_BUT_NOT_PENDING'
            ELSE 'NOT_UPDATED'
        END AS ResultCode,
        CASE
            WHEN @PaymentRowsAffected > 0 AND @TransactionRowsAffected > 0 THEN 'PaymentZigi fue actualizado a PAID y la transacción fue registrada correctamente.'
            WHEN @PaymentRowsAffected > 0 AND @TransactionRowsAffected = 0 THEN 'PaymentZigi fue actualizado a PAID, pero la transacción ya existía.'
            WHEN @PaymentRowsAffected = 0 AND @CurrentZigiLinkStatus = 'PAID' AND @TransactionRowsAffected > 0 THEN 'El pago ya estaba en PAID, pero se registró la transacción.'
            WHEN @PaymentRowsAffected = 0 AND @CurrentZigiLinkStatus = 'PAID' AND @TransactionRowsAffected = 0 THEN 'El pago ya estaba en PAID y la transacción ya existía.'
            WHEN @PaymentRowsAffected = 0 AND @CurrentZigiLinkStatus <> 'PENDING' THEN 'El registro existe, pero no está en estado PENDING.'
            ELSE 'No se pudo actualizar PaymentZigi.'
        END AS ResultMessage,
        @ZigiPaymentLinkId AS ZigiPaymentLinkId,
        @OrderNumber AS OrderNumber,
        @CustomerReference AS CustomerReference,
        @Signature AS Signature,
        @AuthorizationNumber AS AuthorizationNumber;
END;
GO