CREATE PROCEDURE [dbo].[spRS_ForzaDeliveryInComeReport]
    @FechaInicio DATETIME = NULL,
    @FechaFin DATETIME = NULL


AS
BEGIN
	SET @FechaInicio = CAST(CONVERT(Varchar(10),@FechaInicio,23) +' 00:00:00' AS DATETIME)
	SET @FechaFin = CAST(CONVERT(Varchar(10),@FechaFin,23) +' 23:59:59' AS DATETIME)

	 SET NOCOUNT ON;

SELECT
        A.inv_dateRegister 'Fecha-Hora',
		vsp.DescriptionOfClient 'Establecimiento',
		CASE A.inv_type WHEN 1 THEN
		              'FacturaEXC' WHEN 2 THEN 
					  'NotaCredito' WHEN 3 THEN 'ReciboCNC' 
			ELSE 'Otro' END 'TipoDocumento',
B.dti_fk_orderSerie + cast(B.dti_fk_orderNumber as varchar(100)) 'Guía',
convert(varchar,A.inv_amount,1) 'Monto Factura',
A.inv_pk_id 'ID interno de factura',
A.inv_cli_nit 'NIT Cliente',
A.inv_cli_name 'Cliente registrado',
A.inv_cmp_nameFEL 'Cliente FEL',
A.inv_certificationFEL 'Firma FEL',
A.inv_numberFEL 'Documento',
A.inv_serieFEL 'Serie',
isnull(cast(C1.inv_pk_id as varchar),'') 'ID_Interno_nota_de_crédito' ,
		isnull(C1.inv_certificationFEL,'') 'Firma FEL nota de crédito',
		isnull(C1.inv_numberFEL,'') 'Documento nota de crédito',
		isnull(C1.inv_serieFEL,'') 'Serie nota de crédito',
		isnull(cast(C1.inv_date AS VARCHAR),'') 'Fecha y hora nota de crédito',
tio_pk_name 'Forma de pago',
iom.io_ticket 'Ticket',
iom.io_amount 'Monto de Pago',
bank.Acronym [Banco],
CASE  
      WHEN ISNULL(guia.IsCollect,'FALSE') = 'TRUE' THEN 'Si' 
	             ELSE 'No' END as 'Pago en Destino',
		   ISNULL(guia.IsCollect,'False') 'IsCollect',
		   ISNULL(guia.Pieces_Cold,0) + ISNULL(guia.Pieces_Dry,0)  Piezas,
CASE guia.IsCollect WHEN 'true' THEN guia.PriceShippment 
                    ELSE '0.00' END 'Monto Collect' ,
CASE guia.IsCollect WHEN 'false' THEN guia.PriceShippment 
     ELSE '0.00' END 'Monto Envio' ,
		guia.[Guide_Collected],
 (
			SELECT TOP 1 CASE ISNULL(guiapagada.IdStatus,'false') when 'true' then 'PAGADA' else 'NO PAGADA' end 
			FROM DeliveryOrderPaid  guiapagada
			WHERE
			guia.Guide_Serie = guiapagada.Guide_Serie 
			and guia.Guide_Number = guiapagada.Guide_Number 
			and guiapagada.IdStatus = 1
			ORDER BY IdDeliveryOrderPaid desc
		 ) EstadoCOD,
          (
			SELECT TOP 1 DateCreated FROM DeliveryOrderPaid   guiapagada WITH(NOLOCK)
			WHERE
			guia.Guide_Serie = guiapagada.Guide_Serie 
			and guia.Guide_Number = guiapagada.Guide_Number 
			and guiapagada.IdStatus = 1
			ORDER BY IdDeliveryOrderPaid desc
		 ) FechaPagoDepositoCOD,
       (
			SELECT TOP 1 Deposit_Number FROM DeliveryOrderPaid  guiapagada WITH(NOLOCK)
			WHERE
			guia.Guide_Serie = guiapagada.Guide_Serie 
			and guia.Guide_Number = guiapagada.Guide_Number 
			and guiapagada.IdStatus = 1
			ORDER BY IdDeliveryOrderPaid DESC 
		 ) NumeroDepositoPagoCOD,
		guia.[Deposit_Number],  
		dcb.DCBA_Num_account			[NumeroCuentaCOD], 
		UPPER(dcb.DCBA_Nom_account)		[NombreCuentaCOD],
		dcb.DCBA_BankAccountType		[TipoCuentaCOD],
		dcb.DCBA_Identification			[IdentificacionCOD], 
		guia.[Collect_OnDelivery]	[MontoCOD]
From dbo.invoiceHeader A WITH(NOLOCK)
INNER JOIN dbo.InvoiceDetail B WITH(NOLOCK)
ON  A.inv_pk_id = B.dti_fk_header
OUTER APPLY(
        
		SELECT   C.inv_invoiceOfCreditNote,
		         C.inv_certificationFEL,
		         C.inv_pk_id,
				 C.inv_numberFEL,
				 C.inv_date,
				 C.inv_serieFEL
		FROM dbo.InvoiceHeader C WITH(NOLOCK)
		 WHERE   C.inv_invoiceOfCreditNote = A.inv_pk_id
			 AND C.inv_type=2
	) C1 
INNER JOIN DeliveryBackOffice.dbo.DeliveryOrder guia WITH(NOLOCK)
				 ON    B.dti_fk_orderSerie =  guia.Guide_Serie AND 
				       B.dti_fk_orderNumber = guia.Guide_Number
INNER JOIN DeliveryBackOffice.dbo.VisitPointClient vsp WITH(NOLOCK) 
		         ON vsp.CodeOfReference = A.inv_vpCodeOfReferences
INNER JOIN DeliveryBackOffice.dbo.InOutOfMoneyDetail iom WITH(NOLOCK) 
				 ON iom.io_invoice = A.inv_pk_id
INNER JOIN DeliveryBackOffice.dbo.ctgTypeOfInOutOfMoney cio WITH(NOLOCK)
				 ON cio.tio_pk_id = iom.io_type
LEFT JOIN [dbo].[DeliveryCustomerBankAccount] dcb WITH(NOLOCK)
		        ON dcb.DCBA_Id = guia.DCBA_ID  
LEFT JOIN dbo.DeliveryBank bank WITH(NOLOCK) 
		        ON bank.Id_bank = dcb.DCBA_Bank_Id
WHERE A.inv_dateRegister BETWEEN @FechaInicio AND @FechaFin 



END;


