/*
   Thursday, January 12, 202311:22:21
   User: aruiz
   Server: 192.168.31.57
   Database: DeliveryBackOffice
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ContentDetail ADD
	IsVideoURLExternal bit NULL
GO
ALTER TABLE dbo.ContentDetail ADD CONSTRAINT
	DF_ContentDetail_IsVideoURLExternal DEFAULT 0 FOR IsVideoURLExternal
GO
ALTER TABLE dbo.ContentDetail SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
