USE [DeliveryBackOffice]
GO
  
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter PROCEDURE [dbo].[sps_SetTownshipGuideLinehauls] 
@Guide_Number AS NVARCHAR(MAX),
@Receiver_Town AS NVARCHAR(MAX),
@SenderTown AS NVARCHAR(MAX) ,
@Sender_Department as NVARCHAR(MAX),
@Receiver_Department as NVARCHAR(MAX)


AS
BEGIN
BEGIN TRANSACTION

BEGIN TRY


UPDATE DeliveryBackOffice.dbo.DeliveryOrder
SET Sender_Town = LTRIM(RTRIM(@SenderTown)),
    Receiver_Town = LTRIM(RTRIM(@Receiver_Town)),
	Sender_Department = LTRIM(RTRIM(@Sender_Department)),
	Receiver_Department = LTRIM(RTRIM(@Receiver_Department)),
	SenderIdTownship = (SELECT TW.IdTownship from DeliveryBackOffice.dbo.Township TW
	where CONVERT(VARCHAR, UPPER(LTRIM(RTRIM(@SenderTown)))) = CONVERT(VARCHAR, UPPER(tw.TownshipName)) COLLATE SQL_Latin1_General_Cp1251_CS_AS
),
ReceiverIdTownship = (SELECT TW.IdTownship from DeliveryBackOffice.dbo.Township TW
	where CONVERT(VARCHAR, UPPER(LTRIM(RTRIM(@Receiver_Town)))) = CONVERT(VARCHAR, UPPER(tw.TownshipName)) COLLATE SQL_Latin1_General_Cp1251_CS_AS
)
WHERE CONCAT(Guide_Serie,CAST(Guide_Number AS NVARCHAR(max))) =  CONCAT(SUBSTRING(@Guide_Number, 1, 2), SUBSTRING(@Guide_Number, 3, IIF(CHARINDEX('-', @Guide_Number) = 0, (LEN(@Guide_Number)), (CHARINDEX('-', @Guide_Number) - 3))))

	END TRY

	BEGIN CATCH
	PRINT 'ERROR'
SELECT
	500 AS 'StatusCode'
   ,ERROR_MESSAGE() AS 'Description'
   ,CONVERT(BIGINT, 0) AS 'NumTransferID'
ROLLBACK TRANSACTION
END CATCH;

PRINT @@trancount



IF @@trancount > 0
BEGIN
print 'REALIZADO EXITOSAMENTE'
SELECT
	200 AS 'StatusCode'
   ,'SUCCESS' AS 'Description'
   ,CONVERT(BIGINT, 0) AS 'NumTransferID'
END

COMMIT TRANSACTION;


END