USE [DeliveryBackOffice]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Marco, Jiménez>
-- Create date: <2021-06-15>
-- Description:	<Retorna los departamentos permitidos por ruta Linehauls>
-- =============================================
CREATE PROCEDURE [dbo].[GetProvinceLinehauls]
	@IdRoute as int = -1	
AS
BEGIN

IF @IdRoute != -1
BEGIN

SELECT
	IdProvince
   ,ProvinceName
FROM Province
WHERE
IdProvince IN (
SELECT DISTINCT p.IdProvince FROM CatLinehaul cl
INNER JOIN HubLogistics hb ON cl.IdHubDestination = hb.IdHubLogistic and hb.HubStatus = 1
INNER JOIN TownshipByHubLogistic tbh ON hb.IdHubLogistic = tbh.IdHublogistic AND tbh.StatusTownshipHub = 1
INNER JOIN Township tw ON tw.IdTownship = tbh.IdTownship AND tw.TownshipStatus = 1
INNER JOIN Province p ON p.IdProvince = tw.IdProvince AND p.ProvinceStatus  = 1
where cl.IdRoute = @IdRoute
)
AND
ProvinceStatus = 1

END
ELSE
BEGIN
SELECT
	IdProvince
   ,ProvinceName
FROM Province
WHERE
ProvinceStatus = 1
END
--SELECT
--	IdProvince
--   ,ProvinceName
--FROM Province
--WHERE
--IdProvince IN (SELECT * FROM CatLinehaul)
--ProvinceStatus = 1


--select * from HubLogistics
--select * from TownshipByHubLogistic
--select * from Township
--select * from Province where ProvinceAbbreviation = 'COA'
--select * from 



		

END