USE [DeliveryBackOffice]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Marco, Jiménez>
-- Create date: <2021-06-15>
-- Description:	<Retorna los municipios basados en el departamento>
-- =============================================
CREATE PROCEDURE [dbo].[GetTownLinehauls]
@IdProvince as INT
AS
BEGIN


	SELECT
		IdTownship
	   ,TownshipName
	FROM Township
	WHERE 
	IdProvince = @IdProvince
	AND	TownshipStatus = 1


END
