USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SPHWPMembershipOrSubscriptions]    Script Date: 2/16/2023 11:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Edelman Vásquez>
-- Create date: <Create Date,12/07/2022>
-- Description:	<Description,muestra las membresias y credenciales disponibles con su respectivo detalle>
-- =============================================
/*
	Actualización: Ordenar atributos de acuerdo a campo AttributePosition - 30-12-2022
	Actualización: Agregar campo de ícono a estructura de membresías y suscripciones - 11-01-2023
	Actualización: Validar rowStatus para atributos - 11-01-2023
	Actualización: Agregar objeto de descripciones para membresías - 20-01-2023
	Autor: Jerson Ochoa
*/
ALTER PROCEDURE [dbo].[SPHWPMembershipOrSubscriptions]
-- Add the parameters for the stored procedure here
  
    @Type  AS NVARCHAR(50),
	--@Token AS NVARCHAR(50),
	@AccountId AS BIGINT = NULL
 
     
  
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @JsonResponse NVARCHAR(MAX) = '';
    -- Insert statements for procedure here 

	DECLARE @CustomerId INT;
	IF(@AccountId IS NOT NULL)
	BEGIN
		SET @CustomerId = (
			SELECT
				TOP 1
					Acc.IdCustomer
			FROM
				[DeliveryBackOffice].[dbo].[Account] Acc WITH(NOLOCK)
			WHERE
				Acc.AccIdAccount = @AccountId
		);
	END

	IF (@Type = 'MEMBERSHIP')
	BEGIN
				SET @JsonResponse =  
					( 
				SELECT STUFF((
				SELECT DISTINCT ',{'+ 
							
							 '"Data" : [{'+
										'"Id":   "' + CAST(CM.IdCatMembership AS VARCHAR), +'"'+  ',' +
										'"Name": "' + CM.MembershipName, +'"'+  ',' +
										'"Icon": "' + CM.Icon, +'"'+  ',' +
										'"Attibutos": ['+			 
											( 
												SELECT STUFF((
															SELECT ','+ 
					
																	'{'+
																		 '"Id":"' + CAST(CMA.IdCatMembershipAttribute AS VARCHAR) +'"'+  ',' +
																		 '"Descripcion":"' + CMA.MembershipAttributeDescription+'"'+ ',' +
																		 '"Valor":"' + CAST(CMA.MembershipAttributeValue AS VARCHAR)+'"'+  ',' +
																		 '"Posicion":"' +CAST(CMA.MembershipAttributePosition AS VARCHAR)+'"'+ 
																		'}' 
							  
			
																from  [dbo].[CatMembershipAttribute] CMA     WITH(NOLOCK)
																where CatMembershipId= CM.IdCatMembership
																AND [CMA].[RowStatus] = 1
																order by [CMA].[MembershipAttributePosition]
																FOR XML PATH(''), TYPE 
																) 
																.value('.', 'varchar(max)'),1,1,'' 
															)
											) + ']'+  ',' +
										'"Descriptions":[' +
										ISNULL((
											SELECT STUFF((
												SELECT ',' +
												ISNULL('{'+
														'"Id":"' + CAST(CMD.IdCatMembershipDescription AS VARCHAR) +'"'+  ',' +
														'"Título":"' + CMD.Title +'"'+ ',' +
														'"Descripción":"' + CAST(CMD.Description AS NVARCHAR(500))+'"'+  ',' +
														'"Tipo":"' +CAST(CMD.Type AS VARCHAR)+'"'+ ',' +
														'"Posición":"' +CAST(CMD.Position AS VARCHAR)+'"'+ 
													'}', '') 
											FROM	[dbo].[CatMembershipDescription] CMD     
											WHERE	[CMD].[CatMembershipId] = [CM].[IdCatMembership]
												AND [CMD].[RowStatus] = 1
											ORDER BY [CMD].[Position], [CMD].[Type]
											FOR XML PATH(''), TYPE 
											).value('.', 'varchar(max)') , 1, 1, '')
										), '')
										+ ']' + ',' +
									   
										'"Costo":"' + CAST(CM.MembershipCost AS VARCHAR)+'"'+  ',' +
										'"Tiempo de validez":"'+CAST(CM.MembershipValidity AS VARCHAR)+'"'+   ',' +
										'"ActiveClienteHasSalesPackage":' + CAST((CASE WHEN ISNULL(MMBRSHP.IdMembership, 0) = 0 THEN 0 ELSE 1 END)AS VARCHAR) +
							         '}]' +
						  '}'
			
				FROM 
					 [dbo].[CatMembership] CM                  WITH (NOLOCK)
				INNER JOIN
					 [dbo].[CatMembershipAttribute] CMA 	   WITH (NOLOCK)
					ON CM.IdCatMembership = CMA.CatMembershipId
				OUTER APPLY (
					SELECT
						TOP 1
							MMBRSHP.IdMembership
					FROM
						[dbo].[Membership] MMBRSHP WITH(NOLOCK)
					WHERE 
						MMBRSHP.CatMembershipId = CM.IdCatMembership
						AND 
							(
								(
									MMBRSHP.AccountId = @AccountId 
									AND
									MMBRSHP.CustomerId = @CustomerId
								)
								-- En caso no se encuentre el AccoundId registrado en la membresía
								OR 
								MMBRSHP.CustomerId = @CustomerId
							)
						AND 
						MMBRSHP.RowStatus = 1
				) MMBRSHP
			--	ORDER BY CM.IdCatMembership Desc
				FOR XML PATH(''), TYPE 
				) 
						.value('.', 'varchar(max)'),1,1,'' 
						)
				)

		END 

		IF (@Type = 'Subscription')
		BEGIN
					SET @JsonResponse =  
						( 
					SELECT  STUFF((
					SELECT DISTINCT ',{'+ 
					
								 '"Data" : [{'+
											'"Id":   "' + CAST(CS.IdCatSubscription AS VARCHAR), +'"'+  ',' +
											'"Name": "' + CS.SubscriptionName, +'"'+  ',' +
											'"Icon": "' + CS.Icon, +'"'+  ',' +
											'"Attibutos": ['+
															

															 	( 
																	SELECT STUFF((
																	SELECT ','+ 
					
																			 '{'+
																				'"Id":"' + CAST(CSA.IdCatSubscriptionAttribute AS VARCHAR) +'"'+  ',' +
																				 '"Descripcion":"' + CSA.SubscriptionAttributeDescription+'"'+ ',' +
																				 '"Valor":"' + CAST(CSA.SubscriptionAttributeValue AS VARCHAR)+'"'+  ',' +
																				 '"Posicion":"' +CAST(CSA.SubscriptionAttributePosition AS VARCHAR)+'"'+ 
											
																			 '}' 
							  
			
																			from  [dbo].[CatSubscriptionAtribute] CSA    WITH(NOLOCK)
																			where CatSubscriptionId = CS.IdCatSubscription
																			AND [CSA].[RowStatus] = 1
																			ORDER BY [CSA].[SubscriptionAttributePosition]
																				FOR XML PATH(''), TYPE 
																				) 
																						.value('.', 'varchar(max)'),1,1,'' 
																						)
																)
																+

														']'+  ',' +
											'"Descriptions":[' +
												ISNULL((
													SELECT STUFF((
														SELECT ',' +
														ISNULL('{'+
																'"Id":"' + CAST(CSD.IdCatSubscriptionDescription AS VARCHAR) +'"'+  ',' +
																'"Título":"' + CSD.Title +'"'+ ',' +
																'"Descripción":"' + CAST(CSD.Description AS VARCHAR(500))+'"'+  ',' +
																'"Tipo":"' +CAST(CSD.Type AS VARCHAR)+'"'+ ',' +
																'"Posición":"' +CAST(CSD.Position AS VARCHAR)+'"'+ 
															'}', '') 
													FROM	[dbo].[CatSubscriptionDescription] CSD     
													WHERE	[CSD].[CatSubscriptionId] = [CS].[IdCatSubscription]
														AND [CSD].[RowStatus] = 1
													ORDER BY [CSD].[Position], [CSD].[Type]
													FOR XML PATH(''), TYPE 
													).value('.', 'varchar(max)') , 1, 1, '')
												), '')
												+ ']' + ',' +
									   
											'"Costo":"' + CAST(CS.SubscriptionCost AS VARCHAR)+'"'+  ',' +
											'"Tiempo de validez":"'+CAST(CS.SubscriptionValidity AS VARCHAR)+'"'+     ',' +
											'"ActiveClienteHasSalesPackage":' + CAST( (CASE WHEN ISNULL(SBSCRPTN.IdSubscription, 0) = 0 THEN 0 ELSE 1 END)AS VARCHAR) +
										 '}]' +
							  '}'
			
					FROM 
						 [dbo].[CatSubscription] CS                 WITH (NOLOCK)
					INNER JOIN
						 [dbo].[CatSubscriptionAtribute] CSA  	    WITH (NOLOCK)
					ON CS.IdCatSubscription = CSA.CatSubscriptionId
					OUTER APPLY (
						SELECT
							TOP 1
								SBSCRPTN.IdSubscription
						FROM
							[dbo].[Subscription] SBSCRPTN WITH(NOLOCK)
						WHERE 
							SBSCRPTN.CatSubscriptionId = CS.IdCatSubscription
							AND 
								(
									(
										SBSCRPTN.AccountId = @AccountId 
										AND
										SBSCRPTN.CustomerId = @CustomerId
									)
									-- En caso no se encuentre el AccoundId registrado en la membresía
									OR 
									SBSCRPTN.CustomerId = @CustomerId
								)
							AND 
							SBSCRPTN.RowStatus = 1
					) SBSCRPTN
					WHERE
						(CS.IncludedMembershipId IS NULL AND @AccountId IS NOT NULL) -- usuario individual
						OR
						(CS.IncludedMembershipId IS NOT NULL AND @AccountId IS NULL) -- otros usuarios
					--ORDER BY CS.IdCatSubscription Desc

					FOR XML PATH(''), TYPE 
					) 
							.value('.', 'varchar(max)'),1,1,'' 
							)
					)

			END 


  IF (@JsonResponse  IS NULL OR @JsonResponse='' )
        BEGIN

            SET @JsonResponse  =
            (
                SELECT STUFF(
                                (
                                    SELECT '{{"IdResult":500,' + '"Message":"No se encontraron registros"}'
                                    FOR XML PATH(''), TYPE
                                ).value('.', 'varchar(max)'),
                                1,
                                1,
                                ''
                            )
            );
        END;

       
		  SELECT  ( '[' + @JsonResponse + ']' )  JsonOutput 
END