/*
   Thursday, January 5, 202310:47:47
   User: DeliveryBackOffice
   Server: 172.64.3.200
   Database: DeliveryBackOffice
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE NONCLUSTERED INDEX IX_CreditCardTransactionByCustomerDetail_OrderNumber ON dbo.CreditCardTransactionByCustomerDetail
	(
	OrderNumber
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IX_CreditCardTransactionByCustomerDetail_ProductSerie ON dbo.CreditCardTransactionByCustomerDetail
	(
	ProductNumber,
	SerieNumber
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.CreditCardTransactionByCustomerDetail SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
