--Insertar regisrto de opción de menú de usuario express center

INSERT [dbo].[CatModule] ([ModName], [ModIdModuleParent], [ModPath], [ModDescription], [ModOrder], [ModMetadata], [ModVisible], [ModRowStatus], [ModTokenCreated], [ModDateCreated], [ModTokenUpdated], [ModDateUpdated], [ModGroup])
VALUES (N'Servicio COD', NULL, N'/express/crear-guia-cod', N'Servicio COD  express centrer ', 31, N'bi bi-send-check', 1, 1, N'evasquez', CAST(N'2024-01-06T00:39:59.723' AS DateTime), NULL, NULL, 1)


-- Modificar orden de la opción en el menú

UPDATE [dbo].[CatModule]
SET ModOrder= 32
WHERE  ModName='Canje de Beneficios'
AND ModDescription = 'Centro de Beneficios  express centrer'
AND ModPath='/express/centro-canje'