
/*
ACTUALIZACIÓN DE RECOLECCIONES DESDE AHORA HASTA UNA SEMANA ATRAS
*/

DECLARE @STARTDATETOUPDATE DATETIME= CONVERT(DATE, DATEADD(DAY, -7, GETDATE()));
SELECT @STARTDATETOUPDATE FechaIniciActuaizacion


SELECT SchedulePickupId,EndDate,StartDate, DATEADD(HOUR,2,StartDate )NewValueEndDate FROM SchedulePickup
WHERE StartDate >@STARTDATETOUPDATE 
AND EndDate IS NULL
AND RowStatus =1

UPDATE SchedulePickup SET 
	EndDate =DATEADD(HOUR,2,StartDate )
WHERE  StartDate >@STARTDATETOUPDATE 
AND EndDate IS NULL
AND RowStatus =1