USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sp_generate_batch_cod]    Script Date: 8/5/2021 3:42:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC  [dbo].[sp_generate_batch_cod]
ALTER PROCEDURE [dbo].[sp_generate_batch_cod]
	@IdBankParam INT
AS
BEGIN
	
	BEGIN TRANSACTION;
	
	BEGIN TRY
		--DECLARE @IdBankParam INT = 31;
		DECLARE @UpdateLast INT;
		DECLARE @ProductNumber VARCHAR(MAX);
		DECLARE @Reference INT;
		DECLARE @Token VARCHAR(50) = 'SYS.SERVICECOD';
		DECLARE @ModuleName NVARCHAR(50) = 'Courier App';
		DECLARE @IdModule INT = (SELECT cm.ModIdModule
									FROM DeliveryBackOffice.dbo.CatModule cm
									WHERE cm.ModName = @ModuleName);
		DECLARE @BankName NVARCHAR(50) = 'BANCO DE AMERICA CENTRAL';
		DECLARE @IdCountry NVARCHAR(50) = 'GT';
		DECLARE @InAccount NVARCHAR(50) = 'CUENTAS INTERNAS BAC O BANCOR';
		DECLARE @OutAccount NVARCHAR(50) = 'CREDITOS ENVIAR FONDOS A OTROS BANCOS';
		DECLARE @AccountType NVARCHAR(50) = 'MONETARIA';
		DECLARE @ConceptCustomer NVARCHAR(50) = 'PAGO';
		DECLARE @CreditAccount NVARCHAR(50) = '903666261';
		DECLARE @ConceptForza NVARCHAR(50) = 'COMISION';
		DECLARE @BankBAC INT = (SELECT db.Id_bank
								FROM DeliveryBackOffice.dbo.DeliveryBank db
								WHERE db.Name = @BankName
								AND db.Id_status = 1
								AND db.Id_country = @IdCountry);
		DECLARE @CreditAccountId INT = (SELECT DCBA_Id
										FROM DeliveryBackOffice.dbo.DeliveryCustomerBankAccount
										WHERE DCBA_Bank_Id = @BankBAC
										AND DCBA_Num_account = @CreditAccount
										AND DCBA_Id_estado = 1);
	
		IF (@IdBankParam IN (SELECT DISTINCT PayingBank
							 FROM DeliveryBackOffice.dbo.DeliveryBank
							 WHERE Id_country = @IdCountry
							 AND Id_status = 1
							 AND PayingBank <> @BankBAC))
		BEGIN
			SELECT @ProductNumber = (SELECT STUFF((SELECT ',' + CONCAT(pg.GuideSerie, pg.GuideNumber) 
													FROM DeliveryBackOffice.dbo.ProcessedGuideCOD pg
													JOIN DeliveryBackOffice.dbo.DeliveryOrder do
														ON do.Guide_Serie = pg.GuideSerie
														AND do.Guide_Number = pg.GuideNumber
													LEFT JOIN DeliveryBackOffice.dbo.DeliveryCustomerBankAccount dcba
														ON dcba.DCBA_Id = do.DCBA_ID
														AND dcba.DCBA_Id_estado = 1
													WHERE pg.BatchCODId IS NULL
													AND pg.BatchCODIdCommission IS NULL
													AND dcba.DCBA_Bank_Id = @IdBankParam
													--AND pg.Date BETWEEN '2021-08-01 07:00:00.000' AND '2021-08-01 23:59:59.999' 
													FOR XML PATH ('')), 1, 1, ''));
		END
		ELSE
		BEGIN
			SELECT @ProductNumber = (SELECT STUFF((SELECT ',' + CONCAT(pg.GuideSerie, pg.GuideNumber) 
										FROM DeliveryBackOffice.dbo.ProcessedGuideCOD pg
										JOIN DeliveryBackOffice.dbo.DeliveryOrder do
											ON do.Guide_Serie = pg.GuideSerie
											AND do.Guide_Number = pg.GuideNumber
										LEFT JOIN DeliveryBackOffice.dbo.DeliveryCustomerBankAccount dcba
											ON dcba.DCBA_Id = do.DCBA_ID
											AND dcba.DCBA_Id_estado = 1
										WHERE pg.BatchCODId IS NULL
										AND pg.BatchCODIdCommission IS NULL
										AND dcba.DCBA_Bank_Id NOT IN (SELECT DISTINCT PayingBank
																		FROM DeliveryBackOffice.dbo.DeliveryBank
																		WHERE Id_country = @IdCountry
																		AND Id_status = 1
																		AND PayingBank <> @BankBAC)
										--AND pg.Date BETWEEN '2021-08-01 07:00:00.000' AND '2021-08-01 23:59:59.999' 
										FOR XML PATH ('')), 1, 1, ''));
		END

		-- Insert statements for procedure here
		IF OBJECT_ID('tempdb.dbo.#listGuides', 'U') IS NOT NULL DROP TABLE #listGuides;
		IF OBJECT_ID('tempdb.dbo.#TempData', 'U') IS NOT NULL DROP TABLE #TempData;
		IF OBJECT_ID('tempdb.dbo.#CODData', 'U') IS NOT NULL DROP TABLE #CODData;
		IF OBJECT_ID('tempdb.dbo.#RevalueGuides', 'U') IS NOT NULL DROP TABLE #RevalueGuides;
		IF OBJECT_ID('tempdb.dbo.#TableAmountCODTemp', 'U') IS NOT NULL DROP TABLE #TableAmountCODTemp;
		IF OBJECT_ID('tempdb.dbo.#TableCustomerPaymentTemp', 'U') IS NOT NULL DROP TABLE #TableCustomerPaymentTemp;
		IF OBJECT_ID('tempdb.dbo.#TableForzaPaymentTemp', 'U') IS NOT NULL DROP TABLE #TableForzaPaymentTemp;
		
		IF @ProductNumber IS NOT NULL
		BEGIN
			-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			-- +++++++++++++++++++++++++++++++++ - COMIENZA EL BRAIN - ++++++++++++++++++++++++++++++++++++++++
			-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

			-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
			SET NOCOUNT ON;

			SELECT DISTINCT SUBSTRING(Item, 1, 2) ItemSerie,
							SUBSTRING(Item, 3, IIF(CHARINDEX('-', Item) = 0, (LEN(item)), (CHARINDEX('-', Item) - 3))) ItemNumber 
			INTO #listGuides
			FROM DeliveryBackOffice.dbo.SplitUnlimited(@ProductNumber, ',');

			DECLARE @IdRateDefault INT = (SELECT TOP 1 rh.RheId 
										  FROM DeliveryBackOffice.dbo.RateHeader rh
										  WHERE rh.RheRowStatus = 1 
										  AND rh.RheDefault = 1);
			DECLARE @IdRate INT;
			DECLARE @CODRateDefault DECIMAL(12, 2) = (SELECT CONVERT(DECIMAL(12, 2), ISNULL(cf.Value, '0')) val 
													  FROM DeliveryBackOffice.dbo.ConfigParams cf 
													  WHERE cf.Name = 'CODRateDef' 
													  AND Status = 1);
			DECLARE @CODExemptDefault DECIMAL(12, 2) = (SELECT CONVERT(DECIMAL(12, 2), ISNULL(cf.Value, '0')) val 
														FROM DeliveryBackOffice.dbo.ConfigParams cf 
														WHERE cf.Name = 'CODExemptDef' 
														AND Status = 1);

			---- Revalorizar guias que no tengan un precio asociado ---------------------------------------------
			SELECT ord.Guide_Serie, ord.Guide_Number
			INTO #RevalueGuides
			FROM #listGuides lst
			JOIN DeliveryBackOffice.dbo.DeliveryOrder ord 
				ON ord.Guide_Number = lst.ItemNumber 
				AND ord.Guide_Serie = lst.ItemSerie
			WHERE ord.PriceShippment IS NULL -- precion nulo
			OR ord.PriceShippment <= 0 -- precio 0
			OR ord.StatusOrderId = 14; -- guias devuletas

			DECLARE @count INT = 1;
			DECLARE @RevalueSerie VARCHAR(10);
			DECLARE @RevalueGuide INT;
			DECLARE @IdMax INT = (SELECT COUNT(1) 
								  FROM #RevalueGuides);
			DECLARE @RC INT;

			WHILE @count <= @IdMax
			BEGIN

			PRINT '************************revalue**********************'
				PRINT @RevalueSerie
				PRINT @RevalueGuide
				SELECT TOP 1 
					@RevalueSerie = rv.Guide_Serie,
					@RevalueGuide = rv.Guide_Number
				FROM #RevalueGuides rv;

				EXECUTE @RC = DeliveryBackOffice.dbo.spws_revalue_guide
					@GuideSerie = @RevalueSerie,
					@GuideNumber = @RevalueGuide,
					@CodeApp = '',
					@Format = 'Non',
					@CalculateTaxes = 'true',
					@IdModule = @IdModule,
					@SetUpdate = 'true',
					@Token = @Token,
					@IsReturn = 'false'
				SET @count = @count + 1;
				
				DELETE TOP (1) FROM #RevalueGuides;
			END
			-----------------------------------------------------------------------------------------------------

			SELECT lst.*, 
				ord.Sender_ID, 
				ord.Collect_OnDelivery, 
				ISNULL(ord.IdCustomer, vpc.CustomerID) IDCUSTOMER, 
				ISNULL(rc.RbcIdRate, @idRateDefault) IdRate, 
				IIF(ord.TypeService = 'EXP' , 'NDD', ISNULL(ord.TypeService, 'NDD')) Serv, 
				twn.HeaderCode, 
				(SELECT TOP 1 hb.IdHubLogistic 
				 FROM DeliveryBackOffice.dbo.DumpServiceCoverage cv 
				 JOIN DeliveryBackOffice.dbo.HubLogistics hb 
					ON hb.HubAbbreviation = cv.Hub	
				 WHERE cv.HeaderCode = twn.HeaderCode) Hub, 
				 csv.CtsId IdService, 
				 ord.DCBA_ID 
			INTO #TempData
			FROM #listGuides lst
			JOIN DeliveryBackOffice.dbo.DeliveryOrder ord 
				ON ord.Guide_Serie = lst.ItemSerie 
				AND ord.Guide_Number = lst.ItemNumber
			LEFT JOIN DeliveryBackOffice.dbo.VisitPointClient vpc 
				ON vpc.CodeOfReference = ord.Sender_ID
			LEFT JOIN DeliveryBackOffice.dbo.RatebyCustomer rc 
				ON rc.RbcIdCustomer = ISNULL(ord.IdCustomer, vpc.CustomerID) 
				AND rc.RbcRowStatus = 'true'
			LEFT JOIN DeliveryBackOffice.dbo.Township twn 
				  ON twn.IdTownship = ISNULL(   ISNULL(ord.ReceiverIdTownship,
										  (
										   SELECT TOP 1
												  IdTownship
										   FROM dbo.Township twn
										   WHERE twn.TownshipName = ord.Receiver_Town
												 AND twn.TownshipStatus = 'true'
										  )
												),
								(
									SELECT TOP 1
										   st.IdTownship
									FROM dbo.Settlement st
									WHERE st.IdSettlement = ord.ReceiverIdSettlement
								)
									  )
			LEFT JOIN DeliveryBackOffice.dbo.CatTypeService csv 
				ON csv.CtsShortName = IIF(ord.TypeService = 'EXP', 'NDD', isnull(ord.TypeService, 'NDD')) 
				AND csv.CtsRowStatus = 'true';

			DECLARE @IdSegmentDefault INT = (SELECT TOP 1 CrsId 
											 FROM DeliveryBackOffice.dbo.CatRateSegment 
											 WHERE CrsShortName = 'FOR' 
											 AND CrsRowStatus = 'true');

			SELECT td.*, 
				ISNULL(cv.SegmentId, @IdSegmentDefault) IdSegment,
				ISNULL(rc.CODRate, @CODRateDefault) CODRate,
				ISNULL(rc.CODExempt, @CODExemptDefault) CODExempt, 
				CONVERT(DECIMAL(12, 2), ((ISNULL(td.Collect_OnDelivery, 0) - ISNULL(rc.CODExempt, @CODExemptDefault)) * 
										ISNULL(rc.CODRate, @CODRateDefault) / 100)) Commission
			INTO #CODData
			FROM #TempData td
			LEFT JOIN DeliveryBackOffice.dbo.VisitPointCoverage cv 
				ON cv.VisitPointId = td.Sender_ID 
				AND cv.HubLogisticId = td.Hub 
				AND cv.RowStatus = 'true'
			LEFT JOIN DeliveryBackOffice.dbo.RateCOD rc 
				ON rc.RateId = td.IdRate 
				AND rc.TypeServiceId = td.IdService 
				AND rc.TypeSegmentId = ISNULL(cv.SegmentId, @IdSegmentDefault) 
				AND rc.RowStatus = 1
			ORDER BY td.IDCUSTOMER, td.ItemSerie, td.ItemNumber, td.Collect_OnDelivery;

			DECLARE @MaxPaymentTIme INT = (SELECT TOP 1 pt.TimePlaId 
										   FROM DeliveryBackOffice.dbo.CatPaymentTime pt 
										   WHERE pt.TimePlaStatus = 1 
										   AND pt.TimeSequence = (SELECT MAX(ps.TimeSequence) 
																  FROM DeliveryBackOffice.dbo.CatPaymentTime ps 
																  WHERE ps.TimePlaStatus = 1));
			DECLARE @PendingPaymentTemp TABLE (	
												GuideSerie NVARCHAR(25) NULL,
												GuideNumber INT,
												IsCollect BIT,
												Price DECIMAL(14, 2) NULL,
												COD DECIMAL(14, 2) NULL,
												AmountPaid DECIMAL(14, 2) NULL,
												CODPaid DECIMAL(14, 2) NULL,
												CODIsPaid BIT,
												PaymentTime INT NULL,
												TimeSequence INT NULL,
												FelNumber NVARCHAR(50) NULL,
												IsPaid BIT,
												IsCustomer INT NULL,
												ConditionPayment VARCHAR(200),
												HaveCredit BIT,
												CollectCOD BIT,
												ReturnRate DECIMAL(14, 2) NULL,
												AmountToPay DECIMAL(14, 2) NULL,
												CODAmount DECIMAL(14, 2) NULL,
												ReturnRates DECIMAL(14, 2) NULL
											  );

			INSERT INTO @PendingPaymentTemp (GuideSerie, GuideNumber, IsCollect, Price, COD, 
											 AmountPaid, CODPaid, CODIsPaid, PaymentTime, TimeSequence,
											 FelNumber, IsPaid, IsCustomer, ConditionPayment, HaveCredit,
											 CollectCOD, ReturnRate, AmountToPay, CODAmount, ReturnRates)
			EXEC  DeliveryBackOffice.dbo.spws_get_guide_pending_payment
				@InGuides = @ProductNumber,
				@InTime = @MaxPaymentTIme,
				@IsReturn = 'false',
				@CodeApp = 'SIFDCECOM300720201459',
				@IdModule = @IdModule,
				@Token = @Token;

			DECLARE @TableAmountCOD TABLE (
											ItemSerie NVARCHAR(2),
											ItemNumber INT,
											Collect_OnDelivery DECIMAL(18, 2),
											IDCUSTOMER INT,
											CODRate DECIMAL(18, 2),
											CODExempt DECIMAL(18, 2),
											Commission DECIMAL(18, 2),
											DeliveryPrice DECIMAL(18, 2),
											CODPaid DECIMAL(18, 2),
											ReturnRates DECIMAL(18, 2),
											CODIsPaid BIT,
											Id_bank INT,
											[Name] NVARCHAR(50),
											DCBA_Id INT,
											DCBA_Num_account NVARCHAR(50),
											DCBA_Nom_account NVARCHAR(50),
											DCBA_BankAccountType NVARCHAR(50),
											DCBA_Identification NVARCHAR(50),
											Deposit_Number INT,
											CODtoPay DECIMAL(18, 2),
											Price DECIMAL(18, 2)
										  );

			INSERT INTO @TableAmountCOD (ItemSerie, ItemNumber, Collect_OnDelivery, IDCUSTOMER, CODRate,
										 CODExempt, Commission, DeliveryPrice, CODPaid, ReturnRates,
										 CODIsPaid, Id_bank, [Name], DCBA_Id, DCBA_Num_account,
										 DCBA_Nom_account, DCBA_BankAccountType, DCBA_Identification, Deposit_Number, CODtoPay,
										 Price)
			SELECT tp.ItemSerie
					, tp.ItemNumber
					, tp.Collect_OnDelivery
					, tp.IDCUSTOMER 
					, tp.CODRate
					, tp.CODExempt
					, IIF(tp.Commission<0,0,tp.Commission) Commision
					, pp.AmountToPay DeliveryPrice
					, pp.CODPaid
					, pp.ReturnRates
					, pp.CODIsPaid
					, ISNULL(bk.Id_bank, cs.CODAccountBankID) [Id_bank]
					, ISNULL(bk.Name,bks.Name) [Name]
					, ISNULL(dc.DCBA_Id,0) [DCBA_Id]
					, ISNULL(dc.DCBA_Num_account, cs.CODAccountName)[DCBA_Num_account]
					, ISNULL(dc.DCBA_Num_account, cs.CODAccountNumber)[DCBA_Num_account]
					, ISNULL(dc.DCBA_BankAccountType,(SELECT CATTC.AccountType
													  FROM DeliveryBackOffice.dbo.CatAccountTypeCOD CATTC
													  WHERE RowStatus = 1
													  AND IdCatAccountTypeCOD = cs.CODAccountTypeID))[DCBA_BankAccountType]
					, ISNULL(dc.DCBA_Identification, cs.LegalSponsorDPI)[DCBA_Identification]
					, op.Deposit_Number				
					--,pp.AmountToPay
					--, iif(op.Deposit_Number is null,( tp.Collect_OnDelivery - IIF(tp.Commission<=0,0,tp.Commission) - pp.AmountToPay - pp.ReturnRates  ), 0) as CODtoPay
					, iif(op.Deposit_Number is null,( tp.Collect_OnDelivery - IIF(tp.Commission<=0,0,tp.Commission) - pp.AmountToPay - pp.ReturnRates  ), 0) as CODtoPay
					,0 AmountToPay
					FROM #CODData tp
					left join @PendingPaymentTemp pp on pp.GuideSerie = tp.ItemSerie and pp.GuideNumber = tp.ItemNumber
					left join dbo.DeliveryOrderPaid op on op.Guide_Serie = tp.ItemSerie and op.Guide_Number = tp.ItemNumber
					left join dbo.DeliveryCustomerBankAccount dc on dc.DCBA_Id = tp.DCBA_ID AND dc.DCBA_Id_estado = 1
					left join dbo.DeliveryBank bk on bk.Id_bank = dc.DCBA_Bank_Id			
					LEFT JOIN dbo.Customer cs ON cs.IdCustomer = tp.IDCUSTOMER 
					left join dbo.DeliveryBank bks on bks.Id_bank = cs.CODAccountBankID
				where tp.Collect_OnDelivery >0
				order by tp.IDCUSTOMER, tp.ItemSerie, tp.ItemNumber

			-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			-- ++++++++++++++++++++++++++++++++++ - TERMINA EL BRAIN - ++++++++++++++++++++++++++++++++++++++++
			-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			
			-- LIMPIEZA DE REGISTROS DUPLICADOS DE LA RESPUESTA DEL BRAIN
			SELECT ItemSerie, ItemNumber, Collect_OnDelivery, IDCUSTOMER, CODRate,
				   CODExempt, Commission, SUM(DeliveryPrice) DeliveryPrice, SUM(ISNULL(CODPaid, 0)) CODPaid, ReturnRates,
				   Id_bank, [Name], DCBA_Id, DCBA_Num_account, DCBA_Nom_account, 
				   DCBA_BankAccountType, MIN(CODtoPay) CODtoPay, MAX(Price) Price
			INTO #TableAmountCODTemp
			FROM @TableAmountCOD
			GROUP BY ItemSerie, ItemNumber, Collect_OnDelivery, IDCUSTOMER, CODRate,
				   CODExempt, Commission, ReturnRates, Id_bank, [Name], 
				   DCBA_Id, DCBA_Num_account, DCBA_Nom_account, DCBA_BankAccountType
			ORDER BY ItemNumber;

			-- OBTENCION DEL NUMERO DE REFERENCIA (CORRELATIVO) PARA BAC
			SELECT @Reference = Last
			FROM DeliveryBackOffice.dbo.CatCorrelativeCOD
			WHERE BankId = @BankBAC
			AND RowStatus = 1;

			-- CONSTRUCCION DE REGISTROS PARA EL PAGO A FORZA DE LAS COMISIONES Y ENVIOS
			SELECT tact.ItemSerie GuideSerie, 
				   tact.ItemNumber GuideNumber, 
				   (SELECT IdCatDebitAccountCOD 
					FROM DeliveryBackOffice.dbo.CatDebitAccountCOD 
					WHERE BankId = @BankBAC 
					AND RowStatus = 1) CatDebitAccountCODId,
				   @CreditAccountId CreditAccountId,
				   (tact.Commission + IIF(do.IsCollect = 1, tact.Price, 0)) Amount,
				   tact.Commission,					
				   (SELECT IdCatTransactionTypeCOD
					FROM DeliveryBackOffice.dbo.CatTransactionTypeCOD 
					WHERE BankId = @BankBAC 
					AND RowStatus = 1
					AND Description = @InAccount) CatTransactionTypeCODId,
				   @BankBAC BankId,
				   (SELECT IdCatAccountTypeCOD
					FROM DeliveryBackOffice.dbo.CatAccountTypeCOD
					WHERE RowStatus = 1
					AND AccountType = UPPER(@AccountType)) CatAccountTypeCODId,
				   (SELECT IdCatConceptCOD
					FROM DeliveryBackOffice.dbo.CatConceptCOD
					WHERE RowStatus = 1
					AND Concept LIKE (@ConceptForza + '%')) CatConceptCODId,
				   ((ROW_NUMBER() OVER(ORDER BY tact.ItemNumber)) + ISNULL(@Reference, 0)) Reference 
			INTO #TableForzaPaymentTemp
			FROM #TableAmountCODTemp tact
			INNER JOIN DeliveryBackOffice.dbo.DeliveryOrder do
				ON do.Guide_Serie = tact.ItemSerie
				AND do.Guide_Number = tact.ItemNumber
			WHERE (tact.Commission + IIF(do.IsCollect = 1, tact.Price, 0)) > 0;

			SET @Reference = @Reference + (SELECT COUNT(1)
										   FROM #TableForzaPaymentTemp);

			-- CONSTRUCCION DE REGISTROS PARA EL PAGO A LOS CLIENTES DE COD
			-- SIN IMPORTAR EL BANCO AL QUE PERTENECE LA CUENTA DEL CLIENTE
			SELECT tact.ItemSerie GuideSerie, 
				   tact.ItemNumber GuideNumber, 
				   (SELECT IdCatDebitAccountCOD 
					FROM DeliveryBackOffice.dbo.CatDebitAccountCOD 
					WHERE BankId = IIF(@BankBAC <> @IdBankParam, tact.Id_bank, @BankBAC) 
					AND RowStatus = 1) CatDebitAccountCODId,
				   tact.DCBA_Id CreditAccountId,
				   tact.CODtoPay Amount,
				   tact.Commission,
				   IIF(tact.Id_bank NOT IN (SELECT DISTINCT PayingBank
											FROM DeliveryBackOffice.dbo.DeliveryBank
											WHERE Id_country = @IdCountry
											AND Id_status = 1
											AND PayingBank <> @BankBAC), 
					   IIF(tact.Id_bank = @BankBAC, (SELECT IdCatTransactionTypeCOD
													 FROM DeliveryBackOffice.dbo.CatTransactionTypeCOD 
													 WHERE BankId = tact.Id_bank 
													 AND RowStatus = 1
													 AND Description = @InAccount), 
													(SELECT IdCatTransactionTypeCOD
													 FROM DeliveryBackOffice.dbo.CatTransactionTypeCOD 
													 WHERE BankId = @BankBAC 
													 AND RowStatus = 1
													 AND Description = @OutAccount)), 
					   NULL) CatTransactionTypeCODId,
				   tact.Id_bank BankId,
				   (SELECT IdCatAccountTypeCOD
					FROM DeliveryBackOffice.dbo.CatAccountTypeCOD
					WHERE RowStatus = 1
					AND AccountType = IIF(tact.DCBA_BankAccountType = '', 
										  @AccountType, 
										  ISNULL(UPPER(tact.DCBA_BankAccountType), 
												 @AccountType))) CatAccountTypeCODId,
				   (SELECT IdCatConceptCOD
					FROM DeliveryBackOffice.dbo.CatConceptCOD
					WHERE RowStatus = 1
					AND Concept LIKE (@ConceptCustomer + '%')) CatConceptCODId,
				   ((ROW_NUMBER() OVER(ORDER BY tact.ItemNumber)) + IIF(@IdBankParam = @BankBAC, ISNULL(@Reference, 0), 0)) Reference 
			INTO #TableCustomerPaymentTemp
			FROM #TableAmountCODTemp tact
			WHERE tact.CODtoPay > 0;

			IF (@IdBankParam = @BankBAC)
			BEGIN
				SET @Reference = @Reference + (SELECT COUNT(1)
											   FROM #TableCustomerPaymentTemp);
			END;

			-- ACTUALIZA EL CORRELATIVO PARA LA PROXIMA GENERACION DE LOTES
			UPDATE DeliveryBackOffice.dbo.CatCorrelativeCOD
			SET Last = ISNULL(@Reference, Last)
			WHERE BankId = @BankBAC
			AND RowStatus = 1;

			-- SECCION PARA LA CREACION DEL LOTE PARA EL PAGO A CLIENTES
			DECLARE @MaxBatchNumber INT = 1 + (SELECT ISNULL(MAX(IdBatchCOD), 0)
											   FROM DeliveryBackOffice.dbo.BatchCOD);
			DECLARE @NewIdBatchCODCustomer INT;

			IF ((SELECT COUNT(1)
				 FROM #TableCustomerPaymentTemp) > 0)
			BEGIN
				-- SE CREA EL LOTE PARA EL PAGO A CLIENTES
				INSERT INTO DeliveryBackOffice.dbo.BatchCOD (BankId, BatchNumber)
					VALUES (@IdBankParam, @MaxBatchNumber);

				-- OBTENCION DEL ID QUE CORRESPONDE AL LOTE CREADO
				SELECT @NewIdBatchCODCustomer = SCOPE_IDENTITY();

				IF (@MaxBatchNumber <> @NewIdBatchCODCustomer)
				BEGIN
					UPDATE DeliveryBackOffice.dbo.BatchCOD
					SET BatchNumber = IdBatchCOD
					WHERE IdBatchCOD = @NewIdBatchCODCustomer;

					SET @MaxBatchNumber = @NewIdBatchCODCustomer;
				END;

				IF ((@NewIdBatchCODCustomer IS NOT NULL) AND (@NewIdBatchCODCustomer > 0))
				BEGIN
					-- SE CREA EL DETALLE DEL LOTE PARA EL PAGO A CLIENTES
					INSERT INTO DeliveryBackOffice.dbo.BatchDetailCOD 
							(BatchCODId, GuideSerie, GuideNumber, CatDebitAccountCODId, 
							 CreditAccountId, Amount, Commission, CatTransactionTypeCODId, 
							 BankId, CatAccountTypeCODId, CatConceptCODId, Reference, 
							 Excluded, 
							 Comments)
					SELECT @NewIdBatchCODCustomer, tcpt.GuideSerie, tcpt.GuideNumber, tcpt.CatDebitAccountCODId, 
						   tcpt.CreditAccountId, tcpt.Amount, tcpt.Commission, tcpt.CatTransactionTypeCODId, 
						   tcpt.BankId, tcpt.CatAccountTypeCODId, tcpt.CatConceptCODId, tcpt.Reference,
						   IIF(DeliveryBackOffice.dbo.fn_validate_customer_bank_account(ISNULL(dcba.DCBA_Num_account, 
																							   ISNULL(cd.CODAccountNumber, 
																									  cs.CODAccountNumber)),
																						tcpt.BankId,
																						tcpt.CatAccountTypeCODId,
																						ISNULL(dcba.DCBA_Nom_account, 
																							   ISNULL(cd.CODAccountName, 
																									  cs.CODAccountName))) IS NULL, 
							   'FALSE', 'TRUE') Excluded,
						   DeliveryBackOffice.dbo.fn_validate_customer_bank_account(ISNULL(dcba.DCBA_Num_account, 
																							   ISNULL(cd.CODAccountNumber, 
																									  cs.CODAccountNumber)),
																						tcpt.BankId,
																						tcpt.CatAccountTypeCODId,
																						ISNULL(dcba.DCBA_Nom_account, 
																							   ISNULL(cd.CODAccountName, 
																									  cs.CODAccountName))
																				   ) Comments
					FROM #TableCustomerPaymentTemp tcpt
					LEFT JOIN DeliveryBackOffice.dbo.DeliveryCustomerBankAccount dcba
						ON dcba.DCBA_Id = tcpt.CreditAccountId
						AND dcba.DCBA_Bank_Id = tcpt.BankId
						AND dcba.DCBA_Id_estado = 1
					LEFT JOIN DeliveryBackOffice.dbo.DeliveryOrder ord
						ON ord.Guide_Serie = tcpt.GuideSerie 
						AND ord.Guide_Number = tcpt.GuideNumber
					LEFT JOIN DeliveryBackOffice.dbo.VisitPointClient vp 
						ON vp.CodeOfReference = ord.Sender_ID
					LEFT JOIN DeliveryBackOffice.dbo.Customer cs 
						ON cs.IdCustomer = vp.CustomerID
					LEFT JOIN DeliveryBackOffice.dbo.Customer cd 
						ON cd.IdCustomer = ord.IdCustomer
				END;
			END;
			
			-- SECCION PARA LA CREACION DEL LOTE PARA EL PAGO A FORZA DE LAS COMISIONES Y ENVIOS
			SET @MaxBatchNumber = 1 + @MaxBatchNumber;
			DECLARE @NewIdBatchCODForza INT;

			IF ((SELECT COUNT(1)
				 FROM #TableForzaPaymentTemp) > 0)
			BEGIN
				-- SE CREA EL LOTE PARA EL PAGO A FORZA DE LAS COMISIONES Y ENVIOS
				INSERT INTO DeliveryBackOffice.dbo.BatchCOD (BankId, BatchNumber)
					VALUES (@BankBAC, @MaxBatchNumber);

				-- OBTENCION DEL ID QUE CORRESPONDE AL LOTE CREADO
				SELECT @NewIdBatchCODForza = SCOPE_IDENTITY();

				IF (@MaxBatchNumber <> @NewIdBatchCODForza)
				BEGIN
					UPDATE DeliveryBackOffice.dbo.BatchCOD
					SET BatchNumber = IdBatchCOD
					WHERE IdBatchCOD = @NewIdBatchCODForza;
				END;

				IF ((@NewIdBatchCODForza IS NOT NULL) AND (@NewIdBatchCODForza > 0))
				BEGIN
					-- SE CREA EL DETALLE DEL LOTE PARA EL PAGO A FORZA DE LAS COMISIONES Y ENVIOS
					INSERT INTO DeliveryBackOffice.dbo.BatchDetailCOD 
							(BatchCODId, GuideSerie, GuideNumber, CatDebitAccountCODId, 
							 CreditAccountId, Amount, Commission, CatTransactionTypeCODId, 
							 BankId, CatAccountTypeCODId, CatConceptCODId, Reference, 
							 Excluded, 
							 Comments)
					SELECT @NewIdBatchCODForza, tfpt.GuideSerie, tfpt.GuideNumber, tfpt.CatDebitAccountCODId, 
						   tfpt.CreditAccountId, tfpt.Amount, tfpt.Commission, tfpt.CatTransactionTypeCODId, 
						   tfpt.BankId, tfpt.CatAccountTypeCODId, tfpt.CatConceptCODId, tfpt.Reference,
						   IIF(DeliveryBackOffice.dbo.fn_validate_customer_bank_account(ISNULL(dcba.DCBA_Num_account, 
																							   ISNULL(cd.CODAccountNumber, 
																									  cs.CODAccountNumber)),
																						tfpt.BankId,
																						tfpt.CatAccountTypeCODId,
																						ISNULL(dcba.DCBA_Nom_account, 
																							   ISNULL(cd.CODAccountName, 
																									  cs.CODAccountName))) IS NULL, 
							   'FALSE', 'TRUE') AS Excluded,
						   DeliveryBackOffice.dbo.fn_validate_customer_bank_account(ISNULL(dcba.DCBA_Num_account, 
																							   ISNULL(cd.CODAccountNumber, 
																									  cs.CODAccountNumber)),
																						tfpt.BankId,
																						tfpt.CatAccountTypeCODId,
																						ISNULL(dcba.DCBA_Nom_account, 
																							   ISNULL(cd.CODAccountName, 
																									  cs.CODAccountName))
																				   ) AS Comments
					FROM #TableForzaPaymentTemp tfpt
					LEFT JOIN DeliveryBackOffice.dbo.DeliveryCustomerBankAccount dcba
						ON dcba.DCBA_Id = tfpt.CreditAccountId
						AND dcba.DCBA_Bank_Id = tfpt.BankId
						AND dcba.DCBA_Id_estado = 1
					LEFT JOIN DeliveryBackOffice.dbo.DeliveryOrder ord
						ON ord.Guide_Serie = tfpt.GuideSerie 
						AND ord.Guide_Number = tfpt.GuideNumber
					LEFT JOIN DeliveryBackOffice.dbo.VisitPointClient vp 
						ON vp.CodeOfReference = ord.Sender_ID
					LEFT JOIN DeliveryBackOffice.dbo.Customer cs 
						ON cs.IdCustomer = vp.CustomerID
					LEFT JOIN DeliveryBackOffice.dbo.Customer cd 
						ON cd.IdCustomer = ord.IdCustomer
				END;
			END;

			-- ASIGNACION DEL ID DE LOTE
			-- EN LAS COLUMNAS BATCHCODID Y BATCHCODIDCOMMISION EN LA TABLA PROCESSGUIDE
			-- PARA CONOCER QUE GUIA PARTICIPA EN QUE LOTES
			-- ESTAS GUIAS CREAN REGISTRO DE PAGO A CLIENTE Y DE COMISION Y ENVIO
			UPDATE pgc
			SET pgc.BatchCODId = @NewIdBatchCODCustomer,
				pgc.BatchCODIdCommission = @NewIdBatchCODForza
			FROM DeliveryBackOffice.dbo.ProcessedGuideCOD pgc
			INNER JOIN #TableCustomerPaymentTemp tcpt
				ON pgc.GuideSerie = tcpt.GuideSerie
				AND pgc.GuideNumber = tcpt.GuideNumber
			INNER JOIN #TableForzaPaymentTemp tfpt
				ON pgc.GuideSerie = tfpt.GuideSerie
				AND pgc.GuideNumber = tfpt.GuideNumber
			WHERE BatchCODId IS NULL
			AND BatchCODIdCommission IS NULL;

			-- ASIGNACION DEL ID DE LOTE
			-- EN LAS COLUMNAS BATCHCODID Y BATCHCODIDCOMMISION EN LA TABLA PROCESSGUIDE
			-- PARA CONOCER QUE GUIA PARTICIPA EN QUE LOTES
			-- ESTAS GUIAS CREAN SOLO EL REGISTRO DE PAGO A CLIENTE
			UPDATE pgc
			SET pgc.BatchCODId = @NewIdBatchCODCustomer,
				pgc.BatchCODIdCommission = NULL
			FROM DeliveryBackOffice.dbo.ProcessedGuideCOD pgc
			INNER JOIN #TableCustomerPaymentTemp tcpt
				ON pgc.GuideSerie = tcpt.GuideSerie
				AND pgc.GuideNumber = tcpt.GuideNumber
			WHERE BatchCODId IS NULL
			AND BatchCODIdCommission IS NULL;

			-- ASIGNACION DEL ID DE LOTE
			-- EN LAS COLUMNAS BATCHCODID Y BATCHCODIDCOMMISION EN LA TABLA PROCESSGUIDE
			-- PARA CONOCER QUE GUIA PARTICIPA EN QUE LOTES
			-- ESTAS GUIAS CREAN SOLO EL REGISTRO DE COMISION Y ENVIO
			UPDATE pgc
			SET pgc.BatchCODId = NULL,
				pgc.BatchCODIdCommission = @NewIdBatchCODForza
			FROM DeliveryBackOffice.dbo.ProcessedGuideCOD pgc
			INNER JOIN #TableForzaPaymentTemp tfpt
				ON pgc.GuideSerie = tfpt.GuideSerie
				AND pgc.GuideNumber = tfpt.GuideNumber
			WHERE BatchCODId IS NULL
			AND BatchCODIdCommission IS NULL;
		END
		ELSE
		BEGIN
			PRINT 'NO HAY GUIAS PARA PROCESAR';
			COMMIT TRANSACTION;
		END
	END TRY
	BEGIN CATCH
		SELECT 'RollBackTransaction' AS message,
				'FALSE'	blnResult,
				CAST(-1 AS VARCHAR(5)) IdResult,
				CAST(500 AS VARCHAR(5)) StatusResult,
				CAST(ERROR_NUMBER() AS VARCHAR) AS ErrorNumber,
				CAST(ERROR_SEVERITY() AS VARCHAR) AS ErrorSeverity,
				CAST(ERROR_STATE() AS VARCHAR) AS ErrorState,
				CAST(ERROR_PROCEDURE() AS VARCHAR) AS ErrorProcedure,
				CAST(ERROR_LINE() AS VARCHAR) AS ErrorLine,
				CAST(ERROR_MESSAGE() AS VARCHAR) AS ResultMessage;

		ROLLBACK TRANSACTION;
	END CATCH;

	IF @@TRANCOUNT > 0
	BEGIN
		--SELECT * FROM #TableAmountCODTemp;
		--SELECT * FROM #TableCustomerPaymentTemp;
		--SELECT * FROM #TableForzaPaymentTemp;
		--SELECT * FROM #TableBACFormatTemp;
		--SELECT * FROM #TableDistinctBankTemp;
		--SELECT * FROM #TableFullFormatTemp;
		--SELECT * FROM #TableDistinctBankIndexTemp;
		
		-- SOLO PARA BANCO BANRURAL
		SELECT @IdBankParam PayingBank, @NewIdBatchCODCustomer IdBatchCOD, @NewIdBatchCODCustomer as BATCHNUMBER, 'TRUE' AS blnResult 
		UNION
		SELECT @BankBAC PayingBank, @NewIdBatchCODForza IdBatchCOD, @NewIdBatchCODForza as BATCHNUMBER, 'TRUE' AS blnResult ;

		COMMIT TRANSACTION;
	END
END
