USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spws_get_validate_vp_by_settlement_customer]    Script Date: 16/12/2020 11:21:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<César,Aquino>
-- Create date: <2020-12-15>
-- Description:	<Verifica que existe un visit point asociando a un Hub
--				devolvera 0 si no hay ningun visit point asociado
--				devolvera 1 si existe un visit point asociado
--				devolvera >1 si exite mas de un visiti point asociado>
-- =============================================
create PROCEDURE [dbo].[spws_get_validate_vp_by_header_code]
	-- Add the parameters for the stored procedure here
		    @CodApp as nvarchar(50) = 'SIFDCECOM300720201459',
			@HeaderCode as nvarchar(6)  = '0101'

AS
BEGIN
	
	SET NOCOUNT ON;

	
	BEGIN TRY  
			  select count(*) as result
				  from DeliveryBackOffice.dbo.Township mun
					inner join DeliveryBackOffice.dbo.TownshipByHubLogistic muh on muh.IdTownship =  mun.IdTownship
					inner join DeliveryBackOffice.dbo.HubLogistics hub on hub.IdHubLogistic =  muh.IdHublogistic
					inner join DeliveryBackOffice.dbo.VisitPointClientByHubLogistics vph on vph.IdHublogistic = hub.IdHubLogistic
					inner join DeliveryBackOffice.dbo.VisitPointClient vpc on vpc.CodeOfReference = vph.IdVisitPointClient
				  where mun.HeaderCode = @HeaderCode

			
	END TRY  
	BEGIN CATCH  
		SELECT   Cast(ERROR_NUMBER() as nvarchar) AS ErrorNumber  
				,Cast(ERROR_SEVERITY() as nvarchar) AS ErrorSeverity  
				,Cast(ERROR_STATE() as nvarchar) AS ErrorState  
				,Cast(ERROR_PROCEDURE() as nvarchar) AS ErrorProcedure  
				,Cast(ERROR_LINE() as nvarchar) AS ErrorLine  
				,Cast(ERROR_MESSAGE() as nvarchar) AS ErrorMessage;
		
	END CATCH;   

END
