USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetNationalities]    Script Date: 25/01/2021 10:37:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetNationalities]
  @IdCountry varchar(50) = null,
  @CountryAlpha3Code varchar(50) = null, 
  @CountryNationality varchar(50) = null
AS 
BEGIN 

 DECLARE @jsonResult NVARCHAR(MAX) 
  SET @jsonResult = (
	 SELECT STUFF((
		SELECT  
	  ',{"Id":"' + CONVERT(varchar,IdCountry)  + '",' +
	  '"Description":"' + CONVERT(varchar,CountryNationality) + '"}' 
	  from DeliveryBackOffice.dbo.CatCountry
	  where CountryRowStatus = 1  --Al usar 0 no aparece Guatemala
	  and (@IdCountry is null or IdCountry = @IdCountry)
	  and (@CountryAlpha3Code is null or CountryAlpha3Code = @CountryAlpha3Code)
	  and (@CountryNationality is null or CountryNationality = @CountryNationality)
	  FOR XML PATH(''), TYPE
	 ).value('.', 'varchar(max)'),1,1,''
				  ) 
)

select '['+ @jsonResult + ']' FormatJson
 
END
