USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_saveVisitPoint]    Script Date: 10/03/2022 14:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sphd_saveVisitPoint]	
	@DescriptionOfClient AS NVARCHAR(100),
	@IdSettlement AS BIGINT,
	@TokenCreated AS NVARCHAR(50),
	@CustomerID AS INT,
	@Address AS NVARCHAR(600),	
	@Town AS NVARCHAR(100),
	@Department AS NVARCHAR(100),
	@Phone AS NVARCHAR(50),
	@ContactName AS NVARCHAR(200),
	@Email AS NVARCHAR(200)
AS
BEGIN
	DECLARE @CodeOfReference AS INT = -1;
	SET @CodeOfReference = (SELECT TOP (1) vpc.CodeOfReference + 1 FROM dbo.VisitPointClient vpc
	ORDER BY vpc.CodeOfReference DESC);

	DECLARE @IdTownship AS INT = -1;
	SET @IdTownship = (SELECT IdTownship
	FROM dbo.Township WHERE TownshipName = @Town);

	IF (@IdSettlement = 0)
		SET @IdSettlement = NULL

	INSERT INTO [dbo].[VisitPointClient]
           ([CodeOfReference], [DescriptionOfClient]
           ,[StatusClient],[CountryId]
           ,[IdSettlement],[TokenCreated]
           ,[DateCreated],[CustomerID]
           ,[Address],[Town]
           ,[Department],[Phone]
           ,[ContactName],[Email]
           ,[IdTownship])
     VALUES(@CodeOfReference, @DescriptionOfClient,
     		'TRUE','GT',
			@IdSettlement,@TokenCreated,
			GETDATE(),@CustomerID,
			@Address,@Town,
			@Department,@Phone,
			@ContactName,@Email,@IdTownship)


	DECLARE @regexPhoneNumber varchar(max)='[(][0-9][0-9][0-9][)]%';			
	SET @Phone	=REPLACE(@Phone,'-','');
	SET @Phone	=REPLACE(@Phone,' ','');

	DECLARE @Idplace AS INT = (SELECT  ISNULL(IdCityPlace, -1 ) FROM  dbo.CatCityPlace WHERE CityPlace='No Aplica');
	DECLARE @IdCountry AS VARCHAR =(SELECT CC.IdCountry
	FROM dbo.CatCountry CC LEFT JOIN DBO.Province PRV ON PRV.IdCountry=CC.IdCountry 
		LEFT JOIN DBO.Township TS ON TS.IdProvince=PRV.IdProvince WHERE IdTownship = @IdTownship);
	DECLARE @IdAccount INT =(SELECT AccIdAccount FROM DBO.Account ACC WHERE IdCustomer=@CustomerID);


	INSERT INTO DBO.UserAddress 
	(
		UadIdTownship,
		UadIdCountry,
		UadAddress1,
		--UadAddress2 NO SE MODIFICA
		UadNirPhone,
		UadPhone,
		UadAdditionalInstructions,
		UadTokenCreated,
		UadDateCreated,
		CodeOfReference,
		UadIdSettlement,			
		UadFullName,
		IdCityPlace,
		UadIdAccount,
		UadRowStatus
		
	)VALUES(
		@IdTownship,
		@IdCountry,
		@Address,
		(CASE WHEN @Phone LIKE @regexPhoneNumber THEN SUBSTRING(@Phone,2,3) ELSE '' END),
		(CASE WHEN @Phone LIKE @regexPhoneNumber THEN SUBSTRING(@Phone,6,LEN(@Phone)-5) ELSE @Phone END),
		'',
		@TokenCreated,
		GETDATE(),
		@CodeOfReference,
		@IdSettlement,
		@DescriptionOfClient,
		@Idplace,
		@IdAccount,
		1
	)
END