USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetGuidesForExternalService]    Script Date: 2/17/2022 2:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC [dbo].[GetGuidesForExternalService]
--	@Date = NULL,
--	@Hub = 'GUA',
--	@Municipalidad  = 'Guatemala',
--	@Departamento  = 'Guatemala',
--	@Status = 11

-- =============================================
-- Author:		<Andres,Ruiz>
-- Create date: <2021-12-27>
-- Description:	< Recupera datos de guías para ingresar a una plataforma externa, las cuales no han sido procesadas para ingreso a Simpliroute de forma automatizada. Adicional intenta tomar guías indiscriminadamente y revisar la información de las mismas, corrigiendo: Hubs. >
-- =============================================
-- =============================================
-- Author:		<Andres,Ruiz>
-- Create date: <2022-02-15>
-- Description:	< Mejoras en manejo de busqueda historica de ubicaciones y optimizaciones de SP >
-- =============================================
ALTER PROCEDURE [dbo].[GetGuidesForExternalService]
	@Date DATETIME = NULL,
	@Hub NVARCHAR(5) = 'GUA',
	@Municipalidad NVARCHAR(50) = 'Guatemala',
	@Departamento NVARCHAR(50) = 'Guatemala',
	@Status INT = 11
AS
BEGIN

	IF (@Date IS NULL)
	BEGIN
		SET @Date = DATEADD( MINUTE, -31, GETDATE() )
	END
	ELSE
	BEGIN
		SET @Date = DATEADD( MINUTE, -31, @Date)
	END

	DECLARE @ReviewGuideDate DATETIME = DATEADD(MINUTE, -61, GETDATE())

	DECLARE @jsonResult NVARCHAR(MAX)
	
	--Manejo de clientes Business to business
	DECLARE @B2BIdSegment INT = (SELECT TOP 1 CBS.IdBusinessSegment FROM [DeliveryBackOffice].[dbo].[CatBusinessSegment] CBS WHERE CBS.BusinessSegmentName LIKE '%B2B%')

	-- Limpieza de servicios que estan siendo procesados
	DECLARE @AcceptedGuides AS TABLE(
		GuideSerie NVARCHAR(2)
		,GuideNumber INT
		,SenderID INT
		,IdCustomer INT
		,ReceiverID INT
		,ReceiverFirstName NVARCHAR(100)
		,ReceiverLastName NVARCHAR(100)
		,ReceiverEmail NVARCHAR(200)
		,ReceiverSocialSecurityID NVARCHAR(200)
		,ReceiverPhone NVARCHAR(100)
		,ReceiverAlternantFullName NVARCHAR(200)
		,ReceiverAddress NVARCHAR(600)
		,ReceiverTownshipId INT
		,ReceiverTown NVARCHAR(100)
		,ReceiverDepartment NVARCHAR(100)
		,IndicationsToSendDestination NVARCHAR(1500)
		,PackageType TINYINT
		,IsCollect BIT
		,PriceShippment DECIMAL(14, 2)
		,CollectOnDelivery DECIMAL(14, 2)
		,PiecesDry INT
		,PiecesCold INT
		,TypeService NVARCHAR(3)
		,IdDeliveryOption INT
	);

	BEGIN TRANSACTION
	BEGIN TRY
		
		--PRINT '@CanComplete INICIA'

		-- Liberar intentos viejos de traslado de guías
		UPDATE EPSL
		SET RowStatus = 0,
			TokenUpdated = 'SYS-HERMESROUTES',
			DateUpdated = GETDATE()
		FROM [DeliveryBackOffice].[dbo].[ExternalPlatformServiceLog] EPSL
		WHERE EPSL.DateCreated <= @Date
		AND EPSL.RowStatus = 1
		AND CAST(EPSL.DateCreated AS DATE) = CAST(@Date AS DATE);
		
		--PRINT '@CanComplete PRIMER UPDATE'

		-- Bloquear guías para manejo de concurrencia
		INSERT INTO [DeliveryBackOffice].[dbo].[ExternalPlatformServiceLog]
			(ExternalPlatformId, GuideSerie, GuideNumber, RowStatus, TokenCreated, DateCreated)
		OUTPUT inserted.GuideSerie, inserted.GuideNumber INTO @AcceptedGuides(GuideSerie, GuideNumber)
		SELECT DISTINCT
			2, DOR.Guide_Serie, DOR.Guide_Number, 1, 'SYS-HERMESROUTES', GETDATE()
		FROM
			DeliveryBackOffice.dbo.DeliveryOrder DOR WITH(NOLOCK)
			JOIN DeliveryBackOffice.dbo.DeliveryOrderDetail DOD WITH(NOLOCK)
				ON DOR.Guide_Number = DOD.Guide_Number
				AND DOR.Guide_Serie = DOD.Guide_Serie
				AND DOD.StatusOrderId = @Status
				AND DOD.DateCreatedInSystem >= @Date
			LEFT JOIN [DeliveryBackOffice].[dbo].[ExternalPlatformServiceLog] EPSL
				ON 
				DOR.Guide_Serie = EPSL.GuideSerie
				AND
				DOR.Guide_Number = EPSL.GuideNumber
				AND 
				EPSL.RowStatus = 1
				AND
				CAST(EPSL.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
			WHERE
				DOR.Receiver_Department = @Departamento
				AND
				DOR.StatusOrderId = @Status
				AND
				DOR.Guide_Number NOT IN ( 
						SELECT
							EXPSRG.GuideNumber
						FROM 
							DeliveryBackOffice.dbo.ExtPlatServiceRelationshipWithGuide EXPSRG
						WHERE
							EXPSRG.RowStatus = 1
							AND
							CAST(EXPSRG.DateCreated AS DATE) = CAST(@Date AS DATE)
					)
				AND
				EPSL.IdExternalPlatformServiceLog IS NULL

		UPDATE
			AG
		SET
			AG.SenderID = DOR.Sender_ID
			,AG.IdCustomer = DOR.IdCustomer
			,AG.ReceiverID = DOR.Receiver_ID
			,AG.ReceiverFirstName = DOR.Receiver_FirstName
			,AG.ReceiverLastName = DOR.Receiver_LastName
			,AG.ReceiverEmail = DOR.Receiver_Email
			,AG.ReceiverSocialSecurityID = DOR.Receiver_SocialSecurity_ID
			,AG.ReceiverPhone = DOR.Receiver_Phone
			,AG.ReceiverAlternantFullName = DOR.Receiver_Alternant_FullName
			,AG.ReceiverAddress = DeliveryBackOffice.dbo.FnFixAddressExternalPlatformService( DOR.Receiver_Address, DOR.Receiver_Department, DOR.Receiver_Town)
			,AG.ReceiverTownshipId = DOR.ReceiverIdTownship
			,AG.ReceiverTown = DOR.Receiver_Town
			,AG.ReceiverDepartment = DOR.Receiver_Department
			,AG.IndicationsToSendDestination = DOR.IndicationsToSendDestination
			,AG.PackageType = DOR.Package_Type
			,AG.IsCollect = DOR.IsCollect
			,AG.PriceShippment = DOR.PriceShippment
			,AG.CollectOnDelivery = DOR.Collect_OnDelivery
			,AG.PiecesDry = DOR.Pieces_Dry
			,AG.PiecesCold = DOR.Pieces_Cold
			,AG.TypeService = DOR.TypeService
			,AG.IdDeliveryOption = DOR.IdDeliveryOption
		FROM
			@AcceptedGuides AG
			JOIN
				DeliveryBackOffice.dbo.DeliveryOrder DOR WITH(NOLOCK)
				ON
					DOR.Guide_Serie = AG.GuideSerie
					AND
					DOR.Guide_Number = AG.GuideNumber

		set @jsonResult = (SELECT STUFF(( 
							SELECT DISTINCT REPLACE(
								',{' +
								+ '"title"' + ':' + '"' + CAST(dbo.fn_ReplaceSpecialCharsForJSON(CONCAT (AG.GuideSerie, AG.GuideNumber,' ', LTRIM(RTRIM(CONCAT( AG.ReceiverFirstName , ' ', ISNULL(AG.ReceiverLastName,'')))))) AS NVARCHAR) + '"' + ','
								+ '"address"' + ':' + '"' + REPLACE(REPLACE(dbo.fn_ReplaceSpecialCharsForJSON(AG.ReceiverAddress),CHAR(13),''),CHAR(10),'') + '"' + ','
								+ '"planned_date"' + ':' + '"' + CONVERT(VARCHAR, GETDATE(), 23) + '"' + ','
								+ (
									CASE 
										WHEN ISNULL(LTRIM(RTRIM(dbo.fn_ReplaceSpecialCharsForJSON(SSHL.Latitud))),'') <> '' AND ISNULL(LTRIM(RTRIM(dbo.fn_ReplaceSpecialCharsForJSON(SSHL.Longitude))),'') <> ''  THEN
											'"latitude"' + ':' +  SUBSTRING(LTRIM(RTRIM(SSHL.Latitud)),1,9)+ ',' +
											--	'"latitude"' + ':' + LTRIM(RTRIM(SSHL.Latitude))+ ',' +
											+ '"longitude"' + ':' +  SUBSTRING(LTRIM(RTRIM(SSHL.Longitude)),1,10)  + ',' 
											--	+ '"longitude"' + ':' + LTRIM(RTRIM(SSHL.Longitude))  + ',' 
										WHEN EXISTS (SELECT TOP 1 1 FROM DeliveryBackOffice.dbo.LocationRecord PHL1 WHERE AG.ReceiverPhone LIKE '%'+PHL1.Phone+'%') THEN
											(
												SELECT TOP 1
													'"latitude"' + ':' + SUBSTRING(LTRIM(RTRIM(PHL.Latitud)),1,9) + ',' +
													+ '"longitude"' + ':' + SUBSTRING(LTRIM(RTRIM(PHL.Longitude)),1,10) + ','
												FROM 
													DeliveryBackOffice.dbo.LocationRecord PHL
												WHERE
													AG.ReceiverPhone LIKE '%'+PHL.Phone+'%'
											)
										/*WHEN ISNULL(LTRIM(RTRIM(dbo.fn_ReplaceSpecialCharsForJSON(VPCr.Latitude))),'') <> '' AND ISNULL(LTRIM(RTRIM(dbo.fn_ReplaceSpecialCharsForJSON(VPCr.Longitude))),'') <> '' THEN
											'"latitude"' + ':' + CONVERT(NVARCHAR(9),LTRIM(RTRIM(VPCr.Latitude)))+ ',' +
											+ '"longitude"' + ':' + CONVERT(NVARCHAR(9),LTRIM(RTRIM(VPCr.Longitude)))  + ',' */
										WHEN ISNULL(SDFG.Latitude, 0) <> 0 AND ISNULL(SDFG.Longitude, 0) <> 0 THEN
											'"latitude"' + ':' +  SUBSTRING(CONVERT(NVARCHAR(20),SDFG.Latitude),1,9) + ',' +
											--'"latitude"' + ':' +  LTRIM(RTRIM(SDFG.Latitude )) + ',' +
											+ '"longitude"' + ':' +  SUBSTRING(CONVERT(NVARCHAR(20),SDFG.Longitude),1,10) + ',' 
											---+ '"longitude"' + ':' +  LTRIM(RTRIM(SDFG.Longitude)) + ',' 
										ELSE
											''
									END
								  ) + 
								+ '"contact_name"' + ':' + '"' + LTRIM(RTRIM(dbo.fn_ReplaceSpecialCharsForJSON(CONCAT( AG.ReceiverFirstName , ' ', ISNULL(AG.ReceiverLastName,''))))) + '"' + ','
								+ '"skills_required"' + ':' + '[' + '"' + RTRIM(LTRIM(ISNULL(DSCtwsrid.Hub, DSCtwsrtwn.Hub))) + '"' + ']' + ','
								+ '"skills_optional"' + ':' + '[' + IIF(AG.PackageType = 2, '"Sobre"','' ) + ']' + ','
								+ '"load"' + ':' + CONVERT( NVARCHAR(10),IIF(AG.PackageType = 2, 0, ( SUM( ISNULL(DOP.PieceHeightCheck,30) * ISNULL(DOP.PieceLengthCheck,10) * ISNULL(DOP.PieceWidthCheck,20) ) / 1000000 ) ) ) + ','
								--+ '"load_2"' + ':' + CONVERT( NVARCHAR(10),IIF(AG.PackageType = 2, 0, ( SUM( ISNULL(ISNULL(DOP.volumetricWeight, DOP.MassWeight), 0) ) ) ) ) + ','
								+ IIF(AG.PackageType = 2, CONCAT('"load_3":', AG.PiecesDry, ','), '')
								+ ( -- 1 = Domingo | 7 = Sabado 
									CASE
										WHEN DATEPART( DW, GETDATE() ) = 7 THEN (
																					CASE 
																						WHEN ( ISNULL(ISNULL(Cu.BusinessSegmentID,CuVPC.BusinessSegmentID),0) = @B2BIdSegment) THEN
																							+ '"window_start"' + ':' + '"08:00"' + ','
																							+ '"window_end"' + ':' + '"11:00"' +  ','
																						WHEN SDFG.StartTime IS NOT NULL THEN
																							+ '"window_start"' + ':' + '"' + CONVERT(NVARCHAR, SDFG.StartTime, 108) + '"' + ','
																							+ '"window_end"' + ':' + '"' + CONVERT(NVARCHAR, SDFG.EndTime, 108) + '"' +  ','
																						WHEN AG.TypeService = 'SDD' THEN 
																							+ '"window_start"' + ':' + '"08:00"' + ','
																							+ '"window_end"' + ':' + '"21:00"' + ','
																						WHEN ISNULL(AG.IdDeliveryOption,0)=3 THEN 
																							+ '"window_start"' + ':' + '"08:00"' + ','
																							+ '"window_end"' + ':' + '"13:00"' + ','
																						ELSE
																							+ '"window_start"' + ':' + '"08:00"' + ','
																							+ '"window_end"' + ':' + '"18:00"' + ','
																					END
																				)
										ELSE (
												CASE 
													WHEN ( ISNULL(ISNULL(Cu.BusinessSegmentID,CuVPC.BusinessSegmentID),0) = @B2BIdSegment) THEN
														+ '"window_start"' + ':' + '"08:00"' + ','
														+ '"window_end"' + ':' + '"11:00"' +  ','
													WHEN SDFG.StartTime IS NOT NULL THEN
														+ '"window_start"' + ':' + '"' + CONVERT(NVARCHAR, SDFG.StartTime, 108) + '"' + ','
														+ '"window_end"' + ':' + '"' + CONVERT(NVARCHAR, SDFG.EndTime, 108) + '"' +  ','
													WHEN AG.TypeService = 'SDD' THEN 
														+ '"window_start"' + ':' + '"08:00"' + ','
														+ '"window_end"' + ':' + '"21:00"' + ','
													WHEN ISNULL(AG.IdDeliveryOption,0) = 3 THEN 
														+ '"window_start"' + ':' + '"08:00"' + ','
														+ '"window_end"' + ':' + '"17:00"' + ','
													ELSE
														+ '"window_start"' + ':' + '"08:00"' + ','
														+ '"window_end"' + ':' + '"18:00"' + ','
												END
											)
									END
								) +
								+ IIF(SDFG.StartTime2 IS NOT NULL, '"window_start_2"' + ':' + '"' + CONVERT(NVARCHAR, SDFG.StartTime2, 108) + '"' + ','
														+ '"window_end_2"' + ':' + '"' + CONVERT(NVARCHAR, SDFG.EndTime2, 108) + '"' +  ',', '') +
								+ (
									CASE
										WHEN AG.TypeService = 'SDD' THEN -- SDD
											+ '"priority_level"' + ':' + '3' + ','
										WHEN AG.TypeService = 'TDA' THEN -- TDA
											+ '"priority_level"' + ':' + '5' + ','
										ELSE
											+ '"priority_level"' + ':' + '4' + ','
									END
								) 
								+ '"duration"' + ':' + '"00:10:00"' + ','
								+ '"reference"' + ':' + '"' + CONCAT (AG.GuideSerie, AG.GuideNumber) + '"' + ','
								+ '"notes"' + ':' + '"' + 'Dirección: ' + REPLACE(REPLACE(dbo.fn_ReplaceSpecialCharsForJSON(AG.ReceiverAddress),CHAR(13),''),CHAR(10),'') + 
								+ IIF(ISNULL(AG.IndicationsToSendDestination,'') <> '', CHAR(13) + CHAR(10) + 'Instrucciones adicionales: ' + LTRIM(RTRIM(dbo.fn_ReplaceSpecialCharsForJSON(ISNULL(AG.IndicationsToSendDestination,'')))), '') + '"' + ','
								+ (
									CASE
										WHEN AG.SenderID IN (SELECT CodeOfReference FROM DeliveryBackOffice.dbo.VisitPointClient WHERE CustomerID = 1) THEN
											'"extra_field_values"' + ':' + '{' +
												+ '"AlternantName"' + ':' + '"' + LTRIM(RTRIM(dbo.fn_ReplaceSpecialCharsForJSON(ISNULL(AG.ReceiverAlternantFullName,'')))) + '"' + ','
												+ '"TotalDryPieces"' + ':' + CAST(AG.PiecesDry AS NVARCHAR) + ','
												+ '"TotalColdPieces"'  + ':' + CAST(AG.PiecesCold AS NVARCHAR)
											+ '}' + ',' +
											'"visit_type"' + ':' + '"IGSS"' -- Por cambiar si es necesario trasladar esta data a BD | Se reemplaza durante el proceso
										WHEN ISNULL(AG.IdDeliveryOption,0) = 3 THEN
											'"extra_field_values"' + ':' + '{' +
												+ '"AlternantName"' + ':' + '"' + LTRIM(RTRIM(dbo.fn_ReplaceSpecialCharsForJSON(ISNULL(AG.ReceiverAlternantFullName,'')))) + '"' + ','
												+ '"TotalDryPieces"' + ':' + CAST(AG.PiecesDry AS NVARCHAR) + ','
												+ '"TotalColdPieces"'  + ':' + CAST(AG.PiecesCold AS NVARCHAR)
											+ '}' + ',' +
											'"visit_type"' + ':' + '"ExpressCenter"' -- Por cambiar si es necesario trasladar esta data a BD | Se reemplaza durante el proceso
										WHEN ISNULL(AG.IsCollect,0) = 1 THEN
											'"extra_field_values"' + ':' + '{' +
												+ '"AlternantName"' + ':' + '"' + LTRIM(RTRIM(dbo.fn_ReplaceSpecialCharsForJSON(ISNULL(AG.ReceiverAlternantFullName,'')))) + '"' + ','
												+ '"TotalDryPieces"' + ':' + CAST(AG.PiecesDry AS NVARCHAR) + ','
												+ '"TotalColdPieces"'  + ':' + CAST(AG.PiecesCold AS NVARCHAR) + ','
												+ '"TaxPlayerNumber"' + ':' + '"CF"' + ','
												+ '"TaxPlayerName"' + ':' + '"CONSUMIAG FINAL"' + ','
												+ '"TaxPlayerAddress"' + ':' + '"' + REPLACE(REPLACE(dbo.fn_ReplaceSpecialCharsForJSON(AG.ReceiverAddress),CHAR(13),''),CHAR(10),'') + '"' + ','
												+ '"TaxPlayerMail"' + ':' + '"' + LTRIM(RTRIM(dbo.fn_ReplaceSpecialCharsForJSON(ISNULL(AG.ReceiverEmail,'')))) + '"' + ','
												+ '"TotalCharge"' + ':' + CAST((IIF(ISNULL(AG.IsCollect,0) = 1,ISNULL(AG.PriceShippment,0),0) + ISNULL(AG.CollectOnDelivery,0)) AS NVARCHAR) + ','
												+ '"ServiceCharge"' + ':' + CAST(IIF(ISNULL(AG.IsCollect,0) = 1,ISNULL(AG.PriceShippment,0),0) AS NVARCHAR) + ','
												+ '"CoDCharge"' + ':' + CAST(ISNULL(AG.CollectOnDelivery,0) AS NVARCHAR) + ','
												+ '"CollectCoD"' + ':' + (CASE WHEN ISNULL(AG.CollectOnDelivery,0) > 0 THEN 'true' ELSE 'false' END)
											+ '}' + ',' +
											'"visit_type"' + ':' + '"ConFacturación"' -- Por cambiar si es necesario trasladar esta data a BD | Se reemplaza durante el proceso
										ELSE
											'"extra_field_values"' + ':' + '{' +
												+ '"AlternantName"' + ':' + '"' + LTRIM(RTRIM(dbo.fn_ReplaceSpecialCharsForJSON(ISNULL(AG.ReceiverAlternantFullName,'')))) + '"' + ','
												+ '"TotalDryPieces"' + ':' + CAST(AG.PiecesDry AS NVARCHAR) + ','
												+ '"TotalColdPieces"'  + ':' + CAST(AG.PiecesCold AS NVARCHAR) + ','
												+ '"TotalCharge"' + ':' + CAST((IIF(ISNULL(AG.IsCollect,0) = 1,ISNULL(AG.PriceShippment,0),0) + ISNULL(AG.CollectOnDelivery,0)) AS NVARCHAR) + ','
												+ '"ServiceCharge"' + ':' + CAST(IIF(ISNULL(AG.IsCollect,0) = 1,ISNULL(AG.PriceShippment,0),0) AS NVARCHAR) + ','
												+ '"CoDCharge"' + ':' + CAST(ISNULL(AG.CollectOnDelivery,0) AS NVARCHAR) + ','
												+ '"CollectCoD"' + ':' + (CASE WHEN ISNULL(AG.CollectOnDelivery,0) > 0 THEN 'true' ELSE 'false' END)
											+ '}' + ',' +
											'"visit_type"' + ':' + '"SinFacturación"' -- Por cambiar si es necesario trasladar esta data a BD | Se reemplaza durante el proceso
									END
								  )
								+ '}'
								,CHAR(31),'')
							FROM
								@AcceptedGuides AG
								JOIN DeliveryBackOffice.dbo.DeliveryOrderPiece DOP WITH(NOLOCK)
									ON DOP.GuideSerie = AG.GuideSerie
									AND DOP.GuideNumber = AG.GuideNumber
								JOIN DeliveryBackOffice.dbo.DeliveryOrderDetail DOD WITH(NOLOCK)
									ON AG.GuideNumber = DOD.Guide_Number
									AND AG.GuideSerie = DOD.Guide_Serie
									AND DOD.StatusOrderId = @Status
									AND DOD.DateCreatedInSystem >= @Date
								LEFT JOIN DeliveryBackOffice.dbo.Township TWSrid
									ON TWSrid.IdTownship = AG.ReceiverTownshipId
								LEFT JOIN DeliveryBackOffice.dbo.Township TWSrtwn
									ON TWSrtwn.TownshipName LIKE '%AG.Receiver_Town%' COLLATE Latin1_General_CI_AI
								LEFT JOIN (
									 SELECT DSC.HeaderCode HeaderCode,MAX(DSC.Hub) Hub
									 FROM DeliveryBackOffice.dbo.DumpServiceCoverage DSC 
									 GROUP BY DSC.HeaderCode
								) DSCtwsrid
									ON TWSrid.HeaderCode = DSCtwsrid.HeaderCode
								LEFT JOIN (
									 SELECT DSC.HeaderCode HeaderCode,MAX(DSC.Hub) Hub
									 FROM DeliveryBackOffice.dbo.DumpServiceCoverage DSC 
									 GROUP BY DSC.HeaderCode
								) DSCtwsrtwn
									ON TWSrtwn.HeaderCode = DSCtwsrtwn.HeaderCode
								LEFT JOIN DeliveryBackOffice.dbo.ServiceDataForGuide SDFG WITH(NOLOCK)
									ON AG.GuideSerie = SDFG.GuideSerie
									AND AG.GuideNumber = SDFG.GuideNumber
									AND SDFG.IsDelivery = 1
								LEFT JOIN DeliveryBackOffice.dbo.VisitPointClient VPCr
									ON VPCr.CodeOfReference = AG.ReceiverID
								LEFT JOIN DeliveryBackOffice.dbo.LocationRecord SSHL
									ON AG.ReceiverSocialSecurityID = SSHL.SocialSecurityId
								LEFT JOIN -- Manejo de clientes B2B (Business to business)
									[DeliveryBackOffice].[dbo].[VisitPointClient] VPCs
									ON
										AG.SenderID = VPCs.CodeOfReference
								LEFT JOIN
									[DeliveryBackOffice].[dbo].[Customer] CuVPC
									ON
										VPCs.CustomerID = CuVPC.IdCustomer
								LEFT JOIN
									[DeliveryBackOffice].[dbo].[Customer] Cu
									ON
										AG.IdCustomer = Cu.IdCustomer
							GROUP BY
								AG.GuideSerie
								,AG.GuideNumber
								,AG.IdCustomer
								,AG.ReceiverFirstName
								,AG.ReceiverLastName
								,AG.ReceiverAlternantFullName
								,AG.ReceiverAddress
								,AG.ReceiverDepartment
								,AG.ReceiverTown
								,DSCtwsrid.Hub
								,DSCtwsrtwn.Hub
								,AG.IndicationsToSendDestination
								,AG.SenderID
								,AG.IdDeliveryOption
								,AG.ReceiverEmail
								,AG.ReceiverPhone
								,AG.PiecesDry
								,AG.PiecesCold
								,AG.PackageType
								,ISNULL(Cu.BusinessSegmentID,CuVPC.BusinessSegmentID)
								,PriceShippment
								,AG.CollectOnDelivery
								,IsCollect
								,TypeService
								,SSHL.Latitud
								,SSHL.Longitude
								,SDFG.Latitude
								,SDFG.Longitude
								/*,VPCr.Latitude
								,VPCr.Longitude*/
								,StartTime
								,EndTime
								,StartTime2
								,EndTime2
							FOR XML PATH(''), TYPE
							).value('.', 'varchar(max)'),1,1,''
							) )

		IF @jsonResult IS NULL
		BEGIN
			set @jsonResult = (
								SELECT STUFF(( 
								SELECT ',{"IdResult":204,' 
								+ '"Message":" No se encontraron registros"}' 
								FOR XML PATH(''), TYPE
								).value('.', 'varchar(max)'),1,1,'') )

			--EXEC [DeliveryBackOffice].[dbo].[SetExternalPlatformUpdatedServiceData] @TblSimplirouteVisits = @AcceptedGuides , @ExternalPlatform = 2, @ServiceInputType = 1, @UserToken = 'SYS-HERMESROUTES'

			UPDATE EPSL
				SET EPSL.RowStatus = 0, EPSL.TokenUpdated = 'SYS-HERMESROUTES', EPSL.DateUpdated = GETDATE()
				FROM [DeliveryBackOffice].[dbo].[ExternalPlatformServiceLog] EPSL
				JOIN @AcceptedGuides TSV
				ON EPSL.GuideSerie = TSV.GuideSerie
				AND EPSL.GuideNumber = TSV.GuideNumber

		END

		IF(@@TRANCOUNT > 0)
			COMMIT TRANSACTION	
			
		select ('[' + @jsonResult +  ']') jsonResultError 
		 
	END TRY
	BEGIN CATCH

		 select 
			0 [blnResult],
			ERROR_NUMBER() AS [ErrorNumber],
			ERROR_SEVERITY() AS [ErrorSeverity],
			ERROR_STATE() AS [ErrorState],
			ERROR_PROCEDURE() AS [ErrorProcedure],
			ERROR_LINE() AS [ErrorLine],
			ERROR_MESSAGE() AS [ErrorMessage];

		ROLLBACK TRANSACTION
	END CATCH	
END
