USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sps_DeliveryOrderPiece]    Script Date: 24/03/2021 12:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sps_DeliveryOrderPiece] 
   @GuideSerie			varchar(2) = 'FD'  
  ,@GuideNumber			int = 138014
  ,@PiecePhysicalWeight	decimal(12,2) = 0
  ,@PieceHeight			decimal(12,2) = 0 
  ,@PieceWidth			decimal(12,2) = 0
  ,@PieceLength			decimal(12,2) = 0
  ,@PieceWeight			decimal(12,2) = 0
  ,@DateCreated			datetime
  ,@fragile				bit = 0 
  ,@Detail				varchar(2500) = ''
  ,@Currency			varchar(15) = ''
  ,@Amount				decimal(12,2) = 0
  ,@PieceNumber         int
  ,@VolumetricWeight	decimal (12,2)
  ,@CodeOfSeller		varchar(20) =''
  ,@ParcelCode			varchar(10) =''
AS 
BEGIN
	insert into DeliveryBackOffice.[dbo].[DeliveryOrderPiece] 
	(GuideSerie
	,GuideNumber
	,PiecePhysicalWeight
	,PieceHeight
	,PieceWidth
	,PieceLength
	,PieceWeight
	,DateCreated
	,fragile
	,Detail
	,Currency
	,Amount
	,NoPiece
	,CodeOfSeller
	,ParcelCode)
	values (
	@GuideSerie			
	,@GuideNumber			
	,@VolumetricWeight	
	,@PieceHeight			
	,@PieceWidth			
	,@PieceLength			
	,@PieceWeight			
	,@DateCreated			
	,@fragile
	,@Detail
	,@Currency
	,@Amount
	,@PieceNumber
	,@CodeOfSeller
	,@ParcelCode
	)

	--select * from  DeliveryBackOffice.[dbo].[DeliveryOrderPiece] 

	select  @@Identity
END 
