USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetDailyCodPayment]    Script Date: 26/07/2021 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Oscar,Morales>
-- Create date: <2021-06-29>
-- Description:	<Guias por pagar COD>
-- =============================================
ALTER PROCEDURE [dbo].[GetDailyCodPayment]
-- Add the parameters for the stored procedure here

AS
BEGIN
   SELECT  DISTINCT pg.GuideNumber,cu.IdCustomer, COALESCE(ord.Sender_Mail,cu.CODContactEmail,cu.RegexEmail) RegexEmail, ISNULL(dc.DCBA_Bank_Id,(
				
				SELECT ISNULL(cd.CODAccountBankID, cs.CODAccountBankID) 
				FROM dbo.DeliveryOrder ord
					LEFT JOIN dbo.VisitPointClient vp ON vp.CodeOfReference = ord.Sender_ID
					LEFT JOIN dbo.Customer cs ON cs.IdCustomer = vp.CustomerID
					LEFT JOIN dbo.Customer cd ON cd.IdCustomer = ord.IdCustomer
				WHERE ord.Guide_Serie = pg.GuideSerie AND ord.Guide_Number = pg.GuideNumber

				)) AS DCBA_Bank_Id
 FROM [dbo].[BatchDetailCOD] AS btd
        INNER JOIN [dbo].[ProcessedGuideCOD] AS pg
            ON btd.[GuideSerie] = pg.[GuideSerie]
               AND btd.[GuideNumber] = pg.[GuideNumber]
        INNER JOIN [dbo].[DeliveryOrder] AS do
            ON btd.[GuideSerie] = do.[Guide_Serie]
               AND btd.[GuideNumber] = do.[Guide_Number]
        LEFT JOIN dbo.Township twn
            ON twn.IdTownship = do.ReceiverIdTownship
        LEFT JOIN dbo.Township tw
            ON tw.TownshipName = do.Receiver_Town
        LEFT JOIN dbo.Province prv
            ON prv.IdProvince = twn.IdProvince
        LEFT JOIN dbo.Province pr
            ON pr.IdProvince = tw.IdProvince
        LEFT JOIN dbo.VisitPointClient vpc
            ON vpc.CodeOfReference = do.Sender_ID
        LEFT JOIN dbo.Customer cu
            ON cu.IdCustomer = ISNULL(do.IdCustomer, vpc.CustomerID)
		LEFT JOIN dbo.DeliveryCustomerBankAccount dc ON dc.DCBA_Id = do.DCBA_ID
    WHERE pg.[Notificated] = 0
          AND btd.[AuthorizationNumber] IS NOT NULL;
END;




















