USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetRoutePreparation]    Script Date: 2/11/2022 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Oscar, Morales>
-- Create date: <2021-12-27>
-- Description:	<Obtiene información de la preparación de entregas en base a una ruta y una fecha.>
-- =============================================
-- =============================================
-- Author:		<Andres,Ruiz>
-- Create date: <2022-01-04>
-- Description:	<Modificación para uso de id de vehiculo sobre id de ruta.>
-- =============================================
-- =============================================
-- Author:		<Andres,Ruiz>
-- Create date: <2022-01-19>
-- Description:	<Modificación para manejo a nivel de pieza.>
-- =============================================
-- =============================================
-- Author:		<Andres,Ruiz>
-- Create date: <2022-02-02>
-- Description:	< Cambio para uso de Ruta sobre Unidad .>
-- =============================================
ALTER PROCEDURE [dbo].[GetRoutePreparation]
	@IdRoute INT,
	@Date DATE
AS
BEGIN

	DECLARE @RouteAssignmentExists BIT;

	SET @RouteAssignmentExists = (
										SELECT 1
										FROM [DeliveryBackOffice].[dbo].[RoutePreparation] RP
										WHERE
										RP.CatRouteId = @IdRoute
										AND
										RP.DateRoutePreparation = @Date
										AND
										RP.RowStatus = 1
									)

	IF (@RouteAssignmentExists IS NOT NULL)
	BEGIN
		BEGIN TRANSACTION
		BEGIN TRY

			--- Actualizar los tipos de pieza del detalle de la preparación de ruta segun lo almacenado
			UPDATE RPDP
			SET RPDP.PieceType = (CASE WHEN DOP.IsDry = 1 THEN 1 ELSE 0 END)
			FROM
				[DeliveryBackOffice].[dbo].[RoutePreparationDetailPiece] RPDP
				JOIN
					[DeliveryBackOffice].[dbo].[RoutePreparationDetail] RPD
					ON
						RPDP.RoutePreparationDetailId = RPD.IdRoutePreparationDetail
						AND
						RPD.RowStatus = 1
				JOIN
					[DeliveryBackOffice].[dbo].[RoutePreparation] RP
					ON
						RPD.RoutePreparationId = RP.IdRoutePreparation
						AND
						RP.RowStatus = 1
				JOIN 
					[DeliveryBackOffice].[dbo].[DeliveryOrderPiece] DOP
					ON
						RPD.Guide_Serie = DOP.GuideSerie
						AND
						RPD.Guide_Number = DOP.GuideNumber
						AND
						RPDP.PieceNumber = DOP.GuideNumber
			WHERE
				RP.CatRouteId = @IdRoute
				AND
				RP.DateRoutePreparation = @Date
				AND
				RPDP.RowStatus = 1

			--- Actualizar la preparación de ruta en base a los datos almacenados
			UPDATE RP
			SET
				RP.GuidesQuantity = ISNULL(RPA.RealGuideQuantity,0),
				RP.PiecesDry = ISNULL(RPA.RealPiecesDry,0),
				RP.PiecesCold = ISNULL(RealPiecesCold,0)
			FROM 
				[DeliveryBackOffice].[dbo].[RoutePreparation] RP
				LEFT JOIN
				(
					SELECT
						RPA.IdRoutePreparation,
						COUNT (DISTINCT RPD.IdRoutePreparationDetail) 'RealGuideQuantity',
						SUM (CASE WHEN RPDP.PieceType = 1 THEN 1 ELSE 0 END) 'RealPiecesDry',
						SUM (CASE WHEN RPDP.PieceType = 0 THEN 1 ELSE 0 END) 'RealPiecesCold'
					FROM
						[DeliveryBackOffice].[dbo].[RoutePreparation] RPA
						JOIN
							[DeliveryBackOffice].[dbo].[RoutePreparationDetail] RPD
							ON
								RPA.IdRoutePreparation = RPD.RoutePreparationId
								AND
								RPD.RowStatus = 1
						JOIN
							[DeliveryBackOffice].[dbo].[RoutePreparationDetailPiece] RPDP
							ON
								RPD.IdRoutePreparationDetail = RPDP.RoutePreparationDetailId
								AND
								RPDP.RowStatus = 1
					WHERE
						RPA.CatRouteId = @IdRoute
						AND
						RPA.DateRoutePreparation = @Date
						AND
						RPA.RowStatus = 1
					GROUP BY
						RPA.IdRoutePreparation
				) RPA
					ON 
						RP.IdRoutePreparation = RPA.IdRoutePreparation
			WHERE
				RP.CatRouteId = @IdRoute
				AND
				RP.DateRoutePreparation = @Date
				AND
				RP.RowStatus = 1

			COMMIT TRANSACTION
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION
		END CATCH
	END

	--TABLE 0 Información de la preparación de la ruta
	SELECT rp.IdRoutePreparation, rp.GuidesQuantity, rp.PiecesDry, rp.PiecesCold, rp.DeliveryOrderBySettlementId,
		dobs.CatRouteId, dobs.StartingKilometers, sr.CUI, dobs.CatRouteId, rp.IsSimpliRoute, rp.CatVehicleId VehicleId
	FROM RoutePreparation rp
	LEFT JOIN DeliveryOrderBySettlement dobs
		ON rp.DeliveryOrderBySettlementId = dobs.ID
	LEFT JOIN SenderReceiver sr
		ON dobs.ID_Courier = sr.ID
	WHERE rp.CatRouteId = @IdRoute AND rp.DateRoutePreparation = @Date
		AND rp.RowStatus = 1

	--TABLE 1 Información de las guías en preparación de la ruta
	SELECT RPD.Guide_Serie 'Guide_Serie'
		, RPD.Guide_Number 'Guide_Number'
		, RPDP.PieceNumber 'Guide_Piece'
		, COALESCE(do.Pieces_Dry,0) + COALESCE(do.Pieces_Cold,0) 'Pieces'
		, do.Receiver_Department 'Department'
		, do.Receiver_Town 'Town'
		, do.Receiver_Address 'Address'
		, do.Pieces_Dry 'Pieces_Dry'
		, do.Pieces_Cold 'Pieces_Cold'
		, do.Collect_OnDelivery 'COD'
		, IIF(do.IsCollect = 1,'TRUE','FALSE') 'IsCollect'
		, rpd.GuideOrder 'GuideOrder'
		, RPDP.PieceType 'Piece_Type'
		, CAST(IIF(DOP.StatusOrderId = 3, 1 ,0) AS BIT) 'IsProgrammed'
	FROM RoutePreparation RP
	LEFT JOIN RoutePreparationDetail RPD
		ON
			RPD.RoutePreparationId = RP.IdRoutePreparation
			AND
			RPD.RowStatus = 1
	LEFT JOIN RoutePreparationDetailPiece RPDP
		ON 
			RPDP.RoutePreparationDetailId = RPD.IdRoutePreparationDetail
			AND 
			RPDP.RowStatus = 1
	JOIN DeliveryOrder do
		ON do.Guide_Serie = rpd.Guide_Serie AND do.Guide_Number = rpd.Guide_Number
	LEFT JOIN
		DeliveryOrderPiece DOP
		ON
			do.Guide_Serie = DOP.GuideSerie
			AND
			do.Guide_Number = DOP.GuideNumber
			AND
			RPDP.PieceNumber = DOP.NoPiece
	WHERE rp.CatRouteId = @IdRoute AND rp.DateRoutePreparation = @Date
		AND rp.RowStatus = 1
	ORDER BY COALESCE(rpd.GuideOrder, 999999) ASC
END