USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_settlement_Return_guides_stock]    Script Date: 7/05/2021 11:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--drop procedure  [dbo].[spg_settlement_returned_guides_PickUp]
-- =============================================
-- Author:		<Hugo, Gomez>
-- Create date: <2021-04-30>
-- Description:	<Recupera detalle para generar manifiesto de liquidación (Devolucion)>
-- =============================================
ALTER PROCEDURE [dbo].[spg_settlement_Return_guides_stock]
		@IdManifest int
AS
BEGIN
	

	declare @manifestsequence int = (select Id from SettlementByPickup where SequenceCode = @IdManifest and SubTypeServiceManagmentId = 3)
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @temp TABLE (
		Guide_Code	nvarchar(max),
		Pieces_Cold int,
		Pieces_Dry int,
		Receiver_Fullname nvarchar(200),
		Receiver_Address nvarchar(600),
		Receiver_Zone int,
		Receiver_Town nvarchar(100),
		Receiver_Departament nvarchar(100),
		Preparation_Date nvarchar(50),
		Shipping_Date nvarchar(50),
		Max_Date nvarchar(50),
		Receiver_Phone nvarchar(100),
		Rack_Position nvarchar(MAX),
		Collect_on_Delivery decimal(16,2)
	)

    -- tablix content
	INSERT INTO @temp
	SELECT
	do.Guide_Serie + isnull(convert(nvarchar,do.Guide_Number),'') + '-'+ isnull(convert(nvarchar, dsd.NoPiece),'') as Guide_Code
	,case when (SELECT top 1 convert(int , sbp.PiecesCold ) FROM DeliveryBackOffice.dbo.SettlementByPickup sbp 
		join SettlementByPickupDetail sbpd on (sbp.Id = sbpd.SettlementByPickupId) 
		where  Id = @manifestsequence  ) >= 1 then 1 else 0  end  AS Pieces_Cold
	,case when (SELECT top 1 convert(int, sbp.PiecesDry) FROM DeliveryBackOffice.dbo.SettlementByPickup sbp
				 join SettlementByPickupDetail sbpd on (sbp.Id = sbpd.SettlementByPickupId) 
				 where Id = @manifestsequence ) >= 1 then 1 else 0 end  as Pieces_Dry
	,isnull(do.Sender_FirstName,'') + ' ' + isnull(do.Sender_LastName,'') as Receiver_Fullname
	,do.Sender_Address AS Receiver_Address
	,CONVERT(INT, ISNULL(do.Sender_Zone,0)) AS Receiver_Zone
	,do.Sender_Town AS Receiver_Town
	,do.Sender_Department AS  Receiver_Departament
	,CONVERT(varchar, do.Preparation_Date, 103) + ' ' + CONVERT(varchar(5), do.Preparation_Date, 108) as Preparation_Date
	,CONVERT(varchar, do.Shipping_Date, 103) as Shipping_Date
	,isnull(CONVERT(varchar, do.Delivery_Max_Date, 103),'') as Max_Date
	,do.Receiver_Phone as Receiver_Phone
	,(SELECT DeliveryBackOffice.dbo.fn_get_rackposition(do.Guide_Serie, do.Guide_Number)) as Rack_Position
	,Collect_OnDelivery
	from [DeliveryBackOffice].[dbo].DeliveryOrder do
	JOIN DeliveryBackOffice.dbo.SettlementByPickupDetail dsd ON dsd.GuideSerie = do.Guide_Serie AND dsd.GuideNumber = do.Guide_Number AND dsd.SettlementByPickupId = @manifestsequence
	where do.Guide_Serie = (SELECT DISTINCT TOP 1 GuideSerie FROM [DeliveryBackOffice].[dbo].[SettlementByPickupDetail] WHERE SettlementByPickupId = @manifestsequence)
	and do.Guide_Number IN (SELECT GuideNumber FROM [DeliveryBackOffice].[dbo].[SettlementByPickupDetail] WHERE SettlementByPickupId = @manifestsequence)
	AND dsd.IsReturn = 1 -- Pieza de la guia liquidada

	SELECT 
		Guide_Code,
		Pieces_Cold,
		Pieces_Dry,
		Receiver_Fullname,
		Receiver_Address,
		Receiver_Zone,
		Receiver_Town,
		Receiver_Departament,
		Preparation_Date,
		Shipping_Date,
		Max_Date,
		Receiver_Phone,
		Rack_Position,
		Collect_on_Delivery
	FROM @temp
	order by Receiver_Departament asc, Receiver_Town asc, Receiver_Zone asc, Receiver_Address asc

END
