USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_set_AssigmentRouteService]    Script Date: 14/03/2022 09:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Sazo, Cesar>
-- Create date: <2021-12-28>
-- Description:	<Crea un registro en la tabla SchedulePickup y asigna una ruta a un servicio>
-- =============================================
ALTER PROCEDURE [dbo].[sphd_set_AssigmentRouteService]
	@startDate AS VARCHAR(35),
	@endDate AS VARCHAR(35),
	@token AS VARCHAR(50),
	@CodeOfReference AS INT,--SenderId
	@nameSender AS VARCHAR(200),
	@phoneSender AS VARCHAR(50),
	@addressPickUp AS VARCHAR(500),
	@idTownship AS INT,
	@idRoute AS INT,
	@dateRoute AS DATE,
	@Order AS SMALLINT
AS
BEGIN	
	BEGIN TRY
		--OBTENIENDO CAMPOS DE INFORMACION DEL CLIENTE
		DECLARE @IDCUSTOMER INT;					--ID DEL CLIENTE
		DECLARE @CONDITIONOFPAYMENTID INT;			--TIEMPO DE PAGO
		SELECT 
			@IDCUSTOMER=CU.IdCustomer,
			@CONDITIONOFPAYMENTID=ConditionOfPaymentID 
		FROM DBO.VisitPointClient VPC 
			LEFT JOIN DBO.Customer CU on VPC.CustomerID=CU.IdCustomer
			WHERE CodeOfReference=@CodeOfReference;

		--Se agrega el registro a la tabla SchedulePickup
		IF CHARINDEX('_', @startDate) > 0 OR CHARINDEX('_', @endDate) > 0
		BEGIN			
			INSERT INTO [DeliveryBackOffice].[dbo].[SchedulePickup] (RowStatus, TokenCreated,
			DateCreated, SenderId, SenderName, SenderPhone, IdSourcePlataform, AddressPickup, TownshipId)
				VALUES (1, @token, GETDATE(), @CodeOfReference, @nameSender, @phoneSender, 2, @addressPickUp, @idTownship)
		END
		ELSE
		BEGIN
			INSERT INTO [DeliveryBackOffice].[dbo].[SchedulePickup] (StartDate, EndDate, RowStatus, TokenCreated,
			DateCreated, SenderId, SenderName, SenderPhone, IdSourcePlataform, AddressPickup, TownshipId)
				VALUES (@startDate, @endDate, 1, @token, GETDATE(), @CodeOfReference, @nameSender, @phoneSender, 2, @addressPickUp, @idTownship)
		END

		DECLARE @idSchedulePickup AS INT = (SELECT
				IDENT_CURRENT('SchedulePickup'))

		DECLARE @idRouteAssigment AS INT
		DECLARE @idSchedule AS INT

		IF NOT EXISTS (SELECT
				IdRouteAssigment
			FROM [DeliveryBackOffice].[dbo].[RouteAssigment]
			WHERE IdRoute = @idRoute
			AND DateOfRoute = @dateRoute)
		BEGIN
			INSERT INTO [DeliveryBackOffice].[dbo].[RouteAssigment] (IdRoute, DateOfRoute, RowStatus, TokenCreated, DateCreated)
				VALUES (@idRoute, @dateRoute, 1, @token, GETDATE())
		END

		SET @idRouteAssigment = (SELECT
				IdRouteAssigment
			FROM [DeliveryBackOffice].[dbo].[RouteAssigment]
			WHERE IdRoute = @idRoute
			AND DateOfRoute = @dateRoute)

		--*
						
		DECLARE @TIMETOPAY INT =NULL;
		SELECT @TIMETOPAY=(SELECT TimePlaId FROM CatPaymentTime WHERE TimePlaName = 'Post-Venta')
			FROM DBO.CatConditionOfPayment WHERE IdConditionOfPayment=@CONDITIONOFPAYMENTID AND ConditionOfPayment <>'CONTADO';
		IF EXISTS(SELECT IdServiceManagement 
				  FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
				  WHERE IdSchedulePickup=@idSchedulePickup)
			BEGIN
				SELECT
					@idSchedule = IdServiceManagement
				FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
				WHERE IdSchedulePickup = @idSchedulePickup

				UPDATE [DeliveryBackOffice].[dbo].[ServiceManagement] 
				SET 
					IdPuRouteAssigment = @idRouteAssigment, 
					ServiceStatusId=2, 
					CatPaymentTimeId=ISNULL( @TIMETOPAY,CatPaymentTimeId)
				WHERE IdServiceManagement = @idSchedule
			END
			ELSE
			BEGIN
				INSERT INTO [DeliveryBackOffice].[dbo].[ServiceManagement] (IdPuRouteAssigment, IdSchedulePickup, RowStatus, TokenCreated, DateCreated, ServiceStatusId, [Order],CatPaymentTimeId)
				VALUES (@idRouteAssigment, @idSchedulePickup, 1, @token, GETDATE(), 2, @Order,@TIMETOPAY)--Agregar orden

				SELECT
					@idSchedule = IdServiceManagement
				FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
				WHERE IdSchedulePickup = @idSchedulePickup
			END
		--*

		UPDATE [DeliveryBackOffice].[dbo].[SchedulePickup]
		SET AssigmentStatus = '1'
		WHERE SchedulePickupId = @idSchedulePickup

		INSERT INTO [DeliveryBackOffice].[dbo].[EventService] (ServiceManagementId, ServiceStatusId, RowStauts,
		TokenCreated, DateCreated)
			VALUES (@idSchedule, 2, 1, @token, GETDATE())
	END TRY
	BEGIN CATCH
		SELECT  
            ERROR_NUMBER() AS ErrorNumber  
            ,ERROR_SEVERITY() AS ErrorSeverity  
            ,ERROR_STATE() AS ErrorState  
            ,ERROR_PROCEDURE() AS ErrorProcedure  
            ,ERROR_LINE() AS ErrorLine  
            ,ERROR_MESSAGE() AS ErrorMessage;
	END CATCH
END