USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_lstFacturasToSAP]    Script Date: 5/05/2021 10:06:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Luis Fernando Coti Itzep
-- Create date: 17 Nov 2020
-- Description:	Retorna listado de facturas listas para enviar a SAP
-- =============================================
CREATE PROCEDURE [dbo].[spg_lstFacturasToSAP]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT  ihd.inv_pk_id,inv_vpCodeOfReferences,inv_type,ihd.inv_status,ihd.inv_invoiceOfCreditNote
	from DeliveryBackOffice.dbo.invoiceHeader ihd with(nolock)
	--join DeliveryBackOffice.dbo.VisitPointClient vpc with(nolock) on vpc.CodeOfReference = ihd.inv_vpCodeOfReferences
	LEFT JOIN InvoiceRestriction ir ON ihd.inv_pk_id = ir.inv_pk_id AND ir.invRetries <= 10
	where ihd.inv_status in(-1,2)
	-- 1 CREA LOCALMENTE EL REGISTRO DE FACTURA
	-- 2 CUANDO SE ENVIA FACTURA A FEL
	-- 3 CUANDO YA ESTÁ ENVIADA A SAP
	-- -1 ES ANULADA
	and inv_type in (1,2)
	and cast(ihd.inv_dateRegister as date) = CAST(GETDATE() as date)
	and (ihd.inv_SAPDocEntry is NULL OR ihd.inv_SAPDocEntry = -1)
	and isnull(ihd.inv_certificationFEL,'') != ''
	--and 1= 0	
	order by inv_pk_id
END






