USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_getVisitPointClient]    Script Date: 23/02/2021 16:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-02-13>
-- Description:	<Consulta los visit point>
-- =============================================
ALTER PROCEDURE [dbo].[spg_getVisitPointClient]
		@country as varchar(10)
AS
BEGIN
	select  vpc.IdVisitPointClient,
    cli.Name,
	vpc.CodeOfReference, 
	isnull(cli.Abbreviation,'') + ' - ' + vpc.DescriptionOfClient [Client], 
	vpc.Address [Address],
	vpc.IdSettlement,
	vpc.Phone,
	vpc.IdTownship,
	hub.HubAbbreviation,
	hub.IdHubLogistic
	from DeliveryBackOffice.[dbo].[Customer] cli 
	join DeliveryBackOffice.[dbo].[VisitPointClient] vpc on cli.IdCustomer = vpc.CustomerID
	left join DeliveryBackOffice.dbo.TownshipByHubLogistic tbl on vpc.IdTownship = tbl.IdTownshipHub and tbl.StatusTownshipHub = 'true'
	left join DeliveryBackOffice.dbo.HubLogistics hub on tbl.IdHublogistic = hub.IdHubLogistic
	where vpc.StatusClient = 'true' and vpc.CountryId = @country order by [Client]
END