USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphdGetCountry]    Script Date: 4/30/2021 12:22:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Edwin,Ramirez>
-- Create date: <2021-19-04>
-- Description:	<Obtiene el listado de paises segun Id>
-- =============================================
ALTER PROCEDURE [dbo].[sphdGetCountry] 
	-- Add the parameters for the stored procedure here
	@IdCountry as varchar(2) = 'GT'
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @Id_Country as varchar(2)
	set @Id_Country = @IdCountry  

    -- Insert statements for procedure here
	/****** Script for SelectTopNRows command from SSMS  ******/
	SELECT   [IdCountry]  [IdValue]
			,UPPER([CountryNameES])  [NameValue]
	FROM [DeliveryBackOffice].[dbo].[CatCountry]
	where CountryRowStatus  = 'TRUE'
	AND IdCountry = @Id_Country 
	
END
