USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sps_set_sender_receiver]    Script Date: 6/04/2021 16:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Cano, Carlos>
-- Create date: <2020-07-22>
-- Description:	<Cambiar la ubicación en rack de una guía>
-- =============================================
-- =============================================
-- Author:		<López, Marcos>
-- Create date: <2020-09-19>
-- Description:	<Control de insert y update>
-- =============================================
ALTER PROCEDURE [dbo].[sps_set_sender_receiver]
		@FirstName NVARCHAR(100),
		@LastName NVARCHAR(100),
		@Address NVARCHAR(200),
		@Zone NVARCHAR(100),
		@Town NVARCHAR(100),
		@Department NVARCHAR(100),
		@Phone NVARCHAR(50),
		@SocialSecurityID NVARCHAR(200),
		@Email NVARCHAR(200),
		@CUI NVARCHAR(25),
		@Latitude NVARCHAR(40),
		@Longitude NVARCHAR(40),
		@EntityType TINYINT,
		@UserCreated NVARCHAR(50),
		@Estatus bit,
		@Phones NVARCHAR(400),
		@Phonesdel NVARCHAR(400)
AS
BEGIN
	DECLARE @RInserted INT

	--Contador de datos
	Declare @validator int
	DECLARE @IDSEND INT
	DECLARE @Count INT
	SELECT @Count=COUNT(ID) FROM [DeliveryBackOffice].[dbo].[SenderReceiver] WHERE CUI = @CUI

	Declare @IDsen int = (select  ID FROM [DeliveryBackOffice].[dbo].[SenderReceiver] WHERE CUI = @CUI)

	BEGIN TRANSACTION

		BEGIN TRY
		    
			IF OBJECT_ID('tempdb.dbo.#listphone', 'U') IS NOT NULL DROP TABLE #listphone;
			IF OBJECT_ID('tempdb.dbo.#listphonedel', 'U') IS NOT NULL DROP TABLE #listphonedel;


			select SUBSTRING(Item, 1,8) ItemPhone

								 --, 
								--SUBSTRING(Item,CHARINDEX('-',Item),len(Item)) ItemPiece, 
								--CHARINDEX('-',Item) charinde,  
								--len(Item) len
										into #listphone
										from DenariusDesktop_Dev.dbo.SplitUnlimited(@Phones,',')

			

			IF (@Count=0)
				BEGIN
					-- registrar nuevo sender / receiver
					INSERT INTO [DeliveryBackOffice].[dbo].[SenderReceiver]
					([First_Name],[Last_Name],[Address],[Zone],[Town],[Department],[Phone],[Social_Security_ID],[Email],[CUI],[Latitude],[Longitude],[Entity_Type],[User_Created],[Date_Created],[Estatus]) 
					VALUES 
					(@FirstName,@LastName,@Address,@Zone,@Town,@Department,@Phone,@SocialSecurityID,@Email,@CUI,@Latitude,@Longitude,@EntityType,@UserCreated,GETDATE(),@Estatus)
					SET @IDSEND = SCOPE_IDENTITY()
					SET @RInserted = @@ROWCOUNT

					INSERT INTO DeliveryBackOffice.dbo.CouriermanPhone (
					SenderReceiveRid,
					NirPhone,
					Phone,
					RowStatus,
					TokenCreated,
					DateCreated
					)
					 select @IDSEND
						,'+502'
						,lp.ItemPhone
						,1
						,@UserCreated
						,GETDATE()
						from #listphone lp 




				END
			ELSE IF (@Count=1)
				BEGIN
					UPDATE [DeliveryBackOffice].[dbo].[SenderReceiver]
					SET [First_Name]=@FirstName, [Last_Name]=@LastName, [Address]=@Address, [Entity_Type]=@EntityType, [Estatus]=@Estatus
					WHERE [CUI]=@CUI

					SET @RInserted = @@ROWCOUNT


					INSERT INTO DeliveryBackOffice.dbo.CouriermanPhone (
					SenderReceiveRid,
					NirPhone,
					Phone,
					RowStatus,
					TokenCreated,
					DateCreated
					)
					 select @IDsen
						,'+502'
						,lp.ItemPhone
						,1
						,@UserCreated
						,GETDATE()
						from #listphone lp 



		if(@Phonesdel <> '')
			begin
			select SUBSTRING(Item, 1,8) ItemPhonedel

								 --, 
								--SUBSTRING(Item,CHARINDEX('-',Item),len(Item)) ItemPiece, 
								--CHARINDEX('-',Item) charinde,  
								--len(Item) len
										into #listphonedel
										from DenariusDesktop_Dev.dbo.SplitUnlimited(@Phonesdel,',')

		

						declare @values int = 0
						set @values = (select COUNT (ItemPhonedel) from #listphonedel)

							if(@values>0)
										begin
										set @validator = (select top 1 COUNT(Phone) from CouriermanPhone crp
															inner join #listphonedel lsp on (lsp.ItemPhonedel= crp.Phone)
															where crp.Phone in (select ItemPhonedel from #listphonedel)
															)



									if	(@validator > 0)
									begin
										update  DeliveryBackOffice.dbo.CouriermanPhone set 
										RowStatus = 0,
										TokenUpdated = @UserCreated,
										DateUpdated = GETDATE()
										from CouriermanPhone crp
															inner join #listphonedel lsp on (lsp.ItemPhonedel= crp.Phone)
															where crp.Phone in (select ItemPhonedel from #listphonedel)

							end
					end
				end
			END

		END TRY

		BEGIN CATCH
			SELECT 
				0 AS 'StatusCode', 
				ERROR_MESSAGE() AS 'Description', 
				CONVERT(BIGINT, 0) AS 'NumTransferID',
				@CUI AS 'CUI'
			ROLLBACK TRANSACTION
		END CATCH;

		IF @@TRANCOUNT > 0
		BEGIN
			IF (@RInserted = 1)
				SELECT			  
					1 AS 'StatusCode',
					'Registro guardado correctamente' AS 'Description', 
					@@TRANCOUNT AS 'NumTransferID',
					@CUI AS 'CUI'
			ELSE
				SELECT			  
					0 AS 'StatusCode',
					'Cantidad de registros inconsistentes' AS 'Description', 
					@@TRANCOUNT AS 'NumTransferID',
					@CUI AS 'CUI'

			COMMIT TRANSACTION;			
		END
		ELSE
			SELECT 
				0 AS 'StatusCode', 
				ERROR_MESSAGE() AS 'Description', 
				CONVERT(BIGINT, 0) AS 'NumTransferID',
				@CUI AS 'CUI'
END