USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spws_get_service_source_destiny_by_hub]    Script Date: 14/01/2021 22:58:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Edwin,Ramirez>
-- Create date: <2020-08-05>
-- Description:	<Devuelve la opcion y precio shipping>
-- =============================================
ALTER PROCEDURE [dbo].[spws_get_service_source_destiny_by_hub]
	-- Add the parameters for the stored procedure here
		    @CodApp as nvarchar(50) = 'SIFDCECOM300720201459',
			@HeaderCodeDestiny as nvarchar(6)  = '0501',
			@HeaderCodeSource as nvarchar(6)  = '0102',
			@CodeOfReference as int = 0

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	
	BEGIN TRY  
			
		if @CodeOfReference = 0 -- no enviaron visit point, intentea deducirlo
		begin
			select 
				0 IdSettlementSource, 
				'' SettlementSource,
				Cast(mun.IdTownship as varchar) IdTownShipSource, 
				mun.TownshipName TownshipNameSource, 
				Cast(mun.IdProvince as varchar) IdProvinceSource, 
				dep.ProvinceName IdProvinceNameSource, 
				dep.IdCountry  IdCountrySource,
				dep.ProvinceAbbreviation ProvinceAbrreviationSource,
				hub.HubAbbreviation  HubAbbreviationSource,
				ISNULL(Cast(vpc.CodeOfReference as varchar), '') SourceCodeOfReferenceID,
				ISNULL(vpc.ContactName,'')  SourceVPCName,
				ISNULL(vpc.DescriptionOfClient,'')  SourceEXPCName,
				ISNULL(Cast(vpc.CustomerID as varchar), '')  SouceVPCustomerID,
				ISNULL(UPPER(client.abbreviation), '') AbbrvCustomerName,
				ISNULL(Cast(vpc.VisitPointId as varchar), '') SourceVPCVisitPointId,
				'' DepotAddress
			from DeliveryBackOffice.dbo.Township mun
				JOIN DeliveryBackOffice.dbo.Province dep on	mun.IdProvince = dep.IdProvince and dep.ProvinceStatus = 'TRUE'
				JOIN DeliveryBackOffice.dbo.TownshipByHubLogistic tbh on mun.IdTownship = tbh.IdTownship and tbh.StatustownshipHub = 'TRUE' AND tbh.TownshipHubDefault = 'TRUE'
				LEFT JOIN DeliveryBackOffice.dbo.HubLogistics hub on tbh.IdHublogistic = hub.IdHubLogistic
				inner join DeliveryBackOffice.dbo.VisitPointClientByHubLogistics vhub on vhub.IdHublogistic =  hub.IdHubLogistic 
				LEFT JOIN DeliveryBackOffice.dbo.VisitPointClient vpc on vpc.CodeOfReference =  vhub.IdVisitPointClient and vpc.IdKindOfVPClient = 6
				LEFT JOIN DeliveryBackOffice.dbo.Customer client on vpc.CustomerID = client.IdCustomer
			where mun.HeaderCode = @HeaderCodeSource and mun.TownshipStatus = 'TRUE'
		end
		else
		begin
			select 
				0 IdSettlementSource, 
				'' SettlementSource,
				Cast(mun.IdTownship as varchar) IdTownShipSource, 
				mun.TownshipName TownshipNameSource, 
				Cast(mun.IdProvince as varchar) IdProvinceSource, 
				dep.ProvinceName IdProvinceNameSource, 
				dep.IdCountry  IdCountrySource,
				dep.ProvinceAbbreviation ProvinceAbrreviationSource,
				hub.HubAbbreviation  HubAbbreviationSource,
				ISNULL(Cast(vpc.CodeOfReference as varchar), '') SourceCodeOfReferenceID,
				ISNULL(vpc.ContactName,'')  SourceVPCName,
				ISNULL(vpc.DescriptionOfClient,'')  SourceEXPCName,
				ISNULL(Cast(vpc.CustomerID as varchar), '')  SouceVPCustomerID,
				ISNULL(UPPER(client.abbreviation), '') AbbrvCustomerName,
				ISNULL(Cast(vpc.VisitPointId as varchar), '') SourceVPCVisitPointId,
				'' DepotAddress
			from DeliveryBackOffice.dbo.Township mun
				JOIN DeliveryBackOffice.dbo.Province dep on	mun.IdProvince = dep.IdProvince and dep.ProvinceStatus = 'TRUE'
				JOIN DeliveryBackOffice.dbo.TownshipByHubLogistic tbh on mun.IdTownship = tbh.IdTownship and tbh.StatustownshipHub = 'TRUE' AND tbh.TownshipHubDefault = 'TRUE'
				LEFT JOIN DeliveryBackOffice.dbo.HubLogistics hub on tbh.IdHublogistic = hub.IdHubLogistic
				LEFT JOIN DeliveryBackOffice.dbo.VisitPointClient vpc on vpc.CodeOfReference =  @CodeOfReference --and vpc.IdKindOfVPClient = 6
				LEFT JOIN DeliveryBackOffice.dbo.Customer client on vpc.CustomerID = client.IdCustomer
			where mun.HeaderCode = @HeaderCodeSource and mun.TownshipStatus = 'TRUE' 
		end
				
			

			--Devuelve en un cuarto select datos para el destino
			select  0 IdSettlementDestiny, 
					'' SettlementDestiny,
					Cast(mun.IdTownship as varchar) IdTownShipDestiny, 
					mun.TownshipName TownshipNameDestiny, 
					Cast(mun.IdProvince as varchar)  IdProvinceDestiny, 
					dep.ProvinceName IdProvinceNameDestiny, 
					dep.IdCountry  IdCountryDestiny,
					dep.ProvinceAbbreviation ProvinceAbrreviationDestiny,
					hub.HubAbbreviation  HubAbbreviationDestiny,
					ISNULL(Cast(vpc.CodeOfReference as varchar), '') DestinyCodeOfReferenceID,
					ISNULL(vpc.ContactName,'')  DestinyVPCName,
					ISNULL(Cast(vpc.CustomerID as varchar), '')  DestinyVPCustomerID,
					ISNULL(Cast(vpc.VisitPointId as varchar), '') DestinyVPCVisitPointId
			from DeliveryBackOffice.dbo.Township mun
			JOIN DeliveryBackOffice.dbo.Province dep on	mun.IdProvince = dep.IdProvince and dep.ProvinceStatus = 'TRUE'
			JOIN DeliveryBackOffice.dbo.TownshipByHubLogistic tbh on mun.IdTownship = tbh.IdTownship and tbh.StatustownshipHub = 'TRUE' AND tbh.TownshipHubDefault = 'TRUE'
			LEFT JOIN DeliveryBackOffice.dbo.HubLogistics hub on tbh.IdHublogistic = hub.IdHubLogistic
			left join DeliveryBackOffice.dbo.VisitPointClientByHubLogistics vhub on vhub.IdHublogistic =  hub.IdHubLogistic 
			LEFT JOIN DeliveryBackOffice.dbo.VisitPointClient vpc on vpc.CodeOfReference =  vhub.IdVisitPointClient and vpc.IdKindOfVPClient = 6
			LEFT JOIN DeliveryBackOffice.dbo.Customer client on vpc.CustomerID = client.IdCustomer
			where mun.HeaderCode = @HeaderCodeDestiny and mun.TownshipStatus = 'TRUE'
				


			
	END TRY  
	BEGIN CATCH  
		SELECT   Cast(ERROR_NUMBER() as nvarchar) AS ErrorNumber  
				,Cast(ERROR_SEVERITY() as nvarchar) AS ErrorSeverity  
				,Cast(ERROR_STATE() as nvarchar) AS ErrorState  
				,Cast(ERROR_PROCEDURE() as nvarchar) AS ErrorProcedure  
				,Cast(ERROR_LINE() as nvarchar) AS ErrorLine  
				,Cast(ERROR_MESSAGE() as nvarchar) AS ErrorMessage;
		
	END CATCH;   

END
