USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetExternalPlatformServicesToNullify]    Script Date: 3/10/2022 2:36:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Oscar Morales>
-- Create date: <2022-02-16>
-- Description:	<Obtiene el listado de guías procesados en el día con simpliroute que este en estado terminal>
-- =============================================
ALTER PROCEDURE [dbo].[GetExternalPlatformServicesToNullify]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	-- Manejo de configuraciones
	DECLARE @AreProvincesConfigurated BIT = 0;
	DECLARE @AreTownshipsConfigurated BIT = 0;
	DECLARE @AreZonesConfigurated BIT = 0;

	-- Revisar existencia de configuración
	SET @AreProvincesConfigurated = ISNULL((
		SELECT
			TOP 1
				1
		FROM
			[DeliveryBackOffice].[dbo].[ServiceProvinceConfiguration] SPC
		WHERE
			SPC.CatConfigurableServiceId = 1
			AND
			SPC.RowStatus = 1
	),0)
	SET @AreTownshipsConfigurated = ISNULL((
		SELECT
			TOP 1
				1
		FROM
			[DeliveryBackOffice].[dbo].[ServiceTownshipConfiguration] STC
		WHERE
			STC.CatConfigurableServiceId = 1
			AND
			STC.RowStatus = 1
	),0)
	SET @AreZonesConfigurated = ISNULL((
		SELECT
			TOP 1
				1
		FROM
			[DeliveryBackOffice].[dbo].[ServiceZoneConfiguration] SZC
		WHERE
			SZC.CatConfigurableServiceId = 1
			AND
			SZC.RowStatus = 1
	),0)

	SELECT
		CONCAT(eps.GuideSerie
	   ,eps.GuideNumber) Guide
	   ,COUNT(1) Count
	FROM ExternalPlatformServiceLog eps WITH (NOLOCK)
	JOIN DeliveryOrder do WITH (NOLOCK)
		ON do.Guide_Serie = eps.GuideSerie
			AND do.Guide_Number = eps.GuideNumber
	LEFT JOIN ExtPlatServiceRelationshipWithGuide esrw WITH (NOLOCK)
		ON esrw.GuideSerie = eps.GuideSerie
			AND esrw.GuideNumber = eps.GuideNumber
	WHERE CAST(eps.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
	AND do.StatusOrderId IN (5, 7, 14, 22, 23, 24, 25, 30)
	AND (esrw.RowStatus IS NULL
	OR esrw.RowStatus = 1)
	GROUP BY eps.GuideSerie
			,eps.GuideNumber
	UNION
	SELECT
		CONCAT(eps.GuideSerie
	   ,eps.GuideNumber) Guide
	   ,COUNT(1) Count
	FROM ExternalPlatformServiceLog eps WITH (NOLOCK)
	JOIN DeliveryOrder do WITH (NOLOCK)
		ON do.Guide_Serie = eps.GuideSerie
			AND do.Guide_Number = eps.GuideNumber
	LEFT JOIN ExtPlatServiceRelationshipWithGuide esrw WITH (NOLOCK)
		ON esrw.GuideSerie = eps.GuideSerie
			AND esrw.GuideNumber = eps.GuideNumber
	WHERE CAST(eps.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
	AND esrw.RowStatus = 1
	AND -- Valores configurables desde base de datos
	(
		(
			(
				DO.Receiver_Department COLLATE Latin1_General_CI_AI IN (
				SELECT
					P.ProvinceName
				FROM
					[DeliveryBackOffice].[dbo].[ServiceProvinceConfiguration] SPC WITH (NOLOCK)
					JOIN
						[DeliveryBackOffice].[dbo].[Province] P WITH (NOLOCK)
						ON
							SPC.ProvinceId = P.IdProvince
				WHERE
					SPC.CatConfigurableServiceId = 1
					AND
					SPC.RowStatus = 0
				)
			)
			OR
			(
			
				@AreProvincesConfigurated = 1
				AND
				(
					DO.Receiver_Town COLLATE Latin1_General_CI_AI IN (
					SELECT
						T.TownshipName
					FROM
						[DeliveryBackOffice].[dbo].[ServiceZoneConfiguration] SZC WITH (NOLOCK)
						JOIN
							[DeliveryBackOffice].[dbo].[Township] T WITH (NOLOCK)
							ON
								SZC.TownshipId = T.IdTownship
					WHERE
						SZC.CatConfigurableServiceId = 1
						AND
						SZC.RowStatus = 0
					)
					AND
					DO.Receiver_Zone COLLATE Latin1_General_CI_AI IN (
					SELECT
						SZC.Zone
					FROM
						[DeliveryBackOffice].[dbo].[ServiceZoneConfiguration] SZC WITH (NOLOCK)
					WHERE
						SZC.CatConfigurableServiceId = 1
						AND
						SZC.RowStatus = 0
					)
					AND
					DO.Receiver_Town COLLATE Latin1_General_CI_AI NOT IN (
					SELECT
						T.TownshipName
					FROM
						[DeliveryBackOffice].[dbo].[ServiceTownshipConfiguration] STC WITH (NOLOCK)
						JOIN
							[DeliveryBackOffice].[dbo].[Township] T WITH (NOLOCK)
							ON
								STC.TownshipId = T.IdTownship
					WHERE
						STC.CatConfigurableServiceId = 1
						AND
						STC.RowStatus = 1
					)
				)
				OR
				(
					DO.Receiver_Town COLLATE Latin1_General_CI_AI IN (
					SELECT
						T.TownshipName
					FROM
						[DeliveryBackOffice].[dbo].[ServiceTownshipConfiguration] STC WITH (NOLOCK)
						JOIN
							[DeliveryBackOffice].[dbo].[Township] T WITH (NOLOCK)
							ON
								STC.TownshipId = T.IdTownship
					WHERE
						STC.CatConfigurableServiceId = 1
						AND
						STC.RowStatus = 0
					)
					AND
					DO.Receiver_Town COLLATE Latin1_General_CI_AI NOT IN (
					SELECT
						T.TownshipName
					FROM
						[DeliveryBackOffice].[dbo].[ServiceZoneConfiguration] SZC WITH (NOLOCK)
						JOIN
							[DeliveryBackOffice].[dbo].[Township] T WITH (NOLOCK)
							ON
								SZC.TownshipId = T.IdTownship
					WHERE
						SZC.CatConfigurableServiceId = 1
						AND
						SZC.RowStatus = 1
					)
					AND
					DO.Receiver_Zone COLLATE Latin1_General_CI_AI NOT IN (
					SELECT
						SZC.Zone
					FROM
						[DeliveryBackOffice].[dbo].[ServiceZoneConfiguration] SZC WITH (NOLOCK)
					WHERE
						SZC.CatConfigurableServiceId = 1
						AND
						SZC.RowStatus = 1
					)
				)
			)
		)
	)
	GROUP BY eps.GuideSerie
			,eps.GuideNumber
	
END
