USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_get_deliveryordersForSettlement]    Script Date: 25/05/2021 14:12:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Cano, Carlos>
-- Create date: <2020-05-27>
-- Description:	<Devuelve información para liquidación de ruta>
-- =============================================
ALTER PROCEDURE [dbo].[spg_get_deliveryordersForSettlement]
	@IdManifest AS INT,
	@subservice as INT
AS
BEGIN
	SET NOCOUNT ON;	
	
	/*
	DECLARE @GuidesFound TABLE (
		Guide_Serie NVARCHAR(2),
		Guide_Number INT
	)
	*/

	DECLARE @GuidesDetail TABLE (
		Guide NVARCHAR(16),
		Delivered BIT,
		COD DECIMAL(14,2)
	)
	
	DECLARE @GuidesDetailLiquid TABLE (
		StatusCode varchar null,
		Description varchar null,
		NumTransferID varchar null,
		Guide NVARCHAR(25),
		COD DECIMAL(14,2),
		Delivered BIT
	
	)

	/*
	INSERT INTO @GuidesFound
	SELECT DISTINCT
		dsd.Guide_Serie,
		dsd.Guide_Number
	FROM DeliveryBackOffice.dbo.DeliveryOrderBySettlement dbs
		JOIN DeliveryBackOffice.dbo.DeliverySettlementDetail dsd ON dsd.ID_DeliveryOrderBySettlement = dbs.ID
	WHERE dbs.ID = @IdManifest 
		AND (dsd.Guide_Settlement = 0 OR dsd.Guide_Settlement IS NULL)
	*/

	declare @contador int = (SELECT COUNT(DISTINCT  sbpd.GuideNumber ) from SettlementByPickup sbp 
								inner join SettlementByPickupDetail sbpd on sbp.Id = sbpd.SettlementByPickupId
							where sbp.SequenceCode = @IdManifest and sbp.SubTypeServiceManagmentId = @subservice 
								and (sbpd.IsReturn is null or sbpd.IsReturn = 0 ) and  (sbpd.IsPieceLiquidaded is null or sbpd.IsPieceLiquidaded = 0))

	select dbs.ID,
		dbs.DateCreated as Date_Dispatched,
		dbs.PiecesDry as Pieces_Dry_Dispatched,
		dbs.PiecesCold as Pieces_Cold_Dispatched,
		dbs.GuidesQuantity as Guides_Dispatched,
		dbs.IdCourier,
		sr.First_Name + ' ' + sr.Last_Name as Courier_Name
	from SettlementByPickup dbs
	join  DeliveryBackOffice.dbo.SenderReceiver sr ON sr.ID = dbs.IdCourier
	WHERE dbs.SequenceCode = @IdManifest and dbs.SubTypeServiceManagmentId = @subservice

	INSERT INTO @GuidesDetail
	SELECT DISTINCT
		sbpd.GuideSerie + CONVERT(varchar,sbpd.GuideNumber)+'-'+ CONVERT(varchar,sbpd.NoPiece) AS Guide,
		--da.Delivered,
		(ISNULL((
			SELECT TOP 1 
			1 
			FROM DeliveryBackOffice.dbo.DeliveryOrderDetail dod 
			WHERE dod.Guide_Serie = sbpd.GuideSerie AND dod.Guide_Number = sbpd.GuideNumber AND dod.StatusOrderId = 5
		),0)) AS Delivered,
		(ISNULL((
			SELECT do.Collect_OnDelivery
			FROM DeliveryBackOffice.dbo.DeliveryOrder do 
			WHERE do.Guide_Serie = sbpd.GuideSerie AND do.Guide_Number = sbpd.GuideNumber AND do.StatusOrderId = 5
		),0)) AS Collect_OnDelivery
		---ISNULL(do.Collect_OnDelivery,0) as Collect_OnDelivery
	from SettlementByPickup sbp 
		inner join SettlementByPickupDetail sbpd on sbp.Id = sbpd.SettlementByPickupId
	where sbp.SequenceCode = @IdManifest and sbp.SubTypeServiceManagmentId = @subservice 
		and (sbpd.IsReturn is null or sbpd.IsReturn = 0 ) 
		and  (sbpd.IsPieceLiquidaded is null or sbpd.IsPieceLiquidaded = 0)

	INSERT INTO @GuidesDetailLiquid
	SELECT DISTINCT
		null AS StatusCode,
		null as Description,
		null as NumTransferID,
		sbpd.GuideSerie + CONVERT(varchar,sbpd.GuideNumber)+'-'+ CONVERT(varchar,sbpd.NoPiece) AS Guide,
		0.00 as Collect_OnDelivery,
		0 as Delivered
	from SettlementByPickup sbp 
		inner join SettlementByPickupDetail sbpd on sbp.Id = sbpd.SettlementByPickupId
	where sbp.SequenceCode = @IdManifest and sbp.SubTypeServiceManagmentId = @subservice 
		and (sbpd.IsReturn  = 1  or sbpd.IsPieceLiquidaded = 1)

	SELECT SUM(COD) as COD_Manifest
	FROM @GuidesDetail

	SELECT * FROM @GuidesDetail gd
	ORDER BY gd.Guide ASC

	SELECT  * FROM @GuidesDetailLiquid gdl
	ORDER BY gdl.Guide ASC

	select COUNT(*) as PIECES from @GuidesDetail

	select @contador as GUIDES

END
