USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetDynamicCatalog]    Script Date: 2/03/2021 16:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetDynamicCatalog] 
  @TypeMethod varchar(100) = 'GetTypePayment',
  @IdAccount int = 1,
  @Token varchar(100) ='0BE2F8F3BD53652635746ACD069954B5',
  @GuideSerie varchar(2) ='FD',
  @GuideNumber varchar(100)='12345',
  @Others varchar(500) = ''
AS 
BEGIN 
 DECLARE @jsonResult NVARCHAR(MAX) 
    if(@Others <> 'CourierApp')
		begin
			if not exists
	     ( select 1
		  from DeliveryBackOffice.dbo.TokenLog
		  where TknRowStatus = 1 and TknIdToken = @Token
		  and CAST(TknDateCreated AS DATE) = CAST(getdate() AS DATE)  
		 )
		 BEGIN
		  print 'token inválido'
			SET @jsonResult = (
		   SELECT STUFF((
		   	SELECT  
		    ',{"IdError":' + '500' + ',' +
		    '"DescriptionError":"' + 'Token inválido'  + '"' +	  	  
		    '}' 
		    FOR XML PATH(''), TYPE
		   ).value('.', 'varchar(max)'),1,1,''
		   			  ) 
		   )
		     select '['+ @jsonResult + ']' FormatJson
	
		   return
		 END
  end
  if (@TypeMethod = 'GetModules')
  BEGIN

      SET @jsonResult = (
	   SELECT STUFF((
	   	SELECT
		/*
		',{"IdError":' + '500' + ',' +
	    '"DescriptionError":"' + 'Token inválido'  + '"' +	  	  
	    '}'
		*/
	    ',{"Id":"' + CONVERT(varchar,ModIdModule) + '",' +
	    '"Description":"' + CONVERT(varchar,ModName)  + '"' +	  	  
	    '}' 
	    from DeliveryBackOffice.dbo.CatModule
	    where ModVisible = 1 	  
	    FOR XML PATH(''), TYPE
	   ).value('.', 'varchar(max)'),1,1,''
	   			  ) 
	   )
     END	 


 ELSE if (@TypeMethod = 'GetTypePayment')
  BEGIN


	 BEGIN
	   	    SET @jsonResult = (
	   SELECT STUFF((
	   	SELECT
		',{"Id":"' + CONVERT(nvarchar,TimePlaId) + '",' +
	    '"Name":"' + TimePlaName  + '",' +	  	  
	    '"Description":"' + TimePlaDescription  + '"' +	  	  
	    '}' 
	    from DeliveryBackOffice.dbo.CatPaymentTime
	    where TimePlaStatus = 1 	  
	    FOR XML PATH(''), TYPE
	   ).value('.', 'varchar(max)'),1,1,''
	   			  ) 
	   )
     END	 
	 
END

 else if (@TypeMethod =  'GetTypePiece')
	begin
		  SET @jsonResult = (
	   SELECT STUFF((
	   	SELECT
		',{"Id":"' + CONVERT(nvarchar,art.ArtId) + '",' +
	--    '"Name":"' +  replace(art.ArtName,'"',' ')  + '",' +	  	  
	    '"Name":"' + replace(art.ArtName,'"',' ')  + '"' +	  	  
	    '}' 
	    from dbo.CatArticle art
			left join dbo.ArticleByCustomer abc on abc.AbcIdArticle = art.ArtId
		where art.ArtShowDefault =1 or abc.AbcIdCustomer = ( select top 1 ac.IdCustomer from dbo.Account ac where ac.AccIdAccount = @IdAccount)
  
	    FOR XML PATH(''), TYPE
	   ).value('.', 'varchar(max)'),1,1,''
	   			  ) 
	   )
	end

	ELSE if (@TypeMethod = 'GetTypeIncidence')
	  BEGIN

		   	    SET @jsonResult = (
		   SELECT STUFF((
		   	SELECT
			',{"Id":"' + CONVERT(nvarchar,IdIncidenceType) + '",' +
		    '"Name":"' + isnull(NameIncidence, 'N/A')  + '",' +	  	  
		    '"Description":"' + isnull(DescriptionIncidence, 'N/A')  + '"' +	  	  
		    '}' 
		    from DeliveryBackOffice.dbo.CatTypeIncidence
		    where RowStatus = 1 	  
		    FOR XML PATH(''), TYPE
		   ).value('.', 'varchar(max)'),1,1,''
		   			  ) 
		   )
	 END
	
ELSE IF (@TypeMethod ='GetDefaultCharges')
	begin

		set @jsonResult = (SELECT STUFF(( 
							select  
							 ',{"Code":"' +   ch.Name + '",' +
							'"Description":"' +  ch.Description  + '",' +
							'"Rate":"' +  convert(varchar,ch.Value)  + 
							+ '"}'
		from dbo.CatToCharge ch
		where
		( @Others = '-1' or -- -1 significa todos
		ch.Name = @Others) -- codigo de tarifa
		and ch.RowStatus = 1 -- solo registros activos

		FOR XML PATH(''), TYPE
				).value('.', 'varchar(max)'),1,1,''
						) )
	end


  select '['+ @jsonResult + ']' FormatJson
 
END
