USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SetProductCost]    Script Date: 1/27/2022 9:54:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Aquino,César>
-- Create date: <2021-02-26>
-- Description:	<Registrar cuentas por cobrar>
-- =============================================
-- =============================================
-- Author:		<Andres,Ruiz>
-- Create date: <2022-01-27>
-- Description:	<Registrar cuentas por cobrar>
-- =============================================

ALTER PROCEDURE [dbo].[SetProductCost]
	-- Add the parameters for the stored procedure here
	@IdProduct int,
	@IdTypeCharge int,
	@ProductNumber  nvarchar(100),
	@Amount DECIMAL (18,2) = 15.00,
	@AmountPaid decimal (18,2),
	@IdModule int = 1,
	@PaymentType INT = 2,
	@Voucher VARCHAR (200) = 'FSLDKFJ123KJLK31',
	@Token varchar (200) = '12324system'
	,@PaymentDate date
	,@TblDetail AS TblChangeList 	readonly

	,@ReturnAmount decimal(12,2) =0
	,@Format varchar(50) ='DataTable'

	--,@TblDetail as TblChangeList  READONLY
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- ================================================================
		-- verificar si ya existe un registro del producto
		-- si existe el registro, verficar si ya tiene un pago asociado
		-- si ya tiene un pago asociado insertar otro registro,
		-- si no tiene ningun pago asociado, actualizar registro
		-- si no existe , insertar registro
	-- =================================================================

	-- verificar si el registro existe o esta pagado
	
	IF OBJECT_ID('tempdb.dbo.#TblExist', 'U') IS NOT NULL DROP TABLE #TblExist;

	PRINT 'SETPRODUCTCOST'
	PRINT @ReturnAmount
	PRINT 'SETPRODUCTCOST'

	DECLARE @jsonResult NVARCHAR(MAX) 
	select top 1 cst.IdCost, cst.TotalAmountPaid
			into #TblExist
			from dbo.Cost cst 
			where cst.IdProduct =  @IdProduct 
			and cst.ProductNumber =  @ProductNumber
		--	and cst.TotalAmountPaid is not null or cst.TotalAmountPaid =0
		
	DECLARE @Exist int  = ( select count(*) from #TblExist) 

	DECLARE @IsPaid decimal(12,2) =( select  isnull(xd.TotalAmountPaid,0)  from #TblExist xd)
	declare @IdCost int =0

	print @Exist
	print @IsPaid 

	DECLARE	@CostCount INT 

	--- Variables para manejo de guardado de pagos si fue efectuado de inmediato
	DECLARE @TimeOfPayment INT = 0;
	SET @TimeOfPayment = ISNULL((
		SELECT
			DOPD.TimePlaId
		FROM
			[DeliveryBackOffice].[dbo].[DeliveryOrderPaymentDetail] DOPD
		WHERE
			DOPD.GuideSerie = SUBSTRING(LTRIM(@ProductNumber),0,3)
			AND
			DOPD.GuideNumber = CAST(SUBSTRING(LTRIM(@ProductNumber),3,len(@ProductNumber)) AS INT)
	),0)

	DECLARE @PaymentUpdated AS TABLE (
		CostId INT
		,GuideSerie NVARCHAR(2)
		,GuideNumber INT
	)
	
	DECLARE @CostDetailExists INT = 0;


	IF @PaymentType = 6 -- Datafono / Pago con tarjeta
	BEGIN
		BEGIN TRANSACTION
			BEGIN TRY
				if (@Exist >0 and @IsPaid = 0) -- si el registro existe y esta pendiente de pago	
				begin
					print 'el registro existe pero no esta pagado'
					-- actualizar registro

					update 
						dbo.Cost 
					set 
						TotalAmount = @Amount
						,TotalAmountPaid = @AmountPaid
						,TokenUpdated = @Token
						,DateUpdated = GETDATE()
						,ReturnAmount = @ReturnAmount
					where 
						IdProduct =  @IdProduct 
						and 
						ProductNumber =  @ProductNumber
						and 
						TotalAmountPaid is null or TotalAmountPaid =0

					set @IdCost =(select tb.IdCost from #TblExist tb)

					IF(@Voucher != '' or @Voucher IS NOT NULL)	
					BEGIN
						SELECT @CostCount = COUNT(1)			   
						FROM CostDetail cd
						WHERE cd.IdCost = @IdCost

						IF (@CostCount > 0)
						BEGIN
							UPDATE CostDetail
								SET Amount = @Amount
								   ,Voucher = @Voucher
								   ,TokenUpdated = @Token
								   ,DateUpdated = GETDATE()
								WHERE IdCost = @IdCost
						END
						ELSE
							IF (@CostCount = 0)
							BEGIN
								INSERT INTO CostDetail 
									(IdCost, IdTypeOfMoney, Amount, Voucher, RowStatus, TokenCreated, DateCreated, TokenUpdated, DateUpdated)
									VALUES (@IdCost, 6, @Amount, @Voucher, 1, @Token, GETDATE(), NULL, NULL);
							END
					END

					-- insertar costos que no existen
					INSERT INTO [dbo].[BreakdownOfPayment]
							([IdCost]
							,[Description]
							,[Amount]
							,[ModIdModule]
							,[RowStatus]
							,[TokenCreated]
							,[DateCreated])
					select 
						@IdCost
						,det.Description
						,det.Amount
						,det.ModIdModule
						,1 -- crear registro activo por default
						,det.TokenCreated
						,getdate()
						from @TblDetail det
						left join dbo.BreakdownOfPayment bk on bk.Description = det.Description and bk.IdCost =@IdCost
					where bk.IdBreakdownOfPayment is null

					-- actualizar los registros que si existen 
					update dbo.BreakdownOfPayment set Amount = det.Amount, RowStatus = det.RowStatus, DateUpdated = getdate()
					from @TblDetail det
						left join dbo.BreakdownOfPayment bk on bk.Description = det.Description and bk.IdCost =@IdCost
					where bk.IdBreakdownOfPayment is not null  

					-- Actualizar price shipping con total de cargos 

					set @Amount =  (
						select sum(isnull( bk.Amount,0)) 
						from dbo.BreakdownOfPayment bk 
						where bk.IdCost = @IdCost and bk.RowStatus = 1
					)

					update dbo.Cost 
					set TotalAmount = @Amount
					, TokenUpdated = @Token
					,DateUpdated = GETDATE()
					,ReturnAmount = @ReturnAmount
					where IdProduct =  @IdProduct 
					and ProductNumber =  @ProductNumber
		
				end
				else -- si el registro no existe crear uno nuevo o registro ya esta pagado
				begin
					print 'registro no existe , hay que crearlo'

					insert into dbo.Cost 
							(IdProduct
							, ProductNumber
							, IdTypeCharge
							, TotalAmount
							, PaymentDate
							, IdModule
							, RowStatus
							, TokenCreated
							, DateCreated
							, TokenUpdated
							, DateUpdated
							, ReturnAmount)
						values (
							@IdProduct
							, @ProductNumber
							, @IdTypeCharge
							, @Amount
							, @PaymentDate
							, @IdModule
							, 1 -- guardar los registros como activos 
							, @Token
							,GETDATE()
							, null
							, null 
							,@ReturnAmount) 

					set @IdCost  = SCOPE_IDENTITY()  

					IF(@Voucher != '' or @Voucher IS NOT NULL)	
					BEGIN
						SELECT @CostCount = COUNT(1)			   
						FROM CostDetail cd
						WHERE cd.IdCost = @IdCost
			
						IF (@CostCount > 0)
						BEGIN
			
							UPDATE CostDetail
								SET Amount = @Amount
								   ,Voucher = @Voucher
								   ,TokenUpdated = @Token
								   ,DateUpdated = GETDATE()
								WHERE IdCost = @IdCost

						END
						ELSE
						IF (@CostCount = 0)
						BEGIN
			
							INSERT INTO CostDetail (IdCost, IdTypeOfMoney, Amount, Voucher, RowStatus, TokenCreated, DateCreated, TokenUpdated, DateUpdated)
											VALUES (@IdCost, 6, @Amount, @Voucher, 1, @Token, GETDATE(), NULL, NULL);

						END
					END

					INSERT INTO [dbo].[BreakdownOfPayment](
						[IdCost]
						,[Description]
						,[Amount]
						,[ModIdModule]
						,[RowStatus]
						,[TokenCreated]
						,[DateCreated]
					)
					select 
						@IdCost
						,det.Description
						,det.Amount
						,det.ModIdModule
						,1 -- crear registro activo por default
						,det.TokenCreated
						,getdate()
					from @TblDetail det

				end

				--- Registrar un pago, SI Y SOLO SI:
				/*
					Existe su registro en Cost
					No ha sido registrado un pago
					El pago es con  datafono (Tarjeta de credito)
					Y que el pago sea inmediato (Pago en portal)
				*/

				IF(@Exist > 0 AND @IsPaid = 0 AND @PaymentType = 6 AND @TimeOfPayment = 1)
				BEGIN
					--- REGISTRO DE PAGO DE LAS GUÍAS
					UPDATE 
						C
					SET
						C.TotalAmountPaid = C.TotalAmount
						,C.TokenUpdated = @Token
						,C.DateUpdated = GETDATE()
					OUTPUT inserted.IdCost, SUBSTRING(LTRIM(@ProductNumber),0,3), CAST(SUBSTRING(LTRIM(@ProductNumber),3,len(@ProductNumber)) AS INT) INTO @PaymentUpdated(CostId, GuideSerie, GuideNumber)
					FROM
						[DeliveryBackOffice].[dbo].[Cost] C
					WHERE
						C.ProductNumber = @ProductNumber
						AND
						C.TotalAmountPaid IS NULL OR C.TotalAmountPaid = 0
										
					SET @CostDetailExists = ISNULL((
						SELECT TOP 1
							CD.IdCostDetail
						FROM
							[DeliveryBackOffice].[dbo].[Cost] C
							JOIN
								@PaymentUpdated PU
								ON
									C.IdCost = PU.CostId
							LEFT JOIN
								[DeliveryBackOffice].[dbo].[CostDetail] CD
								ON
									C.IdCost = CD.IdCost
					),0)

					IF( @CostDetailExists > 0 )
					BEGIN
						--- ACTUALIZACIÓN DEL DETALLE DEL PAGO DE LA GUÍA 
						UPDATE
							CD
						SET
							CD.IdTypeOfMoney = @PaymentType
							,CD.Amount = C.TotalAmountPaid
							,CD.Voucher = @Voucher
							,CD.TokenUpdated = @Token
							,CD.DateUpdated = GETDATE()
						FROM
							[DeliveryBackOffice].[dbo].[Cost] C
							JOIN
								@PaymentUpdated PU
								ON
									C.IdCost = PU.CostId
							LEFT JOIN
								[DeliveryBackOffice].[dbo].[CostDetail] CD
								ON
									C.IdCost = CD.IdCost
						WHERE
							CD.IdCostDetail = @CostDetailExists
					END
					ELSE
					BEGIN
						--- REGISTRO DEL DETALLE DEL PAGO DE LA GUÍA 
						INSERT INTO 
							dbo.CostDetail (IdCost, IdTypeOfMoney, Amount, Voucher, RowStatus, TokenCreated, DateCreated)
						SELECT
							C.IdCost, @PaymentType, C.TotalAmountPaid, CAST(CONCAT('HR',PU.GuideNumber) AS NVARCHAR(10)), 1, @Token, GETDATE()
						FROM
							[DeliveryBackOffice].[dbo].[Cost] C
							JOIN
								@PaymentUpdated PU
								ON
									C.IdCost = PU.CostId
							LEFT JOIN
								[DeliveryBackOffice].[dbo].[CostDetail] CD
								ON
									C.IdCost = CD.IdCost
						WHERE
							CD.IdCostDetail IS NULL
					END
				END
			END TRY
			BEGIN CATCH
		
				ROLLBACK TRANSACTION

				set @jsonResult =(
							SELECT STUFF(( 
							SELECT '{{"IdResult":500,' 
							+ '"Message":" Error de transacción"}' 
		
							FOR XML PATH(''), TYPE
							).value('.', 'varchar(max)'),1,1,''
								  ) 
							)
			END CATCH;
		--END TRANSACTION
	END
	 --- Cualquier otro tipo de pago ---
	ELSE
	BEGIN
		BEGIN TRANSACTION
			BEGIN TRY
				-- select * from #TblExist
				if (@Exist >0 and @IsPaid = 0) -- si el registro existe y esta pendiente de pago	
				begin
					print 'el registro existe pero no esta pagado'
						-- actualizar registro
				
					update dbo.Cost 
					set TotalAmount = @Amount
					, TokenUpdated = @Token
					,DateUpdated = GETDATE()
						,ReturnAmount = @ReturnAmount
					where IdProduct =  @IdProduct 
					and ProductNumber =  @ProductNumber

					set @IdCost =(select tb.IdCost from #TblExist tb)
				
					-- insertar costos que no existen
					INSERT INTO [dbo].[BreakdownOfPayment]
							([IdCost]
							,[Description]
							,[Amount]
							,[ModIdModule]
							,[RowStatus]
							,[TokenCreated]
							,[DateCreated])
					select 
						@IdCost
						,det.Description
						,det.Amount
						,det.ModIdModule
						,1 -- crear registro activo por default
						,det.TokenCreated
						,getdate()
						from @TblDetail det
						left join dbo.BreakdownOfPayment bk on bk.Description = det.Description and bk.IdCost =@IdCost
					where bk.IdBreakdownOfPayment is null

					-- actualizar los registros que si existen 
					update dbo.BreakdownOfPayment set Amount = det.Amount, RowStatus = det.RowStatus, DateUpdated = getdate()
					from @TblDetail det
						left join dbo.BreakdownOfPayment bk on bk.Description = det.Description and bk.IdCost =@IdCost
					where bk.IdBreakdownOfPayment is not null  

					-- Actualizar price shipping con total de cargos 

					set @Amount =  (select sum(isnull( bk.Amount,0)) 
									from dbo.BreakdownOfPayment bk 
									where bk.IdCost = @IdCost and bk.RowStatus = 1)
					update dbo.Cost 
					set TotalAmount = @Amount
					, TokenUpdated = @Token
					,DateUpdated = GETDATE()
					,ReturnAmount = @ReturnAmount
					where IdProduct =  @IdProduct 
					and ProductNumber =  @ProductNumber
				end
				else -- si el registro no existe crear uno nuevo o registro ya esta pagado
				begin
					print 'registro no existe , hay que crearlo'
					insert into dbo.Cost 
							(IdProduct
							, ProductNumber
							, IdTypeCharge
							, TotalAmount
							, PaymentDate
							, IdModule
							, RowStatus
							, TokenCreated
							, DateCreated
							, TokenUpdated
							, DateUpdated)
						values (
							@IdProduct
							, @ProductNumber
							, @IdTypeCharge
							, @Amount
							, @PaymentDate
							, @IdModule
							, 1 -- guardar los registros como activos 
							, @Token
							,GETDATE()
							, null
							, null ) 

					set @IdCost  = SCOPE_IDENTITY()  

					INSERT INTO [dbo].[BreakdownOfPayment]
								([IdCost]
								,[Description]
								,[Amount]
								,[ModIdModule]
								,[RowStatus]
								,[TokenCreated]
								,[DateCreated])
					select 
						@IdCost
						,det.Description
						,det.Amount
						,det.ModIdModule
						,1 -- crear registro activo por default
						,det.TokenCreated
						,getdate()
					from @TblDetail det
					--	select * from @TblDetail
				end
				-- actualizar precios de producto
				if ( @IdTypeCharge =1 ) -- consto de envio (flete)
				begin
					print 'actualizar price'
					print @Amount
					print SUBSTRING(LTRIM(@ProductNumber),0,3)
					print SUBSTRING(LTRIM(@ProductNumber),3,len(@ProductNumber))

					update dbo.DeliveryOrder set PriceShippment = @Amount
					where Guide_Serie = SUBSTRING(ltrim(@ProductNumber),0,3) and Guide_Number =  SUBSTRING(Ltrim(@ProductNumber),3,len(@ProductNumber))
				end
				else	-- pickup
				begin 

					update dbo.SchedulePickup set AmountPickup = @Amount
					where SchedulePickupId =  convert(int,@ProductNumber)	

				end

				--- Registrar un pago, SI Y SOLO SI:
				/*
					Existe su registro en Cost
					No ha sido registrado un pago
					El pago es con efectivo
					Y que el pago sea inmediato (Pago en portal)
				*/

				IF(@Exist > 0 AND @IsPaid = 0 AND @PaymentType = 1 AND @TimeOfPayment = 1)
				BEGIN
					--- REGISTRO DE PAGO DE LAS GUÍAS
					UPDATE 
						C
					SET
						C.TotalAmountPaid = C.TotalAmount
						,C.TokenUpdated = @Token
						,C.DateUpdated = GETDATE()
					OUTPUT inserted.IdCost, SUBSTRING(LTRIM(@ProductNumber),0,3), CAST(SUBSTRING(LTRIM(@ProductNumber),3,len(@ProductNumber)) AS INT) INTO @PaymentUpdated(CostId, GuideSerie, GuideNumber)
					FROM
						[DeliveryBackOffice].[dbo].[Cost] C
					WHERE
						C.ProductNumber = @ProductNumber
						AND
						C.TotalAmountPaid IS NULL OR C.TotalAmountPaid = 0
										
					SET @CostDetailExists = ISNULL((
						SELECT TOP 1
							CD.IdCostDetail
						FROM
							[DeliveryBackOffice].[dbo].[Cost] C
							JOIN
								@PaymentUpdated PU
								ON
									C.IdCost = PU.CostId
							LEFT JOIN
								[DeliveryBackOffice].[dbo].[CostDetail] CD
								ON
									C.IdCost = CD.IdCost
					),0)

					IF( @CostDetailExists > 0 )
					BEGIN
						--- ACTUALIZACIÓN DEL DETALLE DEL PAGO DE LA GUÍA 
						UPDATE
							CD
						SET
							CD.IdTypeOfMoney = @PaymentType
							,CD.Amount = C.TotalAmountPaid
							,CD.Voucher = CAST(CONCAT('FD',PU.GuideNumber) AS NVARCHAR(10))
							,CD.TokenUpdated = @Token
							,CD.DateUpdated = GETDATE()
						FROM
							[DeliveryBackOffice].[dbo].[Cost] C
							JOIN
								@PaymentUpdated PU
								ON
									C.IdCost = PU.CostId
							LEFT JOIN
								[DeliveryBackOffice].[dbo].[CostDetail] CD
								ON
									C.IdCost = CD.IdCost
						WHERE
							CD.IdCostDetail = @CostDetailExists
					END
					ELSE
					BEGIN
						--- REGISTRO DEL DETALLE DEL PAGO DE LA GUÍA 
						INSERT INTO 
							dbo.CostDetail (IdCost, IdTypeOfMoney, Amount, Voucher, RowStatus, TokenCreated, DateCreated)
						SELECT
							C.IdCost, @PaymentType, C.TotalAmountPaid, CAST(CONCAT('HR',PU.GuideNumber) AS NVARCHAR(10)), 1, @Token, GETDATE()
						FROM
							[DeliveryBackOffice].[dbo].[Cost] C
							JOIN
								@PaymentUpdated PU
								ON
									C.IdCost = PU.CostId
							LEFT JOIN
								[DeliveryBackOffice].[dbo].[CostDetail] CD
								ON
									C.IdCost = CD.IdCost
						WHERE
							CD.IdCostDetail IS NULL
					END
				END

			END TRY
			BEGIN CATCH
		
				ROLLBACK TRANSACTION

				set @jsonResult =(
							SELECT STUFF(( 
							SELECT '{{"IdResult":500,' 
							+ '"Message":" Error de transacción"}' 
		
							FOR XML PATH(''), TYPE
							).value('.', 'varchar(max)'),1,1,''
								  ) 
							)
			END CATCH;
		-- END TRANSACTION
	END
	
	--- Envio de respuesta ---
	IF @@TRANCOUNT > 0 
	BEGIN
		COMMIT TRANSACTION;
		set @jsonResult =(
				SELECT STUFF(( 
				SELECT '{{"IdResult":200,' 
				+ '"Message":" Registro actualizado correctamente "}' 
		
				FOR XML PATH(''), TYPE
				).value('.', 'varchar(max)'),1,1,''
						) 
				)
	END

	If @Format != 'Non'
	select ('[' + @jsonResult +  ']') jsonResult
END



