USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spws_get_GetDataResourceSecure]    Script Date: 30/09/2020 22:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[spws_get_GetDataResourceSecure]
	-- Add the parameters for the stored procedure here
	@CodApp as varchar(50) = ''	
AS
BEGIN
	select  ECO.UserKey,
			ECO.SecretKey,
			ISNULL(Cast(ECO.IdCustomer as varchar),'') IdCustomer
	from DeliveryBackOffice.dbo.Ecommerce ECO
	JOIN DeliveryBackOffice.dbo.Customer CUS
	on ECO.IdCustomer = CUS.IdCustomer
	where UserKey = @CodApp 	
END
