USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_GetStates]    Script Date: 11/12/2021 11:48:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Sazo,Cesar>
-- Create date: <2021-10-19>
-- Description: <Obtiene los estados de la tabla StatusOrder>
-- =============================================
ALTER PROCEDURE [dbo].[sphd_GetStates]
AS
BEGIN
    SELECT StatusOrderId,OrderDescription
    FROM DeliveryBackOffice.dbo.StatusOrder
	WHERE StatusOrderId NOT IN (5,14,22,23)    
END
