USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[get_CatArticle]    Script Date: 8/03/2021 21:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-02-25>
-- Description:	<Retorna las categorías genericas de los articulos>
-- =============================================
ALTER PROCEDURE [dbo].[get_CatArticle]
	@guideNumber as int,
	@guideSerie as nvarchar(2)
AS
BEGIN
	DECLARE @idCustomer as int
	SELECT @idCustomer=IdCustomer FROM DeliveryBackOffice.dbo.DeliveryOrder WHERE Guide_Number=@guideNumber AND Guide_Serie=@guideSerie

	IF (SELECT COUNT(*) from DeliveryBackOffice.dbo.ArticleByCustomer abc WHERE abc.AbcIdCustomer = @idCustomer)<>0
	BEGIN
		SELECT art.ArtId,
			art.ArtName
		FROM DeliveryBackOffice.dbo.CatArticle art
		LEFT JOIN DeliveryBackOffice.dbo.ArticleByCustomer abc on abc.AbcIdArticle = art.ArtId
		JOIN DeliveryBackOffice.dbo.CatTypeArticle ctp ON art.ArtIdTypeArticle = ctp.TarId
		WHERE ctp.TarName IN ('Standar','Caja','Sobre') or art.ArtShowDefault =1 or abc.AbcIdCustomer = @idCustomer AND art.ArtRowStatus = 1
	END
	ELSE
	BEGIN
		SELECT art.ArtId,
		art.ArtName
		FROM DeliveryBackOffice.dbo.CatPackage cp
		JOIN DeliveryBackOffice.dbo.CatTypeArticle ctp ON ctp.TarIdPackage = cp.PckId
		JOIN DeliveryBackOffice.dbo.CatArticle art ON art.ArtIdTypeArticle = ctp.TarId
		WHERE ctp.TarName IN ('Standar','Caja','Sobre') or art.ArtShowDefault=1 AND art.ArtRowStatus = 1 order by [ArtName]
	END
END
