USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spws_get_price_courierapp]    Script Date: 19/04/2021 16:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<César,Aquino>
-- Create date: <2021-01-08>
-- Description:	<Devuelve el listado de Direcciones asiganadas a una cuenta>
-- =============================================

ALTER PROCEDURE [dbo].[spws_get_price_courierapp]
	-- Add the parameters for the stored procedure here
	-- Add the parameters for the stored procedure here
	@Token VARCHAR(200),
	@IdPickup   bigint,
	@InGuides  nvarchar(max) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @jsonSummary NVARCHAR(MAX) 
	DECLARE @jsonDetail NVARCHAR(MAX) 

	DECLARE @jsonResult NVARCHAR(MAX) 

	
	DECLARE @jsonResult1 NVARCHAR(MAX) 
	DECLARE @jsonResult2 NVARCHAR(MAX) 
	DECLARE @jsonError NVARCHAR(MAX) 
	DECLARE @jsonToken NVARCHAR(MAX)


	declare @PickupRate decimal(12,2) =  (SELECT top 1 isnull(ct.Value,15) FROM dbo.CatToCharge ct where ct.Name ='PickupRate') -- tarifa de recoleccion 


IF OBJECT_ID('tempdb.dbo.#listGuides', 'U') IS NOT NULL DROP TABLE #listGuides;
IF OBJECT_ID('tempdb.dbo.#PickGuides', 'U') IS NOT NULL DROP TABLE #PickGuides;
IF OBJECT_ID('tempdb.dbo.#OutGuides', 'U') IS NOT NULL DROP TABLE #OutGuides;
IF OBJECT_ID('tempdb.dbo.#PickPrices', 'U') IS NOT NULL DROP TABLE #PickPrices;
IF OBJECT_ID('tempdb.dbo.#OutPrices', 'U') IS NOT NULL DROP TABLE #OutPrices;
IF OBJECT_ID('tempdb.dbo.#TblPrices', 'U') IS NOT NULL DROP TABLE #TblPrices;
IF OBJECT_ID('tempdb.dbo.#Temp', 'U') IS NOT NULL DROP TABLE #Temp;
IF OBJECT_ID('tempdb.dbo.##tempay', 'U') IS NOT NULL DROP TABLE #tempay;

	-----------------------------------------------------------------------------------------

	--select * from LogTokenPOD
	--order by DateCreated desc



 declare @TokenAct int  = (select top 1 RowStatus from LogTokenPOD where LogTokenPOD LIKE '%' + @Token + '%' order by DateCreated desc)
 declare @hourtoken int = (select DATEDIFF(HOUR, DateCreated, GETDATE() ) as horas from LogTokenPOD where LogTokenPOD  LIKE '%' + @Token + '%')
	

	if (@TokenAct = 1 and @hourtoken <= 8)
		begin 

		
			CREATE TABLE #Temp (
			    Guide      VARCHAR(255),
			    Message       VARCHAR(255),
			)
			INSERT INTO #Temp (Guide, Message)
			EXEC  [dbo].[spws_get_validate_guides_pickup]
				-- Add the parameters for the stored procedure here
				@InGuides  = @InGuides,
				@IdPickup = @IdPickup
			 --if (SELECT  count(*) FROM #Temp)=0
			 declare @test int = (select COUNT(*) from #Temp)

			if (@test = 0)
				begin
				-----------------------------------------------------------------------------------------
				-- TODO  validacion de token
				--declare @IdUser bigint  = (select top 1 t.TknIdUser from TokenLog t
				--					where t.TknIdToken = @Token)
			
				-- OBTENERE LISTADO DE GUIAS
									select distinct SUBSTRING(Item, 1,2) ItemSerie,
									SUBSTRING(Item,3, iif(CHARINDEX('-',Item)=0, (len(item)) , (CHARINDEX('-',Item)- 3))) ItemNumber --, 
									--SUBSTRING(Item,CHARINDEX('-',Item),len(Item)) ItemPiece, 
									--CHARINDEX('-',Item) charinde,  
									--len(Item) len
											into #listGuides
											from DenariusDesktop_Dev.dbo.SplitUnlimited(@InGuides,',')
									
	

---------------------------------------------- Variables ------------------------------------------------------------------------------------------------										
								
			declare @picupdvpay int  = (0.00) 						

		declare @pickup decimal (14,2) =( select convert(decimal(14,2), Value) from CatToCharge where IdToCharge = 15)

	--declare @listguides int = (	select COUNT(GuideNumber) from DeliveryOrderPaymentDetail 
	--				where GuideNumber in (138764,138767,138766,138765, 138768) )
	
	declare @listguides int = ( select COUNT(ItemNumber) from #listGuides)


	declare @listguidespayment int = (select COUNT(GuideNumber) as paymentguide from  #listGuides lg
										left join DeliveryOrderPaymentDetail dop on (lg.ItemNumber = dop.GuideNumber and lg.ItemSerie = dop.GuideSerie)
										left join DeliveryBackOffice.dbo.CreditCardTransactionByCustomerDetail dt on dt.SerieNumber = dop.GuideSerie  and  dt.ProductNumber = dop.GuideNumber 
										left join  CreditCardTransactionByCustomer cr on cr.OrderNumber = dt.OrderNumber 
										where dop.GuideNumber in (Select ItemNumber from #listGuides ) and dop.GuideSerie in (select ItemSerie from #listGuides) and (dop.TimePlaId = 1 or dop.TimePlaId is null ) and dt.OrderNumber is not null)


	declare @listguidecollect int = (select COUNT(GuideNumber) as delivery from #listGuides lg
									left join  dbo.DeliveryOrderPaymentDetail dop on (lg.ItemNumber = dop.GuideNumber and lg.ItemSerie = dop.GuideSerie)
									where dop.GuideNumber in (select ItemNumber from #listGuides)  and dop.GuideSerie in (select ItemSerie from #listGuides) and TimePlaId = 3 or (dop.TimePlaId is null or dop.GuideNumber is null))


	declare @listguideRecolect int = (select COUNT(GuideNumber) as recolection from #listGuides lg
									left join  dbo.DeliveryOrderPaymentDetail dop on (lg.ItemNumber = dop.GuideNumber and lg.ItemSerie = dop.GuideSerie)
									where dop.GuideNumber in (select ItemNumber from #listGuides)  and dop.GuideSerie in (select ItemSerie from #listGuides) and TimePlaId = 2 or (dop.TimePlaId is null or dop.GuideNumber is null))

	declare @listguidepayNow int = (select COUNT(GuideNumber) as paynow from #listGuides lg
									left join  dbo.DeliveryOrderPaymentDetail dop on (lg.ItemNumber = dop.GuideNumber and lg.ItemSerie = dop.GuideSerie)
									where dop.GuideNumber in (select ItemNumber from #listGuides)  and dop.GuideSerie in (select ItemSerie from #listGuides) and TimePlaId = 1 or (dop.TimePlaId is null or dop.GuideNumber is null))


------------------------------------------------- Algoritmo -------------------------------------------------------------------------------------------------

if(@listguidepayNow > 0)
begin
											set @jsonDetail = (SELECT STUFF(( 
										
											select
												',{"GuideSerie":"' +   tbl.ItemSerie + '",' +
												'"GuideNumber":"' + CONVERT(varchar, tbl.ItemNumber) + '",' + 
												'"Amount":"' +convert(varchar, sum(0.00)) + '",' +
												'"PickupRate":"' + convert(varchar,0.00) + 
												+ '"}'
											from #listGuides tbl
											group by tbl.ItemSerie, tbl.ItemNumber
											FOR XML PATH(''), TYPE
																).value('.', 'varchar(max)'),1,1,''
																		) )
									
										-- no agrupar para resumen
									
											set @jsonSummary = (SELECT STUFF(( 
										
											select
												',{"Amount":"' + convert(varchar,sum(0.00)) + '",' +
												'"PickupRate":"' + convert(varchar,0.00) + '",' +
												'"Collect":"' + 'false' + 
												+ '"}'
											from #listGuides tbl
											--group by tbl.ItemSerie, tbl.ItemNumber
											FOR XML PATH(''), TYPE
																).value('.', 'varchar(max)'),1,1,''
																		) )
									
											------ unir encabezado y detalle para resultado
									
											         SET @jsonResult =
									                        (
									                            SELECT STUFF(
									                        (
									                            SELECT '{"IdResult":200' + ',' + '"Summary":[' + @jsonSummary + '],' + '"Detail":[' + @jsonDetail + ']' + '' FOR XML PATH(''), TYPE
									                        ).value('.', 'varchar(max)'), 1, 1, '')
									                        );
										
									
									
									
											-- retornar resultado en formato json
										If @jsonResult is null 
										begin
									
											set @jsonResult =(
														SELECT STUFF(( 
														SELECT '{"IdResult":412,' 
														+ '"Message":" No se encontraron registros"' 
											
														FOR XML PATH(''), TYPE
														).value('.', 'varchar(max)'),1,1,''
															  ) 
														)
										end
										
											select ('{' + @jsonResult +  '}') jsonResult

end
else if (@listguides = @listguidecollect)
begin
			set @jsonDetail = (SELECT STUFF(( 
										
											select 
												',{"GuideSerie":"' +   tbl.ItemSerie + '",' +
												'"GuideNumber":"' + CONVERT(varchar, tbl.ItemNumber) + '",' + 
												'"Amount":"' +convert(varchar, sum(0.00)) + '",' +
												'"PickupRate":"' + convert(varchar,0.00) + 
												+ '"}'
											from #listGuides tbl
											group by tbl.ItemSerie, tbl.ItemNumber
											FOR XML PATH(''), TYPE
																).value('.', 'varchar(max)'),1,1,''
																		) )
									
										-- no agrupar para resumen
									
											set @jsonSummary = (SELECT STUFF(( 
										
											select
												',{"Amount":"' + convert(varchar,sum(0.00)) + '",' +
												'"PickupRate":"' + convert(varchar,0.00) + '",' +
												'"Collect":"' + 'true' + 
												+ '"}'
											from #listGuides tbl
											--group by tbl.ItemSerie, tbl.ItemNumber
											FOR XML PATH(''), TYPE
																).value('.', 'varchar(max)'),1,1,''
																		) )
									
											------ unir encabezado y detalle para resultado
									
											         SET @jsonResult =
									                        (
									                            SELECT STUFF(
									                        (
									                            SELECT '{"IdResult":200' + ',' + '"Summary":[' + @jsonSummary + '],' + '"Detail":[' + @jsonDetail + ']' + '' FOR XML PATH(''), TYPE
									                        ).value('.', 'varchar(max)'), 1, 1, '')
									                        );
										
									
									
									
											-- retornar resultado en formato json
										If @jsonResult is null 
										begin
									
											set @jsonResult =(
														SELECT STUFF(( 
														SELECT '{"IdResult":412,' 
														+ '"Message":" No se encontraron registros"' 
											
														FOR XML PATH(''), TYPE
														).value('.', 'varchar(max)'),1,1,''
															  ) 
														)
										end
										
											select ('{' + @jsonResult +  '}') jsonResult
end
else 
begin 

			select  
			price,
			ItemNumber,
			ItemSerie,
			AmountPickup
			into #tempay from  (select case when (ou.TimePlaId = 2 or ou.TimePlaId = 1 or ou.TimePlaId IS NULL ) AND ou.TransaccionFAC is null then ord.PriceShippment else 0.00 end as price , lg.ItemNumber, lg.ItemSerie , sp.AmountPickup
			from  #listGuides lg
			left join dbo.DeliveryOrderPaymentDetail ou on (lg.ItemNumber = ou.GuideNumber and lg.ItemSerie = ou.GuideSerie)
			inner join DeliveryOrder ord on (ord.Guide_Number = lg.ItemNumber  and ord.Guide_Serie = lg.ItemSerie)
			left join DeliveryBackOffice.dbo.CreditCardTransactionByCustomerDetail dt on dt.SerieNumber = ou.GuideSerie  and  dt.ProductNumber = ou.GuideNumber 
			left join  CreditCardTransactionByCustomer cr on cr.OrderNumber = dt.OrderNumber 
			LEFT JOIN SchedulePickup sp ON ou.IdHeaderRecolection = sp.SchedulePickupId
			where ou.GuideNumber in (ItemNumber) and ou.GuideSerie in (ItemSerie) or ( ord.StatusOrderId in (15,1)  or ou.GuideNumber is null) and dt.OrderNumber is null) as table1

			--select * from #listGuides
			--select * from #tempay
					set @jsonDetail = (SELECT STUFF(( 
										
											select 
												',{"GuideSerie":"' +   isnull(tbl.ItemSerie,'N/A') + '",' +
												'"GuideNumber":"' + CONVERT(varchar, Isnull(tbl.ItemNumber, 'N/A')) + '",' + 
												'"Amount":"' +convert(varchar, isnull(tp.price,'0.00')) +  '",' +
												'"PickupRate":"' + convert(varchar,'0.00') + 
												+ '"}'
											from #listGuides tbl
											join #tempay tp on (tp.ItemNumber = tbl.ItemNumber and tp.ItemSerie = tbl.ItemSerie)
											group by tbl.ItemSerie, tbl.ItemNumber, tp.price
											FOR XML PATH(''), TYPE
																).value('.', 'varchar(max)'),1,1,''
																		) )
									
										-- no agrupar para resumen
									
											set @jsonSummary = (SELECT STUFF(( 
										
											select 
												',{"Amount":"' + convert(varchar,isnull(SUM(tp.price),'0.00')) + '",' +
												'"PickupRate":"' + convert(varchar,ISNULL(@PickupRate, '0.00')) + '",' +
												'"Collect":"' + 'false' + 
												+ '"}'
											from #listGuides tbl
											join #tempay tp on (tp.ItemNumber = tbl.ItemNumber and tp.ItemSerie = tbl.ItemSerie)
										--	group by tbl.ItemSerie, tbl.ItemNumber , tp.price --, tp.AmountPickup
											FOR XML PATH(''), TYPE
																).value('.', 'varchar(max)'),1,1,''
																		) )
									
											------ unir encabezado y detalle para resultado
									
											         SET @jsonResult =
									                        (
									                            SELECT STUFF(
									                        (
									                            SELECT '{"IdResult":200' + ',' + '"Summary":[' + @jsonSummary + '],' + '"Detail":[' + @jsonDetail + ']' + '' FOR XML PATH(''), TYPE
									                        ).value('.', 'varchar(max)'), 1, 1, '')
									                        );
										
									
									
									
											-- retornar resultado en formato json
										If @jsonResult is null 
										begin
									
											set @jsonResult =(
														SELECT STUFF(( 
														SELECT '{"IdResult":412,' 
														+ '"Message":" No se encontraron registros"' 
											
														FOR XML PATH(''), TYPE
														).value('.', 'varchar(max)'),1,1,''
															  ) 
														)
										end
										
											select ('{' + @jsonResult +  '}') jsonResult

		
end


--------------------------------------------------------- EndAlgoritmo --------------------------------------------------------------------------------------


			
end

						--------------------------------------------------------------------------------------
				else if(@test>0)
					begin
							 set @jsonResult1 =(
											SELECT STUFF(( 
											SELECT ',{"Error":"' +  isnull(convert(varchar,Guide), 'N/A' )  +  + '"}' 
											from #Temp where Guide in (select Guide from #Temp)
											FOR XML PATH(''), TYPE
											).value('.', 'varchar(max)'),1,1,''
												  ) 
										)
								
								print @jsonResult1
							
							 set @jsonResult2 =(
											SELECT STUFF(( 
											SELECT ',{"Message":"' + isnull(convert( nvarchar(max),Message), 'N/A') +  + '"}' 
											from #Temp where Guide in (select Guide from #Temp)
											FOR XML PATH(''), TYPE
											).value('.', 'varchar(max)'),1,1,''
												  ) 
										)

								print @jsonResult2
							  SET @jsonError =
							                (
							                    SELECT STUFF(
							                (
							                    SELECT '{"IdResult":412' + ',' + '"Guides":[' + @jsonResult1 + '],' + '"Messege":[' + @jsonResult2 + ']' + '' FOR XML PATH(''), TYPE
							                ).value('.', 'varchar(max)'), 1, 1, '')
							                );
							print @jsonError
							
							select ('{' + @jsonError +  '}') jsonError

					end
		end

	else if(@TokenAct = 0 or @TokenAct is null or @hourtoken > 8)
		begin 
				 print 'token inválido'
					SET @jsonToken = (
				   SELECT STUFF((
		   			SELECT  
					',{"IdError":' + '403' + ',' +
					'"DescriptionError":"' + 'Token inválido'  + '"' +	  	  
					'}' 
					FOR XML PATH(''), TYPE
				   ).value('.', 'varchar(max)'),1,1,''
		   					  ) 
				   )
					 select '['+ @jsonToken + ']' jsonToken
	
				   return
	end
		


		-- destruir tablas temporales

		IF OBJECT_ID('tempdb.dbo.#listGuides', 'U') IS NOT NULL DROP TABLE #listGuides;
		IF OBJECT_ID('tempdb.dbo.#responsemessage', 'U') IS NOT NULL DROP TABLE #responsemessage;
		IF OBJECT_ID('tempdb.dbo.#Temp', 'U') IS NOT NULL DROP TABLE #Temp;
		IF OBJECT_ID('tempdb.dbo.#tempay', 'U') IS NOT NULL DROP TABLE #tempay;

		-- retornar resultado en formato json

	

END
--select * from dbo.RouteAssigment