USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SetCostPickUp]    Script Date: 19/02/2021 10:37:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Hugo,Gomez>
-- Create date: <2021-02-06>
-- Description:	<Recotizacion>
-- =============================================


ALTER PROCEDURE [dbo].[SetCostPickUp]
	-- Add the parameters for the stored procedure here
	@IdPickUp   INT = 0,
	@Amount DECIMAL (18,2) = 15.00,
	@IdModule int = 1,
	@PaymentType INT = 2,
	@Voucher VARCHAR (200) = 'FSLDKFJ123KJLK31',
	@Token varchar (200) = '12324system'
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @jsonResult NVARCHAR(MAX) 

		-- insertar en tabla temporal posbibles mensajes de respuesta
			
		IF OBJECT_ID('tempdb.dbo.#responsemessage', 'U') IS NOT NULL DROP TABLE #responsemessage;
			select * INTO #responsemessage from (SELECT  200 AS IdResult
					,'Estado  cambiado correctamente' AS Message
					,'OK' as Id 
			union
			SELECT  500 AS IdResult
					,'Error faltal intente de nuevo mas tarde' AS Message
					,'Transac' as Id 
		 )  as errror
	BEGIN TRANSACTION
		BEGIN TRY

	declare @AmountPickup decimal (18,2) = (select  Convert(decimal(18,2),Value) from CatToCharge where IdToCharge = 1)

	insert into dbo.Cost (IdProduct, ProductNumber, IdTypeCharge, TotalAmount, PaymentDate, IdModule, RowStatus, TokenCreated, DateCreated, TokenUpdated, DateUpdated)
	values (2, @IdPickUp, 2, @Amount, GETDATE(), @IdModule, 1, @Token,GETDATE(), null, null ) 

	declare @transact int = SCOPE_IDENTITY()

	insert into dbo.CostDetail (IdCost, IdTypeOfMoney,Amount, Voucher, RowStatus, TokenCreated, DateCreated, TokenUpdated, DateUpdated)
	values (@transact, @PaymentType, @Amount, @Voucher, 1, @Token, GETDATE(), null, null)



	
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION
			select ERROR_MESSAGE()
				-- retornar mensaje de error
			set @jsonResult =(
				SELECT STUFF(( 
				SELECT '"IdResult":' +  convert(varchar,IdResult)    +',' 
				+ '"Message":"' + convert( nvarchar(max),ERROR_MESSAGE()) + '"}' from #responsemessage where Id ='Invalid'
				FOR XML PATH(''), TYPE
				).value('.', 'varchar(max)'),1,1,''
					  ) 
			)
		END CATCH;
		IF @@TRANCOUNT > 0 BEGIN
			COMMIT TRANSACTION;


			set @jsonResult = (SELECT STUFF(( 
			SELECT 
			  ',"Messege":"Pago realizado exitosamente"}'
	
			FOR XML PATH(''), TYPE
							).value('.', 'varchar(max)'),1,1,''
									) )

			--- succesfull
		END
		
		-- destruir tablas temporales

		
		IF OBJECT_ID('tempdb.dbo.#responsemessage', 'U') IS NOT NULL DROP TABLE #responsemessage;

		-- retornar resultado en formato json

				select ('[{' + @jsonResult +  ']') jsonResult

END



