USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SetProductCost]    Script Date: 14/05/2021 10:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Aquino,César>
-- Create date: <2021-02-26>
-- Description:	<Registrar cuentas por cobrar>
-- =============================================


ALTER PROCEDURE [dbo].[SetProductCost]
	-- Add the parameters for the stored procedure here
	@IdProduct int,
	@IdTypeCharge int,
	@ProductNumber  nvarchar(100),
	@Amount DECIMAL (18,2) = 15.00,
	@AmountPaid decimal (18,2),
	@IdModule int = 1,
	@PaymentType INT = 2,
	@Voucher VARCHAR (200) = 'FSLDKFJ123KJLK31',
	@Token varchar (200) = '12324system'
	,@PaymentDate date
	,@TblDetail AS TblChangeList 	readonly

	--,@TblDetail as TblChangeList  READONLY
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- ================================================================
		-- verificar si ya existe un registro del producto
		-- si existe el registro, verficar si ya tiene un pago asociado
		-- si ya tiene un pago asociado insertar otro registro,
		-- si no tiene ningun pago asociado, actualizar registro
		-- si no existe , insertar registro
	-- =================================================================

	-- verificar si el registro existe o esta pagado
	
IF OBJECT_ID('tempdb.dbo.#TblExist', 'U') IS NOT NULL DROP TABLE #TblExist;

DECLARE @jsonResult NVARCHAR(MAX) 

BEGIN TRANSACTION
	BEGIN TRY
		select *
		into #TblExist
		from dbo.Cost cst 
		where cst.IdProduct =  @IdProduct 
		and cst.ProductNumber =  @ProductNumber
		--and ISNULL(cst.TotalAmountPaid,0) =0	

		DECLARE @Exist int  = ( select count(*) from #TblExist) 

		DECLARE @IsPaid decimal(12,2) =( select  isnull(xd.TotalAmountPaid,0)  from #TblExist xd)
		declare @IdCost int =0

		print @Exist
		print @IsPaid 
		-- select * from #TblExist

		if (@Exist >0 and @IsPaid = 0) -- si el registro existe y esta pendiente de pago	
			begin
			print 'el registro existe pero no esta pagado'
				-- actualizar registro

				update dbo.Cost 
				set TotalAmount = @Amount
				, TokenUpdated = @Token
				,DateUpdated = GETDATE()
				where IdProduct =  @IdProduct 
				and ProductNumber =  @ProductNumber

				set @IdCost =(select tb.IdCost from #TblExist tb)
				
				-- insertar costos que no existen
				INSERT INTO [dbo].[BreakdownOfPayment]
						([IdCost]
						,[Description]
						,[Amount]
						,[ModIdModule]
						,[RowStatus]
						,[TokenCreated]
						,[DateCreated])
				select 
					@IdCost
					,det.Description
					,det.Amount
					,det.ModIdModule
					,1 -- crear registro activo por default
					,det.TokenCreated
					,getdate()
				 from @TblDetail det
					left join dbo.BreakdownOfPayment bk on bk.Description = det.Description and bk.IdCost =@IdCost
				where bk.IdBreakdownOfPayment is null

				-- actualizar los registros que si existen 
				update dbo.BreakdownOfPayment set Amount = det.Amount, RowStatus = det.RowStatus, DateUpdated = getdate()
				from @TblDetail det
					left join dbo.BreakdownOfPayment bk on bk.Description = det.Description and bk.IdCost =@IdCost
				where bk.IdBreakdownOfPayment is not null  

				-- Actualizar price shipping con total de cargos 

				set @Amount =  (select sum(isnull( bk.Amount,0)) 
								from dbo.BreakdownOfPayment bk 
								where bk.IdCost = @IdCost and bk.RowStatus = 1)
				update dbo.Cost 
				set TotalAmount = @Amount
				, TokenUpdated = @Token
				,DateUpdated = GETDATE()
				where IdProduct =  @IdProduct 
				and ProductNumber =  @ProductNumber
		
			end
		else -- si el registro no existe crear uno nuevo o registro ya esta pagado
			begin
			print 'registro no existe , hay que crearlo'
				insert into dbo.Cost 
						(IdProduct
						, ProductNumber
						, IdTypeCharge
						, TotalAmount
						, PaymentDate
						, IdModule
						, RowStatus
						, TokenCreated
						, DateCreated
						, TokenUpdated
						, DateUpdated)
					values (
						@IdProduct
						, @ProductNumber
						, @IdTypeCharge
						, @Amount
						, @PaymentDate
						, @IdModule
						, 1 -- guardar los registros como activos 
						, @Token
						,GETDATE()
						, null
						, null ) 

				set @IdCost  = SCOPE_IDENTITY()  

				INSERT INTO [dbo].[BreakdownOfPayment]
							([IdCost]
							,[Description]
							,[Amount]
							,[ModIdModule]
							,[RowStatus]
							,[TokenCreated]
							,[DateCreated])
				select 
					@IdCost
					,det.Description
					,det.Amount
					,det.ModIdModule
					,1 -- crear registro activo por default
					,det.TokenCreated
					,getdate()
				from @TblDetail det

			--	select * from @TblDetail
		
			end
	-- actualizar precios de producto
		if ( @IdTypeCharge =1 ) -- consto de envio (flete)
			begin
			print 'actualizar price'
			print @Amount
			print SUBSTRING(LTRIM(@ProductNumber),0,3)
			print SUBSTRING(LTRIM(@ProductNumber),3,len(@ProductNumber))
				update dbo.DeliveryOrder set PriceShippment = @Amount
				where Guide_Serie = SUBSTRING(ltrim(@ProductNumber),0,3) and Guide_Number =  SUBSTRING(Ltrim(@ProductNumber),3,len(@ProductNumber))
			end
		else	-- pickup
			begin 

				update dbo.SchedulePickup set AmountPickup = @Amount
				where SchedulePickupId =  convert(int,@ProductNumber)	
			end

	END TRY
	BEGIN CATCH
		
		ROLLBACK TRANSACTION

		set @jsonResult =(
					SELECT STUFF(( 
					SELECT '{{"IdResult":500,' 
					+ '"Message":" Error de transacción"}' 
		
					FOR XML PATH(''), TYPE
					).value('.', 'varchar(max)'),1,1,''
						  ) 
					)
	END CATCH;
	IF @@TRANCOUNT > 0 
		BEGIN
			COMMIT TRANSACTION;
			set @jsonResult =(
					SELECT STUFF(( 
					SELECT '{{"IdResult":200,' 
					+ '"Message":" Registro actualizado correctamente "}' 
		
					FOR XML PATH(''), TYPE
					).value('.', 'varchar(max)'),1,1,''
						  ) 
					)
		END
	select ('[' + @jsonResult +  ']') jsonResult
END



