USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sps_proof_ondelivery_fd]    Script Date: 14/10/2021 17:08:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Aquino, César>
-- Create date: <2021-03-23>
-- Description:	<Registrar prueba de entrega en sitio <API Delivery >>
-- =============================================
-- =============================================
-- Modiff:		<Marco,Jiménez>
-- Create date: <2021-09-16>
-- Description:	<Se agregan validaciones para NO insertar 
--               el checkpoint Entregado cuando la entrega sea en un Express Center,
--               en cambio se debe insertar el checkpoint Reenviado a Express Center>
-- Hotfix: FDAPI-337
-- =============================================

ALTER PROCEDURE [dbo].[sps_proof_ondelivery_fd]
    @GuideSerie NVARCHAR(2),
    @GuideNumber INT,
    @PhoneNumber NVARCHAR(50),
    @ReceiverName NVARCHAR(200),
    @PhotoDryB64 VARCHAR(MAX),
    @PhotoColdB64 VARCHAR(MAX),
    @Latitude NVARCHAR(20),
    @Longitude NVARCHAR(20),
    @Accuracy NVARCHAR(20),
    @TblDetail AS TblPaymentList READONLY,
    @FullPayment DECIMAL(12, 2) = 0,
    @Token VARCHAR(50),
    @Signature VARCHAR(300),
    @CODPayment DECIMAL(12, 2) = 0,
    @ExcludeCODPyament BIT = 'false'
AS
BEGIN
    -- control de inserciones para transacción
    DECLARE @RInserted INT;
    -- tabla temporal para actualizar registros encontrados
    DECLARE @Table AS TABLE
    (
        ID INT
    );
    -- control de inserción de imagen en tabla de fotografías
    DECLARE @ID_Photo INT;
    -- variables auxiliares para conversión de imagen de base64 a varbinary
    DECLARE @PhotoDryVB VARBINARY(MAX);
    DECLARE @PhotoColdVB VARBINARY(MAX);
    -- variable para obtener el módulo de origen de los datos
    DECLARE @DataOriginId INT;
    -- variable para setear el nombre del módulo del cuál se desea obtener su id
    DECLARE @ModName NVARCHAR(50);

	--Estado para Reenviado a Express Center
	DECLARE @StatusEXC AS INT = ( SELECT StatusOrderId FROM StatusOrder WHERE OrderDescription = 'Reenviado a Express Center') --FDAPI-337
	--Se obtiene el IdDeliveryOption configurado
	DECLARE @IdDeliveryOption AS INT  = (SELECT IdDeliveryOption FROM DeliveryBackOffice.dbo.CatDeliveryOptions WHERE Name = 'Express Center') --FDAPI-337
	--Se obtiene el IdDeliveryOption que tiene la guía
	DECLARE @IdDeliveryOptionGuide AS INT  = (SELECT IdDeliveryOption FROM DeliveryBackOffice.dbo.DeliveryOrder WHERE Guide_Serie = @GuideSerie AND Guide_Number = @GuideNumber ) --FDAPI-337

    BEGIN TRANSACTION;

    BEGIN TRY

        -- asignar valor a la variable ModName
        SET @ModName = N'Courier App';

        -- convertir base64 a varbinary
        SET @PhotoDryVB = (CAST(N'' AS XML).value('xs:base64Binary(sql:variable("@PhotoDryB64"))', 'varbinary(max)'));
        SET @PhotoColdVB
            = (CAST(N'' AS XML).value('xs:base64Binary(sql:variable("@PhotoColdB64"))', 'varbinary(max)'));

        -- buscar registros de tabla de entregas
        INSERT INTO @Table
        SELECT da.ID
        FROM DeliveryBackOffice.dbo.DeliveryAttempt da
            JOIN DeliveryBackOffice.dbo.SenderReceiver sr
                ON sr.ID = da.ID_Courier
        WHERE sr.Phone LIKE '%' + @PhoneNumber + '%'
              AND da.Guide_Serie = @GuideSerie
              AND da.Guide_Number = @GuideNumber
              AND CONVERT(VARCHAR, da.Date_Created, 23) = CONVERT(VARCHAR, GETDATE(), 23);

        -- insertar foto y guardar ID para actualizar tabla de entregas
        INSERT INTO DeliveryBackOffice.dbo.DeliveryProof
        (
            Guide_Serie,
            Guide_Number,
            Date_Photo,
            Proof_Dry,
            Proof_Cold,
            PathSignature
        )
        VALUES
        (@GuideSerie, @GuideNumber, GETDATE(), @PhotoDryVB, @PhotoColdVB, @Signature);
        SET @ID_Photo = SCOPE_IDENTITY();

        IF (@ID_Photo > 0)
        BEGIN
            -- actualizar tabla de entregas
            UPDATE DeliveryBackOffice.dbo.DeliveryAttempt
            SET Delivered = 1,
                ID_Proof = @ID_Photo,
                Latitude = @Latitude,
                Longitude = @Longitude,
                Accuracy = @Accuracy
            WHERE ID IN
                  (
                      SELECT ID FROM @Table
                  );

            DECLARE @StatusId INT =
                    (
                        SELECT TOP 1
                               ISNULL(StatusOrderId, 1)
                        FROM dbo.DeliveryOrder
                        WHERE Guide_Serie = @GuideSerie
                              AND Guide_Number = @GuideNumber
                    );

			

            IF @StatusId != 5 -- estado etregado
            BEGIN

			PRINT 'ACUTALIZADO DELIVERYORDER'
			PRINT @ExcludeCODPyament
                -- actualizar tabla de registro de guías electrónicas
                UPDATE DeliveryBackOffice.dbo.DeliveryOrder
                SET NameOfReceiver = @ReceiverName,
                    StatusOrderId = IIF(@IdDeliveryOptionGuide = @IdDeliveryOption, @StatusEXC, 5),
					LastCollectOnDelivery = IIF(@ExcludeCODPyament = 'false', 0, Collect_OnDelivery),
                    Collect_OnDelivery = IIF(@ExcludeCODPyament = 'true', 0, Collect_OnDelivery) -- 2021-09-09 si el flag de exlucion de pago COD es true actualizar monto COD a 0
                WHERE Guide_Serie = @GuideSerie
                      AND Guide_Number = @GuideNumber;

                DECLARE @Observation NVARCHAR(200) = NULL;

                SELECT TOP 1
                       @Observation = CONCAT(ISNULL(td.Voucher, ''), ' ', ISNULL(td.Responsible, ''))
                FROM @TblDetail td
                WHERE LEN(ISNULL(td.Responsible, '')) > 0;

                -- registrar estado en tabla de checkpoints
                INSERT INTO DeliveryBackOffice.dbo.DeliveryOrderDetail
                (
                    Guide_Serie,
                    Guide_Number,
                    StatusOrderId,
                    UserCreated,
                    DateCreated,
                    DateCreatedInSystem,
                    Temperature_Celsius,
                    Observations
                )
                VALUES
                (@GuideSerie, @GuideNumber, IIF(@IdDeliveryOptionGuide = @IdDeliveryOption, @StatusEXC, 5), @Token, GETDATE(), GETDATE(), NULL,
                 IIF(LEN(@Observation) > 0, CONCAT('ENTREGA SIN COBRO COD ', @Observation), ''));

                SET @RInserted = @@ROWCOUNT;

                SELECT @DataOriginId = cm.ModIdModule
                FROM DeliveryBackOffice.dbo.CatModule cm
                WHERE cm.ModName = @ModName;
-- ********************************** PROCESO DE COD ********************************************************************************
                INSERT INTO DeliveryBackOffice.dbo.ProcessedGuideCOD
                (
                    GuideSerie,
                    GuideNumber,
                    CourierManId,
                    DataOriginId,
                    Token,
					CustomerId,
					CODBatch,					
					CollectBatch,
					RecolectionBatch
                )
                SELECT ord.Guide_Serie AS 'GuideSerie',
                       ord.Guide_Number AS 'GuideNumber',
                       (
                           SELECT IdCourierman
                           FROM DeliveryBackOffice.dbo.LogTokenPOD
                           WHERE LogTokenPOD = @Token
                       ) AS 'CourierManId',
                       @DataOriginId AS 'DataOriginId',
                       @Token AS 'Token'
					   , cus.IdCustomer,
					   'TRUE',
					   NULL,
					   NULL
                FROM DeliveryBackOffice.dbo.DeliveryOrder ord
					LEFT JOIN dbo.VisitPointClient vp ON vp.CodeOfReference = ord.Sender_ID
					LEFT JOIN dbo.Customer cus ON cus.IdCustomer = ISNULL(ord.IdCustomer, vp.CustomerID)
					LEFT JOIN dbo.ProcessedGuideCOD pgd ON pgd.GuideSerie = ord.Guide_Number AND pgd.GuideNumber = ord.Guide_Number 
                WHERE Guide_Serie = @GuideSerie
                      AND Guide_Number = @GuideNumber
                      AND Collect_OnDelivery > 0
                      AND StatusOrderId IN ( 5,22 )
					  AND pgd.BatchCODId IS NULL AND pgd.BatchCODIdCommission IS NULL AND pgd.CODBatch IS NULL
				UNION
				 SELECT ord.Guide_Serie AS 'GuideSerie',
                        ord.Guide_Number AS 'GuideNumber',
                       (
                           SELECT IdCourierman
                           FROM DeliveryBackOffice.dbo.LogTokenPOD
                           WHERE LogTokenPOD = @Token
                       ) AS 'CourierManId',
                       @DataOriginId AS 'DataOriginId',
                       @Token AS 'Token'
					   , cus.IdCustomer,
					   NULL,
					   'true',
					   NULL
                FROM DeliveryBackOffice.dbo.DeliveryOrder ord
					LEFT JOIN dbo.VisitPointClient vp ON vp.CodeOfReference = ord.Sender_ID
					LEFT JOIN dbo.Customer cus ON cus.IdCustomer = ISNULL(ord.IdCustomer, vp.CustomerID)
					LEFT JOIN dbo.ProcessedGuideCOD pgd ON pgd.GuideSerie = ord.Guide_Number AND pgd.GuideNumber = ord.Guide_Number 
                WHERE Guide_Serie = @GuideSerie
                      AND Guide_Number = @GuideNumber
                      AND Collect_OnDelivery = 0
					  AND IsCollect = 'true'
                      AND StatusOrderId IN ( 5,22 )
					  AND pgd.CollectBatchId IS NULL AND pgd.CollectBatch IS NULL
				--UNION
				-- SELECT ord.Guide_Serie AS 'GuideSerie',
    --                   ord.Guide_Number AS 'GuideNumber',
    --                   (
    --                       SELECT IdCourierman
    --                       FROM DeliveryBackOffice.dbo.LogTokenPOD
    --                       WHERE LogTokenPOD = @Token
    --                   ) AS 'CourierManId',
    --                   @DataOriginId AS 'DataOriginId',
    --                   @Token AS 'Token'
				--	   , cus.IdCustomer
    --            FROM DeliveryBackOffice.dbo.DeliveryOrder ord
				--INNER JOIN dbo.DeliveryOrderPaymentDetail DOP 
				--	ON ord.Guide_Serie = DOP.GuideSerie AND ord.Guide_Number = DOP.GuideNumber
				--	LEFT JOIN dbo.VisitPointClient vp ON vp.CodeOfReference = ord.Sender_ID
				--	LEFT JOIN dbo.Customer cus ON cus.IdCustomer = ISNULL(ord.IdCustomer, vp.CustomerID)
    --            WHERE Guide_Serie = @GuideSerie
    --                  AND Guide_Number = @GuideNumber                      
				--	  AND IsCollect = 'false'
				--	  AND DOP.TimePlaId = 2
    --                  AND StatusOrderId = 5;
-- ********************************** FIN PROCESO DE COD ********************************************************************************
            END;
        END;

        IF (@FullPayment > 0 OR @CODPayment > 0) -- si se intenta registrar un pago
        BEGIN
            DECLARE @PNumber VARCHAR(20) =
                    (
                        SELECT CONCAT(@GuideSerie, @GuideNumber)
                    );
            -- Guardar Costos
            EXEC [dbo].[SetPaymentCost] @TypeProduct = 1, --1 = Guia electronica
                                        @ProductNumber = @PNumber,
                                        @TblDetail = @TblDetail,
                                        @FullPayment = @FullPayment,
                                        @TypeCharge = 1,  -- 1 = costo de envío
                                        @Token = @Token,
                                        @CODPayment = @CODPayment;
        END;

    END TRY
    BEGIN CATCH
        SELECT 0 AS 'StatusCode',
               ERROR_MESSAGE() AS 'Description',
               CONVERT(BIGINT, 0) AS 'NumTransferID',
               @GuideSerie + CAST(@GuideNumber AS VARCHAR) AS 'Guide';
        ROLLBACK TRANSACTION;
    END CATCH;

    IF @@TRANCOUNT > 0
    BEGIN
        IF (@RInserted > 0)
            SELECT 1 AS 'StatusCode',
                   'Registro guardado correctamente' AS 'Description',
                   CONVERT(BIGINT, @@TRANCOUNT) AS 'NumTransferID',
                   @GuideSerie + CAST(@GuideNumber AS VARCHAR) AS 'Guide';
        ELSE
            SELECT 1 AS 'StatusCode',
                   'Registro no encontrado' AS 'Description',
                   CONVERT(BIGINT, 0) AS 'NumTransferID',
                   @GuideSerie + CAST(@GuideNumber AS VARCHAR) AS 'Guide';

        COMMIT TRANSACTION;
    END;
    ELSE
        SELECT 0 AS 'StatusCode',
               ERROR_MESSAGE() AS 'Description',
               CONVERT(BIGINT, 0) AS 'NumTransferID',
               @GuideSerie + CAST(@GuideNumber AS VARCHAR) AS 'Guide';
END;



