USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_set_AssigmentPilot]    Script Date: 17/02/2021 10:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-02-15>
-- Description:	<Asigna una Piloto a un ruta>
-- =============================================
ALTER PROCEDURE [dbo].[spg_set_AssigmentPilot]
		@idRoute AS int,
		@idCourrieMan as int,
		@idVehicle as int,
		@dateRoute AS date,
		@token as varchar(50),
		@dateCreated as datetime,
		@confirm as int
AS
BEGIN
	DECLARE @idRouteAssigment int
	DECLARE @countCourrier int
	DECLARE @idRouteAssigmentCourrier int
	DECLARE @countVehicle int

	SELECT @countCourrier = COUNT(*)
	FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
	WHERE DateOfRoute = @dateRoute AND IdCurrierMan = @idCourrieMan

	SELECT @countVehicle = COUNT(*)
	FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
	WHERE DateOfRoute = @dateRoute AND IdVehicle = @idVehicle
	
	IF EXISTS(SELECT IdRouteAssigment 
		FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
		WHERE IdRoute = @idRoute AND DateOfRoute = @dateRoute)
	BEGIN
		SET @idRouteAssigment = (SELECT IdRouteAssigment 
							     FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
								 WHERE IdRoute = @idRoute AND DateOfRoute = @dateRoute)

		IF(@countCourrier = 0) AND (@countVehicle = 0) AND (@confirm = 0)
		BEGIN
			UPDATE [DeliveryBackOffice].[dbo].[RouteAssigment] Set IdCurrierMan=@idCourrieMan, IdVehicle=@idVehicle WHERE IdRouteAssigment=@idRouteAssigment
			UPDATE [DeliveryBackOffice].[dbo].[ServiceManagement] Set IdPuCourrier=@idCourrieMan WHERE IdPuRouteAssigment=@idRouteAssigment
		END
		ELSE IF (@countCourrier = 1) AND (@countVehicle = 0) AND (@confirm = 1)
		BEGIN
			SELECT @idRouteAssigmentCourrier = IdRouteAssigment
			FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
			WHERE DateOfRoute = @dateRoute AND IdCurrierMan = @idCourrieMan

			UPDATE[DeliveryBackOffice].[dbo].[RouteAssigment] SET IdCurrierMan = NULL WHERE DateOfRoute = @dateRoute AND IdCurrierMan = @idCourrieMan
			UPDATE [DeliveryBackOffice].[dbo].[ServiceManagement] Set IdPuCourrier=NULL WHERE IdPuRouteAssigment=@idRouteAssigmentCourrier

			UPDATE [DeliveryBackOffice].[dbo].[RouteAssigment] Set IdCurrierMan=@idCourrieMan, IdVehicle=@idVehicle WHERE IdRouteAssigment=@idRouteAssigment
			UPDATE [DeliveryBackOffice].[dbo].[ServiceManagement] Set IdPuCourrier=@idCourrieMan WHERE IdPuRouteAssigment=@idRouteAssigment
		END
		ELSE IF (@countCourrier = 0) AND (@countVehicle = 1) AND (@confirm = 1)
		BEGIN
			UPDATE[DeliveryBackOffice].[dbo].[RouteAssigment] SET IdVehicle = NULL WHERE DateOfRoute = @dateRoute AND IdVehicle = @idVehicle

			UPDATE [DeliveryBackOffice].[dbo].[RouteAssigment] Set IdCurrierMan=@idCourrieMan, IdVehicle=@idVehicle WHERE IdRouteAssigment=@idRouteAssigment
			UPDATE [DeliveryBackOffice].[dbo].[ServiceManagement] Set IdPuCourrier=@idCourrieMan WHERE IdPuRouteAssigment=@idRouteAssigment
		END
		ELSE IF (@countCourrier = 1) AND (@countVehicle = 1) AND (@confirm = 1)
		BEGIN
			SELECT @idRouteAssigmentCourrier = IdRouteAssigment
			FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
			WHERE DateOfRoute = @dateRoute AND IdCurrierMan = @idCourrieMan

			UPDATE[DeliveryBackOffice].[dbo].[RouteAssigment] SET IdCurrierMan = NULL WHERE DateOfRoute = @dateRoute AND IdCurrierMan = @idCourrieMan
			UPDATE [DeliveryBackOffice].[dbo].[ServiceManagement] Set IdPuCourrier=NULL WHERE IdPuRouteAssigment=@idRouteAssigmentCourrier

			UPDATE[DeliveryBackOffice].[dbo].[RouteAssigment] SET IdVehicle = NULL WHERE DateOfRoute = @dateRoute AND IdVehicle = @idVehicle

			UPDATE [DeliveryBackOffice].[dbo].[RouteAssigment] Set IdCurrierMan=@idCourrieMan, IdVehicle=@idVehicle WHERE IdRouteAssigment=@idRouteAssigment
			UPDATE [DeliveryBackOffice].[dbo].[ServiceManagement] Set IdPuCourrier=@idCourrieMan WHERE IdPuRouteAssigment=@idRouteAssigment
		END

	END
	ELSE
	BEGIN
		IF(@countCourrier = 0) AND (@countVehicle = 0) AND (@confirm = 0)
		BEGIN
			INSERT INTO [DeliveryBackOffice].[dbo].[RouteAssigment] (IdRoute,IdCurrierMan,IdVehicle,DateOfRoute,RowStatus,TokenCreated,DateCreated)
			VALUES (@idRoute,@idCourrieMan,@idVehicle,@dateRoute,1,@token,@dateCreated)
		END
	END

	SELECT @countCourrier as countCourrier, @countVehicle as CountVehicle
END