USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[getEmailCOD]    Script Date: 23/08/2021 10:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[getEmailCOD]
	@IdBank INT
AS
BEGIN

SELECT rec.Email as EmailList,(select dbk.Acronym 
	FROM DeliveryBank dbk
	WHERE dbk.Id_bank = @IdBank)  AS BankAcronym FROM CatEmailProcessCOD cep
JOIN CatReceiverEmailCOD rec ON cep.CatReceiverEmailCODId = rec.IdCatReceiverEmailCOD
WHERE cep.CatProcessCODId = 1 AND cep.RowStatus  = 1


END