USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_set_UnassignRouteService]    Script Date: 29/03/2021 16:08:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-02-15>
-- Description:	<Desasignación de un servicio a una ruta>
-- =============================================
ALTER PROCEDURE [dbo].[spg_set_UnassignRouteService]
		@idSchedulePickup as int,
		@token as varchar(50)
AS
BEGIN
	DECLARE @idSchedule as int
	declare @status int = (select StatusOrderId from StatusOrder
				where OrderDescription =  'Solicitado')
	IF OBJECT_ID('tempdb.dbo.#listaCheck', 'U') IS NOT NULL DROP TABLE #listaCheck;

	IF EXISTS(SELECT * FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
		WHERE IdSchedulePickup = @idSchedulePickup)
	BEGIN
		SELECT @idSchedule = IdServiceManagement  FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
		WHERE IdSchedulePickup = @idSchedulePickup

		 select 
				  GuideNumber,
				  GuideSerie,
				  NoPiece
				  into #listaCheck from (select   dop.GuideNumber , dop.GuideSerie, dop.NoPiece from ServiceManagement sm
				  left join SchedulePickup sp on (sm.IdSchedulePickup = sp.SchedulePickupId)
				  left join DeliveryOrderPaymentDetail dopd on (dopd.IdHeaderRecolection = sp.SchedulePickupId)
				  left join DeliveryOrder ord on (ord.Guide_Number = dopd.GuideNumber and ord.Guide_Serie = dopd.GuideSerie)
				  left join DeliveryOrderPiece dop on (dop.GuideNumber = ord.Guide_Number and dop.GuideSerie = ord.Guide_Serie)
				  where sm.IdSchedulePickup = @idSchedulePickup) as tab1

			update DeliveryBackOffice.dbo.DeliveryOrder set StatusOrderId = @status, TokenUpdated = @token , DateUpdated = GETDATE()
			from #listaCheck ls
			inner join dbo.DeliveryOrder ord on ord.Guide_Serie =  ls.GuideSerie and ord.Guide_Number = ls.GuideNumber 
			--where ls.GuideNumber in (select GuideNumber from #listaCheck) and ls.GuideSerie in (select GuideSerie from #listaCheck)

			update DeliveryBackOffice.dbo.DeliveryOrderPiece  set StatusOrderId = @status, DateUpdated = GETDATE()
			from #listaCheck ls
			inner join dbo.DeliveryOrderPiece dop on dop.GuideSerie =  ls.GuideSerie and dop.GuideNumber = ls.GuideNumber


		UPDATE [DeliveryBackOffice].[dbo].[ServiceManagement] SET IdPuCourrier = NULL, IdPuRouteAssigment = NULL, ServiceStatusId = 1 WHERE IdSchedulePickup = @idSchedulePickup;
		UPDATE [DeliveryBackOffice].[dbo].[SchedulePickup] SET AssigmentStatus = 0 WHERE SchedulePickupId = @idSchedulePickup;

		INSERT INTO [DeliveryBackOffice].[dbo].[EventService] (ServiceManagementId,ServiceStatusId,RowStauts,TokenCreated,DateCreated)
		VALUES(@idSchedule,1,1,@token,GETDATE())
	END
END