USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_SetCoverageMassive]    Script Date: 2/12/2021 21:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Alberto,Ixchop>
-- Create date: <2021-11-16>
-- Description:	<Edita uno o varios campos de un grupo seleccionado de coberturas >
-- =============================================
ALTER PROCEDURE [dbo].[sphd_SetCoverageMassive]
	@idHub int = NULL,
	@idRoute int =NULL,
	@SDD		bit =NULL,
	@NDD		bit =NULL,
	@TDA		bit =NULL,
	@ConcatedCov nvarchar(50)=NULL,
	@flag		nvarchar(50), --Este campo indica si se van a editar todos los campos o si solo se quiere modificar uno en especifico
	--Para el parametro flag:
		--'HUB' editara el hub
		--'ROUTE' editara la ruta
		--'TYPESERVICE' editara el tipo de servicio (sdd,ndd,tda)
		--'COVERAGE' editara la cobertura
		--'ALL' editara todos los campos
	@dataToSet dbo.TblExtPlatTextParameterList READONLY,
	@userToken nvarchar(50)

AS
BEGIN
	DECLARE @hubcode nvarchar(50) = (select HubAbbreviation from HubLogistics where IdHubLogistic=@idHub  );
	DECLARE @routecode nvarchar(100) = (select CodeRoute from dbo.CatRoute where IdRoute=@idRoute);
	DECLARE @deliveryTime nvarchar(50)='';
	BEGIN TRANSACTION INI
	SAVE TRANSACTION POINT1
	
	BEGIN TRY

		IF (@TDA=1)
		BEGIN			
			SET @deliveryTime=SUBSTRING((select CtsDescription from dbo.CatTypeService where CtsShortName='TDA'),0,50);
			SET @SDD=0
			SET @NDD=0
		END
		ELSE IF (@NDD=1 AND @SDD=1)
		BEGIN
			SET @deliveryTime=(select  SUBSTRING( (SELECT STUFF((SELECT ' o ' + CtsDescription
                FROM DBO.CatTypeService 
                WHERE CtsShortName IN ('SDD','NDD')
                FOR XML PATH('')),1,3,'')),0,50) );
		END
		ELSE IF (@SDD=1)
		BEGIN
			SET @deliveryTime=SUBSTRING((select CtsDescription from dbo.CatTypeService where CtsShortName='SDD'),0,50);
		END
		ELSE IF (@NDD=1)
		BEGIN
			SET @deliveryTime=SUBSTRING((select CtsDescription from dbo.CatTypeService where CtsShortName='NDD'),0,50);
		END


		--START SAVE LOG
			INSERT INTO DBO.DumpServiceCoverageLog  (DumpFileName,DumpVersion,HeaderCode,IdSettlement,Coverage,DeliveryTime,Hub,RouteCode,SDD,NDD,TDA,RowStatus,TokenCreated,DateCreated,TokenUpdated,DateUpdated)
				(SELECT 
				DumpFileName,DumpVersion,HeaderCode,IdSettlement,Coverage,DeliveryTime,Hub,RouteCode,SDD,NDD,TDA,RowStatus,TokenCreated,DateCreated,@userToken,GETDATE()
				FROM DBO.DumpServiceCoverage SERV
				INNER JOIN @dataToSet DS ON  SERV.IdDump= CAST(DS.TextParameter AS bigint))
		--END SAVE LOG
		--START SET NEW DATA
        UPDATE DBO.DumpServiceCoverage SET 
            Hub=(case when (@flag in ('ALL','HUB')) then @hubcode else Hub end),
            RouteCode=(case when (@flag in ('ALL','ROUTE')) then @routecode else RouteCode end),
            SDD=(case when (@flag in ('ALL','TYPESERVICE')) then @SDD else SDD end),
            NDD=(case when (@flag in ('ALL','TYPESERVICE')) then @NDD else NDD end),
            TDA=(case when (@flag in ('ALL','TYPESERVICE')) then @TDA else TDA end), 
			DeliveryTime=(case when (@flag in ('ALL','TYPESERVICE')) then @deliveryTime else DeliveryTime end), 
            Coverage=(case when (@flag in ('ALL','COVERAGE')) then @ConcatedCov else Coverage end),			
			TokenUpdated=@userToken,
			DateUpdated=GETDATE()
            where IdDump in (SELECT TextParameter FROM @dataToSet);
            select 0,@hubcode,@routecode,@deliveryTime;
			
		COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION POINT1
		select -1;
	END CATCH

END
