USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_set_AssigmentRouteService]    Script Date: 29/03/2021 10:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-02-12>
-- Description:	<Asigna una ruta a un servicio>
-- =============================================
ALTER PROCEDURE [dbo].[spg_set_AssigmentRouteService]
		@idSchedulePickup as int,
		@idRoute AS int,
		@dateRoute AS date,
		@token as varchar(50),
		@dateCreated as datetime
AS
BEGIN
	IF OBJECT_ID('tempdb.dbo.#listaCheck', 'U') IS NOT NULL DROP TABLE #listaCheck;
	IF OBJECT_ID('tempdb.dbo.#listaCheck1', 'U') IS NOT NULL DROP TABLE #listaCheck1;

	DECLARE @idCourrier as int
	DECLARE @idRouteAssigment as int
	DECLARE @idSchedule as int
	declare @status int = (select StatusOrderId from StatusOrder
				where OrderDescription =  'Programado para recolección')

	IF EXISTS(SELECT IdRouteAssigment 
		FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
		WHERE IdRoute = @idRoute AND DateOfRoute = @dateRoute)
	BEGIN

		SET @idCourrier = (SELECT IdCurrierMan 
						   FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
						   WHERE IdRoute = @idRoute AND DateOfRoute = @dateRoute)

		SET @idRouteAssigment = (SELECT IdRouteAssigment 
								 FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
								 WHERE IdRoute = @idRoute AND DateOfRoute = @dateRoute)
	
		IF EXISTS(SELECT IdServiceManagement FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
				  WHERE IdSchedulePickup=@idSchedulePickup)
		BEGIN
			SELECT @idSchedule = IdServiceManagement FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
				  WHERE IdSchedulePickup=@idSchedulePickup

			UPDATE [DeliveryBackOffice].[dbo].[ServiceManagement] 
			SET IdPuCourrier = @idCourrier, IdPuRouteAssigment = @idRouteAssigment, ServiceStatusId=2 WHERE IdServiceManagement = @idSchedule
		END
		ELSE
		BEGIN
			INSERT INTO [DeliveryBackOffice].[dbo].[ServiceManagement] (IdPuCourrier,IdPuRouteAssigment,IdSchedulePickup,RowStatus,TokenCreated,DateCreated,ServiceStatusId)
			VALUES(@idCourrier,@idRouteAssigment,@idSchedulePickup,1,@token,@dateCreated,2)



			SELECT @idSchedule = IdServiceManagement FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
			WHERE IdSchedulePickup=@idSchedulePickup
		END

		UPDATE [DeliveryBackOffice].[dbo].[SchedulePickup] Set AssigmentStatus='1' Where SchedulePickupId=@idSchedulePickup

		INSERT INTO [DeliveryBackOffice].[dbo].[EventService] (ServiceManagementId,ServiceStatusId,RowStauts,TokenCreated,DateCreated)
		VALUES(@idSchedule,2,1,@token,GETDATE())

		
				  select 
				  GuideNumber,
				  GuideSerie,
				  NoPiece
				  into #listaCheck from (select dop.GuideNumber , dop.GuideSerie, dop.NoPiece from ServiceManagement sm
				  left join SchedulePickup sp on (sm.IdSchedulePickup = sp.SchedulePickupId)
				  left join DeliveryOrderPaymentDetail dopd on (dopd.IdHeaderRecolection = sp.SchedulePickupId)
				  left join DeliveryOrder ord on (ord.Guide_Number = dopd.GuideNumber and ord.Guide_Serie = dopd.GuideSerie)
				  left join DeliveryOrderPiece dop on (dop.GuideNumber = ord.Guide_Number and dop.GuideSerie = ord.Guide_Serie)
				  where sm.IdSchedulePickup = @idSchedulePickup) as tab1

				  INSERT into [DeliveryBackOffice].[dbo].[DeliveryOrderDetail] (
					[Guide_Serie], 
					[Guide_Number], 
					[StatusOrderId], 
					[UserCreated], 
					[DateCreated], 
					[DateCreatedInSystem]
					)
					select
					ls.GuideSerie,
					ls.GuideNumber,
					@status,
					@token,
					GETDATE(),
					GETDATE()
					from #listaCheck ls
					where ls.GuideNumber in (select GuideNumber from #listaCheck) and ls.GuideSerie = (select GuideSerie from #listaCheck)

	
			update DeliveryBackOffice.dbo.DeliveryOrder set StatusOrderId = @status, TokenUpdated = @token , DateUpdated = GETDATE()
			from #listaCheck ls
			join DeliveryOrderDetail dod on (dod.Guide_Number = ls.GuideNumber and dod.Guide_Serie = ls.GuideSerie)
			where dod.Guide_Number in (select GuideNumber from #listaCheck) and dod.Guide_Serie in (select GuideNumber from #listaCheck)

			update DeliveryBackOffice.dbo.DeliveryOrderPiece  set StatusOrderId = @status, DateUpdated = GETDATE()
			from #listaCheck ls
			join DeliveryOrderPiece dop on (dop.GuideNumber = ls.GuideNumber and dop.GuideSerie = ls.GuideSerie)
			where dop.GuideNumber in (select GuideNumber from #listaCheck) and dop.GuideSerie in (select GuideSerie from #listaCheck)




	END
	ELSE
	BEGIN
		INSERT INTO [DeliveryBackOffice].[dbo].[RouteAssigment] (IdRoute,DateOfRoute,RowStatus,TokenCreated,DateCreated)
		VALUES (@idRoute,@dateRoute,1,@token,@dateCreated)

		SET @idRouteAssigment = (SELECT IdRouteAssigment 
						   FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
						   WHERE IdRoute = @idRoute AND DateOfRoute = @dateRoute)
		
		IF EXISTS(SELECT IdServiceManagement FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
				  WHERE IdSchedulePickup=@idSchedulePickup)
		BEGIN
			SELECT @idSchedule = IdServiceManagement FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
				  WHERE IdSchedulePickup=@idSchedulePickup

			UPDATE [DeliveryBackOffice].[dbo].[ServiceManagement] 
			SET IdPuCourrier = @idCourrier, IdPuRouteAssigment = @idRouteAssigment, ServiceStatusId=2 WHERE IdServiceManagement = @idSchedule
		END
		ELSE
		BEGIN
			INSERT INTO [DeliveryBackOffice].[dbo].[ServiceManagement] (IdPuRouteAssigment,IdSchedulePickup,RowStatus,TokenCreated,DateCreated,ServiceStatusId)
			VALUES(@idRouteAssigment,@idSchedulePickup,1,@token,@dateCreated,2)

			SELECT @idSchedule = IdServiceManagement FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
			WHERE IdSchedulePickup=@idSchedulePickup
		END

		UPDATE [DeliveryBackOffice].[dbo].[SchedulePickup] Set AssigmentStatus='1' Where SchedulePickupId=@idSchedulePickup

		INSERT INTO [DeliveryBackOffice].[dbo].[EventService] (ServiceManagementId,ServiceStatusId,RowStauts,TokenCreated,DateCreated)
		VALUES(@idSchedule,2,1,@token,GETDATE() )



				  select 
				  GuideNumber,
				  GuideSerie,
				  NoPiece
				  into #listaCheck1 from (select dop.GuideNumber , dop.GuideSerie, dop.NoPiece from ServiceManagement sm
				  left join SchedulePickup sp on (sm.IdSchedulePickup = sp.SchedulePickupId)
				  left join DeliveryOrderPaymentDetail dopd on (dopd.IdHeaderRecolection = sp.SchedulePickupId)
				  left join DeliveryOrder ord on (ord.Guide_Number = dopd.GuideNumber and ord.Guide_Serie = dopd.GuideSerie)
				  left join DeliveryOrderPiece dop on (dop.GuideNumber = ord.Guide_Number and dop.GuideSerie = ord.Guide_Serie)
				  where sm.IdSchedulePickup = @idSchedulePickup) as tab2

				  INSERT into [DeliveryBackOffice].[dbo].[DeliveryOrderDetail] (
					[Guide_Serie], 
					[Guide_Number], 
					[StatusOrderId], 
					[UserCreated], 
					[DateCreated], 
					[DateCreatedInSystem]
					)
					select
					ls.GuideSerie,
					ls.GuideNumber,
					@status,
					@token,
					GETDATE(),
					GETDATE()
					from #listaCheck1 ls
					where ls.GuideNumber in (select GuideNumber from #listaCheck1) and ls.GuideSerie = (select GuideSerie from #listaCheck1)

			update DeliveryBackOffice.dbo.DeliveryOrder set StatusOrderId = @status, TokenUpdated = @token , DateUpdated = GETDATE()
			from #listaCheck1 ls
			join DeliveryOrderDetail dod on (dod.Guide_Number = ls.GuideNumber and dod.Guide_Serie = ls.GuideSerie)
			where dod.Guide_Number in (select GuideNumber from #listaCheck1) and dod.Guide_Serie in (select GuideNumber from #listaCheck1)

			update DeliveryBackOffice.dbo.DeliveryOrderPiece  set StatusOrderId = @status, DateUpdated = GETDATE()
			from #listaCheck1 ls
			join DeliveryOrderPiece dop on (dop.GuideNumber = ls.GuideNumber and dop.GuideSerie = ls.GuideSerie)
			where dop.GuideNumber in (select GuideNumber from #listaCheck1) and dop.GuideSerie in (select GuideSerie from #listaCheck1)


	END
END