USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[get_CatTypeRoute]    Script Date: 19/03/2021 13:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-03-19>
-- Description:	<Retorna los tipos de una ruta>
-- =============================================
ALTER PROCEDURE [dbo].[get_CatTypeRoute]
AS
BEGIN
	SELECT IdTypeRoute, Name 
	FROM DeliveryBackOffice.dbo.CatTypeRoute
	WHERE RowStatus = 1


END
