USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spws_get_data_manifest_pickup]    Script Date: 22/02/2021 16:27:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<César,Aquino>
-- Create date: <2021-02-13>
-- Description:	<Devuelve datos para llenar manifiesto>
-- =============================================
ALTER PROCEDURE [dbo].[spws_get_data_manifest_pickup]
	-- Add the parameters for the stored procedure here
			@IdPickup as int = null


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	BEGIN TRY  
	-- remitente
			select spk.SchedulePickupId, isnull(spk.SenderName,' ') Sender_Name, isnull(spk.SenderPhone,' ') Sender_Phone , 
			isnull(spk.AddressPickup,' ') Sender_Address,
			isnull(vpc.ContactName,' ') Sender_FirstName, isnull(vpc.Town,' ') Sender_Town, isnull(vpc.Department,' ') Sender_Department, 
			isnull(vpc.Email,' ') Sender_Email
		from dbo.SchedulePickup spk
			left join VisitPointClient vpc on vpc.CodeOfReference = spk.SenderId
		where spk.SchedulePickupId = @IdPickup
	--- destinatario
		select spk.SchedulePickupId, isnull(spk.SenderName,' ') Receiver_Name, isnull(spk.SenderPhone,' ') Receiver_Phone , 
			isnull(spk.AddressPickup,' ') Receiver_Address,
			isnull(vpc.ContactName,' ') Receiver_FirstName, isnull(vpc.Town,' ') Receiver_Town, isnull(vpc.Department,' ') Receiver_Department, 
			isnull(vpc.Email,' ') Receiver_Email
		from dbo.SchedulePickup spk
			left join VisitPointClient vpc on vpc.CodeOfReference = spk.SenderId
		where spk.SchedulePickupId = @IdPickup
	-- transporte
		select isnull(rou.Description,' ') Route, isnull(veh.Plate,' ') Plate, isnull(veh.CodeName,' ') Vehicle,
		isnull(ras.DateOfRoute,GETDATE()) DateOfPickup, spk.SchedulePickupId IdPickup
		from dbo.SchedulePickup spk
			left join ServiceManagement smg on smg.IdSchedulePickup = spk.SchedulePickupId
			left join RouteAssigment ras on ras.IdRouteAssigment = smg.IdPuRouteAssigment
			left join CatRoute rou on rou.IdRoute = ras.IdRoute
			left join CatVehicle veh on veh.IdVehicle = ras.IdVehicle
		where spk.SchedulePickupId = @IdPickup
	-- detalle
		select   sum( isnull(ord.Pieces_Dry ,0)  ) Pieces_Dry , sum( isnull(ord.Pieces_Cold ,0)  ) Pieces_Cold ,
		(select count(*) from dbo.DeliveryOrderPaymentDetail dt where dt.IdHeaderRecolection =  spk.SchedulePickupId) GuideCount
		from dbo.SchedulePickup spk
		left join dbo.DeliveryOrderPaymentDetail pay on pay.IdHeaderRecolection = spk.SchedulePickupId
		left join dbo.DeliveryOrder ord on ord.Guide_Serie = pay.GuideSerie and ord.Guide_Number = pay.GuideNumber
		where spk.SchedulePickupId = @IdPickup  group by spk.SchedulePickupId
	-- datos de manifiesto
	select top 1 isnull(srq.Manifest_Serie,'FM') ManifestSerie, isnull(ord.Manifest_Number, 0) ManifestNumber , isnull(REPLACE( REPLACE(cus.RegexEmail,'$',''),'^',''),''  )SenderEmail 
	from dbo.SchedulePickup spk
	 left join dbo.DeliveryOrderPaymentDetail pay on pay.IdHeaderRecolection = spk.SchedulePickupId
	 left join dbo.DeliveryOrder ord on ord.Guide_Serie = pay.GuideSerie and ord.Guide_Number = pay.GuideNumber
	 left join dbo.ServiceRequest srq on srq.Manifest_Serie = ord.Manifest_Serie and srq.Manifest_Number = ord.Manifest_Number
	 left join dbo.Customer cus on cus.IdCustomer = ord.IdCustomer
		where spk.SchedulePickupId = @IdPickup
-------------- listado de piezas ----------------------------------------------------------------------------
	
	SELECT   RANK() OVER(ORDER BY pie.GuidePiece) Row#,   
		concat(
		  pay.GuideSerie, pay.GuideNumber, '-',
		  ROW_NUMBER() OVER(PARTITION BY pay.GuideNumber ORDER BY pay.GuideNumber ASC) )
			AS Pieces
	FROM dbo.SchedulePickup spk
		 left join dbo.DeliveryOrderPaymentDetail pay on pay.IdHeaderRecolection = spk.SchedulePickupId
		left join dbo.DeliveryOrderPiece pie on pie.GuideSerie = pay.GuideSerie and pie.GuideNumber = pay.GuideNumber
	where spk.SchedulePickupId = @IdPickup



			
	END TRY  
	BEGIN CATCH  
		SELECT   Cast(ERROR_NUMBER() as nvarchar) AS ErrorNumber  
				,Cast(ERROR_SEVERITY() as nvarchar) AS ErrorSeverity  
				,Cast(ERROR_STATE() as nvarchar) AS ErrorState  
				,Cast(ERROR_PROCEDURE() as nvarchar) AS ErrorProcedure  
				,Cast(ERROR_LINE() as nvarchar) AS ErrorLine  
				,Cast(ERROR_MESSAGE() as nvarchar) AS ErrorMessage;
		
	END CATCH;   

END
