USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_GetCoverageBySettlmOrRoute]    Script Date: 3/12/2021 08:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Alberto,Ixchop>
-- Create date: <2021-11-16>
-- Description:	<Devuelve una tabla con los datos de la tabla DumpServiceCoverage>
-- =============================================
ALTER PROCEDURE [dbo].[sphd_GetCoverageBySettlmOrRoute]
	@toSearch as nvarchar(50) = NULL
AS

BEGIN
		Declare @regexp NVARCHAR(55) ;
		Set @regexp = '%'+@toSearch+'%';
		SELECT Hub,IdDump as Id, RouteCode as Route,prov.ProvinceName as Province ,towns.TownshipName as Township,setl.Settlement as Settlement,Coverage,DeliveryTime,SDD,NDD,TDA 
			FROM dbo.DumpServiceCoverage cov
			INNER JOIN dbo.Settlement setl ON setl.IdSettlement=cov.IdSettlement
			INNER JOIN dbo.Township towns ON towns.IdTownship=setl.IdTownship 
			INNER JOIN dbo.Province prov ON prov.IdProvince=towns.IdProvince
			WHERE  (cov.RowStatus=1) and ((@toSearch is NULL) or (Hub like @regexp or setl.Settlement like @regexp  or setl.Settlement like @regexp  or RouteCode like @regexp ))
END


