USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SetRecolectionRequest]    Script Date: 02/07/2021 17:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hugo,Gomez>
-- Create date: <2021-02-06>
-- Description:	<Recoleccion de guias, su funcion es insertar y actualizar informacion de las tablas DeliveryOrder, DeliveryOrderPaymentDetail y SchedulePickup >
-- =============================================
ALTER PROCEDURE [dbo].[SetRecolectionRequest]
    @TblDeliveryOrdersList AS [TblDeliveryOrdersList] READONLY,
    @Iscollected BIT = true,
    @status INT = 15,
    @ShipmentCompleted BIT = true,
    @IdStatus AS INT = 15,
    @Token AS NVARCHAR(100),
    @IdAccount AS INT = NULL,
    @InstructionsCurrier AS NVARCHAR(300) = NULL,
    @PartDimensions AS INT = 1,
    @Regularpiezer AS INT = 1,
    @StartDate AS DATETIME = NULL,
    @EndDate AS DATETIME = NULL,
    @WeightEstimated AS DECIMAL(18, 2) = NULL,
    @BigPackages AS BIT = false,
    @ValidateFilter AS INT = 0

	,@latitude AS DECIMAL(18,15) = 0
	,@longitude AS DECIMAL(18,15) = 0
AS
BEGIN
    IF (@ValidateFilter = 1)
    BEGIN
        BEGIN TRANSACTION;
        BEGIN TRY

            DECLARE @jsonResult2 NVARCHAR(MAX);

            UPDATE dbo.DeliveryOrder
            SET PriceShippment = t.PriceShippment,
                StatusOrderId = @IdStatus,
                IsCollect = t.IsCollect
            FROM dbo.DeliveryOrder ord
                INNER JOIN @TblDeliveryOrdersList t
                    ON t.Guide_Number = ord.Guide_Number
                       AND t.Guide_Serie = ord.Guide_Serie;

            -- insertar checkpoint de generado.	
            --insert into dbo.DeliveryOrderDetail
            --( [Guide_Serie]
            --,[Guide_Number]
            --     ,[StatusOrderId]
            --     ,[UserCreated]
            --     ,[DateCreated]
            --     ,[DateCreatedInSystem]
            --     ,[Observations]
            --     ,[Temperature_Celsius])
            --select Guide_Serie
            --,Guide_Number
            --,@IdStatus
            --,@Token
            --,GETDATE()
            --,null
            --,null
            --,null
            --from @TblDeliveryOrdersList

            INSERT INTO dbo.DeliveryOrderPaymentDetail
            (
                [GuideNumber],
                [GuideSerie],
                [PayTypeId],
                [TypeofInOutMoneyId],
                [TimePlaId],
                [amount],
                [PaymentRecollections],
                [PaymentNow],
                [PaymentDelivery],
                [StartDate],
                [EndDate],
                [ShipmentCompleted],
                [RecollectionCompleted],
                [PaidGuide],
                [TokenCreated],
                [DateCreated],
                [TokenUpdated],
                [DateUpdated],
                [TransaccionFAC],
                [IdHeaderRecolection]
            )
            SELECT tdop.Guide_Number,
                   tdop.Guide_Serie,
                   tdop.IdTypePayment,
                   tdop.IdWayToPayment,
                   tdop.IdTimePayment,
                   tdop.AmmountToPay,
                   tdop.PaymentRecollections,
                   tdop.PaymentNow,
                   tdop.PaymentDelivery,
                   NULL,
                   NULL,
                   tdop.ShipmentCompleted,
                   tdop.RecollectionCompleted,
                   tdop.PaidGuide,
                   @Token,
                   GETDATE(),
                   NULL,
                   NULL,
                   NULL,
                   NULL
            FROM @TblDeliveryOrdersList tdop;
        END TRY
        BEGIN CATCH
            DECLARE @jsonOutput NVARCHAR(MAX);
            SET @jsonOutput =
            (
                SELECT ''
                       + STUFF(
                                  (
                                      SELECT ',{"Status":"' + ERROR_MESSAGE() + '"}' FOR XML PATH(''), TYPE
                                  ).value('.', 'varchar(max)'),
                                  1,
                                  1,
                                  ''
                              ) + ''
            );

            SELECT ('[' + @jsonOutput + ']') jsonOutput;
            ROLLBACK TRANSACTION;

        END CATCH;

        IF @@TRANCOUNT > 0
        BEGIN
            COMMIT TRANSACTION;

            DECLARE @jsonOutput1 NVARCHAR(MAX);
            SET @jsonOutput1 =
            (
                SELECT '' + STUFF(
                                     (
                                         SELECT ',{"Status":"Cambios realizados exitosamente"}'
                                         FOR XML PATH(''), TYPE
                                     ).value('.', 'varchar(max)'),
                                     1,
                                     1,
                                     ''
                                 ) + ''
            );

            SELECT ('[' + @jsonOutput1 + ']') jsonOutput1;
        END;

    END;

    IF (@ValidateFilter = 2)
    BEGIN
        BEGIN TRANSACTION;
        BEGIN TRY
            /*fecha inicio cambio 18/02/2020*/
            UPDATE dbo.DeliveryOrder
            SET PriceShippment = t.PriceShippment,
                StatusOrderId = @IdStatus,
                IsCollect = t.IsCollect
            FROM dbo.DeliveryOrder ord
                INNER JOIN @TblDeliveryOrdersList t
                    ON t.Guide_Number = ord.Guide_Number
                       AND t.Guide_Serie = ord.Guide_Serie;
            /*fecha fin 18/02/2020*/
            UPDATE dbo.DeliveryOrderPaymentDetail
            SET ShipmentCompleted = t.ShipmentCompleted,
                PayTypeId = t.IdTypePayment,
                TypeofInOutMoneyId = t.IdWayToPayment,
                TimePlaId = t.IdTimePayment
            FROM dbo.DeliveryOrderPaymentDetail pay
                INNER JOIN @TblDeliveryOrdersList t
                    ON (
                           t.Guide_Number = pay.GuideNumber
                           AND t.Guide_Serie = pay.GuideSerie
                       );
        END TRY
        BEGIN CATCH
            DECLARE @jsonOutput2 NVARCHAR(MAX);
            SET @jsonOutput =
            (
                SELECT ''
                       + STUFF(
                                  (
                                      SELECT ',{"Status":"' + ERROR_MESSAGE() + '"}' FOR XML PATH(''), TYPE
                                  ).value('.', 'varchar(max)'),
                                  1,
                                  1,
                                  ''
                              ) + ''
            );

            SELECT ('[' + @jsonOutput2 + ']') jsonOutput2;
            ROLLBACK TRANSACTION;

        END CATCH;

        IF @@TRANCOUNT > 0
        BEGIN
            COMMIT TRANSACTION;

            DECLARE @jsonOutput3 NVARCHAR(MAX);
            SET @jsonOutput3 =
            (
                SELECT '' + STUFF(
                                     (
                                         SELECT ',{"Status":"Cambios actualizados exitosamente"}'
                                         FOR XML PATH(''), TYPE
                                     ).value('.', 'varchar(max)'),
                                     1,
                                     1,
                                     ''
                                 ) + ''
            );

            SELECT ('[' + @jsonOutput3 + ']') jsonOutput3;
        END;

    END;

    IF (@ValidateFilter = 3)
    BEGIN
        BEGIN TRANSACTION;
        BEGIN TRY

            IF OBJECT_ID('tempdb.dbo.#Sender', 'U') IS NOT NULL
                DROP TABLE #Sender;
				DECLARE @day NVARCHAR(20) = (CONVERT(VARCHAR(20),GETDATE(),23))
				DECLARE @startday NVARCHAR(20) = (CONVERT(VARCHAR(20), @StartDate, 23))

				DECLARE @validate INT = (DATEDIFF(day, @day, @startday));

            IF (@validate >= 0)
            BEGIN

                SELECT [Sender_ID],
                       [SenderName],
                       [Sender_Phone],
                       [Hub],
                       AmountPickup,
                       AddressPickup,
                       Number,
                       Serie
                INTO #Sender
                FROM
                (
                    SELECT TOP 1
                           Sender_ID,
                           CONCAT(Sender_FirstName, Sender_LastName) AS SenderName,
                           ord.Guide_Number AS Number,
                           ord.Guide_Serie AS Serie,
                           Sender_Phone,
                           thb.IdHublogistic AS Hub,
                           (SUM(dop.PaymentRecollections) + SUM(dop.RecolectPayment)) AS AmountPickup,
                           Sender_Address AS AddressPickup
                    FROM DeliveryOrder ord
                        INNER JOIN TownshipByHubLogistic thb
                            ON (ord.SenderIdTownship = thb.IdTownship)
                        INNER JOIN DeliveryOrderPaymentDetail dop
                            ON (
                                   dop.GuideNumber = ord.Guide_Number
                                   AND dop.GuideSerie = ord.Guide_Serie
                               )
                        INNER JOIN @TblDeliveryOrdersList t
                            ON (
                                   t.Guide_Number = dop.GuideNumber
                                   AND t.Guide_Serie = dop.GuideSerie
                               )
                    WHERE ord.Guide_Number IN ( t.Guide_Number )
                    GROUP BY Sender_ID,
                             Sender_Phone,
                             ord.Guide_Number,
                             ord.Guide_Serie,
                             thb.IdHublogistic,
                             Sender_Address,
                             Sender_FirstName,
                             Sender_LastName
                ) AS table1;


                --declare @SenderId int  = (select top 1 Sender_ID  from DeliveryOrder ord
                --				inner join TownshipByHubLogistic thb on (ord.SenderIdTownship = thb.IdTownship)
                --				inner join DeliveryOrderPaymentDetail dop on (dop.GuideNumber = ord.Guide_Number and dop.GuideSerie = ord.Guide_Serie)
                --				 inner join @TblDeliveryOrdersList t  on (t.Guide_Number = dop.GuideNumber and t.Guide_Serie = dop.GuideSerie) 
                --				where ord.Guide_Number in (t.Guide_Number))

                --declare @SenderName varchar (50)  = (select top 1  concat(Sender_FirstName, Sender_LastName) as SenderName  from DeliveryOrder ord
                --				inner join TownshipByHubLogistic thb on (ord.SenderIdTownship = thb.IdTownship)
                --				inner join DeliveryOrderPaymentDetail dop on (dop.GuideNumber = ord.Guide_Number and dop.GuideSerie = ord.Guide_Serie)
                --				 inner join @TblDeliveryOrdersList t   on (t.Guide_Number = dop.GuideNumber and t.Guide_Serie = dop.GuideSerie) 
                --				where ord.Guide_Number in (t.Guide_Number))

                --declare @Sender_Phone varchar (20)  = (select top 1  Sender_Phone from DeliveryOrder ord
                --				inner join TownshipByHubLogistic thb on (ord.SenderIdTownship = thb.IdTownship)
                --				inner join DeliveryOrderPaymentDetail dop on (dop.GuideNumber = ord.Guide_Number and dop.GuideSerie = ord.Guide_Serie)
                --				 inner join @TblDeliveryOrdersList t   on (t.Guide_Number = dop.GuideNumber and t.Guide_Serie = dop.GuideSerie) 
                --				where ord.Guide_Number in (t.Guide_Number))


                --declare @IdHublogistic int  = (select top 1  thb.IdHublogistic from DeliveryOrder ord
                --				inner join TownshipByHubLogistic thb on (ord.SenderIdTownship = thb.IdTownship)
                --				inner join DeliveryOrderPaymentDetail dop on (dop.GuideNumber = ord.Guide_Number and dop.GuideSerie = ord.Guide_Serie)
                --				 inner join @TblDeliveryOrdersList t   on (t.Guide_Number = dop.GuideNumber and t.Guide_Serie = dop.GuideSerie) 
                --				where ord.Guide_Number in (t.Guide_Number))


                --declare @AmountPickup decimal (18,2)  = (select top 1  (sum (dop.PaymentRecollections) + sum (dop.RecolectPayment)) as AmountPickup from DeliveryOrder ord
                --				inner join TownshipByHubLogistic thb on (ord.SenderIdTownship = thb.IdTownship)
                --				inner join DeliveryOrderPaymentDetail dop on (dop.GuideNumber = ord.Guide_Number and dop.GuideSerie = ord.Guide_Serie)
                --				 inner join @TblDeliveryOrdersList t  on (t.Guide_Number = dop.GuideNumber and t.Guide_Serie = dop.GuideSerie) 
                --				where ord.Guide_Number in (t.Guide_Number))

                --declare @Sender_Address varchar (200)  = (select top 1  Sender_Address from DeliveryOrder ord
                --			inner join TownshipByHubLogistic thb on (ord.SenderIdTownship = thb.IdTownship)
                --			inner join DeliveryOrderPaymentDetail dop on (dop.GuideNumber = ord.Guide_Number and dop.GuideSerie = ord.Guide_Serie)
                --			 inner join @TblDeliveryOrdersList t  on (t.Guide_Number = dop.GuideNumber and t.Guide_Serie = dop.GuideSerie) 
                --			where ord.Guide_Number in (t.Guide_Number))



                INSERT INTO dbo.SchedulePickup
                (
                    AccountId,
                    StartDate,
                    EndDate,
                    EstimatedWeight,
                    IsLargePackage,
                    QuantityRegularPackages,
                    QuantityOverDimensionedPackage,
                    SpecialInstructions,
                    RowStatus,
                    TokenCreated,
                    DateCreated,
                    TokenUpdated,
                    DateUpdated,
                    SenderId,
                    SenderName,
                    SenderPhone,
                    IdHubLogistics,
                    AmountPickup,
                    IdSourcePlataform,
                    AddressPickup,
					SenderLatitud,
					SenderLongitud
                )
                SELECT @IdAccount,
                       @StartDate,
                       @EndDate,
                       @WeightEstimated,
                       @BigPackages,
                       @Regularpiezer,
                       @PartDimensions,
                       @InstructionsCurrier,
                       1,
                       @Token,
                       GETDATE(),
                       NULL,
                       NULL,
                       sd.Sender_ID,
                       sd.SenderName,
                       sd.Sender_Phone,
                       sd.Hub,
                       NULL,
                       NULL,
                       sd.AddressPickup,
					   @latitude,
					   @longitude 
                FROM #Sender sd;

                DECLARE @transaction INT = SCOPE_IDENTITY();

                ---	 insertar checkpoint de Solicitado.	
                INSERT INTO dbo.DeliveryOrderDetail
                (
                    [Guide_Serie],
                    [Guide_Number],
                    [StatusOrderId],
                    [UserCreated],
                    [DateCreated],
                    [DateCreatedInSystem],
                    [Observations],
                    [Temperature_Celsius]
                )
                SELECT Guide_Serie,
                       Guide_Number,
                       1,
                       @Token,
                       GETDATE(),
                       NULL,
                       NULL,
                       NULL
                FROM @TblDeliveryOrdersList;

                -------------------------------------------------------------------

                UPDATE dbo.DeliveryOrder
                SET StatusOrderId = @IdStatus
                FROM dbo.DeliveryOrder ord
                    INNER JOIN @TblDeliveryOrdersList t
                        ON t.Guide_Number = ord.Guide_Number
                           AND t.Guide_Serie = ord.Guide_Serie;

                --------------------------------------------------------------------




                UPDATE dbo.DeliveryOrderPaymentDetail
                SET IdHeaderRecolection = @transaction,
                    StartDate = @StartDate,
                    EndDate = @EndDate
                FROM dbo.DeliveryOrderPaymentDetail pay
                    INNER JOIN @TblDeliveryOrdersList t
                        ON (
                               t.Guide_Number = pay.GuideNumber
                               AND t.Guide_Serie = pay.GuideSerie
                           );


            END;

			ELSE	
			BEGIN
				  DECLARE @jsonOutput99 NVARCHAR(MAX);
				SET @jsonOutput99 =
						(
					    SELECT '' + STUFF(
					                         (
					                             SELECT ',{"Status":"No se puede realizar una solicitud de recolección con fecha anterior a la presente"}'
					                             FOR XML PATH(''), TYPE
					                         ).value('.', 'varchar(max)'),
					                         1,
					                         1,
					                         ''
					                     ) + ''
						);

				   SELECT ('[' + @jsonOutput99 + ']') jsonOutput99;
			END	

            DROP TABLE #Sender;

        END TRY
        BEGIN CATCH
            DECLARE @jsonOutput4 NVARCHAR(MAX);
            SET @jsonOutput4 =
            (
                SELECT ''
                       + STUFF(
                                  (
                                      SELECT ',{"Status":"' + ERROR_MESSAGE() + '"}' FOR XML PATH(''), TYPE
                                  ).value('.', 'varchar(max)'),
                                  1,
                                  1,
                                  ''
                              ) + ''
            );

            SELECT ('[' + @jsonOutput4 + ']') jsonOutput4;
            ROLLBACK TRANSACTION;

        END CATCH;

        IF @@TRANCOUNT > 0
        BEGIN
            COMMIT TRANSACTION;

            DECLARE @jsonOutput5 NVARCHAR(MAX);
            SET @jsonOutput5 =
            (
                SELECT '' + STUFF(
                                     (
                                         SELECT ',{"Status":"Agrupación realizada exitosamente"}'
                                         FOR XML PATH(''), TYPE
                                     ).value('.', 'varchar(max)'),
                                     1,
                                     1,
                                     ''
                                 ) + ''
            );

            SELECT ('[' + @jsonOutput5 + ']') jsonOutput5;
        END;

    END;

    IF (@ValidateFilter = 4)
    BEGIN
        BEGIN TRANSACTION;
        BEGIN TRY

            UPDATE dbo.DeliveryOrderPaymentDetail
            SET ShipmentCompleted = t.ShipmentCompleted,
                RecollectionCompleted = t.RecollectionCompleted,
                PaidGuide = t.PaidGuide
            FROM dbo.DeliveryOrderPaymentDetail pay
                INNER JOIN @TblDeliveryOrdersList t
                    ON (
                           t.Guide_Number = pay.GuideNumber
                           AND t.Guide_Serie = pay.GuideSerie
                       );

        --update dbo.DeliveryOrder 
        --set  StatusOrderId = @IdStatus   
        --from dbo.DeliveryOrder ord
        --inner join @TblDeliveryOrdersList t on t.Guide_Number = ord.Guide_Number and t.Guide_Serie = ord.Guide_Serie


        --		---	 insertar checkpoint de generado.	
        --insert into dbo.DeliveryOrderDetail
        --( [Guide_Serie]
        --,[Guide_Number]
        --  ,[StatusOrderId]
        --  ,[UserCreated]
        --  ,[DateCreated]
        --  ,[DateCreatedInSystem]
        --  ,[Observations]
        --  ,[Temperature_Celsius])
        --select Guide_Serie
        --,Guide_Number
        --,@IdStatus
        --,@Token
        --,GETDATE()
        --,null
        --,null
        --,null
        --from @TblDeliveryOrdersList



        END TRY
        BEGIN CATCH
            DECLARE @jsonOutput6 NVARCHAR(MAX);
            SET @jsonOutput =
            (
                SELECT ''
                       + STUFF(
                                  (
                                      SELECT ',{"Status":"' + ERROR_MESSAGE() + '"}' FOR XML PATH(''), TYPE
                                  ).value('.', 'varchar(max)'),
                                  1,
                                  1,
                                  ''
                              ) + ''
            );

            SELECT ('[' + @jsonOutput2 + ']') jsonOutput2;
            ROLLBACK TRANSACTION;

        END CATCH;

        IF @@TRANCOUNT > 0
        BEGIN
            COMMIT TRANSACTION;

            DECLARE @jsonOutput7 NVARCHAR(MAX);
            SET @jsonOutput7 =
            (
                SELECT '' + STUFF(
                                     (
                                         SELECT ',{"Status":"Cambios actualizados exitosamente"}'
                                         FOR XML PATH(''), TYPE
                                     ).value('.', 'varchar(max)'),
                                     1,
                                     1,
                                     ''
                                 ) + ''
            );

            SELECT ('[' + @jsonOutput5 + ']') jsonOutput5;
        END;

    END;

END;
