USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_get_RoutePreparation]    Script Date: 09/10/2020 3:16:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Bidcar, Herrera>
-- Create date: <2020-05-27>
-- Description:	<Devuelve información para preparación de ruta>
-- =============================================
ALTER PROCEDURE [dbo].[spg_get_RoutePreparation]

		@Token AS VARCHAR(50)    = 'ad1a2328ed27ea99622f68deae5d9976',
		@Rol AS BIGINT 			 =  1,
		@Zone AS VARCHAR(100) = '24',
		@Department AS VARCHAR(100) = '',
		@Town AS VARCHAR(100) ='',
		@Manifest AS VARCHAR(50) = '',
		@DateSettlement AS VARCHAR(50) = '',
		@HideOrigin BIT = 0, -- status 6
		@HideForza BIT = 0, -- status 8
		@Guide AS VARCHAR(50) = ''
AS
BEGIN

	declare @Guias as table(Guide nvarchar(150),	
							Name nvarchar(300),	
							Address nvarchar(300),	
							Zone nvarchar(150),	
							Town nvarchar(150),	
							Department	nvarchar(150),
							DateSettlement	datetime,
							Receiver_Alternant_Address	nvarchar(200),
							Delivery_Max_Date	datetime,
							Courier_Route	nvarchar(150),
							Courier_Name	nvarchar(200),
							Dispatched_Date	datetime,
							Manifest_Number	nvarchar(150),
							Date_Created	datetime,
							Sender_Fullname	nvarchar(200),
							Ticket_Number	nvarchar(150),
							Pieces_Dry	int,
							Pieces_Cold	int,
							Status_Order_Id	nvarchar(150),
							Receiver_Phone	nvarchar(150),
							Package_Type	nvarchar(150),
							Rack_Position varchar(150))

		insert into @Guias
		SELECT  			 
			serv.Guide_Serie +  CAST(serv.Guide_Number AS VARCHAR) Guide,
			--(CASE 
			--	WHEN mat.MSM_ValueRegistrationForm IS NULL 
			--		THEN 0
			--		ELSE 1 
			--END) HandHeld,
			serv.Receiver_FirstName + ' '+ serv.Receiver_LastName 'Name',
			serv.Receiver_Address 'Address',
			serv.Receiver_Zone 'Zone',
			serv.Receiver_Town Town,
			serv.Receiver_Department Department,
			'' DateSettlement,
			serv.Receiver_Alternant_Address,
			serv.Delivery_Max_Date Delivery_Max_Date,
			serv.Courier_Route Courier_Route,
			serv.Courier_Name Courier_Name,
			serv.Dispatched_Date Dispatched_Date,
			serv.Manifest_Serie + CAST(serv.Manifest_Number AS VARCHAR) as Manifest_Number,
			serv.DateCreated as Date_Created,
			serv.Sender_FirstName + ' ' + serv.Sender_LastName as Sender_Fullname,
			serv.Ticket_Number as Ticket_Number,
			serv.Pieces_Dry as Pieces_Dry,
			serv.Pieces_Cold as Pieces_Cold,
			--(CASE serv.printedStatus WHEN 0 THEN 'Pendiente' WHEN 1 THEN 'Impreso' WHEN 2 THEN 'Reimpreso' END) as Printed_Status,
			(SELECT so.OrderDescription FROM StatusOrder so WHERE so.StatusOrderId = serv.StatusOrderId) as Status_Order_Id,
			serv.Receiver_Phone as Receiver_Phone,
			(SELECT p.Package_Name FROM Package p WHERE p.Package_Type = serv.Package_Type) as Package_Type,
			--serv.Rack_Position as Rack_Position
			(SELECT DeliveryBackOffice.dbo.fn_get_rackposition(serv.Guide_Serie, serv.Guide_Number)) as Rack_Position
		FROM DeliveryBackOffice.DBO.DeliveryOrder serv WITH (NOLOCK)
		--LEFT JOIN DenariusCorporate_Dev.dbo.LGT_Master_Service_Material mat WITH(NOLOCK) on mat.MSM_ValueRegistrationForm = @Manifest and mat.MSM_MaterialCode = Guide_Serie +  CAST(Guide_Number AS VARCHAR)
		JOIN DeliveryBackOffice.dbo.StatusOrder sta ON sta.StatusOrderId = serv.StatusOrderId
		--LEFT JOIN DeliveryBackOffice.dbo.DeliveryOrderBySettlement BySt WITH(nolock) ON serv.Guide_Serie = bySt.Guide_Serie and serv.Guide_Number = bySt.Guide_Number
		WHERE 
		serv.StatusOrderId <> 7 AND -- ocultar los servicios anulados
		serv.StatusOrderId <> 5 AND -- ocultar los servicios entregados
		serv.Manifest_Number <> 999 AND -- ocultar primer servicio (semilla)
		( -- ocultar las guías que tengan en su historia retornado al origen
			@HideOrigin = 0
			OR
			serv.Guide_Number NOT IN (
				SELECT distinct [Guide_Number] FROM [DeliveryBackOffice].[dbo].[DeliveryOrderDetail] where StatusOrderId = 6
			)
		) AND
		( -- ocultar las guías que tengan en su historia retornado a Forza
			@HideForza = 0
			OR
			serv.Guide_Number NOT IN (
				SELECT distinct [Guide_Number] FROM [DeliveryBackOffice].[dbo].[DeliveryOrderDetail] where StatusOrderId = 8
			)
		) AND
		--serv.StatusOrderId IN (1,8,10) AND -- mostrar solo servicios Solicitados, Retornados a Forza y En Inventario
		--serv.Manifest_Number <> 1000 AND -- ocultar servicios en blanco de sosep
		(@Zone = '' OR Receiver_Zone = @Zone)  AND
		(@Department = '' OR Receiver_Department = @Department ) AND
		(@Town = '' OR Receiver_Town = @Town) AND
		
		--(@Department = '' OR Receiver_Department LIKE '%' + @Department + '%') AND
		--(@Town = '' OR Receiver_Town LIKE '%' + @Town + '%' ) AND
		(
		 @Manifest = '' OR 
		  (
		  Manifest_Serie +  CAST(Manifest_Number AS VARCHAR) = @Manifest		   
		  )
		 )  
		

		 declare @CleanData as table(_number nvarchar(50), _name nvarchar(300), _phone nvarchar(50))
		  insert into @CleanData
		  select 
			dc.Guide,
			dc.Name,
			ltrim(rtrim(sp.items ))
		  from @Guias dc outer apply DeliveryBackOffice.dbo.Splits(replace(replace(replace(replace(replace(replace(replace(ltrim(rtrim(dc.Receiver_Phone)),'''','||'),'"','||'),' ','||'),'/','||'),';','||'),',','||'),'-',(case when CHARINDEX('-', LTRIM(RTRIM(dc.Receiver_Phone)))>8 then'||'else ''end)),'||') sp


		 declare @completed as table(guide_number nvarchar(50), namereceiver nvarchar(300), phonereceiver nvarchar(50), sms_message nvarchar(300))
		  insert into @completed
		  select 
			c._number,
			c._name,
			c._phone,
			r.SMS_Message
		  from @CleanData c
		  left join DeliveryBackOffice.dbo.SMS_Received r with(nolock)
		  --on c._phone=right(r.SMS_MSisdn,8)
		  on CONCAT('502',c._phone) collate SQL_Latin1_General_CP1_CI_AS = r.SMS_MSisdn collate SQL_Latin1_General_CP1_CI_AS
		  --where 1=1
		  GROUP BY c._number,
				   c._name,
				   c._phone,
				   r.SMS_Message

		 --select distinct c.guide_number, 
			--	c.namereceiver, 
			--	c.phonereceiver, 
			--	c.sms_message
		 --from @completed c

		 declare @JointTable as table(Guide_Number nvarchar(150), Receiver_Name nvarchar(250), Alter_Address nvarchar(500))
		 insert into @JointTable
		 select distinct c.guide_number, 
				c.namereceiver, 
				--c.phonereceiver, 
				--c.sms_message,
				STUFF(( SELECT  '| ' + CAST(B.sms_message AS VARCHAR(50))  +' '
							FROM    @completed B
							WHERE   B.guide_number = c.guide_number
						  FOR
							XML PATH('')
						  ), 1, 1, '') AS 'AltAddress'
		 from @completed c
		--(@DateSettlement = NULL OR Receiver_Zone = @DateSettlement) AND PENDIENTE
		select g.Guide ,	
			g.Name ,	
			g.Address ,	
			g.Zone ,	
			g.Town ,	
			g.Department	,
			g.DateSettlement	,
			g.Receiver_Alternant_Address	,
			jt.Alter_Address,
			g.Delivery_Max_Date	,
			g.Courier_Route	,
			g.Courier_Name	,
			g.Dispatched_Date	,
			g.Manifest_Number	,
			g.Date_Created	,
			g.Sender_Fullname	,
			g.Ticket_Number	,
			g.Pieces_Dry	,
			g.Pieces_Cold	,
			g.Status_Order_Id	,
			g.Receiver_Phone	,
			g.Package_Type	,
			g.Rack_Position 
		from @Guias g
		left join @JointTable jt
		on g.Guide=jt.Guide_Number
		
		--select jt.Guide_Number, jt.Receiver_Name, jt.Alter_Address
		--from @JointTable jt
		select distinct c.guide_number, 
				c.namereceiver, 
				c.phonereceiver, 
				c.sms_message
		 from @completed c

		 SELECT * FROM historic_updateaddress
		

END

