USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spws_create_account]    Script Date: 14/01/2021 12:33:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<César,Aquino>
-- Create date: <2020-12-30>
-- Description:	<Login Portal Web>
-- =============================================


ALTER PROCEDURE [dbo].[spws_create_account]
	-- Add the parameters for the stored procedure here
	@FirstName VARCHAR(200),
	@LastName  VARCHAR(200) ,
	@Gender  VARCHAR(200),
	@Birthdate  DATE,
	@Identification  VARCHAR(200),
	@Nationality  VARCHAR(200),
	@Email  VARCHAR(200),
	@Password  VARCHAR(200),
	@NickName VARCHAR(200),
	@Language  VARCHAR(2) = 'ES', -- ESPAÑOL
	@DeviceType VARCHAR(200),
	@Currency VARCHAR(10),
	@IdSystem INT = 1
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @jsonResult NVARCHAR(MAX) 
	DECLARE @IdCustomer as INT      

		-- insertar en tabla temporal posbibles mensajes de error

		IF OBJECT_ID('tempdb.dbo.#errormessage', 'U') IS NOT NULL DROP TABLE #errormessage;
			select * INTO #errormessage from (SELECT  500 AS IdResult
					,'Este correo ya fue registrado anteriormente' AS Message
					,'Exist' as Id 
			union
			SELECT  500 AS IdResult
					,'Error falta intente de nuevo mas tarde' AS Message
					,'Transaction' as Id 
			union
			SELECT  200 AS IdResult
					,'Cuenta creada correctamente' AS Message
					,'Ok' as Id )  as errror

		-- validar que el correo no exite

		if (select count(*) from RegisterUser usr where usr.UsrEmail = @Email) =0  -- no existe usuario, por lo tanto lo crea
			begin
				
				BEGIN TRANSACTION
				BEGIN TRY
				-- insertar registro en la tabla persona
					insert into DeliveryBackOffice.dbo.Person  
					(PerFirstName
					,PerLastName
					,PerGender
					,PerBirthdate
					,PerIdentification
					,PerNationality
					,PerRowStatus
					,PerTokenCreated
					,PerDateCreated)
					Values(@FirstName,@LastName, @Gender,@Birthdate,@Identification, @Nationality, 1,'SYS-ADMIN',GETDATE())
					
					DECLARE @IdPerson as bigint =  SCOPE_IDENTITY();

				-- 90 dias para cambio de contraseña
					declare @ExpirationDate as date = (SELECT DATEADD(DAY,90,GETDATE()));

				-- insertar registro en tabla RegisterUser 
					
					Insert into  DeliveryBackOffice.dbo.RegisterUser  
						(UsrIdPerson
						,UsrNickName
						,UsrEmail
						,UsrAvatar
						,UsrLastPassword
						,UsrPasswordExpiration
						,UsrLang
						,UsrDeviceType
						,UsrCurrency
						,UsrEnable2FA
						,UsrRestrictionAddressIp
						,UsrRowStatus
						,UsrTokenCreated
						,UsrDateCreated
						)
					Values(@IdPerson, @NickName,@Email,null,@Password,@ExpirationDate,@Language,@DeviceType,@Currency,null,null, 1,'SYS-ADMIN',GETDATE())
					DECLARE @IdUser as bigint =  SCOPE_IDENTITY();


				--- Insertar tupla de restricciones
					insert into DeliveryBackOffice.dbo.UserSystemRestriction  
						(UstIdUser
						,UstIdSystem
						,UstAccessRetries -- 10 intentos por default
						,UstRetries      -- inicia el contador en 0
						,UstStatus		--- Insertar siempre como ACTIVE
						,UstRowStatus
						,UstTokenCreated
						,UstDateCreated
						,UstOperationDate)
					values (@IdUser,@IdSystem,10,0,'ACTIVE', 1,'SYS-ADMIN',GETDATE(),GETDATE())

				-- CREAR CUSTOMER					
					INSERT INTO [dbo].[Customer]
					   ([Name]
					   ,[Description]
					   ,[Domain]
					   ,[RegexSubject]
					   ,[RegexEmail]
					   ,[RegexFilename]
					   ,[Abbreviation]
					   ,[IdCustomerType]
					   ,[COD])
				    VALUES
					   (
					     CAST((@FirstName + ' ' + @LastName) AS NVARCHAR(200))
						,CAST((@FirstName + ' ' + @LastName) AS NVARCHAR(200))
						,SUBSTRING (@Email, CHARINDEX( '@', @Email ), LEN(@Email)  ) 
						,'^.*solicitud.*$'
						,CAST(('^' + @Email + '$') AS NVARCHAR(200))
						,'^envios_.*\.xls$'
						,CAST((@FirstName + ' ' + @LastName) AS NVARCHAR(200))
						,NULL
						,NULL
					   )
					    SET @IdCustomer =  SCOPE_IDENTITY();

				-- CREAR CUENTA
					-- Tipo de cuenta individual
					DECLARE @TypeAccounnt as int =(SELECT tac.TacIdTypeAccount FROM  DeliveryBackOffice.dbo.CatTypeAccount tac where tac.TacShortName = 'IND')

					INSERT INTO [dbo].[Account]
					   ([AccName]
					   ,[AccIdTypeAccount]
					   ,[AccRowStatus]
					   ,[AccTokenCreated]
					   ,[AccDateCreated]
					   ,[AccTokenUpdated]
					   ,[AccDateUpdated]
					   ,[IdCustomer])
					 VALUES(concat('Envíos de ',@FirstName),@TypeAccounnt,1,'SYS-ADMIN',GETDATE(),NULL,NULL,@IdCustomer)

					 DECLARE @IdAccount as bigint =  SCOPE_IDENTITY();
				---- Asignar rol por cuenta
					-- rol estadar
					DECLARE @IdRol as int =(select rol.RolIdRol from dbo.CatRol rol where rol.RolIdSystem =@IdSystem and rol.RolName = 'Estandar')

					insert into DeliveryBackOffice.dbo.RolByUserByAccount  
						(RuaIdRol,
						RuaIdUser
						,RuaIdAccount
						,RuaRowStatus
						,RuaTokenCreated
						,RuaDateCreated)
					values (@IdRol,@IdUser,@IdAccount,1,'SYS-ADMIN',GETDATE())


				---- Asignar rol por systema
					insert into DeliveryBackOffice.dbo.RolByUserBySystem  
						(RusIdRol
						,RusIdSystem
						,RusIdUser
						,RusRowStatus
						,RusTokenCreated
						,RusDateCreated)
					values (@IdRol,@IdSystem,@IdUser,1,'SYS-CAQUINO',GETDATE())
					
				
				END TRY
				BEGIN CATCH
				
					set @jsonResult =(
					SELECT STUFF(( 
					SELECT '{"IdResult":' + convert(varchar,IdResult)    +',' 
					+ '"Message":"' + Message + '"}' from #errormessage where Id ='Transaction'
		
					FOR XML PATH(''), TYPE
					).value('.', 'varchar(max)'),1,1,''
						  ) 
					)
					ROLLBACK TRANSACTION
				END CATCH;
				IF @@TRANCOUNT > 0 BEGIN
					COMMIT TRANSACTION;
					set @jsonResult =(
					SELECT STUFF(( 
					SELECT '{"IdResult":' + convert(varchar,IdResult)    +',' 
					+ '"Message":"' + Message + '"}' from #errormessage where Id ='Ok'
		
					FOR XML PATH(''), TYPE
					).value('.', 'varchar(max)'),1,1,''
						  ) 
					)
				END

				
			end
			else -- el usuario ya esta registrado
			begin
				set @jsonResult =(
					SELECT STUFF(( 
					SELECT '{"IdResult":' + convert(varchar,IdResult)    +',' 
					+ '"Message":"' + Message + '"}' from #errormessage where Id ='Exist'
		
					FOR XML PATH(''), TYPE
					).value('.', 'varchar(max)'),1,1,''
						  ) 
					)

			end

		-- destruir tablas temporales

		IF OBJECT_ID('tempdb.dbo.#errormessage', 'U') IS NOT NULL DROP TABLE #errormessage;

		-- retornar resultado en formato json

				select ('[{' + @jsonResult +  ']') jsonResult

END



