USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetInfoFAC]    Script Date: 19/03/2021 12:24:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetInfoFAC] @Type VARCHAR(100) = 'GetResponseFAC',
@OrderNumber VARCHAR(100) = NULL, --Guide
@AccountId INT = 0
AS
BEGIN
	DECLARE @jsonResult NVARCHAR(MAX)
	DECLARE @CountRows INT = 0
	DECLARE @CostCount INT = 0
	DECLARE @Guia VARCHAR(500)
	DECLARE @IdCost BIGINT
	DECLARE @Amount DECIMAL(18, 2)
	DECLARE @Token VARCHAR(500)
	DECLARE @CostDetailCount INT = 0
	DECLARE @TransactionAmount DECIMAL(18, 2) = 0
	DECLARE @TransactionTokenUpdated VARCHAR(500) = NULL
	DECLARE @IdProduct INT = 0
	DECLARE @TransactionTokeCreated VARCHAR(500) = NULL
	DECLARE @IdBreakdownOfPayment INT = 0
	DECLARE @AmountPickup INT = 0
	DECLARE @IdHeaderRecolection INT = 0

	IF (@Type = 'GetResponseFAC')
	BEGIN

		SET @CountRows = (SELECT
				COUNT(1)
			FROM CreditCardTransactionByCustomer
			WHERE OrderNumber = @OrderNumber
			AND RowStatus = 1);

		IF (@CountRows > 0)
		BEGIN

			SET @jsonResult = (SELECT
					STUFF((SELECT
							',{"CustomerReference":"' + CONVERT(VARCHAR, CustomerReference) + '",' +
							'"ReferenceNumber":"' + CONVERT(VARCHAR, ReferenceNumber) + '",' +
							'"ReasonCode":"' + CONVERT(VARCHAR, ReasonCode) + '",' +
							'"ReasonDescription":"' + CONVERT(VARCHAR, ReasonDescription) + '",' +
							'"StatusSend":"' + CONVERT(VARCHAR, StatusSend) + '"' +
							'}'
						FROM DeliveryBackOffice.dbo.CreditCardTransactionByCustomer
						WHERE
						--StatusSend = 1
						--and 
						OrderNumber = @OrderNumber
						--and CustomerReference = @AccountId
						AND RowStatus = 1
						FOR XML PATH (''), TYPE)
					.value('.', 'varchar(max)'), 1, 1, ''
					))

			--=====================DETALLE_PAGOS.INI======================

			SELECT
				@TransactionAmount = Ammount
			   ,@TransactionTokenUpdated = TokenUpdated
			   ,@TransactionTokeCreated = TokenCreated
			FROM DeliveryBackOffice.dbo.CreditCardTransactionByCustomer
			WHERE OrderNumber = @OrderNumber

			IF (SUBSTRING(@OrderNumber, 1, 2) = 'HR')
			BEGIN
				SET @IdProduct = 2
				SET @Guia = (SELECT TOP 1
						ISNULL(CONCAT(SerieNumber, CAST(ProductNumber AS VARCHAR)), '')
					FROM DeliveryBackOffice.dbo.CreditCardTransactionByCustomerDetail
					WHERE OrderNumber = @OrderNumber)
			


			END
			ELSE
			BEGIN
				SET @IdProduct = 1
				SET @Guia = @OrderNumber
			END

			SELECT
				@CostCount = COUNT(1)
			   ,@IdCost = c.IdCost
			   ,@Amount = c.TotalAmount
			   ,@Token = c.TokenCreated
			FROM Cost c
			WHERE c.ProductNumber = @Guia
			GROUP BY IdCost
					,TotalAmount
					,TokenCreated

			IF (@CostCount > 0
				AND @IdProduct = 1)
			BEGIN
				UPDATE Cost
				SET TotalAmount = @TransactionAmount
				   ,TokenUpdated = @TransactionTokenUpdated
				WHERE ProductNumber = @Guia

			END
			ELSE
			IF (@CostCount = 0
				AND @IdProduct = 1)
			BEGIN

				INSERT INTO [dbo].[Cost] ([IdProduct]
				, [ProductNumber]
				, [IdTypeCharge]
				, [TotalAmount]
				, [PaymentDate]
				, [IdModule]
				, [RowStatus]
				, [TokenCreated]
				, [DateCreated]
				, [TokenUpdated]
				, [DateUpdated]
				, [TotalAmountPaid])
					VALUES (@IdProduct, @Guia, @IdProduct, @TransactionAmount, GETDATE(), 7, 1, @TransactionTokeCreated, GETDATE(), NULL, NULL, NULL)


			END
			ELSE
			IF (@CostCount > 0
				AND @IdProduct = 2)
			BEGIN
				UPDATE Cost
				SET IdProduct = @IdProduct
				   ,IdModule = 9
				   ,IdTypeCharge = @IdProduct
				   ,TotalAmount = @TransactionAmount
				   ,TokenUpdated = @TransactionTokenUpdated
				   ,DateUpdated = GETDATE()
				   ,TotalAmountPaid = @TransactionAmount
				WHERE ProductNumber = @Guia
			END



			SET @CostDetailCount = (SELECT
					COUNT(1)
				FROM DeliveryBackOffice.dbo.CostDetail
				WHERE Voucher = @OrderNumber)

			IF (@CostDetailCount > 0
				AND @IdProduct = 1)
			BEGIN
				UPDATE CostDetail
				SET Amount = @TransactionAmount
				   ,Voucher = @OrderNumber
				   ,TokenUpdated = @TransactionTokenUpdated
				   ,DateUpdated = GETDATE()
				WHERE Voucher = @OrderNumber

			END
			ELSE
			IF (@CostDetailCount = 0
				AND @IdProduct = 1)
			BEGIN

				INSERT INTO CostDetail (IdCost, IdTypeOfMoney, Amount, Voucher, RowStatus, TokenCreated, DateCreated, TokenUpdated, DateUpdated)
					VALUES (@IdCost, 2, @TransactionAmount, @OrderNumber, 1, @TransactionTokeCreated, GETDATE(), NULL, NULL);
			END
			ELSE
			IF (@CostDetailCount > 0
				AND @IdProduct = 2)
			BEGIN
				UPDATE CostDetail
				SET Amount = @TransactionAmount
				   ,Voucher = @OrderNumber
				   ,TokenUpdated = @TransactionTokenUpdated
				   ,DateUpdated = GETDATE()
				WHERE Voucher = @OrderNumber
			END
			ELSE
			IF (@CostDetailCount = 0
				AND @IdProduct = 2)
			BEGIN

				INSERT INTO CostDetail (IdCost, IdTypeOfMoney, Amount, Voucher, RowStatus, TokenCreated, DateCreated, TokenUpdated, DateUpdated)
					VALUES (@IdCost, 2, @TransactionAmount, @OrderNumber, 1, @TransactionTokeCreated, GETDATE(), NULL, NULL);


			END

			/*Actualiza el ID de transacción del pago realizado con tarjeta*/
			--TransaccionFAC.INI

			IF (@OrderNumber != '')
			BEGIN
				SET @IdHeaderRecolection = (SELECT top 1
						do.IdHeaderRecolection
					FROM DeliveryOrderPaymentDetail do
					WHERE do.GuideNumber = CAST(STUFF(@Guia, 1, PATINDEX('%[0-9]%', @Guia) - 1, '')
					AS INT)
					AND GuideSerie = SUBSTRING(@Guia, 1, 2))

				UPDATE DeliveryOrderPaymentDetail
				SET TransaccionFAC = ISNULL(@OrderNumber, '')
				WHERE GuideNumber = CAST(STUFF(@Guia, 1, PATINDEX('%[0-9]%', @Guia) - 1, '') AS INT)
				AND GuideSerie = SUBSTRING(@Guia, 1, 2)
				AND TransaccionFAC IS NULL

				UPDATE SchedulePickup
				SET TransaccionFAC = @OrderNumber
				WHERE SchedulePickupId = @IdHeaderRecolection

			END
		--TransaccionFAC.FIN



		--			SET @AmountPickup = (SELECT sp.AmountPickup  FROM SchedulePickup sp
		--JOIN DeliveryOrderPaymentDetail do ON do.IdHeaderRecolection = sp.SchedulePickupId
		--WHERE do.GuideNumber = CAST(stuff(@Guia, 1, patindex('%[0-9]%', @Guia)-1, '')
		-- AS INT))

		--			SET @IdBreakdownOfPayment = (SELECT
		--					ISNULL(IdBreakdownOfPayment,0)
		--				FROM BreakdownOfPayment bop
		--				WHERE bop.[Description] = 'Pago servicio de recolección'
		--				AND bop.IdCost = @IdCost)
		--			IF (@IdBreakdownOfPayment > 0)
		--			BEGIN
		--				UPDATE dbo.BreakdownOfPayment
		--				SET Amount = @AmountPickup
		--				WHERE IdBreakdownOfPayment = @IdBreakdownOfPayment
		--				AND IdCost = @IdCost
		--			END
		--			ELSE
		--			BEGIN
		--				INSERT INTO [dbo].[BreakdownOfPayment] ([IdCost]
		--				, [Description]
		--				, [Amount]
		--				, [ModIdModule]
		--				, [RowStatus]
		--				, [TokenCreated]
		--				, [DateCreated])
		--					VALUES (@IdCost, 'Pago servicio de recolección', @AmountPickup, 9, 1 -- crear registro activo por default
		--					, @TransactionTokeCreated, GETDATE())
		--			END

		--=====================DETALLE_PAGOS.FIN======================
		END
	END

	SELECT
		'' + @jsonResult + '' FormatJson

END
