USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sps_settlement_guide_delivered]    Script Date: 14/07/2021 16:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Cano, Carlos>
-- Create date: <2020-11-22>
-- Description:	<Registrar transacción de liquidación para comprobante de entrega>
-- =============================================
ALTER PROCEDURE [dbo].[sps_settlement_guide_delivered]
		@GuideSerie AS VARCHAR(2),
		@GuideNumber AS INT,
		@Token NVARCHAR(50),
		@IdManifest INT,
		@NameReceiver NVARCHAR(200),

		@Subtipe int,
		@NoPiece int
AS
BEGIN
	DECLARE @RModified INT
	DECLARE @Amount DECIMAL (14,2)
	DECLARE @Times INT -- cantidad de veces que se encuentra el registro con estado de entregado
	DECLARE @StatusId tinyint = 5 --Status of delivery 
	
	BEGIN TRANSACTION

		BEGIN TRY			
			/*** SIMULAR ENTREGA DE GUÍA COMO CONFIRMACION DE ENTREGA ***/
	
			-- Buscar si la guía ya cuenta con estado de entrega previa, en caso que exista no se procede a registrar transacción para evitar registro duplicado
			SET @Times = (SELECT COUNT(Guide_Number) 
						FROM DeliveryBackOffice.dbo.DeliveryOrderDetail 
						WHERE Guide_Serie = @GuideSerie AND Guide_Number = @GuideNumber 
						AND (StatusOrderId = @StatusId  OR StatusOrderId = 14))

			IF (@Times = 0)
			BEGIN
				-- Actualizar registro de pieza a último estado 
				UPDATE DeliveryBackOffice.dbo.DeliveryOrderPiece
				SET StatusOrderId = @StatusId --Status of delivery 			
				WHERE GuideSerie = @GuideSerie AND GuideNumber = @GuideNumber and NoPiece = @NoPiece

				If((select count(*) from DeliveryBackOffice.dbo.DeliveryOrderPiece 
				where GuideSerie = @GuideSerie AND GuideNumber = @GuideNumber) = 
				(select count(*) from DeliveryBackOffice.dbo.DeliveryOrderPiece 
				where GuideSerie = @GuideSerie AND GuideNumber = @GuideNumber and StatusOrderId = @StatusId))
				BEGIN
					-- Actualizar registro de guía a último estado 
					UPDATE DeliveryBackOffice.dbo.DeliveryOrder
					SET StatusOrderId = @StatusId, --Status of delivery 			
					NameOfReceiver = @NameReceiver
					WHERE Guide_Serie = @GuideSerie AND Guide_Number = @GuideNumber			
			
					-- Insertar nuevo estado de guía en tabla histórica
					INSERT INTO DeliveryBackOffice.dbo.DeliveryOrderDetail(
							[Guide_Serie],
							[Guide_Number], 
							[StatusOrderId], 
							[UserCreated], 
							[DateCreated],
							[DateCreatedInSystem],
							[PieceId]
						)			
					select 
						@GuideSerie,
						@GuideNumber, 
						@StatusId, 
						@Token,
						CONVERT(Datetime,GETDATE(), 120), 
						GETDATE(),
						@NoPiece
					WHERE EXISTS
					(
						SELECT 1 
						FROM DeliveryBackOffice.dbo.DeliveryOrder WITH(NOLOCK)			 
						WHERE Guide_Serie = @GuideSerie AND Guide_Number = @GuideNumber
					)
				END
			END
	
			/*DECLARE @Results AS TABLE(
				StatusCode INT,
				[Description] NVARCHAR(200),
				NumTransferID BIGINT
			)
			DECLARE @DateDelivered VARCHAR(50) = CONVERT(varchar, GETDATE(), 120)*/
	
			--INSERT INTO @Results
			--EXEC sps_set_Confirmation_of_delivery @Guide_Serie = @GuideSerie, @Guide_Number = @GuideNumber, @DateOfDelivery = @DateDelivered, @NameOfReceiver = @NameReceiver, @TokenId = @Token
			/*** FIN SIMULAR ENTREGA DE GUÍA EN FORMULARIO CONFIRMACION DE ENTREGA ***/
		
			SET @Amount = (SELECT Collect_OnDelivery 
							FROM DeliveryBackOffice.dbo.DeliveryOrder
							WHERE Guide_Serie = @GuideSerie AND Guide_Number = @GuideNumber)

			UPDATE [DeliveryBackOffice].[dbo].[DeliverySettlementDetail]
			SET 
				Settlement_Collect_OnDelivery = @Amount, 
				SettlementCollect_TokenCreated = @Token, 
				SettlementCollect_DateCreated = GETDATE(), 
				Guide_Settlement = 1, -- guía liquidada en bodega
				Guide_Returned = 0,  -- guía liquidada vía material devuelto
				Guide_Delivered = 1  -- guía liquidada vía comprobante de entrega
			WHERE 
				Guide_Serie = @GuideSerie 
				AND Guide_Number = @GuideNumber 
				AND ID_DeliveryOrderBySettlement = @IdManifest

			-- actualizar guía debido al proceso de liquidación
			UPDATE DeliveryBackOffice.dbo.SettlementByPickupDetail
				set TokenUpdated = @Token,
					DateUpdated = GETDATE(),
					IsPieceLiquidaded = 1
			from DeliveryBackOffice.dbo.SettlementByPickup stp
				join DeliveryBackOffice.dbo.SettlementByPickupDetail spd on stp.Id = spd.SettlementByPickupId
			where stp.SequenceCode = @IdManifest and stp.SubTypeServiceManagmentId = @Subtipe and 
				spd.GuideNumber = @GuideNumber and spd.GuideSerie = @GuideSerie and spd.NoPiece = @NoPiece 
					
			SET @RModified = @@ROWCOUNT
						
		END TRY

		BEGIN CATCH
			SELECT 
				0 AS 'StatusCode', 
				ERROR_MESSAGE() AS 'Description', 
				CONVERT(BIGINT, 0) AS 'NumTransferID',
				@GuideSerie + convert(nvarchar,@GuideNumber) + '-'  + CONVERT(nvarchar,@NoPiece) AS 'Guide',
				@Amount AS 'Amount',
				0 AS 'SubStatusCode'
			ROLLBACK TRANSACTION
		END CATCH;

		IF @@TRANCOUNT > 0
		BEGIN
			IF (@RModified > 0)
				SELECT			  
					1 AS 'StatusCode',
					'Registro guardado correctamente' AS 'Description', 
					@@TRANCOUNT AS 'NumTransferID',
					@GuideSerie + convert(nvarchar,@GuideNumber) + '-'  + CONVERT(nvarchar,@NoPiece) AS 'Guide',
					@Amount AS 'Amount',
					1 AS 'SubStatusCode'
			ELSE
				SELECT			  
					0 AS 'StatusCode',
					'Registro no encontrado' AS 'Description', 
					0 AS 'NumTransferID',
					@GuideSerie + convert(nvarchar,@GuideNumber) + '-'  + CONVERT(nvarchar,@NoPiece) AS 'Guide',
					@Amount AS 'Amount',
					0 AS 'SubStatusCode'

			COMMIT TRANSACTION;			
		END
		ELSE
			SELECT 
				0 AS 'StatusCode', 
				ERROR_MESSAGE() AS 'Description', 
				CONVERT(BIGINT, 0) AS 'NumTransferID',
				@GuideSerie + convert(nvarchar,@GuideNumber) AS 'Guide',
				@Amount AS 'Amount',
				0 AS 'SubStatusCode'
END
