USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SphdRelateDesktopandExpressCenterUsers]    Script Date: 09/02/2022 9:15:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Edelman Vásquez,Name>
-- Create date: <Create Date,04-02-2022,>
-- Description:	<Description,Asociar Usuarios de Hermes Desktop a express center,>
-- =============================================




 ALTER PROCEDURE [dbo].[SphdRelateDesktopandExpressCenterUsers] 
	-- Add the parameters for the stored procedure here
	@Email as nvarchar(50),-- correo
	@UserName as varchar(50), -- carlos.cano
	@IdCodeUser as Int, -- 100051
	@Token as varchar(50) --- token de usuario
AS
BEGIN	

	SET NOCOUNT ON;
	DECLARE @IdUsr as Int -- Id Usuar Desktop
	DECLARE @RuaIdRol as int -- Rol of user
--------- Express Center -----------------------------------
	SELECT @IdUsr = RU.UsrIdUser 
		FROM dbo.RegisterUser RU
	WHERE UsrEmail =@Email
	
	IF (@IdUsr IS NOT NULL OR @IdUsr !='')
	BEGIN
			SELECT @RuaIdRol = RuaIdRol 
				FROM dbo.RolByUserByAccount
			WHERE RuaIdUser = @IdUsr		 
				IF (@RuaIdRol IS NULL)
				BEGIN
					PRINT 'USUARIO EXPRESS CENTER NO TIENE ROLL ASIGNADO...!!'
				END
					ELSE
			  			BEGIN				
								DECLARE @RegisterUserID as Int
								--------------- Hermes Desktop -----------------------------
								SELECT @RegisterUserID = RegisterUserID FROM dbo.InternalUser
											WHERE IdUser =@IdCodeUser AND Username =@UserName
                               
										IF( NOT EXISTS(
										Select Top 1
											a.RegisterUserID
											From dbo.InternalUser a
											INNER JOIN  dbo.RegisterUser b
											On a.RegisterUserID=b.UsrIdUser
											Where a.IdUser=@IdCodeUser and  a.Username=@UserName
										
										))
										BEGIN 

												IF ( NOT  EXISTS(									   
															Select 
															a.RegisterUserID
															From dbo.InternalUser a
															INNER JOIN  dbo.RegisterUser b
															On a.RegisterUserID=b.UsrIdUser
															Where b.UsrEmail=@Email
															)
										       )
											   BEGIN

													UPDATE dbo.InternalUser
														SET RegisterUserID = @IdUsr, TokenUpdated= @Token, DateUpdated= GETDATE()
													WHERE IdUser =@IdCodeUser AND Username =@UserName

													UPDATE dbo.RolByUserBySystem
														SET RusIdUser= @IdUsr, RusTokenUpdated= @Token, RusDateUpdated= GETDATE()
													WHERE  RusIdUser = @RegisterUserID AND RusRowStatus ='true'
													PRINT 'USUARIO BACK OFFICE ASOCIADO CORRECTAMENTE...!!'	
								              END
											   ELSE
													BEGIN 
								   						PRINT 'USUARIO EXPRESS CENTER YA TIENE ASOCIADO USUARIO BACK OFFICE...!!'
													END

										END
										   ELSE
										   BEGIN 
								   				PRINT 'USUARIO BACK OFFICE YA TIENE EXPRESS CENTER ASOCIADO...!!'
										   END
								
					END
        END
		ELSE 
		BEGIN
			PRINT 'USURIO NO EXISTE EN SISTEMA...!! '
		END	
	END

