USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_SetMessageInDeliveryOrder]    Script Date: 08/10/2020 10:27:26 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hernandez, Josselyn>/<Borja, Cesar>
-- Create date: <2020-09-29>
-- Description:	<Llena los datos del Alternative Address>
-- =============================================
ALTER PROCEDURE [dbo].[spg_SetMessageInDeliveryOrder]
	-- Add the parameters for the stored procedure here
	--@GuideSerie NVARCHAR(2),
	@GuideNumber INT
	--@phone VARCHAR(200),
	--@message varchar(200)
AS
BEGIN
		declare @Data2Clean as table(_series nvarchar(10), _number int,_name nvarchar(300), _phone nvarchar(300))
		insert into @Data2Clean
		SELECT 
				do.Guide_Serie,
				do.Guide_Number,
				do.Receiver_FirstName,
				do.Receiver_Phone
		  FROM [DeliveryBackOffice].[dbo].[DeliveryOrder] do with(nolock)
		  where 1=1
		 
		  declare @CleanData as table(_series nvarchar(10), _number nvarchar(50), _name nvarchar(300), _phone nvarchar(50))
		  insert into @CleanData
		  select 
			dc._series,
			dc._number,
			dc._name,
			ltrim(rtrim(sp.items ))
		  from @Data2Clean dc outer apply DeliveryBackOffice.dbo.Splits(replace(replace(replace(replace(replace(replace(replace(ltrim(rtrim(dc._phone)),'''','||'),'"','||'),' ','||'),'/','||'),';','||'),',','||'),'-',(case when CHARINDEX('-', LTRIM(RTRIM(dc._phone)))>8 then'||'else ''end)),'||') sp

		  declare @completed as table(guide_serie nvarchar(2), guide_number nvarchar(50), namereceiver nvarchar(300), phonereceiver nvarchar(50), sms_message nvarchar(300))

		  insert into @completed
		  select 
			c._series,
			c._number,
			c._name,
			c._phone,
			r.SMS_Message
		  from @CleanData c
		  left join DeliveryBackOffice.dbo.SMS_Received r with(nolock)
		  --on c._phone=right(r.SMS_MSisdn,8)
		  on CONCAT('502',c._phone) collate SQL_Latin1_General_CP1_CI_AS = r.SMS_MSisdn collate SQL_Latin1_General_CP1_CI_AS
		  --where 1=1
		  GROUP BY c._series,
				   c._number,
				   c._name,
				   c._phone,
				   r.SMS_Message

		SELECT STUFF((select ', ' + sms_message from @completed T1 where T1.phonereceiver = T2.phonereceiver FOR XML PATH('')),1,1,'') from @completed T2
END