USE [DeliveryBackOffice]
GO
ALTER PROCEDURE [dbo].[GetDynamicCatalog] 
  @TypeMethod varchar(100) = 'GetTypePayment',
  @IdAccount int = 1,
  @Token varchar(100) ='0BE2F8F3BD53652635746ACD069954B5',
  @GuideSerie varchar(2) ='FD',
  @GuideNumber varchar(100)='12345',
  @Others varchar(500) = ''
AS 
BEGIN 
 DECLARE @jsonResult NVARCHAR(MAX) 
    if not exists
     ( select 1
	  from DeliveryBackOffice.dbo.TokenLog
	  where TknRowStatus = 1 and TknIdToken = @Token
	  and CAST(TknDateCreated AS DATE) = CAST(getdate() AS DATE)  
	 )
	 BEGIN
	  print 'token inválido'
		SET @jsonResult = (
	   SELECT STUFF((
	   	SELECT  
	    ',{"IdError":' + '500' + ',' +
	    '"DescriptionError":"' + 'Token inválido'  + '"' +	  	  
	    '}' 
	    FOR XML PATH(''), TYPE
	   ).value('.', 'varchar(max)'),1,1,''
	   			  ) 
	   )
	     select '['+ @jsonResult + ']' FormatJson

	   return
	 END
  
  if (@TypeMethod = 'GetModules')
  BEGIN

      SET @jsonResult = (
	   SELECT STUFF((
	   	SELECT
		/*
		',{"IdError":' + '500' + ',' +
	    '"DescriptionError":"' + 'Token inválido'  + '"' +	  	  
	    '}'
		*/
	    ',{"Id":"' + CONVERT(varchar,ModIdModule) + '",' +
	    '"Description":"' + CONVERT(varchar,ModName)  + '"' +	  	  
	    '}' 
	    from DeliveryBackOffice.dbo.CatModule
	    where ModVisible = 1 	  
	    FOR XML PATH(''), TYPE
	   ).value('.', 'varchar(max)'),1,1,''
	   			  ) 
	   )
     END	 


 ELSE if (@TypeMethod = 'GetTypePayment')
  BEGIN


	 BEGIN
	   	    SET @jsonResult = (
	   SELECT STUFF((
	   	SELECT
		',{"Id":"' + CONVERT(nvarchar,TimePlaId) + '",' +
	    '"Name":"' + TimePlaName  + '",' +	  	  
	    '"Description":"' + TimePlaDescription  + '"' +	  	  
	    '}' 
	    from DeliveryBackOffice.dbo.CatPaymentTime
	    where TimePlaStatus = 1 	  
	    FOR XML PATH(''), TYPE
	   ).value('.', 'varchar(max)'),1,1,''
	   			  ) 
	   )
     END	 
	 
END

 else if (@TypeMethod =  'GetTypePiece')
	begin
		  SET @jsonResult = (
	   SELECT STUFF((
	   	SELECT
		',{"Id":"' + CONVERT(nvarchar,art.ArtId) + '",' +
	--    '"Name":"' +  replace(art.ArtName,'"',' ')  + '",' +	  	  
	    '"Name":"' + replace(art.ArtName,'"',' ')  + '"' +	  	  
	    '}' 
	    from dbo.CatArticle art
			left join dbo.ArticleByCustomer abc on abc.AbcIdArticle = art.ArtId
		where art.ArtShowDefault =1 or abc.AbcIdCustomer = ( select top 1 ac.IdCustomer from dbo.Account ac where ac.AccIdAccount = @IdAccount)
  
	    FOR XML PATH(''), TYPE
	   ).value('.', 'varchar(max)'),1,1,''
	   			  ) 
	   )
	end
  select '['+ @jsonResult + ']' FormatJson
 
END
