USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetRecolectPriceGuides]    Script Date: 11/02/2021 8:28:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Hugo,Gomez>
-- Create date: <2021-02-06>
-- Description:	<Recotizacion>
-- =============================================


CREATE PROCEDURE [dbo].[GetRecolectPriceGuides]
	-- Add the parameters for the stored procedure here
	--@InGuides   NVARCHAR(400) = 'FD22221,FD22361,FD22223,FD22359,FD22226',
	
	@TblDeliveryOrdersList AS [TblDeliveryOrdersList] READONLY

	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @jsonResult NVARCHAR(MAX) 

		-- insertar en tabla temporal posbibles mensajes de respuesta
		IF OBJECT_ID('tempdb.dbo.#UpdatePayNow', 'U') IS NOT NULL DROP TABLE #UpdatePayNow;
		IF OBJECT_ID('tempdb.dbo.#UpdatePayDelivery', 'U') IS NOT NULL DROP TABLE #UpdatePayDelivery;


		IF OBJECT_ID('tempdb.dbo.#responsemessage', 'U') IS NOT NULL DROP TABLE #responsemessage;
			select * INTO #responsemessage from (SELECT  200 AS IdResult
					,'Estado  cambiado correctamente' AS Message
					,'OK' as Id 
			union
			SELECT  500 AS IdResult
					,'Error faltal intente de nuevo mas tarde' AS Message
					,'Transac' as Id 
		 )  as errror
	BEGIN TRANSACTION
		BEGIN TRY


		--- inserta en tablas temporales la informacion que trae el listado de guias dependiendo de las condiciones
		--t.ShipmentCompleted = 1 

		SELECT 
			
			[Guide_Number] ,
			[total],
			[Guide_Serie],
			[recolect]

		INTO #UpdatePayNow
		FROM  (select ord.Guide_Number, (15.00) as recolect ,  (CASE WHEN t.ShipmentCompleted = 1   then 0.00 else ord.PriceShippment   end ) as total, ord.Guide_Serie from DeliveryOrderPaymentDetail dop
				inner join DeliveryOrder ord on (dop.GuideNumber = ord.Guide_Number  and dop.GuideSerie = ord.Guide_Serie)
				inner join @TblDeliveryOrdersList t on ( t.Guide_Number = ord.Guide_Number and t.Guide_Serie = ord.Guide_Serie ) where  dop.PayTypeId = 1 and  t.IdTimePayment = 1 ) as Table1
		


		SELECT 
			
			[Guide_Number] ,
			[total],
			[Guide_Serie],
			[PriceShippment]
		
	
		INTO #UpdatePayDelivery
		FROM 		(select ord.PriceShippment , ( 15.00) as total , ord.Guide_Number, ord.Guide_Serie  from DeliveryOrderPaymentDetail dop
				inner join DeliveryOrder ord on (dop.GuideNumber = ord.Guide_Number  and dop.GuideSerie = ord.Guide_Serie)
				inner join @TblDeliveryOrdersList t on ( t.Guide_Number = ord.Guide_Number and t.Guide_Serie = ord.Guide_Serie ) where  t.ShipmentCompleted = 1 and t.IdTimePayment = 3 ) as Table2

		SELECT 
		
			[Guide_Number] ,
			[total],
			[Guide_Serie],
			[PriceShippment]
	
		INTO #UpdatePayRecolect	
		FROM		(select ord.PriceShippment , (15.00) as total , ord.Guide_Number, ord.Guide_Serie from DeliveryOrderPaymentDetail dop
				inner join DeliveryOrder ord on (dop.GuideNumber = ord.Guide_Number  and dop.GuideSerie = ord.Guide_Serie)
				inner join @TblDeliveryOrdersList t on (t.Guide_Number = ord.Guide_Number and t.Guide_Serie = ord.Guide_Serie ) where  t.ShipmentCompleted = 1 and t.IdTimePayment = 2 and (dop.PayTypeId = 1 or dop.PayTypeId = 3  ) ) as Table3


	--- actualiza los registros en la tabla DeliveryOrderPaymentDetail con los pagos a realizar mas los 15 de la recoleccion dependiendo de las condiciones

	

declare @test int =	(select COUNT(#UpdatePayNow.Guide_Number) from #UpdatePayNow)
declare @test1 int =	(select COUNT(#UpdatePayDelivery.Guide_Number) from #UpdatePayDelivery )
declare @test3 int =	(select COUNT(#UpdatePayRecolect.Guide_Number) from #UpdatePayRecolect )

	if(@test > 0)
		begin 
			update DeliveryOrderPaymentDetail set PaymentNow = upn.Total, PaymentDelivery = 0.00, PaymentRecollections = 0.00 , RecolectNow = upn.recolect , RecolectPayment = 0.00 , RecolectDelivery = 0.00
			from dbo.DeliveryOrderPaymentDetail pay
			inner join  #UpdatePayNow upn on (upn.Guide_Number = pay.GuideNumber and upn.Guide_Serie = pay.GuideSerie)

			update DeliveryOrder set PriceShippment = ord.PriceShippment + upn.recolect
			from dbo.DeliveryOrder ord
			inner join #UpdatePayNow upn on (upn.Guide_Number = ord.Guide_Number and upn.Guide_Serie = ord.Guide_Serie)


		end 

	if(@test1 > 0)
		begin 
			update DeliveryOrderPaymentDetail set PaymentDelivery = upd.PriceShippment, PaymentNow = 0.00 , PaymentRecollections = 0.00, RecolectDelivery = upd.total , RecolectNow = 0.00 ,  RecolectPayment = 0.00
			from dbo.DeliveryOrderPaymentDetail pay
			inner join #UpdatePayDelivery upd on (upd.Guide_Number = pay.GuideNumber and upd.Guide_Serie = pay.GuideSerie)

			update DeliveryOrder set PriceShippment = ord.PriceShippment + upd.total
			from dbo.DeliveryOrder ord
			inner join #UpdatePayDelivery upd on (upd.Guide_Number = ord.Guide_Number and upd.Guide_Serie = ord.Guide_Serie)
		end 	
		

	if(@test3 > 0)
		begin 
			update DeliveryOrderPaymentDetail set PaymentRecollections = upr.PriceShippment, PaymentDelivery = 0.00  ,  PaymentNow = 0.00  , RecolectPayment = upr.total, RecolectDelivery = 0.00 , RecolectNow = 0.00
			from dbo.DeliveryOrderPaymentDetail pay
			inner join #UpdatePayRecolect upr on (upr.Guide_Number = pay.GuideNumber and upr.Guide_Serie = pay.GuideSerie)

			update DeliveryOrder set PriceShippment = ord.PriceShippment + upr.total
			from dbo.DeliveryOrder ord
			inner join #UpdatePayRecolect upr on (upr.Guide_Number = ord.Guide_Number and upr.Guide_Serie = ord.Guide_Serie)
		end 



		DROP TABLE #UpdatePayNow
		DROP TABLE #UpdatePayDelivery
		DROP TABLE #UpdatePayRecolect
	--- suma los registros en la tabla DeliveryOrderPaymentDetail con  los 15 de la recoleccion dependiendo de las condiciones




				--declare @sumrecolect decimal (18,2) = (select count(dop.PaymentRecollections) from DeliveryOrderPaymentDetail dop
				--										inner join DeliveryOrder ord on  (ord.Guide_Number = dop.GuideNumber and ord.Guide_Serie = dop.GuideSerie)
				--										inner join @TblDeliveryOrdersList t on (t.Guide_Number = dop.GuideNumber and t.Guide_Serie = dop.GuideSerie)
				--										where ord.IsCollect = 0 or IsCollect is null)

				--declare @sumcollect decimal (18,2) = (select count(dop.PaymentDelivery)   from DeliveryOrderPaymentDetail dop
				--										inner join DeliveryOrder ord on  (ord.Guide_Number = dop.GuideNumber and ord.Guide_Serie = dop.GuideSerie)
				--										inner join @TblDeliveryOrdersList t on (t.Guide_Number = dop.GuideNumber and t.Guide_Serie = dop.GuideSerie)
				--										where ord.IsCollect = 1)



				--declare @destinity  decimal (18,2) = (select sum(dop.PaymentDelivery) + @sumcollect  from DeliveryOrderPaymentDetail dop
				--							 inner join @TblDeliveryOrdersList t on (t.Guide_Number = dop.GuideNumber and t.Guide_Serie = dop.GuideSerie))

							
			declare @sumpaynow  decimal (18,2) = (select case when dop.ShipmentCompleted = 1 or t.ShipmentCompleted = 1 then sum (dop.RecolectNow) else (sum (dop.RecolectNow) + sum(dop.PaymentNow)) end as sumpay  from DeliveryOrderPaymentDetail dop
											 inner join @TblDeliveryOrdersList t on (t.Guide_Number = dop.GuideNumber and t.Guide_Serie = dop.GuideSerie)
											 group by dop.ShipmentCompleted, t.ShipmentCompleted)
			
			
				
			DECLARE @jsonResult1 NVARCHAR(MAX) 




			set @jsonResult1 = (SELECT STUFF(( 
			select
			 ',{"SumaTotal":"' +  Isnull(CONVERT(varchar , @sumpaynow ), '0.00')  + --'",' +
						+ '"}'
			--from DeliveryOrderPaymentDetail 
			--where  GuideNumber IN (select ItemNumber from #UpdatePayNow)  	
	
			FOR XML PATH(''), TYPE
							).value('.', 'varchar(max)'),1,1,''
									) )
									print 'ingresa2'
										print @jsonResult

		-- retornar resultado en formato json
	If @jsonResult1 is null 

	begin

		set @jsonResult1 =(
					SELECT STUFF(( 
					SELECT '{{"IdResult":500,' 
					+ '"Message":" No se encontraron registros"}' 
		
					FOR XML PATH(''), TYPE
					).value('.', 'varchar(max)'),1,1,''
						  ) 
					)
	end

		select ('[' + @jsonResult1 +  ']') jsonResult1


			
			set @jsonResult =(
				SELECT STUFF(( 
				SELECT '{"IdResult":' + convert(varchar,IdResult)    +',' 
				+ '"Message":"' + Message + '"}' from #responsemessage where Id ='OK'
				FOR XML PATH(''), TYPE
				).value('.', 'varchar(max)'),1,1,''
					  ) 
			)

		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION
			select ERROR_MESSAGE()
				-- retornar mensaje de error
			set @jsonResult =(
				SELECT STUFF(( 
				SELECT '{"IdResult":' +  convert(varchar,IdResult)    +',' 
				+ '"Message":"' + convert( nvarchar(max),ERROR_MESSAGE()) + '"}' from #responsemessage where Id ='Invalid'
				FOR XML PATH(''), TYPE
				).value('.', 'varchar(max)'),1,1,''
					  ) 
			)
		END CATCH;
		IF @@TRANCOUNT > 0 BEGIN
			COMMIT TRANSACTION;
			--- succesfull
		END
		
		-- destruir tablas temporales

		IF OBJECT_ID('tempdb.dbo.#listGuides', 'U') IS NOT NULL DROP TABLE #listGuides;
		IF OBJECT_ID('tempdb.dbo.#responsemessage', 'U') IS NOT NULL DROP TABLE #responsemessage;

		-- retornar resultado en formato json

				select ('[{' + @jsonResult +  ']') jsonResult

END

