USE [DeliveryBackOffice]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---=========================================
---==== Marco,Jiménez
---==== Actualiza el campo CommissionNotified a 1, 
---==== para indicar que ya fue enviado correctamente 
---==== el correo con el excel de comisiones y envíos
---=========================================

CREATE PROCEDURE [dbo].[setCommissionNotified]
@BatchCODId AS INT
AS
BEGIN
	

	BEGIN TRANSACTION;

	BEGIN TRY
	UPDATE BatchDetailCOD 
	SET CommissionNotified = 1
	WHERE BatchCODId = @BatchCODId

								
	END TRY
	BEGIN CATCH
		SELECT 'RollBackTransaction' AS message,
				'FALSE'	blnResult,
				CAST(-1 AS VARCHAR(5)) IdResult,
				CAST(500 AS VARCHAR(5)) StatusResult,
				CAST(ERROR_NUMBER() AS VARCHAR) AS ErrorNumber,
				CAST(ERROR_SEVERITY() AS VARCHAR) AS ErrorSeverity,
				CAST(ERROR_STATE() AS VARCHAR) AS ErrorState,
				CAST(ERROR_PROCEDURE() AS VARCHAR) AS ErrorProcedure,
				CAST(ERROR_LINE() AS VARCHAR) AS ErrorLine,
				CAST(ERROR_MESSAGE() AS VARCHAR) AS ResultMessage;

		ROLLBACK TRANSACTION;
	END CATCH;

	IF @@TRANCOUNT > 0
	BEGIN
		
		SELECT  'TRUE' AS blnResult 		

		COMMIT TRANSACTION;
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION;
	END
END
