USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_set_AssigmentRouteService]    Script Date: 17/02/2021 08:29:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-02-12>
-- Description:	<Asigna una ruta a un servicio>
-- =============================================
CREATE PROCEDURE [dbo].[spg_set_AssigmentRouteService]
		@idSchedulePickup as int,
		@idRoute AS int,
		@dateRoute AS date,
		@token as varchar(50),
		@dateCreated as datetime
AS
BEGIN
	DECLARE @idCourrier as int
	DECLARE @idRouteAssigment as int
	DECLARE @idSchedule as int
	IF EXISTS(SELECT IdRouteAssigment 
		FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
		WHERE IdRoute = @idRoute AND DateOfRoute = @dateRoute)
	BEGIN

		SET @idCourrier = (SELECT IdCurrierMan 
						   FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
						   WHERE IdRoute = @idRoute AND DateOfRoute = @dateRoute)

		SET @idRouteAssigment = (SELECT IdRouteAssigment 
								 FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
								 WHERE IdRoute = @idRoute AND DateOfRoute = @dateRoute)
	
		IF EXISTS(SELECT IdServiceManagement FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
				  WHERE IdSchedulePickup=@idSchedulePickup)
		BEGIN
			SELECT @idSchedule = IdServiceManagement FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
				  WHERE IdSchedulePickup=@idSchedulePickup

			UPDATE [DeliveryBackOffice].[dbo].[ServiceManagement] 
			SET IdPuCourrier = @idCourrier, IdPuRouteAssigment = @idRouteAssigment, ServiceStatusId=2 WHERE IdServiceManagement = @idSchedule
		END
		ELSE
		BEGIN
			INSERT INTO [DeliveryBackOffice].[dbo].[ServiceManagement] (IdPuCourrier,IdPuRouteAssigment,IdSchedulePickup,RowStatus,TokenCreated,DateCreated,ServiceStatusId)
			VALUES(@idCourrier,@idRouteAssigment,@idSchedulePickup,1,@token,@dateCreated,2)

			SELECT @idSchedule = IdServiceManagement FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
			WHERE IdSchedulePickup=@idSchedulePickup
		END

		UPDATE [DeliveryBackOffice].[dbo].[SchedulePickup] Set AssigmentStatus='1' Where SchedulePickupId=@idSchedulePickup

		INSERT INTO [DeliveryBackOffice].[dbo].[EventService] (ServiceManagementId,ServiceStatusId,RowStauts,TokenCreated,DateCreated)
		VALUES(@idSchedule,2,1,@token,GETDATE())
	END
	ELSE
	BEGIN
		INSERT INTO [DeliveryBackOffice].[dbo].[RouteAssigment] (IdRoute,DateOfRoute,RowStatus,TokenCreated,DateCreated)
		VALUES (@idRoute,@dateRoute,1,@token,@dateCreated)

		SET @idRouteAssigment = (SELECT IdRouteAssigment 
						   FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
						   WHERE IdRoute = @idRoute AND DateOfRoute = @dateRoute)
		
		IF EXISTS(SELECT IdServiceManagement FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
				  WHERE IdSchedulePickup=@idSchedulePickup)
		BEGIN
			SELECT @idSchedule = IdServiceManagement FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
				  WHERE IdSchedulePickup=@idSchedulePickup

			UPDATE [DeliveryBackOffice].[dbo].[ServiceManagement] 
			SET IdPuCourrier = @idCourrier, IdPuRouteAssigment = @idRouteAssigment, ServiceStatusId=2 WHERE IdServiceManagement = @idSchedule
		END
		ELSE
		BEGIN
			INSERT INTO [DeliveryBackOffice].[dbo].[ServiceManagement] (IdPuRouteAssigment,IdSchedulePickup,RowStatus,TokenCreated,DateCreated,ServiceStatusId)
			VALUES(@idRouteAssigment,@idSchedulePickup,1,@token,@dateCreated,2)

			SELECT @idSchedule = IdServiceManagement FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
			WHERE IdSchedulePickup=@idSchedulePickup
		END

		UPDATE [DeliveryBackOffice].[dbo].[SchedulePickup] Set AssigmentStatus='1' Where SchedulePickupId=@idSchedulePickup

		INSERT INTO [DeliveryBackOffice].[dbo].[EventService] (ServiceManagementId,ServiceStatusId,RowStauts,TokenCreated,DateCreated)
		VALUES(@idSchedule,2,1,@token,GETDATE() )
	END
END