USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SphdRelateDesktopandExpressCenterUsers]    Script Date: 06/02/2022 10:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Edelman Vásquez,Name>
-- Create date: <Create Date,04-02-2022,>
-- Description:	<Description,Asociar Usuarios de Hermes Desktop a express center,>
-- =============================================

 ALTER PROCEDURE [dbo].[SphdRelateDesktopandExpressCenterUsers] 
	-- Add the parameters for the stored procedure here
	@Email as nvarchar(50),-- correo
	@UserName as varchar(50), -- carlos.cano
	@IdCodeUser as Int, -- 100051
	@Token as varchar(50) --- token de usuario
AS
BEGIN	

	SET NOCOUNT ON;
	DECLARE @IdUsr as Int -- Id Usuar Desktop
	DECLARE @RuaIdRol as int -- Rol of user
--------- Express Center -----------------------------------
	SELECT @IdUsr = RU.UsrIdUser 
		FROM dbo.RegisterUser RU
	WHERE UsrEmail =@Email
	
	IF (@IdUsr IS NOT NULL OR @IdUsr !='')
	BEGIN
			SELECT @RuaIdRol = RuaIdRol 
				FROM dbo.RolByUserByAccount
			WHERE RuaIdUser = @IdUsr		 
				IF (@RuaIdRol IS NULL)
				BEGIN
					PRINT 'USUARIO NO TIENE ROLL ASIGNADO...!!'
				END
					ELSE
			  			BEGIN				
								DECLARE @RegisterUserID as Int
								--------------- Hermes Desktop -----------------------------
								SELECT @RegisterUserID = RegisterUserID FROM dbo.InternalUser
								WHERE IdUser =@IdCodeUser AND Username =@UserName
								IF( EXISTS(SELECT Top 1 * FROM dbo.RolByUserBySystem WHERE RusIdUser = @RegisterUserID AND RusRowStatus ='true'))
								BEGIN 
											UPDATE dbo.InternalUser
												SET RegisterUserID = @IdUsr, TokenUpdated= @Token, DateUpdated= GETDATE()
											WHERE IdUser =@IdCodeUser AND Username =@UserName

											UPDATE dbo.RolByUserBySystem
												SET RusIdUser = @IdUsr, RusTokenUpdated= @Token, RusDateUpdated= GETDATE()
											WHERE RusIdUser = @RegisterUserID AND RusRowStatus ='true'
											PRINT 'USUARIO DESKTOP ASOCIADO CORRECTAMENTE...!!'		
								END
								   ELSE
								   BEGIN 
								   		PRINT 'USUARIO NO ESTA ACTIVO EN HERMES DESKTOP...!!'
								   END
					END
        END
		ELSE 
		BEGIN
			PRINT 'USURIO NO  TIENE EXPRESS CENTER ASIGNADO...!! '
		END	
	END

