USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_get_RouteServiceAssigment]    Script Date: 17/02/2021 08:30:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-02-13>
-- Description:	<Obtiene las rutas con servicios ya asignados>
-- =============================================
CREATE PROCEDURE [dbo].[spg_get_RouteServiceAssigment]
		@idRoute AS int,
		@dateRoute AS date
AS
BEGIN
  SELECT spu.SchedulePickupId, 
		spu.SenderName [Name],
		spu.AddressPickup [Address],
		spu.SenderPhone [Phone],
		CONCAT(CONVERT(varchar(10), spu.StartDate, 108), '   ', CONVERT(varchar(10), spu.EndDate, 108)) as rangeHour,
		spu.QuantityRegularPackages,
		spu.QuantityOverDimensionedPackage,
		CONCAT(snr.First_Name,' ',snr.Last_Name) as NameCourrier		
  from [DeliveryBackOffice].[dbo].[SchedulePickup] as spu
  join [DeliveryBackOffice].[dbo].[ServiceManagement] as smt on spu.SchedulePickupId = smt.IdSchedulePickup
  join [DeliveryBackOffice].[dbo].[RouteAssigment] as rat on smt.IdPuRouteAssigment = rat.IdRouteAssigment
  left join [DeliveryBackOffice].[dbo].[SenderReceiver] as snr on rat.IdCurrierMan = snr.ID
  where rat.IdRoute = @idRoute and rat.DateOfRoute = @dateRoute AND spu.AssigmentStatus = '1'
END