USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetHubsToTrack]    Script Date: 02/12/2021 08:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Andres, Ruiz>
-- Create date: <2021-11-29>
-- Description:	< Retorna los hubs existentes >
-- =============================================
ALTER PROCEDURE [dbo].[GetHubsToTrack]
AS
BEGIN

	SELECT 
	DISTINCT 
		(CASE WHEN Hub = 'GTM' THEN 'GUA' ELSE Hub END) Hub 
	FROM 
		DeliveryBackOffice.dbo.DumpServiceCoverage DSC
	WHERE 
		Hub LIKE '___'
	UNION -- Union con HubLogistics
	SELECT
	DISTINCT
	(CASE WHEN HL.HubAbbreviation = 'GTM' THEN 'GUA' ELSE HL.HubAbbreviation END) Hub
	FROM
	[DeliveryBackOffice].[dbo].[HubLogistics] HL
	WHERE 
	HL.HubAbbreviation LIKE '___'
	ORDER BY Hub ASC;

END
