USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_get_SchedulePickUp]    Script Date: 17/02/2021 08:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-02-15>
-- Description:	<Desasignación de un servicio a una ruta>
-- =============================================
CREATE PROCEDURE [dbo].[spg_get_SchedulePickUp]
		@startDate as datetime,
		@endDate as datetime,
		@estimateWeight as decimal,
		@quantityRegular as int,
		@quantityOverDimensioned as int,
		@token as varchar(50),
		@idSender as int,
		@nameSender as varchar(200),
		@phoneSender as varchar(50),
		@idHub as int,
		@addressPickUp as varchar(500)
AS
BEGIN
	DECLARE @amountPickUp as int
	DECLARE @idSchedulePickUp as int
	DECLARE @idSchedule as int

	SELECT @amountPickUp = Value FROM [DeliveryBackOffice].[dbo].[CatToCharge] WHERE IdToCharge = 1;

	IF @idHub != NULL
	BEGIN
		INSERT INTO [DeliveryBackOffice].[dbo].[SchedulePickup] (StartDate,EndDate,EstimatedWeight,IsLargePackage,QuantityRegularPackages,
		QuantityOverDimensionedPackage,	RowStatus,TokenCreated,DateCreated,SenderId,SenderName,SenderPhone,IdHubLogistics,AmountPickup,
		IdSourcePlataform,AddressPickup)
		VALUES (@startDate,@endDate,@estimateWeight,0,@quantityRegular,@quantityOverDimensioned,1,@token,GETDATE(),@idSender,@nameSender,
		@phoneSender,@idHub,@amountPickUp,2,@addressPickUp)
	END
	ELSE
	BEGIN
		INSERT INTO [DeliveryBackOffice].[dbo].[SchedulePickup] (StartDate,EndDate,EstimatedWeight,IsLargePackage,QuantityRegularPackages,
		QuantityOverDimensionedPackage,	RowStatus,TokenCreated,DateCreated,SenderId,SenderName,SenderPhone,AmountPickup,
		IdSourcePlataform,AddressPickup)
		VALUES (@startDate,@endDate,@estimateWeight,0,@quantityRegular,@quantityOverDimensioned,1,@token,GETDATE(),@idSender,@nameSender,
		@phoneSender,@amountPickUp,2,@addressPickUp)
	END

	SELECT  @idSchedulePickUp =  IDENT_CURRENT('[DeliveryBackOffice].[dbo].[SchedulePickup]')

	IF NOT EXISTS(SELECT IdSchedulePickup FROM [DeliveryBackOffice].[dbo].[ServiceManagement] 
				  WHERE IdSchedulePickup=@idSchedulePickUp)
	BEGIN
		INSERT INTO [DeliveryBackOffice].[dbo].[ServiceManagement] (IdSchedulePickup,RowStatus,TokenCreated,DateCreated,ServiceStatusId)
		VALUES(@idSchedulePickUp,1,@token,GETDATE(),1)
		
		SELECT  @idSchedule =  IDENT_CURRENT('[DeliveryBackOffice].[dbo].[ServiceManagement]')

		INSERT INTO [DeliveryBackOffice].[dbo].[EventService] (ServiceManagementId,ServiceStatusId,RowStauts,TokenCreated,DateCreated)
		VALUES(@idSchedule,1,1,@token,GETDATE() )
	END
END
