-- =============================================
-- Author:		<Marco Jiménez>
-- Create date: <2021-01-18>
-- Description:	<spws_get_UserInfo>
-- =============================================
CREATE PROCEDURE [dbo].[spws_get_UserInfo]
	-- Add the parameters for the stored procedure here
	@IdAccount as BIGINT
AS
BEGIN
	
	SELECT us.UsrIdUser AS IdUser,
	us.UsrEmail         AS Email,
	us.UsrNickName      AS NickName,
	c.[Name]            AS [Name]
	FROM RegisterUser us
		INNER JOIN [dbo].[RolByUserByAccount] rua ON rua.RuaIdUser = us.UsrIdUser
													AND rua.RuaRowStatus = 1
		INNER JOIN [dbo].Account ac ON ac.AccIdAccount = rua.RuaIdAccount
									AND ac.AccRowStatus = 1
		INNER JOIN dbo.Customer c	ON c.IdCustomer = ac.IdCustomer
	WHERE ac.AccIdAccount = @IdAccount
END

