USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetCityPlace]    Script Date: 1/26/2021 12:43:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetCityPlace]
  @IdCityPlace varchar(50) = null,
  @CityPlace varchar(50) = null
AS 
BEGIN 
  DECLARE @jsonOutput NVARCHAR(MAX) 
    SET @jsonOutput =  
  (  
SELECT ''+ STUFF(( 

SELECT TOP 5
      ',{"Id":"' +  COALESCE(CONVERT(varchar,IdCityPlace),'') + '",'+            
      '"Description":"' + COALESCE(CityPlace,'') + '"}'
      from DeliveryBackOffice.dbo.CatCityPlace
	  where CityPlaceRowStatus = 1
	  /*and (@IdCityPlace is null or IdCityPlace = @IdCityPlace)
	  --and (@CityPlace is null or CityPlace = @CityPlace)*/
	  and OrderCityPlace is not null
	  ORDER BY OrderCityPlace asc 
	   
  FOR XML PATH(''), TYPE 
  ) 
  .value('.', 'varchar(max)'),1,1,'' 
              ) + '' 
  ) 
 
  select  
  '[' +   
  @jsonOutput +
  ']' 
  FormatJson 
 
END
