USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_get_RoutePreparation]    Script Date: 13/04/2021 12:08:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================================================
-- Author:		<Marco Jiménez>
-- Create date: <2021-04-13>
-- Description:	<Realiza las validaciones para evitar asignar erróneamente guías a rutas 
--               Linehauls y obtener la información correspondiente de las guías correctas>
-- ============================================================================================


IF EXISTS (SELECT
			*
		FROM sysobjects
		WHERE id = OBJECT_ID(N'[dbo].[GetLinehaulsValidator]')
		AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
BEGIN
	DROP PROCEDURE [dbo].[GetLinehaulsValidator]
END

GO

--exec [GetLinehaulsValidator] 'FD200068-1','sdfsdfsdfds',61

CREATE PROCEDURE [dbo].[GetLinehaulsValidator] @Guide AS VARCHAR(50) = 'FD200068-1',
@Token AS VARCHAR(50) = 'ad1a2328ed27ea99622f68deae5d9976',
@Route AS INT = 1

AS

BEGIN
	DECLARE @CANTPENDIENTE AS INT;
	DECLARE @RouteValidator AS INT = (SELECT
			COUNT(cl.IdHubDestination) AS CANT
		FROM CatLinehaul cl
		WHERE cl.IdRoute = @Route)

	--IF (@RouteValidator > 0)
	--BEGIN

	--	SELECT
	--		serv.Guide_Serie + CAST(serv.Guide_Number AS VARCHAR) GUIA
	--	   ,hl_origen.HubAbbreviation AS HUB_ORIGEN
	--	   ,hl_destino.HubAbbreviation AS HUB_DESTINO
	--	   ,serv.Pieces_Dry + serv.Pieces_Cold AS CANT_PIEZAS
	--	FROM DeliveryBackOffice.dbo.DeliveryOrder serv
	--	JOIN DeliveryBackOffice.dbo.TownshipByHubLogistic tbh_origen
	--		ON serv.SenderIdTownship = tbh_origen.IdTownship
	--			AND tbh_origen.StatusTownshipHub = 1
	--	JOIN DeliveryBackOffice.dbo.TownshipByHubLogistic tbh_destino
	--		ON serv.ReceiverIdTownship = tbh_destino.IdTownship
	--			AND tbh_destino.StatusTownshipHub = 1
	--	JOIN DeliveryBackOffice.dbo.HubLogistics hl_origen
	--		ON tbh_origen.IdHublogistic = hl_origen.IdHubLogistic
	--	JOIN DeliveryBackOffice.dbo.HubLogistics hl_destino
	--		ON tbh_origen.IdHublogistic = hl_destino.IdHubLogistic
	--	JOIN DeliveryOrderPiece pc
	--		ON serv.Guide_Number = pc.GuideNumber
	--			AND serv.Guide_Serie = pc.GuideSerie
	--	WHERE CONCAT(pc.GuideSerie,CAST(pc.GuideNumber AS VARCHAR),'-',CAST(pc.NoPiece AS VARCHAR)) = @Guide
	--	AND hl_destino.IdHubLogistic IN (SELECT
	--			cl.IdHubDestination
	--		FROM CatLinehaul cl
	--		WHERE cl.IdRoute = @Route)

	--END
	--ELSE
	--BEGIN

	UPDATE DeliveryBackOffice.dbo.DeliveryOrder
			SET StatusOrderId = @StatusId
			WHERE CONCAT(Guide_Serie,CAST(Guide_Number AS VARCHAR)) =  @Guide
		


	SELECT
			CONCAT(pc.GuideSerie,CAST(pc.GuideNumber AS VARCHAR),'-',CAST(pc.NoPiece AS VARCHAR)) GUIA
		   ,ISNULL(serv.Ticket_Number,'') AS Ticket_Number
		   ,ISNULL(serv.Receiver_FirstName,'') + ' ' + ISNULL(serv.Receiver_LastName,'') NAME
		   ,hl_origen.HubAbbreviation AS HUB_ORIGEN
		   ,hl_destino.HubAbbreviation AS HUB_DESTINO
		   ,hl_destino.IdHubLogistic
		   ,(SELECT
							COUNT(1)
						FROM DeliveryOrderPiece
						WHERE GuideNumber = serv.Guide_Number
						AND serv.Guide_Serie = GuideSerie
						AND StatusOrderId = 11) PIEZAS_PROCESADAS
		   ,serv.Pieces_Dry + serv.Pieces_Cold AS CANT_PIEZAS_TOTAL
		   ,CAST((serv.Pieces_Dry + serv.Pieces_Cold) - (SELECT
							COUNT(1)
						FROM DeliveryOrderPiece
						WHERE GuideNumber = serv.Guide_Number
						AND serv.Guide_Serie = GuideSerie
						AND StatusOrderId != 11) AS VARCHAR(50)) + ' de ' + CAST(serv.Pieces_Dry + serv.Pieces_Cold AS VARCHAR(50))  AS PIEZAS_PENDIENTES
		  -- ,1 as RUTA
		  -- ,getdate() as FechaRuta
		   --,200 as StatusCode
		FROM DeliveryBackOffice.dbo.DeliveryOrder serv
		JOIN DeliveryBackOffice.dbo.TownshipByHubLogistic tbh_origen
			ON serv.SenderIdTownship = tbh_origen.IdTownship
				AND tbh_origen.StatusTownshipHub = 1
		JOIN DeliveryBackOffice.dbo.TownshipByHubLogistic tbh_destino
			ON serv.ReceiverIdTownship = tbh_destino.IdTownship
				AND tbh_destino.StatusTownshipHub = 1
		JOIN DeliveryBackOffice.dbo.HubLogistics hl_origen
			ON tbh_origen.IdHublogistic = hl_origen.IdHubLogistic
		JOIN DeliveryBackOffice.dbo.HubLogistics hl_destino
			ON tbh_destino.IdHublogistic = hl_destino.IdHubLogistic
		JOIN DeliveryOrderPiece pc
			ON serv.Guide_Number = pc.GuideNumber
				AND serv.Guide_Serie = pc.GuideSerie
		WHERE CONCAT(pc.GuideSerie,CAST(pc.GuideNumber AS VARCHAR),'-',CAST(pc.NoPiece AS VARCHAR)) =  @Guide
		PRINT @Guide
	--END

END


