USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetExternalPlatformServicesToNullify]    Script Date: 2/17/2022 2:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Oscar Morales>
-- Create date: <2022-02-16>
-- Description:	<Obtiene el listado de guías procesados en el día con simpliroute que este en estado terminal>
-- =============================================
CREATE PROCEDURE [dbo].[GetExternalPlatformServicesToNullify]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT
		CONCAT(eps.GuideSerie
	   ,eps.GuideNumber) Guide
	   ,COUNT(1) Count
	FROM ExternalPlatformServiceLog eps WITH (NOLOCK)
	JOIN DeliveryOrder do WITH (NOLOCK)
		ON do.Guide_Serie = eps.GuideSerie
			AND do.Guide_Number = eps.GuideNumber
	LEFT JOIN ExtPlatServiceRelationshipWithGuide esrw WITH (NOLOCK)
		ON esrw.GuideSerie = eps.GuideSerie
			AND esrw.GuideNumber = eps.GuideNumber
	WHERE CAST(eps.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
	AND do.StatusOrderId IN (5, 7, 14, 22, 23, 24, 25, 30)
	AND (esrw.RowStatus IS NULL
	OR esrw.RowStatus = 1)
	GROUP BY eps.GuideSerie
			,eps.GuideNumber
END
