USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[get_RouteReturn]    Script Date: 14/04/2021 11:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================================================
-- Author:		<Marco Jiménez>
-- Create date: <2021-04-14>
-- Description:	<Retorna las rutas que inicien con el parámetro brindado>
-- ============================================================================================


IF EXISTS ( SELECT 1 
            FROM   sysobjects 
            WHERE  id = object_id(N'[dbo].[GetRoutes]') 
                   and OBJECTPROPERTY(id, N'IsProcedure') = 1 )
BEGIN
    DROP PROCEDURE [dbo].[GetRoutes]
END

GO

CREATE PROCEDURE [dbo].[GetRoutes]
@RouteChar AS NVARCHAR 
AS
BEGIN

	SELECT IdRoute IdRoute, CodeRoute  FROM CatRoute
	WHERE LEFT(UPPER(CodeRoute),1) = @RouteChar 

END


