USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_get_PhoneToMessage]    Script Date: 28/09/2020 8:12:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Hernandez, Josselyn>
-- Create date: <2020-09-25>
-- Description:	<Valida y Devuelve el numero de Telefono>
-- =============================================
CREATE PROCEDURE [dbo].[spg_get_PhoneToMessage]
		@Token AS VARCHAR(50)    = 'ad1a2328ed27ea99622f68deae5d9976',
		@Rol AS BIGINT 			 =  1,
		@Zone AS VARCHAR(100) = '',
		@Department AS VARCHAR(100) = '',
		@Town AS VARCHAR(100) ='',
		@Manifest AS VARCHAR(50) = '',
		@DateSettlement AS VARCHAR(50) = '',
		@HideOrigin BIT = 0, -- status 6
		@HideForza BIT = 0 -- status 8
AS
--
--exec [dbo].[spg_get_PhoneToMessage] @Manifest = 'FM1003'
BEGIN

		SELECT  			 
			serv.Guide_Serie +  CAST(serv.Guide_Number AS VARCHAR) Guide,
			--(CASE 
			--	WHEN mat.MSM_ValueRegistrationForm IS NULL 
			--		THEN 0
			--		ELSE 1 
			--END) HandHeld,
			serv.Receiver_Address 'Address',
			serv.Receiver_Zone 'Zone',
			serv.Receiver_Town Town,
			serv.Receiver_Department Department,
			'' DateSettlement,
			serv.Receiver_Phone
		FROM DeliveryBackOffice.DBO.DeliveryOrder serv WITH (NOLOCK)
		WHERE 
		serv.StatusOrderId <> 7 AND -- ocultar los servicios anulados
		serv.StatusOrderId <> 5 AND -- ocultar los servicios entregados
		serv.Manifest_Number <> 999 AND -- ocultar primer servicio (semilla)
		( -- ocultar las guías que tengan en su historia retornado al origen
			@HideOrigin = 0
			OR
			serv.Guide_Number NOT IN (
				SELECT distinct [Guide_Number] FROM [DeliveryBackOffice].[dbo].[DeliveryOrderDetail] where StatusOrderId = 6
			)
		) AND
		( -- ocultar las guías que tengan en su historia retornado a Forza
			@HideForza = 0
			OR
			serv.Guide_Number NOT IN (
				SELECT distinct [Guide_Number] FROM [DeliveryBackOffice].[dbo].[DeliveryOrderDetail] where StatusOrderId = 8
			)
		) AND
		--serv.StatusOrderId IN (1,8,10) AND -- mostrar solo servicios Solicitados, Retornados a Forza y En Inventario
		serv.Manifest_Number <> 1000 AND -- ocultar servicios en blanco de sosep
		(@Zone = '' OR Receiver_Zone = @Zone)  AND
		(@Department = '' OR Receiver_Department = @Department ) AND
		(@Town = '' OR Receiver_Town = @Town) AND
		
		--(@Department = '' OR Receiver_Department LIKE '%' + @Department + '%') AND
		--(@Town = '' OR Receiver_Town LIKE '%' + @Town + '%' ) AND
		(
		 @Manifest = '' OR 
		  (
		  Manifest_Serie +  CAST(Manifest_Number AS VARCHAR) = @Manifest		   
		  )
		 )  
		
		--(@DateSettlement = NULL OR Receiver_Zone = @DateSettlement) AND PENDIENTE
		
		INSERT INTO DeliveryBackOffice.DBO.DeliveryOrder (Receiver_Alternant_Address) 
		(SELECT SMS_Message from [DeliveryBackOffice].[dbo].[SMS_Received], DeliveryBackOffice.DBO.DeliveryOrder serv WITH (NOLOCK) WHERE SMS_Short_Number = '502' + serv.Receiver_Phone)


END
