USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spws_get_price_courierapp]    Script Date: 15/02/2021 17:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<César,Aquino>
-- Create date: <2021-01-08>
-- Description:	<Devuelve el listado de Direcciones asiganadas a una cuenta>
-- =============================================

ALTER PROCEDURE [dbo].[spws_get_price_courierapp]
	-- Add the parameters for the stored procedure here
	@Token VARCHAR(200),
	@IdPickup   bigint,
	@InGuides  nvarchar(max) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @jsonSummary NVARCHAR(MAX) 
	DECLARE @jsonDetail NVARCHAR(MAX) 

	DECLARE @jsonResult NVARCHAR(MAX) 

	declare @PickupRate decimal(12,2) =  (SELECT top 1 isnull(ct.Value,15) FROM dbo.CatToCharge ct where ct.Name ='PickupRate') -- tarifa de recoleccion 


IF OBJECT_ID('tempdb.dbo.#listGuides', 'U') IS NOT NULL DROP TABLE #listGuides;
IF OBJECT_ID('tempdb.dbo.#PickGuides', 'U') IS NOT NULL DROP TABLE #PickGuides;
IF OBJECT_ID('tempdb.dbo.#OutGuides', 'U') IS NOT NULL DROP TABLE #OutGuides;
IF OBJECT_ID('tempdb.dbo.#PickPrices', 'U') IS NOT NULL DROP TABLE #PickPrices;
IF OBJECT_ID('tempdb.dbo.#OutPrices', 'U') IS NOT NULL DROP TABLE #OutPrices;
IF OBJECT_ID('tempdb.dbo.#TblPrices', 'U') IS NOT NULL DROP TABLE #TblPrices;

	


	-- TODO  validacion de token
	--declare @IdUser bigint  = (select top 1 t.TknIdUser from TokenLog t
	--					where t.TknIdToken = @Token)

	-- OBTENERE LISTADO DE GUIAS
select SUBSTRING(Item, 1,2) ItemSerie,
SUBSTRING(Item,3, iif(CHARINDEX('-',Item)=0, (len(item)) , (CHARINDEX('-',Item)- 3))) ItemNumber --, 
--SUBSTRING(Item,CHARINDEX('-',Item),len(Item)) ItemPiece, 
--CHARINDEX('-',Item) charinde,  
--len(Item) len
		into #listGuides
		from DenariusDesktop_Dev.dbo.SplitUnlimited(@InGuides,',')


 -- select * from #listGuides

-- SEPARAR GUIAS ASOCIADAS A RECOLECCION

	SELECT     distinct ls.ItemNumber, ls.ItemSerie, d.DopId  INTO #PickGuides 
	FROM #listGuides ls
		left join DeliveryOrderPaymentDetail  d on d.GuideSerie = ls.ItemSerie and d.GuideNumber = ls.ItemNumber  and d.IdHeaderRecolection = @IdPickup
	where d.DopId is not null 

	select  ls.ItemSerie, ls.ItemNumber, 0 isPayed, isnull(d.PaymentRecollections,0) PaymentPickup ,   isnull(d.RecolectPayment,0)PickupRate
		into #PickPrices		
		from #PickGuides ls
		join DeliveryOrderPaymentDetail  d on d.GuideSerie = ls.ItemSerie and d.GuideNumber = ls.ItemNumber

	-- select * from #PickPrices

-- SEPARAR GUIAS QUE NO ESTAN ASOCIADAS
	SELECT ls.* INTO #OutGuides 
	FROM #listGuides ls
		left join DeliveryOrderPaymentDetail  d on d.GuideSerie = ls.ItemSerie and d.GuideNumber = ls.ItemNumber  and d.IdHeaderRecolection = @IdPickup
	where d.DopId is null

	--select * from #OutGuides

	-- verificar si la guia ya está pagada
	
	select ou.*, isnull(cr.StatusSend,0) as isPayed, do.PriceShippment as PaymentPickup , @PickupRate as PickupRate  
	into #OutPrices
	from #OutGuides  ou
		left join DeliveryBackOffice.dbo.CreditCardTransactionByCustomerDetail dt on dt.SerieNumber = ou.ItemSerie  and  dt.ProductNumber = ou.ItemNumber 
		left join  CreditCardTransactionByCustomer cr on cr.OrderNumber = dt.OrderNumber -- and cr.StatusSend =1
		left join dbo.DeliveryOrder do on do.Guide_Serie = ou.ItemSerie and do.Guide_Number = ou.ItemNumber
	
	-- unir tablas de precios que pertenecen a la recoleccion y las que no
	select * 
	into #TblPrices
	from (
	SELECT * FROM #PickPrices
	union
	select * from #OutPrices)as tbl

	-- agrupar por serie y numero de guia para detalle 

	set @jsonDetail = (SELECT STUFF(( 
	
		select
			',{"GuideSerie":"' +   tbl.ItemSerie + '",' +
			'"GuideNumber":"' + CONVERT(varchar, tbl.ItemNumber) + '",' + 
			'"Amount":"' +convert(varchar, sum(tbl.PaymentPickup)) + '",' +
			'"PickupRate":"' + convert(varchar,@PickupRate) + 
			+ '"}'
		from #TblPrices tbl
		group by tbl.ItemSerie, tbl.ItemNumber
		FOR XML PATH(''), TYPE
							).value('.', 'varchar(max)'),1,1,''
									) )

	-- no agrupar para resumen

		set @jsonSummary = (SELECT STUFF(( 
	
		select
			',{"Amount":"' + convert(varchar,sum(tbl.PaymentPickup)) + '",' +
			'"PickupRate":"' + convert(varchar,@PickupRate) + 
			+ '"}'
		from #TblPrices tbl
		--group by tbl.ItemSerie, tbl.ItemNumber
		FOR XML PATH(''), TYPE
							).value('.', 'varchar(max)'),1,1,''
									) )

		------ unir encabezado y detalle para resultado

		         SET @jsonResult =
                        (
                            SELECT STUFF(
                        (
                            SELECT '{"IdResult":200' + ',' + '"Summary":[' + @jsonSummary + '],' + '"Detail":[' + @jsonDetail + ']' + '' FOR XML PATH(''), TYPE
                        ).value('.', 'varchar(max)'), 1, 1, '')
                        );
	



		-- retornar resultado en formato json
	If @jsonResult is null 
	begin

		set @jsonResult =(
					SELECT STUFF(( 
					SELECT '{{"IdResult":500,' 
					+ '"Message":" No se econtraron registros"}' 
		
					FOR XML PATH(''), TYPE
					).value('.', 'varchar(max)'),1,1,''
						  ) 
					)
	end
	
		select ('{' + @jsonResult +  '}') jsonResult

	

END


