USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_update_CatVehicle]    Script Date: 02/03/2021 12:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Hugo, Gomez>
-- Create date: <2020-02-15>
-- Description:	<Actualiza los vehiculos>
-- =============================================
CREATE PROCEDURE [dbo].[spg_update_CatVehicle]
@UnitNumber VARCHAR (10) = '1234',
@CodeName VARCHAR (200) = 'TEST',
@IdTypeVehicle  INT  = 1,
@Plate VARCHAR (20) = 'C 123A',
@Year INT = 2020,
@Capacity DECIMAL (12,2)= 12.50 
,@WhiteLineCapacity	DECIMAL (12,2)= 12.50
,@IrregularCapacity	DECIMAL (12,2)= 12.50
,@RowStatus	bit = 1 
--,@TokenCreated varchar (50) = 'TEST'
,@TokenUpdated varchar (50) = 'TEST'
,@CatVehicleCategoriesId int = 1
,@CatVehicleBrandId int = 1
,@Long decimal (14,2) = 0.00
,@Width decimal (14,2) = 0.00
,@High decimal (14,2) = 0.00
,@CubicMeters decimal (14,2) = 0.00
,@CapabilityEcomerce decimal (14,2) = 0.00


AS
BEGIN
		BEGIN TRANSACTION
					BEGIN TRY

					UPDATE dbo.CatVehicle SET  CodeName = @CodeName, IdTypeVehicle = @IdTypeVehicle, Plate = @Plate, Year = @Year
					, Capacity = @Capacity, WhiteLineCapacity= @WhiteLineCapacity, IrregularCapacity = @IrregularCapacity, RowStatus = @RowStatus, TokenUpdated = @TokenUpdated,
					DateUpdated = GETDATE(), CatVehicleCategoriesId = @CatVehicleCategoriesId, CatVehicleBrandId = @CatVehicleBrandId, Long = @Long, Width = @Width, High = @High, CubicMeters = @CubicMeters,
					CapabilityEcomerce = @CapabilityEcomerce
					WHERE UnitNumber = @UnitNumber

					END TRY
					BEGIN CATCH
						ROLLBACK TRANSACTION
							select ERROR_MESSAGE()
								-- retornar mensaje de error
						
					END CATCH;
					IF @@TRANCOUNT > 0 BEGIN
						COMMIT TRANSACTION;
						select 'Se guardo con éxito'
						END

END