USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetCourierPhoneToken]    Script Date: 16/02/2021 17:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Hugo,Gomez>
-- Create date: <2021-02-11>
-- Description:	<Recotizacion>
-- =============================================


ALTER PROCEDURE [dbo].[GetCourierPhoneToken]
	-- Add the parameters for the stored procedure here
		@Phone  NVARCHAR(20) = '48119415',
		@Token varchar(MAX) = '21a31fd231as23d1f21ads'
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @jsonResult NVARCHAR(MAX) 

		-- insertar en tabla temporal posbibles mensajes de respuesta

		IF OBJECT_ID('tempdb.dbo.#responsemessage', 'U') IS NOT NULL DROP TABLE #responsemessage;
			select * INTO #responsemessage from (SELECT  200 AS IdResult
					,'Estado  cambiado correctamente' AS Message
					,'OK' as Id 
			union
			SELECT  500 AS IdResult
					,'Error faltal intente de nuevo mas tarde' AS Message
					,'Transac' as Id 
		 )  as errror 

	BEGIN TRANSACTION
		BEGIN TRY

			
			declare @phon varchar (10) = (select ID from  SenderReceiver
			where Phone LIKE '%' + @Phone + '%') 


			insert  into dbo.LogTokenPOD (LogTokenPOD, IdCourierman, RowStatus, DateCreated, DateUpdate)
			values(@Token, @phon, 1 , GETDATE(), null)
				
			DECLARE @jsonResult1 NVARCHAR(MAX) 

			--CONVERT(varchar,@Existingdate,3) as [DD/MM/YY]


			set @jsonResult1 = (SELECT STUFF(( 
			select top 1
			 ',{"IdCourier":"' +  convert(varchar, Isnull(CONVERT(varchar(10), pod.IdCourierman), 'N/A')) + '",' +
			  '"DateToken":"' + isnull(convert( varchar, pod.DateCreated,23), 'N/A')  +  '",' +
			  '"FirstName":"' + isnull(convert( varchar, sr.First_Name), 'N/A')  +  '",' +
			  '"LastName":"' + isnull(convert( varchar, sr.Last_Name), 'N/A')  +  '",' +
			  '"Token":"' + CONVERT(varchar, IsNull(LogTokenPOD, 'N/A'))  +
							+ '"}'
			from LogTokenPOD pod
			inner join SenderReceiver sr on (sr.ID = pod.IdCourierman)
			where LogTokenPOD = @Token	
			order by 1 desc
	
			FOR XML PATH(''), TYPE
							).value('.', 'varchar(max)'),1,1,''
									) )
									print 'ingresa2'
										print @jsonResult


										--select * from SenderReceiver
										--where Phone like '%55832214%'

										--select * from LogTokenPOD

		-- retornar resultado en formato json
	If @jsonResult1 is null 

	begin

		set @jsonResult1 =(
					SELECT STUFF(( 
					SELECT '{{"IdResult":500,' 
					+ '"Message":" No se encontraron registros"}' 
		
					FOR XML PATH(''), TYPE
					).value('.', 'varchar(max)'),1,1,''
						  ) 
					)
	end

		select ('[' + @jsonResult1 +  ']') jsonResult1


	
	set @jsonResult =(
				SELECT STUFF(( 
				SELECT '{"IdResult":' + convert(varchar,IdResult)    +',' 
				+ '"Message":"' + Message + '"}' from #responsemessage where Id ='OK'
				FOR XML PATH(''), TYPE
				).value('.', 'varchar(max)'),1,1,''
					  ) 
			)

		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION
			select ERROR_MESSAGE()
				-- retornar mensaje de error
			set @jsonResult =(
				SELECT STUFF(( 
				SELECT '{"IdResult":' +  convert(varchar,IdResult)    +',' 
				+ '"Message":"' + convert( nvarchar(max),ERROR_MESSAGE()) + '"}' from #responsemessage where Id ='Invalid'
				FOR XML PATH(''), TYPE
				).value('.', 'varchar(max)'),1,1,''
					  ) 
			)
		END CATCH;
		IF @@TRANCOUNT > 0 BEGIN
			COMMIT TRANSACTION;
			--- succesfull
		END
		
		-- destruir tablas temporales

		IF OBJECT_ID('tempdb.dbo.#listGuides', 'U') IS NOT NULL DROP TABLE #listGuides;
		IF OBJECT_ID('tempdb.dbo.#responsemessage', 'U') IS NOT NULL DROP TABLE #responsemessage;

		-- retornar resultado en formato json

				select ('[{' + @jsonResult +  ']') jsonResult

END



