USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_set_AssigmentPilot]    Script Date: 17/02/2021 08:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-02-15>
-- Description:	<Asigna una Piloto a un ruta>
-- =============================================
CREATE PROCEDURE [dbo].[spg_set_AssigmentPilot]
		@idRoute AS int,
		@idCourrieMan as int,
		@idVehicle as int,
		@dateRoute AS date,
		@token as varchar(50),
		@dateCreated as datetime
AS
BEGIN
	DECLARE @idRouteAssigment int
	DECLARE @countCourrier int
	DECLARE @countVehicle int

	SELECT @countCourrier = COUNT(*) 
	FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
	WHERE DateOfRoute = @dateRoute AND IdCurrierMan = @idCourrieMan

	SELECT @countVehicle = COUNT(*) 
	FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
	WHERE DateOfRoute = @dateRoute AND IdVehicle = @idVehicle

	IF EXISTS(SELECT IdRouteAssigment 
		FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
		WHERE IdRoute = @idRoute AND DateOfRoute = @dateRoute)
	BEGIN
		IF(@countCourrier = 0) AND (@countVehicle = 0)
		BEGIN
			SET @idRouteAssigment = (SELECT IdRouteAssigment 
									 FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
									 WHERE IdRoute = @idRoute AND DateOfRoute = @dateRoute)

			UPDATE [DeliveryBackOffice].[dbo].[RouteAssigment] Set IdCurrierMan=@idCourrieMan, IdVehicle=@idVehicle WHERE IdRouteAssigment=@idRouteAssigment
			UPDATE [DeliveryBackOffice].[dbo].[ServiceManagement] Set IdPuCourrier=@idCourrieMan WHERE IdPuRouteAssigment=@idRouteAssigment
		END
	END
	ELSE
	BEGIN
		IF(@countCourrier = 0) AND (@countVehicle = 0)
		BEGIN
			INSERT INTO [DeliveryBackOffice].[dbo].[RouteAssigment] (IdRoute,IdCurrierMan,IdVehicle,DateOfRoute,RowStatus,TokenCreated,DateCreated)
			VALUES (@idRoute,@idCourrieMan,@idVehicle,@dateRoute,1,@token,@dateCreated)
		END
	END

	SELECT @countCourrier as countCourrier,@countVehicle as CountVehicle
END