USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SetPaymentCostList]    Script Date: 29/05/2021 01:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Aquino,César>
-- Create date: <2021-05-29>
-- Description:	<Registrar pagos de guias de trasporte>
-- =============================================

CREATE PROCEDURE [dbo].[SetPaymentCostList]

 @TypeProduct int -- = 1
  ,@ProductNumber Nvarchar(max)  --= 'FD200427,FD200426,FD200424,FD200373,FD200314,FD200315,FD200316,FD200317,FD200318,FD200319,FD200320,FD200321,FD200322'
  ,@TblDetail AS TblPaymentList READONLY	
  ,@PricePayment decimal(12,2) = 0
  ,@TypeCharge int  = 1
  ,@Token varchar(50)  = 'SYS-PAYMENT'
  ,@CODPayment  decimal(12,2) =0
  ,@ReturnPayment decimal(12,2) = 0
  ,@Responsible varchar(100)  = ''
  ,@CodeApp VARCHAR(100) = ''
  ,@IdModule int 
  ,@PaymentOption VARCHAR(30) ='ALL'

  AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	IF OBJECT_ID('tempdb.dbo.#listGuides', 'U') IS NOT NULL DROP TABLE #listGuides;


	select distinct SUBSTRING(Item, 1,2) ItemSerie,
		SUBSTRING(Item,3, iif(CHARINDEX('-',Item)=0, (len(item)) , (CHARINDEX('-',Item)- 3))) ItemNumber 
		, concat(  SUBSTRING(Item, 1,2) , SUBSTRING(Item,3, iif(CHARINDEX('-',Item)=0, (len(item)) , (CHARINDEX('-',Item)- 3)))) Product
	into #listGuides
	from DenariusDesktop_Dev.dbo.SplitUnlimited(@ProductNumber,',')

	-------------------------- revalorizar guias que no tengan precio ------------------------------------------------------------

	IF OBJECT_ID('tempdb.dbo.#RevalueGuides', 'U') IS NOT NULL DROP TABLE #RevalueGuides;

	DECLARE @IsReturn bit = 'false'

	select ord.Guide_Serie 
		, ord.Guide_Number 
		, iif(ord.StatusOrderId = 14 , 1,0) as IsReturn -- si la guia fue devuleta, revalorizar como devolucion 
	Into #RevalueGuides
	from #listGuides lst
		join dbo.DeliveryOrder ord on ord.Guide_Number = lst.ItemNumber and ord.Guide_Serie = lst.ItemSerie
	where ord.PriceShippment is null or ord.PriceShippment =0 or ord.StatusOrderId = 14

	DECLARE @count INT;
	SET @count = 1;
	DECLARE @RevalueSerie varchar(10) 
	DECLARE @RevalueGuide int
		
	declare @IdMax as int = (SELECT COUNT(*) FROM #RevalueGuides)
	declare @RC  int

	WHILE @count<= @IdMax
	BEGIN
		
		SELECT TOP 1 
			@RevalueSerie = rv.Guide_Serie
			,@RevalueGuide = rv.Guide_Number
			,@IsReturn = rv.IsReturn
		FROM #RevalueGuides rv;

	
		EXECUTE @RC = [dbo].[spws_revalue_guide] 
		   @GuideSerie = @RevalueSerie
		  ,@GuideNumber =@RevalueGuide
		  ,@CodeApp = @CodeApp
		  ,@Format = 'Non'
		  ,@CalculateTaxes ='true'
		  ,@IdModule = @IdModule
		  ,@SetUpdate ='true'
		  ,@Token = @Token
		  ,@IsReturn = @IsReturn

		SET @count = @count + 1;
		DELETE TOP (1) FROM #RevalueGuides
	END

----  fin revalorizacion de guias -------------------------------------------------------------------------------------------

-------------------------  validacion de  montos ----------------------------------------------------------------------------
	
	DECLARE @TotalAmount decimal(12,2)
	 DECLARE @FullPayment decimal(12,2) = @PricePayment + @CODPayment + @ReturnPayment

	select  @TotalAmount =sum( isnull(tp.Amount,0)) 
	from  @TblDetail tp


	-- quitar esta linea es solo para pruebas
	--set @TotalAmount = @FullPayment

	print @totalAmount
	print @FullPayment

	if (@TotalAmount- @FullPayment)< 0.01
		begin
			-- TODO verificar si el monto del pago cubre todos los gastos.
			BEGIN TRANSACTION
			BEGIN TRY
				-- insertar pago
				INSERT INTO dbo.ProductPayment
				([Amount]
				,[DatePayment]
				,[ModuleId]
				,[Responsible]
				,[RowStatus]
				,[TokenCreated]
				,[DateCreated])
				VALUES(
				@PricePayment + @CODPayment + @ReturnPayment
				,getdate()
				,@IdModule
				,@Responsible
				,1 -- status activo por defecto
				,@Token
				, GETDATE())

				DECLARE @IdProductPayment bigint 
				set @IdProductPayment = SCOPE_IDENTITY()

				-- insertar detalle de pago
	

				INSERT INTO dbo.ProductPaymentDetail
				([ProductPaymentId]
				,[TypeOfMoneyId]
				,[Amount]
				,[Voucher]
				,[RowStatus]
				,[TokenCreated]
				,[DateCreated])
				select 
					@IdProductPayment
					,tp.IdTypeOfMoney
					,tp.Amount
					,tp.Voucher
					,1 -- registro acitvo por defecto
					,@Token
					,getdate()
				from @TblDetail tp


				-- insertar relacion de Pago con costo

				INSERT INTO dbo.ProductPaymentCost
				([ProductPaymentId]
				,[CostId]
				,[RowStatus]
				,[TokenCreated]
				,[DateCreated])
				select 
				@IdProductPayment
				,cs.IdCost
				,1
				,@Token
				,GETDATE()
				from #listGuides ls
					 join dbo.Cost cs on cs.ProductNumber = ls.Product

				-- actualizar pagos Tabla cost
				if @PaymentOption = 'all'
				begin
					UPDATE dbo.Cost
				 set TotalAmountPaid =cs.TotalAmount
				 , CODAmount = ord.Collect_OnDelivery
				 , ReturnPaid = cs.ReturnAmount
				from #listGuides ls
					 join dbo.Cost cs on cs.ProductNumber = ls.Product
					 join dbo.DeliveryOrder ord on ord.Guide_Serie = ls.ItemSerie and ord.Guide_Number = ls.ItemNumber
				where cs.TotalAmountPaid is null or cs.TotalAmountPaid =0
				end

				if @PaymentOption = 'Delivery'
				begin
					UPDATE dbo.Cost
				 set TotalAmountPaid =cs.TotalAmount
				from #listGuides ls
					 join dbo.Cost cs on cs.ProductNumber = ls.Product
					 join dbo.DeliveryOrder ord on ord.Guide_Serie = ls.ItemSerie and ord.Guide_Number = ls.ItemNumber
				where cs.TotalAmountPaid is null or cs.TotalAmountPaid =0
				end

				if @PaymentOption = 'COD'
				begin
					UPDATE dbo.Cost
				 set 
				 CODAmount = ord.Collect_OnDelivery
				from #listGuides ls
					 join dbo.Cost cs on cs.ProductNumber = ls.Product
					 join dbo.DeliveryOrder ord on ord.Guide_Serie = ls.ItemSerie and ord.Guide_Number = ls.ItemNumber
				where cs.TotalAmountPaid is null or cs.TotalAmountPaid =0
				end

				if @PaymentOption = 'Return'
				begin
					UPDATE dbo.Cost
				 set ReturnPaid = cs.ReturnAmount
				from #listGuides ls
					 join dbo.Cost cs on cs.ProductNumber = ls.Product
					 join dbo.DeliveryOrder ord on ord.Guide_Serie = ls.ItemSerie and ord.Guide_Number = ls.ItemNumber
				where cs.TotalAmountPaid is null or cs.TotalAmountPaid =0
				end
				

			END TRY
			BEGIN CATCH
			--mensaje de error
				ROLLBACK TRANSACTION
				select 500 as idResult, 'Error verifica los datos de entrada' as MsgResult
			END CATCH;
			IF @@TRANCOUNT > 0 BEGIN
				COMMIT TRANSACTION;
				--- succesfull
				select 200 as idResult, 'Pago Aplicado correctamente' as MsgResult
			END
		end
	else
		begin
			select 402 as idResult, 'Error no cuadran los montos' as MsgResult
		end
END