USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[get_RouteReturn]    Script Date: 14/04/2021 11:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================================================================
-- Author:		<Marco Jiménez>
-- Create date: <2021-04-14>
-- Description:	<Retorna los destinos permitidos para una ruta linehauls con el parámetro brindado>
-- ============================================================================================


IF EXISTS ( SELECT 1 
            FROM   sysobjects 
            WHERE  id = object_id(N'[dbo].[GetDestinationLinehauls]') 
                   and OBJECTPROPERTY(id, N'IsProcedure') = 1 )
BEGIN
    DROP PROCEDURE [dbo].GetDestinationLinehauls
END

GO

CREATE PROCEDURE [dbo].GetDestinationLinehauls
@IdRoute AS INT 
AS
BEGIN

	SELECT ISNULL(hl_destino.HubAbbreviation ,'N/A') AS HUBNAME FROM CatLinehaul cl
	JOIN DeliveryBackOffice.dbo.HubLogistics hl_destino
			ON cl.IdHubDestination = hl_destino.IdHubLogistic
	WHERE cl.IdRoute = @IdRoute 

END


