USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_drop_logic_CatVehicle]    Script Date: 03/03/2021 9:39:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Hugo, Gomez>
-- Create date: <2020-02-15>
-- Description:	<Elimina logicamente los vehiculos>
-- =============================================
CREATE PROCEDURE [dbo].[spg_drop_logic_CatVehicle]
@Numeric VARCHAR (10) = '1234'
--,@Token varchar (50) = 'TEST'



AS
BEGIN
		BEGIN TRANSACTION
					BEGIN TRY

					declare @RowStatus	bit = 0 

					UPDATE dbo.CatVehicle SET RowStatus = 0--, TokenUpdated = @Token,
					,DateUpdated = GETDATE()
					WHERE UnitNumber = @Numeric

					END TRY
					BEGIN CATCH
						ROLLBACK TRANSACTION
							select ERROR_MESSAGE()
								-- retornar mensaje de error
						
					END CATCH;
					IF @@TRANCOUNT > 0 BEGIN
						COMMIT TRANSACTION;
						select 'Se guardo con éxito' as StatusCode 
						END

END

select * from  CatVehicle