USE [DeliveryBackOffice]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC   [dbo].[GetGeneratedBatchCOD]
alter PROCEDURE [dbo].[GetGeneratedBatchCOD]
AS
BEGIN	

	BEGIN TRY
	
		SELECT bcod.BankId AS PayingBank, bcod.IdBatchCOD,bcod.BatchNumber AS BATCHNUMBER, 'TRUE' AS blnResult 
									FROM DeliveryBackOffice.dbo.ProcessedGuideCOD pg
									INNER JOIN  DeliveryBackOffice.dbo.BatchCOD bcod ON pg.BatchCODId = bcod.IdBatchCOD
									WHERE 
									pg.BatchNotified IS NULL
									AND pg.BatchCODId IS NOT NULL
									AND pg.BatchCODIdCommission IS NOT NULL
									AND bcod.BankId IN (5, 33);
		
	END TRY
	BEGIN CATCH
		SELECT 'RollBackTransaction' AS message,
				'FALSE'	blnResult,
				CAST(-1 AS VARCHAR(5)) IdResult,
				CAST(500 AS VARCHAR(5)) StatusResult,
				CAST(ERROR_NUMBER() AS VARCHAR) AS ErrorNumber,
				CAST(ERROR_SEVERITY() AS VARCHAR) AS ErrorSeverity,
				CAST(ERROR_STATE() AS VARCHAR) AS ErrorState,
				CAST(ERROR_PROCEDURE() AS VARCHAR) AS ErrorProcedure,
				CAST(ERROR_LINE() AS VARCHAR) AS ErrorLine,
				CAST(ERROR_MESSAGE() AS VARCHAR) AS ResultMessage;

		
	END CATCH;	
	
END
