USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_CreateSettlementCoverage]    Script Date: 6/12/2021 08:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Alberto,Ixchop>
-- Create date: <2021-11-16>
-- Description:	<Crea un nuevo poblado y crea una nueva cobertura para este poblado>
-- =============================================
CREATE PROCEDURE [dbo].[sphd_CreateSettlementCoverage]
	@tokenUser nvarchar(50),
	@nameNewSettlement nvarchar(100),
	@idTownShip int,
	@idHub		int,
	@IdRoute	int,
	@SDD		bit,
	@NDD		bit,
	@TDA		bit,
	@ConcatedCov nvarchar(50)
AS
BEGIN

	BEGIN TRANSACTION INI
	SAVE TRANSACTION POINT1

	BEGIN TRY
		DECLARE @idprovince int ;
		DECLARE @headerCode varchar(10);

		DECLARE @idcontry nvarchar(3) =(select IdCountry from dbo.Province prv where prv.IdProvince=@idprovince);
		DECLARE @idNewsetlement int=(SELECT IDENT_CURRENT('Settlement'))+1;
		DECLARE @routecode nvarchar(100) = (select CodeRoute from dbo.CatRoute where IdRoute=@IdRoute);
		
		DECLARE @deliveryTime nvarchar(50);

		select @idprovince=IdProvince,@headerCode=HeaderCode from dbo.Township twn where twn.IdTownship=@idTownShip
		--select * from HubLogistics;
		DECLARE @hubcode nvarchar(50) = (select HubAbbreviation from HubLogistics where IdHubLogistic=@idHub  );
		IF (@TDA=1)
		BEGIN
			
			SET @deliveryTime=(select CtsDescription from dbo.CatTypeService where CtsShortName='TDA');
			SET @SDD=0
			SET @NDD=0
		END
		ELSE IF (@NDD=1 AND @SDD=1)
		BEGIN
			SET @deliveryTime= (SELECT STUFF((SELECT ' o ' + CtsDescription
                FROM DBO.CatTypeService 
                WHERE CtsShortName IN ('SDD','NDD')
                FOR XML PATH('')),1,3,''))
		END
		ELSE IF (@SDD=1)
		BEGIN
			SET @deliveryTime=(select CtsDescription from dbo.CatTypeService where CtsShortName='SDD');
		END
		ELSE IF (@NDD=1)
		BEGIN
			SET @deliveryTime=(select CtsDescription from dbo.CatTypeService where CtsShortName='NDD');
		END
		
		INSERT INTO dbo.Settlement 
				(Settlement,
				SettlementLatitud,
				SettlementLongitud,
				PostalCode,
				SettlementSatus,
				IdTownship,
				IdProvince,
				IdCountry,
				IsSpecial,
				TokenCreated,
				DateCreated,
				TokenUpdated,
				DateUpdated
				) values (
			@nameNewSettlement,
			NULL,
			NULL,
			NULL,
			1,
			@idTownShip,
			@idprovince,
			@idcontry,
			0,
			@tokenUser,
			GETDATE(),
			NULL,
			NULL
		);
		--select * from dbo.DumpServiceCoverage

		INSERT INTO dbo.DumpServiceCoverage 
			(
				DumpFileName,
				DumpVersion,
				HeaderCode,
				IdSettlement,
				Coverage,
				DeliveryTime,
				Hub,
				RouteCode,
				SDD,
				NDD,
				TDA,
				RowStatus,
				TokenCreated,
				DateCreated,
				TokenUpdated,
				DateUpdated

			) values(
			'',
			'',
			@headerCode,
			@idNewsetlement,
			@ConcatedCov,
			@deliveryTime,
			--@idHub,
			@hubcode,
		    @routecode,
			@SDD,
			@NDD,
			@TDA,
			1,
			@tokenUser,
			GETDATE(),
			NULL,
			NULL			
		);

		COMMIT TRANSACTION
		select 0
	END TRY
	BEGIN CATCH
		select -1;
		
		ROLLBACK TRANSACTION POINT1
		
	END CATCH


END
