USE [DeliveryBackOffice]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- ============================================================================================
-- Author:		<Marco Jiménez>
-- Create date: <2021-04-23>
-- Description:	<Recupera información para generar manifiesto de despacho en PDF,
--               para ser enviado por correo>
-- ============================================================================================

IF EXISTS (SELECT
			*
		FROM sysobjects
		WHERE ID = OBJECT_ID(N'[dbo].[spg_manifest_linehauls_email]')
		AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
BEGIN
	DROP PROCEDURE [dbo].[spg_manifest_linehauls_email]
END

GO

CREATE PROCEDURE [dbo].[spg_manifest_linehauls_email] @IdManifest INT
AS
BEGIN

	SET NOCOUNT ON;

	SELECT DISTINCT
		'ML' + CAST(dobs.SequenceCode AS VARCHAR(10)) AS ID
	   ,dobs.DateCreated AS Date_Dispatched
	   ,dobs.PiecesDry AS Pieces_Dry_Dispatched
	   ,dobs.PiecesCold AS Pieces_Cold_Dispatched
	   ,dobs.GuidesQuantity Guides_Dispatched
	   ,sr.First_Name + ' ' + sr.Last_Name AS Courier_Name
	   ,dobs.DateCreated AS Route_Dispatched
	   ,CONVERT(NVARCHAR, lbt.SSN_IdUser) + ' - ' + lbt.SSN_Username AS IdUser_Username_Dispatched
	   ,(SELECT TOP 1
				ISNULL(hl_destino.HubAbbreviation, 0)
			FROM DeliveryBackOffice.dbo.HubLogistics hl_destino
			WHERE hl_destino.IdHubLogistic = sm.IdHubDestination)
		AS ID_HUB_DESTINO
	   ,(SELECT TOP 1
				cl.Emails
			FROM CatLinehaul cl
			WHERE cl.IdHubDestination = sm.IdHubDestination)
		AS Emails

	FROM [DeliveryBackOffice].[dbo].SettlementByPickup dobs
	JOIN [DeliveryBackOffice].[dbo].ServiceManagement sm
		ON sm.IdServiceManagement = dobs.ServiceManagmentId
	LEFT JOIN DeliveryBackOffice.dbo.SenderReceiver sr
		ON sr.ID = dobs.IdCourier
	LEFT JOIN DenariusUser_Dev.dbo.LGN_LogByToken lbt
		ON lbt.SSN_IdToken = dobs.TokenCreated
	WHERE dobs.SequenceCode = @IdManifest


	SET NOCOUNT ON;

	--DECLARE @temp TABLE (
	--	[Guía] NVARCHAR(MAX)
	--   ,PF INT
	--   ,PS INT
	--   ,[Entregar a] NVARCHAR(201)
	--   ,[Dirección] NVARCHAR(600)
	--   ,[Z] INT
	--   ,[Área] NVARCHAR(200)
	--   ,[Teléfono] NVARCHAR(100)
	--   ,COD DECIMAL(16, 2)

	--)

	
		SELECT DISTINCT
			pc.GuideSerie + CAST(pc.GuideNumber AS VARCHAR(50)) + '-' + CAST(pc.NoPiece AS VARCHAR(10)) AS 'Guía'
		   ,0 AS PF
		   ,1 AS PS
		   ,ISNULL(do.Receiver_FirstName, '') + ' ' + ISNULL(do.Receiver_LastName, '') AS 'Entregar a'
		   ,do.Receiver_Address AS 'Dirección'
		   ,CONVERT(INT, ISNULL(do.Receiver_Zone, 0)) AS Z
		   ,CONCAT(do.Receiver_Town , do.Receiver_Department ) AS 'Área'
		  ,do.Receiver_Phone AS 'Teléfono'		  
		   ,(CASE
				WHEN do.IsCollect = 'TRUE' THEN CONVERT(VARCHAR, CAST((ISNULL(do.Collect_OnDelivery, 0) + ISNULL(do.PriceShippment, 0)) AS DECIMAL), 1)
				ELSE CONVERT(VARCHAR, CAST((ISNULL(do.Collect_OnDelivery, 0)) AS DECIMAL), 1)
			END
			) AS COD
		FROM DeliveryOrder do
		INNER JOIN DeliveryOrderPiece pc
			ON pc.GuideSerie = do.Guide_Serie
				AND pc.GuideNumber = do.Guide_Number
		JOIN dbo.PieceByService pbs
			ON pc.GuidePiece = pbs.GuidePieceId
		JOIN ServiceManagement sm
			ON pbs.ServiceManagmentId = sm.IdServiceManagement
		JOIN SettlementByPickup sbp
			ON sm.IdServiceManagement = sbp.ServiceManagmentId
				AND sbp.SequenceCode = @IdManifest
		JOIN SettlementByPickupDetail sbpd
			ON sbp.ID = sbpd.SettlementByPickupId
				AND sbpd.IsDispatched = 1
				AND sbpd.RowStatus = 1

	--SELECT
	--	*
	--FROM @temp
	--ORDER BY Receiver_Departament ASC, Receiver_Town ASC, Receiver_Zone ASC, Receiver_Address ASC


END
