USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_get_SenderReceiver]    Script Date: 17/02/2021 08:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-02-15>
-- Description:	<Devuelve todos los vehiculos disponibles>
-- =============================================
CREATE PROCEDURE [dbo].[spg_get_SenderReceiver]
AS
BEGIN
	SELECT sr.ID,
	CONCAT(sr.First_Name,' ', sr.Last_Name) as Name
	FROM  [DeliveryBackOffice].[dbo].[SenderReceiver] as sr
	Where sr.Estatus = 1
END