USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_Incident_Catalogue]    Script Date: 23/10/2020 9:05:58 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hernandez,Josselyn>
-- Create date: <2020>
-- Description:	<Llama al catalogo de Incidencias y Actualiza si trae cambios>
-- =============================================
CREATE PROCEDURE [dbo].[spg_Incident_Catalogue]
	-- Add the parameters for the stored procedure here
									 @Guide_Serie  NVARCHAR(2), 
                                     @Guide_Number INT, 
                                     @Image        VARCHAR(max), 
                                     @Type         VARCHAR(18),
									 @tokenid	   VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM [DeliveryBackOffice].[dbo].[ContactIncident]

	IF ( @Type = 'LLAMADA' ) 
	 BEGIN
		  INSERT INTO DeliveryBackOffice.dbo.DeliveryProof (Guide_Serie,Guide_Number,Date_Photo,Proof_Dry,Proof_Cold,Proof_Incident,user_created,date_created)
          VALUES (@Guide_Serie, @Guide_Number, GETDATE(), NULL, NULL, (Cast(N'' AS XML).value('xs:base64Binary(sql:variable("@Image"))', 'varbinary(max)') ), @tokenid, GETDATE()); 
		UPDATE [DeliveryBackOffice].[dbo].[DeliveryOrder] SET ID_ContactIncident = 1 WHERE Guide_Number = @Guide_Number	
	 END
	IF ( @Type = 'NUMERO' ) 
	 BEGIN
		INSERT INTO DeliveryBackOffice.dbo.DeliveryProof (Guide_Serie,Guide_Number,Date_Photo,Proof_Dry,Proof_Cold,Proof_Incident,user_created,date_created)
		VALUES (@Guide_Serie, @Guide_Number, GETDATE(), (Cast(N'' AS XML).value('xs:base64Binary(sql:variable("@Image"))', 'varbinary(max)') ), NULL, NULL, @tokenid, GETDATE());		   
		 UPDATE [DeliveryBackOffice].[dbo].[DeliveryOrder] SET ID_ContactIncident = 2 WHERE Guide_Number = @Guide_Number	
	 END
END
