USE [DeliveryBackOffice]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-02-25>
-- Description:	<Retorna las categorías genericas de los articulos>
-- =============================================
CREATE PROCEDURE [dbo].[get_CatArticle]
AS
BEGIN
	SELECT ca.ArtIdTypeArticle,
	ca.ArtName
	FROM DeliveryBackOffice.dbo.CatPackage cp
	JOIN DeliveryBackOffice.dbo.CatTypeArticle ctp ON ctp.TarIdPackage = cp.PckId
	JOIN DeliveryBackOffice.dbo.CatArticle ca ON ca.ArtIdTypeArticle = ctp.TarId
	WHERE ctp.TarId IN (8,9,10) order by [ArtName]
END