USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_SetHistoricUpdateAddress]    Script Date: 09/10/2020 9:04:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hernandez,Josselyn>
-- Create date: <2020-10-06,>
-- Description:	<Guarda informacion en la bitacora, cambia la direccion existente>
-- =============================================
ALTER PROCEDURE [dbo].[spg_SetHistoricUpdateAddress]
		@Guide_Serie AS VARCHAR(2), --guide serie
		@Guide_Number AS INT, --guide number
		@original_address VARCHAR(150),-- Old date of delivery
		@updated_address VARCHAR(150),--New date of delivery
		@Tokenid AS VARCHAR(150)    = 'ad1a2328ed27ea99622f68deae5d9976', --token user
		@name_receive as varchar(200), -- user name
		@receiver_phone as varchar(120) --phone receiver

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
					
	INSERT INTO [HISTORIC_UPDATEADDRESS]( token, name_receiver, original_address, updated_address, datetochange, phone_receiver) 
	VALUES (@Tokenid, @name_Receive, @original_address, @updated_address, GETDATE(), @receiver_phone) 

	update  [DeliveryBackOffice].[dbo].[DeliveryOrder] SET Receiver_Address = @updated_address, Receiver_Alternant_Address = @original_address WHERE Guide_Number = @Guide_Number

END
