USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_get_LinehaulsReturnSettlement]    Script Date: 28/04/2021 12:15:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Hugo, Gomez>
-- Create date: <2021-04-27>
-- Description:	<Devuelve información para liquidación de ruta>
-- =============================================
 CREATE PROCEDURE [dbo].[spg_get_LinehaulsReturnSettlement]
	@IdManifest AS INT,
	@subservice as INT
AS
BEGIN
	SET NOCOUNT ON;	


DECLARE @GuidesDetail TABLE (
	Guide NVARCHAR(25),
	Delivered BIT,
	COD DECIMAL(14,2)
)


select dbs.ID,
	Date_Created as Date_Dispatched,
	PiecesDry as Pieces_Dry_Dispatched,
	PiecesCold as Pieces_Cold_Dispatched,
	GuidesQuantity as Guides_Dispatched,
	dbs.IdCourier,
	sr.First_Name + ' ' + sr.Last_Name as Courier_Name
from SettlementByPickup dbs
join  DeliveryBackOffice.dbo.SenderReceiver sr ON sr.ID = dbs.IdCourier
WHERE dbs.SequenceCode = @IdManifest and dbs.SubTypeServiceManagmentId = @subservice


INSERT INTO @GuidesDetail
SELECT DISTINCT
	sbpd.GuideSerie + CONVERT(varchar,sbpd.GuideNumber)+'-'+ CONVERT(varchar,sbpd.NoPiece) AS Guide,
	0 as Delivered,
	0.00 as COD
	from SettlementByPickup sbp 
	inner join SettlementByPickupDetail sbpd on sbp.Id = sbpd.SettlementByPickupId
	where sbp.SequenceCode = @IdManifest and sbp.SubTypeServiceManagmentId = @subservice
	 
	 


SELECT isnull(SUM(COD), 0) as COD_Manifest
FROM @GuidesDetail

SELECT * FROM @GuidesDetail gd
ORDER BY gd.Guide ASC

END