USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SPHD_CouponReportHeader]    Script Date: 13/06/2022 22:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,EDELMAN VASQUEZ>
-- Create date: <Create Date,2022-06-09>
-- Description:	<Description, REPORTE GENERAL DE CUPONES Y PROMOCIONES>
-- =============================================
ALTER PROCEDURE [dbo].[SPHD_CouponReportHeader] 
	-- Add the parameters for the stored procedure here
	@DateOf   as DATE,
	@DateTo   as DATE
AS
BEGIN

	SET NOCOUNT ON;

SELECT TOP 1 
       ( SELECT Count(PC.IdPromoCoupon) 
               FROM PromoCoupon PC WITH (NOLOCK)
			       WHERE
	    PC.DateCreated BETWEEN FORMAT(@DateOf, 'yyyy-MM-dd 00:00:00') 
		                   AND FORMAT(@DateTo, 'yyyy-MM-dd 23:59:59')
		) 
		                                TotalCuponesGenerados,
        ( SELECT Count(PC.IdPromoCoupon) 
		       FROM PromoCoupon PC WITH (NOLOCK)
		           WHERE PC.RowStatus=0 AND
			  PC.DateCreated BETWEEN FORMAT(@DateOf, 'yyyy-MM-dd 00:00:00') 
		                         AND FORMAT(@DateTo, 'yyyy-MM-dd 23:59:59')
		) 
		                                 TotalCuponesAnulados ,
		( SELECT Count(PC.IdPromoCoupon) 
		       FROM PromoCoupon PC WITH (NOLOCK)
		           WHERE PC.RowStatus=1 
		  AND PC.GuideSerieDestination IS  NULL
		  AND PC.DateCreated BETWEEN FORMAT(@DateOf, 'yyyy-MM-dd 00:00:00') 
		                         AND FORMAT(@DateTo, 'yyyy-MM-dd 23:59:59')
		) 
		                                 TotalCuponesCanjeados,
		( SELECT Count(PC.IdPromoCoupon) 
		        FROM PromoCoupon PC WITH (NOLOCK)
		            WHERE PC.RowStatus=1 
		 AND PC.GuideSerieDestination IS NOT NULL
		 AND PC.DateCreated BETWEEN FORMAT(@DateOf, 'yyyy-MM-dd 00:00:00') 
		                        AND FORMAT(@DateTo, 'yyyy-MM-dd 23:59:59')
		) 
		                                 TotalCuponesNoCanjeados,
		( SELECT Sum(Isnull(PC.FinalAmount,0)) 
		        FROM PromoCoupon PC WITH (NOLOCK)
		            WHERE PC.RowStatus=1 
		 AND PC.GuideSerieDestination IS NOT NULL
		 AND PC.DateCreated BETWEEN FORMAT(@DateOf, 'yyyy-MM-dd 00:00:00') 
		                        AND FORMAT(@DateTo, 'yyyy-MM-dd 23:59:59')
		) 
		                                 TotalMontoCuponesCanjeados,
		( SELECT Sum(Isnull(PC.DiscountAmount,0)) 
		        FROM PromoCoupon PC WITH (NOLOCK)
		             WHERE PC.DateCreated BETWEEN FORMAT(@DateOf, 'yyyy-MM-dd 00:00:00') 
		                                      AND FORMAT(@DateTo, 'yyyy-MM-dd 23:59:59')
		 ) 
		                                TotalMontoCuponesDescuento,
		( SELECT Sum(Isnull(PC.OriginalAmount,0)) 
		        FROM PromoCoupon PC WITH (NOLOCK)
					 WHERE PC.DateCreated BETWEEN FORMAT(@DateOf, 'yyyy-MM-dd 00:00:00') 
		                                      AND FORMAT(@DateTo, 'yyyy-MM-dd 23:59:59')
		 ) 
		                                TotalMontoCuponesGenerado,
		FORMAT(@DateOf, 'yyyy-MM-dd')  DateOf,
		FORMAT(@DateTo, 'yyyy-MM-dd') DateTo 


	
END
