USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spws_get_address]    Script Date: 11/01/2021 09:46:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<César,Aquino>
-- Create date: <2021-01-08>
-- Description:	<Devuelve el listado perfiles de facturacion>
-- =============================================


CREATE PROCEDURE [dbo].[spws_get_billing_profile]
	-- Add the parameters for the stored procedure here
	@Token VARCHAR(200),
	@IdAccount bigint,
	@IdBilling bigint = -1
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @jsonResult NVARCHAR(MAX) 

	declare @IdUser bigint  = (select top 1 t.TknIdUser from TokenLog t
						where t.TknIdToken = @Token)


	set @jsonResult = (SELECT STUFF(( 
							select  
							 ',{"IdAccount":"' +   convert(varchar,bp.BlpIdAccount) + '",' +
							'"IdBilling":"' +  convert(varchar,bp.BlpIdBilling)  + '",' +
							'"Name":"' + bp.BlpName  + '",' +
							'"Address":"' + bp.BlpAddress + '",' +
							'"TaxId":"' + bp.BlpTaxId   +
							+ '"}'

					from dbo.RolByUserByAccount  rua
						inner join dbo.BillingProfile bp on bp.BlpIdAccount= rua.RuaIdAccount
					where rua.RuaIdAccount = @IdAccount and rua.RuaIdUser = @IdUser and bp.BlpRowStatus = 1
						and (bp.BlpIdBilling = @IdBilling or @IdBilling = -1)
					FOR XML PATH(''), TYPE
							).value('.', 'varchar(max)'),1,1,''
									) )

		-- retornar resultado en formato json
	If @jsonResult is null 
	begin

		set @jsonResult =(
					SELECT STUFF(( 
					SELECT '{{"IdResult":500,' 
					+ '"Message":" No se econtraron registros"}' 
		
					FOR XML PATH(''), TYPE
					).value('.', 'varchar(max)'),1,1,''
						  ) 
					)
	end
	
		select ('[' + @jsonResult +  ']') jsonResult

	

END



