USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spws_get_guide_pending_payment_detail]    Script Date: 2/09/2021 17:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<César,Aquino>
-- Create date: <2021-05-21>
-- Description:	<Devuleve el monto a cobrar >
-- =============================================
CREATE PROCEDURE [dbo].[spws_get_guide_pending_payment_detail]
    @InGuidesP VARCHAR(MAX),
    @InTimeP INT,
    @IsReturnP BIT,
    @CodeAppP VARCHAR(100),
    @IdModuleP INT,
    @TokenP VARCHAR(100)
AS
BEGIN

	-- Insert statements for procedure here
	IF OBJECT_ID('tempdb.dbo.#listGuides', 'U') IS NOT NULL DROP TABLE #listGuides;
	IF OBJECT_ID('tempdb.dbo.#RevalueGuides', 'U') IS NOT NULL DROP TABLE #RevalueGuides;
	IF OBJECT_ID('tempdb.dbo.#PendingPaymentTemp', 'U') IS NOT NULL DROP TABLE #PendingPaymentTemp;
	IF OBJECT_ID('tempdb.dbo.#PendingPaymentTempId', 'U') IS NOT NULL DROP TABLE #PendingPaymentTempId;
	
	CREATE TABLE #listGuides
	(
		Guide_Serie NVARCHAR(2),
		Guide_Number INT
	);
	
	CREATE NONCLUSTERED INDEX tempSerie ON #listGuides (Guide_Serie);
	CREATE NONCLUSTERED INDEX tempGuide ON #listGuides (Guide_Number);
	
	INSERT INTO #listGuides
	(
		Guide_Serie,
		Guide_Number
	)
	SELECT SUBSTRING(Item, 1, 2) Guide_Serie, 
		   SUBSTRING(Item, 3, IIF(CHARINDEX('-', Item) = 0, (LEN(Item)), (CHARINDEX('-', Item) - 3))) Guide_Number
	FROM DeliveryBackOffice.dbo.SplitUnlimited(@InGuidesP, ',');

	---- Revalorizar guias que no tengan un precio asociado ---------------------------------------------
	SELECT ROW_NUMBER() OVER (ORDER BY ord.Guide_Number ASC) AS fila,
		   ord.Guide_Serie,
		   ord.Guide_Number
	INTO #RevalueGuides
	FROM #listGuides lst
	JOIN DeliveryBackOffice.dbo.DeliveryOrder ord WITH (NOLOCK)
		ON ord.Guide_Number = lst.Guide_Number
		AND ord.Guide_Serie = lst.Guide_Serie
	WHERE ISNULL(ord.PriceShippment,0) = 0;

	CREATE NONCLUSTERED INDEX tempFila ON #RevalueGuides (fila);

	DECLARE @count INT = 1;
	DECLARE @RevalueSerie VARCHAR(10);
	DECLARE @RevalueGuide INT;
	DECLARE @IdMax INT = (SELECT MAX(fila) FROM #RevalueGuides);
	DECLARE @RC INT;

	WHILE @count <= @IdMax
	BEGIN

		PRINT '************************revalue**********************';
		PRINT CONVERT(VARCHAR(100), GETDATE(), 9);
		PRINT @RevalueSerie;
		PRINT @RevalueGuide;
		PRINT @count;

		SELECT @RevalueSerie = rv.Guide_Serie,
			   @RevalueGuide = rv.Guide_Number
		FROM #RevalueGuides rv
		WHERE rv.fila = @count;

		EXECUTE @RC = DeliveryBackOffice.dbo.spws_revalue_guide @GuideSerie = @RevalueSerie,
																@GuideNumber = @RevalueGuide,
																@CodeApp = '',
																@Format = 'Non',
																@CalculateTaxes = 'true',
																@IdModule = @IdModuleP,
																@SetUpdate = 'true',
																@Token = @TokenP,
																@IsReturn = 'false';
		
		SET @count = @count + 1;
	END
	-----------------------------------------------------------------------------------------------------

	CREATE TABLE #PendingPaymentTemp (
									  GuideSerie NVARCHAR(25) NULL,
									  GuideNumber INT,
									  IsCollect BIT,
									  Price DECIMAL(14, 2) NULL,
									  COD DECIMAL(14, 2) NULL,
									  AmountPaid DECIMAL(14, 2) NULL,
									  CODPaid DECIMAL(14, 2) NULL,
									  CODIsPaid BIT,
									  PaymentTime INT NULL,
									  TimeSequence INT NULL,
									  FelNumber NVARCHAR(50) NULL,
									  IsPaid BIT,
									  IsCustomer INT NULL,
									  ConditionPayment VARCHAR(200),
									  HaveCredit BIT,
									  CollectCOD BIT,
									  ReturnRate DECIMAL(14, 2) NULL,
									  AmountToPay DECIMAL(14, 2) NULL,
									  CODAmount DECIMAL(14, 2) NULL,
									  ReturnRates DECIMAL(14, 2) NULL
									 );

	INSERT INTO #PendingPaymentTemp (GuideSerie, GuideNumber, IsCollect, Price, COD, 
									 AmountPaid, CODPaid, CODIsPaid, PaymentTime, TimeSequence,
									 FelNumber, IsPaid, IsCustomer, ConditionPayment, HaveCredit,
									 CollectCOD, ReturnRate, AmountToPay, CODAmount, ReturnRates)
	EXEC  DeliveryBackOffice.dbo.spws_get_guide_pending_payment @InGuides = @InGuidesP, 
																@InTime = @InTimeP,
																@IsReturn = @IsReturnP,
																@CodeApp = @CodeAppP,
																@IdModule = @IdModuleP,
																@Token = @TokenP;
	
	SELECT ROW_NUMBER() OVER (ORDER BY ppt.GuideNumber ASC) AS Id,
		   ppt.GuideSerie, 
		   ppt.GuideNumber, 
		   ppt.IsCollect, 
		   ppt.Price, 
		   ppt.COD, 
		   ppt.AmountPaid, 
		   ppt.CODPaid, 
		   ppt.CODIsPaid, 
		   ppt.PaymentTime, 
		   ppt.TimeSequence, 
		   ppt.FelNumber, 
		   ppt.IsPaid, 
		   ppt.IsCustomer, 
		   ppt.ConditionPayment, 
		   ppt.HaveCredit, 
		   ppt.CollectCOD, 
		   ppt.ReturnRate, 
		   ppt.AmountToPay, 
		   ppt.CODAmount, 
		   ppt.ReturnRates
	INTO #PendingPaymentTempId
	FROM #PendingPaymentTemp ppt

	CREATE NONCLUSTERED INDEX IX_PPTID_ID ON #PendingPaymentTempId ([Id]);

	DECLARE @RowsNumber INT = (SELECT COUNT(1) FROM #PendingPaymentTempId);
	DECLARE @Index INT = 1;
	
	DECLARE @Output VARCHAR(MAX);
	SET @Output = 
			'[ ' + 
			'{ ' + 
			'"Total": ' + 
			(
				SELECT CAST(SUM(ppt.AmountToPay) AS VARCHAR)
				FROM #PendingPaymentTemp ppt
			) + 
			', ' + 
			'"Guides": [ ';

	WHILE @Index <= @RowsNumber
	BEGIN
		DECLARE @ActualGuide VARCHAR(50);
		DECLARE @Amount DECIMAL(18, 2);
		SELECT @ActualGuide = CONCAT(GuideSerie,  GuideNumber),
			   @Amount = AmountToPay
		FROM #PendingPaymentTempId
		WHERE Id = @Index;

		SET @Output = @Output + (SELECT ' { "Serie": "' + pg.GuideSerie + '", ' + 
									    '"Number": "' + CAST(pg.GuideNumber AS VARCHAR) + '", ' + 
									    '"Price": ' + CAST(CAST(ISNULL(pg.AmountToPay, 0) AS DECIMAL(18, 2)) AS VARCHAR) + ', ' + 
									    '"Collect": ' + CAST(ISNULL(pg.IsCollect, 0) AS VARCHAR) + ', ' + 
									    '"Cod": ' + CAST(CAST(ISNULL(pg.COD, 0) AS DECIMAL(18, 2)) AS VARCHAR) + ', ' + 
									    '"GuidDetail": [ '
								 FROM #PendingPaymentTempId pg
								 WHERE Id = @Index);

		DECLARE @Detail VARCHAR(MAX);
		SET @Detail = 
			(SELECT STUFF(
			(
				SELECT ' { "Description": "' + ISNULL(br.Description, '') + '", ' + 
					   '"Amount": ' + CAST(CAST(ISNULL(br.Amount, 0) AS DECIMAL(18, 2)) AS VARCHAR) + '}, '
				FROM Cost c 
				INNER JOIN BreakdownOfPayment br 
					ON c.IdCost = br.IdCost 
				WHERE c.ProductNumber = @ActualGuide
				AND ABS(br.Amount) > 0
				FOR XML PATH ('')
			), 1, 1, ''));
		
		IF @Detail IS NOT NULL
		BEGIN
			SET @Detail = SUBSTRING(@Detail, 1, (len(@Detail) - 1));
		END
		
		SET @Output = @Output + IIF(@Amount > 0, ISNULL(@Detail, ''), '') + '] }, ';
		SET @Index = @Index + 1;
	END

	SET @Output = @Output + '] } ]';
	
	SET @Output = SUBSTRING(@Output, 1, (len(@Output) - 7)) + SUBSTRING(@Output, (len(@Output) - 5), len(@Output));

	SELECT @Output FormatJson;

	/*SELECT pg.GuideSerie Serie,
		   pg.GuideNumber Number,
		   CAST(ISNULL(pg.AmountToPay, 0) AS DECIMAL(18, 2)) Price,
		   ISNULL(pg.IsCollect, 0) Collect,
		   CAST(ISNULL(pg.COD, 0) AS DECIMAL(18, 2)) Cod,
		   ISNULL(br.Description, '') 'Description',
		   CAST(ISNULL(br.Amount, 0) AS DECIMAL(18, 2)) Amount
	FROM #PendingPaymentTemp pg
	LEFT JOIN Cost c 
		ON CONCAT(pg.GuideSerie,  pg.GuideNumber) = c.ProductNumber
	LEFT JOIN BreakdownOfPayment br 
		ON c.IdCost = br.IdCost;*/
END



