USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphdGetCatalog]    Script Date: 4/21/2021 1:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Edwin,Ramirez>
-- Create date: <2021-04-20>
-- Description:	<Devuevlve el listado de items asociados a un catalogo especifico>
-- =============================================
ALTER PROCEDURE [dbo].[sphdGetCatalog]
	-- Add the parameters for the stored procedure here
	@IdCorrelative int  = -1,
	@Calalog as nvarchar(50) = 'all',
	@IdFilter as nvarchar(10) = 'GT' ,
	@IdModule as int = 19
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		SET @Calalog = UPPER(@Calalog);
		declare @NameOfCatalog as nvarchar(50) = ''

		IF OBJECT_ID('tempdb.dbo.#Catalogs', 'U') IS NOT NULL DROP TABLE #Catalogs;

		select ModuleID,
			   cbm.NameCatalog
				INTO #Catalogs 
		from CatalogbyModule cbm
		where cbm.ModuleID = @IdModule 
		and cbm.RowStatus = 'TRUE'
		and (@Calalog = 'ALL' OR  cbm.NameCatalog = @Calalog)

	    DECLARE @count INT;
		SET @count = 1;
		
		declare @IdMax as int = (SELECT COUNT(*) FROM #Catalogs)

		WHILE @count<= @IdMax
		BEGIN
			print @count
			
		   SELECT TOP 1  @NameOfCatalog = ctl.NameCatalog FROM #Catalogs ctl;
		   print @NameOfCatalog
		   IF (@NameOfCatalog = 'SaleAdvisor')
			BEGIN
	
					SELECT  [IdSaleAdvisor]										        [IdValue],
									'[' + [SaleAdvisorCode] + '] - ' +
									[SaleAdvisorDescription]							[NameValue],
									[SAPSellerID]										[Asssitant],
									[CountryID]											[IdFilter],
									'SaleAdvisor'									    [Catalog]
					FROM [DeliveryBackOffice].[dbo].[CatSaleAdvisor] csa
					WHERE csa.SaleAdvisorStatus = 'TRUE'
					AND (@IdCorrelative = -1 OR csa.IdSaleAdvisor = @IdCorrelative)
					AND (@IdFilter = '' OR csa.CountryID = @IdFilter)
		   END 

		   IF (@NameOfCatalog = 'TypeOfBusiness')
		   BEGIN
				SELECT ctb.IdTypeOfBusiness   [IdValue],
					   ctb.TypeOfBusinessName [NameValue],
					   ctb.CountryID          [IdFilter],
					   'TypeOfBusiness'       [Catalog]
				FROM CatTypeOfBusiness ctb
				WHERE ctb.RowStatus = 'TRUE'
				AND (@IdCorrelative = -1 OR ctb.IdTypeOfBusiness = @IdCorrelative)
				AND (@IdFilter = '' OR ctb.CountryID = @IdFilter)
			END 

		   IF (@NameOfCatalog = 'BusinessSegment')
			BEGIN
				  SELECT CBS.[IdBusinessSegment]			[IdValue],
						 CBS.[BusinessSegmentName]				[NameValue],
						 CBS.BusinessSegmentDescription		[Description],
						 'BusinessSegment'								[Catalog]
				  FROM [DeliveryBackOffice].[dbo].[CatBusinessSegment] CBS
				  WHERE CBS.[RowStatus]  = 'TRUE'
				  AND (@IdCorrelative = -1 OR CBS.IdBusinessSegment = @IdCorrelative)
			END

           IF (@NameOfCatalog = 'BusinessActivity')
			BEGIN
					SELECT CBA.[IdBusinessActivity]        [IdValue],
						   CBA.[BusinessActivityName]	   [NameValue],
						   'BusinessActivity'       [Catalog]
					  FROM [DeliveryBackOffice].[dbo].[CatBusinessActivity] CBA
					  WHERE [RowStatus] = 'TRUE'
					  AND (@IdCorrelative = -1 OR CBA.IdBusinessActivity = @IdCorrelative)
			END

	 	   IF (@NameOfCatalog = 'CommercialSegment')
			BEGIN
					SELECT [IdCommercialSegment]	[IdValue]
						  ,[CommercialSegmentName]	[NameValue]
						  ,'CommercialSegment'	[Catalog]
					FROM [DeliveryBackOffice].[dbo].[CatCommercialSegment] CCS
					WHERE CCS.RowStatus = 'TRUE'
					 AND (@IdCorrelative = -1 OR CCS.[IdCommercialSegment] = @IdCorrelative)
			END

		   IF (@NameOfCatalog = 'ConditionOfPayment')
			BEGIN
				  SELECT CCP.[IdConditionOfPayment]				[IdValue],
						 CCP.[ConditionOfPayment]				[NameValue],
						 CCP.[ConditionOfPaymenDescription]		[Description],
						 CCP.[ConditionOfPaymenAbbreviation]	[Asssitant],
						 'ConditionOfPayment'				    [Catalog]
				  FROM [DeliveryBackOffice].[dbo].[CatConditionOfPayment] CCP
				  WHERE CCP.[RowStatus] = 'TRUE'
				  AND (@IdCorrelative = -1 OR CCP.IdConditionOfPayment = @IdCorrelative)
			END

		   IF (@NameOfCatalog = 'DeliveryBank')
			BEGIN
				  SELECT 
						dbk.[Id_bank]		[IdValue],
						dbk.[Name]			[NameValue],
						dbk.[Description]	[Description],
						dbk.[Acronym]		[Asssitant],
						dbk.[URL_logo]		[URI], 
						dbk.[Id_country]	[IdFilter],
						'DeliveryBank'		[Catalog]
				  FROM [DeliveryBackOffice].[dbo].[DeliveryBank] dbk
				  WHERE dbk.[Id_status] = 1
				  AND   dbk.[Id_country] = @IdFilter
			END

		   IF (@NameOfCatalog = 'DeliveryCurrency')
		   BEGIN
				SELECT curr.[Currency_Id]                [IdValue],
					   UPPER(curr.[Currency_Name])		 [NameValue],
					   curr.[Currency_IdCountry]         [IdFilter]
					  ,curr.[Currency_Symbol]	         [Asssitant],
					  'DeliveryCurrency'				 [Catalog]
				FROM [DeliveryBackOffice].[dbo].[DeliveryCurrency] curr
				WHERE [Currency_Status] = 1
				AND (@IdCorrelative = -1 OR curr.Currency_Id = @IdCorrelative)
				AND (@IdFilter = '' or curr.Currency_IdCountry = @IdFilter)
			END 

           IF (@NameOfCatalog = 'BankAccountType')
		   BEGIN
				SELECT CBA.[IdBankAccountType]  [IdValue],
					   CBA.[BankAccountType]	    [NameValue],
					  'BankAccountType'    [Catalog]
					FROM [DeliveryBackOffice].[dbo].[CatBankAccountType] CBA
					WHERE CBA.[RowStatus] = 'TRUE'
					AND (@IdCorrelative = -1 OR CBA.IdBankAccountType = @IdCorrelative)
		
			END 

		   IF (@NameOfCatalog = 'RateType')
		   BEGIN
				SELECT IdTypeRate    [IdValue],
					   UPPER(Name)	 [NameValue],
					  'RateType'	 [Catalog]
				from dbo.CatTypeRate  CTR
					WHERE RowStatus ='TRUE'
					AND (@IdCorrelative = -1 OR CTR.IdTypeRate = @IdCorrelative)
			END 

		   IF (@NameOfCatalog = 'RateCatalog')
		   BEGIN
				SELECT RheId    [IdValue],
					   UPPER(RheName)	 [NameValue],
					  'RateCatalog'	 [Catalog]
				from dbo.RateHeader hr
				where hr.RheRowStatus ='true' 
				AND (@IdCorrelative = -1 OR hr.RheId  = @IdCorrelative)
			END 
		   
		   SET @count = @count + 1;
		   DELETE TOP (1) FROM #Catalogs
	END;


	
	

	

  


END
