USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetGeneratedBatchCOD]    Script Date: 15/10/2021 03:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC   [dbo].[GetGeneratedBatchCOD]
CREATE PROCEDURE [dbo].[GetGeneratedBatchCODDaily]
AS
BEGIN	
		
	BEGIN TRY

	DECLARE @FrecuencyCOD INT = (SELECT CatBatchFrequencyCODId FROM CatBatchFrequencyCOD WHERE Name = 'Diaria')
	
		SELECT bcod.BankId AS PayingBank, bcod.IdBatchCOD,bcod.BatchNumber AS BATCHNUMBER, 'TRUE' AS blnResult, bcod.BatchTimeRange 
									FROM DeliveryBackOffice.dbo.ProcessedGuideCOD pg
									JOIN DeliveryBackOffice.dbo.DeliveryOrder do WITH (NOLOCK)
														ON do.Guide_Serie = pg.GuideSerie
														AND do.Guide_Number = pg.GuideNumber
									INNER JOIN  DeliveryBackOffice.dbo.BatchCOD bcod ON pg.BatchCODId = bcod.IdBatchCOD
									LEFT JOIN dbo.VisitPointClient vpc ON vpc.CodeOfReference = do.Sender_ID
													LEFT JOIN dbo.Customer cus ON cus.IdCustomer = ISNULL(do.IdCustomer, vpc.CustomerID)	
									WHERE 
									pg.BatchNotified IS NULL
									AND pg.BatchCODId IS NOT NULL
									AND pg.BatchCODIdCommission IS NOT NULL
									AND pg.RowStatus = 1
									AND bcod.BankId IN (5, 33,31)
									AND pg.Date >'2021-08-01 00:00:00.000' 
									AND cus.CatBatchFrequencyCODId = @FrecuencyCOD
									GROUP BY bcod.BankId , bcod.IdBatchCOD,bcod.BatchNumber, bcod.BatchTimeRange 
		
	END TRY
	BEGIN CATCH
		SELECT 'RollBackTransaction' AS message,
				'FALSE'	blnResult,
				CAST(-1 AS VARCHAR(5)) IdResult,
				CAST(500 AS VARCHAR(5)) StatusResult,
				CAST(ERROR_NUMBER() AS VARCHAR) AS ErrorNumber,
				CAST(ERROR_SEVERITY() AS VARCHAR) AS ErrorSeverity,
				CAST(ERROR_STATE() AS VARCHAR) AS ErrorState,
				CAST(ERROR_PROCEDURE() AS VARCHAR) AS ErrorProcedure,
				CAST(ERROR_LINE() AS VARCHAR) AS ErrorLine,
				CAST(ERROR_MESSAGE() AS VARCHAR) AS ResultMessage;

		
	END CATCH;	
	
END
