USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GenerateClosure]    Script Date: 15/07/2021 14:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXEC GenerateClosure
@VisitPointId = 4246
,@IdAccount = 66
,@TokenCreated ='SYS-BHERRERA'
,@ClosurerPOS = '12345'
,@Voucher1 = 'DV123'
,@Bag1 = 'DA123'
,@Voucher2 = null
,@Bag2 = null
,@TotalAmountCashDeclared = 288
,@TotalAmountCreditDeclared = 0

SELECT * FROM DeliveryBackOffice.dbo.AccountingClosuresHeader
SELECT * FROM DeliveryBackOffice.dbo.AccountingClosuresDetail
DELETE DeliveryBackOffice.dbo.AccountingClosuresDetail
DELETE DeliveryBackOffice.dbo.AccountingClosuresHeader
*/

CREATE PROCEDURE [dbo].[GenerateClosure]
 @VisitPointId int = 4246
,@UserId INT
,@TokenCreated NVARCHAR(50)
,@ClosurerPOS NVARCHAR(50)
,@Voucher1 NVARCHAR(50)
,@Bag1 NVARCHAR(50)
,@Voucher2 NVARCHAR(50)=null
,@Bag2 NVARCHAR(50)=null
,@TotalAmountCashDeclared DECIMAL(18,5)
,@TotalAmountCreditDeclared DECIMAL(18,5)
AS
BEGIN

DECLARE @TotalCash DECIMAL(18,5)
DECLARE @TotalCard DECIMAL(18,5)
DECLARE @CountCash INT
DECLARE @Countcard INT
DECLARE @UserId2 INT 

IF OBJECT_ID('tempdb.dbo.#TempClosureDetail', 'U') IS NOT NULL DROP TABLE #TempClosureDetail;


 
			set	 @UserId2   = (select top 1 vp.RegisterUserID   FROM [dbo].RegisterUser usr
						   LEFT JOIN [dbo].[RolByUserByAccount] rua ON rua.RuaIdUser = usr.UsrIdUser
						                                               AND rua.RuaRowStatus = 1
						   INNER JOIN [dbo].Account ac ON ac.AccIdAccount = rua.RuaIdAccount
						                                  AND ac.AccRowStatus = 1
							 INNER join VisitPointByUser vp ON vp.RegisterUserID = usr.UsrIdUser
							where ac.AccIdAccount = @UserId)


--Consultar data
SELECT 
DOR.Guide_Serie
,DOR.Guide_Number
INTO #TempClosureDetail
FROM dbo.DeliveryOrder DOR
JOIN DeliveryBackOffice.dbo.VisitPointClient VPC 
 ON DOR.Sender_ID = VPC.CodeOfReference
LEFT JOIN DeliveryBackOffice.dbo.invoiceDetail IND
 ON IND.dti_fk_orderSerie = DOR.Guide_Serie
   AND IND.dti_fk_orderNumber = DOR.Guide_Number
LEFT JOIN DeliveryBackOffice.dbo.invoiceHeader INH
 ON INH.inv_pk_id = IND.dti_fk_header
JOIN DeliveryBackOffice.dbo.StatusOrder STO 
ON STO.StatusOrderId = DOR.StatusOrderId
LEFT JOIN DeliveryBackOffice.dbo.DeliveryOrderPaymentDetail DOPD 
 ON DOPD.GuideSerie = DOR.Guide_Serie 
 AND DOPD.GuideNumber = DOR.Guide_Number
 AND dopd.ShipmentCompleted = 1
WHERE 
CAST(DOR.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
AND DOR.IsCollect = 0 --Pagado en el express center
AND NOT EXISTS --Guía no asociada a cierre
(
SELECT 1 FROM DeliveryBackOffice.dbo.AccountingClosuresDetail ACD
WHERE ACD.GuideSerie = DOR.Guide_Serie
AND ACD.GuideNumber = DOR.Guide_Number
AND ACD.RowStatus = 1
)
--AND 
--DOR.Guide_Number = 403103
AND DOR.Sender_ID =@VisitPointId--4246

--SELECT @TotalCash= SUM(DOR.PriceShippment ) 
--,@CountCash= COUNT(DOR.PriceShippment) 
--,@TotalCard=SUM(0 + 0) 
--,@CountCard= 0 
--FROM dbo.DeliveryOrder DOR
--JOIN DeliveryBackOffice.dbo.VisitPointClient VPC 
-- ON DOR.Sender_ID = VPC.CodeOfReference
--LEFT JOIN DeliveryBackOffice.dbo.invoiceDetail IND
-- ON IND.dti_fk_orderSerie = DOR.Guide_Serie
--   AND IND.dti_fk_orderNumber = DOR.Guide_Number
--LEFT JOIN DeliveryBackOffice.dbo.invoiceHeader INH
-- ON INH.inv_pk_id = IND.dti_fk_header
--JOIN DeliveryBackOffice.dbo.StatusOrder STO 
--ON STO.StatusOrderId = DOR.StatusOrderId
--LEFT JOIN DeliveryBackOffice.dbo.DeliveryOrderPaymentDetail DOPD 
-- ON DOPD.GuideSerie = DOR.Guide_Serie 
-- AND DOPD.GuideNumber = DOR.Guide_Number
-- AND dopd.ShipmentCompleted = 1
--WHERE 
--CAST(DOR.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
--AND DOR.IsCollect = 0 --Pagado en el express center
--AND NOT EXISTS --Guía no asociada a cierre
--(
--SELECT 1 FROM DeliveryBackOffice.dbo.AccountingClosuresDetail ACD
--WHERE ACD.GuideSerie = DOR.Guide_Serie
--AND ACD.GuideNumber = DOR.Guide_Number
--AND ACD.RowStatus = 1
--)
----AND 
----DOR.Guide_Number = 403103
--AND DOR.Sender_ID = 4246--@VisitPointId--4246



-----------------------------------------------------------------------

select @TotalCash = isnull(sum(S1.TotalCash),0),  
	   @CountCash = isnull(sum(S1.CountCash),0) ,  
	   @TotalCard =	isnull(sum(S1.TotalCard),0) ,
	   @CountCard = isnull(sum(S1.CountCard),0)  
		from (
SELECT case when DOPD.TypeofInOutMoneyId = 1 THEN  SUM(DOR.PriceShippment) else 0 end 'TotalCash'
,case when DOPD.TypeofInOutMoneyId = 1 THEN count(DOPD.TypeofInOutMoneyId )else 0 end 'CountCash'
,case when DOPD.TypeofInOutMoneyId = 6 THEN  SUM(DOR.PriceShippment) else 0 end 'TotalCard'
,case when DOPD.TypeofInOutMoneyId = 6 THEN count(DOPD.TypeofInOutMoneyId )else 0 end 'CountCard'
FROM dbo.DeliveryOrder DOR
JOIN DeliveryBackOffice.dbo.VisitPointClient VPC 
 ON DOR.Sender_ID = VPC.CodeOfReference
LEFT JOIN DeliveryBackOffice.dbo.invoiceDetail IND
 ON IND.dti_fk_orderSerie = DOR.Guide_Serie
   AND IND.dti_fk_orderNumber = DOR.Guide_Number
LEFT JOIN DeliveryBackOffice.dbo.invoiceHeader INH
 ON INH.inv_pk_id = IND.dti_fk_header
JOIN DeliveryBackOffice.dbo.StatusOrder STO 
ON STO.StatusOrderId = DOR.StatusOrderId
LEFT JOIN DeliveryBackOffice.dbo.DeliveryOrderPaymentDetail DOPD 
 ON DOPD.GuideSerie = DOR.Guide_Serie 
 AND DOPD.GuideNumber = DOR.Guide_Number
 AND dopd.ShipmentCompleted = 1
WHERE 
CAST(DOR.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
AND DOR.IsCollect = 0 --Pagado en el express center
AND NOT EXISTS --Guía no asociada a cierre
(
SELECT 1 FROM DeliveryBackOffice.dbo.AccountingClosuresDetail ACD
WHERE ACD.GuideSerie = DOR.Guide_Serie
AND ACD.GuideNumber = DOR.Guide_Number
AND ACD.RowStatus = 1
)
--AND 
--DOR.Guide_Number = 403103
AND DOR.Sender_ID = @VisitPointId--4246
group by DOPD.TypeofInOutMoneyId) S1

-----------------------------------------------------------------------

declare @HeaderClosures int =0

BEGIN TRANSACTION
	BEGIN TRY
	 
	 IF ((@TotalCash + @TotalCard) >= 0 ) --Si existen datos para cierre
	 BEGIN	   
		--Insertar encabezado
		INSERT INTO DeliveryBackOffice.dbo.AccountingClosuresHeader
		(		
		    UserId,
		    ClosurerPOS,
		    TotalAmountCash,
			TotalAmountCashDeclared,
		    TotalAmountCredit,
			TotalAmountCreditDeclared,
		    InvoiceAmountCash,
		    InvoiceAmountCredit,
		    VisitPoint,
		    Voucher1,
		    Bag1,
		    Voucher2,
		    Bag2,
		    RowStatus,
		    TokenCreated,
		    DateCreated,
		    TokenUpdated,
		    DateUpdated
		)
		VALUES
		( 
		   @UserId2
		  ,@ClosurerPOS
		  ,@TotalCash
		  ,@TotalAmountCashDeclared
		  ,@TotalCard
		  ,@TotalAmountCreditDeclared
		  ,@CountCash
		  ,@CountCard
		  ,@VisitPointId
		  ,@Voucher1
		  ,@Bag1
		  ,@Voucher2
		  ,@Bag2
		  ,1
		  ,@TokenCreated
		  ,GETDATE()
		  ,NULL
		  ,null
		)
		PRINT 'INSERTA ENCABEADO'
		SET @HeaderClosures   = SCOPE_IDENTITY()  
		PRINT @HeaderClosures
		--Insertar detalle
		INSERT INTO DeliveryBackOffice.dbo.AccountingClosuresDetail
		(
		    AccountingClosuresHeaderId,
		    GuideSerie,
		    GuideNumber,
		    RowStatus,
		    TokenCreated,
		    DateCreated,
		    TokenUpdated,
		    DateUpdated
		)
		SELECT
		@HeaderClosures
		,Guide_Serie
		,Guide_Number
		,1
		,@TokenCreated
		,GETDATE()
		,NULL
		,null
		FROM #TempClosureDetail

		SELECT 200 IdResult ,'Cierre generado exitosamente' Message
		,Value 'URL', @HeaderClosures 'IdCierre' from ConfigParams
		where Name = 'ClosureExpressCenter'
	 END
     ELSE
      BEGIN
       SELECT 500 IdResult ,'No existen datos para generar cierre' Message
      END

	END TRY
	BEGIN CATCH
		
		ROLLBACK TRANSACTION

	END CATCH;
	IF @@TRANCOUNT > 0 
		BEGIN
			COMMIT TRANSACTION;
		END


END