USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spws_get_list_townships]    Script Date: 14/12/2020 11:39:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Edwin,Ramirez>
-- Create date: <2020-07-23>
-- Description:	<Obtiene el listado de todos los 
--               municipios de un departamento o 
--				 pais>
-- =============================================
CREATE PROCEDURE [dbo].[spws_get_list_townships_by_header_code]
	-- Add the parameters for the stored procedure here
	@IdHeaderCodeTownship as nvarchar(10)  = '-1', --all
	@IdHeaderCode as  nvarchar(2) = '-1', --all
	@IdCountry as nvarchar(2) = 'GT'
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	 DECLARE @jsonResult NVARCHAR(MAX)

  SET @jsonResult = (
	 SELECT STUFF((
		SELECT  
	  ',{"HeaderCodeTownship":"' + mun.HeaderCode + '",' +
	  '"HeaderCode":"' + depto.LocalCode  + '",' +
	  '"ProvinceName":"' + depto.ProvinceName  + '",' +
	  '"Coutry":"' + depto.IdCountry  + '",' +
	  '"TownshipName":"' + mun.TownshipName + '"}' 
	  	from DeliveryBackOffice.dbo.Township mun
			join DeliveryBackOffice.dbo.Province depto  on mun.IdProvince = depto.IdProvince
		where  mun.TownshipStatus = 'TRUE'
	and depto.IdCountry = @IdCountry
	and (@IdHeaderCodeTownship = '-1' or  mun.HeaderCode = @IdHeaderCodeTownship)
	and (@IdHeaderCode = '-1' or depto.LocalCode = @IdHeaderCode)
	  FOR XML PATH(''), TYPE
	 ).value('.', 'varchar(max)'),1,1,''
				  ) 
)

select '['+ @jsonResult + ']' FormatJson

   
END
