USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_GetCatTypeAlerts]    Script Date: 30/11/2021 09:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Alberto, Ixchop>
-- Create date: <2021-11-29>
-- Description:	<Devuelve el catalogo de los tipos de alertas>
-- =============================================
--
ALTER PROCEDURE [dbo].[sphd_GetCatTypeAlerts]
AS
BEGIN		
	SELECT 
	CTA.IdCatTypeAlert as  id,
	CTA.AlertName as name
	FROM DBO.CatTypeAlert CTA
	where RowStatus='TRUE';
END
