USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_Settlement_PickUp]    Script Date: 5/03/2021 17:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Hugo, Gómez>
-- Create date: <2020-03-04>
-- Description:	<Devuelve todas las guias asociadas a una ruta >
-- =============================================
CREATE PROCEDURE [dbo].[spg_Settlement_PickUp]
@Route varchar (100) = 'GUA001'
AS
BEGIN
	
			select  convert(int,ordp.PieceWeight) PIECE,  CONCAT(ord.Guide_Serie,ord.Guide_Number, case when convert(int, ordp.NoPiece) is not null then '-' else '' end, 
			case when convert(int, ordp.NoPiece) is not null then CONVERT(int, ordp.NoPiece) else '' end) GUIA,
			 sp.SchedulePickupId  PickUp, es.DateCreated DATERECOLECT
					from DeliveryOrder ord
					--left join DeliveryOrderDetail ordd on (ord.Guide_Number = ordd.Guide_Number and ord.Guide_Serie = ordd.Guide_Serie)
					left join DeliveryOrderPiece ordp on (ord.Guide_Number = ordp.GuideNumber and ord.Guide_Serie = ordp.GuideSerie)
					left join DeliveryOrderPaymentDetail dop on (dop.GuideNumber = ord.Guide_Number and dop.GuideSerie = ord.Guide_Serie)
					left join SchedulePickup sp on (sp.SchedulePickupId = dop.IdHeaderRecolection)
					left join ServiceManagement sm on (sm.IdSchedulePickup = sp.SchedulePickupId)
					inner join RouteAssigment ra on (ra.IdRouteAssigment = sm.IdPuRouteAssigment)
					inner join CatRoute cr on (cr.IdRoute = ra.IdRoute)
					inner join SenderReceiver sr on (sr.ID = ra.IdCurrierMan)
					left join  EventService es on (es.ServiceManagementId = sm.IdServiceManagement)
			where cr.CodeRoute = @Route and (ordp.StatusOrderId not in (11,10,7,5)or ordp.StatusOrderId is null) and es.ServiceStatusId = 3
		
END

--select cr.CodeRoute,sm.IdSchedulePickup,sr.First_Name,* from CatRoute cr
--inner join RouteAssigment ra on (ra.IdRoute = cr.IdRoute)
--inner join ServiceManagement sm on (sm.IdPuRouteAssigment = ra.IdRouteAssigment)
--inner join SenderReceiver sr on (sr.ID = ra.IdCurrierMan)
--where cr.CodeRoute = 'GUA001'


----select * from DeliveryOrderPiece 
----where 
--select IdRoute,* from CatRoute
--select IdRouteAssigment,* from RouteAssigment

--select IdServiceManagement,* from ServiceManagement

--select * from ServiceManagement

--select * from EventService

