USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_get_valueCharge]    Script Date: 17/02/2021 08:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-02-16>
-- Description:	<Retorna el valor de la tabla CatToCharge>
-- =============================================
CREATE PROCEDURE [dbo].[spg_get_valueCharge]
AS
BEGIN
	SELECT Value FROM [DeliveryBackOffice].[dbo].[CatToCharge] WHERE IdToCharge = 1;
END
