USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SetFinishPickUp]    Script Date: 15/02/2021 13:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Hugo,Gomez>
-- Create date: <2021-02-06>
-- Description:	<Recotizacion>
-- =============================================


ALTER PROCEDURE [dbo].[SetFinishPickUp]
	-- Add the parameters for the stored procedure here
	@InGuides   NVARCHAR(400) = 'FD22221,FD22361,FD22223,FD22359,FD22226',
	@IdPickup int = 2,
	@TypeofInOutMoneyId int = 1,
	@IdStatusPickup int = 3,
	@Token varchar(200) = null,
	@Observations varchar (200) = null,
	@Amount decimal (12,2) =0,
	@Voucher nvarchar(200) = ' '

	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @jsonResult NVARCHAR(MAX) 

		-- insertar en tabla temporal posbibles mensajes de respuesta
			--IF OBJECT_ID('tempdb.dbo.#UpdateNow', 'U') IS NOT NULL DROP TABLE #UpdateNow;
			IF OBJECT_ID('tempdb.dbo.#NowInsert', 'U') IS NOT NULL DROP TABLE #NowInsert;
		IF OBJECT_ID('tempdb.dbo.#responsemessage', 'U') IS NOT NULL DROP TABLE #responsemessage;
			select * INTO #responsemessage from (SELECT  200 AS IdResult
					,'Estado  cambiado correctamente' AS Message
					,'OK' as Id 
			union
			SELECT  500 AS IdResult
					,'Error faltal intente de nuevo mas tarde' AS Message
					,'Transac' as Id 
		 )  as errror
	BEGIN TRANSACTION
		BEGIN TRY

			IF OBJECT_ID('tempdb.dbo.#listGuides', 'U') IS NOT NULL DROP TABLE #listGuides;

			select SUBSTRING(Item, 1,2) ItemSerie,SUBSTRING(Item,3,len(Item)) ItemNumber 
				into #listGuides
				from DenariusDesktop_Dev.dbo.SplitUnlimited(@InGuides,',')

			---declare @IdCustomer int = (select IdCustomer from Account where AccIdAccount = @IdAccount)



	--------------------------------inserta en una tabla temporal, los campos requeridos para insertar en DeliveryPaymentDetail las guias no generadas en el portal--------------------------------------
			SELECT 
			
			[Guide_Number] ,
			[PriceShippment],
			[Guide_Serie],
			[recolect]

		INTO #NowInsert
		FROM  (select   ord.Guide_Number  , ord.Guide_Serie, ord.PriceShippment , (15.00) as recolect from DeliveryOrder ord 
																left join DeliveryOrderPaymentDetail dop on (ord.Guide_Number = dop.GuideNumber and ord.Guide_Serie = dop.GuideSerie)
																inner join #listGuides ls on (ord.Guide_Number = ls.ItemNumber and ord.Guide_Serie = ls.ItemSerie)
																where ord.Guide_Number in (select ItemNumber from #listGuides) and ord.StatusOrderId in (15,1)
																and dop.GuideNumber is null)  as Table1
		


		--	SELECT 
			
		--	[Guide_Number] ,
		--	[PriceShippment],
		--	[Guide_Serie],
		--	[recolect]

		--INTO #UpdateNow
		--FROM  (select   ord.Guide_Number  , ord.Guide_Serie, ord.PriceShippment , (15.00) as recolect from DeliveryOrder ord
		--														left join DeliveryOrderPaymentDetail dop on (ord.Guide_Number = dop.GuideNumber and ord.Guide_Serie = dop.GuideSerie ) 
		--														inner join #listGuides ls on (ord.Guide_Number = ls.ItemNumber and ord.Guide_Serie = ls.ItemSerie)
		--														where ord.Guide_Number in (Select ItemNumber from #listGuides) and   ord.StatusOrderId in (15,1)  
		--														and dop.GuideNumber is not null  ) as Table2



		
		declare @AmountPickup decimal (18,2) = (select  Convert(decimal(18,2),Value) from ConfigParams where ConfigParamsId = 15)



		----------------------------------------------Inserta en la tabla DeliveryOrderPaymentDetail los datos de la tabla temporal ----------------------------------

	insert into dbo.DeliveryOrderPaymentDetail
	(  [GuideNumber]
      ,[GuideSerie]
      ,[PayTypeId]
      ,[TypeofInOutMoneyId]
      ,[TimePlaId]
      ,[amount]
      ,[TokenCreated]
      ,[DateCreated]
      ,[TokenUpdated]
      ,[DateUpdated]
      ,[PaymentRecollections]
      ,[PaymentNow]
      ,[PaymentDelivery]
      ,[StartDate]
      ,[EndDate]
      ,[ShipmentCompleted]
      ,[RecollectionCompleted]
      ,[PaidGuide]
      ,[TransaccionFAC]
      ,[IdHeaderRecolection]
      ,[RecolectNow]
      ,[RecolectDelivery]
      ,[RecolectPayment]
	  )
	  select ls.Guide_Number 
	,ls.Guide_Serie
	,1
	,@TypeofInOutMoneyId
	,2
	,null
	,'SYSTEMSYS'
	,getdate()
	,null
	,null
	,null
	,0.00
	,0.00
	,null
	,null
	,null
	,null
	,null
	,null
	,@IdPickup
	,0.00
	,0.00
	,@AmountPickup
	  from #NowInsert ls



	  -------------------------- Drop la tabla temporal -------------------------------------------------------------------

	--DROP TABLE #UpdateNow
	DROP TABLE #NowInsert






	---------------------------------Obtner los datos a actualizar del encabezado del lote de guias -------------------------------------

		declare @SenderId int  = (select top 1 ord.Sender_ID  from #listGuides ls
							join	DeliveryOrder ord on (ord.Guide_Number = ls.ItemNumber and ord.Guide_Serie = ls.ItemSerie)
						where ord.Guide_Number in (select ItemNumber from #listGuides ))

		declare @SenderName varchar (50)  = (select top 1  concat(ord.Sender_FirstName, ord.Sender_LastName) as SenderName  from #listGuides ls
							join	DeliveryOrder ord on (ord.Guide_Number = ls.ItemNumber and ord.Guide_Serie = ls.ItemSerie)
						where ord.Guide_Number in (select ItemNumber from #listGuides ))

		declare @Sender_Phone varchar (20)  = (select top 1  ord.Sender_Phone from #listGuides ls
							join	DeliveryOrder ord on (ord.Guide_Number = ls.ItemNumber and ord.Guide_Serie = ls.ItemSerie)
						where ord.Guide_Number in (select ItemNumber from #listGuides ))


		declare @IdHublogistic int  = (select top 1  thb.IdHublogistic from #listGuides ls
							join	DeliveryOrder ord on (ord.Guide_Number = ls.ItemNumber and ord.Guide_Serie = ls.ItemSerie)
						inner join TownshipByHubLogistic thb on (ord.SenderIdTownship = thb.IdTownship)
						inner join DeliveryOrderPaymentDetail dop on (dop.GuideNumber = ord.Guide_Number and dop.GuideSerie = ord.Guide_Serie)
						where ord.Guide_Number in (select ItemNumber from #listGuides ))



		--declare @AmountPickup decimal (18,2)  = (select (sum (dop.PaymentRecollections) + sum (dop.RecolectPayment)) as AmountPickup from #listGuides ls
		--					join	DeliveryOrder ord on (ord.Guide_Number = ls.ItemNumber and ord.Guide_Serie = ls.ItemSerie)
		--				inner join TownshipByHubLogistic thb on (ord.SenderIdTownship = thb.IdTownship)
		--				inner join DeliveryOrderPaymentDetail dop on (dop.GuideNumber = ord.Guide_Number and dop.GuideSerie = ord.Guide_Serie)
		--				where ord.Guide_Number in (select ItemNumber from #listGuides ))

	   declare @Sender_Address varchar (200)  = (select top 1 ord.Sender_Address from #listGuides ls
							join	DeliveryOrder ord on (ord.Guide_Number = ls.ItemNumber and ord.Guide_Serie = ls.ItemSerie)
						where ord.Guide_Number in (select ItemNumber from #listGuides ))


-----------------------------------------------------Actualiza los datos obtenidos anteriormente para la tabla SchedulePickup-----------------------------------------------------------

		update dbo.SchedulePickup  set  SenderId = @SenderId, SenderName = @SenderName, SenderPhone = @Sender_Phone , IdHubLogistics = @IdHublogistic, AddressPickup = @Sender_Address, AmountPickup = @AmountPickup
		where SchedulePickupId = @IdPickup

---------------------------------------------------------Agrupa el lote de guias a una sola transaccion ------------------------------------------------------------------------------

		update DeliveryOrderPaymentDetail  set  IdHeaderRecolection = @IdPickup
		from DeliveryOrderPaymentDetail dop
		inner join DeliveryOrder ord on (ord.Guide_Number = dop.GuideNumber and ord.Guide_Serie = dop.GuideSerie)
		where GuideNumber in( select ItemNumber from #listGuides) and ord.StatusOrderId in (15,1) and (dop.IdHeaderRecolection = @IdPickup or dop.IdHeaderRecolection is null)

		------------------------------------------------- Actualiza su StatusId a 2 = Recoleccion todas las guias del lote -------------------------------------

		update DeliveryOrder set StatusOrderId = 2
		from DeliveryOrder
		where Guide_Number in (select ItemNumber from #listGuides) and Guide_Serie in (select ItemSerie from #listGuides)

		---------------------------------------------- Coloca true a IsPickup para que se entienda que es Recoleccion o fue escaneada la guia --------------------


		update DeliveryOrderPiece set IsPickup = 1
		from DeliveryOrderPiece
		where GuideNumber in (select ItemNumber from #listGuides) and GuideSerie in (select ItemSerie from #listGuides)
		--------------------------------------------- Registra el pago de la recoleccion ---------------------------------
		
			--insert into dbo.Cost (IdProduct, ProductNumber, IdTypeCharge, TotalAmount, PaymentDate, IdModule, RowStatus, TokenCreated, DateCreated, TokenUpdated, DateUpdated)
			--values (2, @IdPickUp, 2, @Amount, GETDATE(), @IdModule, 1, @Token,GETDATE(), null, null ) 
		
			--declare @transact int = (select top 1 IdCost from Cost
			--						order by 1 desc)
		
			--insert into dbo.CostDetail (IdCost, IdTypeOfMoney,Amount, Voucher, RowStatus, TokenCreated, DateCreated, TokenUpdated, DateUpdated)
			--values (@transact, @PaymentType, @Amount, @Voucher, 1, @Token, GETDATE(), null, null)

			

					---------------------------------------------- Actualiza el Status del Pickup  -------------------------------------------------------------------------


				update ServiceManagement set ServiceStatusId = @IdStatusPickup
					from ServiceManagement
					where IdSchedulePickup = @IdPickup

					declare @transac int = (select top 1 IdServiceManagement from ServiceManagement where IdSchedulePickup = @IdPickup)
			
			   ---------------------------------------------- Inserta en EventService el comportamiento del Pickup  -------------------------------------------------------------------------	
				
				insert into EventService (ServiceManagementId, ServiceStatusId, RowStauts, TokenCreated, DateCreated, Observations)
				values( @transac, @IdStatusPickup, 1, @Token, GETDATE(), @Observations )


				-----------------------------------------------------------------------------------------------------------------------------------------------------------

			
				-----------------------------------------Registrar pago ---------------------------------------------------------------------------
		
		if @Amount> 0
		DECLARE @fecha as date = getdate()
			begin
				Exec [dbo].[SetPaymentTransaction]
						@ProductNumber = @IdPickup,
						@Amount = @Amount,
						@IdModule  = 1,
						@PaymentType  = @TypeofInOutMoneyId,
						@Voucher =@Voucher,
						@Token = @Token,
						@PaymentDate =@fecha
			end
				
	
		-- retornar resultado en formato json
	
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION
			select ERROR_MESSAGE()
				-- retornar mensaje de error
			set @jsonResult =(
				SELECT STUFF(( 
				SELECT '"IdResult":' +  convert(varchar,IdResult)    +',' 
				+ '"Message":"' + convert( nvarchar(max),ERROR_MESSAGE()) + '"}' from #responsemessage where Id ='Invalid'
				FOR XML PATH(''), TYPE
				).value('.', 'varchar(max)'),1,1,''
					  ) 
			)
		END CATCH;
		IF @@TRANCOUNT > 0 BEGIN
			COMMIT TRANSACTION;


			set @jsonResult = (SELECT STUFF(( 
			SELECT 
			  ',"Messege":"Cambios realizados exitosamente"}'
	
			FOR XML PATH(''), TYPE
							).value('.', 'varchar(max)'),1,1,''
									) )

			--- succesfull
		END
		
		-- destruir tablas temporales

		IF OBJECT_ID('tempdb.dbo.#listGuides', 'U') IS NOT NULL DROP TABLE #listGuides;
		IF OBJECT_ID('tempdb.dbo.#responsemessage', 'U') IS NOT NULL DROP TABLE #responsemessage;

		-- retornar resultado en formato json

				select ('[{' + @jsonResult +  ']') jsonResult

END

