USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sps_set_incidence_service]    Script Date: 24/09/2021 18:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Cano, Carlos>
-- Create date: <2020-09-08>
-- Updated By:	<Alfredo, Monroy>
-- Updated At:	<2021-09-21>
-- Description:	<Registrar incidente de entrega en sitio>
-- =============================================
CREATE PROCEDURE [dbo].[sps_set_incidence_service]
	@Token VARCHAR(200),
	@IdIssue INT,
	@Comment VARCHAR(500),
	@Guides TblListGuides READONLY
AS
BEGIN
	DECLARE @jsonResult NVARCHAR(MAX);

	-- Validacion de Token
	IF NOT EXISTS
    (
        SELECT 1
        FROM DeliveryBackOffice.dbo.TokenLog
        WHERE TknRowStatus = 1
                AND TknIdToken = @Token
                -- AND CAST(TknDateCreated AS DATE) = CAST(GETDATE() AS DATE)
    )
    BEGIN
		SET @jsonResult =
            (
                SELECT
					STUFF(
					(
                        SELECT ',{"IdStatus":' + '500' + ',' + '"Description":"' + 'Token inválido'
                                + '"' + '}'
                        FOR XML PATH(''), TYPE
                    ).value('.', 'varchar(max)'),
                    1,
                    1,
                    ''
                ));

            SELECT '[' + @jsonResult + ']' FormatJson;

            RETURN;
    END;


	-- control de inserciones para transacción
	DECLARE @RInserted INT

	-- tabla temporal para actualizar registros encontrados
	DECLARE @Table AS TABLE (ID INT)

	-- estatus
	DECLARE @IdEstatus AS INT
	set @IdEstatus = 12

	BEGIN TRANSACTION

		BEGIN TRY

		    -- ALTER TABLE [dbo].[DeliveryAttempt] ALTER COLUMN [ID_Courier] [int] NULL;

			-- actualizar tabla de registro de guías electrónicas
			UPDATE DO
			SET DO.StatusOrderId = @IdEstatus
			FROM DeliveryBackOffice.dbo.DeliveryOrder DO
			INNER JOIN @Guides G ON G.Guide_Serie = DO.Guide_Serie AND G.Guide_Number = DO.Guide_Number

			-- registrar estado en tabla de checkpoints
			INSERT INTO DeliveryBackOffice.dbo.DeliveryOrderDetail (Guide_Serie, Guide_Number, StatusOrderId, UserCreated, DateCreated, DateCreatedInSystem, Observations, Temperature_Celsius)
			SELECT DO.Guide_Serie, DO.Guide_Number, @IdEstatus, @Token, GETDATE(), GETDATE(), @Comment, NULL
			FROM DeliveryBackOffice.dbo.DeliveryOrder DO
			INNER JOIN @Guides G ON G.Guide_Serie = DO.Guide_Serie AND G.Guide_Number = DO.Guide_Number

			-- registra de intentos de entrega fallida...
			INSERT INTO DeliveryBackOffice.dbo.DeliveryAttempt (Guide_Serie, Guide_Number, ID_Incident, User_Created, Date_Created, Dry, Cold, Delivered)
			SELECT DO.Guide_Serie, DO.Guide_Number, @IdIssue, @Token, GETDATE(), 0, 0, 0
			FROM DeliveryBackOffice.dbo.DeliveryOrder DO
			INNER JOIN @Guides G ON G.Guide_Serie = DO.Guide_Serie AND G.Guide_Number = DO.Guide_Number			

			SET @RInserted = @@ROWCOUNT

		END TRY

		BEGIN CATCH
			SET @jsonResult =
            (
                SELECT
					STUFF(
					(
                        SELECT ',{"IdStatus":' + '500' + ',' + '"Description":"' + ERROR_MESSAGE()
                                + '"' + '}'
                        FOR XML PATH(''), TYPE
                    ).value('.', 'varchar(max)'),
                    1,
                    1,
                    ''
                ));

            SELECT '[' + @jsonResult + ']' FormatJson;

			ROLLBACK TRANSACTION
		END CATCH;

		IF @@TRANCOUNT > 0
		BEGIN
			SET @jsonResult =
            (
				SELECT
					STUFF(
					(
						SELECT ',{"IdStatus":' + '200' + ',' + '"Description":"' + 'Éxito'
								+ '"' + '}'
						FOR XML PATH(''), TYPE
					).value('.', 'varchar(max)'),
					1,
					1,
					''
				));

            SELECT '[' + @jsonResult + ']' FormatJson;

			COMMIT TRANSACTION;			
		END
		ELSE
		BEGIN
			SET @jsonResult =
            (
                SELECT
					STUFF(
					(
                        SELECT ',{"IdStatus":' + '500' + ',' + '"Description":"' + ERROR_MESSAGE()
                                + '"' + '}'
                        FOR XML PATH(''), TYPE
                    ).value('.', 'varchar(max)'),
                    1,
                    1,
                    ''
                ));

            SELECT '[' + @jsonResult + ']' FormatJson;
		END
END
