USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SetDispatchDataFromSimpliroute]    Script Date: 25/11/2021 09:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Andres, Ruiz>
-- Create date: <2021-11-12>
-- Description:	< Retorno de datos desde Simpliroute, cambiando de estado las guías procesadas y generando el manifiesto del servicio y la asociación correspondiente >
-- =============================================
CREATE PROCEDURE [dbo].[SetDispatchDataFromSimpliroute]
		@GuidesTable TblExtPlatSimplirouteVisit READONLY,
		@ExternalPlatform INT,
		@RoutePlatform NVARCHAR(50),
		@CouriermanDPI NVARCHAR(50) = '',
		@VehicleCode NVARCHAR(50),
		@RouteDispatched NVARCHAR(50) = '',
		@GuideQuantity INT,
		@PiecesDryDispatched INT,
		@PiecesColdDispatched INT,
		@DateOfEvent DATETIME = NULL,
		@Token NVARCHAR(50) = 'SYS-HERMESROUTES',
		@StationId INT = NULL
AS
BEGIN
	IF (@DateOfEvent IS NULL)
	BEGIN
		SET @DateOfEvent = CAST(GETDATE() AS date)
	END
	-- CONTROL DE INSERCIÓN DE MANIFIESTO DE DESPACHO
	DECLARE @ID_Manifest INT
	DECLARE @RowEPSUpdated INT
	DECLARE @RowDOUpdated INT
	DECLARE @RowDODInserted INT
	DECLARE @RowDAInserted INT 
	DECLARE @RowDSDInserted INT 
	DECLARE @RowRAInserted INT 

	DECLARE @IdCourier INT = NULL
	DECLARE @IdVehicle INT = NULL

	DECLARE @IdExtPlatRoute INT = 0;
	-- Courier 57 esta en blanco y se usa como "comodin" para insertar el manifiesto correspondiente
	IF (LEN(@CouriermanDPI) > 0)
		SET @IdCourier = (SELECT TOP 1 SR.ID FROM DeliveryBackOffice.dbo.SenderReceiver SR WHERE SR.CUI = @CouriermanDPI);
	SET @IdVehicle = (SELECT TOP 1 CV.IdVehicle FROM DeliveryBackOffice.dbo.CatVehicle CV WHERE CV.UnitNumber = @VehicleCode);
	-- DECLARE @IdRoute INT = (SELECT TOP 1 CR.IdRoute FROM DeliveryBackOffice.dbo.CatRoute CR WHERE CR.CodeRoute = @RouteDispatched);

	-- StatudId 29 = asignado
	-- DECLARE @StatusId INT = (SELECT TOP 1 SO.StatusOrderId FROM DeliveryBackOffice.dbo.StatusOrder SO WHERE SO.OrderDescription = 'Asignado');

	BEGIN TRANSACTION
		BEGIN TRY
			-- REVISAR POR EXISTENCIA DE RUTA O GENERARLA
			IF EXISTS (SELECT 1 FROM DeliveryBackOffice.dbo.ExtPlatRoute WHERE IdPlatformRoute = @RoutePlatform)
			BEGIN
				SET @IdExtPlatRoute = (SELECT TOP 1 IdExtPlatRoute FROM DeliveryBackOffice.dbo.ExtPlatRoute WHERE IdPlatformRoute = @RoutePlatform)
			END
			ELSE
			BEGIN
				DECLARE @AuxTable TABLE ( ID INT )

				INSERT INTO DeliveryBackOffice.dbo.ExtPlatRoute (ExtPlatformId,IdPlatformRoute,RowStatus,TokenCreated,DateCreated)
				OUTPUT inserted.IdExtPlatRoute INTO @AuxTable(ID)
				VALUES (@ExternalPlatform,@RoutePlatform,1,@Token,GETDATE())

				SET @IdExtPlatRoute = (SELECT TOP 1 ID FROM @AuxTable);
			END

			IF @IdExtPlatRoute > 0
			BEGIN
				-- MODIFICAR STATUS DE TABLA SIMPLIROUTE
				UPDATE EPS
				SET 
					EPS.[Plan] = GT.[Plan],
					EPS.[Route] = GT.[Route],
					EPS.[Order] = GT.[Order],
					EPS.[Driver] = GT.[driver],
					EPS.[Vehicle] = GT.[vehicle],
					EPS.[IsIncluded] = GT.[IsIncluded],
					EPS.[EstimatedTimeArrival] = GT.[EstimatedTimeArrival],
					EPS.[TokenUpdated] = @Token,
					EPS.[DateUpdated] = GETDATE()
				FROM DeliveryBackOffice.dbo.ExtPlatformService EPS
				JOIN
				@GuidesTable GT
				ON
				EPS.IdService = GT.IdService

				SET @RowEPSUpdated = @@ROWCOUNT

				-- MODIFICAR STATUS DE GUÍAS PROCESADAS
				/*
				UPDATE DO
				SET StatusOrderId = @StatusId
				FROM DeliveryBackOffice.dbo.DeliveryOrder DO
				JOIN @GuidesTable GT
				ON DO.Guide_Number = GT.GuideNumber
				AND DO.Guide_Serie = GT.GuideSerie
				*/

				-- SET @RowDOUpdated = @@ROWCOUNT

				IF (@RowEPSUpdated > 0 /*AND @RowDOUpdated > 0*/)
				BEGIN
					-- INSERTAR NUEVO ESTADO DE GUÍA EN TABLA HISTÓRICA
					/*
					INSERT INTO DeliveryBackOffice.dbo.DeliveryOrderDetail ([Guide_Serie], [Guide_Number], [StatusOrderId], [UserCreated], [DateCreated], [DateCreatedInSystem], [Observations], [Temperature_Celsius])
					SELECT GT.GuideSerie, GT.GuideNumber, @StatusId, @Token, GETDATE(), GETDATE(), '', 0
					FROM @GuidesTable GT
					*/

					-- VARIABLE DE CONTROL DE TRANSACCIÓN
					SET @ID_Manifest = 0

					DECLARE @AuxTable2 TABLE( ID INT )
					-- Insertar registro en control de manifiestos de despacho
					INSERT INTO [dbo].[DeliveryOrderBySettlement]
						   ([Date_Printed]
						   ,[User_Dispatched]
						   ,[Date_Dispatched]
						   ,[Pieces_Dry_Dispatched]
						   ,[Pieces_Cold_Dispatched]
						   ,[Guides_Dispatched]
						   ,[User_Received]
						   ,[Date_Received]
						   ,[Pieces_Dry_Received]
						   ,[Pieces_Cold_Received]
						   ,[Guides_Received]
						   ,[ID_Courier]
						   ,[Route_Dispatched]
						   ,[Route_Received]
						   ,[DispatchedStationId])
					 OUTPUT inserted.ID INTO @AuxTable2
					 VALUES
						   (NULL
						   ,@Token
						   ,@DateOfEvent
						   ,@PiecesDryDispatched
						   ,@PiecesColdDispatched
						   ,@GuideQuantity
						   ,NULL
						   ,NULL
						   ,NULL
						   ,NULL
						   ,NULL
						   ,@IdCourier
						   ,@DateOfEvent
						   ,NULL
						   ,IIF( ISNULL(@StationId,0) > 0, @StationId, NULL))

					SET @ID_Manifest = (SELECT TOP 1 ID FROM @AuxTable2);

					IF (@ID_Manifest > 0)
					BEGIN
					
						-- INGRESAR A INTENTO DE ENTREGA
						INSERT INTO [DeliveryBackOffice].[dbo].[DeliveryAttempt] 
							([Guide_Serie],[Guide_Number],[Dry],[Cold],[Latitude],[Longitude],[Delivered],[ID_Courier],[ID_DeliveryOrderBySettlement],[User_Created],[Date_Created],[Guide_Piece]) 
						SELECT GT.GuideSerie,GT.GuideNumber,IIF(DOP.IsDry = 1, 1, 0),IIF(DOP.IsDry = 1, 0, 1),GT.Latitude,GT.Longitude,0,@IdCourier,@ID_Manifest,@Token,GETDATE(),DOP.NoPiece
						FROM @GuidesTable GT
						JOIN
						DeliveryOrderPiece DOP
						ON
						GT.GuideNumber = DOP.GuideNumber
						AND
						GT.GuideSerie = DOP.GuideSerie

						SET @RowDAInserted = COALESCE(@@ROWCOUNT,0)

						-- INSERTAR EN TABLA HISTÓRICA DE MANIFIESTO (para propósito de bitácora)
						INSERT INTO [DeliveryBackOffice].[dbo].[DeliverySettlementDetail]
						([ID_DeliveryOrderBySettlement],[Guide_Serie],[Guide_Number], [GuideOrder])
						SELECT @ID_Manifest,GT.[GuideSerie],GT.[GuideNumber], GT.[Order]
						FROM @GuidesTable GT

						SET @RowDSDInserted = COALESCE(@@ROWCOUNT,0)

						-- ASOCIAR RUTA, CONDUCTOR, VEHICULO, MANIFIESTO Y RUTA DE PLATAFORMA EXTERNA
						INSERT INTO [DeliveryBackOffice].[dbo].[RouteAssigment]
						(IdRoute, IdCurrierMan, IdVehicle, ManifestId, ExtPlatRouteId, DateOfRoute, RowStatus, TokenCreated, DateCreated)
						VALUES(
							NULL /*@IdRoute*/, @IdCourier, @IdVehicle, @ID_Manifest, @IdExtPlatRoute, CAST(GETDATE() AS DATE), 1, @Token, GETDATE()
						)

						SET @RowRAInserted = COALESCE(@@ROWCOUNT,0)

					END
					ELSE
					BEGIN
						SELECT 
							0 AS 'StatusCode', 
							'Manifiesto no se pudo generar' AS 'Description', 
							CONVERT(BIGINT, 0) AS 'NumTransferID'
						ROLLBACK TRANSACTION
					END
				END
				ELSE
				BEGIN
					SELECT 
						0 AS 'StatusCode', 
						'No se pudo actualizar datos de servicio ni estado de guías' AS 'Description', 
						CONVERT(BIGINT, 0) AS 'NumTransferID'
					ROLLBACK TRANSACTION
				END
			END
			ELSE
			BEGIN
				SELECT 
					0 AS 'StatusCode', 
					'Dato de ruta no encontrado' AS 'Description', 
					CONVERT(BIGINT, 0) AS 'NumTransferID'
				ROLLBACK TRANSACTION
			END
		END TRY

		BEGIN CATCH
			SELECT 
				0 AS 'StatusCode', 
				ERROR_MESSAGE() AS 'Description', 
				CONVERT(BIGINT, 0) AS 'NumTransferID'
			ROLLBACK TRANSACTION
		END CATCH;

		IF @@TRANCOUNT > 0
		BEGIN
			IF (@ID_Manifest > 0 AND @RowDAInserted > 0 AND @RowDSDInserted > 0 AND @RowRAInserted > 0)
			BEGIN
				SELECT			  
					@ID_Manifest AS 'StatusCode',
					'Registro guardado correctamente' AS 'Description', 
					@@TRANCOUNT AS 'NumTransferID'
				COMMIT TRANSACTION;		
			END
			ELSE
			BEGIN
				SELECT			  
					0 AS 'StatusCode',
					'Registro no encontrado' AS 'Description', 
					0 AS 'NumTransferID'
				ROLLBACK TRANSACTION
			END
		END
		ELSE
		BEGIN
			SELECT 
				0 AS 'StatusCode', 
				ERROR_MESSAGE() AS 'Description', 
				CONVERT(BIGINT, 0) AS 'NumTransferID'
			ROLLBACK TRANSACTION
		END
	--END TRANSACTION
END
