USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetDataForClosure]    Script Date: 15/07/2021 14:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC GetDataForClosure

CREATE PROCEDURE [dbo].[GetDataForClosure]
@VisitPointId int = 4246
AS
BEGIN
SELECT DOR.DateCreated 'DateCreated'
,DOR.Sender_FirstName + ' ' + DOR.Sender_LastName 'Client' 
--,vpc.DescriptionOfClient,DOR.Sender_ID,DOR.IsCollect,DOPD.PayTypeId
,INH.inv_certificationFEL 'CertificationFEL'
,INH.inv_serieFEL 'SerieFel'
,INH.inv_numberFEL 'NumberFel'
,INH.inv_SAPDocEntry 'DOCSAP'
,STO.OrderDescription 'Status'
,DOR.Guide_Serie + CONVERT(VARCHAR,DOR.Guide_Number) 'Guide'
,isnull(costd.Voucher,'') 'Voucher'
,DOR.PriceShippment 'PriceShippment'
,isnull(DOR.Collect_OnDelivery,0) 'COD'
, case 
	when DOPD.TypeofInOutMoneyId  = 1 THEN UPPER(ctgmon.tio_pk_name)
	when DOPD.TypeofInOutMoneyId = 2 THEN UPPER(ctgmon.tio_pk_name)
	when DOPD.TypeofInOutMoneyId = 3 THEN UPPER(ctgmon.tio_pk_name)
	when DOPD.TypeofInOutMoneyId = 4 THEN UPPER(ctgmon.tio_pk_name)
	when DOPD.TypeofInOutMoneyId = 6 THEN UPPER('pago con tarjeta')
	when DOPD.TypeofInOutMoneyId = 7 THEN UPPER(ctgmon.tio_pk_name)
	 else '' end 'PaymentType'
,'Servicio Estándar' 'ServiceType'
--,DOPD.*
--SELECT * FROM DeliveryBackOffice.dbo.CatPaymentType
FROM dbo.DeliveryOrder DOR
JOIN DeliveryBackOffice.dbo.VisitPointClient VPC 
 ON DOR.Sender_ID = VPC.CodeOfReference
LEFT JOIN DeliveryBackOffice.dbo.invoiceDetail IND
 ON IND.dti_fk_orderSerie = DOR.Guide_Serie
   AND IND.dti_fk_orderNumber = DOR.Guide_Number
LEFT JOIN DeliveryBackOffice.dbo.invoiceHeader INH
 ON INH.inv_pk_id = IND.dti_fk_header
JOIN DeliveryBackOffice.dbo.StatusOrder STO 
ON STO.StatusOrderId = DOR.StatusOrderId
LEFT JOIN DeliveryBackOffice.dbo.DeliveryOrderPaymentDetail DOPD 
 ON DOPD.GuideSerie = DOR.Guide_Serie 
 AND DOPD.GuideNumber = DOR.Guide_Number
 AND dopd.ShipmentCompleted = 1
 left join DeliveryBackOffice.dbo.ctgTypeOfInOutOfMoney ctgmon on ctgmon.tio_pk_id = DOPD.TypeofInOutMoneyId
 left join DeliveryBackOffice.dbo.Cost cost on cost.ProductNumber = CONCAT(DOR.Guide_Serie,DOR.Guide_Number)
 left join DeliveryBackOffice.dbo.CostDetail costd  on costd.IdCost = cost.IdCost
WHERE 
CAST(DOR.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
AND DOR.IsCollect = 0 --Pagado en el express center
AND NOT EXISTS --Guía no asociada a cierre
(
SELECT 1 FROM DeliveryBackOffice.dbo.AccountingClosuresDetail ACD
WHERE ACD.GuideSerie = DOR.Guide_Serie
AND ACD.GuideNumber = DOR.Guide_Number
AND ACD.RowStatus = 1
)
--AND 
--DOR.Guide_Number = 403103
AND DOR.Sender_ID = @VisitPointId--4246


select isnull(sum(S1.TotalCash),0) 'TotalCash',  isnull(sum(S1.CountCash),0) 'CountCash',  isnull(sum(S1.TotalCard),0) 'TotalCard',  isnull(sum(S1.CountCard),0) 'CountCard' from (
SELECT case when DOPD.TypeofInOutMoneyId = 1 THEN  SUM(DOR.PriceShippment) else 0 end 'TotalCash'
,case when DOPD.TypeofInOutMoneyId = 1 THEN count(DOPD.TypeofInOutMoneyId )else 0 end 'CountCash'
,case when DOPD.TypeofInOutMoneyId = 6 THEN  SUM(DOR.PriceShippment) else 0 end 'TotalCard'
,case when DOPD.TypeofInOutMoneyId = 6 THEN count(DOPD.TypeofInOutMoneyId )else 0 end 'CountCard'
FROM dbo.DeliveryOrder DOR
JOIN DeliveryBackOffice.dbo.VisitPointClient VPC 
 ON DOR.Sender_ID = VPC.CodeOfReference
LEFT JOIN DeliveryBackOffice.dbo.invoiceDetail IND
 ON IND.dti_fk_orderSerie = DOR.Guide_Serie
   AND IND.dti_fk_orderNumber = DOR.Guide_Number
LEFT JOIN DeliveryBackOffice.dbo.invoiceHeader INH
 ON INH.inv_pk_id = IND.dti_fk_header
JOIN DeliveryBackOffice.dbo.StatusOrder STO 
ON STO.StatusOrderId = DOR.StatusOrderId
LEFT JOIN DeliveryBackOffice.dbo.DeliveryOrderPaymentDetail DOPD 
 ON DOPD.GuideSerie = DOR.Guide_Serie 
 AND DOPD.GuideNumber = DOR.Guide_Number
 AND dopd.ShipmentCompleted = 1
WHERE 
CAST(DOR.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
AND DOR.IsCollect = 0 --Pagado en el express center
AND NOT EXISTS --Guía no asociada a cierre
(
SELECT 1 FROM DeliveryBackOffice.dbo.AccountingClosuresDetail ACD
WHERE ACD.GuideSerie = DOR.Guide_Serie
AND ACD.GuideNumber = DOR.Guide_Number
AND ACD.RowStatus = 1
)
--AND 
--DOR.Guide_Number = 403103
AND DOR.Sender_ID = @VisitPointId--4246
group by DOPD.TypeofInOutMoneyId) S1



END



--SELECT * FROM DeliveryBackOffice.dbo.Ecommerce
