USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_delete_Rate]    Script Date: 3/15/2022 12:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<César, Aquino>
-- Create date: <2021-04-19>
-- Description:	<Devuelve los tipos de tarifas que existen>
-- =============================================
 CREATE PROCEDURE [dbo].[sphd_delete_Rate]

 @IdRate INT
AS
BEGIN
	UPDATE dbo.RateHeader
	SET RheRowStatus ='false'
	WHERE RheId = @IdRate
END
GO
