USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spws_get_PathEnvironment]    Script Date: 3/13/2022 1:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Marco Jimenez>
-- Create date: <2021-01-15>
-- Description:	<spws_get_PathEnvironment>
-- =============================================


CREATE PROCEDURE [dbo].[spws_get_PathEnvironment]
	-- Add the parameters for the stored procedure here	
	@Path VARCHAR(100)
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT Value as Path FROM ConfigParams WHERE Name = @Path	

END



GO
