USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_getSettlements]    Script Date: 3/15/2022 12:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sphd_getSettlements]
	@ID AS INT
AS
BEGIN
	SELECT IdSettlement, Settlement
	FROM [dbo].[Settlement]
	WHERE SettlementSatus = 1
	AND IdTownship = @ID
END
GO
