USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_get_CatVehicleBrand]    Script Date: 3/15/2022 12:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Hugo, Gomez>
-- Create date: <2020-03-02>
-- Description:	<Devuelve todos los vehiculos disponibles>
-- =============================================
CREATE PROCEDURE [dbo].[spg_get_CatVehicleBrand]
@value bit = 1
AS
BEGIN
	SELECT IdCatVehicleBrand, Name FROM CatVehicleBrand
	where RowStatus = 1
END
GO
