USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_get_Rate]    Script Date: 3/15/2022 12:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<César, Aquino>
-- Create date: <2021-04-22>
-- Description:	<Retorna los tarifarios>
-- =============================================
create PROCEDURE [dbo].[sphd_get_Rate]
AS
BEGIN

	select rd.RheId [Id]
		,rd.RheName [Name]
		,rd.RateTypeId [TypeRate]
	from dbo.RateHeader rd
	WHERE rd.RheRowStatus ='true'
	AND rd.IsTemplate = 'true'
	

END
GO
