USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_GetStatusOrderId]    Script Date: 3/13/2022 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      <Sazo,Cesar>
-- Create date: <2021-10-19>
-- Description: <Obtiene el StatusOrderId de un estado especifico segun la descripcion>
-- =============================================

CREATE PROCEDURE [dbo].[sphd_GetStatusOrderId]
    @OrderDescription NVARCHAR(100)
AS
BEGIN
    SELECT StatusOrder.StatusOrderId
    FROM DeliveryBackOffice.dbo.StatusOrder
    WHERE OrderDescription = @OrderDescription
END
GO
