USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetWebhookEndpoint]    Script Date: 3/15/2022 12:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetWebhookEndpoint]
@IdCustomer as INT
AS
BEGIN

SELECT  [URI]      
FROM [dbo].[WebhookEndpoint]
WHERE [IdCustomer] = @IdCustomer

END
GO
