USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_getProvinces]    Script Date: 3/15/2022 12:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sphd_getProvinces]
AS
BEGIN
	SELECT IdProvince, ProvinceName
	FROM DeliveryBackOffice.[dbo].[Province]
	WHERE ProvinceStatus = 1
END
GO
