USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_set_UnassignRouteService]    Script Date: 3/15/2022 12:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-02-15>
-- Description:	<Desasignación de un servicio a una ruta>
-- =============================================
CREATE PROCEDURE [dbo].[spg_set_UnassignRouteService]
		@idSchedulePickup as int,
		@token as varchar(50)
AS
BEGIN
	DECLARE @idSchedule as int

	IF EXISTS(SELECT * FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
		WHERE IdSchedulePickup = @idSchedulePickup)
	BEGIN
		SELECT @idSchedule = IdServiceManagement  FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
		WHERE IdSchedulePickup = @idSchedulePickup

		UPDATE [DeliveryBackOffice].[dbo].[ServiceManagement] SET IdPuCourrier = NULL, IdPuRouteAssigment = NULL, ServiceStatusId = 1 WHERE IdSchedulePickup = @idSchedulePickup;
		UPDATE [DeliveryBackOffice].[dbo].[SchedulePickup] SET AssigmentStatus = 0 WHERE SchedulePickupId = @idSchedulePickup;

		INSERT INTO [DeliveryBackOffice].[dbo].[EventService] (ServiceManagementId,ServiceStatusId,RowStauts,TokenCreated,DateCreated)
		VALUES(@idSchedule,1,1,@token,GETDATE())
	END
END
GO
