USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_set_AssigmentRouteService]    Script Date: 3/15/2022 12:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-02-12>
-- Description:	<Asigna una ruta a un servicio>
-- =============================================
CREATE PROCEDURE [dbo].[spg_set_AssigmentRouteService]
		@idSchedulePickup as int,
		@idRoute AS int,
		@dateRoute AS date,
		@token as varchar(50),
		@dateCreated as datetime,
		@idSchedulePickupOld as int
AS
BEGIN
	IF OBJECT_ID('tempdb.dbo.#listaCheck', 'U') IS NOT NULL DROP TABLE #listaCheck;
	IF OBJECT_ID('tempdb.dbo.#listaCheck1', 'U') IS NOT NULL DROP TABLE #listaCheck1;

	DECLARE @idCourrier as int
	DECLARE @idRouteAssigment as int
	DECLARE @idSchedule as int

	declare @status int = (select StatusOrderId from StatusOrder
				where OrderDescription =  'Programado para recolección')

	IF EXISTS(SELECT IdRouteAssigment 
		FROM DeliveryBackOffice.dbo.RouteAssigment
		WHERE IdRoute = @idRoute AND DateOfRoute = @dateRoute)
	BEGIN

		SET @idCourrier = (SELECT IdCurrierMan 
						   FROM DeliveryBackOffice.dbo.RouteAssigment 
						   WHERE IdRoute = @idRoute AND DateOfRoute = @dateRoute)

		SET @idRouteAssigment = (SELECT IdRouteAssigment 
								 FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
								 WHERE IdRoute = @idRoute AND DateOfRoute = @dateRoute)
	
		IF EXISTS(SELECT IdServiceManagement 
					FROM DeliveryBackOffice.dbo.ServiceManagement
				  WHERE IdSchedulePickup=@idSchedulePickup)
		BEGIN
			SELECT @idSchedule = IdServiceManagement 
			FROM DeliveryBackOffice.dbo.ServiceManagement
			WHERE IdSchedulePickup=@idSchedulePickup

			UPDATE DeliveryBackOffice.dbo.ServiceManagement 
			SET IdPuCourrier = @idCourrier, IdPuRouteAssigment = @idRouteAssigment, ServiceStatusId=2 WHERE IdServiceManagement = @idSchedule
		END
		ELSE
		BEGIN
			INSERT INTO [DeliveryBackOffice].[dbo].[ServiceManagement] (IdPuCourrier,IdPuRouteAssigment,IdSchedulePickup,RowStatus,TokenCreated,DateCreated,ServiceStatusId)
			VALUES(@idCourrier,@idRouteAssigment,@idSchedulePickup,1,@token,@dateCreated,2)



			SELECT @idSchedule = IdServiceManagement FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
			WHERE IdSchedulePickup=@idSchedulePickup
		END

		UPDATE [DeliveryBackOffice].[dbo].[SchedulePickup] Set AssigmentStatus='1' Where SchedulePickupId=@idSchedulePickup

		IF(@idSchedulePickup != @idSchedulePickupOld)
		BEGIN
			UPDATE DeliveryBackOffice.dbo.DeliveryOrderPaymentDetail SET IdHeaderRecolection = @idSchedulePickup where IdHeaderRecolection = @idSchedulePickupOld
			UPDATE DeliveryBackOffice.dbo.SchedulePickup SET RowStatus = 0 where SchedulePickupId = @idSchedulePickupOld
		END

		

		INSERT INTO [DeliveryBackOffice].[dbo].[EventService] (ServiceManagementId,ServiceStatusId,RowStauts,TokenCreated,DateCreated)
		VALUES(@idSchedule,2,1,@token,GETDATE())



				  INSERT into [DeliveryBackOffice].[dbo].[DeliveryOrderDetail] (
					[Guide_Serie], 
					[Guide_Number], 
					[StatusOrderId], 
					[UserCreated], 
					[DateCreated], 
					[DateCreatedInSystem]
					)
					select
					ordp.GuideSerie,
					ordp.GuideNumber,
					@status,
					@token,
					GETDATE(),
					GETDATE()
				   from ServiceManagement sm
				   join SchedulePickup sp on (sm.IdSchedulePickup = sp.SchedulePickupId)
				   join DeliveryOrderPaymentDetail dopd on (dopd.IdHeaderRecolection = sp.SchedulePickupId)
				   join DeliveryOrder ord on (ord.Guide_Number = dopd.GuideNumber and ord.Guide_Serie = dopd.GuideSerie)
				   join DeliveryOrderPiece ordp on (ordp.GuideNumber = ord.Guide_Number and ordp.GuideSerie = ord.Guide_Serie)
				  where sm.IdSchedulePickup = @idSchedulePickup
					

			UPDATE DeliveryBackOffice.dbo.DeliveryOrder 
			SET StatusOrderId = @status, 
			    TokenUpdated = @token,
				DateUpdated = GETDATE()
			from ServiceManagement sm
				   join SchedulePickup sp on (sm.IdSchedulePickup = sp.SchedulePickupId)
				   join DeliveryOrderPaymentDetail dopd on (dopd.IdHeaderRecolection = sp.SchedulePickupId)
				   join DeliveryOrder ord on (ord.Guide_Number = dopd.GuideNumber and ord.Guide_Serie = dopd.GuideSerie)
				  where sm.IdSchedulePickup = @idSchedulePickup



			update DeliveryBackOffice.dbo.DeliveryOrderPiece  set StatusOrderId = @status, DateUpdated = GETDATE()
			from ServiceManagement sm
				   join SchedulePickup sp on (sm.IdSchedulePickup = sp.SchedulePickupId)
				   join DeliveryOrderPaymentDetail dopd on (dopd.IdHeaderRecolection = sp.SchedulePickupId)
				   join DeliveryOrder ord on (ord.Guide_Number = dopd.GuideNumber and ord.Guide_Serie = dopd.GuideSerie)
				   join DeliveryOrderPiece ordp on (ordp.GuideNumber = ord.Guide_Number and ordp.GuideSerie = ord.Guide_Serie)
				  where sm.IdSchedulePickup = @idSchedulePickup


	END
	ELSE
	BEGIN
		INSERT INTO [DeliveryBackOffice].[dbo].[RouteAssigment] (IdRoute,DateOfRoute,RowStatus,TokenCreated,DateCreated)
		VALUES (@idRoute,@dateRoute,1,@token,@dateCreated)

		SET @idRouteAssigment = (SELECT IdRouteAssigment 
						   FROM [DeliveryBackOffice].[dbo].[RouteAssigment] 
						   WHERE IdRoute = @idRoute AND DateOfRoute = @dateRoute)
		
		IF EXISTS(SELECT IdServiceManagement FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
				  WHERE IdSchedulePickup=@idSchedulePickup)
		BEGIN
			SELECT @idSchedule = IdServiceManagement FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
				  WHERE IdSchedulePickup=@idSchedulePickup

			UPDATE [DeliveryBackOffice].[dbo].[ServiceManagement] 
			SET IdPuCourrier = @idCourrier, IdPuRouteAssigment = @idRouteAssigment, ServiceStatusId=2 WHERE IdServiceManagement = @idSchedule
		END
		ELSE
		BEGIN
			INSERT INTO [DeliveryBackOffice].[dbo].[ServiceManagement] (IdPuRouteAssigment,IdSchedulePickup,RowStatus,TokenCreated,DateCreated,ServiceStatusId)
			VALUES(@idRouteAssigment,@idSchedulePickup,1,@token,@dateCreated,2)

			SELECT @idSchedule = IdServiceManagement FROM [DeliveryBackOffice].[dbo].[ServiceManagement]
			WHERE IdSchedulePickup=@idSchedulePickup
		END

		UPDATE [DeliveryBackOffice].[dbo].[SchedulePickup] Set AssigmentStatus='1' Where SchedulePickupId=@idSchedulePickup

		IF(@idSchedulePickup != @idSchedulePickupOld)
		BEGIN
			UPDATE DeliveryBackOffice.dbo.DeliveryOrderPaymentDetail SET IdHeaderRecolection = @idSchedulePickup where IdHeaderRecolection = @idSchedulePickupOld
			UPDATE DeliveryBackOffice.dbo.SchedulePickup SET RowStatus = 0 where SchedulePickupId = @idSchedulePickupOld
		END

		INSERT INTO [DeliveryBackOffice].[dbo].[EventService] (ServiceManagementId,ServiceStatusId,RowStauts,TokenCreated,DateCreated)
		VALUES(@idSchedule,2,1,@token,GETDATE() )


		 	  INSERT into [DeliveryBackOffice].[dbo].[DeliveryOrderDetail] (
					[Guide_Serie], 
					[Guide_Number], 
					[StatusOrderId], 
					[UserCreated], 
					[DateCreated], 
					[DateCreatedInSystem]
					)
					select
					ordp.GuideSerie,
					ordp.GuideNumber,
					@status,
					@token,
					GETDATE(),
					GETDATE()
				   from ServiceManagement sm
				   join SchedulePickup sp on (sm.IdSchedulePickup = sp.SchedulePickupId)
				   join DeliveryOrderPaymentDetail dopd on (dopd.IdHeaderRecolection = sp.SchedulePickupId)
				   join DeliveryOrder ord on (ord.Guide_Number = dopd.GuideNumber and ord.Guide_Serie = dopd.GuideSerie)
				   join DeliveryOrderPiece ordp on (ordp.GuideNumber = ord.Guide_Number and ordp.GuideSerie = ord.Guide_Serie)
				  where sm.IdSchedulePickup = @idSchedulePickup
					

			UPDATE DeliveryBackOffice.dbo.DeliveryOrder 
			SET StatusOrderId = @status, 
			    TokenUpdated = @token,
				DateUpdated = GETDATE()
			from ServiceManagement sm
				   join SchedulePickup sp on (sm.IdSchedulePickup = sp.SchedulePickupId)
				   join DeliveryOrderPaymentDetail dopd on (dopd.IdHeaderRecolection = sp.SchedulePickupId)
				   join DeliveryOrder ord on (ord.Guide_Number = dopd.GuideNumber and ord.Guide_Serie = dopd.GuideSerie)
				  where sm.IdSchedulePickup = @idSchedulePickup



			update DeliveryBackOffice.dbo.DeliveryOrderPiece  set StatusOrderId = @status, DateUpdated = GETDATE()
			from ServiceManagement sm
				   join SchedulePickup sp on (sm.IdSchedulePickup = sp.SchedulePickupId)
				   join DeliveryOrderPaymentDetail dopd on (dopd.IdHeaderRecolection = sp.SchedulePickupId)
				   join DeliveryOrder ord on (ord.Guide_Number = dopd.GuideNumber and ord.Guide_Serie = dopd.GuideSerie)
				   join DeliveryOrderPiece ordp on (ordp.GuideNumber = ord.Guide_Number and ordp.GuideSerie = ord.Guide_Serie)
				  where sm.IdSchedulePickup = @idSchedulePickup

	END
END
GO
