USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetCatSeries]    Script Date: 3/13/2022 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetCatSeries]
  @Status varchar(50) = null
 
AS 
BEGIN 
  DECLARE @jsonOutput NVARCHAR(MAX) 
    SET @jsonOutput =  
  ( 
 
SELECT ''+ STUFF(( 

SELECT 
    ',{"IdSerie":"' +  Convert(varchar, IdSerie) +  '",'  +   
      '"Status":"' + Convert(varchar, SerieStatus) + + '"}'

      from DeliveryBackOffice.dbo.CatSeries
	  --where  SerieStatus =   @Status  

  FOR XML PATH(''), TYPE 
  ) 
  .value('.', 'varchar(max)'),1,1,'' 
              ) + '' 
  ) 
 
	select ('[' + @jsonOutput +  ']') jsonOutput
 
END
GO
