USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_get_CatVehicle]    Script Date: 3/15/2022 12:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-02-15>
-- Description:	<Devuelve todos los vehiculos disponibles>
-- =============================================
CREATE PROCEDURE [dbo].[spg_get_CatVehicle]
AS
BEGIN
	SELECT cv.IdVehicle,
	cv.UnitNumber	
	FROM [DeliveryBackOffice].[dbo].[CatVehicle] as cv
	where cv.RowStatus = 1
END
GO
