USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetRoutePreparationDetail]    Script Date: 3/13/2022 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Oscar, Morales>
-- Create date: <2021-12-23>
-- Description:	<Obtiene información de la preparación de entregas para una guía.>
-- =============================================
-- =============================================
-- Author:		<Andres, Ruiz>
-- Create date: <2022-01-04>
-- Description:	<Cambio para uso de id de vehículo en vez de id de ruta.>
-- =============================================
-- =============================================
-- Author:		<Andres, Ruiz>
-- Create date: <2022-01-19>
-- Description:	<Cambio para revisión de datos a nivel de pieza.>
-- =============================================
-- =============================================
-- Author:		<Andres,Ruiz>
-- Create date: <2022-02-02>
-- Description:	< Cambio para uso de Ruta sobre Unidad .>
-- =============================================
CREATE PROCEDURE [dbo].[GetRoutePreparationDetail]
	@IdRoute INT,
	@Date DATE,
	@GuideSerie NVARCHAR(2),
	@GuideNumber INT,
	@GuidePiece SMALLINT
AS
BEGIN

	DECLARE @StatusOrderId TINYINT

	--TABLE 0 para saber si ya está asignado a una ruta
	SELECT TOP 1
		rp.IdRoutePreparation
	   ,rpd.IdRoutePreparationDetail
	   ,rpd.DateCreated
	   ,cr.CodeRoute 'CodeRoute'
	   ,rp.IsSimpliRoute
	   ,rp.CatRouteId 'IdRoute'
	FROM /*RoutePreparationDetailPiece rpdp
	JOIN */RoutePreparationDetail rpd
		--ON rpdp.RoutePreparationDetailId = rpd.IdRoutePreparationDetail
	JOIN RoutePreparation rp
		ON rpd.RoutePreparationId = rp.IdRoutePreparation
	JOIN CatRoute cr
		ON rp.CatRouteId = cr.IdRoute
	WHERE rp.DateRoutePreparation = @Date
	AND rpd.RowStatus = 1
	--AND rpdp.RowStatus = 1
	AND Guide_Serie = @GuideSerie
	AND Guide_Number = @GuideNumber
	--AND PieceNumber = @GuidePiece
	AND rp.DateRoutePreparation = CONVERT(DATE, GETDATE())
	AND rp.RowStatus = 1
	ORDER BY rpd.DateCreated DESC

	--TABLE 1 para obtener el total de piezas e información de la guía
	SELECT
		@GuideSerie Guide_Serie
	   ,@GuideNumber Guide_Number
	   ,@GuidePiece Guide_Piece
	   ,COALESCE(do.Pieces_Dry, 0) + COALESCE(do.Pieces_Cold, 0) Pieces
	   ,Receiver_Department Department
	   ,Receiver_Town Town
	   ,Receiver_Address Address
	   ,Pieces_Dry Pieces_Dry
	   ,Pieces_Cold Pieces_Cold
	   ,(CASE WHEN dop.IsDry = 1 THEN 1 ELSE 0 END) Piece_Type
	FROM DeliveryOrder do
	JOIN DeliveryOrderPiece dop
	ON do.Guide_Number = dop.GuideNumber and do.Guide_Serie = dop.GuideSerie
	WHERE do.Guide_Serie = @GuideSerie
	AND do.Guide_Number = @GuideNumber
	AND dop.NoPiece = @GuidePiece
	--AND do.StatusOrderId NOT IN (5,7,14,20,22,23,24,25)

	--TABLE 2 Validar que la guía no este en un estado no permitido 
	SET @StatusOrderId = (SELECT TOP 1
			dod.StatusOrderId
		FROM DeliveryOrderDetail dod
		WHERE dod.Guide_Serie = @GuideSerie
		AND dod.Guide_Number = @GuideNumber
		ORDER BY dod.DateCreated DESC)

	IF (SELECT
				COUNT(1)
			FROM DeliveryBackOffice.dbo.StatusOrder SO
			WHERE SO.StatusOrderId = @StatusOrderId
			AND SO.CatCheckpointTypeId = 3)
		= 0
	BEGIN
		--ES VALIDO
		SELECT
			1 StatusCode
		   ,'' Description
	END
	ELSE
	BEGIN
		--NO ES VALIDO
		SELECT
			0 StatusCode
		   ,so.OrderDescription Description
		FROM StatusOrder so
		WHERE so.StatusOrderId = @StatusOrderId
	END
END
GO
