USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[get_CatTypeRoute]    Script Date: 3/15/2022 12:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-03-19>
-- Description:	<Retorna los tipos de una ruta>
-- =============================================
CREATE PROCEDURE [dbo].[get_CatTypeRoute]
AS
BEGIN
	SELECT IdTypeRoute, Name 
	FROM DeliveryBackOffice.dbo.CatTypeRoute
	WHERE RowStatus = 1


END
GO
