USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[remove_WebhookEndpoint]    Script Date: 3/15/2022 12:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[remove_WebhookEndpoint]
	@IdCustomer int,
    @URI nvarchar(max),
    @IdEcommerce int,
    @WebhookTypeId int
AS 
    SET NOCOUNT ON
    SET XACT_ABORT ON

    BEGIN TRAN

    UPDATE dbo.WebhookEndpoint
		 SET   RowStatus = 1
		  WHERE  IdCustomer = @IdCustomer AND IdEcommerce = @IdEcommerce AND URI = @URI AND WebhookTypeId = @WebhookTypeId

    COMMIT
GO
