USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetClosureList]    Script Date: 3/13/2022 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXEC GetClosureList
@VisitPointId = -1
,@StartDate = '20210627'
,@EndDate = '20210627'
*/
CREATE PROCEDURE [dbo].[GetClosureList]
    @VisitPointId INT,
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN

    SELECT ACH.IdAccountingClosuresHeader 'ClosureId',
           ACH.VisitPoint 'VisitPointId',
           VPC.DescriptionOfClient 'VisitPoinDescription',
           ACH.UserId,
           REU.UsrNickName 'UserDescription',
           ACH.DateCreated 'DateCreated',
           ACH.Voucher1,
           ACH.Bag1,
           ACH.Voucher2,
           ACH.Bag2,
           ACH.TotalAmountCash,
           ACH.TotalAmountCashDeclared,
           ACH.TotalAmountCredit,
           ACH.TotalAmountCreditDeclared,
           ACH.TotalAmountCODCash,
           ACH.TotalAmountCODCredit
    FROM DeliveryBackOffice.dbo.AccountingClosuresHeader ACH
        JOIN DeliveryBackOffice.dbo.VisitPointClient VPC
            ON ACH.VisitPoint = VPC.CodeOfReference
        JOIN DeliveryBackOffice.dbo.RegisterUser REU
            ON REU.UsrIdUser = ACH.UserId
    WHERE CAST(ACH.DateCreated AS DATE)
          BETWEEN CAST(@StartDate AS DATE) AND CAST(@EndDate AS DATE)
          AND
          (
              @VisitPointId = ACH.VisitPoint
              OR @VisitPointId = -1
          );

    SELECT Value 'URL'
    FROM ConfigParams
    WHERE Name = 'ClosureExpressCenter';

END;
GO
