USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_status_order_detail_wbs]    Script Date: 3/15/2022 12:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Edwin,Ramirez>
-- Create date: <01/11/2020>
-- Description:	<Detalle de rastreo en web services para el cliente>
-- =============================================
CREATE PROCEDURE [dbo].[spg_status_order_detail_wbs]
    @Guide_Serie NVARCHAR(2),
    @Guide_Number BIGINT
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;


    SELECT RES.[EventID],
           RES.[OrderId],
           --RES.[PreparationDate],
           --RES.[DifferenceStarted],
           RES.[CustomerFullname],
           RES.[OriginAdress],
           RES.[OriginLatitude],
           RES.[OriginLongitude],
           RES.[DestinyAddress],
           RES.[DestintyLatitude],
           RES.[DestinyLongitude],
           RES.[EstimatedDeliveryDate],
           RES.[CourierName],
           RES.[StageId],
           RES.[StageDate],
           RES.[StageTitle],
           RES.[StageSource],
           RES.[StageDescription],
           RES.[ImagePath],
           RES.[NameOfReceiver],
           RES.[Place],
           RES.[ManifestNumber],
           RES.[Latitude],
           RES.[Longitude]
    FROM
    (
        SELECT 0 [EventID],
               do.Guide_Serie + CAST(do.Guide_Number AS VARCHAR) AS [OrderId],                                   -- guide [Field3]
                                                                                                                 --CONVERT(varchar,do.Preparation_Date ,103) as [PreparationDate],   --[Field6],
                                                                                                                 --'Iniciada hace ' + 
                                                                                                                 --RIGHT(CONVERT(CHAR(5), 10000 + CONVERT(VARCHAR(4), FLOOR(DATEDIFF(ss, do.Preparation_Date, GETDATE()) / (24 * 3600)))), 4) + 'd ' +
                                                                                                                 --RIGHT(CONVERT(CHAR(3), 100 + CONVERT(VARCHAR(2), DATEDIFF(ss, do.Preparation_Date, GETDATE()) % (24 * 3600) / 3600)), 2) + 'h ' +
                                                                                                                 --RIGHT(CONVERT(CHAR(3), 100 + CONVERT(VARCHAR(2), DATEDIFF(ss, do.Preparation_Date, GETDATE()) % 3600 / 60)), 2) + 'm ' +
                                                                                                                 --RIGHT(CONVERT(CHAR(3), 100 + CONVERT(VARCHAR(2), DATEDIFF(ss, do.Preparation_Date, GETDATE()) % 60)), 2) + 's' [DifferenceNowStarted], --[Field1]
               ISNULL(do.Receiver_FirstName, '') + ' ' + ISNULL(do.Receiver_LastName, '') AS [CustomerFullname], -- receiver fullname  [Field2]
               do.Sender_Address AS [OriginAdress],                                                              -- sender address   [Field8]
               '' AS [OriginLatitude],
               '' AS [OriginLongitude],
               do.Receiver_Address AS [DestinyAddress],                                                          -- receiver address  [Field4]
               '' AS [DestintyLatitude],
               '' AS [DestinyLongitude],
               CONVERT(VARCHAR, do.Delivery_Max_Date, 120) AS [EstimatedDeliveryDate],                           --[Field5],
                                                                                                                 --FORMAT(do.Delivery_Max_Date, 'dddd', 'es-es') + ', '  + CONVERT(varchar,do.Delivery_Max_Date,106) as [EstimatedDeliveryDate], 
                                                                                                                 --FORMAT(do.Delivery_Max_Date, 'U', 'es-es')  --[Field5] Otra opcion con hora
               '' [CourierName],                                                                                 --[Field9]
               '' [StageId],                                                                                     -- status order id
               '' [StageDate],                                                                                   -- date of status id
               '' [StageTitle],                                                                                  -- status order name
               'web' [StageSource],
               '' AS [StageDescription],                                                                         --detail description or observations in events
               '' AS [ImagePath],
               ISNULL([NameOfReceiver], '') AS NameOfReceiver,
               ISNULL(Sender_FirstName, '') + ' ' + ISNULL(Sender_LastName, '') AS Place,
               do.Manifest_Serie + CAST(do.Manifest_Number AS VARCHAR) AS [ManifestNumber],
               da.Latitude,
               da.Longitude
        FROM DeliveryBackOffice.dbo.DeliveryOrder do WITH (NOLOCK)
            LEFT JOIN DeliveryBackOffice.dbo.DeliveryAttempt da WITH (NOLOCK)
                ON da.Guide_Serie = do.Guide_Serie
                   AND da.Guide_Number = do.Guide_Number
        WHERE do.Guide_Serie = @Guide_Serie
              AND do.Guide_Number = @Guide_Number
        UNION
        SELECT
            ROW_NUMBER() OVER (ORDER BY  dod.StatusOrderId ASC)  AS EventID,
            --RANK() OVER (PARTITION BY dod.Guide_Number
            --             ORDER BY CONVERT(DATE, dod.DateCreated),
            --                      dod.StatusOrderId ASC
            --            ) AS EventID,
            dod.Guide_Serie + CAST(dod.Guide_Number AS VARCHAR) AS [OrderId], -- guide [Field3]
                                                              --'' [PreparationDate],   --[Field6],
                                                              --                                                                  --'' [DifferenceStarted], --[Field1]
            '' [CustomerFullname],                            -- receiver fullname  [Field2]
            '' [OriginAdress],                                -- sender address   [Field8]
            '' [OriginLatitude],
            '' [OriginLongitude],
            '' [DestinyAddress],                              -- receiver address  [Field4]
            '' [DestintyLatitude],
            '' [DestinyLongitude],
            '' [EstimatedDeliveryDate],                       --[Field5],
            '' [CourierName],                                 --[Field9]
            CAST(dod.StatusOrderId AS NVARCHAR) AS [StageId], -- status order id
            (MAX(dod.DateCreated)) AS [StageDate],            -- date of status id
            so.OrderDescription AS [StageTitle],              -- status order name
            'web' AS [StageSource],
            (CASE
                 WHEN dod.StatusOrderId IN ( 6, 8 ) THEN
                     ISNULL(dod.Observations, '')
                 WHEN dod.StatusOrderId IN ( 12 ) THEN
                     ISNULL(
                     (
                         SELECT TOP 1
                                I.[Description]
                         FROM DeliveryBackOffice.dbo.Incident I WITH (NOLOCK)
                             JOIN DeliveryBackOffice.dbo.DeliveryAttempt da WITH (NOLOCK)
                                 ON da.ID_Incident = I.ID
                         WHERE dod.Guide_Serie = da.Guide_Serie
                               AND dod.Guide_Number = da.Guide_Number
                         ORDER BY da.Date_Created DESC
                     ),
                     ''
                           )
                 WHEN dod.StatusOrderId IN ( 15 ) THEN
                     ''
             END
            ) AS [StageDescription],
            (CASE ROW_NUMBER() OVER (ORDER BY CONVERT(DATE, dod.DateCreated) ASC)
                 WHEN 1 THEN
                     ISNULL(
                               ISNULL(
                               (
                                   SELECT TOP 1
                                          'data:image/jpeg;base64,'
                                          +
                                          (
                                              SELECT CAST('' AS XML).value(
                                                                              'xs:base64Binary(sql:column("PICTURE"))',
                                                                              'varchar(max)'
                                                                          )
                                          )
                                   FROM
                                   (
                                       SELECT IIF([dp].[Proof_Dry] = 0x,
                                                  dp.Proof_Cold,
                                                  ISNULL([Proof_Dry], [Proof_Incident])) AS PICTURE,
                                              Date_Photo
                                       FROM [DeliveryBackOffice].[dbo].[DeliveryProof] dp WITH (NOLOCK)
                                           JOIN DeliveryBackOffice.dbo.DeliveryAttempt da WITH (NOLOCK)
                                               ON da.Guide_Serie = dp.Guide_Serie
                                                  AND da.Guide_Number = dp.Guide_Number
                                                  AND da.Verified = 1
                                                  AND da.Accepted = 1
                                       WHERE dp.Guide_Serie = 'FD'
                                             AND dp.Guide_Number = @Guide_Number
                                             AND
                                             (
                                                 dp.Proof_Incident != 0x
                                                 OR dp.Proof_Incident IS NULL
                                             )
                                   ) L1
                                   ORDER BY L1.Date_Photo DESC
                               ),
                               (CAST(DeliveryBackOffice.dbo.fn_get_document_image_url(dod.Guide_Serie
                                                                                      + CAST(dod.Guide_Number AS VARCHAR)
                                                                                     ) AS VARCHAR(300))
                               )
                                     ),
                               ''
                           )
                 ELSE
                     ''
             END
            ) AS [ImagePath],
            '' AS NameOfReceiver,
            '' AS Place,
            '' AS [ManifestNumber],
            '' AS Latitude,
            '' AS Longitude
        FROM dbo.DeliveryOrderDetail dod
            JOIN DeliveryBackOffice.dbo.StatusOrder so
                ON so.StatusOrderId = dod.StatusOrderId
        WHERE dod.Guide_Serie = @Guide_Serie
              AND dod.Guide_Number = @Guide_Number
        --ORDER BY DateCreated
        GROUP BY CONVERT(DATE, dod.DateCreated),
                 dod.Guide_Serie,
                 dod.Guide_Number,
                 dod.StatusOrderId,
                 dod.UserCreated,
                 dod.Observations,
                 so.OrderDescription
    ) RES
    ORDER BY RES.[EventID],
             RES.[StageDate] ASC;

END;



GO
