USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_getHubs]    Script Date: 3/13/2022 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Godínez,Carlos>
-- Create date: <2020-12-18,>
-- Description:	<Obtencion de catalogo de sucursales>
-- =============================================
CREATE PROCEDURE [dbo].[spg_getHubs]
AS
BEGIN

select IdHubLogistic Id,HubName Name 
from DeliveryBackOffice.dbo.HubLogistics
UNION
select '-1' Id,
'Todos los establecimientos' Name		
END
GO
