USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[get_Township]    Script Date: 3/13/2022 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-03-19>
-- Description:	<Retorna los tipos de una ruta>
-- =============================================
CREATE PROCEDURE [dbo].[get_Township]
AS
BEGIN


	select IdTownship, TownshipName, IdProvince from Township
	where TownshipStatus = 1


END
GO
