USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sps_DeliveryOrderDetailIds]    Script Date: 3/13/2022 1:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sps_DeliveryOrderDetailIds]
 @GuideSerie						varchar(2) = 'FD'
,@GuideNumber						int = 0
,@IdCustomer						int = 0 
,@TypeService						varchar(3) = 'EXP'
,@IndicationsOrigin					varchar(1500) = ''
,@IndicationsDestination			varchar(1500) = ''
,@Sender_Mail						varchar(200) = ''
,@Ticket_Number						varchar(300) = ''
,@IsInsuarance						bit = 0
,@CodApp							varchar(200)
,@InsuranceAmount					decimal(12,2)=0
,@IdDeliveryOption					int = 0
,@ReceiverIdSettlement				bigint =0
,@IdSalePipeLine					int = 0
,@ReceiverId						int = 0
,@OriginSenderId					int = 0
,@IsReturn							bit = 0
,@OrderUserCreated                  varchar(100) = ''
AS 
BEGIN

	update DeliveryBackOffice.[dbo].[DeliveryOrder] 
	set IdCustomer =
			case 
			when @IdCustomer != 0 
			then @IdCustomer 
			else (select top 1 e.IdCustomer 
				from dbo.Ecommerce e 
				where e.UserKey = @CodApp)
			end 
	, TypeService = @TypeService
	,IndicationsToSendOrigin = @IndicationsOrigin
	, IndicationsToSendDestination = @IndicationsDestination
	,Ticket_Number = @Ticket_Number
	,Sender_Mail = @Sender_Mail
	,IsInsuarance = @IsInsuarance
	,InsuranceAmount = @InsuranceAmount
	,idDeliveryOption =
			case
			when @IdDeliveryOption != 0
			then @IdDeliveryOption
			else NULL 
			end
	,ReceiverIdSettlement = case
			when @ReceiverIdSettlement > 0
			then @ReceiverIdSettlement
			else NULL 
			end
	,SalePipeLineId = case
			when @IdSalePipeLine > 0
			then @IdSalePipeLine
			else NULL 
			end
	,Receiver_ID = @ReceiverId
	,OriginSenderId = @OriginSenderId
	,IsReturn = @IsReturn
	,OrderUserCreated = @OrderUserCreated
	where Guide_Number = @GuideNumber and Guide_Serie = @GuideSerie;

	DECLARE @Price DECIMAL(12,2)


	SELECT @Price = ISNULL(dr.PriceShippment,0) FROM dbo.DeliveryOrder dr
	WHERE dr.Guide_Serie = @GuideSerie AND dr.Guide_Number =@GuideNumber

	DECLARE @RC INT;
	IF @Price =0
	BEGIN
		EXECUTE @RC = DeliveryBackOffice.dbo.spws_revalue_guide
					@GuideSerie = @GuideSerie,
					@GuideNumber = @GuideNumber,
					@CodeApp = '',
					@Format = 'Non',
					@CalculateTaxes = 'true',
					@IdModule = 33,
					@SetUpdate = 'true',
					@Token = 'sps_DeliveryOrderDetailIds',
					@IsReturn = 'false'
	END

	select 1;
END
GO
