USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spws_get_creditcardtransaction]    Script Date: 3/15/2022 12:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
CREATE PROCEDURE [dbo].[spws_get_creditcardtransaction]	
	@OrderNumber as nvarchar(38)
AS
BEGIN	
select [IdTransaction], [System], [CardNumber], [TypeCardNumber], [Ammount], [Currency], [OrderNumber], [Signature], [CustomerReference], [ReferenceNumber], [ECIIndicator], [Authenticationresult], [TransactionStain], [CAVV], [DatetimeCreated], [DatetimeUpdated], [ReasonCode], [ReasonCodeDescription] 
from DeliveryBackOffice.dbo.CreditCardTransaction
where OrderNumber = @OrderNumber
END
GO
