USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_getTownships]    Script Date: 3/15/2022 12:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      <Sazo,Cesar>
-- Create date: <2021-11-02>
-- Description: <Obtener informacion de los municipios activos por ID de departamento.>
-- =============================================

CREATE PROCEDURE [dbo].[sphd_getTownships]
    @ID AS INT
AS
BEGIN
    SELECT IdTownship, TownshipName
    FROM DeliveryBackOffice.[dbo].[Township]
    WHERE TownshipStatus = 1
    AND IdProvince = @ID
END
GO
