USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spws_get_TemplateEmail]    Script Date: 3/13/2022 1:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Marco Jimenez>
-- Create date: <2021-01-15>
-- Description:	<spws_get_TemplateEmail>
-- =============================================


CREATE PROCEDURE [dbo].[spws_get_TemplateEmail]
	-- Add the parameters for the stored procedure here	
	@TemplateName VARCHAR(100)
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT Value AS TemplateName  FROM ConfigParams WHERE Name = @TemplateName

END



GO
