USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[HelloWorldprocedure]    Script Date: 3/13/2022 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HelloWorldprocedure]
AS
PRINT 'Hello World'
GO
