USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_UpdateGuideStatus]    Script Date: 3/15/2022 12:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sphd_UpdateGuideStatus]
	@Guide_Serie VARCHAR(2),
	@Guide_Number INT,
	@newStatus INT,
	@UserToken VARCHAR(50),
	@Observations VARCHAR(200)
AS
BEGIN
	UPDATE DeliveryBackOffice.dbo.DeliveryOrder	
	SET StatusOrderId = @newStatus
    WHERE Guide_Serie =  @Guide_Serie
    AND Guide_Number = @Guide_Number

    INSERT INTO DeliveryBackOffice.dbo.DeliveryOrderDetail( Guide_Serie, Guide_Number, StatusOrderId, UserCreated, DateCreated, DateCreatedInSystem, Observations)
    VALUES (@Guide_Serie, @Guide_Number, @newStatus, @UserToken, GETDATE(), GETDATE(), @Observations) 
END
GO
