USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sps_paymentDetail]    Script Date: 3/15/2022 12:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Luis Fernando Coti Itzep
-- Create date: 13 Octubre 2020
-- Description:	Inserta registro de detalle de pago
-- =============================================
CREATE PROCEDURE [dbo].[sps_paymentDetail]
	 @type varchar(200),
	 @vpCodeOfReferences int,
	 @ticket varchar(100),
     @amount money,
     @status int = 1,
     @invoice bigint,
     @token varchar(50)
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO [dbo].[InOutOfMoneyDetail]
			   (
				[io_type],
				[io_vpCodeOfReferences],
				[io_ticket],
				[io_amount],
				[io_status],
				[io_invoice],
				[io_registryToken],
				[io_registryDate]
			   )
		 VALUES
			   (@type
			   ,@vpCodeOfReferences
			   ,@ticket
			   ,@amount
			   ,@status
			   ,@invoice
			   ,@token
			   ,GETDATE()
			   )
		SELECT @@ROWCOUNT 'RowCount'

END
GO
