USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_get_deliveryordersForCOD]    Script Date: 3/15/2022 12:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Cano, Carlos>
-- Create date: <2020-11-23>
-- Description:	<Devuelve información para liquidación de COD>
-- =============================================
CREATE PROCEDURE [dbo].[spg_get_deliveryordersForCOD] @IdManifest INT
AS
BEGIN
	SET NOCOUNT ON;

	--DECLARE @IdManifest AS INT = 32181;

	DECLARE @GuidesFound TABLE (
		Guide_Serie NVARCHAR(2)
	   ,Guide_Number INT
	);

	DECLARE @GuideSerie NVARCHAR(2)
	DECLARE @GuideNumber INT
	DECLARE @StatusOrderValid TABLE (
		StatusCode BIT
	   ,Description VARCHAR(100)
	);

	INSERT INTO @GuidesFound
		SELECT DISTINCT
			dsd.Guide_Serie
		   ,dsd.Guide_Number
		FROM DeliveryBackOffice.dbo.DeliveryOrderBySettlement dbs
		JOIN DeliveryBackOffice.dbo.DeliverySettlementDetail dsd
			ON dsd.ID_DeliveryOrderBySettlement = dbs.ID
				AND dsd.RowStatus = 1
		WHERE dbs.ID = @IdManifest
		AND dsd.Guide_Settlement = 1
		AND dsd.Guide_Returned = 0
		AND (
		dsd.Guide_Discharged = 0
		OR dsd.Guide_Discharged IS NULL
		);

	SELECT
		dbs.ID
	   ,Date_Dispatched
	   ,Pieces_Dry_Dispatched
	   ,Pieces_Cold_Dispatched
	   ,Guides_Dispatched
	   ,dbs.ID_Courier
	   ,ISNULL(sr.First_Name, '') + ' ' + ISNULL(sr.Last_Name, '') AS Courier_Name
	FROM DeliveryBackOffice.dbo.DeliveryOrderBySettlement dbs
	JOIN DeliveryBackOffice.dbo.SenderReceiver sr
		ON sr.ID = dbs.ID_Courier
	WHERE dbs.ID = @IdManifest;

	DECLARE @GuidesDetail TABLE (
		Guide NVARCHAR(16)
	   ,GuideSerie NVARCHAR(2)
	   ,GuideNumber INT
	   ,Delivered BIT
	   ,Price DECIMAL(18, 2)
	   ,COD DECIMAL(18, 2)
	   ,Total DECIMAL(18, 2)
	   ,FEL VARCHAR(251)
	   ,StatusOrderId TINYINT
	   ,OrderDescription NVARCHAR(100)
	   ,StatusOrderValid BIT
	   ,DescriptionStatusOrderValid VARCHAR(100)
	);

	INSERT INTO @GuidesDetail
		SELECT DISTINCT
			do.Guide_Serie + CONVERT(VARCHAR, do.Guide_Number) AS Guide
		   ,do.Guide_Serie GuideSerie
		   ,do.Guide_Number GuideNumber
		   ,(ISNULL((SELECT TOP 1
					1
				FROM DeliveryBackOffice.dbo.DeliveryOrderDetail dod
				WHERE dod.Guide_Serie = gf.Guide_Serie
				AND dod.Guide_Number = gf.Guide_Number
				AND dod.StatusOrderId = 5)
			,
			0
			)
			) AS Delivered
		   ,CAST(IIF(do.IsCollect = 'TRUE', ISNULL(do.PriceShippment, 0), 0) AS DECIMAL(18, 2)) AS Price
		   ,CAST(ISNULL(do.Collect_OnDelivery, 0) AS DECIMAL(18, 2)) AS COD
		   ,CAST(IIF(do.IsCollect = 'TRUE',
			(ISNULL(do.Collect_OnDelivery, 0) + ISNULL(do.PriceShippment, 0)),
			ISNULL(do.Collect_OnDelivery, 0)) AS DECIMAL(18, 2)) AS Total
		   ,CASE
				WHEN invh.inv_serieFEL IS NULL OR
					invh.inv_serieFEL = '' THEN NULL
				ELSE CONCAT(invh.inv_serieFEL, '-', invh.inv_numberFEL)
			END FEL
		   ,do.StatusOrderId StatusOrderId
		   ,NULL OrderDescription
		   ,0 StatusOrderValid
		   ,'' DescriptionStatusOrderValid
		FROM @GuidesFound gf
		JOIN DeliveryBackOffice.dbo.DeliveryOrder do
			ON do.Guide_Serie = gf.Guide_Serie
				AND do.Guide_Number = gf.Guide_Number
		LEFT JOIN (SELECT
				MAX(invh1.inv_serieFEL) inv_serieFEL
			   ,MAX(invh1.inv_numberFEL) inv_numberFEL
			   ,invd.dti_fk_orderSerie dti_fk_orderSerie
			   ,invd.dti_fk_orderNumber dti_fk_orderNumber
			FROM DeliveryBackOffice.dbo.invoiceDetail invd
			JOIN DeliveryBackOffice.dbo.invoiceHeader invh1
				ON invh1.inv_pk_id = invd.dti_fk_header
				AND invh1.inv_descriptionFEL = 'PROCESO REALIZADO'
				AND invh1.inv_invoiceOfCreditNote IS NULL
			GROUP BY invd.dti_fk_orderSerie
					,invd.dti_fk_orderNumber) invh
			ON invh.dti_fk_orderSerie = do.Guide_Serie
				AND invh.dti_fk_orderNumber = do.Guide_Number
		LEFT JOIN DeliveryBackOffice.dbo.VisitPointClient vp
			ON do.Receiver_ID = vp.CodeOfReference
		WHERE (
		(do.Collect_OnDelivery > 0)
		OR (
		do.IsCollect = 1
		AND do.PriceShippment + do.Collect_OnDelivery > 0
		)
		)
		AND (
		vp.IdKindOfVPClient <> 1
		OR vp.IdKindOfVPClient IS NULL
		)
		--AND do.StatusOrderId IN (4, 5, 25)
	;


	--Validar el estado guía por guía
	-- mientras la tabla no este vacía
	WHILE EXISTS (SELECT
			*
		FROM @GuidesFound)
	BEGIN
	-- se obtiene la guía a iterar
	SELECT TOP 1
		@GuideSerie = Guide_Serie
	   ,@GuideNumber = Guide_Number
	FROM @GuidesFound;


	INSERT @StatusOrderValid EXEC GetStatusOrderValid @GuideSerie
													 ,@GuideNumber
													 ,@StatusOrderId = 24


	UPDATE @GuidesDetail
	SET StatusOrderValid = (SELECT TOP 1
				StatusCode
			FROM @StatusOrderValid)
	   ,DescriptionStatusOrderValid = (SELECT TOP 1
				Description
			FROM @StatusOrderValid)
	   ,OrderDescription = (SELECT
				so.OrderDescription
			FROM StatusOrder so
			WHERE so.StatusOrderId = (SELECT
					StatusOrderId
				FROM @GuidesDetail
				WHERE GuideSerie = @GuideSerie
				AND GuideNumber = @GuideNumber))
	WHERE GuideSerie = @GuideSerie
	AND GuideNumber = @GuideNumber

	-- se elimina la guía de la tabla temporal
	DELETE @GuidesFound
	WHERE Guide_Serie = @GuideSerie
		AND Guide_Number = @GuideNumber;

	-- se elimina los datos en @StatusOrderValid
	DELETE FROM @StatusOrderValid

	END

	SELECT
		SUM(Total) AS COD_Manifest
	FROM @GuidesDetail;

	SELECT
		*
	FROM @GuidesDetail gd
	ORDER BY gd.Guide ASC;

END;
GO
