USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SphdRelateDesktopandExpressCenterUsers]    Script Date: 3/15/2022 12:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Edelman Vásquez,Name>
-- Create date: <Create Date,04-02-2022,>
-- Description:	<Description,Asociar Usuarios de Hermes Desktop a express center,>
-- =============================================




CREATE PROCEDURE [dbo].[SphdRelateDesktopandExpressCenterUsers]
    -- Add the parameters for the stored procedure here
    @Email AS NVARCHAR(50),   -- correo
    @UserName AS VARCHAR(50), -- carlos.cano
    @IdCodeUser AS INT,       -- 100051
    @Token AS VARCHAR(50)     --- token de usuario
AS
BEGIN

    SET NOCOUNT ON;
    DECLARE @IdUsr AS INT; -- Id Usuar Desktop
    DECLARE @RuaIdRol AS INT; -- Rol of user
    --------- Express Center -----------------------------------
    SELECT @IdUsr = RU.UsrIdUser
    FROM dbo.RegisterUser RU
    WHERE UsrEmail = @Email;

    IF (@IdUsr IS NOT NULL OR @IdUsr != '')
    BEGIN
        SELECT @RuaIdRol = RuaIdRol
        FROM dbo.RolByUserByAccount
        WHERE RuaIdUser = @IdUsr;
        IF (@RuaIdRol IS NULL)
        BEGIN
            PRINT 'USUARIO EXPRESS CENTER NO TIENE ROLL ASIGNADO...!!';
        END;
        ELSE
        BEGIN
            DECLARE @RegisterUserID AS INT;
            --------------- Hermes Desktop -----------------------------
            SELECT @RegisterUserID = RegisterUserID
            FROM dbo.InternalUser
            WHERE IdUser = @IdCodeUser
                  AND Username = @UserName;

            IF (NOT EXISTS
            (
                SELECT TOP 1
                       a.RegisterUserID
                FROM dbo.InternalUser a
                    INNER JOIN dbo.RegisterUser b
                        ON a.RegisterUserID = b.UsrIdUser
                WHERE a.IdUser = @IdCodeUser
                      AND a.Username = @UserName
            )
               )
            BEGIN

                IF (NOT EXISTS
                (
                    SELECT a.RegisterUserID
                    FROM dbo.InternalUser a
                        INNER JOIN dbo.RegisterUser b
                            ON a.RegisterUserID = b.UsrIdUser
                    WHERE b.UsrEmail = @Email
                )
                   )
                BEGIN

                    UPDATE dbo.InternalUser
                    SET RegisterUserID = @IdUsr,
                        TokenUpdated = @Token,
                        DateUpdated = GETDATE()
                    WHERE IdUser = @IdCodeUser
                          AND Username = @UserName;

                    UPDATE dbo.RolByUserBySystem
                    SET RusIdUser = @IdUsr,
                        RusTokenUpdated = @Token,
                        RusDateUpdated = GETDATE()
                    WHERE RusIdUser = @RegisterUserID
                          AND RusRowStatus = 'true';
                    PRINT 'USUARIO BACK OFFICE ASOCIADO CORRECTAMENTE...!!';
                END;
                ELSE
                BEGIN
                    PRINT 'USUARIO EXPRESS CENTER YA TIENE ASOCIADO USUARIO BACK OFFICE...!!';
                END;

            END;
            ELSE
            BEGIN
                PRINT 'USUARIO BACK OFFICE YA TIENE EXPRESS CENTER ASOCIADO...!!';
            END;

        END;
    END;
    ELSE
    BEGIN
        PRINT 'USURIO NO EXISTE EN SISTEMA...!! ';
    END;
END;

GO
