USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetReasons]    Script Date: 3/13/2022 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[GetReasons]
@Type AS VARCHAR(200) 
AS
BEGIN

	SELECT IdCatReason IdReason, Name FROM CatReason
	WHERE UPPER(Type) = @Type 

END


GO
