USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetHistoricalSAPInvoiceValidation]    Script Date: 3/15/2022 12:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** 
 **** Author: Marco, Jiménez
 **** Desc:   SP, para poder validar si una factura ya fue enviada a SAP
 **** Date:   25/09/2021
 ******/

create PROCEDURE [dbo].[GetHistoricalSAPInvoiceValidation]
@inv_certificationFEL AS NVARCHAR(200)
AS
BEGIN	
DECLARE @RESULT VARCHAR(10) = 'FALSE'

	SET @RESULT = (SELECT 'TRUE' FROM HistoricalSAPInvoice 
	WHERE inv_certificationFEL = @inv_certificationFEL 
	)

	IF(ISNULL(@RESULT,'FALSE') = 'FALSE')
	BEGIN
	SET @RESULT = 'FALSE'
	END

	SELECT @RESULT AS 'Result'
	
END
GO
