USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetHubsbyLinehauls]    Script Date: 3/15/2022 12:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetHubsbyLinehauls] @IdRoute AS INT
AS
BEGIN

	SELECT
		hl_destino.HubAbbreviation AS HUB_DESTINO
	FROM DeliveryBackOffice.dbo.HubLogistics hl_destino
	JOIN CatLinehaul cl
		ON hl_destino.IdHublogistic = cl.IdHubDestination
	WHERE cl.IdRoute = @IdRoute


END



GO
