USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SetServiceTokenGuideData]    Script Date: 5/10/2022 15:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Andres, Ruiz>
-- Create date: <2022-01-03>
-- Description:	< Actualiza información de servicio para guía.>
-- =============================================
-- =============================================
-- Author:		<Andres, Ruiz>
-- Create date: <2022-04-21>
-- Description:	< Actualiza información de un punto de visita de cliente. >
-- =============================================
ALTER PROCEDURE [dbo].[SetServiceTokenGuideData]
	@GuideSerie NVARCHAR(2) = '',
	@GuideNumber INT = -1,
	@GuideToken NVARCHAR(50),
	@Latitude DECIMAL(18,15),
	@Longitude DECIMAL(18,15),
	@StartTime NVARCHAR(20),
	@EndTime NVARCHAR(20),

	@NewProvince NVARCHAR(100) = '',
	@NewTown NVARCHAR(100) = '',
	@NewZone NVARCHAR(100) = '',
	@NewAddress NVARCHAR(600) = '',
	@NewTownshipID INT = -1,
	@NewSettlementID BIGINT = -1
AS
BEGIN
	-- Variables de control de flujo
	DECLARE @IsDelivery AS BIT = 0;
	DECLARE @IsPickup AS BIT = 0;
	DECLARE @IsVisitPoint AS BIT = 0;
	DECLARE @VisitPointExists AS BIT = 0;

	-- Variables de control de cambios
	DECLARE @UpdatedSDFG BIT = 0;
	DECLARE @UpdatedDO BIT = 0;
	DECLARE @UpdatedVPC BIT = 0;

	-- Variables de respuesta
	DECLARE @jsonResult NVARCHAR(MAX);

	SET @IsDelivery = (
		SELECT [IsDelivery] 
		FROM [dbo].[ServiceDataForGuide] SDFG WITH(NOLOCK)
		WHERE SDFG.GuideToken = @GuideToken
	);
	IF (@IsDelivery = 1) -- Servicio es de entrega
	BEGIN
		BEGIN TRANSACTION
		BEGIN TRY
			UPDATE [dbo].[ServiceDataForGuide]
			SET 
				DateUsed = GETDATE(),
				Latitude = @Latitude,
				Longitude = @Longitude,
				ProviderModule = (SELECT [ModIdModule] FROM [CatModule] WHERE [ModName]LIKE'%Landing Delivery Page%'),
				TokenUpdated = 'SYS-HERMESROUTESLanding',
				DateUpdated = GETDATE()
			FROM [dbo].[ServiceDataForGuide] SDFG
			INNER JOIN [dbo].[DeliveryOrder] DO WITH(NOLOCK)
			ON DO.Guide_Serie = SDFG.GuideSerie AND DO.Guide_Number = SDFG.GuideNumber
			WHERE SDFG.GuideToken = @GuideToken
			AND DO.StatusOrderId IN (1,2,10,11,15) -- Solicitado, Recolectado, En ruta, En Inventario, Arribó a las instalaciones, Generado

			IF @@ROWCOUNT > 0
			BEGIN
				SET @UpdatedSDFG = 1
			END
		
			-- Si se altera la dirección del servicio 
			IF(/*ISNULL(@NewProvince,'')!='' AND ISNULL(@NewTown,'')!='' AND*/ ISNULL(@NewAddress,'')!='' /*AND ISNULL(@NewTownshipID,-1)!=-1*/ )
			BEGIN
				UPDATE [dbo].[DeliveryOrder]
				SET 
					Receiver_Address = @NewAddress
					,Receiver_Zone = IIF( ISNULL(@NewZone,'')!='', @NewZone, Receiver_Zone )
				FROM [dbo].[ServiceDataForGuide] SDFG
				INNER JOIN [dbo].[DeliveryOrder] DO WITH(NOLOCK)
				ON DO.Guide_Serie = SDFG.GuideSerie AND DO.Guide_Number = SDFG.GuideNumber
				WHERE SDFG.GuideToken = @GuideToken
				AND SDFG.IsDelivery = 1

				IF @@ROWCOUNT > 0
				BEGIN
					SET @UpdatedDO = 1
				END
			END

			IF (@@TRANCOUNT > 0 AND @UpdatedSDFG = 1)
			BEGIN
				COMMIT TRANSACTION;
				set @jsonResult =(
									SELECT STUFF(( 
									SELECT ',{"IdResult":200,' +
									'"serviceType":"Delivery"' + ',' +
									+ '"Success":"Exito ingresando datos de entrega."}' 
									FOR XML PATH(''), TYPE
									).value('.', 'varchar(max)'),1,1,'') )
				select ('[' + @jsonResult +  ']') jsonResult 
			END
			ELSE
			BEGIN
				set @jsonResult =(
									SELECT STUFF(( 
									SELECT '{{"IdResult":500,' +
									'"serviceType":"Delivery"' + ',' +
									+ '"Error":"No se actualizaron los datos"}' 
									FOR XML PATH(''), TYPE
									).value('.', 'varchar(max)'),1,1,'') )
				select ('[' + @jsonResult +  ']') jsonResultError 
				ROLLBACK TRANSACTION;
			END

		END TRY
		BEGIN CATCH
			set @jsonResult =(
								SELECT STUFF(( 
								SELECT '{{"IdResult":500,' 
								+ '"Error":"'+ERROR_MESSAGE()+'"}' 
								FOR XML PATH(''), TYPE
								).value('.', 'varchar(max)'),1,1,'') )
			select ('[' + @jsonResult +  ']') jsonResultError 
			ROLLBACK TRANSACTION;
		END CATCH
	END
	ELSE
	BEGIN

		/* FLUJO PARA RECOLECCIONES - POR IMPLEMENTAR */

		-- Si se esta modificando un punto de visita

		DECLARE @VisitPointID INT = -1;

		SELECT
			@VisitPointExists = 1
			,@IsVisitPoint = 1
			,@VisitPointID = VPC.CodeOfReference
		FROM
			[DeliveryBackOffice].[dbo].[VisitPointClient] VPC WITH(NOLOCK)
		WHERE
			VPC.VisitPointToken = @GuideToken COLLATE Latin1_General_CI_AI

		IF(@IsVisitPoint = 1 AND @VisitPointExists = 1)
		BEGIN

			BEGIN TRANSACTION
			BEGIN TRY

				UPDATE
					[DeliveryBackOffice].[dbo].[VisitPointClient]
				SET
					Latitude = @Latitude
					,Longitude = @Longitude
				WHERE
					CodeOfReference = @VisitPointID
					AND
					GETDATE() <= VisitPointTokenExpiration

				IF @@ROWCOUNT > 0
				BEGIN
					SET @UpdatedVPC = 1
				END

				IF (@@TRANCOUNT > 0 AND @UpdatedVPC = 1)
				BEGIN
					COMMIT TRANSACTION;
					set @jsonResult =(
										SELECT STUFF(( 
										SELECT ',{"IdResult":200,' +
										'"serviceType":"Visitpoint"' + ',' +
										+ '"Success":"Exito ingresando datos de entrega."}' 
										FOR XML PATH(''), TYPE
										).value('.', 'varchar(max)'),1,1,'') )
					select ('[' + @jsonResult +  ']') jsonResult 
				END
				ELSE
				BEGIN
					set @jsonResult =(
										SELECT STUFF(( 
										SELECT '{{"IdResult":500,' +
										'"serviceType":"Visitpoint"' + ',' +
										+ '"Error":"No se actualizaron los datos"}' 
										FOR XML PATH(''), TYPE
										).value('.', 'varchar(max)'),1,1,'') )
					select ('[' + @jsonResult +  ']') jsonResultError 
					ROLLBACK TRANSACTION;
				END
				
			END TRY
			BEGIN CATCH
				set @jsonResult =(
									SELECT STUFF(( 
									SELECT '{{"IdResult":500,' 
									+ '"Error":"'+ERROR_MESSAGE()+'"}' 
									FOR XML PATH(''), TYPE
									).value('.', 'varchar(max)'),1,1,'') )
				select ('[' + @jsonResult +  ']') jsonResultError 
				ROLLBACK TRANSACTION;
			END CATCH

		END

	END
END