USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sps_ChangeToCollectGuide]    Script Date: 3/15/2022 12:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sps_ChangeToCollectGuide]
 @GuideSerie						varchar(2) = 'FD'
,@GuideNumber						int = 0
,@isCollect							bit = 0
AS 
BEGIN

	update DeliveryBackOffice.[dbo].[DeliveryOrder] 
	set IsCollect = @isCollect 
	where Guide_Number = @GuideNumber and Guide_Serie = @GuideSerie;
	select 1;
END
GO
