USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_tipoCustomer]    Script Date: 3/15/2022 12:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_get_tipoCustomer]

@IdCustomer int
AS

BEGIN

	SELECT Name, TipoCustomer FROM CustomerParser
			WHERE IdCustomer = @IdCustomer

END  
GO
