USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GenerateClosureOperador]    Script Date: 3/15/2022 12:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*EXEC GenerateClosure
@VisitPointId = 4246
,@UserId = 6846
,@TokenCreated ='SYS-BHERRERA'
,@ClosurerPOS = '12345'
,@Voucher1 = 'DV123'
,@Bag1 = 'DA123'
,@Voucher2 = null
,@Bag2 = null
,@TotalAmountCODCash = 0
,@TotalAmountCODCredit = 0
,@TotalAmountCashDeclared = 1562
,@TotalAmountCreditDeclared = 0

SELECT * FROM DeliveryBackOffice.dbo.AccountingClosuresHeader
SELECT * FROM DeliveryBackOffice.dbo.AccountingClosuresDetail
DELETE DeliveryBackOffice.dbo.AccountingClosuresDetail
DELETE DeliveryBackOffice.dbo.AccountingClosuresHeader*/

CREATE PROCEDURE [dbo].[GenerateClosureOperador]
    @VisitPointId INT = 4246,
    @UserId INT,
    @TokenCreated NVARCHAR(50),
    @ClosurerPOS NVARCHAR(50),
    @Voucher1 NVARCHAR(50),
    @Bag1 NVARCHAR(50),
    @Voucher2 NVARCHAR(50) = NULL,
    @Bag2 NVARCHAR(50) = NULL,
    @TotalAmountCODCash DECIMAL(18, 5),
    @TotalAmountCODCredit DECIMAL(18, 5),
    @TotalAmountCashDeclared DECIMAL(18, 5),
    @TotalAmountCreditDeclared DECIMAL(18, 5)
AS
BEGIN

    DECLARE @TotalCash DECIMAL(18, 5);
    DECLARE @TotalCard DECIMAL(18, 5);
    DECLARE @CountCash INT;
    DECLARE @Countcard INT;
    DECLARE @UserId2 INT;

    IF OBJECT_ID('tempdb.dbo.#TempClosureDetail', 'U') IS NOT NULL
        DROP TABLE #TempClosureDetail;

    SET @UserId2 =
    (
        SELECT TOP 1
               vp.RegisterUserID
        FROM [dbo].RegisterUser usr
            LEFT JOIN [dbo].[RolByUserByAccount] rua
                ON rua.RuaIdUser = usr.UsrIdUser
                   AND rua.RuaRowStatus = 1
            INNER JOIN [dbo].Account ac
                ON ac.AccIdAccount = rua.RuaIdAccount
                   AND ac.AccRowStatus = 1
            INNER JOIN VisitPointByUser vp
                ON vp.RegisterUserID = usr.UsrIdUser
        WHERE ac.AccIdAccount = @UserId
    );


    DECLARE @TEMPLATEDETAIL TABLE
    (
        guideserie NVARCHAR(MAX),
        guidenumber BIGINT,
        header BIGINT
    );

    INSERT INTO @TEMPLATEDETAIL
    (
        guideserie,
        guidenumber,
        header
    )
    SELECT IND.dti_fk_orderSerie,
           IND.dti_fk_orderNumber,
           MAX(IND.dti_fk_header) 'dti_fk_header'
    FROM DeliveryBackOffice.dbo.DeliveryOrderPaymentTransaction DOPT
        LEFT JOIN DeliveryBackOffice.dbo.invoiceDetail IND
            ON IND.dti_fk_orderSerie = DOPT.GuideSerie
               AND IND.dti_fk_orderNumber = DOPT.GuideNumber
    WHERE CAST(DOPT.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
    GROUP BY IND.dti_fk_orderSerie,
             IND.dti_fk_orderNumber;


    --Consultar data
    SELECT DOR.Guide_Serie,
           DOR.Guide_Number,
		   DOPD.Fel
    INTO #TempClosureDetail
    FROM dbo.DeliveryOrder DOR
        JOIN DeliveryBackOffice.dbo.VisitPointClient VPC
            ON DOR.Sender_ID = VPC.CodeOfReference
        LEFT JOIN @TEMPLATEDETAIL IND
            ON IND.guideserie = DOR.Guide_Serie
               AND IND.guidenumber = DOR.Guide_Number
        LEFT JOIN DeliveryBackOffice.dbo.invoiceHeader INH
            ON INH.inv_pk_id = IND.header
        JOIN DeliveryBackOffice.dbo.StatusOrder STO
            ON STO.StatusOrderId = DOR.StatusOrderId
        LEFT JOIN DeliveryBackOffice.dbo.DeliveryOrderPaymentTransaction DOPD
            ON DOPD.guideserie = DOR.Guide_Serie
               AND DOPD.guidenumber = DOR.Guide_Number
               AND DOPD.ShipmentCompleted = 1
			   AND DOR.StatusOrderId != 7
    WHERE CAST(DOPD.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
          AND DOPD.AccountId = @UserId
          AND NOT EXISTS
    (
        SELECT 1
        FROM DeliveryBackOffice.dbo.AccountingClosuresDetail ACD
        WHERE ACD.GuideSerie = DOR.Guide_Serie
              AND ACD.GuideNumber = DOR.Guide_Number
              AND ACD.RowStatus = 1
    )
	UNION ALL
	SELECT DOPD.GuideSerie, DOPD.GuideNumber, DOPD.Fel
    FROM  DeliveryBackOffice.dbo.DeliveryOrderPaymentTransaction DOPD
         
        JOIN CatTypeServiceClosure CTS
            ON CTS.IdTypeService = DOPD.TypeServiceId
        LEFT JOIN DeliveryBackOffice.dbo.ctgTypeOfInOutOfMoney ctgmon
            ON ctgmon.tio_pk_id = DOPD.TypeofInOutMoneyId
		JOIN invoiceHeader INH  ON INH.inv_numberFEL = (SELECT item FROM dbo.SplitUnlimited(DOPD.Fel, '-') WHERE id = 2)
        
    WHERE CAST(DOPD.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
          AND DOPD.AccountId = @UserId
          AND DOPD.GuideSerie is null
		  AND NOT EXISTS
		  (
			SELECT 1
			FROM DeliveryBackOffice.dbo.AccountingClosuresDetail ACD
			WHERE ACD.Fel =(SELECT item FROM dbo.SplitUnlimited(DOPD.Fel, '-') WHERE id = 2)
				  AND ACD.RowStatus = 1
		  )

    SELECT @TotalCash = ISNULL(SUM(S1.TotalCash), 0),
           @CountCash = ISNULL(SUM(S1.CountCash), 0),
           @TotalCard = ISNULL(SUM(S1.TotalCard), 0),
           @Countcard = ISNULL(SUM(S1.CountCard), 0)
    FROM
    (
        SELECT CASE
                   WHEN DOPD.TypeofInOutMoneyId = 1 THEN
                       SUM(DOPD.amount)
                   ELSE
                       0
               END 'TotalCash',
               CASE
                   WHEN DOPD.TypeofInOutMoneyId = 1 THEN
                       COUNT(DOPD.TypeofInOutMoneyId)
                   ELSE
                       0
               END 'CountCash',
               CASE
                   WHEN DOPD.TypeofInOutMoneyId = 6 OR DOPD.TypeofInOutMoneyId = 2 THEN
                       SUM(DOPD.amount)
                   ELSE
                       0
               END 'TotalCard',
               CASE
                   WHEN DOPD.TypeofInOutMoneyId = 6 OR DOPD.TypeofInOutMoneyId = 2 THEN
                       COUNT(DOPD.TypeofInOutMoneyId)
                   ELSE
                       0
               END 'CountCard'
        FROM dbo.DeliveryOrder DOR
            JOIN DeliveryBackOffice.dbo.VisitPointClient VPC
                ON DOR.Sender_ID = VPC.CodeOfReference
            LEFT JOIN @TEMPLATEDETAIL IND
                ON IND.guideserie = DOR.Guide_Serie
                   AND IND.guidenumber = DOR.Guide_Number
            LEFT JOIN DeliveryBackOffice.dbo.invoiceHeader INH
                ON INH.inv_pk_id = IND.header
            JOIN DeliveryBackOffice.dbo.StatusOrder STO
                ON STO.StatusOrderId = DOR.StatusOrderId
            LEFT JOIN DeliveryBackOffice.dbo.DeliveryOrderPaymentTransaction DOPD
                ON DOPD.guideserie = DOR.Guide_Serie
                   AND DOPD.guidenumber = DOR.Guide_Number
                   AND DOPD.ShipmentCompleted = 1
				   AND DOR.StatusOrderId != 7
        WHERE CAST(DOPD.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
              AND DOPD.AccountId = @UserId
              AND NOT EXISTS
        (
            SELECT 1
            FROM DeliveryBackOffice.dbo.AccountingClosuresDetail ACD
            WHERE ACD.GuideSerie = DOR.Guide_Serie
                  AND ACD.GuideNumber = DOR.Guide_Number
                  AND ACD.RowStatus = 1
        )
        GROUP BY DOPD.TypeofInOutMoneyId

		UNION ALL

			SELECT CASE
                   WHEN DOPD.TypeofInOutMoneyId = 1 THEN
                       SUM(DOPD.amount)
                   ELSE
                       0
               END 'TotalCash',
               CASE
                   WHEN DOPD.TypeofInOutMoneyId = 1 THEN
                       COUNT(DOPD.TypeofInOutMoneyId)
                   ELSE
                       0
               END 'CountCash',
               CASE
                   WHEN DOPD.TypeofInOutMoneyId = 6 OR DOPD.TypeofInOutMoneyId = 2 THEN
                       SUM(DOPD.amount)
                   ELSE
                       0
               END 'TotalCard',
               CASE
                   WHEN DOPD.TypeofInOutMoneyId = 6 OR DOPD.TypeofInOutMoneyId = 2 THEN
                       COUNT(DOPD.TypeofInOutMoneyId)
                   ELSE
                       0
               END 'CountCard'
			FROM  DeliveryBackOffice.dbo.DeliveryOrderPaymentTransaction DOPD
         
        JOIN CatTypeServiceClosure CTS
            ON CTS.IdTypeService = DOPD.TypeServiceId
        LEFT JOIN DeliveryBackOffice.dbo.ctgTypeOfInOutOfMoney ctgmon
            ON ctgmon.tio_pk_id = DOPD.TypeofInOutMoneyId
        
    WHERE CAST(DOPD.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
          AND DOPD.AccountId = @UserId
          AND DOPD.GuideSerie is null
		  AND NOT EXISTS
		  (
			SELECT 1
			FROM DeliveryBackOffice.dbo.AccountingClosuresDetail ACD
			WHERE ACD.Fel =(SELECT item FROM dbo.SplitUnlimited(DOPD.Fel, '-') WHERE id = 2)
				  AND ACD.RowStatus = 1
		  )
		  GROUP BY DOPD.TypeofInOutMoneyId, DOPD.amount, AccountId
    ) S1;

    DECLARE @HeaderClosures INT = 0;

    BEGIN TRANSACTION;
    BEGIN TRY
        IF ((@TotalCash + @TotalCard) >= 0) --Si existen datos para cierre
        BEGIN
		PRINT 'INSERTA HEADER';
            --Insertar encabezado
            INSERT INTO DeliveryBackOffice.dbo.AccountingClosuresHeader
            (
                UserId,
                ClosurerPOS,
                TotalAmountCash,
                TotalAmountCashDeclared,
                TotalAmountCredit,
                TotalAmountCreditDeclared,
                InvoiceAmountCash,
                InvoiceAmountCredit,
                VisitPoint,
                Voucher1,
                Bag1,
                Voucher2,
                Bag2,
                RowStatus,
                TokenCreated,
                DateCreated,
                TokenUpdated,
                DateUpdated,
                TotalAmountCODCash,
                TotalAmountCODCredit
            )
            VALUES
            (@UserId2, @ClosurerPOS, @TotalCash, @TotalAmountCashDeclared, @TotalCard, @TotalAmountCreditDeclared,
             @CountCash, @Countcard, @VisitPointId, @Voucher1, @Bag1, @Voucher2, @Bag2, 1, @TokenCreated, GETDATE(),
             NULL, NULL, @TotalAmountCODCash, @TotalAmountCODCredit);
            PRINT 'INSERTA ENCABEZADO';
            SET @HeaderClosures = SCOPE_IDENTITY();
            PRINT @HeaderClosures;
            --Insertar detalle
            INSERT INTO DeliveryBackOffice.dbo.AccountingClosuresDetail
            (
                AccountingClosuresHeaderId,
                GuideSerie,
                GuideNumber,
                RowStatus,
                TokenCreated,
                DateCreated,
                TokenUpdated,
                DateUpdated,
				Fel
            )
            SELECT @HeaderClosures,
                   Guide_Serie,
                   Guide_Number,
                   1,
                   @TokenCreated,
                   GETDATE(),
                   NULL,
                   NULL,
				   (SELECT item FROM dbo.SplitUnlimited(Fel, '-') WHERE id = 2)
            FROM #TempClosureDetail;

            SELECT 200 IdResult,
                   'Cierre generado exitosamente' Message,
                   Value 'URL',
                   @HeaderClosures 'IdCierre'
            FROM ConfigParams
            WHERE Name = 'ClosureExpressCenter';

			select * from #TempClosureDetail;
        END;
        ELSE
        BEGIN
            SELECT 500 IdResult,
                   'No existen datos para generar cierre' Message;
        END;

    END TRY
    BEGIN CATCH
	    PRINT 'ROLLBACK SE HIZO';
        ROLLBACK TRANSACTION;

    END CATCH;
    IF @@TRANCOUNT > 0
    BEGIN
        COMMIT TRANSACTION;
    END;


END;
GO
