USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetTrackingQueue]    Script Date: 3/15/2022 12:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[GetTrackingQueue] AS
BEGIN
SELECT [WebhookTrackingQueueId]
      ,[Guide_Serie]
      ,[Guide_Number]
      ,[IdCustomer]
      ,[Status]
      ,[WebhookEndpointId]
      ,[HasNotified]
      ,[ChangedDate]
  FROM [DeliveryBackOffice].[dbo].[WebhookTrackingQueue]
  WHERE HasNotified = 0
END
GO
