USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_customer]    Script Date: 3/15/2022 12:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

      
Create PROCEDURE [dbo].[sp_get_customer]
@IdCliente AS int
AS

declare @Customer int
BEGIN

	set @Customer = (select CustomerID FROM VisitPointClient
	WHERE CodeOfReference = @IdCliente)

	Select IdCustomer, Name, RegexEmail, RegexFilename, Abbreviation from Customer
	       where IdCustomer = @Customer


END
GO
