USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_getRoutesByType]    Script Date: 3/13/2022 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      <Sazo,Cesar>
-- Create date: <2021-12-22>
-- Description: <Obtiene las rutas por tipo, si se envia ALL se retornan todas>
-- =============================================

CREATE PROCEDURE [dbo].[sphd_getRoutesByType]
	@TypeRouteName VARCHAR(100)
AS	
BEGIN
	IF UPPER(@TypeRouteName) = 'ALL'
	BEGIN
		SELECT
			ctr.IdRoute
		   ,ctr.CodeRoute
		FROM [DeliveryBackOffice].[dbo].[CatRoute] ctr
		INNER JOIN [DeliveryBackOffice].[dbo].[CatTypeRoute] ctr1
		ON ctr.IdTypeRoute = ctr1.IdTypeRoute
		WHERE ctr.RowStatus = 1
		ORDER BY ctr.CodeRoute
	END
	ELSE
	BEGIN
		SELECT
			ctr.IdRoute
		   ,ctr.CodeRoute
		FROM [DeliveryBackOffice].[dbo].[CatRoute] ctr
		INNER JOIN [DeliveryBackOffice].[dbo].[CatTypeRoute] ctr1
		ON ctr.IdTypeRoute = ctr1.IdTypeRoute
		WHERE ctr.RowStatus = 1
		AND ctr1.Name = @TypeRouteName
		ORDER BY ctr.CodeRoute
	END
END
GO
