USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_set_AssigmentPilot]    Script Date: 3/15/2022 12:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Abner, Juarez>
-- Create date: <2020-02-15>
-- Description:	<Asigna una Piloto a un ruta>
-- =============================================
-- =============================================
-- Modified:		<Alberto, Ixchop>
-- Create date: <2022-01-27>
-- Description:	<Asigna una Piloto a un ruta>
-- =============================================
CREATE PROCEDURE [dbo].[spg_set_AssigmentPilot]
    @idRoute AS INT,
    @idCourrieMan AS INT,
    @idVehicle AS INT,
    @dateRoute AS DATE,
    @token AS VARCHAR(50),
    @dateCreated AS DATETIME,
    @confirm AS INT,
    @roteType AS NVARCHAR(MAX) = NULL
--roteType indica que tipo de ruta se desea asignar a un piloto
--RECOLECCION indica que se desea asignar un piloto a una ruta de recoleccion
AS
BEGIN
    DECLARE @idRouteAssigment INT;
    DECLARE @countCourrier INT = 0;
    DECLARE @countVehicle INT = 0;
    DECLARE @countRoutes INT = 0;
    DECLARE @IDRUTETYPE INT = NULL;
    SET @roteType = UPPER(@roteType);
    DECLARE @filterRoutes AS TABLE
    (
        id INT
    ); --Lista de rutas filtradas
    IF @roteType = 'RECOLECCION'
        SET @IDRUTETYPE =
    (
        SELECT IdTypeRoute
        FROM dbo.CatTypeRoute
        WHERE Name = 'Recolección'
              AND RowStatus = 1
    )   ;

    INSERT INTO @filterRoutes
    SELECT RA.IdRoute
    FROM dbo.RouteAssigment RA
        LEFT JOIN dbo.CatRoute CR
            ON RA.IdRoute = CR.IdRoute
    WHERE RA.DateOfRoute = @dateRoute
          AND
          (
              @IDRUTETYPE IS NULL
              OR CR.IdTypeRoute = @IDRUTETYPE
          )
          AND RA.DateOfRoute = @dateRoute
    GROUP BY RA.IdRoute;


    DECLARE @IdsRouteAssigmentCourrier AS TABLE
    (
        id INT,
        idcourier INT
    ); --Lista de courriers asignados en la fecha
    DECLARE @IdsRouteAssigmentVehicle AS TABLE
    (
        id INT,
        idvehicle INT
    ); --lista de vehiculos asignados en la fecha
    INSERT INTO @IdsRouteAssigmentCourrier
    SELECT IdRouteAssigment,
           IdCurrierMan
    FROM dbo.RouteAssigment RA
    WHERE RA.DateOfRoute = @dateRoute --AND RA.IdCurrierMan =@idCourrieMan
          AND (RA.IdRoute IN
               (
                   SELECT id FROM @filterRoutes
               )
              ); --FILTRANDO POR RUTAS 

    INSERT INTO @IdsRouteAssigmentVehicle
    SELECT IdRouteAssigment,
           IdVehicle
    FROM dbo.RouteAssigment RA
    WHERE RA.DateOfRoute = @dateRoute -- AND IdVehicle =@idVehicle
          AND (RA.IdRoute IN
               (
                   SELECT id FROM @filterRoutes
               )
              ); --FILTRANDO POR RUTAS;

    SET @countCourrier =
    (
        SELECT COUNT(*)
        FROM @IdsRouteAssigmentCourrier
        WHERE idcourier = @idCourrieMan
    );
    SET @countVehicle =
    (
        SELECT COUNT(*)
        FROM @IdsRouteAssigmentVehicle
        WHERE idvehicle = @idVehicle
    );
    SET @countRoutes =
    (
        SELECT COUNT(id)FROM @filterRoutes WHERE id = @idRoute
    );

    --SI EL NUMERO DE VECES QUE EL COURIER Y VEHICULO HAN SIDO ASIGNADOS ES 0
    IF @countCourrier = 0
       AND @countVehicle = 0
    BEGIN
        IF @countRoutes > 0 --SI LA RUTA YA HA SIDO ASIGNADO DURANTE EL DIA, ASIGNARLE UN PILOTO Y UN VEHICULO
        BEGIN
            SET @idRouteAssigment =
            (
                SELECT IdRouteAssigment
                FROM dbo.RouteAssigment RA
                WHERE RA.IdRoute = @idRoute
                      AND RA.DateOfRoute = @dateRoute
                      AND (RA.IdRoute IN
                           (
                               SELECT id FROM @filterRoutes
                           )
                          )
            );
            UPDATE [DeliveryBackOffice].[dbo].[RouteAssigment]
            SET IdCurrierMan = @idCourrieMan,
                IdVehicle = @idVehicle
            WHERE IdRouteAssigment = @idRouteAssigment;
            UPDATE [DeliveryBackOffice].[dbo].[ServiceManagement]
            SET IdPuCourrier = @idCourrieMan
            WHERE IdPuRouteAssigment = @idRouteAssigment;
        END;
        ELSE -- SI LA RUTA NO HA SIDO ASIGNADO DURANTE EL DIA
        BEGIN
            INSERT INTO [DeliveryBackOffice].[dbo].[RouteAssigment]
            (
                IdRoute,
                IdCurrierMan,
                IdVehicle,
                DateOfRoute,
                RowStatus,
                TokenCreated,
                DateCreated
            )
            VALUES
            (@idRoute, @idCourrieMan, @idVehicle, @dateRoute, 1, @token, GETDATE());
        END;
    END;
    --SI EL NUMERO DE COURIER O VEHICULO  ES DIFERENTE A 0, DEBE CONFIRMARSE LA REASIGNACION CON CONFIRM=1 
    ELSE IF @confirm = 1
    BEGIN
        --DESASIGANDO COURIERS
        UPDATE [DeliveryBackOffice].[dbo].[RouteAssigment]
        SET IdCurrierMan = NULL
        WHERE IdCurrierMan = @idCourrieMan
              AND (IdRouteAssigment IN
                   (
                       SELECT id FROM @IdsRouteAssigmentCourrier
                   )
                  );
        UPDATE [DeliveryBackOffice].[dbo].[ServiceManagement]
        SET IdPuCourrier = NULL
        WHERE IdPuRouteAssigment IN
              (
                  SELECT id FROM @IdsRouteAssigmentCourrier WHERE idcourier = @idCourrieMan
              );
        --DESASIGNANDO VEHICULOS
        UPDATE [DeliveryBackOffice].[dbo].[RouteAssigment]
        SET IdVehicle = NULL
        WHERE IdVehicle = @idVehicle
              AND DateOfRoute = @dateRoute
              AND (IdVehicle IN
                   (
                       SELECT idsra.idvehicle FROM @IdsRouteAssigmentVehicle idsra
                   )
                  );

        IF @countRoutes = 0 --SI LA RUTA NO HA SIDO ASIGNADO DURANTE EL DIA; CREAR EL REGISTRO
        BEGIN
            INSERT INTO [DeliveryBackOffice].[dbo].[RouteAssigment]
            (
                IdRoute,
                IdCurrierMan,
                IdVehicle,
                DateOfRoute,
                RowStatus,
                TokenCreated,
                DateCreated
            )
            VALUES
            (@idRoute, @idCourrieMan, @idVehicle, @dateRoute, 1, @token, GETDATE());
        END;
        ELSE
        BEGIN
            --ASIGNANDO COURIER Y VEHICULO
            UPDATE [DeliveryBackOffice].[dbo].[RouteAssigment]
            SET IdCurrierMan = @idCourrieMan,
                IdVehicle = @idVehicle
            WHERE DateOfRoute = @dateRoute
                  AND IdRoute = @idRoute
                  AND (IdRoute IN
                       (
                           SELECT id FROM @filterRoutes
                       )
                      );
            UPDATE [DeliveryBackOffice].[dbo].[ServiceManagement]
            SET IdPuCourrier = @idCourrieMan
            WHERE IdPuRouteAssigment IN
                  (
                      SELECT IdRouteAssigment
                      FROM dbo.RouteAssigment
                      WHERE IdRoute = @idRoute
                            AND (IdRoute IN
                                 (
                                     SELECT id FROM @filterRoutes
                                 )
                                )
                  );
        END;
    END;
    --REGRESANDO DATA SOBRE EL NUMERO DE VECES QUE EL COURIER HA ASIGNADO; Y EL NUMERO DE VECES QUE EL VEHICULO HA SIDO ASIGNADO
    SELECT @countCourrier AS countCourrier,
           @countVehicle AS CountVehicle;
END;
GO
