USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[get_WebhookEndpoint]    Script Date: 3/15/2022 12:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[get_WebhookEndpoint]
    @IdCustomer int,
    @IdEcommerce int
AS
    SET NOCOUNT ON
    SET XACT_ABORT ON

    BEGIN TRAN

    SELECT WebhookEndpointId, IdCustomer, URI, RowStatus, IdEcommerce, CreatedDate, WebhookTypeId
    FROM   dbo.WebhookEndpoint
	WHERE  IdCustomer = @IdCustomer AND IdEcommerce = @IdEcommerce AND RowStatus = 0;

    COMMIT
GO
