USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spget_all_express_center]    Script Date: 3/15/2022 12:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spget_all_express_center]
AS
BEGIN

DECLARE @StatusClient INT = 1;
DECLARE @CountryId VARCHAR(2) = 'GT';
DECLARE @IdKindOfVPClient INT = 1;

SELECT CodeOfReference, 
	   DescriptionOfClient
FROM DeliveryBackOffice.dbo.VisitPointClient
WHERE StatusClient = @StatusClient
AND CountryId = @CountryId
AND IdKindOfVPClient = @IdKindOfVPClient;

END

GO
