USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetDestinationLinehauls]    Script Date: 3/13/2022 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDestinationLinehauls]
@IdRoute AS INT 
AS
BEGIN

	SELECT ISNULL(hl_destino.HubAbbreviation ,'N/A') FROM CatLinehaul cl
	JOIN DeliveryBackOffice.dbo.HubLogistics hl_destino
			ON cl.IdHubDestination = hl_destino.IdHubLogistic
	WHERE cl.IdRoute = @IdRoute 

END


GO
