USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_GetTypeServiceManagment]    Script Date: 3/15/2022 12:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Alberto, Ixchop>
-- Create date: <2021-11-29>
-- Description:	<Devuelve el catalogo de los tipos de servicio>
-- =============================================
--
CREATE PROCEDURE [dbo].[sphd_GetTypeServiceManagment]
AS
BEGIN	
	select 
		 IdSubTypeServiceManagment Id,
		Name Name 
	from dbo.SubTypeServiceManagment
	where RowStatus='TRUE' and Name in ('Recolección','Entrega')
END
GO
