USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphw_GenerateFileByConceptCOD]    Script Date: 17/05/2022 4:42:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Jimenez,Marco>
-- Create date: <2021-12-07>
-- Description:	<Generar archivos según el concepto COD>
-- =============================================
--EXEC sphw_GenerateFileByConceptCOD 558,2
ALTER PROCEDURE [dbo].[sphw_GenerateFileByConceptCOD]
	-- Add the parameters for the stored procedure here
	 @Id INT
	,@ConceptId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @Excluded INT = 0
	DECLARE @EnabledRow INT = 1
	DECLARE @IdCountry NVARCHAR(2) = 'GT'
	DECLARE @CatBatchIdCollect AS INT = (SELECT
											IdCatBatch
										FROM CatBatch
										WHERE [CatName] = 'COLLECT'
										AND RowStatus = 1) --HW-110
	DECLARE @CatBatchIdRecolection AS INT = (SELECT
											IdCatBatch
										FROM CatBatch
										WHERE [CatName] = 'RECOLECCION'
										AND RowStatus = 1) --HW-110

	DECLARE @IdBank INT = 31

		 SELECT REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(cda.AccountNumber, ' ', ''), '-', ''), CHAR(1), ''), CHAR(2), ''), CHAR(3), ''), CHAR(9), ''), CHAR(10), ''), CHAR(13), '') 'CUENTA DEBITO',
			   RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(RTRIM(LTRIM(bd.AccountNumber)), CHAR(1), ''), CHAR(2), ''), CHAR(3), ''), CHAR(9), ''), CHAR(10), ''), CHAR(13), ''))) 'CUENTA CREDITO',
			   FORMAT(MAX(bd.CreditDate), 'dd/MM/yyyy') 'FECHA',
			   SUM(Amount) 'MONTO',
			   CASE 
			   WHEN @ConceptId = 3 THEN
			  MAX(CONCAT('COLLECT ',' Ref ',CAST(bd.CollectId AS varchar(10))))
			   WHEN @ConceptId = 4 THEN
			  MAX(CONCAT('RECOLECCION ',' Ref ',CAST(bd.RecolectionId AS VARCHAR(10))))
			   ELSE
			   MAX(CAST(bd.Reference AS VARCHAR(10)))
			   END 'REFERENCIA',
			   RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(RTRIM(LTRIM(bd.AccountName)), ',', ''), CHAR(1), ''), CHAR(2), ''), CHAR(3), ''), CHAR(9), ''), CHAR(10), ''), CHAR(13), ''))) 'BENEFICIARIO',
			   ctt.TransactionType 'TIPO DE TRANSACCION',
			   cc.NumISO 'MONEDA ACH',
			   db.ACHCode 'CODIGO BANCO ACH',
			   cat.Description 'TIPO DE CUENTA OTRO BANCO',
			   cco.Concept 'CONCEPTO',
			   Password 'CONTRASEÑA'
		FROM DeliveryBackOffice.dbo.BatchDetailCOD bd
		LEFT JOIN DeliveryBackOffice.dbo.CatDebitAccountCOD cda
			ON cda.IdCatDebitAccountCOD = bd.CatDebitAccountCODId
			AND cda.BankId = @IdBank
			AND cda.RowStatus = @EnabledRow
		LEFT JOIN DeliveryBackOffice.dbo.CatTransactionTypeCOD ctt
			ON ctt.IdCatTransactionTypeCOD = bd.CatTransactionTypeCODId
			AND ctt.BankId = @IdBank
			AND ctt.RowStatus = @EnabledRow
		LEFT JOIN DeliveryBackOffice.dbo.CatCurrencyCOD cc
			ON cc.IdCatCurrencyCOD = bd.CatCurrencyCODId
			AND cc.RowStatus = @EnabledRow
		LEFT JOIN DeliveryBackOffice.dbo.DeliveryBank db
			ON db.Id_bank = bd.BankId
			AND db.Id_status = @EnabledRow
			AND db.Id_country = @IdCountry
		LEFT JOIN DeliveryBackOffice.dbo.CatAccountTypeCOD cat
			ON cat.IdCatAccountTypeCOD = bd.CatAccountTypeCODId
			AND cat.RowStatus = @EnabledRow
		LEFT JOIN DeliveryBackOffice.dbo.CatConceptCOD cco
			ON cco.IdCatConceptCOD = bd.CatConceptCODId
			AND cco.RowStatus = @EnabledRow
		INNER JOIN DeliveryBackOffice.dbo.ProcessedGuideBatch PGB
		ON PGB.GuideSerie = bd.GuideSerie AND PGB.GuideNumber = bd.GuideNumber AND PGB.RowStatus = 1
		AND PGB.CatBatchId = ( CASE
                   WHEN @ConceptId = 3 THEN
                      @CatBatchIdCollect
                   WHEN @ConceptId = 4 THEN
                       @CatBatchIdRecolection
               END)
		WHERE 	
		PGB.RowStatus  = 1 AND
		bd.Excluded = @Excluded
		AND bd.CatConceptCODId = @ConceptId
		AND (bd.CommissionId = @Id OR bd.CollectId = @Id OR bd.RecolectionId = @Id)
		GROUP BY cda.AccountNumber
		,bd.AccountNumber
		,bd.AccountName
		,ctt.TransactionType 
		,cc.NumISO 
		,db.ACHCode 
		,cat.Description 
		,cco.Concept
		,Password ;

				SELECT 
		       REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(cda.AccountNumber, ' ', ''), '-', ''), CHAR(1), ''), CHAR(2), ''), CHAR(3), ''), CHAR(9), ''), CHAR(10), ''), CHAR(13), '') 'CUENTA DEBITO',
			   RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(RTRIM(LTRIM(bd.AccountNumber)), CHAR(1), ''), CHAR(2), ''), CHAR(3), ''), CHAR(9), ''), CHAR(10), ''), CHAR(13), ''))) 'CUENTA CREDITO',
			   FORMAT(bd.CreditDate, 'dd/MM/yyyy') 'FECHA',
			   bd.Amount 'MONTO',
			  CASE 
			   WHEN @ConceptId = 3 THEN
			   CONCAT('COLLECT ', bd.GuideNumber,' Ref ',CAST(bd.CollectId AS VARCHAR(10)))
			   WHEN @ConceptId = 4 THEN
			   CONCAT('RECOLECCION ', bd.GuideNumber,' Ref ',CAST(bd.RecolectionId AS VARCHAR(10)))
			   ELSE
			   CAST(bd.Reference AS VARCHAR(10))
			   END 'REFERENCIA',
			   RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(RTRIM(LTRIM(bd.AccountName)), ',', ''), CHAR(1), ''), CHAR(2), ''), CHAR(3), ''), CHAR(9), ''), CHAR(10), ''), CHAR(13), ''))) 'BENEFICIARIO',
			   ctt.TransactionType 'TIPO DE TRANSACCION',
			   cc.NumISO 'MONEDA ACH',
			   db.ACHCode 'CODIGO BANCO ACH',
			   cat.Description 'TIPO DE CUENTA OTRO BANCO',
			   IIF(cco.IdCatConceptCOD = 1, cco.Concept, CONCAT(cco.Concept, ' ', bd.GuideSerie, bd.GuideNumber, ' Ref ', CAST(bd.BatchCODId AS VARCHAR(300)))) 'CONCEPTO',
			   bd.Password 'CONTRASEÑA',
			   CONCAT(bd.GuideSerie, bd.GuideNumber) 'GUIA',
			   @Id 'LOTE',
			   CONCAT(do.Sender_FirstName,' ',do.Sender_LastName) 'NOMBRE CLIENTE',
			   ISNULL(RTRIM(LTRIM(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(RTRIM(LTRIM(bdc.AccountName)), ',', ''), CHAR(1), ''), CHAR(2), ''), CHAR(3), ''), CHAR(9), ''), CHAR(10), ''), CHAR(13), ''))) ,'') 'NOMBRE CUENTA CLIENTE',
			   ISNULL(invh.inv_SAPDocEntry,0) 'DOCUMENTO EN SAP (DocEntry)',
			   ISNULL(invh.inv_serieFEL,'') 'SERIE FEL',
			   ISNULL(invh.inv_numberFEL,'') 'NÚMERO FEL',
			   ISNULL(invh.inv_certificationFEL,'') 'CERTIFIACDO FEL'
		FROM DeliveryBackOffice.dbo.BatchDetailCOD bd
		INNER JOIN DeliveryBackOffice.dbo.ProcessedGuideBatch PGB
		ON PGB.GuideSerie = bd.GuideSerie AND PGB.GuideNumber = bd.GuideNumber AND PGB.RowStatus = 1
		AND PGB.CatBatchId = ( CASE
                   WHEN @ConceptId = 3 THEN
                      @CatBatchIdCollect
                   WHEN @ConceptId = 4 THEN
                       @CatBatchIdRecolection
               END)
		LEFT JOIN DeliveryBackOffice.dbo.CatDebitAccountCOD cda
			ON cda.IdCatDebitAccountCOD = bd.CatDebitAccountCODId
			AND cda.BankId = @IdBank
			AND cda.RowStatus = @EnabledRow
		LEFT JOIN DeliveryBackOffice.dbo.CatTransactionTypeCOD ctt
			ON ctt.IdCatTransactionTypeCOD = bd.CatTransactionTypeCODId
			AND ctt.BankId = @IdBank
			AND ctt.RowStatus = @EnabledRow
		LEFT JOIN DeliveryBackOffice.dbo.CatCurrencyCOD cc
			ON cc.IdCatCurrencyCOD = bd.CatCurrencyCODId
			AND cc.RowStatus = @EnabledRow
		LEFT JOIN DeliveryBackOffice.dbo.DeliveryBank db
			ON db.Id_bank = bd.BankId
			AND db.Id_status = @EnabledRow
			AND db.Id_country = @IdCountry
		LEFT JOIN DeliveryBackOffice.dbo.CatAccountTypeCOD cat
			ON cat.IdCatAccountTypeCOD = bd.CatAccountTypeCODId
			AND cat.RowStatus = @EnabledRow
		LEFT JOIN DeliveryBackOffice.dbo.CatConceptCOD cco
			ON cco.IdCatConceptCOD = bd.CatConceptCODId
			AND cco.RowStatus = @EnabledRow
		LEFT JOIN  DeliveryBackOffice.dbo.DeliveryOrder do
			ON bd.GuideSerie = do.Guide_Serie AND bd.GuideNumber = do.Guide_Number
		LEFT JOIN DeliveryBackOffice.dbo.BatchDetailCOD bdc
		ON  bdc.GuideSerie = bd.GuideSerie AND bdc.GuideNumber = bd.GuideNumber AND bdc.BankId <> 31
		LEFT JOIN (
			SELECT 
			   MIN(fac.inv_SAPDocEntry) inv_SAPDocEntry,
			   MIN(fac.inv_serieFEL) inv_serieFEL,
			   MIN(fac.inv_numberFEL) inv_numberFEL,
			   MIN(fac.inv_certificationFEL) inv_certificationFEL,
			   invd.dti_fk_orderSerie dti_fk_orderSerie ,  
			   invd.dti_fk_orderNumber dti_fk_orderNumber
			
			FROM
			DeliveryBackOffice.dbo.invoiceDetail invd
			JOIN DeliveryBackOffice.dbo.invoiceHeader fac
				ON fac.inv_pk_id = invd.dti_fk_header AND fac.inv_descriptionFEL = 'PROCESO REALIZADO'
				AND fac.inv_invoiceOfCreditNote IS NOT NULL AND fac.inv_creditNote IS NULL
			GROUP BY invd.dti_fk_orderSerie, invd.dti_fk_orderNumber
		) invh ON invh.dti_fk_orderSerie = bd.GuideSerie and invh.dti_fk_orderNumber = bd.GuideNumber
		WHERE 
		PGB.RowStatus = 1
		AND
		--bd.BatchCODId = @BatchCODId
		--AND 
		bd.Excluded = @Excluded
		AND bd.CatConceptCODId = @ConceptId
		AND (bd.CommissionId = @Id OR bd.CollectId = @Id OR bd.RecolectionId = @Id)
		ORDER BY bd.CreditDate DESC;

		

	SET NOCOUNT OFF;
END


