USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SPG_InsertRolByUserByRegion]    Script Date: 3/13/2022 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[SPG_InsertRolByUserByRegion]
@IdRol int,
@IdUser varchar(50),
@UserName int

as
begin
insert into DenariusUser_Dev.dbo.LGN_RolByUserByRegion
values (@IdRol, @IdUser,'-1','GT', @UserName,'TRUE')
end
GO
