USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_getStations]    Script Date: 3/15/2022 12:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      <Sazo,Cesar>
-- Create date: <2021-12-06>
-- Description: <Obtener informacion para el mostrar los Hub, para eventualmente generar el Reporte Liquidaciones Última Milla>
-- =============================================

CREATE PROCEDURE [dbo].[sphd_getStations]

AS
BEGIN
	SELECT
		cs.IdStation
	   ,cs.StationName
	FROM DeliveryBackOffice.dbo.CatStation cs
	WHERE cs.RowStatus ='true' AND cs.StationType =1;
END
GO
