USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_visitPointClient]    Script Date: 3/15/2022 12:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_visitPointClient]
@IdCliente AS int
AS
BEGIN

	SELECT CodeOfReference, CustomerID, Address, Zone, Town, Department, Phone, FirstName, LastName FROM VisitPointClient
	WHERE CodeOfReference = @IdCliente

END
GO
