USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_ValidChange]    Script Date: 3/13/2022 1:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      <Sazo,Cesar>
-- Create date: <2021-10-19>
-- Description: <Obtiene los estados no validos para actualizar guias>
-- =============================================

CREATE PROCEDURE [dbo].[sphd_ValidChange]
    @statusOrderId INT,
    @InvalidUpdate INT
AS
BEGIN
    SELECT * 
    FROM DeliveryBackOffice.dbo.StatusOrderUpdate 
    WHERE StatusOrderId = @statusOrderId
    AND InvalidIdUpdate = @InvalidUpdate
END
GO
