USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetRoutes]    Script Date: 3/15/2022 12:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetRoutes]
@RouteChar AS NVARCHAR 
AS
BEGIN

	SELECT IdRoute IdRoute, CodeRoute  FROM CatRoute
	WHERE LEFT(UPPER(CodeRoute),1) = @RouteChar 

END


GO
