USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[getValidatorPDFSender_cod]    Script Date: 3/13/2022 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getValidatorPDFSender_cod]
AS
BEGIN
	IF (((select cast(cast(Value as varchar(2)) as int) 
	   from ConfigParams where Name = 'DebugValidateHour_COD' and Status = 1)) = 1)
	   BEGIN
		SELECT 'TRUE' AS Result
	   END
	   ELSE
	   BEGIN
			IF ((SELECT cast(cast(convert(time(0),getDate()) as varchar(2)) as int)) 
			   = (select cast(cast(Value as varchar(2)) as int) 
			   from ConfigParams where Name = 'ValidateHour_COD' and Status = 1)) 
				BEGIN
					SELECT 'TRUE' AS Result
				END
				ELSE
				BEGIN
					SELECT 'FALSE' as Result
				END

	   END
	
END
GO
