USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[SPS_InsertRestriction]    Script Date: 3/15/2022 12:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[SPS_InsertRestriction]
@IdUser nvarchar(50),
@UserName varchar(50),
@IdSystem int

as
begin
insert into DenariusUser_Dev.dbo.LGN_Restriction
values (@IdUser, @UserName, @IdSystem, 10,'ACTIVE',0,GETDATE(),NULL,NULL,NULL)
end
GO
