USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_getCatTypeSenderReceiver]    Script Date: 3/15/2022 12:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Ixchop,Alberto>
-- Create date: <2022-01-28>
-- Description:	<Obtiene el catalogo de tipos de piloto>
-- =============================================
CREATE PROCEDURE [dbo].[sphd_getCatTypeSenderReceiver]
AS
BEGIN
	SELECT 
		IdCatTypeSenderReceiver IdValue,
		TypeName NameValue
	FROM DBO.CatTypeSenderReceiver;
END
GO
