USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spws_Set_EndRecollectionCardtransaction]    Script Date: 3/15/2022 12:03:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spws_Set_EndRecollectionCardtransaction]
@Type as int = -1
,@System						as int			      	
,@CardNumber					as nvarchar(50)	  	  	
,@TypeCardNumber				as nvarchar(5)	      	
,@Currency						as int			      	
,@Ammount						as decimal(18,2)      	= NULL	
,@OrderNumber					as nvarchar(38)	  		= ''
,@Signature						as nvarchar(100)	  	=NULL	
,@CustomerReference				as int				  	
,@ReferenceNumber				as varchar(50)	      	= ''
,@ECIIndicator					as varchar(2)	      	= ''
,@Authenticationresult			as varchar(1)	      	= ''
,@TransactionStain				as varchar(50)	      	= ''
,@CAVV							as nvarchar(50)	  		= ''
,@ReasonCode					as nvarchar(50)	  		= NULL
,@ReasonDescription				as nvarchar(100)	  	= NULL
,@StatusSend					as int				  	= NULL
,@RowStatus						as bit				  	= 1
,@TokenCreated					as nvarchar(50)	  		= ''
,@DateCreated					as datetime		  		
,@TokenUpdated					as nvarchar(50)	  		= NULL
,@DateUpdated			 		as datetime		  		= NULL
AS
BEGIN
	DECLARE @IdTransaction BIGINT= 0
	IF	(@Type = 1)--OK
	BEGIN
	SELECT 
		@IdTransaction 	= isnull([IdTransaction],0)			
		FROM DeliveryBackOffice.dbo.CreditCardTransactionByCustomer WITH(NOLOCK)
		WHERE OrderNumber = @OrderNumber
	
		if (@IdTransaction > 0 ) 
		begin 
			update DeliveryBackOffice.dbo.CreditCardTransactionByCustomer
			 SET 
		--		[System]				= @System					
				CardNumber				= @CardNumber				
		,		TypeCardNumber			= @TypeCardNumber
		,		Ammount					= @Ammount	
		,		[Signature]				= @Signature				
		,		ReferenceNumber			= @ReferenceNumber		
		--,		ECIIndicator			= @ECIIndicator			
		--,		Authenticationresult	= @Authenticationresult	
		--,		TransactionStain		= @TransactionStain		
		--,		CAVV					= @CAVV					
		,		ReasonCode				= @ReasonCode				
		,		ReasonDescription		= @ReasonDescription		
		,		StatusSend				= @StatusSend				
		,		RowStatus				= @RowStatus				
		,		TokenUpdated			= @TokenUpdated			
		,		DateUpdated				= @DateUpdated
			 where IdTransaction = @IdTransaction
			 AND OrderNumber = @OrderNumber
			 And (StatusSend <> 1 or StatusSend is null)
		end 
		INSERT INTO DenariusLog_Dev.dbo.LOG_Http_Interceptor 
		([TypeOfUse], 
		[IdSystem], 
		[EntityObjectName], 
		[TransactionID], 
		[RQ_Method], 
		[RQ_Uri], 
		[RQ_Service], 
		[RQ_Header], 
		[RQ_Body], 
		[RQ_Object], 
		[RQ_Datetime], 
		[RQ_LauValue], 
		[RQ_Token], 
		[RQ_IdOrder], 
		[RS_Service], 
		[RS_StatusCode], 
		[RS_ReasonPhrase], 
		[RS_ReasonCode], 
		[RS_ReasonCodeMessage], 
		[RS_Header], 
		[RS_Body], 
		[RS_Object], 
		[RS_Datetime], 
		[RS_IdOrder], 
		[RS_LauValue], 
		[RS_Token])
		VALUES(
		'Push'																
		,@System  																
		,'DeliveryBackOffice.dbo.CreditCardTransaction' 					
		,@IdTransaction														
		,'SOAP'																
		,'https://ecm.firstatlanticcommerce.com/PGService/Services.svc'		
		,1 																	
		,null 																
		,null 																
		,null																
		,@DateCreated														
		,null																
		,null 																
		,@IdTransaction 																	
		,2 																	
		,0 																	
		,null 		 														
		,@ReasonCode 														
		,@ReasonDescription													
		,null 																
		,null 																
		, null 																
		,@DateCreated														
		,@OrderNumber														
		,null 																
		,@TokenUpdated														
		)
	END
	else IF (@Type = 2) --VISA O MASTERCARD inento sin completar 
	BEGIN 
	SELECT 
		@IdTransaction 	= isnull([IdTransaction],0)			
		FROM DeliveryBackOffice.dbo.CreditCardTransactionByCustomer WITH(NOLOCK)
		WHERE OrderNumber = @OrderNumber
	
		if (@IdTransaction > 0 ) 
		begin 
			update DeliveryBackOffice.dbo.CreditCardTransactionByCustomer
			 SET 
		--		[System]				= @System					
				CardNumber				= @CardNumber				
		,		TypeCardNumber			= @TypeCardNumber
		,		Ammount					= @Ammount	
		,		[Signature]				= @Signature				
		,		ReferenceNumber			= @ReferenceNumber		
		--,		ECIIndicator			= @ECIIndicator			
		,		Authenticationresult	= @Authenticationresult	
		,		TransactionStain		= @TransactionStain		
		--,		CAVV					= @CAVV					
		,		ReasonCode				= @ReasonCode				
		,		ReasonDescription		= @ReasonDescription		
		,		StatusSend				= @StatusSend				
		,		RowStatus				= @RowStatus				
		,		TokenUpdated			= @TokenUpdated			
		,		DateUpdated				= @DateUpdated
			 where IdTransaction = @IdTransaction
			 AND OrderNumber = @OrderNumber
			 And (StatusSend <> 1 or StatusSend is null)
		end 
		INSERT INTO DenariusLog_Dev.dbo.LOG_Http_Interceptor 
		([TypeOfUse], 
		[IdSystem], 
		[EntityObjectName], 
		[TransactionID], 
		[RQ_Method], 
		[RQ_Uri], 
		[RQ_Service], 
		[RQ_Header], 
		[RQ_Body], 
		[RQ_Object], 
		[RQ_Datetime], 
		[RQ_LauValue], 
		[RQ_Token], 
		[RQ_IdOrder], 
		[RS_Service], 
		[RS_StatusCode], 
		[RS_ReasonPhrase], 
		[RS_ReasonCode], 
		[RS_ReasonCodeMessage], 
		[RS_Header], 
		[RS_Body], 
		[RS_Object], 
		[RS_Datetime], 
		[RS_IdOrder], 
		[RS_LauValue], 
		[RS_Token])
		VALUES(
		'Push'																
		,@System  																
		,'DeliveryBackOffice.dbo.CreditCardTransaction' 					
		,@IdTransaction														
		,'SOAP'																
		,'https://ecm.firstatlanticcommerce.com/PGService/Services.svc'		
		,1 																	
		,null 																
		,null 																
		,null																
		,@DateCreated														
		,null																
		,null 																
		,@IdTransaction 																	
		,2 																	
		,0 																	
		,null 		 														
		,@ReasonCode 														
		,@ReasonDescription													
		,null 																
		,null 																
		, null 																
		,@DateCreated														
		,@OrderNumber														
		,null 																
		,@TokenUpdated														
		)
	END 
	else IF (@Type = 3) --VISA O MASTERCARD Completo 
	BEGIN 
	SELECT 
		@IdTransaction 	= isnull([IdTransaction],0)			
		FROM DeliveryBackOffice.dbo.CreditCardTransactionByCustomer WITH(NOLOCK)
		WHERE OrderNumber = @OrderNumber
	    select @IdTransaction as A,@StatusSend StatusSend, @ReasonCode nRS into TMP_TEST
		--if (@IdTransaction > 0 ) 
		--begin 
			update DeliveryBackOffice.dbo.CreditCardTransactionByCustomer
			 SET 
		--		[System]				= @System					
		--		CardNumber				= @CardNumber				
	--	,		TypeCardNumber			= @TypeCardNumber
		--		Ammount					= @Ammount	
				[Signature]				= @Signature				
		,		ReferenceNumber			= @ReferenceNumber		
		,		ECIIndicator			= @ECIIndicator			
		,		Authenticationresult	= @Authenticationresult	
		,		TransactionStain		= @TransactionStain		
		,		CAVV					= @CAVV					
		,		ReasonCode				= @ReasonCode				
		,		ReasonDescription		= @ReasonDescription		
		,		StatusSend				= @StatusSend				
		--,		RowStatus				= @RowStatus				
		--,		TokenUpdated			= @TokenUpdated			
		--,		DateUpdated				= @DateUpdated
			 where IdTransaction = @IdTransaction
			 --AND OrderNumber = @OrderNumber
			 And (StatusSend <> 1 /*or StatusSend is null*/)
		--end 
		INSERT INTO DenariusLog_Dev.dbo.LOG_Http_Interceptor 
		([TypeOfUse], 
		[IdSystem], 
		[EntityObjectName], 
		[TransactionID], 
		[RQ_Method], 
		[RQ_Uri], 
		[RQ_Service], 
		[RQ_Header], 
		[RQ_Body], 
		[RQ_Object], 
		[RQ_Datetime], 
		[RQ_LauValue], 
		[RQ_Token], 
		[RQ_IdOrder], 
		[RS_Service], 
		[RS_StatusCode], 
		[RS_ReasonPhrase], 
		[RS_ReasonCode], 
		[RS_ReasonCodeMessage], 
		[RS_Header], 
		[RS_Body], 
		[RS_Object], 
		[RS_Datetime], 
		[RS_IdOrder], 
		[RS_LauValue], 
		[RS_Token])
		VALUES(
		'Push'																
		,@System  																
		,'DeliveryBackOffice.dbo.CreditCardTransaction' 					
		,@IdTransaction														
		,'SOAP'																
		,'https://ecm.firstatlanticcommerce.com/PGService/Services.svc'		
		,1 																	
		,null 																
		,null 																
		,null																
		,@DateCreated														
		,null																
		,null 																
		,@IdTransaction 																	
		,2 																	
		,0 																	
		,null 		 														
		,@ReasonCode 														
		,@ReasonDescription													
		,null 																
		,null 																
		, null 																
		,@DateCreated														
		,@OrderNumber														
		,null 																
		,@TokenUpdated														
		)
	END 
	select 200 Code,'Success' Description
	
END

GO
