USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_get_TypeRate]    Script Date: 3/15/2022 12:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<César, Aquino>
-- Create date: <2021-04-19>
-- Description:	<Devuelve los tipos de tarifas que existen>
-- =============================================
 create PROCEDURE [dbo].[sphd_get_TypeRate]

AS
BEGIN
	select IdTypeRate AS Id, Name as Name
	from dbo.CatTypeRate
	where RowStatus = 'true'
END
GO
