USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[get_Province]    Script Date: 3/15/2022 12:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hugo, Gomez>
-- Create date: <2020-03-19>
-- Description:	<Retorna los tipos de una ruta>
-- =============================================
CREATE PROCEDURE [dbo].[get_Province]
AS
BEGIN

	select IdProvince, ProvinceName from Province
	where ProvinceStatus = 1




END
GO
