USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sphd_GetCatTypeAlerts]    Script Date: 3/15/2022 12:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Alberto, Ixchop>
-- Create date: <2021-11-29>
-- Description:	<Devuelve el catalogo de los tipos de alertas>
-- =============================================
--
CREATE PROCEDURE [dbo].[sphd_GetCatTypeAlerts]
AS
BEGIN		
	SELECT 
	CTA.IdCatTypeAlert as  id,
	CTA.AlertName as name
	FROM DBO.CatTypeAlert CTA
	where RowStatus='TRUE';
END
GO
