USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[get_CatVehicleCategories]    Script Date: 3/15/2022 12:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hugo, Gomez>
-- Create date: <2021-03-22>
-- Description:	<Retorna los tipos de una ruta>
-- =============================================
CREATE PROCEDURE [dbo].[get_CatVehicleCategories]
AS
BEGIN

	select IdCatVehicleCategories, Name, Length, Width,High,UnitType from CatVehicleCategories
	where RowStatus = 1




END
GO
