USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_set_Assigned]    Script Date: 3/13/2022 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Bidcar, Herrera>
-- Create date: <2020-05-27>
-- Description:	<Devuelve información para mostrar listado de guías seleccionadas>
-- =============================================
CREATE PROCEDURE [dbo].[spg_set_Assigned]
		@Token AS VARCHAR(50)    = 'ad1a2328ed27ea99622f68deae5d9976',
		@Rol AS BIGINT 			 =  1,
		@ListGuides AS VARCHAR(MAX) = '',
		@Route AS VARCHAR(100)
		-- @Courier AS VARCHAR(100),
		-- @DateAssigned AS VARCHAR(50)--dd/MM/yyyy
				
AS
BEGIN



select SUBSTRING(Item, 1,2) ItemSerie,SUBSTRING(Item,3,len(Item)) ItemNumber 
into #listGuides
from DenariusDesktop_Dev.dbo.SplitUnlimited(@ListGuides,',')

UPDATE
    Table_A
SET
    Table_A.Courier_Route = @Route,
	-- Table_A.Courier_Name = @Courier,
	-- Table_A.Dispatched_Date = CONVERT(DATETIME, @DateAssigned, 103) + ' '  + convert(varchar, getdate(), 114) ,
	Table_A.Dispatched_Token = @Token,
	Table_A.StatusOrderId = 3 --Fuera para entrega
FROM
    DeliveryBackOffice.dbo.DeliveryOrder AS Table_A
    INNER JOIN #listGuides AS Table_B
        ON Table_A.Guide_Serie = Table_B.ItemSerie 
		and Table_A.Guide_Number = Table_B.ItemNumber	

-- INSERTAR CHECKPOINT INICIAL EN TABLA HISTÓRICA
INSERT [DeliveryBackOffice].[dbo].[DeliveryOrderDetail] (
[Guide_Serie], 
[Guide_Number], 
[StatusOrderId], 
[UserCreated], 
[DateCreated], 
[DateCreatedInSystem]
)
SELECT 
	Table_A.Guide_Serie,
	Table_A.Guide_Number,
	3,
	@Token,
	GETDATE(),
	-- CONVERT(DATETIME, @DateAssigned, 103) + ' '  + convert(varchar, getdate(), 114),
	GETDATE()
FROM
    DeliveryBackOffice.dbo.DeliveryOrder Table_A
    INNER JOIN #listGuides AS Table_B
        ON Table_A.Guide_Serie  = Table_B.ItemSerie
		and Table_A.Guide_Number = Table_B.ItemNumber	

IF @@ROWCOUNT > 0
	SELECT 1 AS Result

END
GO
