USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[GetDataForClosure]    Script Date: 3/15/2022 12:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC GetDataForClosure

CREATE PROCEDURE [dbo].[GetDataForClosure]
@VisitPointId int = 4246,
@IdAccount int = 0
AS
BEGIN
DECLARE @TEMPLATEDETAIL TABLE (
 guideserie NVARCHAR(max),
 guidenumber BIGINT,
 header BIGINT
)

INSERT INTO @TEMPLATEDETAIL  (
	guideserie,
	guidenumber,
	header
)
   SELECT IND.dti_fk_orderSerie,
           IND.dti_fk_orderNumber,
           MAX(IND.dti_fk_header) 'dti_fk_header'
    FROM DeliveryBackOffice.dbo.DeliveryOrderPaymentTransaction DOPT
        LEFT JOIN DeliveryBackOffice.dbo.invoiceDetail IND
            ON IND.dti_fk_orderSerie = DOPT.GuideSerie
               AND IND.dti_fk_orderNumber = DOPT.GuideNumber
    WHERE CAST(DOPT.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
    GROUP BY IND.dti_fk_orderSerie,
             IND.dti_fk_orderNumber;

    SELECT DOPD.DateCreated 'DateCreatedTransaction', DOR.DateCreated 'DateCreated',
           DOR.Sender_FirstName + ' ' + DOR.Sender_LastName 'Client',
           INH.inv_certificationFEL 'CertificationFEL',
           INH.inv_serieFEL 'SerieFel',
           INH.inv_numberFEL 'NumberFel',
           INH.inv_SAPDocEntry 'DOCSAP',
           STO.OrderDescription 'Status',
           DOR.Guide_Serie + CONVERT(VARCHAR, DOR.Guide_Number) 'Guide',
           ISNULL(costd.Voucher, '') 'Voucher',
           ISNULL(DOPD.Amount, 0) 'PriceShippment',
           ISNULL(DOR.Collect_OnDelivery, 0) 'COD',
           ISNULL(DOPD.CODAmountProcess, 0) 'ProcessedCOD',
           CASE
               WHEN DOPD.TypeofInOutMoneyId = 1 THEN
                   ctgmon.tio_pk_name
               WHEN DOPD.TypeofInOutMoneyId = 2 THEN
                   ctgmon.tio_pk_name
               WHEN DOPD.TypeofInOutMoneyId = 3 THEN
                   ctgmon.tio_pk_name
               WHEN DOPD.TypeofInOutMoneyId = 4 THEN
                   ctgmon.tio_pk_name
               WHEN DOPD.TypeofInOutMoneyId = 6 THEN
                   'pago con tarjeta'
               WHEN DOPD.TypeofInOutMoneyId = 7 THEN
                   ctgmon.tio_pk_name
               WHEN DOPD.TypeofInOutMoneyId = 8 THEN
                   'credito'
               ELSE
                   ''
           END 'PaymentType',
           CTS.NameTypeService AS 'ServiceType'
    FROM dbo.DeliveryOrder DOR
        JOIN DeliveryBackOffice.dbo.VisitPointClient VPC
            ON DOR.Sender_ID = VPC.CodeOfReference
         LEFT JOIN @TEMPLATEDETAIL IND
            ON IND.guideserie = DOR.Guide_Serie
               AND IND.guidenumber = DOR.Guide_Number
        LEFT JOIN DeliveryBackOffice.dbo.invoiceHeader INH
            ON INH.inv_pk_id = IND.header
        JOIN DeliveryBackOffice.dbo.StatusOrder STO
            ON STO.StatusOrderId = DOR.StatusOrderId
        JOIN DeliveryBackOffice.dbo.DeliveryOrderPaymentTransaction DOPD
            ON DOPD.GuideSerie = DOR.Guide_Serie
               AND DOPD.GuideNumber = DOR.Guide_Number
               AND DOPD.ShipmentCompleted = 1
               AND DOPD.AccountId = @IdAccount
               AND DOPD.AccountId > 0
			   AND DOR.StatusOrderId != 7
        JOIN CatTypeServiceClosure CTS
            ON CTS.IdTypeService = DOPD.TypeServiceId
        LEFT JOIN DeliveryBackOffice.dbo.ctgTypeOfInOutOfMoney ctgmon
            ON ctgmon.tio_pk_id = DOPD.TypeofInOutMoneyId
        LEFT JOIN DeliveryBackOffice.dbo.Cost cost
            ON cost.ProductNumber = CONCAT(DOR.Guide_Serie, DOR.Guide_Number)
        LEFT JOIN DeliveryBackOffice.dbo.CostDetail costd
            ON costd.IdCost = cost.IdCost
               AND costd.Amount > 0
               AND
               (
                   DOPD.TypeofInOutMoneyId = 6
                   AND costd.Voucher != ''
               )
    WHERE CAST(DOPD.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
          AND DOPD.AccountId = @IdAccount
          AND NOT EXISTS
    (
        SELECT 1
        FROM DeliveryBackOffice.dbo.AccountingClosuresDetail ACD
        WHERE ACD.GuideSerie = DOR.Guide_Serie
              AND ACD.GuideNumber = DOR.Guide_Number
              AND ACD.RowStatus = 1
    )
   -- ORDER BY DOPD.DateCreated DESC;
	---------------------------------------------------------------------------------------------
	UNION ALL
	 SELECT DOPD.DateCreated 'DateCreatedTransaction', DOPD.DateCreated 'DateCreated',
           INH.inv_UserName 'Client',
           INH.inv_certificationFEL 'CertificationFEL',
           INH.inv_serieFEL 'SerieFel',
           INH.inv_numberFEL 'NumberFel',
           INH.inv_SAPDocEntry 'DOCSAP',
           Status='--',
           Guide='--',
           Voucher='',
           ISNULL(DOPD.Amount, 0) 'PriceShippment',
          COD=0,
           ISNULL(DOPD.CODAmountProcess, 0) 'ProcessedCOD',
           CASE
               WHEN DOPD.TypeofInOutMoneyId = 1 THEN
                   ctgmon.tio_pk_name
               WHEN DOPD.TypeofInOutMoneyId = 2 THEN
                   ctgmon.tio_pk_name
               WHEN DOPD.TypeofInOutMoneyId = 3 THEN
                   ctgmon.tio_pk_name
               WHEN DOPD.TypeofInOutMoneyId = 4 THEN
                   ctgmon.tio_pk_name
               WHEN DOPD.TypeofInOutMoneyId = 6 THEN
                   'pago con tarjeta'
               WHEN DOPD.TypeofInOutMoneyId = 7 THEN
                   ctgmon.tio_pk_name
               WHEN DOPD.TypeofInOutMoneyId = 8 THEN
                   'credito'
               ELSE
                   ''
           END 'PaymentType',
           CTS.NameTypeService AS 'ServiceType'
    FROM  DeliveryBackOffice.dbo.DeliveryOrderPaymentTransaction DOPD
         
        JOIN CatTypeServiceClosure CTS
            ON CTS.IdTypeService = DOPD.TypeServiceId
        LEFT JOIN DeliveryBackOffice.dbo.ctgTypeOfInOutOfMoney ctgmon
            ON ctgmon.tio_pk_id = DOPD.TypeofInOutMoneyId
		JOIN invoiceHeader INH  ON INH.inv_numberFEL = (SELECT item FROM dbo.SplitUnlimited(DOPD.Fel, '-') WHERE id = 2)
        
    WHERE CAST(DOPD.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
          AND DOPD.AccountId = @IdAccount
          AND DOPD.GuideSerie is null
	AND NOT EXISTS
    (
        SELECT 1
        FROM DeliveryBackOffice.dbo.AccountingClosuresDetail ACD
        WHERE ACD.Fel =(SELECT item FROM dbo.SplitUnlimited(DOPD.Fel, '-') WHERE id = 2)
              AND ACD.RowStatus = 1
    )
    ORDER BY DOPD.DateCreated DESC;
    DECLARE @TOTALAMOUNTCOD DECIMAL(18,2);
    DECLARE @TOTALCOD INT;

    SELECT @TOTALAMOUNTCOD = ISNULL(SUM(dpd.CODAmountProcess), 0),
           @TOTALCOD = COUNT(dpd.CODAmountProcess)
    FROM DeliveryBackOffice.dbo.DeliveryOrderPaymentTransaction dpd
        JOIN DeliveryBackOffice.dbo.DeliveryOrder DOR
            ON DOR.Guide_Number = dpd.GuideNumber
               AND DOR.Guide_Serie = dpd.GuideSerie
               AND dpd.CODAmountProcess > 0
			   AND DOR.StatusOrderId != 7
    WHERE CAST(dpd.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
          AND AccountId = @IdAccount
          AND NOT EXISTS
    (
        SELECT 1
        FROM DeliveryBackOffice.dbo.AccountingClosuresDetail ACD
        WHERE ACD.GuideSerie = DOR.Guide_Serie
              AND ACD.GuideNumber = DOR.Guide_Number
              AND ACD.RowStatus = 1
    );
    WITH ROWCTE (TotalCash, CountCash, TotalCard, CountCard, TotalCredit, CountCredit, IdAccount)
    AS (SELECT ISNULL(SUM(S1.TotalCash), 0) 'TotalCash',
               ISNULL(SUM(S1.CountCash), 0) 'CountCash',
               ISNULL(SUM(S1.TotalCard), 0) 'TotalCard',
               ISNULL(SUM(S1.CountCard), 0) 'CountCard',
               ISNULL(SUM(S1.TotalCredit), 0) 'TotalCredit',
               ISNULL(SUM(S1.CountCredit), 0) 'CountCredit',
               IdAccount
        FROM
        (
            SELECT CASE
                       WHEN DOPD.TypeofInOutMoneyId = 1 THEN
                           SUM(   CASE
                                      WHEN DOR.IsCollect = 1 THEN
                                          DOR.PriceShippment
                                      ELSE
                                          DOPD.amount
                                  END
                              )
                       ELSE
                           0
                   END 'TotalCash',
                   CASE
                       WHEN
                       (
                           DOPD.TypeofInOutMoneyId = 1
                           AND DOPD.amount != 0
                       ) THEN
                           COUNT(DOPD.TypeofInOutMoneyId)
                       ELSE
                           0
                   END 'CountCash',
                   CASE
                       WHEN DOPD.TypeofInOutMoneyId = 6 OR DOPD.TypeofInOutMoneyId = 2 THEN
                           SUM(   CASE
                                      WHEN DOR.IsCollect = 1 THEN
                                          DOR.PriceShippment
                                      ELSE
                                          DOPD.amount
                                  END
                              )
                       ELSE
                           0
                   END 'TotalCard',
                   CASE
                       WHEN
                       (
                           (DOPD.TypeofInOutMoneyId = 6  OR DOPD.TypeofInOutMoneyId = 2)
                           AND DOPD.amount != 0
                       ) THEN
                           COUNT(DOPD.TypeofInOutMoneyId)
                       ELSE
                           0
                   END 'CountCard',
                   CASE
                       WHEN DOPD.TypeofInOutMoneyId = 8 THEN
                           SUM(   CASE
                                      WHEN DOR.IsCollect = 1 THEN
                                          DOR.PriceShippment
                                      ELSE
                                          DOPD.amount
                                  END
                              )
                       ELSE
                           0
                   END 'TotalCredit',
                   CASE
                       WHEN DOPD.TypeofInOutMoneyId = 8 THEN
                           COUNT(DOPD.TypeofInOutMoneyId)
                       ELSE
                           0
                   END 'CountCredit',
                   DOPD.AccountId IdAccount
            FROM dbo.DeliveryOrder DOR
                JOIN DeliveryBackOffice.dbo.VisitPointClient VPC
                    ON DOR.Sender_ID = VPC.CodeOfReference
                LEFT JOIN @TEMPLATEDETAIL IND
					ON IND.guideserie = DOR.Guide_Serie
					AND IND.guidenumber = DOR.Guide_Number
				LEFT JOIN DeliveryBackOffice.dbo.invoiceHeader INH
					ON INH.inv_pk_id = IND.header
                JOIN DeliveryBackOffice.dbo.StatusOrder STO
                    ON STO.StatusOrderId = DOR.StatusOrderId
                JOIN DeliveryBackOffice.dbo.DeliveryOrderPaymentTransaction DOPD
                    ON DOPD.GuideSerie = DOR.Guide_Serie
                       AND DOPD.GuideNumber = DOR.Guide_Number
                       AND DOPD.ShipmentCompleted = 1
					   AND DOR.StatusOrderId != 7
            WHERE CAST(DOPD.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
                  AND DOPD.AccountId = @IdAccount
                  AND NOT EXISTS
            (
                SELECT 1
                FROM DeliveryBackOffice.dbo.AccountingClosuresDetail ACD
                WHERE ACD.GuideSerie = DOR.Guide_Serie
                      AND ACD.GuideNumber = DOR.Guide_Number
                      AND ACD.RowStatus = 1
            )
            GROUP BY DOPD.TypeofInOutMoneyId,
                     DOPD.amount,
                     AccountId

			UNION ALL

			SELECT CASE
                       WHEN DOPD.TypeofInOutMoneyId = 1 THEN
                           SUM(DOPD.amount)
                       ELSE
                           0
                   END 'TotalCash',
                   CASE
                       WHEN
                       (
                           DOPD.TypeofInOutMoneyId = 1
                           AND DOPD.amount != 0
                       ) THEN
                           COUNT(DOPD.TypeofInOutMoneyId)
                       ELSE
                           0
                   END 'CountCash',
                   CASE
                       WHEN DOPD.TypeofInOutMoneyId = 6 OR DOPD.TypeofInOutMoneyId = 2 THEN
                           SUM(DOPD.amount)
                       ELSE
                           0
                   END 'TotalCard',
                   CASE
                       WHEN
                       (
                           (DOPD.TypeofInOutMoneyId = 6 OR DOPD.TypeofInOutMoneyId = 2)
                           AND DOPD.amount != 0
                       ) THEN
                           COUNT(DOPD.TypeofInOutMoneyId)
                       ELSE
                           0
                   END 'CountCard',
                   CASE
                       WHEN DOPD.TypeofInOutMoneyId = 8 THEN
                           SUM(DOPD.amount)
                       ELSE
                           0
                   END 'TotalCredit',
                   CASE
                       WHEN DOPD.TypeofInOutMoneyId = 8 THEN
                           COUNT(DOPD.TypeofInOutMoneyId)
                       ELSE
                           0
                   END 'CountCredit',
                   DOPD.AccountId IdAccount
			FROM  DeliveryBackOffice.dbo.DeliveryOrderPaymentTransaction DOPD
         
        JOIN CatTypeServiceClosure CTS
            ON CTS.IdTypeService = DOPD.TypeServiceId
        LEFT JOIN DeliveryBackOffice.dbo.ctgTypeOfInOutOfMoney ctgmon
            ON ctgmon.tio_pk_id = DOPD.TypeofInOutMoneyId
        
    WHERE CAST(DOPD.DateCreated AS DATE) = CAST(GETDATE() AS DATE)
          AND DOPD.AccountId = @IdAccount
          AND DOPD.GuideSerie is null
		  AND NOT EXISTS
		  (
			SELECT 1
			FROM DeliveryBackOffice.dbo.AccountingClosuresDetail ACD
			WHERE ACD.Fel =(SELECT item FROM dbo.SplitUnlimited(DOPD.Fel, '-') WHERE id = 2)
            AND ACD.RowStatus = 1
          )
		  GROUP BY DOPD.TypeofInOutMoneyId,
                     DOPD.amount,
                     AccountId

        ) S1
        GROUP BY IdAccount)
    SELECT *,
           @TOTALAMOUNTCOD 'TotalAmountCOD',
           @TOTALCOD 'TotalCOD'
    FROM ROWCTE;


END;
GO
