USE [DeliveryBackOffice]

go

/****** Object:  StoredProcedure [dbo].[SPRequestCouponData]    Script Date: 5/26/2022 19:12:30 ******/
SET ansi_nulls ON

go

SET quoted_identifier ON

go

-- =============================================
-- Author:		<Author,,Edelman Vásquez>
-- Create date: <Create Date,26/05/2022>
-- Description:	<Description,Método para pre redimir cupón>
-- =============================================
CREATE PROCEDURE [dbo].[SPRequestCouponData]
  -- Add the parameters for the stored procedure here
  @CouponSerie               NVARCHAR(20),
  @SystemOrigin              INT,
  @CustomerId                INT,
  @VisitPointClient          INT,
  @VisitPointClientPortfolio INT,
  @GuideSerie                NVARCHAR(2),
  @GuideNumber               INT,
  @Token                     VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET nocount ON;
	  
	-- Variables de respuesta
	DECLARE @JsonResponse NVARCHAR(MAX) = '';
	DECLARE @JsonBreakdown NVARCHAR(MAX) = '';

	DECLARE @CouponData AS TABLE
	(
		couponserie          NVARCHAR(20),
		couponfinaldate      DATETIME,
		couponpromoid        INT,
		couponvaluetipeid    INT,
		coupondiscounttypeid INT,
		couponvalue          INT
	)

	-- Variables de control de flujo
	DECLARE @ClientType INT
	DECLARE @ClientId INT

	-- Variables de retorno
	DECLARE @OldAmount DECIMAL(14, 2)
	DECLARE @DiscountAmount DECIMAL(14, 2)
	DECLARE @NewAmount DECIMAL(14, 2)

	DECLARE @ValueTipeName VARCHAR(20)
	DECLARE @TypeDiscountName VARCHAR(20)
	DECLARE @PromoValue INT

	-- Validar Cliente - Esto se podrá usar cuando sea necesario validar que el cupon no se pueda transferir
	SELECT 
		@ClientId = Ac.idcustomer,
		@ClientType = Cu.idcustomertype
	FROM 
		dbo.account Ac WITH (nolock)
		INNER JOIN 
			dbo.customer Cu WITH (nolock)
			ON 
				Ac.idcustomer = Cu.idcustomer
	WHERE  
		Ac.accidaccount = @CustomerId

	BEGIN TRY
		-- Validación de cupón
		IF ( Rtrim(Ltrim(Isnull(@CouponSerie, ''))) <> '' )
		BEGIN

			-- Obtener datos del cupon
			INSERT INTO 
				@CouponData
				(couponserie, couponfinaldate, couponpromoid, couponvaluetipeid, coupondiscounttypeid, couponvalue)
			SELECT 
				PC.PromoCouponSerie,
				PC.FinalActiveDate,
				PC.CatPromoId,
				PC.CatValueTypeId,
				PC.CatDiscountTypeId,
				PC.CouponValue
			FROM
				dbo.promocoupon PC WITH (nolock)
			WHERE
				PC.redeemeddate IS NULL
				AND PC.promocouponserie = @CouponSerie
				AND PC.finalactivedate >= Getdate()
				AND PC.rowstatus = 1

			--Validar que hay datos
			IF( EXISTS(SELECT TOP 1 1 FROM @CouponData) )
			BEGIN
			
				-- Identificador de Cost, esto va a servir para obtener el BreakdownOfPayment de la guía
				DECLARE @CostId INT = 0;
				SET @CostId = ISNULL(
					(
						SELECT 
							TOP 1
								Co.idcost
						FROM
							[DeliveryBackOffice].[dbo].[cost] Co WITH(NOLOCK)
						WHERE 
							Co.productnumber = Concat(@GuideSerie, @GuideNumber) COLLATE latin1_general_CI_AI
							AND 
							Co.idproduct = 1
							AND 
							Co.rowstatus = 1
					)
				, 0)

				-- Valor original de la guía
				SET @OldAmount = (
					SELECT  
						DO.priceshippment
					FROM
						dbo.deliveryorder DO WITH(NOLOCK)
					WHERE  
						DO.guide_number = @GuideNumber
						AND 
						DO.guide_serie = @GuideSerie
				)

				-- Valor del descuento a generar
				SET @DiscountAmount = (
					SELECT
						CASE
							WHEN CVT.ValueTypeName = 'Porcentaje' COLLATE Latin1_General_CI_AI THEN 
								CASE
									WHEN CTD.ShortName = 'TOT' THEN
										ROUND(((@OldAmount * CD.couponvalue) / 100), 1)
									ELSE 0
								END
							WHEN CVT.ValueTypeName = 'Monto' COLLATE Latin1_General_CI_AI THEN 
								CASE
									WHEN CTD.ShortName = 'TOT' THEN
										CASE
											WHEN CD.couponvalue > @OldAmount THEN
												@OldAmount
											ELSE
												@OldAmount - CD.couponvalue
										END
									ELSE 0
								END
							WHEN CVT.ValueTypeName = 'Servicio' COLLATE Latin1_General_CI_AI THEN 
								CASE
									WHEN CTD.ShortName = 'TOT' THEN
										@OldAmount
									ELSE 0
								END
							ELSE 0
						END
					FROM
						@CouponData CD
						INNER JOIN
							[DeliveryBackOffice].[dbo].[CatTypeDiscount] CTD WITH(NOLOCK)
							ON
								CD.coupondiscounttypeid = CTD.IdCatTypeDiscount
						INNER JOIN
							[DeliveryBackOffice].[dbo].[CatValueType] CVT WITH(NOLOCK)
							ON
								CD.couponvaluetipeid = CVT.IdCatValueType
				)

				-- Obtener datos de Promoción
				DECLARE @PromoName NVARCHAR(200) = '';
				SET @PromoName = ISNULL(
					(
					SELECT 
						TOP 1 
							CP.promodescription
					FROM
						[DeliveryBackOffice].[dbo].[catpromo] CP WITH(NOLOCK)
						INNER JOIN @CouponData CD
						ON 
							CP.idpromo = CD.couponpromoid
					WHERE  
						CP.rowstatus = 1
					)
				, '')

				IF(@OldAmount > 0 AND @DiscountAmount IS NOT NULL AND @CostId > 0 AND @PromoName != '')
				BEGIN

					-- Valor nuevo de la guía
					SET @NewAmount = @OldAmount - @DiscountAmount;

					-- Nuevo BreakdownOfPayment temporal
					DECLARE @TempBreakdown AS TABLE (
						RowNumber INT,
						Description NVARCHAR(200),
						Amount DECIMAL(5,2)
					);

					INSERT INTO 
						@TempBreakdown
						(RowNumber, Description, Amount)
					SELECT
						ROW_NUMBER() OVER(ORDER BY BOP.Description)
						,BOP.Description
						,BOP.Amount
					FROM
						[DeliveryBackOffice].[dbo].[BreakdownOfPayment] BOP WITH(NOLOCK)
					WHERE
						BOP.Amount > 0
						AND
						BOP.IdCost = @CostId
						AND
						BOP.RowStatus = 1

					INSERT INTO
						@TempBreakdown
						(RowNumber, Description, Amount)
					VALUES
						(0, @PromoName, -@DiscountAmount)

					SET @JsonBreakdown =  
					( 
						SELECT STUFF(( 
								SELECT 
									',{' + 
										'"RowNumber":' + CAST(TB.RowNumber AS NVARCHAR) + ',' +
										'"IdCost":' + CAST(@CostId AS NVARCHAR) + ',' +
										'"Description":"' + TB.Description + '",' +
										'"Amount":' + CAST(TB.Amount AS NVARCHAR) + ',' +
										'"ModIdModule":0' + ',' +
										'"RowStatus":true' + ',' +
										'"TokenCreated":null' +
									'}'
								FROM
									@TempBreakdown TB
							FOR XML PATH(''), TYPE 
						) 
						.value('.', 'varchar(max)'),1,1,'' 
						)
					) 

					IF(@JsonBreakdown IS NOT NULL)
					BEGIN

						SET @JsonResponse =  
						( 
							SELECT STUFF(( 
								SELECT 
									',{' + 
										'"idResult":200' + ',' +
										'"newAmount":' + CAST(@NewAmount AS NVARCHAR) + ',' +
										'"UpdateBreackdown":[' + @JsonBreakdown + ']' + 
									'}'
								FOR XML PATH(''), TYPE 
							) 
							.value('.', 'varchar(max)'),1,1,'' 
							)
						) 

					END

				END
				ELSE
				BEGIN

					SET @JsonResponse =  
					( 
						SELECT STUFF(( 
							SELECT 
								',{' + 
									'"IdResult":407' + ',' +
									'"Message":"Cupon no es valido, por favor verifique su información"' + ',' +
									'"Coupon": { } ' +
								'}'
							FOR XML PATH(''), TYPE 
						) 
						.value('.', 'varchar(max)'),1,1,'' 
						)
					) 

				END
			
			END
			ELSE
			BEGIN

				DECLARE @IsCouponRedeemed BIT = 0;
				DECLARE @IsCouponNOTUsable BIT = 0;

				SET @IsCouponRedeemed = ISNULL((
					SELECT
						TOP 1
							1
					FROM
						[DeliveryBackOffice].[dbo].[PromoCoupon] PC WITH(NOLOCK)
					WHERE
						PC.PromoCouponSerie = @CouponSerie
						AND
						PC.RedeemedDate IS NOT NULL
						AND
						PC.RowStatus = 1
				),0)

				SET @IsCouponNOTUsable = ISNULL((
					SELECT
						TOP 1
							1
					FROM
						[DeliveryBackOffice].[dbo].[PromoCoupon] PC WITH(NOLOCK)
					WHERE
						GETDATE() >= PC.FinalActiveDate
						AND
						PC.RedeemedDate IS NULL
						AND
						PC.RowStatus = 1
				),0)

				IF(@IsCouponRedeemed = 1)
				BEGIN

					SET @JsonResponse =  
					( 
						SELECT STUFF(( 
							SELECT 
								',{' + 
									'"IdResult":408' + ',' +
									'"Message":"Cupon no es valido, ya fue canjeado anteriormente."' + ',' +
									'"Coupon": { } ' +
								'}'
							FOR XML PATH(''), TYPE 
						) 
						.value('.', 'varchar(max)'),1,1,'' 
						)
					) 

				END
				ELSE IF(@IsCouponNOTUsable = 1)
				BEGIN

					SET @JsonResponse =  
					( 
						SELECT STUFF(( 
							SELECT 
								',{' + 
									'"IdResult":401' + ',' +
									'"Message":"Cupon ya no esta vigente."' + ',' +
									'"Coupon": { } ' +
								'}'
							FOR XML PATH(''), TYPE 
						) 
						.value('.', 'varchar(max)'),1,1,'' 
						)
					) 

				END
				ELSE
				BEGIN

					SET @JsonResponse =  
					( 
						SELECT STUFF(( 
							SELECT 
								',{' + 
									'"IdResult":407' + ',' +
									'"Message":"Cupon no es valido, por favor verifique su información"' + ',' +
									'"Coupon": { } ' +
								'}'
							FOR XML PATH(''), TYPE 
						) 
						.value('.', 'varchar(max)'),1,1,'' 
						)
					) 

				END

			END
		END
		ELSE
		BEGIN
			-- Flujo para otro manejo de cupones que no sea por identificador del cupon
			-- En este caso: 26/05/2022 es un error que no se envie cupon
			
			SET @JsonResponse =  
			( 
				SELECT STUFF(( 
					SELECT 
						',{' + 
							'"IdResult":407' + ',' +
							'"Message":"Cupon no es valido, por favor verifique su información"' + ',' +
							'"Coupon": { } ' +
						'}'
					FOR XML PATH(''), TYPE 
				) 
				.value('.', 'varchar(max)'),1,1,'' 
				)
			) 

		END

		IF(@JsonResponse IS NULL)
		BEGIN
			
			SET @JsonResponse =  
			( 
				SELECT STUFF(( 
					SELECT 
						',{' + 
							'"IdResult":407' + ',' +
							'"Message":"Cupon no es valido, por favor verifique su información"' + ',' +
							'"Coupon": { } ' +
						'}'
					FOR XML PATH(''), TYPE 
				) 
				.value('.', 'varchar(max)'),1,1,'' 
				)
			) 

		END

		SELECT ('[' + @JsonResponse +  ']') JsonOutput 

	END TRY

	BEGIN CATCH

		SET @JsonResponse =  
		( 
			SELECT STUFF(( 
				SELECT 
					',{' + 
						'"IdResult":401' + ',' +
						'"Message":"Cupon no esta vigente"' + ',' +
						'"messageError":"' + ERROR_MESSAGE() + '"' + ',' +
						'"Coupon": { } ' +
					'}'
				FOR XML PATH(''), TYPE 
			) 
			.value('.', 'varchar(max)'),1,1,'' 
			)
		) 
			 
		select ('[' + @JsonResponse +  ']') JsonOutput 

		SELECT 0 [blnResult],
			Error_number()    AS [ErrorNumber],
			Error_severity()  AS [ErrorSeverity],
			Error_state()     AS [ErrorState],
			Error_procedure() AS [ErrorProcedure],
			Error_line()      AS [ErrorLine],
			Error_message()   AS [ErrorMessage];

	END CATCH;
END 
