USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_courier_information]    Script Date: 22/09/2020 3:55:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Cano,Carlos>
-- Create date: <30-07-2020>
-- Description:	<Devuelve toda la información de un courier>
-- =============================================
ALTER PROCEDURE [dbo].[spg_courier_information]
	-- Add the parameters for the stored procedure here
	@CUI NVARCHAR(25)
AS
BEGIN
	SELECT [ID]
      ,[First_Name]
      ,[Last_Name]
      ,[Address]
      ,[Zone]
      ,[Town]
      ,[Department]
      ,[Phone]
      ,[Social_Security_ID]
      ,[Email]
      ,[CUI]
      ,[Latitude]
      ,[Longitude]
      ,[Entity_Type]
	  ,[User_Created]
	  ,[Date_Created]
	  ,[Estatus]
  FROM [DeliveryBackOffice].[dbo].[SenderReceiver]
  WHERE CUI = @CUI
  AND Entity_Type = 3
END
