USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_IVE_InfWbSrvFELG4S_Delivery]    Script Date: 24/11/2020 10:51:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Luis Fernando Coti Itzep
-- Create date: 6 octubre 2020
-- Description:	Retorna credenciales de consumo web service FEL G4S
-- =============================================
ALTER PROCEDURE [dbo].[spg_IVE_InfWbSrvFELG4S_Delivery]
	@VpCodeOfReference as varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @country as varchar(2);

	select @country = CountryId
	from VisitPointClient
	where CodeOfReference = @VpCodeOfReference

	IF DenariusDesktop_Dev.dbo.bll_fnc_esProduccion() = 1 begin
		declare @establecimiento as varchar(15),
				@correoCCO as varchar(200)

		if @VpCodeOfReference = '4244' begin
				set @establecimiento = '2';
				set @correoCCO = 'express.xela@forzadelivery.com';
				end
		if @VpCodeOfReference = '4246' begin
			set @establecimiento = '3';
			set @correoCCO = 'express.coban@forzadelivery.com';
		end;
		if @VpCodeOfReference = '4247' begin
			set @establecimiento = '4';
			set @correoCCO = 'express.huehuetenango@forzadelivery.com';
		end;
		if @VpCodeOfReference = '4250' begin
			set @establecimiento = '5';
			set @correoCCO = 'express.z4@forzadelivery.com';
		end;
		if @VpCodeOfReference = '4261' begin
			set @establecimiento = '6';
			set @correoCCO = 'express.teculutan@forzadelivery.com';
		end;
		select
			'301767F2-BA4D-43A2-9131-E13C95857549' as 'Requestor',
			'SYSTEM_REQUEST' as 'Transaction',
			@country as 'Country',
			'86534599' 'Entity',--NIT
			'301767F2-BA4D-43A2-9131-E13C95857549' 'User',
			'ADMINISTRADOR' 'UserName',
			'POST_DOCUMENTGT' 'Data1',
			'XML' 'Data3',
			'no-reply@forzalatam.com' 'Correo',
			'Forza Delivery - Factura Electrónica' 'AsuntoCorreoFactura',
			'Forza Delivery - Nota de Crédito' 'AsuntoCorreoNotaCredito',
			@establecimiento 'Establecimiento',
			@correoCCO 'CorreoCCO',
			--SAP
			'' 'SAPServidorLicencias',
			'' 'SAPCompania',
			'' 'SAPUsuario',
			'' 'SAPContrasenia',
			'' 'SAPServidor',
			'' 'SAPUsuarioBD',
			'' 'SAPContraseniaBD',
			'' 'serieFacturaSAP',
			'' 'serieNCSAP',
			'' 'seriePagoSAP',
			'' 'cardCodeSAP',
			'' 'articuloSAP',
			'' 'vendorSAP',
			0 'creditCardSAP'
			end
	ELSE begin
		--select
		--'Forza Delivery Expres' 'Nombre',
		--'Ave Petapa 42.51 zona 12, Guatemala, Guatemala' 'Direccion',
		--'EEEB604D-D98B-4DF8-9683-8B01592550BE' as 'Requestor',
		--'SYSTEM_REQUEST' as 'Transaction',
		--'GT' as 'Country',
		--'82415218' 'Entity',--NIT
		--'EEEB604D-D98B-4DF8-9683-8B01592550BE' 'User',
		--'ADMINISTRADOR' 'UserName',
		--'POST_DOCUMENTGT' 'Data1',
		--'XML' 'Data3'
		declare @creditCardSAP as int

		if @VpCodeOfReference = '4244' begin
			set @creditCardSAP = 2
		end
		if @VpCodeOfReference = '4246' begin
			set @creditCardSAP = 3
		end;
		if @VpCodeOfReference = '4247' begin
			set @creditCardSAP = 4
		end;
		if @VpCodeOfReference = '4250' begin
			set @creditCardSAP = 5
		end;

		declare @compania as varchar(200),
		@serieFacturaSAP as varchar(5),
		@serieNCSAP as varchar(5),
		@seriePagoSAP as varchar(5),
		@cardCodeSAP as varchar(15) = 'CEC0001',
		@articuloSAP as varchar(150) = '409010101',
		@vendorSAP as varchar(5)
		if @country = 'GT' begin
			set @compania = 'ZZZ_DELIVERY_FORZA'
			set @serieFacturaSAP = '46'
			set @serieNCSAP = '47'
			set @seriePagoSAP = '50'
			set @vendorSAP = 1;
		end
		if @VpCodeOfReference = '4244' begin
			set @establecimiento = '2';
			set @correoCCO = 'express.xela@forzadelivery.com';
			set @cardCodeSAP = 'CEC0001';
			set @articuloSAP = '409010101';
		end
			select
				'0D9502F3-144F-4B41-AF42-D6118F3B49FE' as 'Requestor',
				'SYSTEM_REQUEST' as 'Transaction',
				'GT' as 'Country',
				'86534599' 'Entity',--NIT
				'0D9502F3-144F-4B41-AF42-D6118F3B49FE' 'User',
				'ADMINISTRADOR' 'UserName',
				'POST_DOCUMENTGT' 'Data1',
				'XML' 'Data3',
				'no-reply@forzalatam.com' 'Correo',
				'Forza Delivery - Factura Electrónica' 'AsuntoCorreoFactura',
				'Forza Delivery - Nota de Crédito' 'AsuntoCorreoNotaCredito',
				'1' 'Establecimiento',
				'luis.coti@forzalatam.com' 'CorreoCCO',
				--SAP
				'192.168.130.106' 'SAPServidorLicencias',
				@compania 'SAPCompania',
				'prdun05' 'SAPUsuario',
				'12345' 'SAPContrasenia',
				'192.168.130.107' 'SAPServidor',
				'lcoti' 'SAPUsuarioBD',
				'\bFy%5yT##x5%dq6' 'SAPContraseniaBD',
				@serieFacturaSAP 'serieFacturaSAP',
				@serieNCSAP 'serieNCSAP',
				@seriePagoSAP 'seriePagoSAP',
				@cardCodeSAP 'cardCodeSAP',
				@articuloSAP 'articuloSAP',
				@vendorSAP 'vendorSAP',
				@creditCardSAP 'creditCardSAP'
	end
END
