USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_get_deliveryorders_cod]    Script Date: 12/7/2020 11:14:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Stored Procedure

-- =============================================
-- Author:		<Edwin,Ramirez>
-- Create date: <2020-05-20>
-- Description:	<Devuelve ordenes de entrega por rango fecha>
-- =============================================
ALTER PROCEDURE [dbo].[spg_get_deliveryorders_cod]
	-- Add the parameters for the stored procedure here
		@Token AS VARCHAR(50)    = '078c6f38f79816bf9ad01d70181b3101', --'ad1a2328ed27ea99622f68deae5d9976', --Prod 
		@Rol AS BIGINT 			 =   874, ---Prod, --1864,  
		@VisitPointID AS BIGINT = -1, --146290,
		@BeginDate AS VARCHAR(50) = '11/09/2020',
		@EndDate AS VARCHAR(50)  = '18/09/2020',
		@IdDateOfType AS INT = 1  --1 PickUp 2 Delivery
AS
BEGIN
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @IdToken AS VARCHAR(50);
	DECLARE @IdRol AS BIGINT; 
	DECLARE @IdVisitPoint AS BIGINT;
	DECLARE @DateIni AS VARCHAR(50);
	DECLARE @DateFin AS VARCHAR(50);
	DECLARE @IdDateType AS INT;

		
DECLARE @TableDODetail AS TABLE 
		(Guide_Serie nvarchar(2) NOT NULL INDEX IX1 CLUSTERED,
		Guide_Number int NOT NULL INDEX IX2 NONCLUSTERED,
		StatusOrderId tinyint NOT NULL INDEX IX3 NONCLUSTERED,
		DateCreated datetime INDEX IX4 NONCLUSTERED
		);
 

SET @IdToken = @Token;
	SET @IdRol =  @Rol;
	SET @IdVisitPoint = @VisitPointID;
	SET @DateIni = @BeginDate;
	SET @DateFin = @EndDate;
	SET @IdDateType =  @IdDateOfType;


	SET DATEFORMAT dmy;
	DECLARE @IdSystem AS INT 

	SELECT @IdSystem = ROL.LGN_IdSystem FROM DenariusUser_Dev.DBO.LGN_Rol ROL WITH(NOLOCK) WHERE ROL.LGN_IdRol = @IdRol
	

	



	--select * from @TableDODetail;
	IF (
		SELECT COUNT(logtoken.SSN_IdToken) SSN_IdToken
		FROM DenariusUser_Dev.dbo.LGN_LogByToken logtoken WITH(NOLOCK)
		WHERE logtoken.SSN_IdToken = @IdToken 
		AND logtoken.SSN_IdSystem = @IdSystem 
		AND logtoken.SSN_TokenStatus = 1
	   ) > 0 
		BEGIN 
			if @IdDateType =1 
				BEGIN
	
					SELECT  
					CAST(serv.Sender_ID AS VARCHAR) + ' ' + 
					UPPER(COALESCE(serv.Sender_FirstName,'')) + ' '+ UPPER(COALESCE(serv.Sender_LastName,'')) [NameOfSender],
					UPPER(COALESCE(serv.Receiver_FirstName,'')) + ' ' + UPPER(COALESCE(serv.Receiver_LastName,'')) [NameOfReceiver],
					ISNULL(UPPER(NameOfReceiver),'') as [ReceiverName],
					CONVERT(varchar,serv.Preparation_Date,103) [PickUpDateTime],
					CONVERT(varchar,serv.Shipping_Date,103) [ScheduledDeliveryDate],
					ISNULL(CONVERT(varchar,(SELECT TOP 1 dod.DateCreated FROM DeliveryBackOffice.dbo.DeliveryOrderDetail dod WHERE dod.Guide_Number = serv.Guide_Number AND dod.StatusOrderId = 5 ),103),'') AS	[RealDeliveryDate],
					serv.Guide_Serie + Cast(serv.Guide_Number as varchar) [GuideNumber],
					(SELECT so.OrderDescription FROM DeliveryBackOffice.dbo.StatusOrder so WHERE so.StatusOrderId = serv.StatusOrderId) AS [OrderStatus],
					serv.Manifest_Serie + Cast(serv.Manifest_Number as varchar) [ManifestNumber],
					Collect_OnDelivery [CollectOnDelivery],
					ISNULL(Guide_Collected, 'FALSE') [GuideCollected],
					ISNULL(serv.Deposit_Number,'') [DepositCOD],
					ISNULL(CONVERT(VARCHAR(10), paidguide.DateCreated, 103) + ' '  + convert(VARCHAR(8), GETDATE(), 14),'') [FechaPagoCOD]
					--,CONVERT(varchar,tdod.DateCreated,103 ) as [fecha_deliverytmp]
					FROM DeliveryBackOffice.DBO.DeliveryOrder serv WITH (NOLOCK)
					JOIN [DeliveryBackOffice].[dbo].[VisitPointClient] vpclient WITH (NOLOCK)
						ON serv.Sender_ID = vpclient.CodeOfReference
					LEFT JOIN DeliveryBackOffice.DBO.DeliveryOrderPaid paidguide
						on  serv.Guide_Serie =paidguide.Guide_Serie
						and  serv.Guide_Number =paidguide.Guide_Number
						and serv.Deposit_Number =paidguide.Deposit_Number
						and paidguide.IdStatus = 'TRUE'				
						WHERE 
						(@IdVisitPoint = -1 or vpclient.VisitPointId = @IdVisitPoint)		
						AND CONVERT(DATE, serv.Preparation_Date) BETWEEN CONVERT(DATE, @DateIni) AND CONVERT(date,@DateFin) --PickUp			
						AND serv.StatusOrderId <> 7
						AND serv.Collect_OnDelivery > 0

					END
			ELSE
				BEGIN

					INSERT INTO @TableDODetail
						SELECT
						DOD.Guide_Serie, DOD.Guide_Number,
						DOD.StatusOrderId,MAX( dod.DateCreated) AS DateCreated
					FROM dbo.DELIVERYORDERDETAIL AS DOD
						WHERE DOD.StatusOrderId=5
						and dod.DateCreated between CONVERT(DATE, @DateIni) AND CONVERT(DATE, @DateFin)
						group by DOD.Guide_Serie, DOD.Guide_Number,
						DOD.StatusOrderId; 


						SELECT  --TOP 10			
						CAST(serv.Sender_ID AS VARCHAR) + ' ' + 
						UPPER(COALESCE(serv.Sender_FirstName,'')) + ' '+ UPPER(COALESCE(serv.Sender_LastName,'')) [NameOfSender],
						UPPER(COALESCE(serv.Receiver_FirstName,'')) + ' ' + UPPER(COALESCE(serv.Receiver_LastName,'')) [NameOfReceiver],
						ISNULL(UPPER(NameOfReceiver),'') as [ReceiverName],
						CONVERT(varchar,serv.Preparation_Date,103) [PickUpDateTime],
						CONVERT(varchar, serv.Shipping_Date,103) [ScheduledDeliveryDate],
						ISNULL(CONVERT(varchar,(SELECT TOP 1 dod.DateCreated FROM DeliveryBackOffice.dbo.DeliveryOrderDetail dod WHERE dod.Guide_Number = serv.Guide_Number AND dod.StatusOrderId = 5 ),103),'') AS	[RealDeliveryDate],
						serv.Guide_Serie + Cast(serv.Guide_Number as varchar) [GuideNumber],
						(SELECT so.OrderDescription FROM DeliveryBackOffice.dbo.StatusOrder so WHERE so.StatusOrderId = serv.StatusOrderId) AS [OrderStatus],
						serv.Manifest_Serie + Cast(serv.Manifest_Number as varchar) [ManifestNumber],
						Collect_OnDelivery [CollectOnDelivery],
						ISNULL(Guide_Collected, 'FALSE') [GuideCollected],
						ISNULL(serv.Deposit_Number,'') [DepositCOD],
						ISNULL(CONVERT(VARCHAR(10), paidguide.DateCreated, 103) + ' '  + convert(VARCHAR(8), GETDATE(), 14),'') [FechaPagoCOD]
						--,CONVERT(varchar,tdod.DateCreated,103 ) as [fecha_deliverytmp]
					FROM DeliveryBackOffice.DBO.DeliveryOrder serv WITH (NOLOCK)
					JOIN [DeliveryBackOffice].[dbo].[VisitPointClient] vpclient WITH (NOLOCK)
						ON serv.Sender_ID = vpclient.CodeOfReference
					LEFT JOIN DeliveryBackOffice.DBO.DeliveryOrderPaid paidguide
						on paidguide.Guide_Serie = serv.Guide_Serie
						and paidguide.Guide_Number = serv.Guide_Number
						and paidguide.Deposit_Number = serv.Deposit_Number
						and paidguide.IdStatus = 'TRUE'	
					right JOIN @TableDODetail tdod 
						on	serv.Guide_Number = TDOD.Guide_Number
						and serv.StatusOrderId = tdod.StatusOrderId
						and serv.Guide_Serie =tdod.Guide_Serie
						WHERE 		
							CONVERT(DATE,tdod.DateCreated) BETWEEN  CONVERT(DATE, @DateIni) AND CONVERT(DATE, @DateFin) 				
							 --PickUp
							AND (@IdVisitPoint = -1 or vpclient.VisitPointId = @IdVisitPoint)					
							AND serv.Collect_OnDelivery > 0
			
				delete from @TableDODetail;
				END
				
				--drop table @TableDODetail;
		
	END
	ELSE
	BEGIN
		SELECT   --NULL			    [Id],
				''					[NameOfSender],
				''					[NameOfReceiver], 
				''					[ReceiverName],
				''					[PickUpDateTime],
				''					[ScheduledDeliveryDate],
				''					[RealDeliveryDate],
				''					[GuideNumber],
				'INACTIVE TOKEN '	[OrderStatus],
				''					[ManifestNumber],
				''					[CollectOnDelivery],
				''					[GuideCollected],
				''					[DepositCOD],
				''					[FechaPagoCOD]
	END 




END
