USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_courier_dispatched_status]    Script Date: 14/08/2020 12:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		 <Cano,Carlos>
-- Create date:  <13/Agosto/2020>
-- Description:	 <Listado de afiliados y su status actual sobre entregas>
-- Modificado:   <López, Marcos>
-- Modified:     <14/Sepiembre/2020>
-- Description:  <Se agregó la columna del total de guías por usuario>
-- =============================================
ALTER PROCEDURE [dbo].[spg_courier_dispatched_status]
	@DispatchedDate DATETIME
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT
		SUBQ.ID_Courier,
		SUBQ.Courier_Name,
		SUBQ.Cantidad_Guias,
		COUNT(SUBQ.Courier_Name) AS Dispatched,
		SUM(CAST(SUBQ.Delivered AS INT)) AS Delivered,
		SUM(CAST(SUBQ.Verified AS INT)) AS Verified,
		(SUM(CAST(SUBQ.Verified AS INT))- SUM(CAST(SUBQ.Accepted AS INT))) AS Failed
	FROM
	(
		SELECT
			da.ID_Courier
			,sr.First_Name + ' ' + sr.Last_Name AS Courier_Name
			,cg.Cantidad_Guias
			,da.Delivered
			,ISNULL(da.Verified,0) AS Verified
			,ISNULL(da.Accepted,0) AS Accepted
			,CONVERT(VARCHAR,da.Date_Created,103) AS Date_Created
		FROM [DeliveryBackOffice].[dbo].[DeliveryAttempt] da
		JOIN [DeliveryBackOffice].[dbo].[SenderReceiver] sr ON sr.ID = da.ID_Courier
		JOIN (
			SELECT ID_Courier, SUM(contador) Cantidad_Guias FROM (
				SELECT dv.ID_Courier, CONCAT(dv.Guide_Serie, dv.Guide_Number) guia, (1) contador
				FROM [DeliveryBackOffice].[dbo].[DeliveryAttempt] dv
				WHERE CONVERT(VARCHAR, dv.Date_Created, 23) = CONVERT(VARCHAR, @DispatchedDate, 23)
				GROUP BY dv.ID_Courier, CONCAT(dv.Guide_Serie, Guide_Number)
			) temporal
			GROUP BY ID_Courier
		) cg ON da.ID_Courier = cg.ID_Courier
		WHERE CONVERT(VARCHAR, da.Date_Created, 23) = CONVERT(VARCHAR, @DispatchedDate, 23)
	) AS SUBQ
	GROUP BY SUBQ.ID_Courier, SUBQ.Courier_Name, SUBQ.Cantidad_Guias	
END