USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_pending_delivery_proof]    Script Date: 14/08/2020 08:06:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Carlos,,Cano>
-- Create date: <10 Agosto 2020>
-- Description:	<Lista todas las pruebas pendientes de validar para el día en curso>
-- =============================================
CREATE PROCEDURE [dbo].[spg_pending_delivery_proof]
	-- Add the parameters for the stored procedure here
	@IdCourier INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		SUBQ.Guide_Serie + CAST(SUBQ.Guide_Number AS VARCHAR) AS Guide,
		SUBQ.ID_Courier, 
		SUBQ.Fecha_Despacho, 
		SUBQ.ID_Proof,
		SUBQ.Receiver_Name,
		SUBQ.Status_Name,
		SUM(CAST(SUBQ.[Dry] AS INT)) AS Pieces_Dry,
		SUM(CAST(SUBQ.[Cold]AS INT)) AS Pieces_Cold
	FROM
		(
		SELECT 
			da.[Guide_Serie]
			,da.[Guide_Number]
			,[Dry]
			,[Cold]
			,[ID_Courier]
			,CONVERT(VARCHAR, [Date_Created], 103) AS Fecha_Despacho
			,[ID_Proof]
			,do.Receiver_FirstName + ' ' + do.Receiver_LastName AS Receiver_Name
			,so.OrderDescription AS Status_Name
		FROM [DeliveryBackOffice].[dbo].[DeliveryAttempt] da
		JOIN DeliveryBackOffice.dbo.DeliveryOrder do ON da.Guide_Serie = do.Guide_Serie AND da.Guide_Number = do.Guide_Number
		JOIN DeliveryBackOffice.dbo.StatusOrder so ON so.StatusOrderId = do.StatusOrderId
		WHERE Delivered = 1
		AND (Verified IS NULL OR Verified <> 1)
		AND CONVERT(VARCHAR, da.Date_Created, 23) = CONVERT(VARCHAR, GETDATE(), 23)
		AND da.ID_Courier = @IdCourier
		) AS SUBQ
	GROUP BY SUBQ.Guide_Serie, SUBQ.Guide_Number, SUBQ.ID_Courier, SUBQ.Fecha_Despacho, SUBQ.ID_Proof, SUBQ.Receiver_Name, SUBQ.Status_Name
END
