USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[spg_customer]    Script Date: 28/10/2020 12:09:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Cano, Carlos>
-- Create date: <2020-10-28>
-- Description:	<Devuelve la información general del cliente>
-- =============================================
CREATE PROCEDURE [dbo].[spg_customer]
	@IdCustomer INT
AS
BEGIN

  SELECT 
	  [IdCustomer]
      ,[Name]
      ,[RegexSubject]
      ,[RegexEmail]
      ,[RegexFilename]
	  ,ISNULL(COD,0) AS COD
  FROM [DeliveryBackOffice].[dbo].[Customer]
  WHERE IdCustomer = @IdCustomer

  SELECT 
      [IdVisitPointClient]
      ,[CodeOfReference] as Hermes_ID
      ,[DescriptionOfClient] as VisitPoint_Name
      ,[StatusClient]
      ,[CountryId]
      ,[VisitPointId] as Denarius_ID
      ,[CustomerID] as Customer_ID
      ,[Address]
      ,[Zone]
      ,[Town]
      ,[Department]
      ,[Phone]
  FROM [DeliveryBackOffice].[dbo].[VisitPointClient]
  WHERE CustomerID = @IdCustomer
  ORDER BY [DescriptionOfClient] ASC

END
