USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sps_set_status_order_by_guide]    Script Date: 14/06/2020 20:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Carlos, Cano>
-- Create date: <2020-06-10>
-- Description:	<Cambiar el estado de una lista de guías>
-- =============================================
ALTER PROCEDURE [dbo].[sps_set_status_order_by_guide]
		@Guide_Serie AS VARCHAR(2), -- same guide for all numbers provided
		@Guide_Number AS VARCHAR(MAX), -- a list of guides separated by comma
		@StatusId AS INT, -- status from StatusOrder
		@TokenId AS VARCHAR(50),
		@DateOfStatus DATETIME -- datetime of event
AS
BEGIN
	DECLARE @ValidateOperation BIGINT	
	DECLARE @ItemsTable AS TABLE (
		Guide_Number INT
	)

	BEGIN TRANSACTION

		BEGIN TRY
			
			-- Convertir la lista de guías separadas por coma en una tabla que permita adicionar columnas
			INSERT @ItemsTable
			SELECT CAST(Item AS INT) FROM DenariusDesktop_Dev.dbo.SplitUnlimited(@Guide_Number,',')

			-- Actualizar registro de guía a último estado 
			UPDATE DeliveryBackOffice.dbo.DeliveryOrder
			SET StatusOrderId = @StatusId
			WHERE Guide_Serie = @Guide_Serie AND Guide_Number IN (SELECT Item FROM DenariusDesktop_Dev.dbo.SplitUnlimited(@Guide_Number,','))
			
			-- Insertar nuevo estado de guía en tabla histórica
			INSERT INTO DeliveryBackOffice.dbo.DeliveryOrderDetail ([Guide_Serie], [Guide_Number], [StatusOrderId], [UserCreated], [DateCreated], [DateCreatedInSystem])
			SELECT @Guide_Serie, it.Guide_Number, @StatusId, @TokenId, @DateOfStatus, GETDATE() FROM @ItemsTable it

			SET @ValidateOperation = COALESCE(@@ROWCOUNT,0)

		END TRY

		BEGIN CATCH
			SELECT 
				0 AS 'StatusCode', 
				ERROR_MESSAGE() AS 'Description', 
				CONVERT(BIGINT, 0) AS 'NumTransferID'
			ROLLBACK TRANSACTION
		END CATCH;

		IF @@TRANCOUNT > 0
		BEGIN
			IF (@ValidateOperation > 0)
			BEGIN
				SELECT			  
					1 AS 'StatusCode',
					'Registros guardados correctamente' AS 'Description', 
					@ValidateOperation AS 'NumTransferID'

				SELECT TOP 10 Guide_Serie + CAST(Guide_Number as varchar) Guide,Ticket_Number Ticket, Receiver_FirstName + ' '+ Receiver_LastName Name, Courier_Route Route, convert(varchar, Dispatched_Date, 103) RouteDate 
				FROM DeliveryBackOffice.dbo.DeliveryOrder
				WHERE Guide_Serie = @Guide_Serie and Guide_Number = @Guide_Number
			END
			ELSE
			BEGIN
				SELECT 
					0 AS 'StatusCode',
					'El registro no existe' AS 'Description', 
					@ValidateOperation AS 'NumTransferID'
			END
			COMMIT TRANSACTION;			
		END
END
