USE [DeliveryBackOffice]
GO
/****** Object:  StoredProcedure [dbo].[sps_customer]    Script Date: 29/10/2020 09:11:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Cano, Carlos>
-- Create date: <2020-10-28>
-- Description:	<Crea / actualiza información de un cliente>
-- =============================================
ALTER PROCEDURE [dbo].[sps_customer]
	@Name NVARCHAR(100),
	@Email NVARCHAR(100),
	@COD BIT,
	@IdCustomer INT -- si es cero se hace update de los valores recibidos
AS
BEGIN
	DECLARE @Result_ID INT

	BEGIN TRANSACTION

		BEGIN TRY

			-- insertar nuevo cliente
			IF (@IdCustomer = 0)
			BEGIN
				INSERT INTO [DeliveryBackOffice].[dbo].[Customer]
				   ([Name]
				   ,[Description]
				   ,[Domain]
				   ,[RegexSubject]
				   ,[RegexEmail]
				   ,[RegexFilename]
				   ,[Abbreviation]
				   ,[COD])
				VALUES
				   (@Name
				   ,NULL
				   ,''
				   ,'^.*solicitud.*$'
				   ,@Email
				   ,'^envios_.*\.xls$'
				   ,''
				   ,@COD)

				SET @Result_ID = SCOPE_IDENTITY()
			END
			-- actualizar información de cliente existente
			ELSE
			BEGIN
				UPDATE [DeliveryBackOffice].[dbo].[Customer] 
				SET [Name] = @Name, RegexEmail = @Email, COD = @COD
				WHERE IdCustomer = @IdCustomer

				IF (@@ROWCOUNT > 0)
					SET @Result_ID = @IdCustomer
				ELSE
					SET @Result_ID = 0
			END

		END TRY

		BEGIN CATCH
			SELECT 
				0 AS 'StatusCode', 
				ERROR_MESSAGE() AS 'Description', 
				CONVERT(BIGINT, 0) AS 'NumTransferID',
				0 AS 'ID_Customer'
			ROLLBACK TRANSACTION
		END CATCH;

		IF @@TRANCOUNT > 0
		BEGIN
			IF (@Result_ID > 0)
				SELECT			  
					1 AS 'StatusCode',
					'Registro guardado correctamente' AS 'Description', 
					CONVERT(BIGINT, @@TRANCOUNT) AS 'NumTransferID',
					@Result_ID AS 'ID_Customer'
			ELSE
				SELECT			  
					0 AS 'StatusCode',
					'Registro no encontrado' AS 'Description', 
					CONVERT(BIGINT,0) AS 'NumTransferID',
					0 AS 'ID_Customer'

			COMMIT TRANSACTION;			
		END
		ELSE
			SELECT 
				0 AS 'StatusCode', 
				ERROR_MESSAGE() AS 'Description', 
				CONVERT(BIGINT, 0) AS 'NumTransferID',
				0 AS 'ID_Customer'
END
