USE [DeliveryBackOffice]
GO
CREATE PROCEDURE [dbo].[spws_get_GetDataResourceSecure]
	-- Add the parameters for the stored procedure here
	@CodApp as varchar(50) = ''	
AS
BEGIN
	select UserKey,SecretKey from DeliveryBackOffice.dbo.Ecommerce ECO
	JOIN DeliveryBackOffice.dbo.Customer CUS
	on ECO.IdCustomer = CUS.IdCustomer
	where UserKey = @CodApp 	
END
